﻿﻿<p class="notification--enhanced__text">OK Chris, your new price is <span class="bold" id="">&pound;454.05. The underwriter for your policy is <span id="">Zenith Insurance PLC</span>.</span></p>
<p class="notification--enhanced__text" id="savePremier">You could save <span class="bold" id="">&pound;30.49</span> / year, by upgrading to Premier cover giving you all the benefits of Standard cover plus</p>
<p class="notification--enhanced__text hide" id="extraPremier">For an extra <span class="bold" id="">&pound;28.00</span> / year you may want to consider our Premier cover giving you all the benefits of Standard cover plus</p>
<ul class="list--chosen">
    <li class="list__item">Guaranteed Replacement Car</li>
    <li class="list__item">Motor Legal Protection</li>
    <li class="list__item">Personal Breakdown cover</li>
</ul>
<small class="notification--enhanced__small">To see more details on premier cover</small>
<div class="button-wrapper notification--enhanced__button-wrapper">
    <a class="button button--inverted button--sm" href="#" role="button">Click here</a>
    <button class="button button--ghost button--sm">Dismiss</button>
</div>