// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Proximity Rules
$vs-section-padding: 80px !default; // Vertical spacing between sections (Desktop)
$vs-section-padding-mobile: 40px !default; // ^^ (Mobile)
$footer-header-margin: 40px !default; // F:Margin top, H:Margin bottom

// Fonts
$font-size-base: 16px !default;
$root-font-size: 16px !default;
$root-text-size: 100% !default;
$font-family-base: sans-serif !default;

// Spacing
$spacing-unit: 1rem !default;

// Screen sizes
$screen-sm: 320px !default; // Small devices (e.g. phones)
$screen-md: 640px !default; // Medium devices (e.g. tablets)
$screen-lg: 767px !default; // Desktop
$screen-xl: 1024px !default; // Larger desktops over 1024px

// Core Colours
$color-primary: #444444 !default;
$color-accent: #000000 !default;
$color-secondary: #999999 !default;
$color-tertiary: #949494 !default;
$color-foreground: #444444 !default;
$color-background: #ffffff !default;
$color-addon-error-background: $color-background !default;
$color-font: #4a4a4a !default;
$color-font--light: #6b6b6b !default;
$color-primary--light: #dfe9ff !default;
$color-primary--lighter: #f4f3f7 !default;
$color-primary--transparent: rgba($color-primary, 0.25);
$color-secondary--light: #e9f5fc !default;
$color-primary--dark: #000000 !default;
$color-white: #fff !default;
$white: #fff !default;

// Status Colours
$color-green: #418529 !default;
$color-red: #b30909 !default;
$color-yellow: #ffd209 !default;

// Greyscale
$color-grey: #dadada !default;
$color-grey--dark: #4a4a4a !default;
$color-grey--light: #e5e5e5 !default;
$color-grey--lighter: #f4f4f4 !default;

// Grey / text
$light-grey: #757575 !default;

// Brand colours
$primary: #006bad !default;
$green: #7dad27 !default;
$teal: #33807d !default;

// Key lines
$key-dark-grey: #1d1e20 !default;
$key-grey: #dadada !default;
$key-light-grey: #e5e5e5 !default;
$key-lighter-grey: #f4f4f4 !default;

// Support colours
$error: #b30909 !default;
$success: #418529 !default;
$warning: #ffd209 !default;

// Backgrounds
$bg-blue-grey: #f5f7fa !default;
$bg-light-grey: #f6f6f6 !default;
$bg-lighter-grey: #fafafa !default;

// Brand tints
$brand-80: transparentize($color-primary, 0.2) !default;
$brand-20: transparentize($color-primary, 0.8) !default;
$brand-5: transparentize($color-primary, 0.95) !default;
$primary-20: transparentize($primary, 0.8) !default;
$primary-10: transparentize($primary, 0.9) !default;

// Links -> Primary
$link-primary-hover: #148bdc !default;
$link-primary-inactive: #949494 !default;
$link-text-decoration: underline !default;
$link-text-decoration-color: #bce7fd !default;
$link-hover: #148bdc !default;
$link-active: #006eb3 !default;
$link-active-text-decoration-color: #006eb3 !default;

// Links -> Secondary
$link-secondary-pressed: #6859a3 !default;

// Anchor
$anchor-color-hover: #148BDC !default;

// Utilities
$text-brand-color: $color-primary !default;

// Gradients
$gradient-hero: linear-gradient(
  134.71deg,
  darken(saturate(adjust-hue($color-primary, 7), 16.73), 21.76) 0%,
  $color-primary 100%
) !default;
$gradient-secondary: linear-gradient(
  134.71deg,
  lighten(adjust-hue(#006bad, -3), 29.41) 0%,
  lighten(adjust-hue(#006bad, 2), 49.61) 100%
) !default;
$gradient-tour: linear-gradient(
  134.71deg,
  $primary 0%,
  lighten(desaturate(adjust-hue(#006bad, 26), 55.06), 17.65) 100%
) !default;
$gradient-error: linear-gradient(
  134.71deg,
  lighten(desaturate(#b30909, 2.62), 30.98) 0%,
  lighten(saturate(adjust-hue(#b30909, 20), 7.76), 41.57) 100%
) !default;

//divider
$divider-hr-background: #dadada !default;
$divider-short-background: $color-primary !default;
$divider-or-after-background: $color-grey--light !default;
$divider-or-after-color: $white !default;

// Headings
$headings-font-family: $font-family-base !default;
$headings-font-weight: bold !default;
$headings-line-height: 1.25 !default;
$headings-color: $color-primary !default;
$headings-margin-bottom: $spacing-unit !default;

$font-size-h1: $font-size-base * 2 !default;
$font-color-h1: $color-primary !default;

$font-size-h2: $font-size-base * 1.6 !default;
$font-color-h2: $color-primary !default;

$font-size-h3: $font-size-base * 1.4 !default;
$font-color-h3: $color-primary !default;

$font-size-h4: $font-size-base * 1.2 !default;
$font-color-h4: $color-primary !default;

$font-size-h5: $font-size-base * 1.1 !default;
$font-color-h5: $color-primary !default;

$font-size-h6: $font-size-base * 1 !default;
$font-color-h6: $color-primary !default;

$font-family-base: sans-serif !default;
$font-color-base: $color-font !default;
$line-height-base: 1.5 !default;

$body-bg-base: $color-background !default;
$body-padding: 100px 0 0 0 !default;
$body-padding--desktop: 100px 0 0 0 !default;

// Error States
$error-background-color: #b30909 !default;
$error-border-color: #b30909 !default;
$error-text-color: #ffffff !default;
$error-form-text-color: #b30909 !default;
$error-hover-state-text-color: $color-white !default;

// Buttons
$button-ghost-text-color: #ffffff !default;
$button-ghost-background: transparent !default;
$button-ghost-border: #ffffff !default;
$button-ghost-background-hover: #ffffff !default;
$button-ghost-text-color-hover: $color-secondary !default;
$button-ghost-background-pressed: #ffffff !default;
$button-ghost-text-color-pressed: $color-secondary !default;
$button-ghost-background-disabled: lighten($color-secondary, 20%) !default;
$button-ghost-text-color-disabled: transparent !default;

$button-inverted-text-color: $color-primary !default;
$button-inverted-background: #ffffff !default;
$button-inverted-background-hover: #e6e6e6 !default;

$button-secondary-border-color: $color-secondary !default;
$button-secondary-color: $color-secondary !default;

$button-border-radius: 2.5rem !default; // 40px
$button-link-focus-border-radius: 0.25rem !default; // 4px
// Rounded Corners
$border-radius-base: 6px !default;
$border-color-base: black !default;

// Link(s)
$link-color: $color-secondary !default;
$link-decoration: underline !default;
$link-hover-color: $link-color !default;
$link-hover-decoration-color: $link-color !default;
$link-hover-decoration: none !default;
$link-border-color: $color-secondary !default;

// Focus:active
$focus-active-text-color: #ffffff !default;
$focus-active-background: #418529 !default;

// Table(s)
$table-bg: transparent !default;
$table-cell-padding: 0.25rem !default;
$table-caption-enabled: true !default;
$table-caption-location: top !default;
$table-button-tooltip-focus: none !default;

// Header
$header-logo-max-width: 100px !default;
$header-logo-max-height: 51px !default;

// Elements -> Headers
$header-background-color: #fff !default;
$header-border-bottom: 1px solid $color-grey--light !default;
$header-text-colour: $color-primary !default;
$header-margin-bottom: $footer-header-margin !default;
$header-text-colour-hover: $link-primary-hover !default;
$header-shopping-basket-colour: $primary !default;

// Elements -> Headers -> Navigation
$nav-background: #fff !default;
$nav-border-bottom: 1px solid $color-grey--light !default;
$nav-margin-bottom: 0 !default;
$nav-link-colour: $color-grey--dark !default;
$nav-link-colour-active: $color-primary !default;
$nav-link-border-colour-active: $color-primary !default;
$nav-primary-mobile-background: linear-gradient(
  134.71deg,
  darken(saturate(adjust-hue($color-primary, 7), 16.73), 21.76) 0%,
  $color-primary 100%
) !default;
$nav-primary-mobile-discs: "" !default;
$nav-primary-mobile-link-colour: #fff !default;

// Slidepanel
$slidepanel-header-background: $color-primary !default;

/**
*   HOUSTON (LAUNCH BUTTON|VA|NOTIFICATIONS|WEBCHAT)
*
*/

$houston-font-family: $font-family-base !default;

// Houston Button
$houston-button-animation-enabled: true !default;
$houston-button-background-color: $color-primary !default;
$houston-button-background-image: url(../images/icon-houston-avatar.svg) !default;
$houston-button-background-position: 50% 50% !default;
$houston-button-background-size: 35px 35px !default;
$houston-button-background-repeat: no-repeat !default;
$houston-button-border-color: $color-secondary !default;
$houston-button-border-style: solid !default;
$houston-button-border-width: 5px !default;
$houston-button-border-radius: 50% !default;
$houston-button-help-icon-enabled: false !default;
$houston-button-focus-border-color: #ffffff !default;
// Houston VA Virtual Assistant
$houston-va-header-background-color: $color-primary !default;
$houston-va-header-text-color: #ffffff !default;
$houston-va-header-avatar-background-color: $color-primary !default;
$houston-va-header-avatar-background-image: url(../images/icon-houston-avatar.svg) !default;
$houston-va-header-avatar-background-size: 15px !default;
$houston-va-header-avatar-border-color: $color-secondary !default;
$houston-va-header-avatar-border-width: 5px !default;
$houston-va-header-avatar-border-radius: 50% !default;

// Houston VA Message Input
$houston-va-dialog-background: #ffffff;
$houston-va-send-message-icon: url(../images/icon-post--grey.svg);
$houston-question-box-outline: none !default;
$houston-question-box-border-bottom: none !default;
$houston-question-box-border-radius: 0 !default;
$houston-question-box-border-bottom-mobile: none !default;
$houston-question-box-outline-mobile: none !default;

// Houston VA Agent Response Bubble
$houston-va-agent-text-background: #daf2ff;
$houston-va-agent-avatar-small: $color-secondary
  url(../images/icon-houston-avatar.svg) !default;
$houston-va-agent-avatar-small-border: 2px solid #b2e5ff;
$houston-va-agent-avatar-size: 10px !default;

// Houston VA User Response Bubble
$houston-va-user-text-background: #e1deed;
$houston-va-user-avatar-small: $color-primary;
$houston-va-user-avatar-small-border: 2px solid #ccc7df;

//Notification

$notification-background-color: $color-primary !default;
$notification-border-color: $color-primary !default;
$notification-button-background-color: $color-secondary !default;
$notification-button-color: #fff !default;
$notification-button-border-color: $color-secondary !default;

//Focus
$focus-text-color: #4a4a4a;
$focus-background-color: #ffe2ad;
$focus-border-color: #4a4a4a;
$button-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1) !default;
// Accessibility
$accessible-focus-bg: #ffe2ae;
$accessible-border: 2px dotted #4a4a4a;
$accessible-color: #4a4a4a;
$accessible-font-weight: 600;

//PP+WI
$policy-feature-premier-button-color: $color-font !default;
$policy-feature-premier-button-background: none !default;
$card-upgrade-background-color: linear-gradient(
  -225deg,
  rgb(59, 38, 103) 0%,
  rgb(104, 89, 163) 100%
) !default;
$card-upgrade-button-border-radius: 5px !default;
$card-upgrade-font-weight: 300 !default;
$card-upgrade-color: $color-white !default;
$card-description-font: normal !default;
$card-background-color: $color-white !default;
$card-color: $color-font !default;
$card-border-radius: 10px !default;

$card-image-mobile-height: 40px !default;
$card-image-mobile-width: 40px !default;
$card-image-height: 40px !default;
$card-image-width: 40px !default;
$card-image-padding: 0 !default;
$card-image-mobile-top: 20px !default;
$card-image-mobile-left: 10px !default;
$card-image-top: 0 !default;
$card-image-left: 0 !default;
$policy-feature-image-wrapper-mobile-height: 40px !default;
$policy-feature-image-wrapper-mobile-width: 40px !default;
$policy-feature-image-wrapper-height: 80px !default;
$policy-feature-image-wrapper-width: 80px !default;
$policy-feature-image-wrapper-background: $color-white !default;
$policy-feature-image-wrapper-border: none !default;

$included-section--header-color: $color-white !default;
$inclusion-list__link-color: $color-white !default;
$section-policy-payment-background-color: #f5f7fa !default;
$section-policy-payment-background-image: none !default;
$section-policy-excess-border-color: $color-grey--light !default;
$section-policy-features-background-color: linear-gradient(
  134.71deg,
  #006bad 0%,
  #4c61bb 100%
) !default;
$section-policy-features-color: $color-white !default;
$payment-option__radio-checked-border-color: $color-green !default;
$payment-option__radio-checked-background-color: $color-green !default;
$payment-option__radio-checked-color: $color-white !default;
$payment-option__radio-checked-focus-border: #4a4a4a !default;
$payment-option-min-height: 283px !default;
$payment-option-background: $color-white !default;
$payment-option-border-color: $color-grey !default;
$payment-option-label-after-background: $color-white !default;
$payment-option-frequency-amount-color: $color-primary !default;
$payment-option--annual-bakgound-image: none !default;
$payment-option--annual-active-bakgound-image: none !default;
$payment-option--annual-message-color: $color-font !default;
$payment-option--annual-sub-message-color: $color-primary !default;
$payment-option--monthly-bakgound-image: none !default;
$payment-option--monthly-p-color: #6b6b6b !default;
$payment-option--monthly-active-bakgound-image: none !default;
$payment-option--annual-radius: 10px 10px 0 0 !default;
$payment-option--monthly-radius: 0 0 10px 10px !default;
$payment-option--annual-desktop-radius: 10px 0 0 10px !default;
$payment-option--annual-desktop-margin: 0 !default;
$payment-option--monthly-desktop-radius: 0 10px 10px 0 !default;
$marketing-panel-section-background-color: #fbfbfb !default;
$marketing-banner-width: 750px !default;
$marketing-banner-text-align: left !default;
$marketing-banner-display: flex !default;
$marketing-banner-padding-mobile: 20px 0 !default;
$section-policy-details-background-color: #fbfbfb !default;
$section-heading-color: $color-primary !default;
$section-heading-weight: 300 !default;
$fbel-banner-background-color: #fafafa !default;
$fbel-banner-border-radius: 10px !default;
$fbel-banner-border-color: #e5e5e5 !default;
$fbel-banner-heading-color: $color-primary !default;
$fbel-banner-ipid-color: $color-primary !default;
$included-features-color: $color-font !default;
$policy-detail-color: $color-font !default;
$policy-detail-border: rgba(74, 74, 74, 0.1) !default;
$policy-detail-heading-font-weight: 400 !default;
$policy-detail-button-weight: 700 !default;
$policy-detail-button-radius: 40px !default;
$policy-excess-button-radius: 40px !default;

$policy-excess-background-color: #dedbea !default;
$policy-excess-color: $color-primary !default;
$total-excess-font-weight: 700 !default;
$voluntary-excess-background-color: $color-primary !default;
$voluntary-excess-color: $color-white !default;
$voluntary-excess-border: $color-white !default;
$compulsary-excess-color: $color-primary !default;
$total-excess-color: $color-font !default;
$total-excess-before-after-border: $color-grey--light !default;

$ipid-link-font-size: 16px !default;
$ipid-link-font-weight: 600 !default;
$ipid-link-color: $color-primary !default;

$promotional-offers-background-color: $bg-lighter-grey  !default;
$promotional-offers-image-height: 58px !default;
$promotional-offers-image-width: 58px !default;
$promotional-offers-image-margin: 0 0 10px 0 !default;
$promotional-offers-title-display-mobile: flex !default;

// Datepicker Variables
$datepicker-disabled-date-background-color: #ededed !default;
$datepicker-disabled-date-font-color: $color-font--light !default;
$datepicker-enabled-date-font-color: $color-grey--dark !default;

// Component -> Calendar
$calendar-nav-arrow-colours: $color-primary !default;
$calendar-selects-option-colour: $color-primary !default;
$calendar-selects-option-colour-disabled: $color-font--light !default;
$calendar-header-days-colour: $color-primary !default;
$calendar-day-active-background: $color-grey--dark !default;
$calendar-day-active-colour: #fff !default;
$calendar-unavailable-colour: transparentize($color-grey--dark, 0.5) !default;
$calendar-today-background: $color-primary !default;
$calendar-today-text-colour: $color-primary !default;
// ^ Aside
$calendar-aside-number-text: $color-primary !default;
$calendar-aside-month-year-text: $color-primary !default;
// NOTE: Inline calendar vars to be completed and match with above ^

//Modal
$modal-footer-radius: 0 0 10px 10px !default;
$modal-footer-border: 1px solid #e5e5e5 !default;
$modal-background: #fff !default;
$modal-border-radius: 10px !default;

// Houston Cookie Policy
$cookie-policy-color: $color-white !default;
$cookie-policy-text-decoration: none !default;

//Single Page Add Ons (SPAO)
$background-promo: #f5f7fa !default;
$border-promo: 4px solid #6859a3 !default;
$text-color-promo: $color-font !default;
$spao-background-color: $color-white !default;
$font-light: $font-family-base !default;
$border-addon: 1px solid transparent !default;
$addon-box-shadow: transparent !default;
$addon-radius: 0 !default;
$color-teal: #025c69 !default;
$feature-subheading-mlp-color: $color-secondary !default;
$addon-list-font-weight: 400 !default;
$feature-subheading-font-size: 20px !default;
$feature-subheading-font-weight: 400 !default;
$feature-subheading-font-family: $font-light !default;
$feature-subheading-font-color: $color-font !default;
$addon-list-item-margin: 0 !default;
$spao-admin-text-font-size: 13px !default;
$spao-admin-text-font-weight: 300 !default;
$spao-admin-text-font-color: #4a4a4a !default;
$demands-and-needs-label-border: 1px solid #949494 !default;
$demands-and-needs-label-background-color: $color-white !default;
$demands-and-needs-label-text-color: $color-primary !default;
$demands-and-needs-label-hover-color: $color-primary !default;
$demands-and-needs-label-hover-border-color: $color-primary !default;
$demands-and-needs-label-hover-text-color: $color-white !default;
$demands-and-needs-checked-label-color: $color-primary !default;
$demands-and-needs-checked-label-border-color: $color-primary !default;
$demands-and-needs-checked-label-text-color: $color-white !default;
$demandsandneed-selected-image-size: 25px 25px !default;
$demands-and-needs-text-legal-font-style: italic !default;
$demands-and-needs-text-legal-font-weight: 400 !default;
$demands-and-needs-text-legal-font-size: 18px !default;
$keycare-cover-item-vertical-align-mobile: top !default;
$keycare-cover-item-vertical-align-desktop: bottom !default;
$keycare-image-top-mobile: 5px !default; // Without keycare cover icon (already covered)
$keycare-image-top-desktop: 5px !default;
$keycare-image-top--added-mobile: 2px !default; // With keycare cover icons (additionally covered)
$keycare-image-top--added-desktop: 2px !default;
$keycare-image-top--other-mobile: 10px !default; // With keycare cover "other vehicle keys" icon (usually bike icon)
$keycare-image-top--other-desktop: 7px !default;
$color-checked: $color-primary !default; // Checked & Hover fill color on addon-basket / breakdown table buttons
$addon-basket-button-background-color: $color-white !default;
$addon-basket-button-border-color: $color-primary !default;
$addon-basket-button-text-color: $color-primary !default;
$addon-basket-button-checked-border-color: $color-primary !default;
$addon-basket-button-checked-text-color: $color-white !default;
$addon-basket-button-hover-border-color: $color-primary !default;
$addon-basket-button-hover-text-color: $color-white !default;
$breakdown-table-button-background-color: $color-white !default;
$breakdown-table-button-border: 1px solid $color-secondary !default;
$breakdown-table-button-text-color: $color-secondary !default;
$breakdown-button-focus-outline: 5px auto -webkit-focus-ring-color !default;
$spao-primary-font-icon-size-mobile: 40px !default;
$spao-primary-font-icon-size-desktop: 50px !default;
$spao-primary-font-icon-position-top-mobile: -5px !default;
$spao-primary-font-icon-position-top-desktop: -5px !default;



//promote monthly
$promote-monthly-text: $color-primary !default;
$addon-border-radius: 0 !default;

// Component -> Notifications (SSC)
$notifications-text-colour: #fff !default;
$notifications-background: $color-primary !default;
$notifications-item-background: $color-primary !default;
$notifications-item-border-bottom: 1px solid darken($color-primary, 10%) !default;
$notifications-snooze-background: $color-primary !default;
$notifications-snooze-background-hover: lighten($color-primary, 5%) !default;
$notifications-snooze-text-colour: #fff !default;
$notifications-border-radius: 3px !default;
$notifications-button-background-hover: #e6e6e6 !default;
$notifications-bell-color: $color-primary !default;
$notifications-bell-color-none: #000 !default;
$notifications-header-font-color: #fff !default;
$notifications-snooze-text-colour-hover: #fff !default;
$notifications-button-background-color: #ffffff !default;
$notifications-button-text-color: $color-primary !default;
$notifications-button-text-color-hover: $color-primary !default;

// Component -> Cover Bubbles
$cover-bubbles-icon-background: $color-grey--lighter !default;
$cover-bubbles-icon-border: 2px solid transparent !default;
$cover-bubbles-icon-border-hover: 2px solid $color-primary !default;
$cover-bubbles-text-colour: $color-primary !default;

// Component -> Documents
$document-background: $color-primary !default;
$document-border-radius: 10px !default;
$document-icon-colour: #fff !default;
$document-prev-text-colour: $color-grey--dark !default;
$document-prev-icon-colour: $document-prev-text-colour !default;
$document-prev-border: none !default

// Component -> Tables
$table-border: 1px solid $color-grey--light !default;

// Component -> Pill
$pill-primary-color: $color-white !default;
$pill-primary-background-color: $color-green !default;

$pill-secondary-color: $color-white !default;
$pill-secondary-background-color: #0761C2 !default;

// Component -> Breadcrumbs (Header Timeline)
$breadcrumbs-progress-unfilled: $color-grey--light !default;
$breadcrumbs-inactive-item-colour: $light-grey !default;
$breadcrumbs-first-disc-border: $color-primary !default;
$breadcrumbs-first-item-colour: $color-primary !default;
$breadcrumbs-inactive-disc-border: 2px solid $color-grey--light !default;
$breadcrumbs-progress-filled: $color-primary !default;
$breadcrumbs-active-disc-border: $color-primary !default;
$breadcrumbs-active-item-colour: $color-primary !default;
$breadcrumbs-complete-item-colour: $color-primary !default;
$breadcrumbs-complete-disc-border: $breadcrumbs-active-disc-border !default;

// Elements -> Footers
$footer-background-color: $color-white !default;
$footer-text-color: $font-color-base !default;
$footer-link-color: $link-color !default;
$footer-text-decoration-color: $link-color !default;
$footer-border-top: 1px solid $color-grey--light !default;
$footer-padding-top-bottom: 55px 0 !default;
$footer-padding-bottom-mobile: 65px !default;
$footer-margin-top: $footer-header-margin !default;
// Elements -> Renewals
$renewals-header-link-color: $primary !default;
$renewals-header-link-color-hover: $primary !default;
$renewals-header-link-border-bottom-color: $primary !default;
$renewals-price-link-color: $primary !default;
$renewals-make-a-change-link-color: $primary !default;
$renewals-whats-included-bubbles: $color-grey--lighter !default;

//PolicySelector
$policy-selector-background: linear-gradient(
  134.71deg,
  darken(saturate(adjust-hue($color-primary, 7), 16.73), 21.76) 0%,
  $color-primary 100%
) !default;
$policy-selector-discs: "" !default;
$policy-selector-account-link-color: #fff !default;
$policy-selector-header-text-color: $color-white !default;
$policy-selector-header-text-color-hover: $color-white !default;
$policy-selector-menu-text-color: $color-white !default;
$policy-selector-account-select-border-radius: 0px !default;
$policy-selector-account-select-box-shadow: 0 0 0 0 !default;

//Tabs my account (documents, payments, drivers)
$tabs-button-colour: $color-grey--dark !default;
$tabs-button-colour-active: $color-primary !default;
$tabs-button-border-bottom: 2px solid $color-primary !default;