﻿$docs-preferences-checked-image: url("../images/icon-docs-post.svg") !default;
$docs-preferences-checked-post-image: url("../images/icon-docs-post.svg") !default;
$docs-preferences-online-image: url("../images/icon-docs-online.svg") !default;
$docs-preferences-checked-online-image: url("../images/icon-docs-online.svg") !default;
$document-preferences-checked-label-color: $color-font !default;

#DocumentPreferences {
    .document-preferences-description {
        padding-bottom: 24px;

        @include breakpoint(576px) {
            padding-bottom: 0;
        }
    }

    label {
        margin-bottom: 0px;
    }
}

.document-preferences {
    margin: 20px 0;
    padding: 0;
    @include row(12);

    li {
        display: inline-block;
        @include column(6,12);

        &:first-child {
            margin-top: 0px;
        }
    }

    .radio {
        position: relative;
        display: inline-block;
        width: 100%;
        text-align: center;
        text-indent: 0px;

        input {
            position: absolute;
            left: -999999999px;
            height: 1px;
            width: 1px;
            overflow: hidden;

            &:checked:focus {
                + label:before {
                    @include focusSelectSurround;
                }
            }

            &:checked {
                + label.post {
                    background-image: $docs-preferences-checked-image;
                }

                + label.online {
                    background-image: $docs-preferences-checked-online-image;
                }

                + label {
                    color: $document-preferences-checked-label-color;

                    &:before {
                        border-color: $button-radio-border-color-selected;
                        transition: 0.3s all;
                    }

                    &:after {
                        background: $button-radio-background-color-selected;
                        transition: 0.3s all;
                    }
                }
            }

            &:hover {
                + label {
                    &:before {
                        border-color: $color-primary;
                        transition: 0.3s all;
                    }

                    &:after {
                        background: $brand-20;
                    }
                }
            }

            &:not(:checked):focus {
                + label {
                    &:before {
                        border-color: $color-primary;
                        transition: 0.3s all;
                    }

                    &:after {
                        background: $brand-20;
                    }
                }
            }
        }

        label {
            height: 30px;
            display: block;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: contain;
            line-height: 15px;
            padding-top: 55px;

            &.online {
                background-image: $docs-preferences-online-image;
            }

            &.post {
                background-image: $docs-preferences-checked-post-image;
            }

            &:before {
                content: "";
                height: 30px;
                width: 30px;
                position: relative;
                bottom: -10px;
                display: block;
                margin: auto;
                margin-bottom: 20px;
                border: 2px solid $key-grey;
                border-radius: 50%;
            }

            &:after {
                content: "";
                height: 30px;
                width: 30px;
                position: absolute;
                top: auto;
                left: 50%;
                bottom: -40px;
                border-radius: 50px;
                margin-left: -15px;
                transform: scale(0.8);
                transition: 0.6s all;
            }
        }

        &.selected {
            label {
                &:before {
                    border-color: $success;
                    transition: 0.3s all;
                }

                &:after {
                    background: $success;
                    transition: 0.3s all;
                }
            }
        }

        small {
            font-size: 13px;
            display: block;
        }
    }
}
