﻿.card-options {

    &__list {
        list-style-type: none;
        padding-left: 0;
    }

    &__image {
        height: 24px;
    }

    &__item {
        display: inline-block;
        margin: 5px 0;
        padding: 0 5px;

        &:first-of-type {
            padding-left: 0;
        }
    }
}
