﻿$legal-module__heading--main-color: $color-primary !default;

.legal-modules {
    $aggregator-logo-background-colour: transparent !default;
    $aggregator-logo-border-radius: 0px !default;
    $aggregator-logo-padding: 0px !default;
    display: block;
    font-size: 0;
    width: 100%;

    &__column {
        display: inline-block;
        font-size: 1rem;
        max-width: 100%;
        padding: 1rem;
        vertical-align: top;
        width: 100%;

        @include breakpoint(700px) {
            max-width: 50%;
            padding: 0 calcRem(48px) 0 1rem;
            width: 50%;
        }
    }


        &__column:nth-child(2) {
            .legal-modules__module:last-child {
                padding-bottom: 0;
            }
        }

        &__column + &__column {
            @include breakpoint(700px) {
                max-width: 50%;
                padding: 0 1rem 0 calcRem(48px);
                width: 50%;
            }
        }


    &__divider {
        background-color: $color-grey--light;
        height: 1px;
        margin: 30px 0 0 0;
        width: 100%;
    }

    &__module {
        display: block;
        font-size: 1rem;
        width: 100%;
        max-width: 100%;
        padding: 0 0 calcRem(60px) 0;

        @include breakpoint(700px) {
        }
    }

        &__module:last-of-type &__divider {
            @include breakpoint(700px) {
                display: none;
            }
        }

    &__icon,
    &__image {
        width: 60px;
        height: 60px;

        @include breakpoint(700px) {
            width: 80px;
            height: 80px;
        }
    }

    &__heading {
        &--main {
            @include font-size(20px);
            margin-bottom: 22px;
            margin-top: 15px;
            color: $legal-module__heading--main-color;

            @include breakpoint(500px) {
                @include font-size(24px);
                ;
            }
        }

        &--secondary {
            @include font-size(15px);
            margin-bottom: 10px;

            @include breakpoint(500px) {
                @include font-size(20px);
            }
        }
    }

    &__text {
        @include font-size(14px);
        font-weight: 300;
        margin-bottom: 25px;
        line-height: 22px;

        @include breakpoint(500px) {
            @include font-size(16px);
            line-height: 29px;
        }

        &--emphasised {
            font-weight: 600;
        }
    }

    &__text-line {
        display: block;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        list-style-type: none;
        padding: 0;
    }

    &__item {
        width: 100%;
        padding: 3px 0;
        @include font-size(13px);
        flex: 1 1 50%;
        font-weight: 300;

        @include breakpoint(500px) {
            @include font-size(16px);
        }
    }

    &__aggregator-logo {
        width: 100%;
        max-width: 250px;
        max-height: 100px;
        background-color: $aggregator-logo-background-colour;
        border-radius: $aggregator-logo-border-radius;
        padding: $aggregator-logo-padding;
        @media screen and (min-width: 500px){
            max-height: 200px;
        }
    }
}

.legal-footer {
    padding: 0 16px 100px;

    &__wrapper {
        max-width: 1200px;
        margin: auto;

        @include breakpoint(700px) {
            display: table;
            width: 100%;
        }
    }

    &__section {
        display: block;
        width: 100%;

        @include breakpoint(700px) {
            display: table-cell;
            width: 50%;
            vertical-align: middle;
        }

        &--links {
            display: none;

            @include breakpoint(700px) {
                display: table-cell;
            }
        }
    }

    &__image {
        width: 35px;
        vertical-align: middle;
    }

    &__button-container {
        margin: 0;
    }
}

// Payment Redesign Legal Content 
.legal-content {
    .legal-modules__heading--main {
        margin-top: 40px;
        color: $color-font;
        @include font-size(20px);
    }

    .legal-modules__heading--secondary {
        @include font-size(16px);
    }

    .legal-modules__text {
        margin-bottom: 15px;
        line-height: 20px;
        @include font-size(13px);
    }

    .legal-modules__text-line {
        line-height: 20px;
    }

    .link {
        text-align: center;
        padding: 10px 0 15px 0;
    }
}