﻿$agreement-checkbox-checked-before-background: $color-primary !default;
$agreement-checkbox-checked-before-border-color: $color-primary !default;

.agreement-checkbox {
    position: relative;
    display: inline-block;

    label:before {
        content: "";
    }

    &:hover {
        label {
            &:before {
                border-color: $color-primary;
                background-color: $brand-20;
            }

            &:after {
                content: "\f185";
                color: $brand-80;
            }
        }
    }

    &.selected {
        label {
            &:before {
                background: $success;
                box-shadow: none;
                border-color: $success;
            }

            &:after {
                content: "\f185";
            }
        }

        &:hover {
            label {
                &:after {
                    color: #fff;
                }
            }
        }
    }

    &.error {
        label {
            color: $error;

            &:before {
                border-color: $error;
            }

            &:after {
                color: $error;
                content: "\f185";
            }
        }

        &:hover {
            label {
                &:before {
                    border-color: $color-primary;
                    background-color: $brand-20;
                }
            }
        }
    }

    &.inactive {
        label {
            &:before {
                border-color: $key-grey;
                background-color: $bg-lighter-grey;
            }

            &:after {
                color: $key-grey;
                cursor: not-allowed;
                content: "\f185";
            }
        }
    }

    label {
        display: inline-block;
        text-indent: 50px;
        height: 50px;
        line-height: 50px;
        margin-bottom: 0px;
        padding-left: 8px;
        padding-right: 8px;
        border: 2px solid #fff;

        &:before {
            height: 30px;
            width: 30px;
            border-radius: 5px;
            border: 1px solid $key-light-grey;
            color: $light-grey;
            background-color: #fff;
            margin: 8px 0;
            display: block;
            position: absolute;
            transition: 0.6s all;
            font-weight: 100;
        }

        &:after {
            content: "\f185";
            color: $key-light-grey;
            position: absolute;
            height: 30px;
            width: 30px;
            line-height: 28px;
            text-align: center;
            font-family: "ui-icons";
            font-size: 28px;
            left: 10px;
            top: 10px;
            text-indent: 0px;
        }
    }

    input {
        position: absolute;
        left: -999999px;
        height: 1px;
        width: 1px;

        &:checked {
            + label {
                &:before {
                    background: $agreement-checkbox-checked-before-background;
                    box-shadow: none;
                    border-color: $agreement-checkbox-checked-before-border-color;
                }

                &:after {
                    content: "\f185";
                    color: #fff;
                }
            }
        }

        &:focus {
            + label {
                @include focussurround;
            }
        }
    }
}
