﻿// Next Steps UI Component
$ordered-steps-flex-direction-mobile: column !default;
$ordered-steps-flex-direction-desktop: row !default;
$ordered-steps-background-color: #f4f4f4 !default;
$ordered-steps-font-color: $color-primary !default;
$ordered-steps-font-size: 13px !default;
$ordered-steps-font-weight: 700 !default;
$ordered-steps-border: 1px solid transparent !default;
$ordered-steps-counter-id: counter-number !default;
$ordered-steps-odd-counter-number-icon: url(/MotorQuote/Content/dist/images/icon-next-steps-arrow-top.svg) !default;
$ordered-steps-even-counter-number-icon: url(/MotorQuote/Content/dist/images/icon-next-steps-arrow-bottom.svg) !default;
$ordered-steps-counter-number-background-color: $color-white !default;
$ordered-steps-counter-number-border: 1px solid $color-primary !default;
$ordered-steps-counter-number-font-color: $color-primary !default;
$ordered-steps-counter-number-font-size: 16px !default;

.ordered-steps {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: $ordered-steps-flex-direction-mobile;
    counter-reset: $ordered-steps-counter-id;


    @media (min-width: $screen-lg) {
        flex-direction: $ordered-steps-flex-direction-desktop;
    }

    &__item {
        display: inline-flex;
        align-items: center;
        position: relative;
        margin: 2px 10px;
        padding: 20px;
        color: $ordered-steps-font-color;
        border: $ordered-steps-border;
        background: $ordered-steps-background-color;
        counter-increment: $ordered-steps-counter-id;
        font-size: $ordered-steps-font-size;
        font-weight: $ordered-steps-font-weight;

        @media (min-width: $screen-lg) {
            margin: 10px 5px 10px 0;

            &:nth-child(odd)::after {
                position: absolute;
                content: "";
                top: -30px;
                right: -80px;
                height: 25px;
                width: 100px;
                background-repeat: no-repeat;
                background-image: $ordered-steps-odd-counter-number-icon;
            }

            &:nth-child(even)::after {
                position: absolute;
                content: "";
                bottom: -35px;
                right: -80px;
                height: 25px;
                width: 100px;
                background-repeat: no-repeat;
                background-image: $ordered-steps-even-counter-number-icon;
            }

            &:last-child::after {
                content: "";
                background-image: none;
            }
        }


        &::before {
            margin: auto 20px;
            padding: 6px 12px;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            text-align: center;
            font-size: $ordered-steps-counter-number-font-size;
            content: counter($ordered-steps-counter-id);
            background-color: $ordered-steps-counter-number-background-color;
            border: $ordered-steps-counter-number-border;
            color: $ordered-steps-counter-number-font-color;
        }
    }
}
