﻿$welcome-quote__heading-color: $color-primary !default;
$welcome-quote__selector-option-color: $color-secondary !default;

.welcome-quote {
    text-align: center;
    padding: 1rem 0;
    max-width: 970px;
    margin: auto;

    &__heading {
        font-weight: 300;
        @include font-size(25px);
        margin: 0 0 25px 0;
        color: $welcome-quote__heading-color;

        @include breakpoint(600px) {
            @include font-size(40px);
        }
    }

    &__selector-wrapper {
        display: inline-block;
        position: relative;
    }

    &__selector-option {
        display: inline-block;
        border-bottom: solid 2px $color-secondary;
        padding-right: 30px;
        background-image: url(../images/icon-arrow-down.svg);
        background-position: right 5px;
        background-repeat: no-repeat;
        background-size: 23px;
        cursor: pointer;
        font-weight: bold;
        color: $welcome-quote__selector-option-color;

        @include breakpoint(600px) {
            background-position: right 18px;
        }
    }

    .primary {
        font-size: 0.9rem;
    }

    &__sub-text {
        @include font-size(13px);
        color: $color-font--light;
        color: $color-font--light;
        padding: 0 1rem;
        line-height: 1.5;
        font-weight: 300;
    }

    &__modal {
        top: 69px;
        left: -3px;
        width: 200px;

        @include breakpoint(500px) {
            left: -30px;
            width: 250px;
        }
    }
}

.tp-widget-promote-monthly {
    padding-bottom: 80px;

    &--monthly-description {
        padding-bottom: 40px;
    }
}

.price-presentation__aggregator-logo {
    margin-top: 0px;
    width: 100%;
    max-width: 250px;
    max-height: 100px;

    @media screen and (min-width: 500px) {
        max-height: 200px;
    }
}