﻿.inline-text-icon-tick {
    $inline-text-icon-style: &;

    i {
        font-size: 1.3rem;
        position: relative;
        top: 5px;
        left: -5px;
    }

    &--success {
        @extend #{$inline-text-icon-style};
        color: $success;
    }
}