﻿.icon-button {
    margin: 10px;
    display: inline-block;
    position: relative;
    text-align: center;

    &.error {
        label {
            border-color: $error;
            color: $error;

            &:hover {
                border-color: $color-primary;
            }
        }
    }

    &.inactive {
        label {
            background-color: $bg-lighter-grey;
            color: $light-grey;
            cursor: not-allowed;

            &:hover {
                cursor: not-allowed;
                background-color: $bg-lighter-grey;
                color: $light-grey;
            }
        }
    }

    label {
        width: 160px;
        padding: 20px;
        display: inline-block;
        border-radius: 5px;
        color: $color-primary;
        font-size: 16px;
        line-height: 16px;
        cursor: pointer;
        position: relative;
        transition: 0.6s all;
        border: 1px solid;

        i {
            display: block;
            font-size: 36px;
            line-height: 36px;
            margin-bottom: 10px;
        }

        &:hover {
            background: $color-primary;
            color: #fff;
            transition: 0.3s all;
            border: 1px solid $key-grey;
        }

        &[data-icon] {
            &:before {
                content: attr(data-icon);
                margin-right: 10px;
            }
        }
    }

    input[type="radio"], input[type="checkbox"] {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        + label {
            user-select: none;
        }

        &:checked {
            + label {
                border-color: $success;
                background: $success;
                color: #fff;
                transition: 0.3s all;
            }
        }
    }
}
