﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.VehicleDetails.Models.AddModificationViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var addModificationUrl = Url.Action("AddModification", "VehicleDetailsComponentModifications");
    var modificationViewUrl = Url.Action("EditVehicleDetails", "VehicleDetailsComponent");
    var formId = $"{componentId}_form-add-modification";
}

<div class="narrow" data-component-id="@componentId">
    @using (Html.BeginFormBgl("UpdateModification", "VehicleDetailsComponentModifications", FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_testid = componentId + "__form",
        data_on_success = "bgl.components.vehicledetails.addmodification.onSuccess",
        data_on_error = "bgl.components.vehicledetails.addmodification.onError"
    }))
    {
    <h1 class="step-form__section-title">About your @Model.VehicleType</h1>
        <h2 class="vehicle-modification__builder-header">
            What type of
            <button class="step-form__undo-link vehicle-lookup__undo-link vehicle-lookup__breadcrumb-link" id="back-to-modification-type" data-url="@addModificationUrl">
                @Model.SelectedModificationTypeDescription
            </button> modification is added?
        </h2>

        @Html.HiddenFor(m => m.VehicleId)
        @Html.Hidden("JourneyType", (int)Model.JourneyType)
        @Html.HiddenFor(m => m.DataStoreKey)
        @Html.Hidden("VehicleModificationsUrl", Url.Action("Modifications", "VehicleDetailsComponentModifications"))

        @Html.AntiForgeryToken()

        <div class="form-row addon-radio__wrapper @(Model.HasDuplicatedModification ? "hide" : string.Empty)" id="modification-list">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">What type of your modification is added?</legend>
                @foreach (var modification in Model.List)
                {
                    @Html.RadioButtonFor(x => x.SelectedModificationCode, modification.Code, new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = $"Modification-{modification.Description}", data_description = $"{modification.Description}" })
                    @Html.LabelFor(x => x.SelectedModificationCode, modification.Description, new { @class = "form-row__label form-row__label--pill", @for = $"Modification-{modification.Description}", data_testid = $"{componentId}__modification-description" })
                }
            </fieldset>
            @Html.ValidationMessageFor(x => x.SelectedModificationCode, string.Empty, new { @class = "form-row__validation-text" })
        </div>

        <div class="form-row error @(!Model.HasDuplicatedModification ? "hide" : string.Empty)" data-testid="vehicle-builder__step-validation-container" id="modification-error">
            <div class="form-row__error-text-container">
                <span class="form-row__validation-text" data-testid="@(componentId)__post-validation-message">Sorry, we can&apos;t add that modification as it looks like you have already told us about it</span>
            </div>
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button class="button button--primary button--large button--right @(Model.HasDuplicatedModification ? "hide" : string.Empty)" type="submit" id="save-vehicle-modification"
                       data-redirect-url="@modificationViewUrl" data-testid="@(componentId)__save-modification-link">Save</button>

                <a class="button button--text button--large button--back button--left" href="#modifications" data-step-type="previous-step"
                   data-url="@addModificationUrl" data-back-option="modificationType" data-testid="@(componentId)__step-back-button">Back</a>
            </div>
        </div>
    }
</div>
