﻿@model BGL.Components.VehicleDetails.Models.BreadcrumbsViewModel

    <h1 class="step-form__section-title">About your @Model.VehicleType</h1>
    <h2 class="vehicle-lookup__heading step-form__heading">Okay, let's find your @Model.VehicleType</h2>

<p class="step-form__question-label">
    <span data-testid="breadcrumbs__question-phrase-beginning">@Model.QuestionPhraseBeginning</span>
    @foreach (var item in Model.BreadcrumbsItems)
        {
            <button class="vehicle-lookup__undo-link step-form__undo-link vehicle-lookup__breadcrumb-link step-form__breadcrumb-link"
                    data-item-id="@item.Id"
                    data-vehicle-builder-step="@item.VehicleBuilderStep"
                    data-testid="breadcrumbs__link-(@item.Id)"
                    data-redirect-url="@Url.Action("VehicleBuilder", "VehicleDetailsComponentSearching")">
                @item.Value
            </button>
        }
    <span data-testid="breadcrumbs__question-phrase-ending">@Model.QuestionPhraseEnding</span>
</p>

