﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.VehicleDetails.Models.ImportantInformationViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}_important-information";
    var componentName = "vehicledetails.importantinformation";
}

<div class="narrow" id="importantInformation" data-component-id="@componentId">
    @Html.Partial("_QuoteProgressBar")

    @using (Html.BeginFormBgl("SubmitImportantInformation", "VehicleDetailsComponentImportantInformation", FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_testid = componentId + "__form",
        data_on_success = $"bgl.components.{componentName}.onSuccess",
        data_on_error = $"bgl.components.{componentName}.onError",
        data_store_key = Model.DataStoreKey
    }))
    {
        <h1>Important information</h1>

        <div id="Agreed-Terms-Container" class="read-confirm">
            <div class="important-info">
                <h2>Please read below and accept to continue</h2>
                <ul class="bullet-list">
                    <li class="bullet-list__item">The vehicle has not been modified or adapted in anyway (excluding manufacturer optional extras e.g. alloy, sat nav, etc)</li>
                    <li class="bullet-list__item">The registered keeper will remain the same as your current vehicle</li>
                    <li class="bullet-list__item">The regular driver will remain the same as your current vehicle</li>
                    <li class="bullet-list__item">The vehicle will be kept overnight at this address</li>
                </ul>
                <p>If your vehicle has been modified or adapted, or you need to let us know that the registered keeper or regular driver have changed then please call @Model.ContactDetailsNumber for a quote</p>
            </div>

            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.VehicleId)
            @Html.HiddenFor(m=>m.VehicleType)
            @Html.HiddenFor(m => m.HasChanges, new { data_store_skip = "true" })
            @Html.Hidden("JourneyType", (int)Model.JourneyType)

            <div id="agreement-container" class="agreement-checkbox">
                <input id="agreement-checkbox" type="checkbox" name="agreement-checkbox" value="confirmed" aria-labelledby="agreement-label" data-testid="@(componentId)__agreed-terms-checkbox" />
                <label id="agreement-label" for="agreement-checkbox"><span class="tick-here-text">Tick if you agree with this statement</span></label>
            </div>
        </div>
        <p class="form-row__validation-text">Please tick the box to agree with the statement above.</p>
        <hr class="my-account" />

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit"
                        class="button button--primary button--large button--right slide-panel__close"
                        id="important-information_done-button"
                        data-testid="@(componentId)__done-button">
                    Continue
                </button>
                
                @if (Model.IsVanPolicy)
                {
                    <a class="button button--text button--large button--left button--back"
                       href="#"
                       id="back-button"
                       data-testid="@(componentId)__important-information-back-button"
                       data-container="SlidePanelContent"
                       data-init-event="bgl.components.vehicledetails.numberofseats.init"
                       data-product-type="van"
                       data-action-url="@Url.Action("NumberOfSeats", "VehicleDetailsComponentNumberOfSeats")">Back</a>

                }
                else
                {
                    <a class="button button--text button--large button--left button--back"
                       href="#"
                       id="back-button"
                       data-testid="@(componentId)__important-information-back-button"
                       data-container="SlidePanelContent"
                       data-init-event="bgl.components.vehicledetails.summary.init"
                       data-product-type="car"
                       data-action-url="@Url.Action("SearchSummary", "VehicleDetailsComponentSearching")">Back</a>

                }
            </div>
        </div>
    }
</div>

