﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.VehicleDetails.Enums
@model BGL.Components.VehicleDetails.Models.OvernightParkingViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}_overnight-parking";
    var policyType = string.IsNullOrEmpty(@Model.VehicleType) ? "car" : @Model.VehicleType;
    var componentName = Model.JourneyType != JourneyTypes.MultiStepEdit ? "overnightparking" : "vehicledetails.overnightparking";
    var displayCloseBackButton = string.IsNullOrWhiteSpace(Model.ComponentConfiguration.PreviousStepUrl) && Model.ComponentConfiguration.IsService && !Model.ComponentConfiguration.IsInitialChange;
}

<div class="narrow" id="overnightParkings" data-component-id="@componentId">

    @if (Model.ComponentConfiguration.IsService)
    {
        @Html.Partial("_QuoteProgressBar");
    }

    @using (Html.BeginFormBgl("OvernightParkingPatch", "VehicleDetailsComponentOvernightParking", FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_testid = componentId + "__form",
        data_on_success = $"bgl.components.{componentName}.onSuccess",
        data_on_error = $"bgl.components.{componentName}.onError",
        data_store_key = $"{Model.DataStoreKey}"
    }))
    {
        <h1 class="step-form__section-title">About your @policyType</h1>
        <h2 class="step-form__heading" data-testid="@(componentId)__overnight-parkings-question">Where will your @policyType be kept overnight?</h2>

        <p class="help-text__sub-text">This is the address where your vehicle is normally parked at night.</p>

        <div class="step-form__button-wrapper">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.VehicleType)
            @Html.HiddenFor(m => m.VehicleId)
            @Html.HiddenFor(m => m.HasChanges, new { data_store_skip = "true" })
            @Html.Hidden("JourneyType", (int)Model.JourneyType)

            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Where will your vehicle be kept overnight?</legend>
                @foreach (var overnightParking in Model.OvernightParkingItems)
                {
                    @Html.RadioButtonFor(m => m.OvernightParkingCode, overnightParking.Key, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = $"vehicle-details_overnight-parking_{overnightParking.Key}", data_testid = $"{componentId}__vehicle-details_overnight-parking-input", data_store = $"{nameof(Model.OvernightParkingCode)}" })
                    @Html.LabelFor(x => x.OvernightParkingCode, overnightParking.Value, new { @class = "form-row__label form-row__label--pill", @for = $"vehicle-details_overnight-parking_{overnightParking.Key}", data_testid = $"{componentId}__vehicle-details_overnight-parking-label", @role = "button", @tabindex = "0" })
                }
            </fieldset>
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit"
                        class="button button--primary button--large button--right slide-panel__close"
                        id="vehicle-overnight_done-button"
                        data-testid="@(componentId)__done-button">
                    @(Model.JourneyType == JourneyTypes.MultiStepEdit ? "Continue" : "Done")
                </button>
                @if (displayCloseBackButton)
                {
                    <a href="#" class="button button--text button--large button--left button--back" data-testid="@(componentId)__back-button" data-dismiss="slide-panel" aria-label="Back">Back</a>
                }
                else if (Model.JourneyType == JourneyTypes.MultiStepEdit)
                {
                    <a class="button button--text button--large button--back button--left" data-step-type="previous-step-journey"
                       data-component="motorclaims"
                       href="@Model.ComponentConfiguration.PreviousStepUrl" data-testid="@(componentId)__back-button">Back</a>
                }
            </div>
        </div>
    }
</div>
