﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.VehicleDetails.Enums
@model BGL.Components.VehicleDetails.Models.PurchaseDateViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}_form-edit-date-of-purchase";
    var hideSubmitButtonClass = "hide";
    string backButtonUrl = Url.Action("Modifications", "VehicleDetailsComponentModifications");
    if (Model.ComponentConfiguration.IsService)
    {
        backButtonUrl = Url.Action("ImportantInformation", "VehicleDetailsComponentImportantInformation");
    }
    else if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        backButtonUrl = $"{Model.ComponentConfiguration.ComponentUrl}#modifications";
    }
}

    <div class="narrow" id="@(componentId)__vehicle-container" data-component-id="@componentId" data-testid="@(componentId)__edit-date-of-purchase-view">
        @if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_QuoteProgressBar")
        }

        @using (Html.BeginFormBgl("ConfirmPurchaseDate", "VehicleDetailsComponentPurchaseDate", FormMethod.Post, new
        {
            id = formId,
            @class = "step-form",
            data_testid = componentId + "__form",
            data_on_success = "bgl.components.vehicledetails.purchasedate.onSuccess",
            data_on_error = "bgl.components.vehicledetails.purchasedate.onError",
            data_store_key = Model.DataStoreKey
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Value, new { data_store = $"{nameof(Model.Value)}" })
            @Html.HiddenFor(m => m.VehicleId)
            @Html.HiddenFor(m => m.VehicleType)
            @Html.Hidden("JourneyType", (int)Model.JourneyType)
            @Html.HiddenFor(m => m.HasValue)
            @Html.HiddenFor(m => m.HasChanges, new { data_store_skip = "true" })
            @Html.Hidden("CurrentYear", DateTime.Today.Year)
            @Html.Hidden("CurrentMonth", DateTime.Today.ToString("%M"))

            <h1 class="step-form__section-title">About your @Model.VehicleType</h1>

            <div class="form-row addon-radio__wrapper form_row__fieldset_header__wrapper">
                <fieldset class="form-row__field-set fieldset-header form_row__fieldset_header">
                    <legend><h2 class="step-form__heading">Have you already purchased the @Model.VehicleType?</h2></legend>
                    @Html.RadioButtonFor(x => x.IsVehiclePurchased, true, new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "vehicle-purchased-yes", data_store = $"{nameof(Model.IsVehiclePurchased)}", data_dependent_property = "IsVehiclePurchased" })
                    @Html.LabelFor(x => x.IsVehiclePurchased, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "vehicle-purchased-yes", data_testid = componentId + "__radio-button-yes" })

                    @Html.RadioButtonFor(x => x.IsVehiclePurchased, false, new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "vehicle-purchased-no", data_store = $"{nameof(Model.IsVehiclePurchased)}", data_dependent_property = "IsVehiclePurchased" })
                    @Html.LabelFor(x => x.IsVehiclePurchased, "No", new { @class = "form-row__label form-row__label--pill", @for = "vehicle-purchased-no", data_testid = componentId + "__radio-button-no" })
                </fieldset>
                @Html.ValidationMessageFor(x => x.IsVehiclePurchased, string.Empty, new { @class = "form-row__validation-text" })
            </div>

            <div class="form-row__inline-wrapper purchase-date-dropdowns @(Model.IsVehiclePurchased != true ? "hide" : string.Empty)">
                <p class="help-text__sub-text">If you know the year of purchase but can't remember the month, please select December for the month.</p>
                <div class="form-row">
                    <div class="form-row__input-wrapper form-row__input-wrapper--half">
                        <label class="form-row__label" for="Purchased-Month">What Month?</label>

                        @Html.DropDownListFor(model => model.Month, Model.Months, "Please select...",
                            new { @class = "form-row__select", id = "Purchased-Month", name = "Purchased-Month", data_testid = componentId + "__month_dropdownlist", data_store = $"{nameof(Model.Month)}" })

                        <div class="form-row__error-text-container">
                            @Html.ValidationMessageFor(model => model.Month, string.Empty,
                                new { @class = "form-row__validation-text", data_testid = componentId + "__month_validation-message" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-row__input-wrapper form-row__input-wrapper--half">
                        <label class="form-row__label" for="Purchased-Year">What Year?</label>

                        @Html.DropDownListFor(model => model.Year, Model.Years, "Please select...",
                            new { @class = "form-row__select", id = "Purchased-Year", name = "Purchased-Year", data_testid = componentId + "__year_dropdownlist", data_store = $"{nameof(Model.Year)}" })

                        <div class="form-row__error-text-container">
                            @Html.ValidationMessageFor(model => model.Year, string.Empty,
                                new { @class = "form-row__validation-text", data_testid = componentId + "__year_validation-message" })
                        </div>
                    </div>
                </div>

            </div>

            <div class="page-section--inner">
                <div class="button-container">
                    @if (Model.JourneyType == JourneyTypes.SingleEdit || (Model.HasValue && Model.JourneyType != JourneyTypes.MultiStepEdit))
                    {
                        <button type="submit" formnovalidate name="submitButton" title="Submit button"
                                class="button button--primary button--large button--right" data-testid="@(componentId)__done-button">
                            Done
                        </button>
                    }
                    else
                    {
                        <button type="submit" formnovalidate name="submitButton" title="Submit button"
                                class="button button--primary button--large button--right @hideSubmitButtonClass" data-testid="@(componentId)__continue-button">
                            Continue
                        </button>
                    }

                    @if (Model.JourneyType != JourneyTypes.SingleEdit)
                    {
                        <a class="button button--text button--large button--back button--left vehicle-builder-back-button" data-step-type="previous-step"
                           href="@backButtonUrl" data-testid="@(componentId)__step-back-button">Back</a>
                    }

                </div>
            </div>
        }
    </div>
