﻿<nav class="breadcrumbs breadcrumbs--five-items" aria-label="progress bar">
    <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item">Edit</li>
        <li class="breadcrumbs__item">Review</li>
        <li class="breadcrumbs__item">Schedule</li>
        <li class="breadcrumbs__item">Quote</li>
        <li class="breadcrumbs__item">Done</li>
    </ol>
</nav>