﻿@model BGL.Components.VehicleDetails.Models.VehicleBuilderViewModel
@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="form-row error" data-testid="vehicle-builder__step-validation-container">
    <div class="form-row__error-text-container">
        <span class="form-row__validation-text" data-testid="@(componentId)__validation-message">
            @Html.Raw(HttpUtility.HtmlDecode(Model.ValidationMessage))
        </span>
    </div>
</div>