﻿@using BGL.Components.VehicleDetails.Constants
@model BGL.Components.VehicleDetails.Models.VehicleLookupViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = Model.ComponentConfiguration.Id;
}

<div id="@componentId" class="panel" data-testid="@(componentId)__section">
    <div class="form-row form-row--static no-label">
        <div class="form-row__static-section" data-testid="@(componentId)__vehicle-lookup_heading-text">
            <h3 class="review-overview__heading">
                <strong class="review-overview__heading-text review-overview__heading-text--main">
                    @Model.Registration @Model.Manufacturer @Model.Model
                </strong>
                <span class="review-overview__heading-mid-wrapper">
                    @Model.Trim
                </span>
                <span class="review-overview__heading-sub-wrapper">
                    @Model.FuelType @Model.EngineSize, @Model.NumberOfDoors, @Model.TransmissionType
                </span>
            </h3>
        </div>
        @if (Model.IsEditButtonVisible)
        {
            <div class="form-row__static-section form-row__static-section--edit">
                <button class="form-row__edit-button" id="vehicle-lookup_edit-button"
                   data-toggle="slide-panel"
                   data-target="#SlidePanel"
                   data-vehicle-id="@Model.Id"
                   data-container="SlidePanelContent"
                   data-action-url="@Url.Action("Searching", "VehicleDetailsComponentSearching")"
                   data-testid="@(componentId)__vehicle-lookup_edit-button"
                   data-store-key="@VehicleLookupJourneyConstants.DataStoreKey">
                    <img class="form-row__edit-image" src="@(configuration.TenantConfiguration.ResourceBasePath)icon-edit.svg" alt="Edit vehicle details" />
                </button>
            </div>
        }
    </div>
</div>