﻿@using System.Web.Mvc.Html
@model BGL.Components.VehicleDetails.Models.VehicleBuilderViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

@foreach (var item in Model.VehicleBuilderTileItems)
{
    <button class="button button--radio step-form__button vehicle-lookup__button vehicle-builder-button" data-testid="@(componentId)_step__option_@(item.Id)"
       data-item-id="@item.Id"
       data-step-type="next-step" ,
       data-redirect-url="@Url.Action("VehicleBuilder", "VehicleDetailsComponentSearching")">
        <p class="vehicle-lookup__button-text step-form__button-text">
            <strong class="vehicle-lookup__button-text--main step-form__button-text--main">
                @item.MainText
            </strong>
            <span class="vehicle-lookup__button-text--sub step-form__button-text--sub">
                @item.SubText
            </span>
        </p>
    </button>
}

@Html.Partial("_DropDownContent", Model)
