﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-audio-equipment.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Audio equipment</strong>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        Cover for your sound system
    </p>
</div>

<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    The cost of replacing or repairing the vehicle&apos;s audio, navigation and entertainment equipment
                </li>
                <li class="list__item">
                    Unlimited cover for equipment fitted by the manufacturer
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">Things to think about</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    Cover is limited to &pound;500 for any equipment not fitted by the manufacturer, as long as it is permanently fitted to the vehicle
                </li>
                <li class="list__item info">
                    No cover if the vehicle is left unsecured
                </li>
            </ul>
            <p class="fbels__admin-text">See policy documents for full information</p>
        </div>
        @Html.Partial("_QuestionBoxComprehensiveCover", "Audio Equipment")
    </div>
</div>

@Html.Partial("_ButtonContainer")
