﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-courtesy-van.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Courtesy Van</strong>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        Provides a replacement vehicle whilst an approved repairer fixes yours
    </p>
</div>
<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    A courtesy van is available for up to 7 days
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">Things to think about</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    The replacement van will be a car derived van
                </li>
                <li class="list__item info">
                    You can upgrade to a Guaranteed Replacement Van for 28 days or to our Guaranteed Replacement Van Plus for a vehicle of a similar size for up to 60 days, at an additional cost to you
                </li>
                <li class="list__item info">
                    The terms, conditions and excesses for your policy will apply to the courtesy van
                </li>
            </ul>
            <p class="fbels__admin-text">See policy documents for full information</p>
        </div>
    </div>
    @Html.Partial("_QuestionBoxComprehensiveCover", "Courtesy Van")
</div>

@Html.Partial("_ButtonContainer")
