﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-windscreen-cover.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Van Windscreen Cover</strong>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        Covering the cost of repairing or replacing your glass
    </p>
</div>
<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    The front windscreen, side, rear window and standard sunroof
                </li>
                <li class="list__item">
                    The cost of repairing or replacing it
                </li>
                <li class="list__item">
                    The insurer will pay for any repair to the bodywork of the vehicle that has been damaged by broken glass from the windscreen or windows
                </li>
                <li class="list__item">
                    Unlimited cover if the repair or replacement is carried out by one of our approved suppliers
                </li>
                <li class="list__item">
                    A claim under this section only will not affect your no claims discount
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">Things to think about</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    If you choose to use your own supplier, then cover will be limited to &pound;100 less any excess
                </li>
                <li class="list__item info">
                    No cover for damaged or broken glass in panoramic glass roofs
                </li>
            </ul>
            <p class="fbels__admin-text">See policy documents for full information</p>
        </div>
        @Html.Partial("_QuestionBoxComprehensiveCover", "Windscreen Cover")
    </div>
</div>

@Html.Partial("_ButtonContainer")
