﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.AdditionalDetails

@{
    ViewBag.Title = "Payment Schedule";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderPaymentsRegularity(new ComponentAdditionalDetailsConfiguration
        {
            Id = "PaymentsRegularity",
            NextPageUrl = Url.Action("AndFinally", "OtherDetails"),
            DataStoreKey = "OtherDetails",
            PreviousPageUrl = Url.Action("OtherVehicles", "YourCover"),
            TenantConfiguration = tenantConfiguration
        })
    </div>
</div>