﻿<p class="ncd-source__text">
    You may need to provide no claims discount proof within 12 days of your policy start date. You can easily upload or send it to us later.
</p>

<h3 class="ncd-source__section-heading">
    What is acceptable no claims discount proof?
</h3>

<p class="ncd-source__text">
    Your renewal offer from your last UK insurer or broker will show your proof of No Claims Discount. This may also be shown as No Claims Bonus (NCB).
</p>

<p class="ncd-source__text">
    Your proof of No Claims Discount must meet the following criteria:
</p>

<ul class="list">
    <li class="list__item">
        Be less than 2 years old
    </li>
    <li class="list__item">
        Show the No Claims Discount in years or percentage
    </li>
    <li class="list__item">
        Show the date the policy ended or was due to be renewed
    </li>
    <li class="list__item">
        Include the registration number of the vehicle
    </li>
    <li class="list__item">
        Must not be in use on another vehicle
    </li>
    <li class="list__item">
        The proof must be in English
    </li>
</ul>

<h3 class="ncd-source__section-heading">
    Acceptable proof of Experienced Driver Discount
</h3>

<p class="ncd-source__text">
    You may need to provide no claims discount proof within 12 days of your policy start date. You can easily upload or send it to us later.
</p>

<p class="ncd-source__text">
    Your Statement or Schedule of Insurance will show the proof of your No Claims Discount/Claims Free Driving Experience.
</p>

<p class="ncd-source__text">
    If you don't have either of these we can also accept any other document from the current insurer providing it meets the following criteria:
</p>

<ul class="list">
    <li class="list__item">
        It must be for an active policy on a different vehicle to the one being insured with us
    </li>
    <li class="list__item">
        It must show the No Claims Discount/Claims Free Driving Experience in years or percentage
    </li>
    <li class="list__item">
        It must be from a car or van - we will not accept No Claims Discount/Claims Free Driving Experience from motorcycle policies
    </li>
</ul>


<h3 class="ncd-source__section-heading">
    Important
</h3>

<p class="ncd-source__text">
    All documentation provided to us is only acceptable where you are either:
</p>

<ul class="list">
    <li class="list__item">
        The policy holder; or
    </li>
    <li class="list__item">
        A named driver who is the husband or wife of the policy holder; or
    </li>
    <li class="list__item">
        A named driver who is the civil partner of the policy holder
    </li>
    <li class="list__item">
        Unfortunately we are not able to accept proof from a company vehicle or foreign Insurer for your Experienced Driver Discount
    </li>
</ul>

