﻿@using System.Security.Cryptography.X509Certificates
@using System.Web.Mvc.Html
@model BGL.Components.AdditionalDetails.Models.AdditionalDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

@if (Model.IsVehiclePurchased == false)
{
    <div class="form-row form-row--multi-input" id ="Additional-Input-Purchase-Section">
        <p class="form-row__label">When did you purchase your vehicle?</p>
        <div class="form-row form-row__input-wrapper form-row__input-wrapper--half" id="Month-Section">
            @Html.LabelFor(model => model.Month, "Select the month you purchased your vehicle", new { @class = "visually-hidden form-row" })
            @Html.DropDownListFor(model => model.Month, Model.Months, "Please select...",
                new { @class = "form-row__select", data_testid = componentId + "__month_dropdownlist" })

            <div class="form-row__error-text-container">
                @Html.ValidationMessageFor(model => model.Month, string.Empty,
                    new { @class = "form-row__validation-text", data_testid = componentId + "__month_validation-message" })
            </div>
        </div>
        <div class="form-row form-row__input-wrapper form-row__input-wrapper--half" id="Year-Section">
            @Html.LabelFor(model => model.Year, "Select the year you purchased your vehicle", new { @class = "visually-hidden form-row" })
            @Html.DropDownListFor(model => model.Year, Model.Years, "Please select...",
                new { @class = "form-row__select", data_testid = componentId + "__year_dropdownlist" })

            <div class="form-row__error-text-container">
                @Html.ValidationMessageFor(model => model.Year, string.Empty,
                    new { @class = "form-row__validation-text", data_testid = componentId + "__year_validation-message" })
            </div>
        </div>
    </div>
}
else
{
    @Html.HiddenFor(m => m.Month)
    @Html.HiddenFor(m => m.Year)
    @Html.HiddenFor(m => m.IsVehiclePurchased)
}
