﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.AdditionalDetails.Models.AdditionalDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}_form-vehicle-registration";
}

@if (!Model.HasRegistrationNumber)
{
    <div class="form-row">
        <label class="form-row__label" for="Additional-Input-Registration">Registration number</label>
        @Html.TextBoxForBgl(model => model.RegistrationNumber, new { id = "Additional-Input-Registration", @class = "form-row__input form-row__input--registration form-row__input--text", type = "text", name = "registration", data_testid = componentId + "__registration-number-input", tabindex = 0 })
        <div class="form-row__error-text-container">
            @Html.ValidationMessageFor(model => model.RegistrationNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__registration-number_validation-message" })
        </div>
    </div>
}
else
{
    @Html.HiddenFor(m => m.RegistrationNumber)
    @Html.HiddenFor(m => m.HasRegistrationNumber)
}
