﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.AdditionalDetails.Models.AdditionalDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="page-section">
    <div class="page-section--inner" data-component-id="@componentId">
        @using (Html.BeginFormBgl("UpdateAdditionalDetails", "AdditionalDetailsComponent", FormMethod.Post, new
        {
            id = $"{componentId}-form-additional-details",
            data_testid = $"{componentId}_form",
            data_on_success = "bgl.components.additionaldetails.common.onSuccess",
            data_on_error = "bgl.components.additionaldetails.common.onError"
        }))
        {
            @Html.AntiForgeryToken()
            
            @Html.Partial(Model.OneMoreThingHeaderViewName)

            @Html.Partial("_VehicleData", Model)
            @Html.Partial("_DriverTelephones", Model)
            @Html.Partial("_SourceOfNcd", Model)

            <div class="page-section">
                <div class="page-section--inner">
                    <div class="button-container">
                        <button type="submit" class="button button--primary button--large button--right" data-testid="@(componentId)__submit-button"><strong>Next: </strong><span>Payment details</span></button>
                        <a class="button button--text button--large button--back button--left" href="#" id="Additional-BackButton">Back</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
