﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.AdditionalDetails.Models.AdditionalDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="page-section">
    <div class="page-section--inner" data-component-id="@componentId">
        @using (Html.BeginFormBgl("UpdateAlmostThereDetails", "AdditionalDetailsComponent", FormMethod.Post, new
        {
            id = $"{componentId}-form-additional-details",
            data_testid = $"{componentId}_form",
            data_on_success = "bgl.components.additionaldetails.common.onSuccess",
            data_on_error = "bgl.components.additionaldetails.common.onError"
        }))
        {
            @Html.AntiForgeryToken()

            <div class="page-heading">
                <h1 class="page-heading__heading">Great, you&#39;re almost there!</h1>
                <h2 class="h3">Based on your selection, this policy meets your car insurance needs.</h2>
            </div>

            <div class="page-section--inner" data-component-id="AdditionalDetails">
                <a href="@Model.ComponentConfiguration.ReviewPageUrl" data-testid="@(componentId)__review-slider-button" id="review-slider-button" class="button button--text">
                    Review or edit policy details
                </a>
                
                @if (!Model.HasNcdSourceCode || !Model.HasPhoneNumber || !Model.HasRegistrationNumber || !Model.IsVehiclePurchased)
                {
                    <p class="page-heading__text">
                        We need to know the following information before you continue.
                    </p>
                }

            </div>


            @Html.Partial("_VehicleData", Model)

            @Html.Partial("_DriverTelephones", Model)

            @Html.Partial("_SourceOfNcd", Model)

        }
    </div>
</div>