﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.AdditionalDetails.Models.AndFinallyViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div data-component-id="@componentId">
    @using (Html.BeginFormBgl("AndFinallyConfirm", "AdditionalDetailsComponentAndFinally", FormMethod.Post,
        new
        {
            id = "and-finally-form",
            @class = "step-form",
            data_store_key = Model.DataStoreKey,
            data_on_success = "bgl.components.additionaldetails.andfinally.onSuccess",
            data_on_error = "bgl.components.additionaldetails.andfinally.onError"

        }))
    {
        @Html.AntiForgeryToken()

        <h1 class="step-form__section-title" for="Contact-Details">Your contact details</h1>
        <h2 class="step-form__heading">And finally...</h2>

        <div class="form-row">
            @Html.LabelFor(x => x.Email, new { @class = "form-row__label" })
            <p class="help-text__sub-text">We'll use this email to send you your quote details.</p>
            @Html.TextBoxForBgl(x => x.Email, new { @class = "form-row__input", type = "email", data_store = $"{nameof(Model.Email)}" })
            @Html.ValidationMessageFor(x => x.Email, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__email-validation-message" })
            <div class="form-row__divider"></div>
        </div>

        <div class="form-row">
            @Html.LabelFor(x => x.PhoneNumber, new { @class = "form-row__label" })
            <p class="help-text__sub-text">Please give us your preferred telephone number. We will use this to contact you about your policy if we need to.</p>
            @Html.TextBoxForBgl(x => x.PhoneNumber, new { @class = "form-row__input", type = "tel", data_store = $"{nameof(Model.PhoneNumber)}" })
            @Html.ValidationMessageFor(x => x.PhoneNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__phone-number-validation-message" })
            <div class="form-row__divider"></div>
        </div>

        <div class="page-section--inner narrow spaced">
            <div class="button-container">
                <button type="submit"
                        class="button button--primary button--large button--right"
                        id="and-finally-get-quote-button"
                        data-next-step-url="@Model.ComponentConfiguration.NextPageUrl"
                        data-testid="@(componentId)__get-quote-button">
                    <strong>Get Quote</strong>
                </button>
                <a class="button button--text button--back button--left" href="@Model.ComponentConfiguration.PreviousPageUrl" data-testid="@(componentId)__back-button">Back</a>
            </div>
        </div>
    }
</div>