﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.AdditionalDetails.Models.AndFinallyViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div data-component-id="@componentId">

    @using (Html.BeginFormBgl("PaymentRegularityConfirmMvt", "AdditionalDetailsComponentPaymentsRegularity", FormMethod.Post,
        new
        {
            id = "payments-regularity-form",
            @class = "step-form",
            data_store_key = Model.DataStoreKey,
            data_on_success = "bgl.components.additionaldetails.paymentsregularityhiddenemailtel.onSuccess",
            data_on_error = "bgl.components.additionaldetails.paymentsregularityhiddenemailtel.onError"

        }))
    {
        <h1 class="step-form__section-title">Your cover</h1>
        <h2 class="step-form__heading">How would you normally pay for your car insurance?</h2>
        <p class="help-text__sub-text">This can be changed once you have received a quote.</p>

        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden"></legend>

                @Html.RadioButtonFor(x => x.PaymentsPreference, "I", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "payments-preference-monthly", data_store = $"{nameof(Model.PaymentsPreference)}", aria_describedby = "PaymentsPreference-error" })
                @Html.LabelFor(x => x.PaymentsPreference, "Monthly", new { @class = "form-row__label form-row__label--pill", @for = "payments-preference-monthly", data_testid = componentId + "__radio-button-monthly", @role = "button", @tabindex = "0" })

                @Html.RadioButtonFor(x => x.PaymentsPreference, "A", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "payments-preference-annually", data_store = $"{nameof(Model.PaymentsPreference)}", aria_describedby = "PaymentsPreference-error" })
                @Html.LabelFor(x => x.PaymentsPreference, "Annually", new { @class = "form-row__label form-row__label--pill", @for = "payments-preference-annually", data_testid = componentId + "__radio-button-annually", @role = "button", @tabindex = "0" })

                @Html.ValidationMessageFor(x => x.PaymentsPreference, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__payment_regularity_error", role = "alert" })


                @Html.HiddenFor(x => x.Email, new { Class = "hidden-input", data_store = "Email" })
                @Html.HiddenFor(x => x.PhoneNumber, new { Class = "hidden-input", data_store = "PhoneNumber" })
                @*<input type="hidden" class="hidden-input" data-store="Email" name="Email" value="">
                    <input type="hidden" class="hidden-input" data-store="PhoneNumber" name="PhoneNumber" value="">*@
                @Html.AntiForgeryToken()

            </fieldset>
        </div>

        <div class="page-section--inner narrow spaced">
            <div class="button-container">
                <button type="submit"
                        class="button button--primary button--large button--right"
                        id="get-quote-button"
                        data-testid="@(componentId)__get-quote-button">
                    <strong>Get Quote</strong>
                </button>
                <a class="button button--text button--back button--left" href="@Model.ComponentConfiguration.PreviousPageUrl" data-testid="@(componentId)__back-button">Back</a>
            </div>
        </div>
    }
</div>