﻿@using System.Web.Mvc.Html
@model BGL.Components.VehicleDetails.Models.AssumedDataViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="form-row">
    @Html.LabelFor(m => m.SecurityDeviceCode, "Alarm/Immobiliser", new { @class = "form-row__label" })
    @Html.DropDownListFor(m => m.SecurityDeviceCode, Model.SecurityDevices, "Please select...", new { @class = "form-row__select short", data_testid = $"{componentId}__assumed-data-dropdown", data_store = $"{nameof(Model.SecurityDeviceCode)}" })
    <div class="form-row__error-text-container">
        @Html.ValidationMessageFor(model => model.SecurityDeviceCode, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__assumed-data-dropdown_validation-message" })
    </div>
</div>

<div class="form-row">
    <fieldset class="form-row__field-set">
        <legend class="form-row__legend">Tracking device</legend>

        @Html.RadioButtonFor(m => m.HasTrackingDevice, true, new { id = "Tracking-Device-Yes", @class = "form-row__input form-row__input--radio form-row__input--hidden", data_testid = $"{componentId}__assumed-data-tracking-device-yes-button", data_store = $"{nameof(Model.HasTrackingDevice)}" })
        @Html.Label("Tracking-Device-Yes", "Yes", new { @class = "form-row__label form-row__label--pill" })

        @Html.RadioButtonFor(m => m.HasTrackingDevice, false, new { id = "Tracking-Device-No", @class = "form-row__input form-row__input--radio form-row__input--hidden", data_testid = $"{componentId}__assumed-data-tracking-device-no-button", data_store = $"{nameof(Model.HasTrackingDevice)}" })
        @Html.Label("Tracking-Device-No", "No", new { @class = "form-row__label form-row__label--pill" })
    </fieldset>
</div>

<div class="form-row">
    <fieldset class="form-row__field-set">
        <legend class="form-row__legend">Right hand drive</legend>

        @Html.RadioButtonFor(m => m.HasRightHandDrive, true, new { id = "Right-Hand-Drive-Yes", @class = "form-row__input form-row__input--radio form-row__input--hidden", data_testid = $"{componentId}__assumed-data-right-hand-drive-yes-button", data_store = $"{nameof(Model.HasRightHandDrive)}" })
        @Html.Label("Right-Hand-Drive-Yes", "Yes", new { @class = "form-row__label form-row__label--pill" })

        @Html.RadioButtonFor(m => m.HasRightHandDrive, false, new { id = "Right-Hand-Drive-No", @class = "form-row__input form-row__input--radio form-row__input--hidden", data_testid = $"{componentId}__assumed-data-right-hand-drive-no-button", data_store = $"{nameof(Model.HasRightHandDrive)}" })
        @Html.Label("Right-Hand-Drive-No", "No", new { @class = "form-row__label form-row__label--pill" })
    </fieldset>
</div>