﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.VehicleDetails.Models.AssumedDataViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}_form-edit-assumed-data";
}

<div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__edit-assumed-data">

    @using (Html.BeginFormBgl("ConfirmSearchSummary", "VehicleDetailsComponentSearching", FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_testid = componentId + "__form",
        data_on_success = "bgl.components.vehicledetails.editassumeddata.onSuccess",
        data_on_error = "bgl.components.vehicledetails.editassumeddata.onError",
        data_store_key = Model.DataStoreKey
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.VehicleId)
        @Html.HiddenFor(model => model.JourneyType)

        <h1 class="step-form__section-title">About your @Model.VehicleType</h1>

        <div data-testid="@(componentId)__assumed-data-section">
            @Html.Partial("_AssumedDataSection", Model)
            <div class="page-section--inner">
                <div class="button-container">
                    <button type="submit"
                            formnovalidate
                            name="submitButton"
                            title="Submit"
                            class="button button--primary button--large button--right"
                            data-testid="@(componentId)__continue-button">
                        Done
                    </button>
                </div>
            </div>
        </div>
    }
</div>
