﻿@using BGL.Components.VehicleDetails.Enums
@model BGL.Components.VehicleDetails.Models.VehicleBuilderViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var vehicleBuilderUrl = Url.Action("VehicleBuilder", "VehicleDetailsComponentSearching");
}

<div class="button-container">
    @if (Model.CurrentStep == VehicleBuilderSteps.VehicleBuilderSpecificationStep && Model.IsValid)
    {
    <button @(Model.HasStepManyOptions ? "disabled" : string.Empty) class="button button--primary button--large button--right vehicle-builder-confirmation-button"
            data-redirect-url="@Url.Action("SearchSummary", "VehicleDetailsComponentSearching")"
            data-testid="@(componentId)__vehicle-builder-confirmation-button"
            id="builder-confirm-button">
        Yes, this is my @Model.VehicleType
    </button>
    }
    else
    {
        <button disabled class="button button--primary button--large button--right vehicle-lookup__confirm-button step-form__confirm-button vehicle-builder-dropdown-confirm-button"
                data-redirect-url="@vehicleBuilderUrl"
                id="builder-dropdown-confirm-button"
                data-testid="dropdown-confirm-button">
            Confirm
        </button>
    }

    @if (Model.CurrentStep != VehicleBuilderSteps.VehicleBuilderRegistrationYearStep)
    {
        <a class="button button--text button--large button--back button--left vehicle-builder-back-button" data-step-type="previous-step"
           href="@vehicleBuilderUrl" data-testid="@(componentId)__step-back-button">Back</a>
    }
</div>


