﻿@using System.Web.Mvc.Html
@using BGL.Components.VehicleDetails.Enums
@model BGL.Components.VehicleDetails.Models.ModificationsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var configuration = Model.ComponentConfiguration;
    var basePath = configuration.TenantConfiguration.ResourceBasePath;

    var vehiclePurchaseDateUrl = Url.Action("PurchaseDate", "VehicleDetailsComponentPurchaseDate");

    var deleteModificationUrl = Url.Action("DeleteModification", "VehicleDetailsComponentModifications");
    var addModificationUrl = Url.Action("AddModification", "VehicleDetailsComponentModifications");
    var remoteAllModificationParameters = Model.JourneyType == JourneyTypes.LookupEdit ? new { vehicleId = Model.VehicleId } : null;
    var removeAllModificationsUrl = Url.Action("RemoveAllModifications", "VehicleDetailsComponentModifications", remoteAllModificationParameters);

    var backButtonUrl = Model.ComponentConfiguration.JourneyType != JourneyTypes.MultiStepEdit
        ? Url.Action("SearchSummary", "VehicleDetailsComponentSearching")
        : $"{Model.ComponentConfiguration.ComponentUrl}#summary";

    var backButtonUrlVan = Model.ComponentConfiguration.JourneyType != JourneyTypes.MultiStepEdit
        ? Url.Action("NumberOfSeats", "VehicleDetailsComponentNumberOfSeats")
        : $"{Model.ComponentConfiguration.ComponentUrl}#numberOfSeats";
}


    <div class="step-form" data-testid="@(componentId)__modification-view">
        <form id="vehicle-modifications-form" data-store-key="@Model.DataStoreKey">
            <h1 class="step-form__section-title">About your @Model.VehicleType</h1>
            <h2 class="step-form__heading" data-testid="@(componentId)__modification-question">Has your @Model.VehicleType been modified?</h2>
            <p class="help-text__sub-text">Examples include changes to the bodywork, wheels, suspension, brakes and any cosmetic or performance changes.</p>
            <div class="form-row addon-radio__wrapper">
                <fieldset class="form-row__field-set">
                    <legend class="form-row__legend form-row__legend--hidden">Has your @Model.VehicleType been modified?</legend>
                    <input class="hide form-row__input form-row__input--radio form-row__input--hidden" type="radio" @(Model.IsModified == true ? "checked='checked'" : string.Empty)
                           name="modification" data-url="@addModificationUrl" id="Modification-Yes" value="Yes">
                    <label class="form-row__label form-row__label--pill" for="Modification-Yes" data-testid="@(componentId)__modification-yes-button" role="button" tabindex="0">Yes</label>

                    <input class="hide form-row__input form-row__input--radio form-row__input--hidden" type="radio" @(Model.IsModified == false ? "checked='checked'" : string.Empty) name="modification" id="Modification-No" value="No" data-store="@(nameof(Model.IsModified))">
                    <label class="form-row__label form-row__label--pill" for="Modification-No" data-testid="@(componentId)__modification-no-button" role="button" tabindex="0">No</label>
                </fieldset>
                <p class="form-row__validation-text">Validation Text</p>
            </div>
            <div class="step-form @(Model.IsModified != true ? "hide" : string.Empty)" id="Vehicle-Modification-List">

                <h2 class="step-form__summary-heading">
                    Your @Model.VehicleMake @Model.VehicleModel modifications
                </h2>

                <div class="step-form__summary-block">
                    @Html.HiddenFor(m => m.VehicleId)
                    @Html.HiddenFor(m => m.VehicleType)
                    @Html.Hidden("JourneyType", (int)Model.JourneyType)
                    @Html.Hidden("VehicleModificationsUrl", Url.Action("Modifications", "VehicleDetailsComponentModifications"))

                    @if (Model.ModificationItems?.Any() == true)
                    {
                        @Html.AntiForgeryToken()

                        foreach (var modification in Model.ModificationItems)
                        {
                            <div class="step-form__summary-item">
                                <div class="step-form__summary-item-row">
                                    <div class="step-form__summary-label-section">
                                        <p class="step-form__summary-label">
                                            <strong class="step-form__summary-label--main">
                                                @modification.ModificationType
                                            </strong>
                                        </p>
                                        <p class="step-form__summary-label">
                                            <span class="step-form__summary-label--sub">
                                                @modification.Modification
                                            </span>
                                        </p>
                                    </div>
                                    <div class="step-form__summary-action-section">
                                        <button type="button" class="form-row__edit-button vehicle-details_edit-button"
                                                data-role="delete"
                                                data-url="@deleteModificationUrl"
                                                data-value="@modification.ModificationId"
                                                data-testid="@(componentId)__delete-modification-link"
                                                data-modification-code="@modification.ModificationCode"
                                                data-modification-type-code="@modification.ModificationTypeCode">
                                            <img class="form-row__edit-image" src="@(basePath)icon-remove.svg" alt="Remove Modification @(modification.ModificationType) @(modification.Modification)">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <div class="step-form__summary-link-block">
                        @if (Model.ModificationItems?.Count() < 10)
                        {
                            <div class="step-form__summary-link-section">
                                <button class="link link--primary"
                                        id="add-vehicle-modifications"
                                        data-testid="@(componentId)__add-modifications"
                                        data-url="@addModificationUrl">
                                    Add another
                                </button>
                            </div>
                        }
                        @if (Model.ModificationItems?.Any() == true)
                        {
                            <div class="step-form__summary-link-section">
                                <button class="link link--primary"
                                        data-testid="@(componentId)__remove-all-link"
                                        id="remove-all-vehicle-modifications">
                                    Remove all
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="page-section--inner">
                <div class="button-container">
                    @if (Model.JourneyType == JourneyTypes.SingleEdit)
                    {
                        <button type="button" class="button button--primary button--large button--right slide-panel__close" data-dismiss="slide-panel"
                                id="vehicle-modification_done-button" data-testid="@(componentId)__done-button" data-isModified="@Model.IsModified" data-remove-all-url="@removeAllModificationsUrl">
                            Done
                        </button>
                    }
                    else
                    {
                        if (Model.JourneyType == JourneyTypes.MultiStepEdit)
                        {
                            <div class="hide" id="add-vehicle-modifications-div" data-toggle="slide-panel"
                                 data-target="#SlidePanel"
                                 data-container="SlidePanelContent"></div>
                        }

                        <button type="button" class="button button--primary button--large button--right @(Model.IsModified == null ? "hide" : string.Empty)"
                                id="vehicle-modification_continue-button" data-testid="@(componentId)__continue-button"
                                data-isModified="@Model.IsModified"
                                data-remove-all-url="@removeAllModificationsUrl"
                                data-next-step-url="@vehiclePurchaseDateUrl">
                            Continue
                        </button>

                        if (Model.IsVanPolicy)
                        {
                            <a class="button button--text button--large button--back button--left vehicle-modification-back-button"
                               href="@backButtonUrlVan" data-testid="@(componentId)__step-back-button" data-product-type="van">Back</a>
                        }
                        else
                        {
                            <a class="button button--text button--large button--back button--left vehicle-modification-back-button"
                               href="@backButtonUrl" data-testid="@(componentId)__step-back-button" data-product-type="car">Back</a>
                        }
                    }
                </div>
            </div>
        </form>
    </div>


@helper GenerateAddModificationLink(string componentId, JourneyTypes journeyType, string addModificationUrl)
{
    var buttonText = "Add another";

    if (journeyType != JourneyTypes.MultiStepEdit)
    {
        <button class="link link--primary"
                id="add-vehicle-modifications"
                data-testid="@(componentId)__add-modifications"
                data-url="@addModificationUrl">
            @buttonText
            </button>
        }
        else
        {
            <button class="link link--primary"
                    id="add-vehicle-modifications"
                    data-testid="@(componentId)__add-modifications"
                    data-url="@addModificationUrl">
                @buttonText
                </button>
            }
}