﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Components.VehicleDetails.Enums
@using BGL.Components.VehicleDetails.Extensions;
@model BGL.Components.VehicleDetails.Models.VehicleBuilderViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var currentStep = (int)Model.CurrentStep;
    Model.Breadcrumbs.VehicleType = Model.VehicleType;
    var curr = Model.CurrentStep;
}
<div class="narrow">
    @if (Model.ComponentConfiguration.IsService)
    {
        @Html.Partial("_QuoteProgressBar");
    }

    @Html.Partial("_ProgressBar", currentStep + 1)

    @Html.Partial("_Breadcrumbs", Model.Breadcrumbs)

    <div class="vehicle-lookup__button-wrapper step-form__button-wrapper data-container"
         data-vehicle-builder-values="@Model.VehicleBuilderValues.SerialiseObjectToJson(false)"
         data-current-step="@currentStep"
         data-testid="@(componentId)__data-container">
        <fieldset>
            <legend class="visually-hidden">@Model.CurrentStep.GetDisplayName()</legend>
            @if (Model.IsValid)
            {
                @Html.Partial(Model.ViewName, Model)
            }
            else
            {
                @Html.Partial("_VehicleBuilderStepValidationMessage", Model)
            }



            @Html.Partial("_ButtonContainer", Model)
        </fieldset>
    </div>
</div>