﻿@using BGL.Components.VehicleDetails.Constants
@model BGL.Components.VehicleDetails.Models.VehicleDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var basePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;
}

<div id="@componentId" class="accordion__section" data-testid="@(componentId)__section">
    <h2 class="h5 accordion__heading-wrapper">
        <button class="accordion__heading-button" data-accordion-key="@(componentId)-vehicle-details-accordion" aria-expanded="false" data-testid="@(componentId)__heading-accordion">
            Vehicle
        </button>
    </h2>
    <div class="accordion__body-wrapper">
        <div class="accordion__body-content">
            <table class="accordion-table">
                <tbody>
                    @foreach (var item in Model.VehicleDetailsItems)
                    {
                        if (item.IsDisplayed)
                        {
                        <tr class="table-row">
                            <th class="table-cell table-cell--label">
                                <p class="" data-testid="@(componentId)__label-text">
                                    @item.Description
                                </p>
                            </th>
                            <td class="table-cell table-cell--data">
                                <p class="" data-testid="@(componentId)__data">
                                    @item.Value
                                </p>
                            </td>
                            <td class="table-cell table-cell--edit">
                                @if (item.IsEditable)
                                {
                                    <button class="form-row__edit-button vehicle-details_edit-button"
                                            type="button"
                                            id="@(componentId)_@(item.EditActionKey)_@(item.DisplayOrder)_@(Model.VehicleId)_edit-button"
                                            data-toggle="slide-panel"
                                            data-target="#SlidePanel"
                                            data-container="SlidePanelContent"
                                            data-vehicle-id="@Model.VehicleId"
                                            data-vehicle-type="@Model.VehicleType"
                                            data-edit-action-key="@item.EditActionKey"
                                            data-action-url="@Url.Action(item.ActionUrl)"
                                            data-testid="@(componentId)_@(item.EditActionKey)__edit-button"
                                            data-store-key="@VehicleLookupJourneyConstants.DataStoreKey">
                                        <img class="form-row__edit-image" src="@(basePath)icon-edit.svg" data-testid="@(componentId)__edit-button" alt="@item.EditDescription" />
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                }
                    </tbody>
                </table>
        </div>
    </div>
</div>
