﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-addon-breakdown.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">RAC Breakdown Cover</strong>
    </h1>
    <h2 class="feature-header__heading">
        <small class="page-section__standard-heading-text"><strong>Premier Cover</strong> - UK Roadside + Recovery included. You have the option to upgrade your cover level.</small>
    </h2>
    <h2 class="feature-header__heading">
        <small class="page-section__standard-heading-text"><strong>Standard Cover</strong> - There are four options to choose from giving varying cover levels providing assistance in the event that your vehicle breaks down.</small>
    </h2>
    <div class="fbels">
        <h4 class="fbels__heading fbels__heading--remember">Roadside assistance</h4>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item">
                Help to repair the vehicle at the roadside when you’re more than a quarter mile from your home
            </li>
            <li class="list__item">
                Help to transport the vehicle, you and up to seven passengers to a destination of your choice, up to 10 miles, if the RAC cannot repair the vehicle at the roadside
            </li>
        </ul>
        <h4 class="fbels__heading fbels__heading--remember">Recovery</h4>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item">
                Help to transport the vehicle, you and up to seven passengers to a destination of your choice, within the UK, if the RAC cannot repair the vehicle
            </li>
        </ul>
        <h4 class="fbels__heading fbels__heading--remember">At Home</h4>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item">
                Help to repair the vehicle at, or within, a quarter of a mile of your home
            </li>
        </ul>
        <h4 class="fbels__heading fbels__heading--remember">Onward Travel</h4>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item">
                A replacement hire car for one day or up to £150 per person (maximum of £500 in total) for either alternative transport or overnight accommodation for the driver and up to 7 passengers while the vehicle is repaired
            </li>
        </ul>
    </div>
    <div class="feature-header__divider"></div>
</div>

<div class="tabs">
    <div class="fbels">
        <h4 class="fbels__heading fbels__heading--remember">Remember, there is no cover for:</h4>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item">
                Breakdowns that could have been prevented by regular servicing of the vehicle
            </li>
            <li class="list__item">
                The costs of parts, fuel or other supplies are excluded
            </li>
            <li class="list__item">
                Any claim that isn&apos;t a breakdown - i.e. Road traffic accident
            </li>
            <li class="list__item">
                Any labour provided at the garage to which the vehicle was taken
            </li>
            <li class="list__item">
                Any motor caravan, or vehicle in excess of 3.5 tonnes gross vehicle mass, or longer than 7.0 metres long including a tow bar 2.55 metres wide and 3 metres high
            </li>
            <li class="list__item">
                Cover in Europe is only allowed in acceptable countries. For a full list, please refer to your policy documents
            </li>
        </ul>
    </div>

    <div class="provision-box">
        <p class="provision-box__text">Provided by</p>
        <img class="provision-box__image provision-box__image--rac" src="@(basePath)logo-rac.svg" alt="">
    </div>

    @Html.Partial("_IPIDLink", "breakdown")
</div>

@Html.Partial("_ButtonContainer")
