﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-driving-abroad.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Driving Abroad</strong>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        Great news - you can take your car abroad
    </p>
</div>
<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    You and any named driver on your policy when using the car within the European Union
                </li>
                <li class="list__item">
                    Up to 60 days, in any period of insurance, full policy cover while you are using the car within the countries referred to in your policy documents
                </li>
                <li class="list__item">
                    The option to increase your cover for a longer period subject to your insurer's approval
                </li>
                <li class="list__item">
                    Customs duty will be covered if the car is damaged and the insurer decides not to return it after a valid claim on the policy
                </li>
                <li class="list__item">
                    Transportation while the car is being carried between sea or airports or railway stations within specified countries, if by a recognised route.
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">Things to think about</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    You will need an International Motor Insurance Card (Green Card) in order to drive abroad. Details of how to request a Green Card can be found in your policy documents.
                </li>
                <li class="list__item info">
                    <span>Further information on the countries that follow the above EU Directive can be found by visiting </span>
                    <a class="link link--secondary__new-window fbels__link" href="https://www.mib.org.uk/" rel="noopener" aria-label="Open MIB website in new window" target="_blank">www.mib.org.uk.</a>
                </li>
                <li class="list__item info">
                    If your Certificate of Motor Insurance allows a specific driver to drive any other vehicle, that cover does not apply outside of the territorial limits
                </li>
            </ul>
            <p class="fbels__admin-text">See policy documents for full information</p>
        </div>
    </div>

    @Html.Partial("_QuestionBoxComprehensiveCover", "Driving Abroad")
</div>

@Html.Partial("_ButtonContainer")