﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-drive-other-vehicles.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Drive other cars</strong>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        Great news - this policy allows you to drive other cars
    </p>
</div>

<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    Only applies to the specific driver as shown on your Certificate of Motor Insurance
                </li>
                <li class="list__item">
                    Cover is limited to Liability to Others  only whilst the specific driver is driving a car that is not owned by, registered to, or hired or leased to them
                </li>
                <li class="list__item">
                    There must be a current and valid Certificate of Motor Insurance held for the other car
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">Things to think about</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    You must have the owner&apos;s permission to drive the other car and providing your driving licence will allow you to drive the vehicle.
                </li>
                <li class="list__item info">
                    Cannot be used outside the territorial limits
                </li>
                <li class="list__item info">
                    This does not provide any cover for damage to the other car
                </li>
                <li class="list__item info">
                    Does not apply if your car is disposed of, or damaged beyond economical repair or stolen and not recovered
                </li>
            </ul>
            <p class="fbels__admin-text">See policy documents for full information</p>
        </div>
    </div>

    @Html.Partial("_QuestionBoxComprehensiveCover", "Drive other cars")
</div>

@Html.Partial("_ButtonContainer")
