﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-emergency-transport.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Emergency Transport</strong>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        Let us help look after you and your passengers if you have an accident
    </p>
</div>

<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    Up to &pound;400 per incident for alternative travel expenses for you and your passengers to reach your destination and/or
                </li>
                <li class="list__item">
                    Emergency overnight accommodation when an unplanned overnight stay is necessary
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">Things to think about</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    You'll need to pay for the accommodation and/or travelling expenses and forward receipts to your insurer to reimburse you
                </li>
                <li class="list__item info">
                    Up to &pound;100 per person with a maximum of £400 per incident for alternative transport or overnight accommodation
                </li>
                <li class="list__item info">
                    The cost of any drinks, meals, clothing etc. is not covered
                </li>
            </ul>
            <p class="fbels__admin-text">See policy documents for full information</p>
        </div>
        @Html.Partial("_QuestionBoxComprehensiveCover", "Emergency Transport")
    </div>
</div>

@Html.Partial("_ButtonContainer")
