﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-addon-grc.svg" alt="Breakdown Cover Icon">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Guaranteed Replacement Car</strong>
    </h1>
    <h2 class="feature-header__heading">
        <small class="page-section__standard-heading-text"><strong>Premier Cover</strong> - Up to 28 days cover is included as part of your cover.</small>
    </h2>
    <h2 class="feature-header__heading">
        <small class="page-section__standard-heading-text"><strong>Standard Cover</strong> - This is an optional extra and you can add up to 14 or 28 day cover to your policy.</small>
    </h2>
    <p class="feature-header__sub-heading">
        Keeping you mobile should your car not be driveable following an accident or theft
    </p>

</div>

<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h4 class="fbels__heading fbels__heading--cover">Key benefits</h4>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    A replacement vehicle if yours is not driveable or deemed a total loss following a road accident, fire or theft
                </li>
                <li class="list__item">
                    Choose length of cover between up to 14 or up to 28 days cover
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h4 class="fbels__heading fbels__heading--remember">Things to think about</h4>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    Subject to the terms and conditions of the vehicle replacement provider
                </li>
                <li class="list__item info">
                    Provides a small hatchback (typically with a 1 litre engine)
                </li>
                <li class="list__item info">
                    A hire vehicle will not be provided when a courtesy car is made available to you
                </li>
                <li class="list__item info">
                    Excludes provisional licence holders
                </li>
            </ul>
        </div>
    </div>    
    <p class="admin-text">Administered by ACM ULR Ltd and underwritten by UK General Insurance Ltd on behalf of Great Lakes Insurance SE.</p>

    @Html.Partial("_IPIDLink", "guaranteed-replacement-vehicle")
</div>

@Html.Partial("_ButtonContainer")
