﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-addon-keycare.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Keycare</strong>
    </h1>
    <h2 class="feature-header__heading">
        <small class="page-section__standard-heading-text">Included as part of your Premier Cover</small>
    </h2>
    <div class="feature-header__divider"></div>
    <p class="feature-header__sub-heading">
        Up to &pound;1,000 of cover for your car, home and even your business premises keys.
    </p>
    <p class="feature-header__text">
        Because you told us you needed cover for lost keys, we think you would be interested in Keycare.
    </p>
</div>

<div class="addon">
    <div class="keycare-diagram">
        <div class="keycare-diagram__current-section">
            <h3 class="keycare-diagram__current-title">
                Already covered
            </h3>
            <div class="keycare-diagram__cover-bar keycare-diagram__cover-bar--current"></div>
            <div class="keycare-diagram__cover-item keycare-diagram__cover-item--current">
                <div class="keycare-diagram__image-wrapper keycare-diagram__image-wrapper--current">
                    <img class="keycare-diagram__image" src="@(basePath)icon-keycare-car.svg">
                </div>
                <p class="keycare-diagram__cover-text">
                    Stolen car keys
                </p>
            </div>
        </div>

        <div class="keycare-diagram__added-section">
            <h3 class="keycare-diagram__added-title">
                With Keycare cover - lost &amp; stolen keys
            </h3>
            <div class="keycare-diagram__cover-bar keycare-diagram__cover-bar--added"></div>
            <div class="keycare-diagram__item-wrapper">
                <div class="keycare-diagram__cover-item">
                    <div class="keycare-diagram__image-wrapper keycare-diagram__image-wrapper--added">
                        <img class="keycare-diagram__image keycare-diagram__image--added" src="@(basePath)icon-keycare-house.svg">
                    </div>
                    <p class="keycare-diagram__cover-text keycare-diagram__cover-text--added">
                        House keys
                    </p>
                </div>

                <div class="keycare-diagram__cover-item">
                    <div class="keycare-diagram__image-wrapper keycare-diagram__image-wrapper--added">
                        <img class="keycare-diagram__image keycare-diagram__image--added keycare-diagram__image--bike" src="@(basePath)icon-keycare-bike.svg">
                    </div>
                    <p class="keycare-diagram__cover-text keycare-diagram__cover-text--added">
                        Other vehicle keys
                    </p>
                </div>

                <div class="keycare-diagram__cover-item">
                    <div class="keycare-diagram__image-wrapper keycare-diagram__image-wrapper--added">
                        <img class="keycare-diagram__image keycare-diagram__image--added" src="@(basePath)icon-keycare-buildings.svg">
                    </div>
                    <p class="keycare-diagram__cover-text keycare-diagram__cover-text--added">
                        Business keys
                    </p>
                </div>

                <div class="keycare-diagram__cover-item">
                    <div class="keycare-diagram__image-wrapper keycare-diagram__image-wrapper--added">
                        <img class="keycare-diagram__image keycare-diagram__image--added" src="@(basePath)icon-keycare-lock.svg">
                    </div>
                    <p class="keycare-diagram__cover-text keycare-diagram__cover-text--added">
                        Padlock keys
                    </p>
                </div>

                <div class="keycare-diagram__cover-item">
                    <div class="keycare-diagram__image-wrapper keycare-diagram__image-wrapper--added">
                        <img class="keycare-diagram__image keycare-diagram__image--added" src="@(basePath)icon-keycare-key.svg">
                    </div>
                    <p class="keycare-diagram__cover-text keycare-diagram__cover-text--added">
                        Or any keys
                    </p>
                </div>

            </div>
        </div>
    </div>

    <p class="addon__text">
        Access to a national network of locksmiths, cover for keys that have been permanently lost, stolen, or locked in the building or vehicle, new locks, and even reprogramming your immobiliser with no excess to pay.
    </p>
</div>

<div class="tabs">
    <div class="fbels">
        <div class="fbels__section ">
            <h4 class="fbels__heading fbels__heading--cover">Key benefits</h4>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    Emergency helpline available 24 hours a day, 365 days per year
                </li>
                <li class="list__item">
                    Up to &pound;1,000 of cover per year for lost or stolen keys
                </li>
                <li class="list__item">
                    Keys for any lock are covered
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h4 class="fbels__heading fbels__heading--remember">Things to think about</h4>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    Claims must be reported within 30 days
                </li>
                <li class="list__item info">
                    Claims relating to damaged keys or locks, or the result of wear and tear are not covered
                </li>
                <li class="list__item info">
                    Lost keys will usually require a period of three days before being replaced
                </li>
            </ul>
        </div>
    </div>    
    
    <p class="legal-text">
        Administered by Keycare Ltd and underwritten by Ageas Insurance Ltd.
    </p>

    @Html.Partial("_IPIDLink", "keycare")
</div>

@Html.Partial("_ButtonContainer")
