﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-personal-belongings.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Personal Belongings</strong>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        We'll cover your personal belongings too
    </p>
</div>
<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    Up to &pound;100 for personal belongings not permanently fitted to the car
                </li>
                <li class="list__item">
                    Lost or damaged items following an accident, fire, theft or attempted theft involving the car
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">Things to think about</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    No cover for damage caused by wear and tear or depreciation
                </li>
                <li class="list__item info">
                    Belongings not covered if left in an open or convertible car, unless locked in the boot or glove box
                </li>
                <li class="list__item info">
                    If the car is left unattended without being locked completely the items won't be covered
                </li>
                <li class="list__item info">
                    No cover for money, credit or debit cards
                </li>
                <li class="list__item info">
                    Mobile phones aren't included in this cover
                </li>
            </ul>
            <p class="fbels__admin-text">See policy documents for full information</p>
        </div>
        @Html.Partial("_QuestionBoxComprehensiveCover", "Personal Belongings")
    </div>
</div>

@Html.Partial("_ButtonContainer")
