﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-personal-accident.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Personal Accident Benefits</strong>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        If you or your partner are accidentally killed or permanently injured while getting in, travelling in or getting out of the car or any other private car that you do not own the insurer will pay
    </p>
</div>

<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    &pound;5,000 for death
                </li>
                <li class="list__item">
                    &pound;5,000 for the total and irrecoverable loss of sight in one or both eyes
                </li>
                <li class="list__item">
                    &pound;5,000 for the permanent loss of use of one or more limbs above the wrist or ankle
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">Things to think about</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    The insurer will only pay these amounts if the cause of death or injury is an accident involving a car
                </li>
                <li class="list__item info">
                    Death or loss happens within 3 calendar months of the accident to be covered
                </li>
                <li class="list__item info">
                    &pound;10,000 limit per incident
                </li>
                <li class="list__item info">
                    If you or your partner has any other car insurance policy with the insurer, they will only pay the benefit under one policy
                </li>
            </ul>
            <p class="fbels__admin-text">See policy documents for full information</p>
        </div>
        @Html.Partial("_QuestionBoxComprehensiveCover", "Personal Accident Benefits")
    </div>
</div>

@Html.Partial("_ButtonContainer")
