﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-vandalism-promise.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Vandalism Promise</strong>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        Cover if your car suffers damage caused by vandalism
    </p>
</div>
<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    No claims discount will not be reduced in the event of a claim
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">Things to think about</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    You must report the incident to the police and provide your insurer with the crime reference number
                </li>
                <li class="list__item info">
                    The damage wasn&apos;t caused by another vehicle
                </li>
                <li class="list__item info">
                    The car must have been parked and unattended at the time the damage was caused
                </li>
                <li class="list__item info">
                    Vandalism is defined as malicious damage to the car (other than by fire, theft or attempted theft)
                </li>
            </ul>
            <p class="fbels__admin-text">See policy documents for full information</p>
        </div>
        @Html.Partial("_QuestionBoxComprehensiveCover", "Vandalism Promise")
    </div>
</div>

@Html.Partial("_ButtonContainer")
