﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@model string
@using (Html.BeginForm("Download", "PageReloaderComponent", FormMethod.Get, new { id = "__DocumentLoaderForm" }))
{
    <input type="hidden" value="@Model" id="documentUrl" name="documentUrl" />
}
<div id="spinner"></div>
@Html.AntiForgeryToken()