﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TakePayment

@{
    var config = DependencyResolver.Current.GetService<IConfig>();
    var logoImagePath = $"{config.GetTenantConfiguration().ResourceBasePath}logo-brand.svg";
}

@section Header {
    <header class="page-header">
        <div class="page-header__wrapper">
            <div class="page-header__section page-header__section--left">
                <img class="page-header__logo" src="@logoImagePath" alt=""/>
            </div>
        </div>
    </header>
}

<div class="page-section">
    <div class="page-section--inner">
        @Html.ComponentRenderTakePaymentAllDone(new ComponentTakePaymentConfiguration
        {
            Id = "AllDone",
            TenantConfiguration = config.GetTenantConfiguration()
        })
    </div>
</div>