@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TakePayment
@using BGL.Components.TakePayment.ViewOptions

@{
    ViewBag.Title = "Monthly Payments";
    var config = DependencyResolver.Current.GetService<IConfig>();
    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];
}

<div class="page-section">
    <div class="page-section--inner">
        @Html.ComponentRenderTakePaymentMonthlyInstalmentSummaryAsync(new ComponentTakePaymentConfiguration
        {
            Id = "MonthlyInstalmentSummary",
            MonthlyDepositUrl = Url.Action("MonthlyDeposit", "Payment"),
            MonthlyInstalmentUrl = Url.Action("MonthlyInstalment", "Payment"),
            TenantConfiguration = config.GetTenantConfiguration(),
            ImportantInformationUrl = Url.Action("PostPriceImportantInformation", "Legal"),
            BislBrandName = "BUDGET",
            DocumentList = new List<DocumentItem>
            {
                new DocumentItem
                {
                    Title = "Intermediary Services Contract",
                    Href = $"{documentUrl}?name=specimen-doc"
                }
            }
        })
    </div>
</div>