﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TakePayment

@{
    ViewBag.Title = "Monthly Deposit Payment";
    var config = DependencyResolver.Current.GetService<IConfig>();
}

<div class="page-section">
    <div class="page-section--inner">
        @Html.ComponentRenderTakePaymentMonthlyDepositAsync(new ComponentTakePaymentConfiguration
        {
            Id = "MonthlyDeposit",
            MonthlyDepositSummaryUrl = Url.Action("MonthlyDepositSummary", "Payment"),
            MonthlyInstalmentUrl = Url.Action("MonthlyInstalment", "Payment"),
            TenantConfiguration = config.GetTenantConfiguration(),
            ImportantInformationUrl = Url.Action("PostPriceImportantInformation", "Legal")
        })
    </div>
</div>
