﻿@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TakePayment

@{
    ViewBag.Title = "Monthly Deposit Summary";
    var config = DependencyResolver.Current.GetService<IConfig>();
    var useServiceRedirector = ConfigurationManager.AppSettings["UseServiceRedirector"] == "true";
}
<div class="page-section">
    <div class="page-section--inner">
        @Html.ComponentRenderTakePaymentMonthlyDepositSummaryAsync(new ComponentTakePaymentConfiguration
   {
       Id = "MonthlyDepositSummary",
       MonthlyDepositUrl = Url.Action("MonthlyDeposit", "Payment"),
       PaymentDeclinedUrl = Url.Action("Unsuccessful", "Payment"),
       PaymentSuccessfulUrl = Url.Action("PaymentSuccessful", "Payment"),
       TenantConfiguration = config.GetTenantConfiguration(),
       ImportantInformationUrl = Url.Action("PostPriceImportantInformation", "Legal"),
       UseServiceRedirector = useServiceRedirector,
       MarketingSourceList = new List<string>
       {
           "quotezone",
           "moneysupermarket",
           "thevaninsurer",
           "comparethemarket",
           "gocompare",
           "confusedcom",
           "quotezonecouk"
       },
       LegalWordingViewName = "_PaymentLegalContent",
       NextStepsBrandName = "Budget"
   })
    </div>
</div>