﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TakePayment

@{
    ViewBag.Title = "Payment Summary";
    var config = DependencyResolver.Current.GetService<IConfig>();
}

<div class="page-section">
    <div class="page-section--inner">
       @Html.ComponentRenderTakePaymentPaymentSummary(new ComponentTakePaymentConfiguration
       {
           Id = "PaymentSummary",
           AnnualUrl = Url.Action("Annual", "Payment"),
           MonthlyInstalmentUrl = Url.Action("MonthlyInstalment", "Payment"),
           PaymentSummaryBackButtonUrl = Url.Action("Index", "Review"),
           TenantConfiguration = config.GetTenantConfiguration()
       })
    </div>
</div>
