﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TakePayment

@{
    ViewBag.Title = "Policy Creation Pending";
    Layout = "~/Views/Shared/_LayoutMainContent.cshtml";
    var config = DependencyResolver.Current.GetService<IConfig>();
}

<div class="page-section">
    <div class="page-section--inner">
        @Html.ComponentRenderTakePaymentPolicyCreationPending(new ComponentTakePaymentConfiguration
        {
            Id = "PolicyCreationPending",
            TenantConfiguration = config.GetTenantConfiguration()
        })
    </div>
</div>