﻿<hr class="no-margin">

<div class="page-section">
    <div class="page-section--inner">
        <h2 class="h3">Assumptions about you</h2>
        <ul class="list bullet-list list--plain">
            <li class="bullet-list__item">
                Must be either the Owner and Registered Keeper or Leaseholder of the vehicle.
            </li>
            <li class="bullet-list__item">
                Must never have been declared Bankrupt or Insolvent.
            </li>
            <li class="bullet-list__item">
                You and All Drivers to be covered by the insurance.
            </li>
            <li class="bullet-list__item">
                Must never have had insurance refused or declined.
            </li>
            <li class="bullet-list__item">
                Must not have had insurance cancelled or voided in the last 5 years.
            </li>
            <li class="bullet-list__item">
                Must have advised the DVLA of any medical conditions or disability that they need to be aware of.
            </li>
            <li class="bullet-list__item">
                Must not be employed on a part-time basis.
            </li>
        </ul>
        <h2 class="h3">Assumptions about the vehicle</h2>
        <ul class="list bullet-list list--plain">
            <li class="bullet-list__item">
                Must be right-hand drive.
            </li>
            <li class="bullet-list__item">
                Must have six seats or less.
            </li>
            <li class="bullet-list__item">
                Must not be modified.
            </li>
            <li class="bullet-list__item">
                Must not have a refrigeration unit.
            </li>
            <li class="bullet-list__item">
                Must not carry hazardous/ dangerous materials.
            </li>
        </ul>
    </div>
</div>

<hr class="no-margin">