﻿@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@model string

<h1 class="page-heading__heading">
    <span class="page-heading__heading-sub-text">
        Let&apos;s confirm your
    </span>
    <strong class="page-heading__heading-main-text">
        monthly payments of &pound;@(Model?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))
    </strong>
</h1>