﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.OneOffPaymentViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

@using (Html.BeginFormBgl("OneOffPayment", "TakePaymentComponent", FormMethod.Post, new { id = "OneOffPaymentForm", @class = "card-payment", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="card-options" data_testid="@(componentId)__img-payment-method-single">
        <p class="card-options__description">We accept the following debit and credit cards</p>
        <ul class="card-options__list">
            <li class="card-options__item">
                <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-visa.svg" alt="Visa" />
            </li>
            <li class="card-options__item">
                <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-visaelectron.svg" alt="Visa Electron" />
            </li>
            <li class="card-options__item">
                <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-mastercard.svg" alt="Mastercard" />
            </li>
            <li class="card-options__item">
                <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-maestro.svg" alt="Maestro" />
            </li>
        </ul>
    </div>
    <div id="OneOffPaymentCardholderNameFormRow" class="form-row" data-testid="@(componentId)__cardholder-dropdown-row">
        @Html.LabelFor(m => m.PersonListData.SelectedPersonId, "Cardholder name", new { @class = "form-row__label" })
        @Html.DropDownListFor(m => m.PersonListData.SelectedPersonId, Model.PersonListData.PersonList, new { @class = "form-row__input", data_testid = componentId + "__cardholder-dropdown-input", data_store = "OneOffPaymentSelectedPersonId" })
        @Html.ValidationMessageFor(m => m.PersonListData.SelectedPersonId, "", new { @class = "form-row__validation-text" })
    </div>

    <div id="CardholderNameRow" class="form-row hide" data-testid="@(componentId)__cardholder-name-row">
        @Html.LabelFor(m => m.CardholderName, new { @class = "form-row__label" })
        @Html.TextBoxForBgl(m => m.CardholderName, new { @class = "form-row__input", type = "text", data_testid = componentId + "__cardholder-name-input", data_store = "OneOffPaymentSelectedPersonIdText", data_store_keyup = "true" })
        @Html.ValidationMessageFor(m => m.CardholderName, "", new { @class = "form-row__validation-text" })
    </div>
}

<iframe id="Card-Capture-Iframe" name="Card-Capture-Iframe" title="Card Capture" width="100%" scrolling="auto" height="641" frameborder="0"></iframe>
@Html.HiddenFor(m => m.CardCaptureData.CardCaptureUri, new { id = "CardCaptureUri", data_store = "OneOffPaymentCardCaptureUri" })
@Html.HiddenFor(m => m.CardCaptureData.SecureSessionId, new { id = "SecureSessionId", data_store = "OneOffPaymentSecureSessionId" })
@Html.HiddenFor(m => m.CardCaptureData.ThreeDSecureUri, new { id = "ThreeDSecureUri", data_store = "OneOffPaymentThreeDSecureUri" })
