﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.TakePayment.Models
@model BGL.Components.TakePayment.Models.PaymentSummaryPurchaseInformationViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var isMonthly = Model.PaymentSummaryData.SelectedPaymentType == PaymentConstants.PaymentPlan;
    var annualData = Model.PaymentSummaryData.AnnualPaymentSummaryData;
    var monthlyData = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
}
@using (Html.BeginFormBgl("PaymentSwitch", "TakePaymentComponent", FormMethod.Post, new
{
    id = componentId + "PaymentSwitchForm",
    data_store_key = componentId,
    data_on_success = "bgl.components.takepayment.paymentsummarywithpurchaseinformation.onSuccess"
}))
{
    @Html.AntiForgeryToken()

    if (monthlyData != null)
    {
        <fieldset>
            <legend class="form-row__legend form-row__legend--hidden">Select payment type</legend>
            <div class="payment-options">
                @if (Model.PaymentSummaryData.MonthlyPaymentSummaryData != null)
                {
                    @Html.RadioButton("PaymentSwitchId",
                        Model.PaymentSummaryData.MonthlyPaymentSummaryData.Id, isMonthly, new
                        {
                            @class = "payment-option__radio visually-hidden",
                            id = "monthly-price",
                            data_pay_schedule = "monthly",
                            data_payment_method_id = Model.PaymentSummaryData.MonthlyPaymentSummaryData.Id,
                            data_testid = componentId + "__monthly-radio",
                            tabindex = "0"
                        });
                <label id="monthly-price-label" for="monthly-price" class="payment-option payment-option--monthly">
                    <span class="payment-option__frequency">Monthly</span>
                    <span class="payment-option__amount" data-testid="@(componentId)__monthly-price-label">
                        &pound;@monthlyData.RegularInstalmentAmount
                        <span class="text-light">/ month</span>
                    </span>
                </label>
                }
                @if (Model.PaymentSummaryData.AnnualPaymentSummaryData != null)
                {
                        @Html.RadioButton("PaymentSwitchId",
                            Model.PaymentSummaryData.AnnualPaymentSummaryData.Id, !isMonthly, new
                            {
                                @class = "payment-option__radio visually-hidden",
                                id = "annual-price",
                                data_pay_schedule = "annually",
                                data_payment_method_id = Model.PaymentSummaryData.AnnualPaymentSummaryData.Id,
                                data_testid = componentId + "__annual-radio",
                                tabindex = "0"
                            });
                <label id="annual-price-label" for="annual-price" class="payment-option payment-option--annual">
                    <span class="payment-option__frequency">Annual</span>
                    <span class="payment-option__amount" data-testid="@(componentId)__annual-price-label">
                        &pound;@annualData.TotalAmountPayable
                        <span class="text-light">/ year</span>
                    </span>
                </label>
                }
            </div>
        </fieldset>
    }
}