﻿@using BGL.Components.TakePayment.Models
@model BGL.Components.TakePayment.Models.PaymentSummaryPurchaseInformationViewModel
@{
    var selectedPaymentType = Model.PaymentSummaryData.SelectedPaymentType;
    var isMonthly = selectedPaymentType == PaymentConstants.PaymentPlan;
    var hideOrShowMonthly = isMonthly ? string.Empty : "hide";
    var hideOrShowAnnual = isMonthly ? "hide" : string.Empty;
}
<div class="payment-summary-container--secondary payment-summary-container--sticky">
    <div class="page-section">
        <div class="page-section--inner">
            <div class="cost-breakdown">
                <div class="cost-breakdown__upper">
                    @if (Model.PaymentSummaryData.AnnualPaymentSummaryData != null)
                    {
                        <div class="cost-breakdown__annual @hideOrShowAnnual">
                            <h2 class="cost-breakdown__title">Total cost of your policy</h2>
                        </div>
                    }
                    @if (Model.PaymentSummaryData.MonthlyPaymentSummaryData != null)
                    {
                        <div class="cost-breakdown__monthly @hideOrShowMonthly">
                            <h2 class="cost-breakdown__title">Breakdown of policy costs</h2>
                            <ul class="list list--plain">
                                <li class="list__item">Amount of credit: &pound;@Model.PaymentSummaryData.MonthlyPaymentSummaryData.CreditAmount</li>
                                <li class="list__item">Total amount payable: &pound;@Model.PaymentSummaryData.MonthlyPaymentSummaryData.TotalAmountPayable</li>
                                <li class="list__item">Charge for credit: &pound;@Model.PaymentSummaryData.MonthlyPaymentSummaryData.CreditCharge</li>
                                <li class="list__item">Applicable APR: @Model.PaymentSummaryData.MonthlyPaymentSummaryData.ApplicableApr%</li>
                                <li class="list__item">Cash price &pound;@Model.PaymentSummaryData.MonthlyPaymentSummaryData.CashPrice</li>
                            </ul>

                            <p class="cost-breakdown__legal-text">
                                If you pay by instalments, you will enter into a credit agreement. A record of the credit search will be visible to other lenders and details of your credit agreement will appear on your credit report.
                            </p>
                            <p class="cost-breakdown__legal-text">
                                Credit is provided by BFSL Limited. Registered office: Pegasus House, Bakewell Road, Orton Southgate, Peterborough, PE2 6YS. BISL Limited is not independent as both BISL Limited and BFSL Limited are part of the BGL Group of Companies.
                            </p>
                        </div>
                    }
                </div>

                <div class="cost-breakdown__lower">
                    @if (Model.PaymentSummaryData.AnnualPaymentSummaryData != null)
                    {
                        <div class="cost-breakdown__annual  @hideOrShowAnnual">
                            <p class="page-heading__text">
                                <strong class="page-heading__text--sub">
                                    Pay today
                                </strong>
                                <strong class="page-heading__text--main">
                                    &pound;@Model.PaymentSummaryData.AnnualPaymentSummaryData.TotalAmountPayable / year
                                </strong>
                            </p>
                        </div>
                    }
                    @if (Model.PaymentSummaryData.MonthlyPaymentSummaryData != null)
                    {
                        <div class="cost-breakdown__monthly @hideOrShowMonthly">
                            <p class="page-heading__text">
                                <strong class="page-heading__text--sub">
                                    Pay today
                                </strong>
                                <strong class="page-heading__text--main">
                                    &pound;@Model.PaymentSummaryData.MonthlyPaymentSummaryData.DepositAmount
                                </strong>
                            </p>

                            <p class="page-heading__text">
                                <strong class="page-heading__text--sub">
                                    Followed by 11 instalments of
                                </strong>
                                <strong class="page-heading__text--main">
                                    &pound;@Model.PaymentSummaryData.MonthlyPaymentSummaryData.RegularInstalmentAmount
                                </strong>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>