﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Configuration
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.TakePayment.Models

@model BGL.Components.TakePayment.Models.AnnualSummaryViewModel

@{
    ViewBag.Title = "Annual Payment Summary";
    var cpaPartial = Model.ComponentConfiguration.ViewOptions.ContinuousPaymentAuthorityTextPartial.GetViewNameFromEnum();
    var annualSummaryHeader = Model.ComponentConfiguration.ViewOptions.AnnualSummaryHeader.GetViewNameFromEnum(true);
    var legalFees = Model.ComponentConfiguration.LegalFees;
    var intermediaryServiceFee = Model.ComponentConfiguration.IntermediaryServiceFee;
    var policyBaseUrl = new Uri(ConfigurationManager.AppSettings["PolicyBaseUrl"]);
    var privacyPolicyUrl = new Uri(policyBaseUrl, "/Legal/PC/Privacy_policy.html");
    var cookiePolicyUrl = new Uri(policyBaseUrl, "/Legal/cookie_policy.html");
}

<main>
    <div class="page-section">
        <div class="page-section--inner">
            <div class="page-heading">
                @Html.Partial(annualSummaryHeader, Model.PaymentSummaryData.AnnualPaymentSummaryData.TotalAmountPayable)
                <p class="page-heading__text">
                    <span>By completing your payment details you are confirming that you have read and accept the terms and conditions in the following documents </span>
                    <button class="link" id="importantInfo-payments"
                            data-toggle="slide-panel"
                            data-target="#SlidePanel"
                            data-container="SlidePanelContent"
                            data-action-url="@Model.ComponentConfiguration.ImportantInformationUrl"
                            data-testid="aboutUs-information">
                        About Us
                    </button>
                    @foreach (var document in Model.ComponentConfiguration.DocumentList)
                    {
                        <span class="read-confirm__base-text">, </span>
                        <a class="link__new-window" href="@document.Href" rel="noopener" aria-label="Open @document.Title.ToLower() in new window" target="_blank">@document.Title</a>
                    }
                    <span class="read-confirm__base-text"> and </span>
                    <a class="link__new-window" id="full-policy-wording-link" href="@(Model.DocumentUrl)?name=specimen-doc" rel="noopener" aria-label="Open full policy wording and terms and conditions in new window" target="_blank">Full policy wording and terms and conditions</a>
                </p>
            </div>

            <div class="card card--@Model.CardData.CardType.ToLower() payments__card">
                <p class="card__label">Card number</p>
                <p class="card__account-number">
                    **** **** **** @Model.CardData.CardNumber
                </p>
                <p class="card__label">Expires</p>
                <p class="card__account-sort-code">
                    @Model.CardData.ExpiryMonth/@Model.CardData.ExpiryYear
                </p>
                <p class="card__account-name">@Model.ComponentConfiguration.CardSessionData.Name</p>
            </div>
            <a class="link" href="@Model.ComponentConfiguration.AnnualUrl">Edit card details</a>
        </div>
    </div>

    <div class="page-section">
        <div class="page-section--inner">
            <div class="legal-content">
                <div class="legal-modules__divider"></div>
                <h2 class="legal-modules__heading legal-modules__heading--main h3">
                    We're open and
                    transparent
                </h2>
                <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                    How we use your data
                </h3>
                <p class="legal-modules__text">
                    <span>
                        Your privacy is important to us. So we’ve developed a
                    </span>
                    <a class="link--secondary__new-window"
                       data-testid="legal-index__privacy-policy-link" rel="noopener"
                       target="_blank" aria-label="Open privacy policy in new window"
                       href="@privacyPolicyUrl">
                        Privacy
                        Policy
                    </a>
                    <span> that covers how we collect, store and use your information.</span>
                </p>
                <p class="legal-modules__text">
                    This website uses cookies. By continuing to use this website you are giving
                    consent for cookies to be used. Further information on cookies and how you can
                    disable them is available
                    <a class="link--secondary__new-window"
                       rel="noopener" target="_blank"
                       href="@cookiePolicyUrl" aria-label="Open cookie policy in new window">
                        here
                    </a>.
                </p>
                <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                    How we make our money
                </h3>
                <p class="legal-modules__text">
                    Your insurance price includes our intermediary services fee and any commission
                    applied by us. If you purchase any optional additional products, we include our
                    commission in the premiums you pay. For some of our insurers on our panel we may
                    receive a profit share payment if they reach their profit targets on this type
                    of policy across their portfolio of business with us.
                </p>
                <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                    How we set your price
                </h3>
                <p class="legal-modules__text">
                    Your price has been calculated by 'Us', which includes the cost of your cover
                    from the underwriter selected from our panel and our Intermediary Services Fee
                    for the intermediary services we provide under our separate contract with you.
                    We/Us/Our - BISL Limited. Authorised and regulated by the Financial Conduct
                    Authority.
                </p>
                <p class="legal-modules__text">
                    Your price may include an introductory discount which will be recalculated for
                    future policy changes and at renewal.
                </p>
                <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                    Intermediary Services Fee
                </h3>
                <p class="legal-modules__text">
                    Included in the cost of your policy is a fee of @Html.Partial(intermediaryServiceFee) which we charge you for
                    the separate intermediary services we provide you with in arranging, servicing
                    and renewing your policy. This fee does not relate to any of the additional
                    products we may have arranged for you.
                </p>
                <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                    Making sure you are fully covered
                </h3>
                <p class="legal-modules__text">
                    It is important that the information you provide throughout the quote and
                    duration of the policy is accurate. Failure to disclose correct and complete
                    information to the best of your knowledge and belief may result in increased
                    premiums, refusal of a claim or not being fully paid, your policy cancelled or
                    being made null & void and treated as if it never existed.
                </p>
                <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                    No hidden fees
                </h3>
                <p class="legal-modules__text">
                    @Html.Partial(legalFees)
                </p>
                <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                    Renewal
                </h3>
                <p class="legal-modules__text">
                    When your policy is up for renewal we will contact you with a price and renew
                    your policy where possible. If you don’t want us to renew, simply get in touch.
                </p>
                <h3 class="link legal-modules__heading legal-modules__heading--secondary h4">
                    <button id="moreInfo-payments" class="link"
                            data-toggle="slide-panel"
                            data-target="#SlidePanel"
                            data-container="SlidePanelContent"
                            data-action-url="@Model.ComponentConfiguration.ImportantInformationUrl" data-testid="more-information">
                        View more important information
                    </button>
                </h3>
                <div class="legal-modules__divider"></div>
            </div>
        </div>
    </div>


    @Html.HiddenFor(m => m.CardData.IsContinuousPaymentCard, new { id = "IsContinuousPaymentCard", data_store = "IsContinuousPaymentCard" })
    @if (Model.CardData.IsContinuousPaymentCard)
    {
        if (Model.DisplayVanAssumptions)
        {
            @Html.Partial("_AnnualAndMonthlySummaryVanAssumptions")
        }

        <div class="page-section">
            <div class="page-section--inner">
                @Html.Partial(cpaPartial)
                @Html.Partial("PreContractTextPartial", Model)
            </div>
        </div>
    }
    else if (Model.ContinuousPaymentCardData == null || Model.ComponentConfiguration.ContinuousPaymentCardEdit)
    {
        @Html.Partial("ContinuousPaymentCapturePartial", Model.ContinuousPaymentCaptureModel)
    }
    else
    {
        <div class="page-section">
            <div class="page-section--inner">
                <p class="page-heading__text">
                    <span>As you have chosen to pay by Maestro, we need to take details of a bank account or another card as a future payment method. We can't setup your policy without future payment details. </span>
                </p>
                <div class="card card--@Model.ContinuousPaymentCardData.CardType.ToLower() payments__card">
                    <p class="card__label">Card number</p>
                    <p class="card__account-number">
                        **** **** **** @Model.ContinuousPaymentCardData.CardNumber
                    </p>
                    <p class="card__label">Expires</p>
                    <p class="card__account-sort-code">
                        @Model.ContinuousPaymentCardData.ExpiryMonth/@Model.ContinuousPaymentCardData.ExpiryYear
                    </p>
                    <p class="card__account-name">@Model.ComponentConfiguration.ContinuousPaymentCardSessionData.Name</p>
                </div>
                <a class="link" href="" id="Edit-Card-Link">Edit card details</a>
            </div>
        </div>

        if (Model.DisplayVanAssumptions)
        {
            @Html.Partial("_AnnualAndMonthlySummaryVanAssumptions");
        }

        <div class="page-section">
            <div class="page-section--inner">
                @Html.Partial("PreContractTextPartial", Model)
            </div>
        </div>
    }
    @using (Html.BeginFormBgl(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }

</main>