﻿@model BGL.Components.TakePayment.Models.AllDoneViewModel

<section>
    <i class="header-icon ui-icon-tick-circle"></i>
    <h1 class="bold text-center h2">
        All done @Model.FirstName
    </h1>
    <h2 class="text-center light">
        Your policy has been cancelled
    </h2>

    <span class="divider divider--short"></span>

    <div class="text-center">
        Your policy and any additional products which are linked to this policy have ended.
    </div>
</section>

<hr class="my-account" />

<section>
    <h3>Your No Claims Discount</h3>
    <div>
        If you take out another policy in future, other insurers may require proof of your No Claims Discount. We'll send you an email to confirm that your policy has ended, this email can be used as your proof, please make sure that you check your junk or spam folder if you do not receive it. Alternatively, after 24 hours, a document showing your NCD proof will be available in your account for you to access for two years.
    </div>
</section>

<hr class="my-account" />
            
<section>
    <div class="text-center">
        <a href="@Model.PolicyOverviewUrl" data-testid="@(Model.ComponentConfiguration.Id)__done-link" class="button button--primary button--large">Done</a>
    </div>
</section>