﻿@using System.Configuration
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.ContinuousPaymentCaptureModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];
    var resourceBasePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;
}
<div class="page-section">
    <div class="page-section--inner">

        <p class="page-heading__text">
            <span>As you have chosen to pay by Maestro, we need to take details of a bank account or another card as a future payment method. We can't setup your policy without future payment details. </span>
        </p>

        <div class="tabs monthly-radio">
                <input class="tabs__input tabs__input--1" id="Monthly-Payment-DD" type="radio" name="monthly-payment" value="DirectDebit" data-store="ContinuousPaymentPaymentType">
                <label id="Monthly-Payment-DD-Label" class="tabs__label tabs__label--pill monthly-radio__label monthly-radio__label--acc" for="Monthly-Payment-DD" data-testid="@(componentId)__monthly-radio__label--acc">
                    <p class="tabs__label-text">Pay by Direct Debit</p>
                    <div class="tabs__label-bar"></div>
                </label>
                <input class="tabs__input tabs__input--2" id="Monthly-Payment-Card" type="radio" name="monthly-payment" value="CreditCard" data-store="ContinuousPaymentPaymentType">
                <label id="Monthly-Payment-Card-Label" class="tabs__label tabs__label--pill monthly-radio__label monthly-radio__label--card" for="Monthly-Payment-Card" data-testid="@(componentId)__monthly-radio__label--card">
                    <p class="tabs__label-text">Pay by credit/debit card</p>
                    <div class="tabs__label-bar"></div>
                </label>

                <section class="tabs__section tabs__section--1">
                    <form id="Direct-Debit-Form" class="monthly-radio__form dd-payment">
                        <div class="form-row" data-testid="@(componentId)__account-holder-dropdown-row">
                            @Html.Label("Direct-Debit-Selected-Person-Id", "Account holder", new { @class = "form-row__label" })
                            @Html.DropDownListFor(m => m.PersonListData.SelectedPersonId, Model.PersonListData.PersonList, new { id = "Direct-Debit-Selected-Person-Id", @class = "form-row__input", data_testid = componentId + "__account-holder-dropdown-input", data_store = "ContinuousPaymentDirectDebitSelectedPersonId" })
                            @Html.ValidationMessageFor(m => m.PersonListData.SelectedPersonId, "", new { @class = "form-row__validation-text" })
                        </div>
                        <div class="form-row--multi-input">
                            <div class="form-row form-row__input-wrapper form-row__input-wrapper--half" data-testid="@(componentId)__account-number-row">
                                @Html.Label("direct-debit-account-number", "Account number", new { @class = "form-row__label" })
                                @Html.TextBoxForBgl(m => m.DirectDebitData.AccountNumber, new { @class = "form-row__input account-number", data_testid = componentId + "__account-number-input", data_store = "ContinuousPaymentDirectDebitAccountNumber", id = "direct-debit-account-number" })
                                @Html.ValidationMessageFor(m => m.DirectDebitData.AccountNumber, "", new { @class = "form-row__validation-text", data_testid = componentId + "__account-number-validation-text" })
                                <span class="account-number__validation-text hide" id="account-number-validation-message" data-testid="MonthlyInstalment__account-number-validation-text">
                                    Please enter a valid bank account number
                                </span>
                            </div>

                            <div class="form-row form-row__input-wrapper form-row__input-wrapper--half" id="form-row-sortcode1" data-testid="@(componentId)__sort-code1-row">
                                @Html.LabelFor(m => m.DirectDebitData.SortCodePart1, "Sort code", new { @class = "form-row__label", id = "SortCodeLabel" })

                                @Html.TextBoxForBgl(m => m.DirectDebitData.SortCodePart1, new { @class = "form-row__input form-row__input--sort-code", maxlength = "2", id = "SortCodePart1", data_store = "ContinuousPaymentDirectDebitSortCodePart1", data_testid = componentId + "__sort-code1-input" }) -
                                @Html.TextBoxForBgl(m => m.DirectDebitData.SortCodePart2, new { @class = "form-row__input form-row__input--sort-code", id = "SortCodePart2", data_store = "ContinuousPaymentDirectDebitSortCodePart2", data_testid = componentId + "__sort-code2-input" }) -
                                @Html.TextBoxForBgl(m => m.DirectDebitData.SortCodePart3, new { @class = "form-row__input form-row__input--sort-code", id = "SortCodePart3", data_store = "ContinuousPaymentDirectDebitSortCodePart3", data_testid = componentId + "__sort-code3-input" })

                                <span class="sortcode__api-validation-text hide" id="sortcode-api-validation-message" data-testid="MonthlyInstalment__sortcode-api-validation-text">
                                    Please enter a valid sort code number
                                </span>
                                <span class="sort-code__span--error sortcode__validation-text hide" id="sortcode-validation-text" data-testid="MonthlyInstalment__sortcode-validation-text">
                                    Please enter 2 digits in each box. E.g. 20
                                </span>

                                @Html.Hidden("direct-debit-sort-code")
                            </div>
                        </div>
                        <div class="form-row" data-testid="@(componentId)__can-authorise-form-row">
                            <fieldset id="Direct-Debit-Authorise-Row" class="form-row__field-set">
                                <legend class="form-row__legend form-row__legend--bold">Are you the account holder and can you authorise a Direct Debit instruction on this account?</legend>
                                @Html.RadioButtonFor(m => m.DirectDebitData.CanAuthorise, "true", new { name = "Direct-Debit-Authorise", id = "Direct-Debit-Authorise-Yes", @class = "form-row__input form-row__input--radio form-row__input--hidden", data_store = "ContinuousPaymentDirectDebitAuthorise" })
                                @Html.LabelFor(m => m.DirectDebitData.CanAuthorise, "Yes", new { @class = "form-row__label form-row__label--pill form-row__label--radio-pill", @for = "Direct-Debit-Authorise-Yes", data_testid = componentId + "__can-authorise-yes-label" })

                                @Html.RadioButtonFor(m => m.DirectDebitData.CanAuthorise, "false", new { name = "Direct-Debit-Authorise", id = "Direct-Debit-Authorise-No", @class = "form-row__input form-row__input--radio form-row__input--hidden", data_store = "ContinuousPaymentDirectDebitAuthorise" })
                                @Html.LabelFor(m => m.DirectDebitData.CanAuthorise, "No", new { @class = "form-row__label form-row__label--pill form-row__label--radio-pill", @for = "Direct-Debit-Authorise-No", data_testid = componentId + "__can-authorise-no-label" })

                                @Html.ValidationMessageFor(m => m.DirectDebitData.CanAuthorise, "", new { @class = "form-row__validation-text", data_testid = componentId + "__can-authorise-validation-text" })
                            </fieldset>
                        </div>
                    </form>

                    <div class="direct-debit-text">
                        <img class="direct-debit-text__image" src="@(resourceBasePath)icon-direct-debit-black.svg" title="Direct debit Guarantee Logo" alt="Direct Debit Guarantee" />
                        <p class="direct-debit-text__text">We will set up your Direct Debit on-line - all safeguards and guarantees apply.</p>
                        <button class="link" id="direct-debit-details" data-toggle="slide-panel" data-target="#SlidePanel" data-container="SlidePanelContent" data-testid="@(componentId)__direct-debit-detail">Find out more about the Direct Debit Guarantee</button>
                    </div>

                    @if (Model.DisplayVanAssumptions)
                    {
                        @Html.Partial("_AnnualAndMonthlySummaryVanAssumptions");
                    }

                    <div class="page-section">
                        <div class="page-section--inner">
                            <div class="pre-contract">
                                <div id="Read-Confirm-Container" class="pre-contract__form read-confirm">
                                    <div class="read-confirm__section read-confirm__section--text">
                                        <p class="read-confirm__text">
                                            <strong class="read-confirm__bold-text">Please tick the box to confirm </strong>
                                            <span class="read-confirm__base-text">you have checked your quote details (including any optional products or services selected and any assumptions made), </span>
                                            <button class="link" id="importantInfo-bottom"
                                                    data-toggle="slide-panel"
                                                    data-target="#SlidePanel"
                                                    data-container="SlidePanelContent"
                                                    data-action-url="@Model.ComponentConfiguration.ImportantInformationUrl"
                                                    data-testid="aboutUs-information">
                                                About Us
                                            </button>
                                            <span class="read-confirm__base-text"> and </span>
                                            <a class="link__new-window" id="full-policy-wording-link-continuous-payment" href="@(documentUrl)?name=specimen-doc" rel="noopener" aria-label="Open full policy wording and terms and conditions in new window" target="_blank">Full policy wording and terms and conditions</a>
                                            <span class="read-confirm__base-text"> (which includes our fees and charges). If paying by Debit or Credit Card you are agreeing to a Continuous Payment Authority.</span>
                                            <span class="read-confirm__base-text">If any information declared is not accurate or is incomplete, your premium may increase or your insurance could be cancelled. If you do not understand any item then please contact us.</span>
                                        </p>
                                    </div>
                                    <div class="read-confirm__section read-confirm__section--checkbox">
                                        <div class="read-confirm__tooltip">
                                            <input class="read-confirm__checkbox" id="Read-Confirm-Checkbox" type="checkbox" name="read-confirm-check" value="confirmed" aria-describedby="checkbox-error" />
                                            <label class="read-confirm__label" for="Read-Confirm-Checkbox"><span class="tick-here-text">Tick here</span></label>
                                        </div>
                                    </div>
                                </div>
                                <p class="form-row__validation-text" id="checkbox-error">Please tick the box to agree with the statement above</p>
                            </div>
                            <div class="button-container">
                                <div class="button-message">
                                    <div class="button-message__block">
                                        <p class="button-message__text">
                                            <span class="button-message__text--sub">
                                                @Model.CoverStartTextLine1
                                            </span>
                                            <strong class="button-message__text--main">
                                                @Model.CoverStartTextLine2
                                            </strong>
                                        </p>
                                    </div>
                                </div>
                                <button id="Pay-Now-Button" class="button button--primary button--large button--right">
                                    Pay now &pound;@(Model.PaymentSummaryData.AnnualPaymentSummaryData.TotalAmountPayable?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))
                                </button>
                                <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.AnnualUrl">Back</a>
                            </div>
                        </div>
                    </div>
                </section>

                <div id="direct-debit-info" class="hide">
                    <header class="panel-header">
                        <div class="panel-header__wrapper">
                            <div class="panel-header__section panel-header__section--left">
                            </div>
                            <div class="panel-header__section panel-header__section--right">
                                <div class="panel-header__close" data-dismiss="slide-panel"></div>
                            </div>
                        </div>
                    </header>
                    <div class="panel-body">
                        <div class="page-section">
                            <div class="page-section--inner">
                                <div class="feature-header">
                                    <img class="feature-header__image" src="@(resourceBasePath)icon-direct-debit-black.svg" title="Direct Debit Icon" alt="">
                                    <h1 class="feature-header__heading">
                                        <strong class="feature-header__heading-highlight-text">The Direct Debit Guarantee</strong>
                                    </h1>
                                    <div class="feature-header__divider"></div>
                                    <p class="feature-header__text">
                                        We will set up your Direct Debit online - all the normal safeguards and guarantees apply.
                                    </p>
                                </div>
                                <div class="fbels">
                                    <div class="fbels__section  ">
                                        <ul class="list list--fbels list--fbels-remember">
                                            <li class="list__item info">
                                                This Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.
                                            </li>
                                            <li class="list__item info">
                                                If there are any changes to the amount, date or frequency of your Direct Debit BISL Limited will notify you 10 working days in advance of your account being debited or as otherwise agreed. If you request BISL Limited to collect a payment, confirmation of the amount and date will be given to you at the time of the request.
                                            </li>
                                            <li class="list__item info">
                                                If an error is made in the payment of your Direct Debit, by BISL Limited or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society.
                                            </li>
                                            <li class="list__item info">
                                                If you receive a refund you are not entitled to, you must pay it back when BISL Limited asks you to.
                                            </li>
                                            <li class="list__item info">
                                                You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify us.
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="page-section">
                            <div class="page-section--inner">
                                <div class="button-container">
                                    <button class="button button--primary button--large button--left" data-dismiss="slide-panel" data-testid="close-panel">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="tabs__section tabs__section--2">
                    <div class="monthly-radio__form card-payment">
                        <div class="card-options" data_testid="@(componentId)__img-payment-method-installments">
                            <p class="card-options__description">We accept the following debit and credit cards</p>
                            <ul class="card-options__list">
                                <li class="card-options__item">
                                    <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-visa.svg" alt="Visa" />
                                </li>
                                <li class="card-options__item">
                                    <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-mastercard.svg" alt="Mastercard" />
                                </li>
                            </ul>
                        </div>
                        <div id="Cardholder-Name-Form-Row" class="form-row" data-testid="@(componentId)__cardholder-dropdown-row">
                            @Html.LabelFor(m => m.PersonListData.SelectedPersonId, "Cardholder name", new { @class = "form-row__label" })
                            @Html.DropDownListFor(m => m.PersonListData.SelectedPersonId, Model.PersonListData.PersonList, new { id = "Credit-Card-Selected-Person-Id", @class = "form-row__input", data_testid = componentId + "__cardholder-dropdown-input", data_store = "ContinuousPaymentCardSelectedPersonId" })
                            @Html.ValidationMessageFor(m => m.PersonListData.SelectedPersonId, "", new { @class = "form-row__validation-text" })
                        </div>

                        <iframe id="Card-Capture-Iframe" name="Card-Capture-Iframe" title="Card Capture" width="100%" scrolling="auto" height="641" frameborder="0"></iframe>
                        @Html.HiddenFor(m => m.CardCaptureData.CardCaptureUri, new { id = "CardCaptureUri", data_store = "ContinuousPaymentCardCaptureUri" })
                        @Html.HiddenFor(m => m.CardCaptureData.SecureSessionId, new { id = "SecureSessionId", data_store = "ContinuousPaymentCardSecureSessionId" })
                        @Html.HiddenFor(m => m.CardCaptureData.ThreeDSecureUri, new { id = "ThreeDSecureUri", data_store = "ContinuousPaymentCardThreeDSecureUri" })
                    </div>

                    @Html.Partial("_ContinuousPaymentAuthorityTextPartial", Model.FailedPaymentFeeAmount, new ViewDataDictionary())

                    <div class="button-container">
                        <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.AnnualUrl">Back</a>
                    </div>
                </section>
        </div>
    </div>
</div>