﻿@using System.Configuration
@using BGL.Components.TakePayment.Models
@model string
@{
    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];
}

<div class="credit-agreement">
    <h2 class="h3 credit-agreement__heading">Important information about your credit agreement</h2>
    <ul class="list credit-agreement__list">
        <li class="list__item credit-agreement__item">
            By paying for your policy in monthly instalments, you will enter into a Credit Agreement.
        </li>
        <li class="list__item credit-agreement__item">
            Your credit provider will be BFSL Limited. BISL Limited is not independent as both BISL Limited and BFSL Limited are part of the BGL Group of Companies.
        </li>
        <li class="list__item credit-agreement__item">
            A record of the credit search and details of your Credit Agreement will appear on your credit report and will be visible to other lenders.
        </li>
        <li class="list__item credit-agreement__item">
            You may cancel the Credit Agreement at any time. If you cancel your Credit Agreement early, you will need to pay the rest of the insurance premium in full if you want your policy to continue or the policy will be cancelled and a cancellation fee may apply.
        </li>
        <li class="list__item credit-agreement__item">
            If you fail to make a payment under your Credit Agreement, we will send you a communication confirming what action you need to take to make your payment and by when. If payment is not made, then your Credit Agreement will be terminated and BFSL Limited will instruct us to cancel your insurance policy.
        </li>
        <li class="list__item credit-agreement__item">
            If you fail to make your payments, we may share this information with credit reference agencies which could affect your credit score and your ability to obtain credit in future.
        </li>
        <li class="list__item credit-agreement__item">
            Further information about your credit agreement is available in our FAQs. If there is anything that you do not understand, please contact us.
        </li>
    </ul>

    <p class="credit-agreement__sub-text">
        You must read your Pre-Contract Credit Information below or view your <a class="link__new-window" id="full-policy-wording-link-credit-agreement" href="@(documentUrl)?name=specimen-doc" rel="noopener" aria-label="Open full policy wording in new window" target="_blank">Full Policy Wording</a>. By proceeding to purchase this policy, you are confirming that you can afford the monthly payments and that you are not aware of any changes in your circumstances which may affect your ability to keep up with the payments.
    </p>
</div>
<div class="pre-contract">
    @if (!string.IsNullOrEmpty(Model))
    {
        <div id="Credit-Information-Iframe" tabindex="0" style="overflow-y: scroll; height: 600px; width: 100%;">@Html.Raw(Model)</div>
    }
    else
    {
        <iframe id="Credit-Information-Iframe" src="@ConfigurationManager.AppSettings["DocumentErrorRedirectUrl"]" width="100%" scrolling="auto" height="600" frameborder="0"></iframe>
    }

</div>
