﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.TakePayment
@using BGL.Components.TakePayment.Models
@model BGL.Components.TakePayment.Models.PaymentSummaryViewModel

@{
    var annualData = Model.PaymentSummaryData.AnnualPaymentSummaryData;
    var monthlyData = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
    var selectedPaymentType = Model.PaymentSummaryData.SelectedPaymentType;
    var isMonthly = selectedPaymentType == PaymentConstants.PaymentPlan;
    var annualNotificationMessage = $"Great, thanks ##FIRSTNAME##. We've changed how you would like to pay. Your new price is £{annualData?.TotalAmountPayable}.";
    var monthlyNotificationMessage = $"Great, thanks ##FIRSTNAME##. We've changed how you would like to pay. Your new price is £{monthlyData?.RegularInstalmentAmount} a month with a deposit of £{monthlyData?.DepositAmount}.";
}
<div class="page-heading" id="switchPaymentForm">

    @using (Html.BeginFormBgl(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }

    @Html.Hidden("IsMonthlyPayment", isMonthly)

    @if (monthlyData != null)
    {
        <div id="monthly-section" class="@(isMonthly ? string.Empty : "hide")">
            @Html.Partial("_MonthlyInstalmentSummaryHeader", monthlyData.RegularInstalmentAmount)

            @if (annualData != null)
            {
                <button class="link payment-switch-link" data-focusid="payment-switch-link" id="annual-switch-link" data-payment-switch-id="@annualData.Id" data-url="@Url.Action("PaymentSwitch", "TakePaymentComponent")" data-payment-content-url="@Url.Action("PaymentAnnual", "TakePaymentComponent")">
                    Switch to pay with a single payment of &pound;@(annualData.TotalAmountPayable?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))
                </button>
            }

            @Html.Hidden("monthly-notification-message", monthlyNotificationMessage)

            <div>
                <p class="page-heading__text">
                    <strong>
                        To pay today &pound;@monthlyData.DepositAmount, followed by @monthlyData.NumberOfInstalments monthly payments of &pound;@monthlyData.RegularInstalmentAmount
                    </strong>
                </p>
                <ul class="list list--plain payment-summary">
                    <li class="list__item payment-summary__item">Amount of credit: &pound;@monthlyData.CreditAmount</li>
                    <li class="list__item payment-summary__item">Total amount payable: &pound;@monthlyData.TotalAmountPayable</li>
                    <li class="list__item payment-summary__item">Charge for credit: &pound;@monthlyData.CreditCharge</li>
                    <li class="list__item payment-summary__item">Applicable APR: @monthlyData.ApplicableApr%</li>
                    <li class="list__item payment-summary__item">Cash price &pound;@monthlyData.CashPrice</li>
                </ul>
                <p class="payment-summary__legal-text">
                    If you pay by instalments, you will enter into a credit agreement. A record of the credit search will be visible to other lenders and details of your credit agreement will appear on your credit report.
                </p>
                <p class="payment-summary__legal-text">
                    Credit is provided by BFSL Limited. Registered office: Pegasus House, Bakewell Road, Orton Southgate, Peterborough, PE2 6YS. BISL Limited is not independent as both BISL Limited and BFSL Limited are part of the BGL Group of Companies.
                </p>
            </div>
        </div>
    }

    @if (annualData != null)
    {
        <div id="annual-section" class="@(!isMonthly ? string.Empty : "hide")">
            @Html.Partial("_AnnualSummaryHeader", annualData.TotalAmountPayable)

            @if (monthlyData != null)
            {
                <button class="link payment-switch-link" data-focusid="payment-switch-link" id="monthly-switch-link" data-payment-switch-id="@monthlyData.Id" data-url="@Url.Action("PaymentSwitch", "TakePaymentComponent")" data-payment-content-url="@Url.Action("PaymentMonthly", "TakePaymentComponent")">
                    Switch to monthly payments of &pound;@monthlyData.RegularInstalmentAmount/month
                </button>
            }

            @Html.Hidden("annual-notification-message", annualNotificationMessage)
        </div>
    }

    <div id="merged-payment-content">
        @if (isMonthly)
        {
            @Html.ComponentRenderTakePaymentPaymentMonthlyAsync(Model.ComponentConfiguration);
        }
        else
        {
            @Html.ComponentRenderTakePaymentPaymentAnnualAsync(Model.ComponentConfiguration);
        }
    </div>
</div>