﻿@using System.Configuration
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions

@model BGL.Components.TakePayment.Models.MonthlyDepositSummaryViewModel

@{
    ViewBag.Title = "Monthly Deposit Summary";
    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];
    var monthlyDepositSummaryHeader = Model.ComponentConfiguration.ViewOptions?.MonthlyDepositSummaryHeader.GetViewNameFromEnum(true);
    var legalFees = Model.ComponentConfiguration.LegalFees;
    var intermediaryServiceFee = Model.ComponentConfiguration.IntermediaryServiceFee;
    var policyBaseUrl = new Uri(ConfigurationManager.AppSettings["PolicyBaseUrl"]);
    var privacyPolicyUrl = new Uri(policyBaseUrl, "/Legal/PC/Privacy_policy.html");
    var cookiePolicyUrl = new Uri(policyBaseUrl, "/Legal/cookie_policy.html");
}

<div class="page-section">
    <div class="page-section--inner">
        <div class="page-heading">
            @Html.Partial(monthlyDepositSummaryHeader, Model)
        </div>

        <div class="card card--@Model.CardData.CardType.ToLower() payments__card">
            <p class="card__label">Card number</p>
            <p class="card__account-number">
                **** **** **** @Model.CardData.CardNumber
            </p>
            <p class="card__label">Expires</p>
            <p class="card__account-sort-code">
                @Model.CardData.ExpiryMonth/@Model.CardData.ExpiryYear
            </p>
            <p class="card__account-name">@Model.ComponentConfiguration.CardSessionData.Name</p>
        </div>
        <a class="link" href="@Model.ComponentConfiguration.MonthlyDepositUrl">Edit card details</a>
    </div>
</div>
<div class="page-section">
    <div class="page-section--inner">

        <div class="payment-schedule">
            <h2 class="h4 payment-schedule__heading">Your payment schedule</h2>

            <div class="schedule-bar">
                <ul class="schedule-bar__list">
                    <li class="schedule-bar__item active" data-width="20">
                        <p class="schedule-bar__message-text">
                            <strong class="schedule-bar__sub-message-bold">To pay today</strong>
                            <span class="schedule-bar__sub-message-normal">&pound;@(Model.PaymentSummaryData.MonthlyPaymentSummaryData.DepositAmount?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))</span>
                        </p>
                    </li>
                    <li class="schedule-bar__item schedule-bar__callout-purple" data-width="20">
                        <p class="schedule-bar__message">
                            <strong class="schedule-bar__message-bold">Policy start date </strong>
                            <span class="schedule-bar__message-normal">@Model.PolicyStartDate</span>
                        </p>
                    </li>
                    <li class="schedule-bar__item" data-width="20">
                        <p class="schedule-bar__message-text">
                            <span class="schedule-bar__sub-message-label">1st monthly payment</span>
                            <strong class="schedule-bar__sub-message-bold">@Model.PaymentSummaryData.MonthlyPaymentSummaryData.NextInstalmentDate</strong>
                            <span class="schedule-bar__sub-message-normal">&pound;@(Model.PaymentSummaryData.MonthlyPaymentSummaryData.RegularInstalmentAmount?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))</span>
                        </p>
                    </li>
                    <li class="schedule-bar__item schedule-bar__callout-text" data-width="20">
                        <p class="schedule-bar__message-text">
                            Future monthly instalments will be collected on the same date each month
                        </p>
                    </li>
                    <li class="schedule-bar__item" data-width="20">
                        <p class="schedule-bar__message-text">
                            <span class="schedule-bar__sub-message-label">Final monthly payment</span>
                            <strong class="schedule-bar__sub-message-bold">@Model.PaymentSummaryData.MonthlyPaymentSummaryData.LastPaymentDate</strong>
                            <span class="schedule-bar__sub-message-normal">&pound;@Model.PaymentSummaryData.MonthlyPaymentSummaryData.LastPaymentAmount</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="page-section">
    <div class="page-section--inner">
        <div class="legal-content">
            <div class="legal-modules__divider"></div>
            <h2 class="legal-modules__heading legal-modules__heading--main h3">
                We're open and
                transparent
            </h2>
            <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                How we use your data
            </h3>
            <p class="legal-modules__text">
                <span>
                    Your privacy is important to us. So we’ve developed a
                </span>
                <a class="link--secondary__new-window"
                   data-testid="legal-index__privacy-policy-link" rel="noopener"
                   target="_blank" aria-label="Open privacy policy in new window"
                   href="@privacyPolicyUrl">
                    Privacy
                    Policy
                </a>
                <span> that covers how we collect, store and use your information.</span>
            </p>
            <p class="legal-modules__text">
                This website uses cookies. By continuing to use this website you are giving
                consent for cookies to be used. Further information on cookies and how you can
                disable them is available
                <a class="link--secondary__new-window"
                   rel="noopener" target="_blank"
                   href="@cookiePolicyUrl" aria-label="Open cookie policy in new window">
                    here
                </a>.
            </p>
            <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                How we make our money
            </h3>
            <p class="legal-modules__text">
                Your insurance price includes our intermediary services fee and any commission
                applied by us. If you purchase any optional additional products, we include our
                commission in the premiums you pay. For some of our insurers on our panel we may
                receive a profit share payment if they reach their profit targets on this type
                of policy across their portfolio of business with us.
            </p>
            <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                How we set your price
            </h3>
            <p class="legal-modules__text">
                Your price has been calculated by 'Us', which includes the cost of your cover
                from the underwriter selected from our panel and our Intermediary Services Fee
                for the intermediary services we provide under our separate contract with you.
                We/Us/Our - BISL Limited. Authorised and regulated by the Financial Conduct
                Authority.
            </p>
            <p class="legal-modules__text">
                Your price may include an introductory discount which will be recalculated for
                future policy changes and at renewal.
            </p>
            <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                Intermediary Services Fee
            </h3>
            <p class="legal-modules__text">
                Included in the cost of your policy is a fee of @Html.Partial(intermediaryServiceFee) which we charge you for
                the separate intermediary services we provide you with in arranging, servicing
                and renewing your policy. This fee does not relate to any of the additional
                products we may have arranged for you.
            </p>
            <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                Making sure you are fully covered
            </h3>
            <p class="legal-modules__text">
                It is important that the information you provide throughout the quote and
                duration of the policy is accurate. Failure to disclose correct and complete
                information to the best of your knowledge and belief may result in increased
                premiums, refusal of a claim or not being fully paid, your policy cancelled or
                being made null & void and treated as if it never existed.
            </p>
            <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                No hidden fees
            </h3>
            <p class="legal-modules__text">
                @Html.Partial(legalFees)
            </p>
            <h3 class="legal-modules__heading legal-modules__heading--secondary h4">
                Renewal
            </h3>
            <p class="legal-modules__text">
                When your policy is up for renewal we will contact you with a price and renew
                your policy where possible. If you don’t want us to renew, simply get in touch.
            </p>
            <h3 class="link legal-modules__heading legal-modules__heading--secondary h4">
                <button id="moreInfo-payments" class="link"
                        data-toggle="slide-panel"
                        data-target="#SlidePanel"
                        data-container="SlidePanelContent"
                        data-action-url="@Model.ComponentConfiguration.ImportantInformationUrl" data-testid="more-information">
                    View more important information
                </button>
            </h3>
            <div class="legal-modules__divider"></div>
        </div>
    </div>
</div>

@if (Model.DisplayVanAssumptions)
{
    @Html.Partial("_AnnualAndMonthlySummaryVanAssumptions")
}

<div class="page-section">
   <div class="page-section--inner">
        <div id="Read-Confirm-Container" class="pre-contract__form read-confirm" data-testid="@(Model)__read-confirm-container">
            <div class="read-confirm__section read-confirm__section--text">
                <p class="read-confirm__text">
                    <strong class="read-confirm__bold-text">Please tick the box to confirm </strong>
                    <span class="read-confirm__base-text">you have checked your quote details (including any optional products or services selected and any assumptions made), </span>
                    <a class="link__new-window read-confirm__link" href="@(documentUrl)?name=specimen-doc" rel="noopener" aria-label="Open terms and conditions in new window" target="_blank">Terms and Conditions</a>
                    <span class="read-confirm__base-text">, </span>
                    <a class="link__new-window read-confirm__link" href="@(documentUrl)?name=credit-information" rel="noopener" aria-label="Open pre contract credit information in new window" target="_blank">Pre Contract Credit Information</a>
                    <span class="read-confirm__base-text">, </span>
                    <a class="link__new-window read-confirm__link" href="@(documentUrl)?name=credit-agreement" rel="noopener" aria-label="Open credit agreement and policy wording in new window" target="_blank">Credit Agreement and Policy Wording</a>
                    <span class="read-confirm__base-text"> (which includes our fees and charges). If paying by Debit or Credit Card you are agreeing to a Continuous Payment Authority</span>
                    
                    <span class="read-confirm__base-text">. If any information declared is not accurate or is incomplete, your premium may increase or your insurance could be cancelled. If you do not understand any item then please contact us.</span>
                </p>
            </div>
            <div class="read-confirm__section read-confirm__section--checkbox">
                <div class="read-confirm__tooltip">
                    <input class="read-confirm__checkbox" id="Read-Confirm-Checkbox" type="checkbox" name="read-confirm-check" value="confirmed" data-testid="@(Model)__read-confirm-checkbox" aria-describedby="checkbox-error" />
                    <label class="read-confirm__label" for="Read-Confirm-Checkbox"><span class="tick-here-text">Tick here</span></label>
                </div>
            </div>
        </div>
        <p class="form-row__validation-text" data-testid="@(Model)__read-confirm-validation-text" id="checkbox-error">Please tick the box to agree with the statement above.</p>
        <div class="button-container">
            <div class="button-message">
                <div class="button-message__block">
                    <p class="button-message__text">
                        <span class="button-message__text--sub">
                            @Model.CoverStartTextLine1
                        </span>
                        <strong class="button-message__text--main">
                            @Model.CoverStartTextLine2
                        </strong>
                    </p>
                </div>
            </div>
            <button id="Monthly-Pay-Now-Button" class="button button--primary button--large button--right" data-testid="@(Model.ComponentConfiguration.Id)__monthly-pay-now-button">Pay now</button>
            <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.MonthlyDepositUrl">Back</a>
        </div>
    </div>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}