﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Components.TakePayment.Models
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.PaymentSummaryViewModel

@{
    ViewBag.Title = "Payment Summary";
    var componentId = Model.ComponentConfiguration.Id;
    var selectedPaymentType = Model.PaymentSummaryData.SelectedPaymentType;
    var isMonthly = selectedPaymentType == PaymentConstants.PaymentPlan;

    var paymentSummaryHeaderViewName = Model.ComponentConfiguration.ViewOptions.PaymentSummaryHeader.GetViewNameFromEnum(true);

    var paymentSummaryEmailHintViewName = Model.ComponentConfiguration.ViewOptions.PaymentSummaryEmail.GetViewNameFromEnum(true);
}

@Html.Partial(paymentSummaryHeaderViewName, Model)

@using (Html.BeginFormBgl("PaymentSummarySubmit", "TakePaymentComponent", FormMethod.Post, new
{
    id = "PaymentSummaryForm"
}))
{
    @Html.AntiForgeryToken()
    <div class="page-section">
        <div class="page-section--inner">
            @Html.Partial(paymentSummaryEmailHintViewName, Model)

            <div class="form-row hide">
                <fieldset class="form-row__field-set">
                    <legend class="form-row__legend">How would you like to receive your policy documents?</legend>
                    <div class="docs-delivery">
                        <div class="docs-delivery__section">
                            @Html.RadioButtonFor(m=>m.IsDocumentByOnline, "true" , new {@class = "form-row__input form-row__input--radio docs-delivery__radio", @id = "Docs-Delivery-Online" })
                            <label class="docs-delivery__label docs-delivery__label--online" for="Docs-Delivery-Online">
                                <strong class="docs-delivery__title">Sent online</strong>
                                <span class="docs-delivery__text">Instant access</span>
                            </label>
                        </div>
                        <div class="docs-delivery__section">
                            @Html.RadioButtonFor(m => m.IsDocumentByOnline, "false", new { @class = "form-row__input form-row__input--radio docs-delivery__radio", @id = "Docs-Delivery-Post" })
                           <label class="docs-delivery__label docs-delivery__label--post" for="Docs-Delivery-Post">
                                <strong class="docs-delivery__title">Sent by post</strong>
                                <span class="docs-delivery__text">Takes up to 5 days</span>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            @Html.Hidden("IsMonthlyPayment", isMonthly)
            @Html.HiddenFor(m => m.ComponentConfiguration.AnnualUrl)
            @Html.HiddenFor(m => m.ComponentConfiguration.MonthlyInstalmentUrl)
        </div>
    </div>

    <div class="page-section">
        <div class="page-section--inner">
            <div class="button-container">
                <button class="button button--primary button--large button--right" type="submit" data-testid="@(componentId)__submit-button"><strong>Next: </strong><span>Payment</span></button>
                <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.PaymentSummaryBackButtonUrl">Back</a>
            </div>
        </div>
    </div>
}