﻿@using System.Configuration
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.PaymentMethodViewModel
@{
    var componentId = Model.ComponentConfiguration.Id;
    var updatePaymentMethodUrl = ConfigurationManager.AppSettings["UpdatePaymentMethodUrl"];
    var addPaymentMethodUrl = ConfigurationManager.AppSettings["AddPaymentMethodUrl"];
    var resourceBasePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;
    var hideClass = Model.HasPreSelectedPaymentMethod ? "" : "hide";
}

<section>
    <div class="row">
        <div class="col-lg-9">
            <h1>
                <strong>Choose a payment method</strong>
            </h1>
            <div class="radio-block-list">
                <ul>
                    <fieldset>
                        <legend class="form-row__legend form-row__legend--hidden">Select payment method</legend>
                        @foreach (var paymentMethod in Model.PaymentAccounts)
                        {
                            if (paymentMethod.Type != "Cash / Cheque")
                            {
                                <li>
                                    <div class="row align-center">
                                        <div class="col-2">
                                            <figure>
                                                @if (paymentMethod.Type == "Bank Account")
                                                {
                                                    <img src="@(resourceBasePath)logo-direct-debit.svg" alt="">
                                                }
                                                else if (paymentMethod.CardType.ToLower().Contains("visa"))
                                                {
                                                    <img src="@(resourceBasePath)logo-visa.svg" alt="">
                                                }
                                                else if (paymentMethod.CardType.ToLower().Contains("maestro"))
                                                {
                                                    <img src="@(resourceBasePath)logo-maestro.svg" alt="">
                                                }
                                                else if (paymentMethod.CardType.ToLower().Contains("mastercard"))
                                                {
                                                    <img src="@(resourceBasePath)logo-mastercard.svg" alt="">
                                                }
                                            </figure>
                                        </div>
                                        <div class="col-8">
                                            @if (paymentMethod.Type == "Bank Account")
                                            {
                                                <span class="radio-block-list__line-one">@paymentMethod.AccountNumber</span>
                                                <span class="radio-block-list__line-two">Sort Code:@paymentMethod.SortCode, @paymentMethod.AccountName</span>
                                            }
                                            else
                                            {
                                                <span class="radio-block-list__line-one">@paymentMethod.CardNumber</span>
                                                <span class="radio-block-list__line-two">Expires:@paymentMethod.ExpiryDate, @paymentMethod.AccountName</span>
                                            }
                                        </div>
                                        <div class="col-2">
                                            @{var selected = paymentMethod.Checked ? "checked=\"checked\"" : ""; }
                                            <input type="radio" 
                                                   id="@paymentMethod.Id-radio" 
                                                   name="payment-methods-radio-button" 
                                                   data-type="payment-methods" 
                                                   value="@paymentMethod.Id" 
                                                   data-payment-method-type="@paymentMethod.Type"
                                                   @selected>

                                            <label for="@paymentMethod.Id-radio" id="label-@paymentMethod.Id">
                                                @if (paymentMethod.Type == "Bank Account")
                                                {
                                                    <span class="visually-hidden">Account number ending in @paymentMethod.AccountNumber.Substring(paymentMethod.AccountNumber.Length - 4)</span>
                                                }
                                                else
                                                {
                                                    <span class="visually-hidden">
                                                        Payment Card ending in @paymentMethod.CardNumber.Substring(paymentMethod.CardNumber.Length - 4)
                                                    </span>
                                                }
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </fieldset>
                </ul>
            </div>
            <a id="addNewPaymentMethod"
               href="@addPaymentMethodUrl"
               class="sm-center button button--secondary button--dynamic"
               data-testid="@(componentId)__add-payment-method-button">Add new payment method</a>
        </div>
    </div>
</section>

<hr class="my-account">

<section>
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-md-6">
            <button type="button"
                    class="link link-primary sm-center slide-panel__close"
                    data-dismiss="slide-panel"
                    data-testid="@(componentId)__Cancel">
                Cancel
            </button>
        </div>
        @if (Model.PaymentAccounts.Count > 0)
        {
            <div class="col-md-6 text-right">
                <button id="updatePaymentMethod"
                        class="button button--primary button--large sm-center @hideClass"
                        type="button"
                        data-toggle="slide-panel"
                        data-target="#SlidePanel"
                        data-container="SlidePanelContent"
                        data-action-url="@updatePaymentMethodUrl"
                        data-testid="@(componentId)__update-payment-method-button">
                    Update payment method
                </button>
            </div>
        }
    </div>
</section>

@Html.AntiForgeryToken()
