﻿@model BGL.Components.TakePayment.Models.PaymentDeclinedViewModel

<div class="page-section">
    <div class="page-section--inner narrow spaced">
        <div class="page-message">
            <img class="page-message__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)icon-error.svg" title="Payment declined" alt=""/>
            <h1 class="h2 page-message__heading">There's been a problem with your payment</h1>
            <div class="page-message__button-container">
                <a data-testid="PaymentDeclined__retry-button" class="button button--primary button--large page-message__button" href="@Model.ComponentConfiguration.PaymentSummaryUrl">Try a different card</a>
            </div>
        </div>
    </div>
</div>