﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.PaymentEmailViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var paymentSummaryEmail = Model.ComponentConfiguration.ViewOptions.PaymentSummaryEmail.GetViewNameFromEnum(true);
}

<div data-component-id="@componentId">
    @using (Html.BeginFormBgl("PaymentEmailPost", "TakePaymentComponentEmail", FormMethod.Post, new
    {
        id = "PaymentEmailForm",
        data_on_success = "bgl.components.takepayment.paymentemail.onSuccess",
        data_on_error = "bgl.components.takepayment.paymentemail.onError",
        data_store_key = Model.ComponentConfiguration.DataStoreKey
    }))
    {
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(model => model.PersonId)

        <div class="page-section">
            <div class="page-section--inner">
                @Html.Partial(paymentSummaryEmail, Model)
            </div>
        </div>

        <div class="page-section">
            <div class="page-section--inner">
                <div class="button-container">
                    <button class="button button--primary button--large button--right" type="submit" data-testid="@(componentId)__submit-button"><strong>Next</strong></button>
                    <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.PreviousStepUrl">Back</a>
                </div>
            </div>
        </div>
    }
</div>