﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers

@model BGL.Components.TakePayment.Models.PolicyChangeDateViewModel
@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div data-component-id="@componentId">
    @using (Html.BeginFormBgl("ConfirmPolicyChangeDate", "TakePaymentComponent", FormMethod.Post,
        new
        {
            id = $"{componentId}_PolicyChangeDateForm",
            data_store_key = $"{componentId}ConfirmPolicyChangeDate",
            data_on_success = "bgl.components.takepayment.policychangedate.onSuccess",
        }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.OriginalNominatedDate)
        @Html.HiddenFor(m => m.NominatedDate)
        @Html.HiddenFor(m => m.EarliestPaymentDate)
        @Html.HiddenFor(m => m.LatestPaymentDate)

        <div data-change-date-calendar-section>
            <section>
                <div class="row">
                    <div class="col-12">
                        <h1 class="bold">
                            Choose your preferred date
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="legal-text mx-30">If your selected date falls on a weekend or bank holiday your payment will be collected the next working day</p>
                        <p class="legal-text mx-30">Please note, we are unable to change your next payment date if it is due in the next few days and is marked as ‘processing’ on the payment page. Only future payment dates will change in this instance.</p>
                    </div>
                    <div class="col-md-8">
                        <div class="date-picker date-picker__dts">
                            <div class="date-picker__section--calendar">
                                <div data-date-picker
                                     data-selected-date="@Model.NominatedDate"
                                     data-earliest-date="@Model.EarliestPaymentDate.ToString("dd-MM-yyyy")"
                                     data-latest-date="@Model.LatestPaymentDate.ToString("dd-MM-yyyy")">
                                </div>
                            </div>
                        </div>
                        <div id="SameDateValidationError"
                             class="form-row"
                             data-testid="@(componentId)__date-validation-error">
                            <span id="SameDateValidationErrorMessage" class="form-row__validation-text">Please select a different day of the month than the current payment date</span>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <time class="time-wrapper">
                            <span class="time-day" data-dispaly-selected-date>@Model.NominatedDate.Substring(0, 2)</span>
                            <span class="time-year">
                                Of each month
                            </span>
                        </time>
                    </div>
                </div>
            </section>
            <hr class="my-account" />
            <section>
                <div class="slide-panel-nav">
                    <button class="button button--primary button--large"
                            type="button"
                            data-change-date-next
                            data-testid="@(componentId)__change-date-next">
                        Continue
                    </button>
                    <button class="link link-primary"
                            type="button"
                            data-dismiss="slide-panel"
                            data-testid="@(componentId)__change-date-cancel">
                        Cancel
                    </button>
                </div>
            </section>
        </div>
        <div class="hide" data-change-date-review-section>
            <section>
                <h1 class="bold">
                    Nearly there!
                </h1>
                <h2 class="light">Please check the details below and if you're happy press confirm</h2>
                <table class="edit">
                    <tbody>
                        <tr>
                            <th scope="row">Future payment dates</th>
                            <td><span data-day-of-month-display>@Model.OrdinalPaymentDate</span> of each month</td>
                            <td>
                                <button class="table-edit text-primary"
                                        type="button"
                                        aria-label="Edit payment date"
                                        data-change-date-back
                                        data-testid="@(componentId)__change-date-table-back">
                                    <i class="ui-icon-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="legal-text">If your selected date falls on a weekend or bank holiday your payment will be collected the next working day</p>
                <p class="legal-text">Please note, we are unable to change your next payment date if it is due in the next few days and is marked as ‘processing’ on the payment page. Only future payment dates will change in this instance.</p>
            </section>
            <div class="hide" id="invalid-date-validation-message" data-invalid-date-review-section data-testid="@(componentId)__invalid-date-validation-message">
                <section>
                    <p>Unfortunately we are unable to change your future payments to the date selected. Certain restrictions apply to prevent underpayment.</p>
                </section>
            </div>
            <hr class="my-account" />
            <section>
                <div class="slide-panel-nav">
                    <button class="button button--primary button--large"
                            type="submit"
                            data-testid="@(componentId)__submit-change-date">
                        Confirm
                    </button>
                    <button class="link link-primary"
                            type="button"
                            data-change-date-back
                            data-testid="@(componentId)__change-date-back">
                        Back
                    </button>
                </div>
            </section>
        </div>
    }
    <div class="hide" data-change-date-done-section>
        <section>
            <i class="header-icon ui-icon-tick-circle text-success"></i>
            <h1 class="text-center bold">
                All done @Model.PolicyHolderName
            </h1>
            <h2 class="light text-center">We've changed your payment date</h2>

            <span class="divider divider--short"></span>

            <div class="text-center">
                <button class="button button--primary button--large"
                        type="button"
                        data-dismiss="slide-panel"
                        data-testid="@(componentId)__change-date-done">
                    Done
                </button>
            </div>
        </section>
    </div>
</div>
