﻿@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@model BGL.Components.TakePayment.Models.AnnualSummaryViewModel

<div class="pre-contract">
    <div id="Read-Confirm-Container" class="pre-contract__form read-confirm">
        <div class="read-confirm__section read-confirm__section--text">
            <p class="read-confirm__text">
                <strong class="read-confirm__bold-text">Please tick the box to confirm </strong>
                <span class="read-confirm__base-text">you have checked your quote details (including any optional products or services selected and any assumptions made), </span>
                <button class="link" id="importantInfo-payments-precontract"
                        data-toggle="slide-panel"
                        data-target="#SlidePanel"
                        data-container="SlidePanelContent"
                        data-action-url="@Model.ComponentConfiguration.ImportantInformationUrl"
                        data-testid="aboutUs-information">
                    About Us
                </button>

                @foreach (var sliderItem in Model.ComponentConfiguration.SliderList)
                {
                    var contractId = sliderItem.Id + "-read-confirm";

                    <span class="read-confirm__base-text">, </span>
                    <button class="link" id="@contractId"
                            data-toggle="slide-panel"
                            data-target="#SlidePanel"
                            data-container="SlidePanelContent"
                            data-action-url="@sliderItem.DataActionUrl"
                            data-testid="@contractId">
                        @sliderItem.AnchorText
                    </button>
                }

                @foreach (var document in Model.ComponentConfiguration.DocumentList)
                {
                    <span class="read-confirm__base-text">, </span>
                    <a class="link__new-window" href="@document.Href" rel="noopener" aria-label="Open @document.Title.ToLower() in new window" target="_blank">@document.Title</a>
                }
                <span class="read-confirm__base-text">and </span>
                <a class="link__new-window" id="full-policy-wording-link-precontract" href="@(Model.DocumentUrl)?name=specimen-doc" rel="noopener" aria-label="Open full policy wording and terms and conditions in new window" target="_blank">Full policy wording and terms and conditions</a>
                <span class="read-confirm__base-text"> (which includes our fees and charges). If paying by Debit or Credit Card you are agreeing to a Continuous Payment Authority.</span>
                <span class="read-confirm__base-text">. If any information declared is not accurate or is incomplete, your premium may increase or your insurance could be cancelled. If you do not understand any item then please contact us.</span>
            </p>
        </div>

        <div class="read-confirm__section read-confirm__section--checkbox">
            <div class="read-confirm__tooltip">
                <input class="read-confirm__checkbox" id="Read-Confirm-Checkbox" type="checkbox" name="read-confirm-check" value="confirmed" aria-describedby="checkbox-error"/>
                <label class="read-confirm__label" for="Read-Confirm-Checkbox"><span class="tick-here-text">Tick here</span></label>
            </div>
        </div>
    </div>
    <p class="form-row__validation-text" id="checkbox-error">Please tick the box to agree with the statement above</p>
</div>
<div class="button-container">
    <div class="button-message">
        <div class="button-message__block">
            <p class="button-message__text">
                <span class="button-message__text--sub">
                    @Model.CoverStartTextLine1
                </span>
                <strong class="button-message__text--main">
                    @Model.CoverStartTextLine2
                </strong>
            </p>
        </div>
    </div>
    <button id="Pay-Now-Button" class="button button--primary button--large button--right">
        Pay now &pound;@(Model.PaymentSummaryData.AnnualPaymentSummaryData.TotalAmountPayable?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))
    </button>
    <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.AnnualUrl">Back</a>
</div>
