@using BGL.Common.Utility.Extensions

@{
    var product = Request.GetOwinContext()?.Authentication?.User?.Product();
}

<div class="panel-body">
    <div class="feature-header">
        <h1 class="feature-header__heading">
            <strong class="feature-header__heading-highlight-text">About Us</strong>
        </h1>
        <div class="feature-header__divider"></div>
    </div>

    <div class="fbels">
        <div class="fbels__section">
            <p>BISL Limited is an insurance intermediary. You will enter into two separate contracts when you take out an insurance policy through us. The first contract is with us and sets out the terms and conditions under which we will arrange and administer your insurance policy on your behalf and any fee(s) that we shall charge you for providing our insurance intermediary services. Please see our 'Important Information About Our Insurance Intermediary Services' document and the sections below for further details. Use this information to decide if our services are right for you.</p>
            <p>You will also enter into a separate contract with the insurer for providing your insurance. Details of the premium charged and the terms and conditions relevant to the insurance policy are set out in your Welcome Pack. When you purchase additional products or pay for your policy by installments using a fixed sum loan agreement, you will enter into further contracts with each insurer or supplier for these services.</p>

            <h2 class="fbels__heading fbels__heading--remember h4">What services will we provide you with?</h2>
            <p>We act on your behalf when arranging and administering your BISL @product.ToLower() insurance policy, for example, when setting up your policy, making policy adjustments, cancellations and renewals.</p>
            <p>You will not receive advice or a recommendation from us on whether the insurance policy is suitable for your needs. We will ask some questions to narrow down the selection of products that we will provide details on. You will then need to make your own choice about how to proceed.</p>

            <h2 class="fbels__heading fbels__heading--remember h4">Who Regulates us?</h2>
            <p>BISL Limited, Pegasus House, Bakewell Road, Orton Southgate, Peterborough, PE2 6YS is authorised and regulated by the Financial Conduct Authority (FCA). Our Register number is 308896.</p>
            <p>You can check this on the Register by visiting the FCA&apos;s website <a class="link--secondary__new-window" href="https://www.fca.org.uk" rel="noopener" aria-label="Open FCA website in new window" target="_blank">www.fca.org.uk.</a></p>
            <h2 class="fbels__heading fbels__heading--remember h4">Disclaimer</h2>
            <p>BISL Limited do not accept any liability for errors or omissions relating to information contained within this site. We reserve the right to change the site at any time. To the extent allowed by law we disclaim liability for any loss resulting from the use of the site or any material contained within the site.</p>
            <h2 class="fbels__heading fbels__heading--remember h4">Copyright</h2>
            <p>BISL Limited own the copyright to all material contained within this web site. No part of the material may be copied or reproduced for commercial use without prior written consent from BISL Limited. This site is for personal use only. Commercial users must obtain prior authorisation from us in writing.</p>

        </div>
    </div>

    <div class="questions-box">
        <div class="questions-box__divider"></div>
    </div>

    <div class="page-section">
        <div class="page-section--inner">
            <div class="button-container">
                <button type="button" class="button button--primary button--large button--right slide-panel__close" data-dismiss="slide-panel" tabindex="0">
                    Done
                </button>
            </div>
        </div>
    </div>
</div>

