@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Extensions

@{
    var product = Request.GetOwinContext()?.Authentication?.User?.Product();
    ViewBag.Title = $"Legal - Welcome to Post Office {product} Insurance";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var resourceBasePath = tenantConfiguration.ResourceBasePath;
}

@section Header{
    <header class="page-header">
        <div class="page-header__wrapper">
            <div class="page-header__section page-header__section--left">
                <img class="page-header__logo" src="@(resourceBasePath)logo-brand.png" alt="Post Office" />
            </div>
        </div>
    </header>
}


<div class="page-section">
    <div class="page-section--inner">

        <div class="centered-main-heading">
            <h1 class="centered-main-heading__heading">
                <span class="centered-main-heading__heading-text">Welcome to Post Office @product Insurance</span>
            </h1>
            <h2 class="text-light">We&apos;ll search our panel of @product.ToLower() insurers to find a great policy for you</h2>
            <div class="centered-main-heading__divider"></div>
        </div>

    </div>
</div>
<div class="scroll-prompt" id="scroll-prompt" aria-hidden="true">
    <div class="scroll-prompt__mouse"></div>
    <p class="scroll-prompt__text">Scroll to continue</p>
</div>
<div class="legal-page-section">
    <div class="page-section--inner">
        @Html.Partial("_DirectLegalContent")
    </div>
</div>


@section Footer{
    <footer class="legal-footer">
        <div class="legal-footer__wrapper">
            <div class="legal-footer__section legal-footer__section--button">
                <div class="button-container legal-footer__button-container">
                    <a id="LegalBtn" aria-describedby="legal-text AboutUsLink QuoteAcceptanceInformation" class="button button--primary button--large" href="@Url.Action("Index", "YourDetails")"><strong>Start my quote </strong></a>
                </div>
                <p class="start-quote__sub-text" id="legal-text">
                    <span>Choosing to continue by selecting 'Start my quote', you are confirming that you have read and agreed to our:</span>
                </p>
                <div class="link-container" id="slide-panel-link-container">
                    <button class="link"
                            id="AboutUsLink"
                            data-toggle="slide-panel"
                            data-target="#SlidePanel"
                            data-container="SlidePanelContent"
                            data-action-url="@Url.Action("AboutUs", "Legal")">
                        Terms and conditions
                    </button>
                    <button class="link"
                            id="QuoteAcceptanceInformation"
                            data-toggle="slide-panel"
                            data-target="#SlidePanel"
                            data-container="SlidePanelContent"
                            data-action-url="@Url.Action("QuoteAcceptanceInformation", "Legal")">
                        Quote acceptance information
                    </button>
                </div>
            </div>
        </div>
    </footer>
}

@section scripts{
    <script type="text/javascript">
        $(document).on("scroll", function () {
            if ($(document).scrollTop() > 220) {
                $("#dynamic-page-header").addClass("fixed-header");
                $("#dynamic-page-header-expanded").addClass("hide");
            } else {
                $("#dynamic-page-header").removeClass("fixed-header");
                $("#dynamic-page-header-expanded").removeClass("hide");
            }

            if ($(document).scrollTop() > 350) {
                $("#scroll-prompt").addClass("disappear");
            }
        });

        bgl.common.contentpanel.openPanelByClick('AboutUsLink');
        bgl.common.contentpanel.openPanelByClick('QuoteAcceptanceInformation');

        $(document).ready(function () {
            emitAdobeTracking();
        });

        function emitAdobeTracking() {
            var getAppStartTime = new Date();

            bgl.common.pubsub.emit("ApplicationStarted", getAppStartTime);
        };
    </script>
}
