﻿@using BGL.Components.TermsAndConds
@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Extensions

@{
    var componentId = "intermediary-services-contract-summary";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var product = Request.GetOwinContext()?.Authentication?.User?.Product();

    var termsAndCondsConfiguration = new ComponentTermsAndCondsConfiguration
    {
        Id = "SalesTermsAndConditionsIsfFee",
        TenantConfiguration = tenantConfiguration
    };

    bool.TryParse(Html.ComponentRenderTermsAndConditionsHasIsfFee(termsAndCondsConfiguration).ToString(), out var hasIsfFee);
    bool.TryParse(Html.ComponentRenderTermsAndConditionsHasAmendmentFee(termsAndCondsConfiguration).ToString(), out var hasAmendmentFee);
    bool.TryParse(Html.ComponentRenderTermsAndConditionsHasCancellationFeeWithinFourteenDays(termsAndCondsConfiguration).ToString(), out var hasArrangementFee);
    bool.TryParse(Html.ComponentRenderTermsAndConditionsHasCancellationFeeAfterFourteenDays(termsAndCondsConfiguration).ToString(), out var hasCancellationFee);
}

<div id="@componentId" class="panel" data-testid="@(componentId)__section">
    <main>
        <div class="page-section">
            <div class="main-heading">
                <h1 class="main-heading__heading">
                    <span>Intermediary Services Contract Summary</span>
                </h1>
                <p class="legal-modules__text">
                    This document is a summary of the key terms in relation to the Insurance
                    Intermediary Services Contract. For the full terms and conditions, please refer to
                    the full policy wording terms and conditions under heading “Important Information
                    about Our Insurance Intermediary Services”.
                </p>
                <div class="intermediary-services__divider"></div>
            </div>
        </div>

        <div class="page-section">
            <h4>BISL Limited is an insurance intermediary</h4>
            <p class="legal-modules__text">
                BISL Limited is an insurance intermediary and you will enter into two separate contracts
                when you take out an insurance policy through Us. The first contract is with Us and sets
                out the terms and conditions under which We will arrange and administer your insurance
                policy on your behalf and any fee(s) that We shall charge you for providing Our
                insurance intermediary services. Use this information to decide if Our services are
                right for you. You will also enter into a separate contract with the insurer for
                providing your insurance. Details of the premium charged and the terms and conditions
                relevant to the insurance policy are set out in your Welcome Pack. When you purchase
                additional products or pay for your policy by instalments using a fixed sum loan
                agreement, you will enter into further contracts with each insurer, supplier or credit
                provider for these services. Together the Intermediary Services Fee and insurer premium
                will form the cost of the insurance.
            </p>
        </div>
        <div class="page-section">
            <h4>What Insurance Intermediary Services will We provide?</h4>
            <p class="legal-modules__text">
                Our insurance intermediary services We provide to you on your behalf include:
                We will arrange your vehicle insurance by selecting a range of prices from Our panel of
                insurers that We can offer, We will arrange your cover with the insurer based on your
                requirements, We will deal with your payment and provide you with the details and
                documentation relating to your policy.
                Deal with your requests for adjustments you have to make to your policy, such as changes
                to the cover required, the use and/or vehicle insured. We will notify the insurer, deal
                with any amendments of risk or adjustments of premium required and provide you with
                confirmation of any changes to your policy. We may arrange cover with an alternative
                insurer if the amendments to your policy are not acceptable to your original insurer.
                We will also arrange the cancellation of your policy at your request, notify the
                insurer, deal with any refunds of premium, confirm the changes to your policy and
                arrange for the return of documents.
            </p>
            <p class="legal-modules__text">
                Deal with your requests for any duplicate or replacement documentation relating to your
                policy and/or additional products.
                We will arrange optional additional add-on products where you consider these products
                meet your needs.
                We will provide optional additional intermediary services, such as arranging No claims
                discount protection (NCDP) with your insurer. In the event NCDP is selected you will be
                provided with a separate contract setting out the terms and conditions upon which it is
                arranged and administered and priced.
                We will also arrange the renewal of your insurance and additional products based on your
                requirements (see Automatic Renewal section).
            </p>
        </div>

        <div class="page-section">
            <h4>Our fees and charges for providing Our insurance intermediary services to you </h4>
            <p class="legal-modules__text">
                We will charge you the following fees where applicable for Our services:
            </p>

            @if (hasIsfFee)
            {
                <p class="legal-modules__text">
                    <span class="bold">Intermediary services fee</span>
                    Included in the total cost of your policy is a fee of &pound;@Html.ComponentRenderTermsAndConditionsGetIsfFeeAmount(termsAndCondsConfiguration).ToString()
                    that We charge you for the separate intermediary services We provide in arranging, servicing
                    and renewing your @product.ToLower() insurance policy. This fee does not relate to any of the additional
                    products We may have arranged for you.
                </p>
            }

            @if (hasArrangementFee)
            {
                <p class="legal-modules__text">
                    <span class="bold">Arrangement fee</span>
                    If either you or We cancel within 14 days of receiving your policy documentation We will
                    charge you a fee of &pound;@Html.ComponentRenderTermsAndConditionGetCancellationFeeWithinFourteenDaysAmount(termsAndCondsConfiguration).ToString() plus the cost for the amount of time you have been covered
                    unless you have made a total loss claim in which case no refund will be given and all
                    premiums will be due.
                </p>
            }

            @if (hasCancellationFee)
            {
                <p class="legal-modules__text">
                    <span class="bold">Cancellation fee</span>
                    If either you or We cancel more than 14 days after receiving your policy documentation,
                    We will charge you a fee of &pound;@Html.ComponentRenderTermsAndConditionsGetCancellationFeeAfterFourteenDaysAmount(termsAndCondsConfiguration).ToString() plus the cost for the period of cover you have
                    benefitted from. This is providing no claims have been made. If a claim has been made,
                    or there has been an incident which may lead to a claim, no refund will be given, and
                    all premiums will be due. If you cancel the additional products taken out with your
                    policy, but not the main policy within 14 days of receiving your policy documentation,
                    you will pay for time on cover only. After this time, no refund will be given. If you
                    cancel the main policy then any additional products taken out will also be cancelled. If
                    upon investigation we find that you are no longer eligible for an add-on product, a
                    refund will be provided on a pro-rata basis. This clearly sets out Our approach to
                    providing you with a refund of premium for your time on cover. We will pay any refund
                    due to the bank account or credit/debit card We hold on file. The minimum amount We will
                    refund is &pound;1, refunds less than &pound;1 will not be given.
                </p>
                <p class="legal-modules__text">
                    Full details on how to cancel your policy can be found in Section 12 of your Motor
                    Policy Wording.
                </p>
            }


            @if (hasAmendmentFee)
            {
                <p class="legal-modules__text">
                    <span class="bold">Amendment fee</span>
                    If you, or We, make changes to your policy at any time, an amendment fee of &pound;@Html.ComponentRenderTermsAndConditionsGetAmendmentFeeAmountFeeAmount(termsAndCondsConfiguration).ToString() may be
                    charged and the cost of your policy may increase. It is important to check the information
                    you have provided is correct as charges may be applied. Further details on amendments can be
                    found in Section C of your Motor Policy Wording.
                </p>
            }


            <p class="legal-modules__text">
                Changes in Terms &amp; Conditions
                We are entitled to change any of the fees or terms and conditions of this contract
                between you and Us, (i) with 30 days notice during the term of the policy if required by
                law or regulatory authorities, or (ii) at renewal.
            </p>
        </div>

        <div class="page-section">
            <h4>Automatic Renewal</h4>
            <p class="legal-modules__text">
                Prior to renewal, We will use the details you’ve given Us to search our panel again for
                a renewal price. We will contact you before the end of your policy explaining what you
                need to do. We may automatically renew the policy where We are able to, using the
                payment method that you have provided Us, in order to ensure you remain continuously
                covered. Please note, if you don't advise Us that you don't want your policy to renew by
                the renewal date, We will attempt to take the first payment that is due. You can ask Us
                to stop taking payments automatically or change your payment method at any time by
                contacting Us on 0344 209 0471.
            </p>
        </div>

        <div class="page-section">
            <h4>Continuous Payment Authority </h4>
            <p class="legal-modules__text">
                When you pay by credit or debit card We will set up a Continuous Payment Authority
                (CPA). This allows Us to take your payments automatically when they are due, including
                for any amendments you make and future renewals. This means you don't have to provide
                new details for each payment and ensures your insurance continues uninterrupted. We will
                always inform the policyholder of any payments that are due to be taken. We reserve for
                payments with your bank 2 working days prior to a payment due date and can attempt
                collection up to 3 times within this 2-day window. We won't attempt any further
                reservations past the payment due date. If We're unable to collect a payment at any
                point, We will contact the policyholder. The policy may be cancelled if We don't receive
                payments that are due. You can cancel the CPA by contacting Us at any time.
            </p>
        </div>

        <div class="page-section">
            <div class="page-section--inner">
                <div class="button-container">
                    <button type="button" class="button button--primary button--large button--left slide-panel__close" data-dismiss="slide-panel" tabindex="0">
                        Done
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>