@{
    var componentId = "pre-price-important-information";
}

<div id="@componentId" class="panel" data-testid="@(componentId)__section">
    <main>
        <div class="page-section">
            <div class="page-section--inner">
                <div class="centered-main-heading">
                    <h1 class="centered-main-heading__heading" data-testid="@(componentId)__heading">
                        <span class="centered-main-heading__heading-text centered-main-heading__heading-text--bold">
                            Important information
                        </span>
                    </h1>
                    <p class="centered-main-heading__text">
                        We have written this to help you understand what information we collect, how we use it and what choices you have etc.
                    </p>
                    <div class="centered-main-heading__divider"></div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="page-section--inner">
                @Html.Partial("_DirectLegalContent")
            </div>
        </div>
        <div class="page-section">
            <div class="page-section--inner">
                <div class="button-container">
                    <button type="button" class="button button--primary button--large button--left slide-panel__close"
                            data-dismiss="slide-panel">
                        Done
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>


