﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.MarketingPreferences.Models.MarketingPreferencesViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}   

    <div id="@componentId" class="panel" data-testid="@(componentId)__section">
        @using (Html.BeginFormBgl("UpdateMarketingPreferences", "MarketingPreferencesComponent", FormMethod.Post, new { @class = "form-row contact-tiles" }))
        {
            <input data-id="variant" type="hidden" value="@Model.ComponentConfiguration.Variant" />
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend--hidden">Please select how you would like to be contacted in future:</legend>
                @Html.AntiForgeryToken()
                @foreach (var contactTile in Model.ContactTiles)
                {
                    var contactTileId = contactTile.ContactTile.ToString();
                    var contactTileIdInLowerCase = contactTileId.ToLower();
                    <input data-preference-id="@contactTile.Id"
                           class="form-row__input form-row__input--checkbox contact-tiles__input"
                           type="checkbox"
                           name="contact-tiles"
                           id="@(contactTileId)-Tile"
                           value="@(contactTileIdInLowerCase)"
                           checked="@(contactTile.IsContactTileSelected)"
                           data-testid="@(componentId)__@(contactTileIdInLowerCase)-tile__input" />
                    <label class="contact-tiles__tile contact-tiles__tile--@(contactTileIdInLowerCase)" for="@(contactTileId)-Tile">
                        <div class="contact-tiles__tile-wrapper">
                            <p class="contact-tiles__text" data-testid="@(componentId)__@(contactTileIdInLowerCase)-tile__text">
                                @contactTile.ContactTileText
                            </p>
                        </div>
                    </label>
                }
            </fieldset>
        }
    </div>