﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.MarketingPreferences.Models.MarketingPreferencesViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var brandName = Model.ComponentConfiguration.BrandName;
}

<div id="@componentId" class="panel" data-testid="@(componentId)__section">
    @using (Html.BeginFormBgl("OptOutAll", "MarketingPreferencesComponent", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <p class="legal-text">If you confirmed that you would like to receive marketing from @brandName when you purchased your policy, your data will be used to keep you up to date about relevant news and special offers. If you would no longer like to receive marketing from us, please click <a href="javascript:void()" class="link link-primary" data-id="optOutAll">here</a> or contact the customer services team.</p>

        <p data-id="optOutAllConfirmation" class="inline-text-icon-tick--success hide"><i class="ui-icon ui-icon-tick"></i>Thanks, your marketing preferences have been updated.</p>
    }
</div>