﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.WelcomeQuote.Models
@model BGL.Components.WelcomeQuote.Models.WelcomeQuoteViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var isMonthly = Model.PaymentSummaryData.SelectedPaymentType == WelComeQuoteConstants.PaymentPlan;
    var annualData = Model.PaymentSummaryData.AnnualPaymentSummaryData;
    var monthlyData = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
    var monthlyNotificationMessage = $"OK {Model.Name}, your new price is £{monthlyData?.RegularInstallmentAmount} a month with a deposit of £{monthlyData?.DepositAmount}. The underwriter for your policy is ##UNDERWRITER##";
    var annualNotificationMessage = $"OK {Model.Name}, your new price is £{annualData?.TotalAmountPayable}. The underwriter for your policy is ##UNDERWRITER##";
}

@using (Html.BeginFormBgl("PaymentSwitch", "WelcomeQuoteComponent", FormMethod.Post, new
{
    id = "WelcomeQuoteForm",
    data_store_key = "WelcomeQuote",
    data_on_success = "bgl.components.welcomequote.onSuccess"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.PaymentSwitchId)

    if (monthlyData != null)
    {
        <div class="button-container">
            <fieldset>
                <legend class="visually-hidden">Select how you want to pay</legend>
                @Html.RadioButtonFor(x => x.PaymentSwitchId, Model.PaymentSummaryData.MonthlyPaymentSummaryData.Id, new
                {
                    @class = "payment-switch__radio visually-hidden",
                    id = "monthly-price",
                    data_pay_schedule = "monthly",
                    @data_payment_method_id = Model.PaymentSummaryData.MonthlyPaymentSummaryData.Id
                })

                <label id="monthly-price-label" class="button button--secondary button--large payment-switch__label @(isMonthly ? "payment-switch__label--selected" : string.Empty)"
                       for="monthly-price"
                       data-testid="@(componentId)__monthly-button"
                       tabindex="-1">
                    &pound;@monthlyData.RegularInstallmentAmount/month
                </label>

                @Html.RadioButtonFor(x => x.PaymentSwitchId, Model.PaymentSummaryData.AnnualPaymentSummaryData.Id, new
                {
                    @class = "payment-switch__radio visually-hidden",
                    id = "annual-price",
                    data_pay_schedule = "annually",
                    data_payment_method_id = $"{Model.PaymentSummaryData.AnnualPaymentSummaryData.Id}"
                })

                <label id="annual-price-label" class="button button--secondary button--large payment-switch__label @(!isMonthly ? "payment-switch__label--selected" : string.Empty)"
                       for="annual-price"
                       data-testid="@(componentId)__annual-button"
                       tabindex="-1">
                    &pound;@annualData.TotalAmountPayable/year
                </label>
            </fieldset>
        </div>

        @Html.Hidden("monthly-welcomeQuote-notification-message", monthlyNotificationMessage)
        @Html.Hidden("annual-welcomeQuote-notification-message", annualNotificationMessage)
    }
}
