﻿@using BGL.Components.WelcomeQuote.Models
@model BGL.Components.WelcomeQuote.Models.WelcomeQuoteViewModel

@{
    var isMonthly = Model.PaymentSummaryData.SelectedPaymentType == WelComeQuoteConstants.PaymentPlan;
    var annualData = Model.PaymentSummaryData.AnnualPaymentSummaryData;
    var monthlyData = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
    var avivaCreditPhoneNumber = Model.ComponentConfiguration.AvivaCreditPhoneNumber;

    var avivaLegalText = Model.Underwriter.ToUpper() == "AVIVA"
        ? $"Credit is also available from Aviva Credit at an increased cost. If you want to continue with Aviva Credit, please call {avivaCreditPhoneNumber}."
        : string.Empty;
}

@if (monthlyData != null)
{
    <p class="welcome-quote__sub-text @(isMonthly ? string.Empty : "hide")" data-subtext="credit-agreement-text">If you pay by instalments, you will enter into a credit agreement. A record of the credit search will be visible to other lenders and details of your credit agreement will appear on your credit report.</p>
    <p class="welcome-quote__sub-text @(isMonthly ? string.Empty : "hide")" data-subtext="credit-agreement-text">
        <strong>
            To pay today &pound;@monthlyData.DepositAmount, followed by @monthlyData.NoOfInstallment monthly payments of &pound;@monthlyData.RegularInstallmentAmount.
        </strong>
        <span>
            Total amount payable &pound;@monthlyData.TotalAmountPayable. Amount of credit &pound;@monthlyData.CreditAmount. Charge for credit &pound;@monthlyData.CreditCharge.
            Cash price &pound;@monthlyData.CashPrice. Applicable APR @monthlyData.ApplicableApr%.
        </span>
    </p>
    <p class="welcome-quote__sub-text @(isMonthly ? string.Empty : "hide")" data-subtext="credit-agreement-text">
        Credit is provided by BFSL Limited. Registered office: Pegasus House, Bakewell Road, Orton Southgate, Peterborough, PE2 6SY.
        @avivaLegalText
        BISL Limited is not independent as both BISL Limited and BFSL Limited are part of the BGL Group of Companies.
    </p>

    if (!string.IsNullOrWhiteSpace(Model.IsfAmount))
    {
        <p class="welcome-quote__sub-text @(isMonthly ? string.Empty : "hide")" data-testid="welcome-quote-isf-wording-monthly" data-subtext="isf-wording-monthly">
            Your total insurance price includes an Intermediary Services Fee of &pound;@(Model.IsfAmount) (excluding interest) payable under your separate contract with BISL Limited
        </p>
    }
}

@if (annualData != null)
{
    if (!string.IsNullOrWhiteSpace(Model.IsfAmount))
    {
        <p class="welcome-quote__sub-text @(!isMonthly ? string.Empty : "hide")" data-testid="welcome-quote-isf-wording-annual" data-subtext="isf-wording-annual">
            Your total insurance price includes an Intermediary Services Fee of &pound;@(Model.IsfAmount) payable under your separate contract with BISL Limited
        </p>
    }
}
