html {
    box-sizing: border-box;
    height: 100%;
    // Sets a specific default `font-size` for user with `rem` type scales.
    font-size: $root-text-size;
    // Changes the default tap highlight to be completely transparent in iOS.
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, *::before, *::after {
	box-sizing: inherit;
}