﻿<div class="fbels">
    <div class="fbels__section">
        <h3 class="h4 fbels__heading fbels__heading--cover">Key benefits</h3>
        <ul class="list list--fbels list--fbels-cover">
            <li class="list__item">
                Extends cover from 7 days to a maximum of 60 days for the provision of a replacement vehicle if yours is not driveable or deemed a total loss following a road accident, fire or theft
            </li>
            <li class="list__item">
                Replacement vehicle of similar physical size to your own
            </li>
            <li class="list__item">
                &pound;100 cash alternative instead of replacement vehicle if you do not need a hire vehicle
            </li>
        </ul>
    </div>
    <div class="fbels__section">
        <h3 class="h4 fbels__heading fbels__heading--remember">Things to remember</h3>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item info">
                Subject to the terms and conditions of the vehicle replacement provider
            </li>
            <li class="list__item info">
                Must be able to provide a valid credit/debit card details and pay a security/fuel deposit
            </li>
            <li class="list__item info">
                Where you choose the one off £100 you will no longer be entitled to a replacement vehicle 
            </li>
            <li class="list__item info">
                Excludes provisional licence holders
            </li>
        </ul>
    </div>
</div>