﻿<div class="fbels">
    <div class="fbels__section">
        <h3 class="h4 fbels__heading fbels__heading--cover">Key benefits</h3>
        <ul class="list list--fbels list--fbels-cover">
            <li class="list__item">
                Extends cover from 7 days to a maximum of 28 days for the provision of a replacement vehicle if yours is not driveable or deemed a total loss following a road accident, fire or theft
            </li>
        </ul>
    </div>
    <div class="fbels__section">
        <h3 class="h4 fbels__heading fbels__heading--remember">Things to remember</h3>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item info">
                Subject to the terms and conditions of the vehicle replacement provider
            </li>
            <li class="list__item info">
                Must be able to provide a valid credit/debit card details and pay a security/fuel deposit
            </li>
            <li class="list__item info">
                Excludes provisional licence holders
            </li>
            <li class="list__item info">
                The vehicle will be a car derived van
            </li>
        </ul>
    </div>
</div>