﻿@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Extensions
@using BGL.Components.DemandsAndNeeds
@using BGL.Components.DemandsAndNeeds.Constants
@using BGL.Components.DemandsAndNeeds.Enums
@using BGL.Web.BudgetInsurance.MotorQuote.Constants
@using BGL.Components.DemandsAndNeeds.Models
@using BGL.Components.TermsAndConds

@{
    ViewBag.Title = "Optional Extras";
    Layout = "~/Views/Shared/_SinglePageAddonsLayout.cshtml";

    var product = Request.GetOwinContext()?.Authentication?.User?.Product();

    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();

    var marketingSourceConfig = new ComponentTermsAndCondsConfiguration
    {
        Id = "DemandsAndNeedsMarketingSource",
        TenantConfiguration = tenantConfiguration,
        MarketingSourceSetupList = new Dictionary<string, MarketingSourceDetails>
        {
            ["comparethemarket"] = new MarketingSourceDetails { ImageSource = "logo-ctm.svg", ImageAlt = "Compare the Market logo", ImageTitle = "Compare the Market logo", Name = "Compare the Market" },
            ["gocompare"] = new MarketingSourceDetails { ImageSource = "logo-gocompare.svg", ImageAlt = "Go Compare logo", ImageTitle = "Go Compare logo", Name = "GoCompare" },
            ["moneysupermarket"] = new MarketingSourceDetails { ImageSource = "logo-msm.svg", ImageAlt = "Money Super Market logo", ImageTitle = "Money Super Market logo", Name = "MoneySuperMarket" },
            ["confusedcom"] = new MarketingSourceDetails { ImageSource = "logo-confused.png", ImageAlt = "Confused.com logo", ImageTitle = "Confused.com logo", Name = "Confused.com" },
            ["quotezonecouk"] = new MarketingSourceDetails { ImageSource = "logo-quotezone.svg", ImageAlt = "Quotezone logo", ImageTitle = "Quotezone logo", Name = "Quotezone.co.uk" }
        }
    };

    bool.TryParse(Html.ComponentRenderTermsAndConditionsHasMarketingSource(marketingSourceConfig).ToString(), out var quoteHasMarketingSource);

    var configuration = new ComponentDemandsAndNeedsConfiguration
    {
        Id = "DemandsAndNeeds",
        NextPageUrl = Url.Action("Index", "Review"),
        PreviousPageUrl = Url.Action("Index", "PricePresentation"),
        ErrorRedirectUrl = ConfigurationManager.AppSettings["ErrorRedirectUrl"],
        TenantConfiguration = tenantConfiguration,
        QuoteHasMarketingSource = quoteHasMarketingSource,
        AddonOrder = AddonOrder(product),
        AddonConfigurations = AddOnConfigurations(product)
    };

    if (quoteHasMarketingSource)
    {
        configuration.AggregatorLogo = Html.ComponentRenderTermsAndConditionsAggregatorLogo(marketingSourceConfig);
        configuration.AggregatorName = Html.ComponentRenderTermsAndConditionsAggregatorName(marketingSourceConfig).ToString();
    }
}

@Html.ComponentRenderDemandsAndNeedsSinglePageAddOnView(configuration)

@functions
{
    public List<string> AddonOrder(string product)
    {
        if (product.Equals(AppConstants.ProductVan, StringComparison.OrdinalIgnoreCase))
        {
            return new List<string>
            {
                DemandsAndNeedsServiceConstants.NoClaimsDiscountProtection,
                DemandsAndNeedsServiceConstants.GuaranteedReplacementVan,
                DemandsAndNeedsServiceConstants.RacBreakdownAssistance,
                DemandsAndNeedsServiceConstants.ToolsCover,
                DemandsAndNeedsServiceConstants.PersonalAccidentCover,
                DemandsAndNeedsServiceConstants.Keycare,
            };
        }
        
        return new List<string>
        {
            DemandsAndNeedsServiceConstants.NoClaimsDiscountProtection,
            DemandsAndNeedsServiceConstants.GuaranteedReplacementCar,
            DemandsAndNeedsServiceConstants.RacBreakdownAssistance,
            DemandsAndNeedsServiceConstants.Keycare,
            DemandsAndNeedsServiceConstants.PersonalAccidentCover,
            DemandsAndNeedsServiceConstants.PriceProtection
        };
    }

    public List<AddOnConfiguration> AddOnConfigurations(string product)
    {
        var addOnConfiguration = new List<AddOnConfiguration>
        {
            GetNoClaimsDiscountProtectionConfiguration()
        };

        if (product.Equals(AppConstants.ProductVan, StringComparison.OrdinalIgnoreCase))
        {
            addOnConfiguration.Add(GetKeycareConfigurationForVan());
            addOnConfiguration.Add(GetBreakdownConfigurationForVan());
            addOnConfiguration.Add(GetGuaranteedReplacementVanConfiguration());
            addOnConfiguration.Add(GetToolsCoverConfiguration());
            addOnConfiguration.Add(GetPersonalAccidentCoverConfigurationForVan());
        }
        else
        {
            addOnConfiguration.Add(GetKeycareConfigurationForCar());
            addOnConfiguration.Add(GetBreakdownConfigurationForCar());
            addOnConfiguration.Add(GetGuaranteedReplacementCarConfiguration());
            addOnConfiguration.Add(GetPriceProtection());
            addOnConfiguration.Add(GetPersonalAccidentCoverConfigurationForCar());
        }

        return addOnConfiguration;
    }

    public AddOnConfiguration GetKeycareConfigurationForVan()
    {
        return GetKeycareConfiguration("_KeycareAddOn", "van");
    }

    public AddOnConfiguration GetKeycareConfigurationForCar()
    {
        return GetKeycareConfiguration("_KeycareAddOnWithThreeIcons", "car");
    }

    public AddOnConfiguration GetKeycareConfiguration(string viewName, string productName)
    {
        return new AddOnConfiguration
        {
            Id = "Keycare",
            AddOnName = "Keycare",
            ViewName = viewName,
            AddOnService = DemandsAndNeedsServiceConstants.Keycare,
            DidYouKnowText = $"We not only cover your {productName} keys but a whole range of keys."
        };
    }

    public AddOnConfiguration GetPersonalAccidentCoverConfigurationForVan()
    {
        return GetPersonalAccidentCoverConfiguration("_PersonalAccidentCoverAddOn");
    }

    public AddOnConfiguration GetPersonalAccidentCoverConfigurationForCar()
    {
        return GetPersonalAccidentCoverConfiguration("_PersonalAccidentCoverAddOnWithThreeIcons");
    }

    public AddOnConfiguration GetPersonalAccidentCoverConfiguration(string viewName)
    {
        return new AddOnConfiguration
        {
            Id = "PersonalAccidentCover",
            AddOnName = "Personal Accident Cover",
            ViewName = viewName,
            AddOnService = DemandsAndNeedsServiceConstants.PersonalAccidentCover,
            DidYouKnowText = "We can cover \u00A350 a day up to 80 days for any hospitalisation as a result of an accident."
        };
    }

    public AddOnConfiguration GetBreakdownConfigurationForVan()
    {
        return GetBreakdownConfiguration("_RacBreakdownCoverAddOn");
    }

    public AddOnConfiguration GetBreakdownConfigurationForCar()
    {
        return GetBreakdownConfiguration("_RacBreakdownCoverAddOnWithThreeIconsIncludedWithBankWording");
    }

    public AddOnConfiguration GetBreakdownConfiguration(string viewName)
    {
        return new AddOnConfiguration
        {
            Id = "Breakdown",
            AddOnName = "RAC Breakdown Cover",
            ViewName = viewName,
            AddOnService = DemandsAndNeedsServiceConstants.RacBreakdownAssistance,
            DidYouKnowText = "Breakdown cover is provided by",
            DidYouKnowImage = new ImageConfiguration
            {
                AltText = "RAC logo",
                HtmlClass = "addon-cta__info__rac",
                SourcePath = "logo-rac.svg"
            }
        };
    }

    public AddOnConfiguration GetGuaranteedReplacementVanConfiguration()
    {
        return new AddOnConfiguration
        {
            Id = "GuaranteedReplacementVan",
            AddOnName = "Guaranteed Replacement Van",
            ViewName = "_GuaranteedReplacementVanAddOn",
            AddOnService = DemandsAndNeedsServiceConstants.GuaranteedReplacementVan,
            DidYouKnowText = "Enterprise Rent-A-Car\u00AE has been carefully chosen, by us, to provide you with a Guaranteed Replacement Van should the worst happen.",
            DidYouKnowImage = new ImageConfiguration
            {
                AltText = "Enterprise Rent-A-Car logo",
                HtmlClass = "addon-cta__info__logo",
                SourcePath = "icon-singlepage-addons-enterprise.svg"
            },
            HasMultiTierContentVariations = true,
            TierCodeToViewMap = new Dictionary<string, string>
            {
                { "LCH-B", "~/Views/Extras/_Grv28DayContent.cshtml" },
                { "LCH-I", "~/Views/Extras/_Grv60DayContent.cshtml" }
            }
        };
    }

    public AddOnConfiguration GetPriceProtection()
    {
        return new AddOnConfiguration
        {
            Id = "PriceProtectionCover",
            AddOnName = "Price Protection Cover",
            ViewName = "_PriceProtectionAddOn",
            AddOnService = DemandsAndNeedsServiceConstants.PriceProtection,
            DidYouKnowText = "How reassuring would it be to know that the price you pay today will be the same, if not less, when it's time to renew your policy next year?**"
        };

    }

    public AddOnConfiguration GetGuaranteedReplacementCarConfiguration()
    {
        return new AddOnConfiguration
        {
            Id = "GuaranteedReplacementCar",
            AddOnName = "Guaranteed Replacement Car",
            ViewName = "_GuaranteedReplacementCarAddOnWithThreeIconsWithPlusTier",
            AddOnService = DemandsAndNeedsServiceConstants.GuaranteedReplacementCar,
            DidYouKnowText = "Enterprise Rent-A-Car\u00AE has been carefully chosen, by us, to provide you with a Guaranteed Replacement Car should the worst happen.",
            DidYouKnowImage = new ImageConfiguration
            {
                AltText = "Enterprise Rent-A-Car logo",
                HtmlClass = "addon-cta__info__logo",
                SourcePath = "icon-singlepage-addons-enterprise.svg"
            }
        };
    }

    public AddOnConfiguration GetToolsCoverConfiguration()
    {
        return new AddOnConfiguration
        {
            Id = "ToolsCover",
            AddOnName = "Tools and Van Contents Cover",
            ViewName = "_ToolsCoverAddOn",
            AddOnService = DemandsAndNeedsServiceConstants.ToolsCover,
            DidYouKnowText = "Provides cover for the contents of your van, whether for work or for hobbies."
        };
    }

    public AddOnConfiguration GetNoClaimsDiscountProtectionConfiguration()
    {
        return new AddOnConfiguration
        {
            Id = "NoClaimsDiscountProtection",
            AddOnName = "No Claims Discount Protection",
            ViewName = "_NoClaimsDiscountProtectionAddOn",
            AddOnService = DemandsAndNeedsServiceConstants.NoClaimsDiscountProtection,
            ShowBasket = true,
            BasketButtonType = BasketButtonType.AddRemove,
            DidYouKnowText = "No claims discount protection allows you to make one or more claims before your number of no claims discount years falls",
            PncdAverageDiscountTableRowsToInclude = new List<int>
            {
                4, 5, 6, 7, 8, 9
            }
        };
    }
}  