﻿<div class="page-section--inner">
    <div class="button-container">
        <button type="button" class="button button--primary button--large button--left slide-panel__close"
                data-dismiss="slide-panel">
            Done
        </button>
    </div>
</div>
