﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-medical-expenses.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Medical expenses</strong>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        Cover if you need medical help
    </p>
</div>
<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <p class="fbels__sub-heading">The insurer will pay the following;</p>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    Up to &pound;200 in medical expenses for each injured person as a result of an accident involving the car
                </li>
            </ul>
            <p class="fbels__admin-text">See policy documents for full information</p>
        </div>
        @Html.Partial("_QuestionBoxComprehensiveCover", "Medical Expenses")
    </div>
</div>

@Html.Partial("_ButtonContainer")
