﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-replacement-locks.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Replacement locks</strong>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        Cover for your car locks
    </p>
</div>
<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    &pound;500 cover if your car keys or ignition device are stolen
                </li>
                <li class="list__item">
                    The door locks and/or boot lock
                </li>
                <li class="list__item">
                    Ignition/steering lock
                </li>
                <li class="list__item">
                    Replacement keys or ignition activation device or the lock transmitter and central locking interface
                </li>
                <li class="list__item">
                    The reasonable cost of protecting the car, transporting it to the nearest repairers when necessary and delivering it back home
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">Things to think about</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    &pound;100 excess is payable
                </li>
                <li class="list__item info">
                    If your keys or activation device are left in the car you won't be covered
                </li>
                <li class="list__item info">
                    Cover isn't provided if they are taken without your permission by a person known to you, unless that person is reported to the police
                </li>
            </ul>
            <p class="fbels__admin-text">See policy documents for full information</p>
        </div>
    </div>

    @Html.Partial("_QuestionBoxComprehensiveCover", "Replacement Locks")
</div>

@Html.Partial("_ButtonContainer")
