﻿@using System.Web.Mvc.Html
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.ComponentCoverDetailsConfiguration
@{
    var componentId = Model?.Id;
}
<div class="fbels">
    <div class="fbels__section" data-testid="@(componentId)__cover-level-section-what-it-covers-car-third-party-only">
        <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
        <ul class="list list--fbels list--fbels-cover">
            <li class="list__item">
                Your liability to any person for death, bodily injury, or damage to property caused by an accident involving your car
            </li>
            <li class="list__item">
                Third Party Only cover whilst travelling abroad for up to 60 days cover in any one policy term
            </li>
        </ul>
    </div>
    <div class="fbels__section" data-testid="@(componentId)__cover-level-section-things-to-remember-car-third-party-only">
        <h2 class="h4 fbels__heading fbels__heading--remember">Things to remember</h2>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item">
                There is no cover for loss or damage to your car caused by accidental or malicious damage, fire, theft or attempted theft
            </li>
            <li class="list__item">
                Driving other cars cover only applies if shown on your certificate of motor insurance
            </li>
            <li class="list__item">
                There is no cover for glass claims
            </li>
        </ul>
    </div>
</div>
@if (Model?.NeedToDisplayIpidLink == true)
{
    @Html.Partial("_IPIDLink", "core-policy")
}