﻿@using System.Web.Mvc.Html
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.ComponentCoverDetailsConfiguration

@{
    var componentId = Model?.Id;
}

<div class="fbels">
    <div class="fbels__section" data-testid="@(componentId)__cover-level-section-what-it-covers-car-third-party-fire-and-theft">
        <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
        <ul class="list list--fbels list--fbels-cover">
            <li class="list__item">
                Cover for loss or damage to your car caused by fire, theft or attempted theft
            </li>
            <li class="list__item">
                Your liability to any person for death, bodily injury, or damage to property caused by an accident involving your car
            </li>
            <li class="list__item">
                Third Party Fire and Theft cover whilst travelling abroad for up to 60 days in any one policy term
            </li>
        </ul>
    </div>
    <div class="fbels__section" data-testid="@(componentId)__cover-level-section-things-to-remember-car-third-party-fire-and-theft">
        <h2 class="h4 fbels__heading fbels__heading--remember">Things to remember</h2>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item">
                There is no cover for damage to your car caused by accidental or malicious damage
            </li>
            <li class="list__item">
                There is no cover for glass claims unless caused directly by fire or theft
            </li>
            <li class="list__item">
                There is no cover for theft if the keys are left in or on the car while it is left unattended
            </li>
        </ul>
    </div>
</div>
@if (Model?.NeedToDisplayIpidLink == true)
{
    @Html.Partial("_IPIDLink", "core-policy")
}