﻿﻿@model BGL.Components.CoverDetails.Models.CoverExcessViewModel
@{
    var componentId = Model.ComponentConfiguration.Id;
}
<div class="feature-header">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text" data-testid="@(componentId)__feature-header">Excess</strong>
    </h1>
    <div class="feature-header__divider"></div>
</div>