﻿
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.CoverExcessViewModel
@{
    var configuration = Model.ComponentConfiguration;
    var componentId = Model.ComponentConfiguration.Id;
    var voluntaryExcessAvailableAmounts = Model?.ComponentConfiguration?.ExcessConfiguration?.VoluntaryExcessAvailableAmounts ?? Enumerable.Empty<int>();
    var isService = configuration != null ? configuration.IsService : false;
}

<div class="excess-bar" data-testid="@(componentId)__excess-bar" data-is-excess-patched="false">
    <div class="excess-bar__wrapper">
        <div class="bar-graph--dual-color excess-bar__section excess-bar__section--graph">
            <div class="excess-bar__bar bar-graph__bar-wrapper">
                <div class="bar-graph__bar bar-graph__bar--one" data-testid="@(componentId)__excess-bar_bar-one"></div>
                <div class="bar-graph__bar bar-graph__bar--two" data-testid="@(componentId)__excess-bar_bar-two"></div>
                <div class="bar-graph__shadow"></div>
            </div>
        </div>
        <div class="excess-bar__section">

            <div class="excess-bar__excess-segment excess-bar__excess-segment--compulsory">
                <h2 class="excess-bar__heading excess-bar__heading--compulsory" data-testid="@(componentId)__compulsory-excess_title">Compulsory Excess</h2>
                <div class="excess-bar__value-box">
                    <p class="excess-bar__value excess-bar__value--compulsory">&pound;<span class="compulsory-excess-amount" data-testid="@(componentId)__compulsory-excess_amount" data-value="@Model.CompulsoryExcess.Amount">@Model.CompulsoryExcess.Amount.FormatPrice()</span></p>
                </div>
                <p class="excess-bar__text" data-testid="@(componentId)__compulsory-excess_description">
                    The amount set by the insurance provider and can&apos;t be changed.
                </p>
            </div>
            <div class="excess-bar__excess-segment excess-bar__excess-segment--voluntary">
                <h2 class="excess-bar__heading excess-bar__heading--voluntary" data-testid="@(componentId)__voluntary-excess_title">Voluntary Excess</h2>
                <div class="excess-bar__value-box">
                    <p class="excess-bar__value excess-bar__value--voluntary">&pound;<span class="voluntary-excess-amount" data-testid="@(componentId)__voluntary-excess_amount" data-value="@Model.VoluntaryExcess.Amount">@Model.VoluntaryExcess.Amount.FormatPrice()</span></p>
                    @if (Model.VoluntaryExcess.Editable && !Model.ComponentConfiguration.IsService)
                    {
                        <div class="excess-bar__button-wrapper">
                            <button id="Excess-Bar-Edit-Button"
                                    type="button"
                                    aria-label="Edit voluntary excess amount"
                                    class="button button--secondary button--xs excess-bar__button"
                                    data-testid="@(componentId)__voluntary-excess_edit-button"
                                    data-custom-select-button>
                                Edit
                            </button>
                            <div class="inline-modal excess-bar__edit-modal" data-custom-select-container>
                                <div role="listbox"
                                     aria-activedescendant="voluntaryExcessSelectItem_@Model.VoluntaryExcess.Amount"
                                     data-custom-select-list>
                                    @foreach (var voluntaryExcessAmount in voluntaryExcessAvailableAmounts)
                                    {
                                        <button id="voluntaryExcessSelectItem_@voluntaryExcessAmount"
                                                type="button"
                                                role="option"
                                                class="button button--radio excess-bar__modal-button@(voluntaryExcessAmount == Model.VoluntaryExcess.Amount ? " selected" : string.Empty)"
                                                aria-selected="@((voluntaryExcessAmount == Model.VoluntaryExcess.Amount).ToString())"
                                                data-index="@Model.VoluntaryExcess.Id"
                                                data-value="@voluntaryExcessAmount"
                                                data-testid="@(componentId)__voluntary-excess__modal-button-@voluntaryExcessAmount"
                                                data-custom-select-item="@Model.VoluntaryExcess.Id">
                                            &pound;@voluntaryExcessAmount.FormatPrice()
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.VoluntaryExcess.Editable || Model.ShowVoluntaryExcessText)
                {
                    <p class="excess-bar__text" data-testid="@(componentId)__voluntary-excess_description">
                        Your excess could help you to keep your premium down - the higher your voluntary excess the lower your price and vice versa. It's important to remember that this excess will be payable in addition to any compulsory excess which applies.
                    </p>
                }
            </div>
            <div class="excess-bar__excess-segment excess-bar__excess-segment--total">
                <h2 class="excess-bar__heading excess-bar__heading--total" data-testid="@(componentId)__total-excess_title">Policy Excess</h2>
                <div class="excess-bar__value-box">
                    <p class="excess-bar__value excess-bar__value--total">&pound;<span class="total-excess-amount" data-testid="@(componentId)__total-excess_amount" data-value="@Model.TotalExcessAmount">@Model.TotalExcessAmount.FormatPrice()</span></p>
                </div>
                <p class="excess-bar__text" data-testid="@(componentId)__total-excess_description">
                    This is the first part of any claim that you will pay. It consists of a COMPULSORY excess which is a fixed amount set by the insurer and can't be changed plus a VOLUNTARY excess which is the amount you are prepared to pay in addition to the compulsory excess.
                </p>
            </div>
        </div>
    </div>
</div>