﻿<div class="accordion">
    <div class="accordion__section">
        <h2 class="h5 accordion__heading-wrapper">
            <button class="accordion__heading-button" type="button" aria-expanded="false">
                What is acceptable No Claims Discount proof?
            </button>
        </h2>
        <div class="accordion__body-wrapper">
            <div class="accordion__body-content">
                <p class="accordion__text"></p>
                <p>Your renewal offer from your last UK insurer or broker will show your proof of No Claims Discount. This may also be shown as No Claims Bonus (NCB).</p>
                <p>Your proof of No Claims Discount must meet the following criteria:</p>
                <ul class="accordion__ma-bullets">
                    <li>be less than 2 years old</li>
                    <li>show the No Claims Discount in years or percentage </li>
                    <li>show the date the policy ended or was due to be renewed</li>
                    <li>include the registration number of the vehicle</li>
                    <li>must not be in use on another vehicle</li>
                    <li>the proof must be in English</li>
                </ul>
                <p>Proof from a company car is also acceptable. We will need a letter from the Insurer/Broker/Lease Company or Employer stating: you, the driver, had sole use of the company car including personal use; that you no longer drive the vehicle; the dates that you have driven to and from; details of any claims or confirmation that no claims have been made; proof should be on company headed paper in a non editable format; If the business is a family run business, the NCD proof must come from the insurer.</p>
                <h3 class="h4">Important</h3>
                <p>All documentation provided to us is only acceptable where you are either:</p>
                <ul class="accordion__ma-bullets">
                    <li>The policy holder; or</li>
                    <li>A named driver who is the husband or wife of the policy holder; or</li>
                    <li>A named driver who is the civil partner of the policy holder</li>
                </ul>
                <p></p>
            </div>
        </div>
    </div>
</div>