@model BGL.Components.CoverDetails.Models.CoverListViewModel
@using BGL.Components.CoverDetails.Enums

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration.Id;
    var resourceBasePath = configuration.TenantConfiguration.ResourceBasePath;
    var addonList = Model.Covers;
    var brand = configuration.PremiumProductVariantKey;
}

@if (addonList.Any())
{
    <div class="page-section" id="@componentId">
        <div class="page-section--inner">
            <div class="addons--list__banner">
                <p>
                    Premier cover includes
                     <strong>@string.Join(", ", addonList.Take(addonList.Count - 1).Select(x => x.Text))</strong>
                    @(addonList.Count >  1 ? "and" : string.Empty)
                     <strong>@addonList.LastOrDefault().Text</strong>
                    as standard.
                    <br>For details of the key benefits and limitations please click on the below Insurance Product Information Document links
                </p>
                <div class="addons--list">
                    <ul class="addons--list__list">
                        @foreach (var addon in addonList)
                        {
                        <li class="addons--list__item">
                            @if (brand == PremiumProductVariantKey.PostOfficePremier)
                            {
                                <img class="addons--list__image" src="@(resourceBasePath)icon-@addon.Key-red.svg" alt="">
                            }
                            else
                            {
                                <img class="addons--list__image" src="@(resourceBasePath)icon-@(addon.Key).svg" alt="">
                            }
                            <button class="addons--list__link"
                                    tabindex="0"
                                    id="@(addon.Key)PanelPremier"
                                    data-cover-key="@addon.Key"
                                    data-toggle="slide-panel"
                                    data-target="#SlidePanel"
                                    data-container="SlidePanelContent"
                                    data-content-url="@addon.Action"
                                    data-action-url>
                                <strong>@addon.Text</strong>
                            </button>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
