﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.CoverDetails.Models.Breakdown.BreakdownViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}__form";

    var prices = Model.HeaderItems.FirstOrDefault();
    var monthPrice = (prices?.MonthlyPrice ?? 0M).FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
    var yearPrice = (prices?.AnnualPrice ?? 0M).FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
}

<div id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl("UpdateBreakdown", "CoverDetailsComponentGenericAddon", FormMethod.Post, new
    {
        id = formId,
        @class = "step-form addon-form--margin",
        data_on_success = "bgl.components.coverdetails.breakdownassistancedetailview.onSuccess",
        data_on_error = "bgl.components.coverdetails.breakdownassistancedetailview.onError"
    }))
    {
    <div id="addon-questions" class="page-section__addon-questions">
        @Html.AntiForgeryToken()
        @Html.Hidden("Code")
        @Html.Hidden("SelectedCoverLevelCode", prices?.Code)
        @Html.Hidden("UpdateGenericAddonUrl", Url.Action("UpdateGenericAddon", "CoverDetailsComponentGenericAddon"))
        @Html.HiddenFor(model => model.CoverId)
        @Html.HiddenFor(x => x.PreviousStepUrl, new { id = "previous-stepUrl" })
        @Html.HiddenFor(x => x.PreviousAddon, new { id = "previous-addon" })
        @Html.HiddenFor(x => x.NextAddonUrl, new { id = "next-addon" })
        @Html.HiddenFor(x => x.MandatoryCover, new { id = "mandatory-cover" })
        @Html.HiddenFor(x => x.ShowMeetsYourNeedsHoustonNotification)

        <div class="page-section--inner">
            <div class="addon-radio-question">
                <div id="button-panel" class="form-row">

                    @if (Model.IsAnnualPayment)
                    {
                        <p class="addon-radio-question__price">
                            <strong class="addon-radio__main-price">Add Breakdown for &pound;@yearPrice/year</strong>
                        </p>
                    }
                    else
                    {
                        <p class="addon-radio-question__price">
                            <strong class="addon-radio__main-price">Add Breakdown for &pound;@monthPrice/month*</strong>
                            <span class="addon-radio__sub-price">(&pound;@yearPrice/year)</span>
                        </p>
                        <p class="feature-header__interest" data-testid="@(componentId)__month-caveat">*Monthly price excludes interest</p>
                    }

                    <fieldset class="form-row__field-set">
                        <legend class="form-row__legend--hidden">Would you like to add Breakdown to your policy?</legend>
                        @Html.RadioButtonFor(Model => Model.IsAddonSelected, "Yes", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "Breakdown-Yes", data_focusid = "Breakdown-Yes", data_testid = $"{componentId}__Breakdown-radio-Yes" })
                        @Html.LabelFor(x => x.IsAddonSelected, "Yes", new { @for = "Breakdown-Yes", id = "Breakdown-Yes-Label", @class = "form-row__label form-row__label--pill addon-radio__radio", @role = "button", @tabindex = "0" })
                        @Html.RadioButtonFor(Model => Model.IsAddonSelected, "No", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "Breakdown-No", data_focusid = "Breakdown-No", data_testid = $"{componentId}__Breakdown-radio-No" })
                        @Html.LabelFor(x => x.IsAddonSelected, "No", new { @for = "Breakdown-No", id = "Breakdown-No-Label", @class = "form-row__label form-row__label--pill addon-radio__radio", @role = "button", @tabindex = "0" })
                    </fieldset>
                </div>
                <p class="form-row__validation-text">
                    Please check that you have filled in all of the information before continuing.
                </p>
            </div>
        </div>
    </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button id="next-extras-button"
                        class="button button--primary button--large button--right"
                        type="button"
                        data-testid="next-extras-button">
                    <strong>Next: </strong><span id="next-button-span">Optional extra</span>
                </button>
                <a id="Back-Button" class="button button--text button--large button--back button--left"
                   tabindex="0"
                   data-testid="extras-back-button"
                   data-action-url
                   data-cover-details-addon-back-button>
                    Back
                </a>
            </div>
        </div>
    }
</div>