@using BGL.Common.Utility.Constants
@model BGL.Components.CoverDetails.Models.CoverExcessViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var voluntaryExcessAmount = Model.VoluntaryExcess.Amount;
    var compulsoryExcessAmount = Model.CompulsoryExcess.Amount;
    var totalExcessAmount = Model.TotalExcessAmount;
    var buttonText = Model.VoluntaryExcess.Editable ? "Change excess" : "View excess";

    var voluntaryPercentage = totalExcessAmount == 0 ? 50 : Math.Floor((decimal)voluntaryExcessAmount / totalExcessAmount * 100);
}

<div id="@componentId">
    <div class="policy-excess" data-voluntary-percentage="@voluntaryPercentage">
        <span class="total-excess" data-testid="@(componentId)__excess-bar-total-amount">Policy excess &pound;@totalExcessAmount</span>
        <span class="voluntary-excess" aria-label="Voluntary excess contribution" data-testid="@(componentId)__excess-bar-voluntary-amount">&pound;@voluntaryExcessAmount <span class="visually-hidden">&nbsp;voluntary excess</span></span>
        <span class="compulsory-excess" aria-label="Compulsory excess contribution" data-testid="@(componentId)__excess-bar-compulsory-amount">&pound;@compulsoryExcessAmount <span class="visually-hidden">&nbsp;compulsory excess</span></span>
    </div>
    <button id="EditExcesses"
            class="button button--secondary button--xs"
            data-toggle="slide-panel"
            data-cover-id="@Model.CoverId"
            data-cover-key="@FeatureServiceConstants.TotalExcess"
            data-target="#SlidePanel"
            data-container="SlidePanelContent"
            data-action-url="@Url.Action("CoverExcesses", "CoverDetailsComponent")"
            data-testid="@(componentId)__excess-bar-edit-excess-button">
        @buttonText
    </button>
</div>