﻿@using System.Web.Mvc.Html
@model BGL.Components.CoverDetails.Models.CoverDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div id="@componentId" class="accordion__section" data-testid="@(componentId)__cover-details">
    <table class="accordion-table">
        <tbody>
            @Html.Partial("_CoverDetailsTable", Model)
        </tbody>
    </table>
</div>
