@model BGL.Components.CoverDetails.Models.CoverListViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration.Id;
    var coverFeaturePriority = configuration.CoverFeaturePriority;
}

<div id="@componentId">
    <ul class="card-container card-container__click-for-more">
        @foreach (var cover in Model.Covers)
        {
            <li class="card-container__card">
                <button id="@(componentId)_@(cover.Key)_link"
                        data-testid="@(componentId)__@(cover.Key)_link"
                        class="@(cover.IsPremier ? "policy-inclusion-premier" : string.Empty)"
                        data-toggle="slide-panel"
                        data-cover-id="@cover.CoverId"
                        data-cover-key="@cover.Key"
                        data-cover-text="@cover.Text"
                        data-target="#SlidePanel"
                        data-container="SlidePanelContent"
                        data-content-url="@(coverFeaturePriority.ContainsKey(cover.Key) ? coverFeaturePriority[cover.Key]?.ContentUrl : string.Empty)"
                        data-action-url="@Url.Action(cover.Action, cover.Controller)"
                        aria-labelledby="@(cover.Key)"
                        aria-describedby="@($"{cover.Key}_description")@if (cover.HasUpdate) { @($" {cover.Key}_upgrade-availability") }">
                    <p class="card-container__card-description">@cover.HeaderText</p>
                    <div class="policy-feature__image-wrapper">
                        <img class="card-container__card-image" src="@(configuration.TenantConfiguration.ResourceBasePath)icon-@(cover.IconImage).svg" alt="">
                    </div>
                    <h3 id="@(cover.Key)" class="card-container__card-title">@cover.Text</h3>
                    <p id="@(cover.Key)_description" class="card-container__card-description">@cover.Description</p>
                    @if (cover.HasUpdate)
                    {
                        <span id="@(cover.Key)_upgrade-availability" class="card-container__card-upgrade">Upgrade available</span>
                    }
                </button>
            </li>
        }
    </ul>

    @if (Model.Covers.Count > 6)
    {
        <div class="text-center">
            <button id="@(componentId)_feature-banner-button" class="link link-primary inclusion-list__link" aria-expanded="false">View all features</button>
        </div>
    }

</div>