﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.MainDriverViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = "main-driver";
    var controllerName = "CoverDetailsComponent";
    var actionName = "UpdateMainDriver";
    var dataOnSuccess = "bgl.components.maindriver.onSuccess";
    var dataOnError = "bgl.components.maindriver.onError";
    var dataStoreKey = "editMainDriver";
    var backButtonUrl = Model.ComponentConfiguration.BackButtonUrl;
    var hiddenClass = string.Empty;
    var submitButtonText = "Done";

    if (Model.ComponentConfiguration.JourneyType == JourneyTypes.MultiStepEdit)
    {
        controllerName = "CoverDetailsComponentMainDriver";
        actionName = "UpdateMainDriver";
        dataOnSuccess = "bgl.components.coverdetails.maindriver.onSuccess";
        dataOnError = "bgl.components.coverdetails.maindriver.onError";
        dataStoreKey = Model.DataStoreKey;
        hiddenClass = "hide";
        submitButtonText = "Continue";
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl(actionName, controllerName, FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_on_success = dataOnSuccess,
        data_on_error = dataOnError,
        data_store_key = dataStoreKey
    }))
    {
        @Html.AntiForgeryToken()
        <h1 class="step-form__section-title">Your cover</h1>
        <h2 class="step-form__heading">Who is the main driver?</h2>
        <div class="form-row">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Who is the main driver?</legend>
                @foreach (var item in Model.Drivers)
                {

                    if (item.Selected)
                    {
                        @Html.RadioButtonFor(x => x.SelectedPersonId, item.Value, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", @checked = string.Empty, id = "Main-Driver-" + item.Value, data_store = "MainDriverId"})
                    }
                    else
                    {
                        @Html.RadioButtonFor(x => x.SelectedPersonId, item.Value, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "Main-Driver-" + item.Value, data_store = "MainDriverId"})
                    }

                    @Html.LabelFor(x => x.SelectedPersonId, item.Text, new { @class = "form-row__label form-row__label--pill", @for = "Main-Driver-" + item.Value, data_testid = $"{componentId}__drivers", @role = "button", @tabindex = "0" })

                }

                @Html.HiddenFor(m => m.JourneyType)
                @Html.HiddenFor(x => x.CoverId)

            </fieldset>
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right @(hiddenClass)" data-testid="@(componentId)__done-button" value="@submitButtonText" formnovalidate>@submitButtonText</button>
                @if (Model.ComponentConfiguration.JourneyType == JourneyTypes.MultiStepEdit)
                {
                    <a href="@backButtonUrl" data-step-type="previous-step-journey" data-component="coverdetailsmaindriver" class="button button--text button--large button--left button--back back-button-link" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
                }
            </div>
        </div>
    }
</div>
