﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.CoverDetails.Models.DemandAndNeeds.AddonDetailViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div id="@(componentId)__price-protect-addon" class="page-section" data-testid="@(componentId)__price-protect-addon">
    @using (Html.BeginFormBgl("UpdateGenericAddon", "CoverDetailsComponentGenericAddon", FormMethod.Post, new
    {
        id = "update-price-protection-form",
        @class = "form",
        data_on_success = "bgl.components.coverdetails.priceprotectdetailview.onSuccess",
        data_on_error = "bgl.components.coverdetails.priceprotectdetailview.onError"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("CoverId", Model.AddonPaymentDetails.CoverId)
        @Html.Hidden("CoverName", Model.AddonPaymentDetails.CoverName)
        @Html.HiddenFor(x => x.SelectedCoverLevelCode)
        @Html.HiddenFor(x => x.PreviousAddon, new { id = "previous-addon" })
        @Html.HiddenFor(x => x.NextAddonUrl, new { id = "next-addon" })
        @Html.HiddenFor(x => x.PreviousStepUrl, new { id = "previous-stepUrl" })

        <div id="addon-questions" class="page-section__addon-questions">
            <div class="page-section--inner">
                <div class="addon-radio-question">
                    <div id="button-panel" class="form-row">
                        @Html.Partial("AddonPaymentDetails.Bottom", Model.AddonPaymentDetails)

                        <fieldset class="form-row__field-set">
                            <legend class="form-row__legend--hidden">Would you like to add Price Protect to your policy?</legend>

                            @Html.RadioButtonFor(x => x.IsAddonSelected, "Yes", new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "price-protect-yes", Name = "IsAddonSelected" })
                            @Html.LabelFor(x => x.IsAddonSelected, "Yes", new Dictionary<string, object> { { "class", "form-row__label form-row__label--pill addon-radio__radio" }, { "for", "price-protect-yes" }, { "data-testid", $"{componentId}__add_price_protection" } })

                            @Html.RadioButtonFor(x => x.IsAddonSelected, "No", new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "price-protect-no", Name = "IsAddonSelected" })
                            @Html.LabelFor(x => x.IsAddonSelected, "No", new Dictionary<string, object> { { "class", "form-row__label form-row__label--pill addon-radio__radio" }, { "for", "price-protect-no" }, { "data-testid", $"{componentId}__remove_price_protection" } })
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="page-section">
        <div class="page-section--inner">
            <div class="button-container">
                <button id="next-button"
                        class="button button--primary button--large button--right"
                        type="button"
                        data-testid="@(componentId)__pncd-next">
                    <span>Skip</span>
                </button>
                <a id="back-button" class="button button--text button--large button--back button--left"
                   tabindex="0"
                   data-testid="@(componentId)__pncd-back"
                   data-action-url
                   data-cover-details-addon-back-button>
                    Back
                </a>
            </div>
        </div>
    </div>
</div>
