﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.RegisterKeeper.RegisteredKeeperViewModel

@{
    const string scriptPrefix = "bgl.components.coverdetails.registeredkeeper";
    var componentId = Model.ComponentConfiguration.Id;
    var submitButtonText = "Done";
    var onSuccessHandler = $"{scriptPrefix}.onSuccess";
    var continueButtonVisibilityClass = string.Empty;
    var companyVisibilityClass = string.IsNullOrEmpty(Model.CompanyName) ? "hide" : string.Empty;
    var backVisibilityClass = "hide";

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        backVisibilityClass = string.Empty;
        continueButtonVisibilityClass = "hide";
        companyVisibilityClass = "hide";
        submitButtonText = "Continue";
        onSuccessHandler = $"{scriptPrefix}.onMultiStepEditSuccess";
        Model.RegisteredKeeperId = string.Empty;
        Model.CompanyName = string.Empty;
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">
    @using (Html.BeginFormBgl("ConfirmRegisteredKeeper", "CoverDetailsComponentRegisteredKeeper", FormMethod.Post, new
    {
        id = $"{componentId}_form-registered-keeper",
        @class = "step-form",
        data_on_success = onSuccessHandler,
        data_on_error = $"{scriptPrefix}.onError",
        data_store_key = "CoverDetails"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.DataStoreKey)
        @Html.HiddenFor(m => m.JourneyType)
        @Html.HiddenFor(m => m.PolicyType)

        <h1 class="step-form__sub-heading">
            Registered keeper
        </h1>
        <h2 class="step-form__heading">Who is the registered keeper of the @Model.PolicyType?</h2>

        <div class="form-row">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Who is the registered keeper of the car?</legend>

                @foreach (var option in Model.Options)
                {
                    if (option.Code == "Other")
                    {
                        @Html.RadioButtonFor(m => m.RegisteredKeeperId, option.Code, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", data_keeper_type = option.Type, id = $"{option.UniqueCode}-registered-keeper", name = option.UniqueCode })
                    }
                    else
                    {
                        @Html.RadioButtonFor(m => m.RegisteredKeeperId, option.Code, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", data_keeper_type = option.Type, id = $"{option.UniqueCode}-registered-keeper", name = option.UniqueCode, data_store = nameof(Model.RegisteredKeeperId) })
                    }

                    @Html.LabelFor(m => m.RegisteredKeeperId, option.Value, new { @class = "form-row__label form-row__label--pill", @for = $"{option.UniqueCode}-registered-keeper", data_testid = $"{componentId}__option", @role = "button", @tabindex = "0" })
                }

            </fieldset>
            @Html.ValidationMessageFor(m => m.RegisteredKeeperId, string.Empty, new { @class = "form-row__validation-text" })
        </div>

        <div class="form-row @companyVisibilityClass" id="company-keeper">
            @Html.LabelFor(m => m.CompanyName, "What is the company name?", new { @class = "form-row__label" })
            @Html.TextBoxForBgl(m => m.CompanyName, new { @class = "form-row__input form-row__input--full-width", data_store = nameof(Model.CompanyName), data_testid = $"{componentId}__company-name" })
            @Html.ValidationMessageFor(m => m.CompanyName, string.Empty, new { @class = "form-row__validation-text" })
        </div>

        @Html.HiddenFor(m => m.Type, new { data_dependent_property = "Type" })
        @Html.HiddenFor(m => m.VehicleId)

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit"
                        class="button button--primary button--large button--right @continueButtonVisibilityClass"
                        id="ContinueButton"
                        value="@submitButtonText"
                        data-testid="@(componentId)__done-button">
                    @submitButtonText
                </button>

                <a class="button button--text button--large button--back button--left @backVisibilityClass"
                   href="@Model.ComponentConfiguration.PreviousStepUrl">Back</a>
            </div>
        </div>
    }
</div>
