﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.CoverExcessViewModel
@{
    var componentId = Model.ComponentConfiguration.Id;
    var configuration = Model.ComponentConfiguration;
    var voluntaryExcessAvailableAmounts = Model?.ComponentConfiguration?.ExcessConfiguration?.VoluntaryExcessAvailableAmounts ?? Enumerable.Empty<int>();
    var backButtonUrl = Model.ComponentConfiguration.BackButtonUrl;
    var submitController = "CoverDetailsComponent";
    var formId = "CoverExcess";
    var hiddenClass = "hide";
    var submitButtonText = "Continue";
    var dataOnSuccess = "bgl.components.excesses.onSuccess";

    if (configuration.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitController = "CoverDetailsComponentExcess";
        dataOnSuccess = "bgl.components.coverdetails.coverexcesses.onSuccess";
    }
}

<div data-component-id="@componentId" class="narrow">
    @using (Html.BeginFormBgl("CoverExcessPost", submitController, FormMethod.Post, new
    {
        @class = "step-form",
        data_on_success = dataOnSuccess,
        data_store_key = Model.DataStoreKey,
        id = formId
    }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("ExcessId", Model.VoluntaryExcess.Id)
        <h1 class="step-form__section-title">Your cover</h1>
        <h2 class="step-form__heading">How much voluntary excess would you like?</h2>
        <p class="help-text__sub-text">This excess will be payable in addition to any compulsory excess which applies.</p>
        <div class="form-row">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Voluntary excess</legend>
                <div class="step-form__button-wrapper">
                    @foreach (var voluntaryExcessAmount in voluntaryExcessAvailableAmounts)
                    {
                        <input id="excess-value-@voluntaryExcessAmount" name="Amount" type="radio" class="hide form-row__input form-row__input--radio form-row__input--hidden" data-store="coverExcessAmount" value="@voluntaryExcessAmount">
                        <label class="form-row__label form-row__label--pill" data-testid="Voluntary_Excess_Amount" for="excess-value-@voluntaryExcessAmount" role="button" tabindex="0"> &pound;@voluntaryExcessAmount.FormatPrice() </label>
                    }
                </div>
            </fieldset>
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right @(hiddenClass)" data-testid="@(componentId)__done-button" value="@submitButtonText" formnovalidate>@submitButtonText</button>
                <a href="@backButtonUrl" data-step-type="previous-step-journey" data-component="coverdetailsmaindriver" class="button button--text button--large button--left button--back back-button-link" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
            </div>
        </div>
    }
</div>
