﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Components.WelcomeQuote.ViewOptions
@model BGL.Components.WelcomeQuote.Models.WelcomeQuoteViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var monthlyData = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
    var welcomeQuoteDescriptionViewName = Model.ComponentConfiguration.ViewOptions.WelcomeQuoteDescription.GetViewNameFromEnum(true);
    var isMonthly = Model.PaymentSummaryData.SelectedPaymentType == "Payment Plan";
    var splitPaymentInformation = Model.ComponentConfiguration.ViewOptions.WelcomeQuoteDescription == WelcomeQuoteDescription.WithISFWording;
}

@if (monthlyData != null)
{
    <div class="payment-annual-information payment-annual-information__promote-monthly payment-annual-information__promote-monthly--isf @(isMonthly ? "hide" : "")" id="@(componentId)__payment-annual-information">
        @if (splitPaymentInformation)
        {
            @Html.Partial(welcomeQuoteDescriptionViewName + "Annual", Model)
        }
    </div>

    <div class="payment-monthly-information payment-monthly-information__promote-monthly payment-monthly-information__promote-monthly__legal" id="@(componentId)__payment-monthly-information">
        @if (splitPaymentInformation)
        {
            @Html.Partial(welcomeQuoteDescriptionViewName + "Monthly", Model)
        }
        else
        {
            @Html.Partial(welcomeQuoteDescriptionViewName, Model)
        }
    </div>
}
