﻿@using System.Activities.Statements
@using System.EnterpriseServices
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.WelcomeQuote.Models
@using BGL.Components.WelcomeQuote.ViewOptions
@model BGL.Components.WelcomeQuote.Models.WelcomeQuoteViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var annualData = Model.PaymentSummaryData.AnnualPaymentSummaryData;
    var monthlyData = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
    var monthlyNotificationMessage = $"OK {Model.Name}, your new price is £{monthlyData?.RegularInstallmentAmount} a month with a deposit of £{monthlyData?.DepositAmount}. The underwriter for your policy is ##UNDERWRITER##";
    var annualNotificationMessage = $"OK {Model.Name}, your new price is £{annualData?.TotalAmountPayable}. The underwriter for your policy is ##UNDERWRITER##";
    var amountRadioLabelViewName = Model.ComponentConfiguration.ViewOptions.WelcomeQuoteAmountRadioLabel.GetViewNameFromEnum(true);
    var splitPaymentInformation = Model.ComponentConfiguration.ViewOptions.WelcomeQuoteDescription == WelcomeQuoteDescription.WithISFWording;
    var isMonthly = Model.PaymentSummaryData.SelectedPaymentType == "Payment Plan";
}

@if (monthlyData != null)
{
    using (Html.BeginFormBgl("PaymentSwitch", "WelcomeQuoteComponent", FormMethod.Post, new
    {
        id = "payment-type-switch-form",
        data_store_key = "WelcomeQuote",
        data_on_success = "bgl.components.welcomequotepaymentswitchformwithsmallannualbutton.onSuccess"
    }))
    {
        @Html.AntiForgeryToken()

        <div class="page-section section-policy-payment section-policy-payment--promote-monthly ">
            <div class="page-section--inner">
                <fieldset>
                    <legend class="form-row__legend--hidden">Would you like to pay monthly or annually?</legend>
                    <div class="payment-options @(isMonthly ? "hide" : "")" id="payment-options-container">
                        @Html.RadioButtonFor(x => x.PaymentSwitchId, annualData.Id, new
                        {
                            @class = "payment-option__radio visually-hidden",
                            id = "paymentAnnualRadio",
                            tabindex = "0",
                            data_testid = $"{componentId}__annual-radio",
                            data_pay_schedule = "annually"
                        })

                        @Html.Partial(amountRadioLabelViewName, new AmountRadioLabelModel(PaymentType.Annual, annualData.TotalAmountPayable, componentId))

                        @Html.RadioButtonFor(x => x.PaymentSwitchId, monthlyData.Id, new
                        {
                            @class = "payment-option__radio visually-hidden",
                            id = "paymentMonthlyRadio",
                            tabindex = "0",
                            data_testid = $"{componentId}__monthly-radio",
                            data_pay_schedule = "monthly"
                        })

                        @Html.Partial(amountRadioLabelViewName, new AmountRadioLabelModel(PaymentType.Monthly, monthlyData.RegularInstallmentAmount, componentId))
                    </div>
                    
                    <div class="payment-annual-information payment-annual-information__promote-monthly @(isMonthly ? "hide" : "")" id="switch-to-monthly-cta">
                        <div class="daily-pricing-container">
                            <div class="daily-pricing daily-pricing--desktop">
                                <img class="daily-pricing__icon" src="/MotorQuote/Content/dist/images/icon-set-price.svg" alt="" aria-hidden="true">
                                <p class="daily-pricing__message">Why not consider spreading the cost?</p>

                                <div class="payment-monthly-switch-container" data-focusid="" data-payment-switch-id="">
                                    <p class="payment-switch-link payment-switch-link--promote-monthly">
                                        <button class="link" id="switch-to-monthly-button">Click here </button> to pay &pound;@Model.PaymentSummaryData.MonthlyPaymentSummaryData.RegularInstallmentAmount /month
                                    </p>
                                </div>
                            </div>

                            <div class="daily-pricing daily-pricing--mobile">
                                <p class="payment-switch-link">Why not consider spreading the cost?</p>
                                <p class="promote-monthly--brand">Choose to pay by monthly instalments</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="payment-monthly-information payment-monthly-information__promote-monthly @(isMonthly ? "" : "hide")" id="switch-to-annual-cta">
                        <div class="payment-annual-switch-container" data-focusid="" data-payment-switch-id="">
                            <p class="payment-switch-link payment-switch-link--promote-monthly payment-switch-link--promote-monthly--annual">If you prefer to pay a one off payment of &pound;@Model.PaymentSummaryData.AnnualPaymentSummaryData.TotalAmountPayable <button aria-label="Click here to pay annually" class="link link--promote-monthly" id="switch-to-annual-button">click here</button></p>
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>

        @Html.Hidden("monthly-welcomeQuote-notification-message", monthlyNotificationMessage)
        @Html.Hidden("annually-welcomeQuote-notification-message", annualNotificationMessage)
    }
}