﻿@using BGL.Components.WelcomeQuote.Models
@model BGL.Components.WelcomeQuote.Models.WelcomeQuoteViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var isMonthly = Model.PaymentSummaryData.SelectedPaymentType == WelComeQuoteConstants.PaymentPlan;
    var annualData = Model.PaymentSummaryData.AnnualPaymentSummaryData;
    var monthlyData = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
}

@if (annualData != null)
{
    <span id="@(componentId)__annual-data" class="@(isMonthly ? "hide" : string.Empty)" data-testid="@(componentId)__annual-price">
        <strong class="welcome-quote__price">&pound;<span>@annualData.TotalAmountPayable</span></strong>/year
    </span>
}

@if (monthlyData != null)
{
    <span id="@(componentId)__monthly-data" class="@(!isMonthly ? "hide" : string.Empty)" data-testid="@(componentId)__monthly-price">
        <strong class="welcome-quote__price">&pound;<span>@monthlyData.RegularInstallmentAmount</span></strong>/month
    </span>
}