﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@model BGL.Components.WelcomeQuote.Models.WelcomeQuoteViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var welcomeQuoteDescriptionViewName = Model.ComponentConfiguration.ViewOptions.WelcomeQuoteDescription.GetViewNameFromEnum(true);
}

<div id="@componentId" data-testid="@(componentId)__section">
    <div class="initials-disc customer-profile">
        <div class="initials-disc__disc customer-profile__initials-wrapper">
            <p class="initials-disc__inner-text customer-profile__initials" data-testid="@(componentId)__initials">@Model.Initials</p>
        </div>
        <p class="initials-disc__under-text customer-profile__name" data-testid="@(componentId)__fullname">@Model.Fullname</p>
    </div>

    <div class="welcome-quote">
        <h1 class="welcome-quote__heading" data-testid="@(componentId)__welcome-quote-message">
            <span class="welcome-quote__text">
                Hi <span data-testid="@(componentId)__name">@Model.Name</span>, your <span data-testid="@(componentId)__type">@Model.ProductType</span> insurance quote for your
            </span>
            <strong class="welcome-quote__insured-item">
                <span data-testid="@(componentId)__make">@Model.ProductDescriptionMake</span>
                <span data-testid="@(componentId)__model">@Model.ProductDescriptionModel</span>
            </strong>
            <span class="welcome-quote__text"> is </span>
            @Html.Partial("_WelcomeQuotePrice", Model)
        </h1>

        @Html.Partial("_PaymentSwitchForm", Model)
        @Html.Partial(welcomeQuoteDescriptionViewName, Model)
    </div>
</div>