﻿@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions

@{
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var resourceBasePath = tenantConfiguration.ResourceBasePath;
    var policyBaseUrl = new Uri(ConfigurationManager.AppSettings["PolicyBaseUrl"]);
    var cookiePolicyUrl = new Uri(policyBaseUrl, "/Legal/cookie_policy.html");
    var product = Request.GetOwinContext().Authentication.User.Product();
    var isVan = product.Equals("van", StringComparison.OrdinalIgnoreCase);
    var privacyPolicyUrl = new Uri(policyBaseUrl, $"/Legal/{(isVan ? "LC" : "PC")}/Privacy_policy.html");
}

<div class="legal-modules">
    <div class="legal-modules__column">
        <div class="legal-modules__module">
            <img class="legal-modules__icon" src="@(resourceBasePath)icon-legal-before-we-start.svg" alt="">
            <h2 class="h3 legal-modules__heading legal-modules__heading--main">Before you begin</h2>
            <p class="legal-modules__text">
                It is important that the information you provide throughout the quote and duration of the policy is accurate
            </p>
            <h2 class="h4 legal-modules__heading legal-modules__heading--secondary">
                Basically
            </h2>
            <p class="legal-modules__text">
                Failure to disclose correct and complete information to the best of your knowledge may result in increased premiums, refusal of a claim or not being fully paid, your policy being cancelled or being made null &amp; void and treated as if it never existed
            </p>
            <div class="legal-modules__divider"></div>
        </div>
        <div class="legal-modules__module">
            <img class="legal-modules__icon" src="@(resourceBasePath)icon-cookies.svg" alt="" />
            <h2 class="h3 legal-modules__heading legal-modules__heading--main">
                Cookie policy
            </h2>
            <p class="legal-modules__text">
                Information on cookies and how you can disable them is available
                <a class="link--secondary__new-window"
                   rel="noopener" target="_blank"
                   href="@cookiePolicyUrl" aria-label="Open cookie policy in new window">here</a>.
            </p>
            <h3 class="h4 legal-modules__heading legal-modules__heading--secondary">More simply put</h3>
            <p class="legal-modules__text">
                Every company has a cookie policy. This is ours.
            </p>
            <div class="legal-modules__divider"></div>
        </div>
    </div>
    <div class="legal-modules__column">
        <div class="legal-modules__module">
            <img class="legal-modules__icon" src="@(resourceBasePath)icon-legal-how-we-use-your-data.svg" alt="">
            <h2 class="h3 legal-modules__heading legal-modules__heading--main">
                How we use your data
            </h2>
            <p class="legal-modules__text">
                We will use your data for the purposes of providing your quote which may include sharing data with our insurers. We, our insurers or credit provider may carry out checks with external databases such as credit reference agencies and publically available sources of information as part of this process for fraud prevention, to verify the information you provide and to assist us in providing the quote.
            </p>
            <p class="legal-modules__text">
                The credit search will not be visible to other lenders on your credit report if you only obtain a quote from us. If you take out a policy and choose to pay by monthly instalments, you will enter into a credit agreement, where a record of the search will then be visible to other lenders and details of your credit agreement will appear on your credit report.
            </p>
            <p class="legal-modules__text">
                If you have previously held a product with BISL Limited or obtained a quote in the past, we may carry out checks against the data we already hold on you.
            </p>
            <h3 class="h4 legal-modules__heading legal-modules__heading--secondary">
                More simply put
            </h3>
            <p class="legal-modules__text">
                Your data will be used to provide you with an accurate quote.
            </p>
            <div class="legal-modules__divider"></div>
        </div>
        <div class="legal-modules__module">
            <img class="legal-modules__icon" src="@(resourceBasePath)icon-privacy.svg" alt="" />
            <h2 class="h3 legal-modules__heading legal-modules__heading--main">
                Privacy policy
            </h2>
            <p class="legal-modules__text">
                <span>
                    Your privacy is important to us. So we&rsquo;ve developed a
                </span>
                <a class="link--secondary__new-window" 
                   rel="noopener" target="_blank"
                   href="@privacyPolicyUrl" aria-label="Open privacy policy in new window">Privacy Policy</a>
                <span> that covers how we collect, store and use your information.</span>
            </p>
            <h3 class="h4 legal-modules__heading legal-modules__heading--secondary">
                More simply put
            </h3>
            <p class="legal-modules__text">
                Every company has a privacy policy. This is ours.
            </p>
            <div class="legal-modules__divider"></div>
        </div>
    </div>
</div>
