﻿@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Extensions
@using BGL.Components.TermsAndConds

@{
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var resourceBasePath = tenantConfiguration.ResourceBasePath;
    var componentId = "legalModal";
    var policyBaseUrl = new Uri(ConfigurationManager.AppSettings["PolicyBaseUrl"]);
    var cookiePolicyUrl = new Uri(policyBaseUrl, "/Legal/cookie_policy.html");
    var product = Request.GetOwinContext().Authentication.User.Product();
    var isVan = product.Equals("van", StringComparison.OrdinalIgnoreCase);
    var privacyPolicyUrl = new Uri(policyBaseUrl, $"/Legal/{(isVan ? "LC" : "PC")}/Privacy_policy.html");
    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];

    bool.TryParse(Html.ComponentRenderTermsAndConditionsNeedToShowLegalProtectionSection(new ComponentTermsAndCondsConfiguration
    {
        Id = "SalesTermsAndConditionsLegalProtection",
        TenantConfiguration = tenantConfiguration
    }).ToString(), out var needToPresentLegalProtectionWording);

    bool.TryParse(Html.ComponentRenderTermsAndConditionsIsAvivaUnderwriter(new ComponentTermsAndCondsConfiguration
    {
        Id = "SalesTermsAndConditionsWhoWeActFor",
        TenantConfiguration = tenantConfiguration
    }).ToString(), out var hasAvivaUnderwriter);

    var isfFeeConfig = new ComponentTermsAndCondsConfiguration
    {
        Id = "SalesTermsAndConditionsIsfFee",
        TenantConfiguration = tenantConfiguration
    };

    bool.TryParse(Html.ComponentRenderTermsAndConditionsHasIsfFee(isfFeeConfig).ToString(), out var hasIsfFee);

    var additionalExcessesWordingToShow = Html.ComponentRenderTermsAndConditionsAdditionalExcessesStatementsToShow(new ComponentTermsAndCondsConfiguration()).ToString();
    var showAdditionalExcessSection = !string.IsNullOrEmpty(additionalExcessesWordingToShow);
    var show17To21Message = false;
    var show21To25Message = false;
    var showOver25Message = false;

    if (showAdditionalExcessSection)
    {
        show17To21Message = additionalExcessesWordingToShow.Contains("Show17To21Message");
        show21To25Message = additionalExcessesWordingToShow.Contains("Show21To25Message");
        showOver25Message = additionalExcessesWordingToShow.Contains("ShowOver25Message");
    }

    var marketingSourceConfig = new ComponentTermsAndCondsConfiguration
    {
        Id = "SalesTermsAndConditionsAccurateData",
        TenantConfiguration = tenantConfiguration,
        MarketingSourceSetupList = new Dictionary<string, MarketingSourceDetails>
        {
            ["comparethemarket"] = new MarketingSourceDetails { ImageSource = "logo-ctm.svg", ImageAlt = "Compare the Market Logo", ImageTitle = "Compare the Market" },
            ["gocompare"] = new MarketingSourceDetails { ImageSource = "logo-gocompare.svg", ImageAlt = "Go Compare Logo", ImageTitle = "Go Compare" },
            ["moneysupermarket"] = new MarketingSourceDetails { ImageSource = "logo-msm.svg", ImageAlt = "Money Super Market Logo", ImageTitle = "Money Super Market" },
            ["confusedcom"] = new MarketingSourceDetails { ImageSource = "logo-confused.png", ImageAlt = "Confused.com Logo", ImageTitle = "Confused.com" },
            ["quotezonecouk"] = new MarketingSourceDetails { ImageSource = "logo-quotezone.svg", ImageAlt = "Quotezone Logo", ImageTitle = "Quotezone" }
        }
    };

    bool.TryParse(Html.ComponentRenderTermsAndConditionsHasMarketingSource(marketingSourceConfig).ToString(), out var hasMarketingSource);
}


<h1 class="legal-modules__heading legal-modules__heading--main h3">We're open and transparent</h1>

<h2 class="legal-modules__heading legal-modules__heading--secondary h4">
    How we use your data
</h2>
<p class="legal-modules__text">
    Your privacy is important to us. So we’ve developed a <a class="link--secondary__new-window"
                                                             data-testid="@(componentId)__privacy-policy-link"
                                                             rel="noopener" target="_blank" aria-label="Open privacy policy in new window"
                                                             href="@privacyPolicyUrl">Privacy Policy</a> that covers how we collect, store and use your information.
</p>
<p class="legal-modules__text">
    Information on cookies and how you can disable them is available
    <a class="link--secondary__new-window"
        data-testid="@(componentId)__cookies-policy-link"
        rel="noopener" target="_blank" aria-label="Open cookie policy in new window"
        href="@cookiePolicyUrl">here</a>.
</p>
<div class="legal-modules__divider"></div>

<h2 class="legal-modules__heading legal-modules__heading--secondary h4">
    How we make our money
</h2>
<p class="legal-modules__text">
    Your insurance price includes our intermediary services fee and any commission applied by us. If you
    purchase any optional additional products, we include our commission in the premiums you pay. For
    some of our insurers on our panel we may receive a profit share payment if they reach their profit
    targets on this type of policy across their portfolio of business with us.
</p>
<div class="legal-modules__divider"></div>
<h2 class="legal-modules__heading legal-modules__heading--secondary h4">
    How we set your price
</h2>
<p class="legal-modules__text">
    Your price has been calculated by 'Us', which includes the cost of your cover from the underwriter
    selected from our panel and our Intermediary Services Fee for the intermediary services we provide
    under our separate contract with you. We/Us/Our - BISL Limited. Authorised and regulated by the
    Financial Conduct Authority.
</p>
<p class="legal-modules__text legal-modules__text--emphasised">
    Your quote is valid until: @Html.ComponentRenderTermsAndConditionsQuoteValidUntilDate(new ComponentTermsAndCondsConfiguration
    {
        Id = "SalesTermsAndConditionsPricingInformation",
        TenantConfiguration = tenantConfiguration
    })
</p>
<div class="legal-modules__divider"></div>
<h2 class="legal-modules__heading legal-modules__heading--secondary h4">
    Making sure you are fully covered
</h2>
<p class="legal-modules__text">
    It is important that the information you provide throughout the quote and duration of the policy is accurate.
    Failure to disclose correct and complete information to the best of your knowledge and belief may result in
    increased premiums, refusal of a claim or not being fully paid, your policy cancelled or being made null &
    void and treated as if it never existed.
</p>

<div class="legal-modules__divider"></div>
<h2 class="legal-modules__heading legal-modules__heading--secondary h4">
    No hidden fees
</h2>
<p class="legal-modules__text">
    @Html.ComponentRenderTermsAndConditionsFees(new ComponentTermsAndCondsConfiguration
    {
        Id = "SalesTermsAndConditionsFees",
        TenantConfiguration = tenantConfiguration
    })
</p>
<div class="legal-modules__divider"></div>

<h2 class="legal-modules__heading legal-modules__heading--secondary h4">
    Renewal
</h2>

<p class="legal-modules__text">
    When your policy is up for renewal we will contact you with a price and renew your policy where possible. If you don’t want us to renew, simply get in touch.
</p>

<div class="legal-modules__divider"></div>

@if (showAdditionalExcessSection)
{

    <h2 class="legal-modules__heading legal-modules__heading--secondary h4">
        Additional Excesses
    </h2>
    <p class="legal-modules__text">
        Due to your quote details, additional excesses apply in the event of an accident.
    </p>
    if (show17To21Message)
    {
        <p class="legal-modules__text">
            If the driver is 17-20 years old, a £400 excess will be payable in addition to the policy excess.
        </p>
    }
    if (show21To25Message)
    {
        <p class="legal-modules__text">
            If the driver is 21-24 years old, a £200 excess will be payable in addition to the policy excess.
        </p>
    }
    if (showOver25Message)
    {
        <p class="legal-modules__text">
            If the driver of the vehicle is 25 years old or older, but only holds a Provisional Licence or only obtained a Full Licence issued in the UK or the EU less than one year ago, an excess of £150 will be payable in addition to the policy excess.
        </p>
    }

    <div class="legal-modules__divider"></div>

}

@if (hasIsfFee)
{

    <h2 class="legal-modules__heading legal-modules__heading--secondary h4">
        Intermediary Services Fee
    </h2>
    <p class="legal-modules__text">
        Included in the cost of your policy is a fee of &pound;@Html.ComponentRenderTermsAndConditionsGetIsfFeeAmount(isfFeeConfig).ToString() which we charge you for the separate intermediary services we provide you with in arranging, servicing and renewing your policy.
        This fee does not relate to any of the additional products we may have arranged for you.
    </p>
    <div class="legal-modules__divider"></div>

}

<div class="accordion">
    <div class="accordion__section">
        <h2 class="accordion__heading-wrapper legal-modules__heading h4">
            <button class="legal-accordion__heading-button" aria-expanded="false">About Us</button>
        </h2>
        <div class="accordion__body-wrapper hide">
            <p class="legal-modules__text">
                Budget Insurance is arranged and administered by BISL Limited. We offer products from a
                range of insurers for @product insurance.
            </p>
            <p class="legal-modules__text">
                Part of the BGL Group, one of the UK’s leading personal lines insurance groups. Providing
                insurance for 20 years to almost 3 million customers.
            </p>
            <p class="legal-modules__text">
                BISL Limited. Registered office: Pegasus House, Bakewell Road, Orton Southgate,
                Peterborough, PE2 6YS.
            </p>
        </div>
    </div>

    <div class="accordion__section">
        <h2 class="accordion__heading-wrapper legal-modules__heading h4">
            <button class="legal-accordion__heading-button" aria-expanded="false">
                Insurers on our
                panel
            </button>
        </h2>
        <div class="accordion__body-wrapper hide">
            <ul class="legal-modules__list">
                @Html.ComponentRenderTermsAndConditionsListOfUnderwritersOnPanel(new ComponentTermsAndCondsConfiguration
                {
                    Id = "SalesTermsAndConditionsUnderwriters",
                    TenantConfiguration = tenantConfiguration
                })
            </ul>
            <p class="legal-modules__text legal-modules__text--emphasised"
               data-testid="legal-index__underwriter">
                Your insurer for your policy: @Html.ComponentRenderTermsAndConditionsUnderwriter(new ComponentTermsAndCondsConfiguration
{
Id = "SalesTermsAndConditionsUnderwriters",
TenantConfiguration = tenantConfiguration
})
            </p>
        </div>
    </div>
    @if (needToPresentLegalProtectionWording)
    {
        <div class="accordion__section">
            <h2 class="accordion__heading-wrapper legal-modules__heading h4">
                <button class="legal-accordion__heading-button" aria-expanded="false">
                    Our bundled add
                    ons
                </button>
            </h2>
            <div class="accordion__body-wrapper hide">
                <p class="legal-modules__text">
                    Even though you have not told us you need it, our motor legal protection, and the cost of
                    it, is included as standard with our policies. It cannot be removed.
                </p>
            </div>
        </div>
    }

    <div class="accordion__section">
        <h2 class="accordion__heading-wrapper legal-modules__heading h4">
            <button class="legal-accordion__heading-button" aria-expanded="false">
                Who we act for and
                when
            </button>
        </h2>
        <div class="accordion__body-wrapper hide">
            <p class="legal-modules__text">
                BISL Limited is an insurance intermediary which represents both you and the insurer. We act
                on your behalf when arranging and administering your policy, for example policy adjustments,
                cancellations and renewals. We act on behalf of your insurer when validating the information
                you provided in the quotation process at new business and renewal, receiving claim
                notifications and in the event that your insurer requests that your policy be cancelled or
                voided. You will enter into a contract with BISL Limited for our intermediary services, in
                addition to your contract with your insurer for your insurance.
            </p>

            @if (hasAvivaUnderwriter)
            {
                <p class="legal-modules__text" data-testid="@(componentId)__who-we-act-for-aviva-section">
                    If you would like to pay by monthly instalments, credit will be offered, if available. BISL Limited offer credit from a single lender, BFSL Limited, exclusively in most cases but, where Aviva is the insurer, credit may also be available from Aviva Credit. BISL Limited is not independent as both BISL Limited and BFSL Limited are part of the BGL Group of Companies.
                </p>
            }
            else
            {
                <p class="legal-modules__text" data-testid="@(componentId)__who-we-act-for-no-aviva-section">
                    If you would like to pay by monthly instalments, credit will be offered, if available. BISL Limited offer credit from a single lender, BFSL Limited. BISL Limited is not independent as both BISL Limited and BFSL Limited are part of the BGL Group of Companies.
                </p>
            }

        </div>
    </div>
</div>



