﻿@using BGL.Common.Utility.Mvc.Helpers

<h2 class="step-form__heading">What is the estimated annual mileage of the car?<button class="step-form__info" data-open-close-help-text aria-label="Toggle help text" data-testid="annual-milage-help-text-button"></button></h2>
@Html.RenderHelpText("Try to be as accurate as possible. The telematics data will keep a record of how many miles the car has travelled and if you go over this annual mileage, we may have to adjust the amount you pay for your policy.")