﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.MotorConvictionsBuilder.MotorConvictionBuilderViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var builderUrl = Url.Action("MotorConvictionsBuilder", "DriverDetailsComponentMotorConvictions");
    var nextStep = (int)(Model.CurrentStep + 1);
    var currentStep = (int)(Model.CurrentStep);
    var helpText = string.Empty;

    if (Model.CurrentStep == MotorConvictionBuilderSteps.Points)
    {
        helpText = "The number of points can usually be found on the driving licence. If the conviction did not result in points, please enter 0.";
    }

    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ?
        "About your motoring conviction"
        : $"About {Model.FirstName.ToTitleCase()}'s motoring conviction";
}

<div class="step-form narrow">
    <h1 class="step-form__section-title">@sectionTitle</h1>
    <h2 class="step-form__heading" data-testid="step-form__heading">Add a motor conviction</h2>
    <div class="form-row driver-details-step-form">
        <p class="form-row__label">
            @foreach (var breadcrumbPhrase in Model.Breadcrumbs.BreadcrumbsPhrases)
            {
                if (breadcrumbPhrase.Type == BreadcrumbPhraseTypes.Text)
                {
                    <span>@breadcrumbPhrase.Item.Value</span>
                }
                if (breadcrumbPhrase.Type == BreadcrumbPhraseTypes.Link)
                {
                    if (!string.IsNullOrEmpty(@breadcrumbPhrase.Item.Code))
                    {
                        <a class="link form-row__breadcrumb-link driver-details-step-form__breadcrumb-link" 
                           data-code="@breadcrumbPhrase.Item.Code" 
                           data-testid="motor-conviction-tiles-link" 
                           data-next-step="@breadcrumbPhrase.Item.BuilderStep" 
                           href="@builderUrl"
                           aria-label=" Back to @breadcrumbPhrase.Item.BuilderStepQuestion">@breadcrumbPhrase.Item.Value</a>
                    }
                }
            }
        </p>
        @if (!string.IsNullOrEmpty(helpText))
        {
            <p class="help-text__sub-text">@helpText</p>
        }

        <fieldset class="form-row__field-set">
            <legend id="motoring-convictions-tiles-legend" class="form-row__legend form-row__legend--hidden">
                @foreach (var breadcrumbPhrase in Model.Breadcrumbs.BreadcrumbsPhrases)
                {
                    if (breadcrumbPhrase.Type == BreadcrumbPhraseTypes.Text)
                    {
                        @breadcrumbPhrase.Item.Value
                    }
                    if (breadcrumbPhrase.Type == BreadcrumbPhraseTypes.Link)
                    {
                        if (!string.IsNullOrEmpty(@breadcrumbPhrase.Item.Code))
                        {
                            @breadcrumbPhrase.Item.Value
                        }
                    }
                }
            </legend>
            <div id="motor-conviction-tiles" class="step-form__button-wrapper" data-current-step="@currentStep">
                @foreach (var tileItem in Model.BuilderTileItems)
                {
                    <button class="button button--radio step-form__button step-form-list-option" data-code="@tileItem.Code" data-next-step="@nextStep" href="@builderUrl" data-testid="@(componentId)__motor-conviction-breadcrumbs">@tileItem.Value</button>
                }
            </div>
        </fieldset>
    </div>

    @Html.HiddenFor(x => x.PersonId)
    @Html.HiddenFor(x => x.JourneyType)
    @Html.HiddenFor(x => x.FirstName)

    <input type="hidden" id="motor-conviction-current-step" value="motor-conviction-@Model.CurrentStep.ToString()" />

    <div class="page-section--inner">
        <div class="button-container">
            <a class="button button--text button--large button--back button--left" data-step-type="previous-step"
               href="@builderUrl" data-next-step="@(Model.CurrentStep - 1)" data-testid="@(componentId)__step-back-button">Back</a>
        </div>
    </div>
</div>
