﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.MotorConvictionsBuilder.MotorConvictionBuilderBanViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var controllerName = "DriverDetailsComponentMotorConvictions";
    var builderUrl = Url.Action("MotorConvictionsBuilder", controllerName);
    var componentName = Model.JourneyType != JourneyTypes.MultiStepEdit ? "motorconvictionsbuilder" : "driverdetails.motorconvictionsbuilder";
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ?
        "About your motoring conviction"
        : $"About {Model.FirstName.ToTitleCase()}'s motoring conviction";
}

<div data-component-id="@componentId" class="narrow">
    @using (Html.BeginFormBgl("AddMotorConvictionBanStep", controllerName, FormMethod.Post, new
    {
        @class = "step-form",
        id = "add-motor-conviction",
        data_on_success = $"bgl.components.{componentName}.onSuccess",
        data_on_error = $"bgl.components.{componentName}.onError"
    }))
    {
        @Html.AntiForgeryToken()
        <h1 class="step-form__section-title">@sectionTitle</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">Add a motor conviction</h2>
        <div class="form-row">
            <p class="form-row__label form-row__label--spaced" for="Ban-Months">
                @foreach (var breadcrumbPhrase in Model.Breadcrumbs.BreadcrumbsPhrases)
                {
                    if (breadcrumbPhrase.Type == BreadcrumbPhraseTypes.Text)
                    {
                        <span>@breadcrumbPhrase.Item.Value</span>
                    }
                    if (breadcrumbPhrase.Type == BreadcrumbPhraseTypes.Link)
                    {
                        if (!string.IsNullOrEmpty(@breadcrumbPhrase.Item.Code))
                        {
                            <a class="link form-row__breadcrumb-link driver-details-step-form__breadcrumb-link" 
                               data-code="@breadcrumbPhrase.Item.Code" 
                               data-testid="ban-month-link" 
                               data-next-step="@breadcrumbPhrase.Item.BuilderStep" 
                               href="@builderUrl"
                               aria-label=" Back to @breadcrumbPhrase.Item.BuilderStepQuestion">@breadcrumbPhrase.Item.Value</a>
                        }
                    }
                }
            </p>
            <div class="form-row">
                <fieldset class="form-row__field-set">
                    <legend class="form-row__legend form-row__legend--hidden">
                        <span>
                            @foreach (var breadcrumbPhrase in Model.Breadcrumbs.BreadcrumbsPhrases)
                            {
                                @breadcrumbPhrase.Item.Value
                            }
                        </span>
                    </legend>
                    @Html.RadioButtonFor(x => x.HasBan, true, new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "conviction-has-ban-yes", data_dependent_property = "HasBan" })
                    @Html.LabelFor(x => x.HasBan, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "conviction-has-ban-yes", data_testid = componentId + "__radio-button-yes-ban" })

                    @Html.RadioButtonFor(x => x.HasBan, false, new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "conviction-has-ban-no", data_dependent_property = "HasBan" })
                    @Html.LabelFor(x => x.HasBan, "No", new { @class = "form-row__label form-row__label--pill", @for = "conviction-has-ban-no", data_testid = componentId + "__radio-button-no-ban" })

                    @Html.ValidationMessageFor(x => x.HasBan, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__has-ban-validation-message" })
                </fieldset>
            </div>
        </div>
        <div id="ban-length-row" class="form-row @(Model.HasBan == true ? string.Empty : "hide")">
            @Html.Label("Months-Ban", "Type how many months", new { @class = "form-row__label" })
            @Html.TextBoxForBgl(x => x.MonthsBan, new { id = "Months-Ban", @Value = string.Empty, @class = "form-row__input", type = "number", name = "Months-Ban", data_testid = componentId + "__months-ban-input", tabindex = 0 })
            @Html.ValidationMessageFor(x => x.MonthsBan, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__ban-validation-message" })
        </div>


        @Html.HiddenFor(x => x.PersonId)
        @Html.HiddenFor(x => x.JourneyType)
        @Html.HiddenFor(x => x.FirstName)

        for (var i = 0; i < Model.SelectedValues.Count; i++)
        {
            @Html.Hidden($"SelectedValues[{i}][Code]", Model.SelectedValues[i].Code)
            @Html.Hidden($"SelectedValues[{i}][Value]", Model.SelectedValues[i].Value)
            @Html.Hidden($"SelectedValues[{i}][BuilderStep]", (int)Model.SelectedValues[i].BuilderStep)
        }

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" formnovalidate tabindex="0" value="Continue"
                        class="button button--primary button--large button--right" data-testid="@(componentId)__continue-button">
                    Continue
                </button>

                <a class="button button--text button--large button--back button--left" data-step-type="previous-step"
                   href="@builderUrl" data-next-step="@(Model.CurrentStep - 1)" data-testid="@(componentId)__step-back-button">Back</a>
            </div>
        </div>
    }
</div>
