﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.DriverDetails.Models.AnnualMileageViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}__annual-mileage-form";
    var headerTextViewName = Model.ComponentConfiguration?.ViewOptions?.AnnualMileageHeaderText.GetViewNameFromEnum(true);
    var annualMileageKeyName = "AnnualMileage";
}

    <div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__annual-mileage-view">
        @if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_ProgressBar");
        }

        @using (Html.BeginFormBgl("AnnualMileagePost", "DriverDetailsComponentAnnualMileage", FormMethod.Post, new
        {
            id = formId,
            @class = "step-form",
            data_testid = componentId + "__form",
            data_on_success = $"bgl.components.driverdetails.annualmileage.onSuccess",
            data_on_error = $"bgl.components.driverdetails.annualmileage.onError",
            data_store_key = $"{Model.DataStoreKey}"
        }))
        {
            <fieldset>
                <legend class="visually-hidden">What is the estimated annual mileage of the car?</legend>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.HasChanges, new { data_store = nameof(Model.HasChanges) })
                @Html.HiddenFor(model => model.CoverId, new { data_store = nameof(Model.CoverId) })
                <p class="step-form__section-title">Your cover</p>

                @Html.Partial(headerTextViewName)

                <div class="form-row">
                    @Html.Label(componentId + "__annual-mileage", "Enter mileage", new { @class = "form-row__label" })
                    <div class="form-row__overlay-wrapper middle annual-mileage">
                        @Html.TextBoxForBgl(m => m.AnnualMileage, new { data_store = nameof(Model.AnnualMileage), type = "number", min = "200", max = "99999", tabindex = "0", id = componentId + "__annual-mileage", @class = "form-row__input", data_testid = componentId + "__annual-mileage_input", placeholder = "Miles per year" })
                        @Html.ValidationMessageFor(m => m.AnnualMileage, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__annual-mileage_validation-message" })
                    </div>
                </div>
                <p for="AnnualMileage" id="@(componentId)__annual-mileage-label" class="form-row__label" data_testid="@(componentId)__annual-mileage_label"></p>

                <div class="slide-panel-nav">
                    <button type="submit"
                            class="button button--primary button--large button--right"
                            data-testid="@(componentId)__submit-button"
                            data-disable-submit>
                        Continue
                    </button>
                    <span>
                        <a href="#" class="button button--text button--back back-button-link" data-testid="@(componentId)__back-link">Back</a>
                    </span>
                </div>

                <p id="labelTemplate" class="visually-hidden">@Model.LabelTemplate</p>
                
         </fieldset>
             }
</div>