﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.DriverDetails.Models.ContactInformationViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}-form";
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) 
        ? "Your contact details" 
        : $"{Model.FirstName?.ToTitleCase()}'s contact details" ;
    var header  = string.IsNullOrEmpty(Model.FirstName) 
        ? "What are your contact details?"
        : $"What are {Model.FirstName?.ToTitleCase()} contact details?";
}

<div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__contact-information">

    @using (Html.BeginFormBgl("ContactInformationPost", "DriverDetailsComponent", FormMethod.Post, new
    {
        @class = "step-form",
        id = formId,
        data_on_success = "bgl.components.contactinformation.onSuccess",
        data_on_error = "bgl.components.contactinformation.onError",
        data_store_key = $"{Model.DataStoreKey}"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PersonId)

        <h1 class="step-form__section-title">@sectionTitle</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">@header</h2>

        <div class="form-row">
            @Html.LabelFor(model => model.MobilePhoneNumber, new { @class = "form-row__label" })
            @Html.TextBoxForBgl(model => model.MobilePhoneNumber, new { @class = "form-row__input form-row__input--full-width", type = "tel", maxLength = 13, tabindex = 0, data_testid = $"{componentId}__mobile-phone-number" })
            @Html.ValidationMessageFor(model => model.MobilePhoneNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__mobile-phone-number-validation-message" })
        </div>

        <div class="form-row">
            @Html.LabelFor(model => model.HomePhoneNumber, new { @class = "form-row__label" })
            @Html.TextBoxForBgl(model => model.HomePhoneNumber, new { @class = "form-row__input form-row__input--full-width", type = "tel", maxLength = 13, tabindex = 0, data_testid = $"{componentId}__home-phone-number" })
            @Html.ValidationMessageFor(model => model.HomePhoneNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__home-phone-number-validation-message" })
        </div>

        <div class="form-row">
            @Html.LabelFor(model => model.Email, new { @class = "form-row__label" })
            @Html.TextBoxForBgl(model => model.Email, new { @class = "form-row__input form-row__input--full-width", type = "email", maxLength = 50, tabindex = 0, data_testid = $"{componentId}__email" })
            @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__email-validation-message" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right" tabindex="0" data-testid="@(componentId)__done-button">Done</button>
            </div>
        </div>
    }
</div>

