﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.CriminalConvictions.CriminalConvictionsWizardViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var backButtonUrl = Url.Action("CriminalConvictionsAddAnother", "DriverDetailsComponentCriminalConvictions");
    var componentJSName = Model.JourneyType == JourneyTypes.MultiStepEdit ? "driverdetails.criminalconvictions" : "criminalconvictions";
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) 
        ? "About your non-motoring conviction" 
        : $"About {Model.FirstName?.ToTitleCase()}'s non-motoring conviction" ;
    var heading = string.IsNullOrEmpty(Model.FirstName) 
        ? "Select your conviction type" 
        : $"Select {Model.FirstName?.ToTitleCase()}'s conviction type";
    var convictionQuestion = string.IsNullOrEmpty(Model.FirstName)
        ? "What were you convicted of in"
        : $"What was {Model.FirstName?.ToTitleCase()} convicted of in";

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        sectionTitle = "About your non-motoring conviction";
        heading = "Select your conviction type";
        convictionQuestion = "What were you convicted of in";
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">
    @using (Html.BeginFormBgl("CriminalConvictionsAddAnother", "DriverDetailsComponentCriminalConvictions", FormMethod.Post,
        new
        {
            id = "criminal-convictions-addanother-step2",
            data_on_success = $"bgl.components.{componentJSName}.criminalconvictionsConvictionTypeOnSuccess",
            data_on_error = $"bgl.components.{componentJSName}.criminalconvictionsConvictionTypeOnError",
            @class = "step-form"
        }))
    {
        <h1 class="step-form__section-title">@sectionTitle</h1>

        <h2 class="step-form__heading" data-testid="step-form__heading">@heading</h2>

        <div class="form-row">
            <p class="form-row__label--spaced">
                <span>@convictionQuestion</span>
                
                <button class="link form-row__breadcrumb-link driver-details-step-form__breadcrumb-link criminal-conviction-back-to-first-step" 
                        data-testid="criminal-conviction-month-button" 
                        tabindex="0" 
                        href="#"
                        aria-label="Back to what was the conviction date?">@Model.MonthText</button>
                <button class="link form-row__breadcrumb-link driver-details-step-form__breadcrumb-link criminal-conviction-back-to-first-step" 
                        data-testid="criminal-conviction-year-button" 
                        tabindex="0" 
                        href="#"
                        aria-label="Back to what was the conviction date?">@Model.Year</button>
                <span>?</span>
            </p>

            <div class="form-row__input-wrapper">
                @Html.Label("Conviction type", new { @class = "visually-hidden", @for = "Conviction-type" })
                @Html.DropDownListFor(x => x.ConvictionsType, Model.ConvictionsTypes, "Please select...", new { tabindex = "0", @class = "form-row__select pageRequired", id = "Conviction-type", data_testid = componentId + "__convictionstypes_dropdownlist" })
            </div>

            @Html.ValidationMessageFor(x => x.ConvictionsType, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__convictions-type-error" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" tabindex="0" class="button button--primary button--large button--right" data-testid="@(componentId)__continue-button">Continue</button>
                <a tabindex="0" class="button button--text button--large button--back button--left criminal-conviction-back-to-first-step" data-step-type="previous-step" href="@backButtonUrl" data-testid="@(componentId)__back-button">Back</a>
            </div>
        </div>

        @Html.HiddenFor(m => m.JourneyType)
        @Html.HiddenFor(m => m.FirstName)
        @Html.HiddenFor(x => x.PersonId)
        @Html.HiddenFor(x => x.Year)
        @Html.HiddenFor(x => x.Month)
        @Html.HiddenFor(x => x.MonthText)
        @Html.HiddenFor(x => x.ConvictionsTypeText)
        @Html.HiddenFor(x => x.CriminalConvictionStep, new { Value = (int)CriminalConvictionStep.SentenceType })
    }

    @Html.Hidden("UrlToWizard", Url.Action("CriminalConvictionsAddAnother", "DriverDetailsComponentCriminalConvictions"))
</div>