﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.DeclinedInsuranceViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var firstName = Model.FirstName?.ToTitleCase();
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ?
        "Your driving history"
        : $"{firstName}'s driving history";
    var submitButtonText = "Done";
    var header = string.IsNullOrEmpty(Model.FirstName) ?
        "In the last 5 years, have you had any motor insurance declined, voided, cancelled or had a special term imposed?"
        : $"In the last 5 years, has {firstName} had any motor insurance declined, voided, cancelled or had a special term imposed?";
    var helpText = string.IsNullOrEmpty(Model.FirstName) ?
        "Please specify if you have had a policy cancelled, voided by a previous insurance company or if you have been refused for the next years insurance. You will also need to specify if you have had any special terms imposed."
        : $"Please specify if {firstName} has had a policy cancelled, voided by a previous insurance company or if {firstName} has been refused for the next years insurance. You will also need to specify if {firstName} has had any special terms imposed.";
    var controllerName = "DriverDetailsComponent";
    var componentName = "bgl.components.declinedinsurance";
    var submitButtonClassVisibility = string.Empty;
    var backButtonUrl = string.Empty;

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        sectionTitle = "Additional driver";
        submitButtonText = "Continue";
        backButtonUrl = Model.BackJourneyUrl;
        submitButtonClassVisibility = "hide";
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitButtonText = "Continue";
        submitButtonClassVisibility = "hide";
        controllerName = "DriverDetailsComponentDeclinedInsurance";
        componentName = "bgl.components.driverdetails.declinedinsurance";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl("DeclinedInsuranceConfirm", controllerName, FormMethod.Post,
        new
        {
            id = "declined-insurance",
            @class = "step-form",
            data_on_success = $"{componentName}.onSuccess",
            data_on_error = $"{componentName}.onError",
            data_store_key = $"{Model.DataStoreKey}",
            data_next_journey_component = "motorclaims",
            data_testid = $"{componentId}__declined-insurance-form"
        }))
    {
        @Html.AntiForgeryToken()

        <h1 class="step-form__section-title">@sectionTitle</h1>
        <div aria-live="polite" role="region">
            @Html.RenderOpenCloseHelpText(header, helpText)
        </div>
        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">@header</legend>

                @Html.RadioButtonFor(x => x.IsDeclinedInsurance, true, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "declined-insurance-yes", data_store = $"{nameof(Model.IsDeclinedInsurance)}" })
                @Html.LabelFor(x => x.IsDeclinedInsurance, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "declined-insurance-yes", data_testid = componentId + "__radio-button-yes", @role = "button", @tabindex = "0" })

                @Html.RadioButtonFor(x => x.IsDeclinedInsurance, false, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "declined-insurance-no", data_store = $"{nameof(Model.IsDeclinedInsurance)}" })
                @Html.LabelFor(x => x.IsDeclinedInsurance, "No", new { @class = "form-row__label form-row__label--pill", @for = "declined-insurance-no", data_testid = componentId + "__radio-button-no", @role = "button", @tabindex = "0" })

            </fieldset>
            @Html.ValidationMessageFor(x => x.IsDeclinedInsurance, string.Empty, new { @class = "form-row__validation-text" })
        </div>

        @Html.HiddenFor(x => x.HasChanges, new { data_store_skip = "true" })
        @Html.HiddenFor(x => x.MedicalConditionDvlaNotified, new { data_store = $"{nameof(Model.MedicalConditionDvlaNotified)}" })

        if (Model.JourneyType != JourneyTypes.MultiStepEdit)
        {
            @Html.HiddenFor(x => x.PersonId)
            @Html.HiddenFor(x => x.JourneyType)
            @Html.HiddenFor(x => x.FirstName)
        }

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit"
                        class="button button--primary button--large button--right @submitButtonClassVisibility"
                        data-testid="@(componentId)__@(submitButtonText.ToLower())-button"
                        value=@submitButtonText formnovalidate>
                    @submitButtonText
                </button>

                @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, Model.PreviousComponent)
            </div>
        </div>
    }
</div>
