﻿@using System.Web.Mvc.Html
@model BGL.Components.DriverDetails.Models.DriverBubblesDisplayViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="profiles__wrapper" data-testid="@(componentId)__driver-bubbles-section">
    <div class="profiles">
        <div class="profile profile--main-driver">
            <div id="ViewMainDriver" aria-label="View details on the policy holder">
                <span class="profile__initials" aria-hidden="true">@Model.MainDriverInitials</span>
                <p class="profile__name">@Model.MainDriverFirstName @Model.MainDriverLastName</p>
                <p class="profile__type">MAIN DRIVER</p>
            </div>
        </div>
        @if (Model.FrequentDriversCount > 0)
        {
            <div class="profile profile--named-drivers">
                <div id="ViewNamedDrivers" aria-label="View details on the named drivers">
                    <span class="profile__initials profile__initials--named-drivers" aria-hidden="true">+@Model.FrequentDriversCount</span>
                    <p class="profile__name profile__name--named-drivers">NAMED DRIVERS</p>
                </div>
            </div>
        }
    </div>
</div>
