﻿@using System.Globalization
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.Licence.LicenceHeldSinceViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var firstName = Model.FirstName?.ToTitleCase();
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ? 
        "Your driving history"
        : $"{firstName}'s driving history";    var submitButtonText = "Done";
    var header = string.IsNullOrEmpty(Model.FirstName) ?
        "When did you get this licence?"
        : $"When did {firstName} get this licence";
    var componentName = "bgl.components.licenceheldsince";
    var controllerName = "DriverDetailsComponent";
    var backButtonUrl = Url.Action("TypeOfLicence", "DriverDetailsComponent");
    var dateOfBirth = DateTime.ParseExact(Model.DateOfBirth, "d/M/yyyy", CultureInfo.InvariantCulture);

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        sectionTitle = "Additional driver";
        submitButtonText = "Continue";
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        componentName = "bgl.components.driverdetails.licenceheldsince";
        controllerName = "DriverDetailsComponentLicence";
        submitButtonText = "Continue";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl("LicenceHeldSinceConfirm", controllerName, FormMethod.Post,
        new
        {
            id = "licence-held-since",
            @class = "step-form",
            data_on_success = $"{componentName}.onSuccess",
            data_on_error = $"{componentName}.onError",
            data_store_key = $"{Model.DataStoreKey}",
            data_next_journey_component = $"{Model.NextJourneyComponent}",
            data_testid = $"{componentId}__licence-held-since-form"
        }))
    {
        @Html.AntiForgeryToken()

        <h1 class="step-form__section-title">@sectionTitle</h1>
        <div aria-live="polite" role="region">
            @Html.RenderOpenCloseHelpText(header, "Enter either the date that the driving test was passed or for provisional Licence holders, the date this was obtained.")
        </div>
        <fieldset>
            <legend class="visually-hidden">@sectionTitle</legend>
            <div class="form-row__inline-wrapper uk-resident-dropdowns" id="residency-start-date-dropdowns">
                <div class="form-row">
                    <div class="form-row__input-wrapper form-row__input-wrapper--half">
                        @Html.LabelFor(x => x.LicenceDateMonth, "What Month?", new { @class = "form-row__label", @for = "Since-Month" })
                        @Html.DropDownListFor(x => x.LicenceDateMonth, Model.Months, "Please select...", new { @class = "form-row__select", id = "Since-Month", data_testid = componentId + "__month_dropdownlist", data_store = $"{nameof(Model.LicenceDateMonth)}" })
                        <div class="form-row__error-text-container">
                            @Html.ValidationMessageFor(x => x.LicenceDateMonth, string.Empty,
                                new { @class = "form-row__validation-text", data_testid = componentId + "__month_validation-message", role = "alert" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-row__input-wrapper form-row__input-wrapper--half">
                        @Html.LabelFor(x => x.LicenceDateYear, "What Year?", new { @class = "form-row__label", @for = "Since-Year" })
                        @Html.DropDownListFor(x => x.LicenceDateYear, Model.Years, "Please select...", new { @class = "form-row__select", id = "Since-Year", data_testid = componentId + "__year_dropdownlist", data_store = $"{nameof(Model.LicenceDateYear)}" })
                        <div class="form-row__error-text-container">
                            @Html.ValidationMessageFor(x => x.LicenceDateYear, string.Empty,
                                new { @class = "form-row__validation-text", data_testid = componentId + "__year_validation-message", role = "alert" })
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        @Html.Hidden("CurrentYear", DateTime.Today.Year)
        @Html.Hidden("CurrentMonth", DateTime.Today.ToString("%M"))
        @Html.Hidden("PersonBirthMonth", dateOfBirth.Month)
        @Html.Hidden("PersonBirthYear", dateOfBirth.Year)
        @Html.HiddenFor(x => x.IsPolicyHolder)
        @Html.HiddenFor(x => x.HasChanges, new { data_store_skip = "true" })

        if (Model.JourneyType != JourneyTypes.MultiStepEdit)
        {
            @Html.HiddenFor(x => x.PersonId, Model.PersonId)
            @Html.HiddenFor(x => x.FirstStep)
            @Html.HiddenFor(x => x.Country, new { data_store = $"{nameof(Model.Country)}" })
            @Html.HiddenFor(x => x.Licence)
            @Html.HiddenFor(x => x.JourneyType)
            @Html.HiddenFor(x => x.FirstName)
            @Html.HiddenFor(x => x.DateOfBirth, new { data_store = $"{nameof(Model.DateOfBirth)}" })
        }

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit"
                        formnovalidate
                        name="submiButton"
                        tabindex="0"
                        title="Submit button"
                        class="button button--primary button--large button--right"
                        data-testid="@(componentId)__continue-button" value=@submitButtonText>
                    @submitButtonText
                </button>

                @if (Model.FirstStep == PersonLicenceSteps.TypeOfLicence
                     || Model.JourneyType == JourneyTypes.AdditionalDriver
                     || Model.JourneyType == JourneyTypes.MultiStepEdit)
                {
                    <a class="button button--text button--large button--back button--left" data-step-type="previous-step" href="@backButtonUrl" data-testid="@(componentId)__back-button">Back</a>
                }
            </div>
        </div>
    }
</div>
