﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.MedicalCondition.MedicalConditionDvlaViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var firstName = Model.FirstName?.ToTitleCase();
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ? 
        "Your driving history"
        :$"{firstName}'s driving history";
    var submitButtonText = "Done";
    var header = string.IsNullOrEmpty(Model.FirstName) ? 
        "Have you notified the DVLA?"
        :$"Has {firstName} notified the DVLA";
    var controllerName = "DriverDetailsComponent";
    var componentName = "bgl.components.medicalconditiondvlanotified";
    var submitButtonClassVisibility = string.Empty;
    var backButtonUrl = Url.Action("MedicalCondition", "DriverDetailsComponent");

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        submitButtonClassVisibility = "hide";
        sectionTitle = "Additional driver";
        submitButtonText = "Continue";
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitButtonClassVisibility = "hide";
        componentName = "bgl.components.driverdetails.medicalconditiondvlanotified";
        controllerName = "DriverDetailsComponentMedicalCondition";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
        submitButtonText = "Continue";
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl("MedicalConditionDvlaNotifiedPost", controllerName, FormMethod.Post,
        new
        {
            id = "medical-condition-dvla-notified",
            @class = "step-form",
            data_on_success = $"{componentName}.onSuccess",
            data_on_error = $"{componentName}.onError",
            data_store_key = $"{Model.DataStoreKey}",
            data_next_journey_component = "declinedinsurance",
            data_testid = $"{componentId}__medical-condition-dvla-notified-form"
        }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.HasChanges, new { data_store_skip = "true" })

        if (Model.JourneyType != JourneyTypes.MultiStepEdit)
        {
            @Html.HiddenFor(x => x.MedicalCondition, new { data_store = $"{nameof(Model.MedicalCondition)}" })
            @Html.HiddenFor(x => x.PersonId)
            @Html.HiddenFor(x => x.JourneyType)
            @Html.HiddenFor(x => x.FirstName)
            @Html.HiddenFor(x => x.Licence, new { data_store = $"{nameof(Model.Licence)}" })
        }

        <h1 class="step-form__section-title">@sectionTitle</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">@header</h2>

        <p class="help-text__sub-text">If yes, the DVLA have allowed you to retain your driving licence following that referral.</p>

        <div class="form-row addon-radio__wrapper">
            <fieldset>
                <legend class="visually-hidden">@header</legend>
                @Html.RadioButtonFor(x => x.MedicalConditionDvlaNotified, true, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "medical-notification-yes", data_store = $"{nameof(Model.MedicalConditionDvlaNotified)}" })
                @Html.LabelFor(x => x.MedicalConditionDvlaNotified, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "medical-notification-yes", data_testid = componentId + "__radio-button-medical-notification-yes", @role = "button", tabindex = "0" })

                @Html.RadioButtonFor(x => x.MedicalConditionDvlaNotified, false, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "medical-notification-no", data_store = $"{nameof(Model.MedicalConditionDvlaNotified)}" })
                @Html.LabelFor(x => x.MedicalConditionDvlaNotified, "No", new { @class = "form-row__label form-row__label--pill", @for = "medical-notification-no", data_testid = componentId + "__radio-button-medical-notification-no", @role = "button", tabindex = "0" })
            </fieldset>
            @Html.ValidationMessageFor(x => x.MedicalConditionDvlaNotified, string.Empty, new { @class = "form-row__validation-text" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit"
                        formnovalidate
                        name="submiButton"
                        tabindex="0"
                        title="Submit button"
                        class="button button--primary button--large button--right @submitButtonClassVisibility"
                        data-testid="@(componentId)__@(submitButtonText.ToLower())-button" value="@submitButtonText">
                    @submitButtonText
                </button>

                @if (Model.IsOpenedFromMedicalCondition || Model.JourneyType != JourneyTypes.SingleEdit)
                {
                    @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, "medicalcondition")
                }
            </div>
        </div>
    }
</div>
