﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.MotorClaims.MotorClaimsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var personsList = ViewData["DriversList"] as string;
    bool storePersons = !string.IsNullOrWhiteSpace(personsList);

    var imagePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;

    var addMotorClaimUrl = Url.Action("MotorClaimsBuilder", "DriverDetailsComponentMotorClaims");
    var removeAllMotorClaimsUrl = Url.Action("DeleteAllMotorClaims", "DriverDetailsComponentMotorClaims");

    var sectionTitle = "Motoring claims";
    var header = string.IsNullOrEmpty(Model.FirstName) 
        ? "In the last 5 years, have you had any motor accidents, losses or incidents regardless of blame even if no claim was made?"
        : $"In the last 5 years, has {Model.FirstName?.ToTitleCase()} had any motor accidents, losses or incidents regardless of blame even if no claim was made?";
    var helpText = string.IsNullOrEmpty(Model.FirstName) 
        ? "This should include all motor-related incidents and claims (including company vehicles) made by or against you, irrespective of fault."
        : $"This should include all motor-related incidents and claims (including company vehicles) made by or against {Model.FirstName?.ToTitleCase()}, irrespective of fault.";

    var submitButtonText = "Done";
    var backButtonUrl = string.Empty;
    var submitButtonClassVisibility = string.Empty;
    var nextStepUrl = string.Empty;

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        submitButtonClassVisibility = "hide";
        sectionTitle = "Additional driver";
        backButtonUrl = Model.BackJourneyUrl;
        nextStepUrl = Url.Action("MotorConvictions", "DriverDetailsComponent");
        submitButtonText = "Continue";
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitButtonClassVisibility = "hide";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
        nextStepUrl = Model.ComponentConfiguration.NextStepUrl;
        submitButtonText = "Continue";
    }
}

<div class="narrow step-form" data-testid="@(componentId)__motor-claims-container">
    <form data-next-journey-component="motorconvictions" data-next-step-url="@Url.Action("MotorConvictions", "DriverDetailsComponent")"
          id="@(componentId)-motor-claims-form" data-store-key="@Model.DataStoreKey" data-testid="@(componentId)__motor-claims-form">

        @Html.AntiForgeryToken()

        <h1 class="step-form__sub-heading">@sectionTitle</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">@header</h2>
        <p class="help-text__sub-text">@helpText</p>
        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">@header</legend>
                @Html.RadioButtonFor(x => x.HasClaims, true, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "driver-has-claims-yes", data_url = $"{addMotorClaimUrl}", data_testid = componentId + "__input-yes" })
                @Html.LabelFor(x => x.HasClaims, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "driver-has-claims-yes", data_testid = componentId + "__radio-button-yes", @role = "button", @tabindex = "0" })

                @Html.RadioButtonFor(x => x.HasClaims, false, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "driver-has-claims-no", data_need_to_delete = "false", data_store = $"{nameof(Model.HasClaims)}", data_testid = componentId + "__input-no" })
                @Html.LabelFor(x => x.HasClaims, "No", new { @class = "form-row__label form-row__label--pill", @for = "driver-has-claims-no", data_testid = componentId + "__radio-button-no", @role = "button", @tabindex = "0" })

            </fieldset>
            @Html.ValidationMessageFor(x => x.HasClaims, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__radio-button-error" })
        </div>

        <div class="@(Model.HasClaims != true ? "hide" : string.Empty)" id="motor-claims-list">
            <div class="step-form__summary-block">
                @if (Model.HasClaims == true)
                {
                    foreach (var motorClaim in Model.MotorClaimItems)
                    {
                        <div class="step-form__summary-item">
                            <div class="step-form__summary-label-section">
                                <p class="step-form__summary-label">
                                    <strong class="step-form__summary-label--main">
                                        @motorClaim.Month @motorClaim.Year, @motorClaim.Type
                                    </strong>
                                </p>
                            </div>
                            <div class="step-form__summary-action-section">
                                <button class="link--edit step-form__action-link" data-role="delete" data-claim-id="@motorClaim.Id" data-testid="@(componentId)__delete-claim" href="@Url.Action("DeleteMotorClaim", "DriverDetailsComponentMotorClaims")">
                                    <img class="form-row__edit-image" src="@(imagePath)icon-remove.svg" alt="Remove Claim @(@motorClaim.Month) @(@motorClaim.Year) @(@motorClaim.Type)">
                                    <span class="link__edit-text">
                                          Remove<span></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="step-form__summary-link-block">
                @if (Model.MotorClaimItems?.Count() < 99)
                {
                    <div class="step-form__summary-link-section">
                        <button class="link link--primary" id="add-new-motor-claim" href="@addMotorClaimUrl" @(Model.JourneyType == JourneyTypes.MultiStepEdit ? "data-target=#SlidePanel data-toggle=slide-panel" : string.Empty) data-testid="@(componentId)__add-another">Add another</button>
                    </div>
                }
                @if (Model.HasClaims == true)
                {
                    <div class="step-form__summary-link-section">
                        <button class="link link--primary" id="remove-all-motor-claims" href="@removeAllMotorClaimsUrl">Remove all</button>
                    </div>
                }
            </div>
        </div>

        <div class="page-section--inner">
            @if (Model.JourneyType == JourneyTypes.SingleEdit)
            {
                <div class="button-container">
                    <button type="button"
                            class="button button--primary button--large button--right slide-panel__close"
                            data-dismiss="slide-panel"
                            id="motor-claims_submit-button" data-testid="@(componentId)__@(submitButtonText.ToLower())-button"
                            data-remove-all-url="@removeAllMotorClaimsUrl">
                        @submitButtonText
                    </button>
                </div>
            }

            @if (Model.JourneyType != JourneyTypes.SingleEdit)
            {
                <div data-target="#SlidePanel" data-toggle="slide-panel"></div>
                <div class="button-container">
                    <button type="button"
                            class="button button--primary button--large button--right @submitButtonClassVisibility"
                            id="motor-claims_submit-button"
                            data-next-step-url="@nextStepUrl"
                            data-testid="@(componentId)__@(submitButtonText.ToLower())-button"
                            data-remove-all-url="@removeAllMotorClaimsUrl">
                        @submitButtonText
                    </button>
                    @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, Model.PreviousComponent)
                </div>
            }
        </div>

        @Html.HiddenFor(x => x.JourneyType)
        @Html.HiddenFor(x => x.FirstName)
        @Html.HiddenFor(x => x.PersonId)
    </form>
</div>

@if (storePersons)
{
    <script type="text/javascript">
        (function () {
            bgl.components.motorclaims.storeDrivers('@Html.Raw(personsList)');
        })();
    </script>
}
