﻿@using System.Web.Mvc

@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers

@model BGL.Components.DriverDetails.Models.OvernightParkingViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}_overnight-parking";
    var componentName = "overnightparking";
    var displayCloseBackButton = string.IsNullOrWhiteSpace(Model.ComponentConfiguration.PreviousStepUrl) && Model.ComponentConfiguration.IsService && !Model.ComponentConfiguration.IsInitialChange;
}

    <div class="narrow" id="overnightParkings" data-component-id="@componentId" data-testid="@(componentId)__select-overnight-parking-view">
        @if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_ProgressBar");
        }

        @using (Html.BeginFormBgl("OvernightParkingPatch", "DriverDetailsComponentOvernightParking", FormMethod.Post, new
        {
            id = formId,
            @class = "step-form",
            data_testid = componentId + "__form",
            data_on_success = $"bgl.components.driverdetails.overnightparking.onSuccess",
            data_on_error = $"bgl.components.driverdetails.overnightparking.onError",
            data_store_key = $"{Model.DataStoreKey}"
        }))
        {
            <fieldset>
                <legend class="visually-hidden">Where will your car be kept overnight?</legend>
                <p class="step-form__section-title">About your car</p>
                <h1 class="h2 step-form__heading" data-testid="@(componentId)__overnight-parkings-question">Where will your car be kept overnight?</h1>
                <p class="help-text__sub-text">This is the address where your vehicle is normally parked at night.</p>

                <div class="step-form__button-wrapper">
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.VehicleId, new { data_store = nameof(Model.VehicleId) })
                    @Html.HiddenFor(m => m.HasChanges, new { data_store = nameof(Model.HasChanges) })

                    @foreach (var overnightParking in Model.OvernightParkingItems)
                    {
                        @Html.RadioButtonFor(m => m.OvernightParkingCode, overnightParking.Key, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = $"vehicle-details_overnight-parking_{overnightParking.Key}", data_testid = $"{componentId}__vehicle-details_overnight-parking-input", data_store = $"{nameof(Model.OvernightParkingCode)}" })
                        @Html.LabelFor(x => x.OvernightParkingCode, overnightParking.Value, new { @class = "form-row__label form-row__label--pill", @for = $"vehicle-details_overnight-parking_{overnightParking.Key}", data_testid = $"{componentId}__vehicle-details_overnight-parking-label", @role = "button", @tabindex = "0" })
                    }

                </div>

                <div class="slide-panel-nav">
                    <button type="submit" class="button button--primary button--large button--right" id="vehicle-overnight_done-button" data-testid="DriverDetailsDefault__submit-button">
                        Continue
                    </button>
                    <span>
                        <a href="#" class="button button--text button--back back-button-link" data-testid="DriverDetailsDefault__back-button">Back</a>
                    </span>
                </div>
            </fieldset>
        }
</div>