﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.EmploymentStatus.PartTimeBusinessCategoryViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = "part_time_business_type_step_form";
    var firstName = Model.FirstName?.ToTitleCase();
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ? 
        "Your employment"
        : $"{firstName}'s employment";
    var helpText = string.IsNullOrEmpty(Model.FirstName) ? 
        "If your business type is not listed, please select one that is closest to the business you work in."
        : $"If the business type is not listed, please select one that is closest to the business {firstName} works in";
    var submitButtonText = "Done";
    var stepTitle = string.IsNullOrEmpty(Model.FirstName) ?
        "What type of industry do you work in?"
        : $"What type of industry does {firstName} work in?";
    var componentName = "bgl.components.employmentstatusbuilder";
    var controllerName = "DriverDetailsComponent";
    var backButtonUrl = Url.Action("PartTimeOccupation", "DriverDetailsComponent");

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        sectionTitle = "Additional driver";
        submitButtonText = "Continue";
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        componentName = "bgl.components.driverdetails.employmentstatus";
        controllerName = "DriverDetailsComponentEmployment";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
        submitButtonText = "Continue";
    }
}

@using (Html.BeginFormBgl("UpdatePartTimeEmploymentStatus", controllerName, FormMethod.Post, new
{
    id = formId,
    @class = "step-form",
    data_on_success = $"{componentName}.onSuccess",
    data_on_error = $"{componentName}.onError",
    data_store_key = $"{Model.DataStoreKey}",
    data_next_journey_component = "ukresidentfiveyears",
    data_testid = $"{componentId}__industry-form"
}))
{
    <h1 class="step-form__section-title">@sectionTitle</h1>

    <h2 class="step-form__heading" data-testid="step-form__heading">
        <strong>@stepTitle</strong>
        <span class="step-form__heading--sub-text">(e.g. Education or Information Technology)</span>
    </h2>
    <p class="help-text__sub-text">@helpText</p>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PartTimeBusinessCategoryId, new { data_store = $"{nameof(Model.PartTimeBusinessCategoryId)}" })
    @Html.HiddenFor(model => model.PersonOccupationStep)
    @Html.HiddenFor(model => model.HasChanges, new { data_store_skip = "true" })

    if (Model.JourneyType != JourneyTypes.MultiStepEdit)
    {
        @Html.HiddenFor(model => model.PersonId)
        @Html.HiddenFor(model => model.PartTimeOccupation, new { data_store = $"{nameof(Model.PartTimeOccupation)}" })
        @Html.HiddenFor(model => model.PartTimeOccupationId, new { data_store = $"{nameof(Model.PartTimeOccupationId)}" })
        @Html.HiddenFor(model => model.HasPartTimeOccupation)
        @Html.HiddenFor(m => m.JourneyType)
        @Html.HiddenFor(m => m.FirstName)
    }

    <div class="form-row">
        @Html.LabelFor(m => m.PartTimeBusinessCategory, "Select part-time occupation business category", new { @class = "visually-hidden" })
        @Html.TextBoxForBgl(m => m.PartTimeBusinessCategory, new
   {
       @class = $"form-row__input form-row__input--text {nameof(Model.PartTimeBusinessCategory)}",
       placeholder = "Type the first few letters and select from the list below...",
       autocompletesearch = Url.Action("BusinessCategoriesSearch", "DriverDetailsComponentEmployment"),
       tabindex = "0",
       data_testid = $"{componentId}__business-category",
       data_store = $"{nameof(Model.PartTimeBusinessCategory)}"
   })

        @Html.ValidationMessageFor(m => m.PartTimeBusinessCategory, string.Empty, new
        {
            @class = "form-row__validation-text",
            data_testid = $"{componentId}__business-category-validation-message"
        })
    </div>

    <div class="page-section--inner">
        <div class="button-container">
            <button type="submit"
                    formnovalidate
                    name="submiButton"
                    tabindex="0"
                    title="Submit button"
                    class="button button--primary button--large button--right"
                    data-testid="@(componentId)__@(submitButtonText.ToLower())-button" value=@submitButtonText>
                @submitButtonText
            </button>
            <a class="button button--text button--large button--back button--left" data-step-type="previous-step" href="@backButtonUrl" data-testid="@(componentId)__back-button">Back</a>
        </div>
    </div>
}
