﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.DriverDetails.Models.PersonRelationshipsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;

    var personsList = ViewData["DriversList"] as string;
    bool storePersons = !string.IsNullOrWhiteSpace(personsList);
    var headerText = "What is their relationship to you?";
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl("RelationshipStatusConfirm", "DriverDetailsComponent", FormMethod.Post,
        new
        {
            id = "relationship-status-form",
            @class = "step-form",
            data_on_success = "bgl.components.relationshipstatus.onSuccess",
            data_on_error = "bgl.components.relationshipstatus.onError",
            data_store_key = $"{Model.DataStoreKey}",
            data_next_journey_component = "aboutyoudriverdetails"
        }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.JourneyType)
        @Html.HiddenFor(x => x.PersonId)
        <h1 class="step-form__section-title">Additional driver</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">@headerText</h2>
        <br><br>
        <h3 class="step-form__section-title">If you can't find the option you are looking for, please ensure your marital status is up to date.</h3>

        <div class="form-row addon-radio__wrapper">
            <fieldset>
                <legend class="visually-hidden">@headerText</legend>
                @foreach (var status in Model.RelationshipStatuses)
                {
                    @Html.RadioButtonFor(x => x.RelationshipStatusCode, status.Key, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = $"{status.Key}-relationship-status", data_store = $"{nameof(Model.RelationshipStatusCode)}" })
                    @Html.LabelFor(x => x.RelationshipStatusCode, status.Value, new { @class = "form-row__label form-row__label--pill", @for = $"{status.Key}-relationship-status", data_testid = $"{componentId}__radio-button", @role = "button", @tabindex = "0" })
                }

            </fieldset>

            @Html.ValidationMessageFor(x => x.RelationshipStatusCode, string.Empty, new { @class = "form-row__validation-text" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit"
                        class="button button--primary button--large button--right hide"
                        data-testid="@(componentId)__continue-button"
                        value="Continue" formnovalidate>
                    Continue
                </button>
            </div>
        </div>
    }
</div>
@if (storePersons)
{
    <script type="text/javascript">
        (function () {
            bgl.components.motorclaims.storeDrivers('@Html.Raw(personsList)');
        })();
    </script>
}