﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Common.ErrorModule
@using BGL.Common.Utility.Extensions
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.Address.SearchAddressViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}__form";
    var hiddenClass = "hide";
    var submitButtonText = "Continue";
    var backButtonUrl = Url.Action("MaritalStatus", "DriverDetailsComponentAboutYou");
    string submitAction = "SearchAddressPost";
    string submitController = "DriverDetailsComponent";
    string successCallback = "bgl.components.editaddress.onSuccess";
    string errorCallback = "bgl.components.editaddress.onError";
    var helpTextViewName = Model.ComponentConfiguration?.ViewOptions?.AddressHelpText.GetViewNameFromEnum(true);


    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitController = "DriverDetailsComponentAddress";
        successCallback = "bgl.components.driverdetails.searchaddress.onSuccess";
        errorCallback = "bgl.components.driverdetails.searchaddress.onError";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
    }
}

    <div id="@componentId" class="narrow" data-component-id="@componentId" data-testid="@(componentId)__search-address-view">
        @if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_ProgressBar");
        }

        @using (Html.BeginFormBgl(submitAction, submitController, FormMethod.Post, new
        {
            id = formId,
            @class = "step-form",
            data_on_success = successCallback,
            data_on_error = errorCallback,
            data_store_key = $"{Model.DataStoreKey}"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.AddressId)
            @Html.HiddenFor(model => model.HasChanges, new { data_store_skip = "true" })
            @Html.HiddenFor(m => m.JourneyType)

            <h1 class="step-form__section-title">About you</h1>
            <h2 class="step-form__heading" data-testid="step-form__heading">Tell us where the vehicle is kept</h2>

            @Html.Partial(helpTextViewName)

            if (Model.ComponentState == ComponentState.PartialError)
            {
                @Html.Partial("AddressErrorMessage")
            }

            <div class="form-row">
                @Html.LabelFor(model => model.Home, new { @class = "form-row__label" })
                @Html.TextBoxForBgl(model => model.Home, new { @class = "form-row__input form-row__input--full-width", tabindex = 0, data_testid = componentId + "__home-input", data_store = nameof(Model.Home) })
                @Html.ValidationMessageFor(model => model.Home, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__home-validation-message" })
            </div>
            <div class="form-row form-row--multi-input">
                @Html.LabelFor(model => model.PostCode, new { @class = "form-row__label" })

                <div class="form-row__input-wrapper form-row__input-wrapper--half">
                    @Html.TextBoxForBgl(model => model.PostCode, new { @maxlength = "8", @class = "form-row__input form-row__input--full-width", tabindex = 0, data_testid = componentId + "__postcode-input", data_store = nameof(Model.PostCode) })
                    @Html.ValidationMessageFor(model => model.PostCode, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__postcode-validation-message" })
                </div>
                <div class="form-row__input-wrapper form-row__input-wrapper--half">
                    <button type="submit" class="button button--primary button--large button--left button--inline" tabindex="0" formnovalidate value="Find address" data-testid="@(componentId)__submit-button">Find address</button>
                </div>
            </div>
            <div class="button-container">
                <a class="button button--text button--large button--left ajax-address-link" data-back-url="@Url.Action("SearchAddress", submitController)" href="@Url.Action("ManualAddress", submitController)" tabindex="0" data-testid="@(componentId)__manual-address-link">Enter your address manually</a>
            </div>

            <div class="slide-panel-nav">
                <span></span>
                <span>
                    @if (Model.JourneyType == JourneyTypes.MultiStepEdit)
                    {
                        <a href="@backButtonUrl" data-step-type="previous-step-journey" data-component="aboutyoudriverdetails" class="button button--text button--large button--left button--back back-button-link" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
                    }
                    else if (Model.ComponentConfiguration.IsService && !Model.ComponentConfiguration.IsInitialChange)
                    {
                        <a href="#" class="button button--text button--back back-button-link" data-testid="@(componentId)__back-button" data-dismiss="slide-panel" aria-label="Back">Back</a>
                    }
                </span>
            </div>
        }
    </div>
