﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.SurnameViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    string backButtonUrl = Url.Action("MaritalStatus", "DriverDetailsComponent");
    var submitButtonText = "Done";
    var hiddenClass = string.Empty;
    string submitAction = "UpdateMaritalStatus";
    string submitController = "DriverDetailsComponent";
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) 
        ? "Your details" 
        : $"{Model.FirstName?.ToTitleCase()}'s details" ;
    var header  = string.IsNullOrEmpty(Model.FirstName) 
        ? "Now tell us about yourself"
        : $"Now tell us about {Model.FirstName?.ToTitleCase()}";
}

    <div class="narrow" id="@componentId" data-component-id="@componentId">

        @if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_ProgressBar");
        }

        @using (Html.BeginFormBgl(submitAction, submitController, FormMethod.Post,
            new
            {
                id = "surname-form",
                @class = "step-form",
                data_on_success = "bgl.components.maritalstatus.onSurnameSuccess",
                data_on_error = "bgl.components.maritalstatus.onSurnameError",
                data_store_key = $"{Model.DataStoreKey}"
            }))
        {
            @Html.AntiForgeryToken()

            <h1 class="step-form__section-title">@sectionTitle</h1>
            <h2 class="step-form__heading" data-testid="step-form__heading">@header</h2>

            <div class="form-row addon-radio__wrapper">
                <fieldset class="form-row__field-set">
                    <legend class="form-row__legend">Title</legend>

                    @foreach (var title in Model.Titles)
                    {
                        @Html.RadioButtonFor(x => x.Title, title.Key, new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "Your-Title-" + title.Key, data_store = $"{nameof(Model.Title)}" })
                        @Html.LabelFor(x => x.Title, title.Value, new { @class = "form-row__label form-row__label--pill", @for = "Your-Title-" + title.Key, data_testid = $"{componentId}__titles" })
                    }

                    @Html.ValidationMessageFor(x => x.Title, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__title_error" })
                </fieldset>
            </div>

            <div class="form-row">
                @Html.LabelFor(x => x.LastName, new { @class = "form-row__label" })
                @Html.TextBoxForBgl(x => x.LastName, Model.LastName, new { @class = "form-row__input", data_testid = $"{componentId}__lastName", data_store = $"{nameof(Model.LastName)}" })
                @Html.ValidationMessageFor(x => x.LastName, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__lastName_error" })
            </div>

            @Html.HiddenFor(x => x.HasChanges, new { data_store_skip = "true" })
            @Html.HiddenFor(m => m.JourneyType, new { data_store_skip = "true" })
            @Html.HiddenFor(x => x.PersonId, new { data_store_skip = "true" })
            @Html.HiddenFor(x => x.MaritalStatusCode, new { data_store_skip = "true" })
            @Html.HiddenFor(x => x.FirstName, new { data_store_skip = "true" })
            @Html.HiddenFor(x => x.Source, new { data_store_skip = "true" })

            <div class="slide-panel-nav">
                <button type="submit" data-disable-submit class="button button--primary button--large button--right @(hiddenClass)" data-testid="@(componentId)__@(submitButtonText.ToLower())-button">@submitButtonText</button>
                <span>
                    @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, "aboutyoudriverdetails", true)
                </span>
            </div>
        }
    </div>
