﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.Licence.TypeOfLicenceViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var firstName = Model.FirstName?.ToTitleCase();
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ? 
        "Your driving history"
        : $"{firstName}'s driving history";
    var header = string.IsNullOrEmpty(Model.FirstName) ? 
        "Okay, so what type of licence do you have?"
        : $"Okay, so what type of licence does {firstName} have?";
    var componentName = "bgl.components.typeoflicence";
    var controllerName = "DriverDetailsComponent";
    var backButtonUrl = string.Empty;
    var submitButtonClassVisibility = string.Empty;

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        sectionTitle = "Additional driver";
        backButtonUrl = Url.Action("UseOfOtherVehicles", "DriverDetailsComponent");
        submitButtonClassVisibility = "hide";
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        componentName = "bgl.components.driverdetails.typeoflicence";
        controllerName = "DriverDetailsComponentLicence";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
        submitButtonClassVisibility = "hide";
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl("TypeOfLicenceConfirm", controllerName, FormMethod.Post,
        new
        {
            id = "type-of-licence",
            @class = "step-form",
            data_on_success = $"{componentName}.onSuccess",
            data_on_error = $"{componentName}.onError",
            data_store_key = $"{Model.DataStoreKey}",
            data_next_journey_component = "licenceheldsince",
            data_testid = $"{componentId}__licence-type-form"
        }))
    {
        @Html.AntiForgeryToken()

        <h1 class="step-form__section-title">
            @sectionTitle
        </h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">@header</h2>

        <div class="form-row" id="licence-section">
            <fieldset>
                <legend class="visually-hidden">@header</legend>
                @foreach (var licence in Model.Licences)
                {
                    @Html.RadioButtonFor(m => m.Licence, licence.Key, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "licenceType-" + licence.Key, data_store = $"{nameof(Model.Licence)}", data_dependent_property = "Licence" })
                    @Html.LabelFor(m => m.Licence, licence.Value, new { @class = "form-row__label form-row__label--pill", @for = "licenceType-" + licence.Key, data_testid = $"{componentId}__licences", @role = "button", @tabindex = "0" })
                }
            </fieldset>
            @Html.ValidationMessageFor(x => x.Licence, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__licence_error" })
        </div>

        <div class="form-row hide" id="licence-row">
            @Html.LabelFor(x => x.Country, "Tell us which country?", new { @class = "form-row__label sub__question" })
            @Html.DropDownListFor(x => x.Country, Model.Countries, "Please select...", new { @class = "form-row__select short", data_testid = $"{componentId}__countries-dropdown", data_store = $"{nameof(Model.Country)}" })
            @Html.ValidationMessageFor(x => x.Country, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__country_error" })
        </div>

        @Html.HiddenFor(x => x.HasChanges, new { data_store_skip = "true" })

        if (Model.JourneyType != JourneyTypes.MultiStepEdit)
        {
            @Html.HiddenFor(x => x.PersonId)
            @Html.HiddenFor(x => x.FirstStep)
            @Html.HiddenFor(x => x.JourneyType)
            @Html.HiddenFor(x => x.FirstName)
            @Html.HiddenFor(x => x.DateOfBirth, new { data_store = $"{nameof(Model.DateOfBirth)}" })
        }

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right @submitButtonClassVisibility" data-testid="@(componentId)__continue-button" value="Continue" formnovalidate>Continue</button>

                @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, "useofothervehicles")
            </div>
        </div>
    }
</div>
