﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.UkResidentFiveYearsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var sectionTitle = "About you";
    var firstName = Model.FirstName?.ToTitleCase();
    var submitButtonText = "Done";
    var header = string.IsNullOrEmpty(Model.FirstName) ? 
        "Have you been a UK resident for over 5 years?"
        : $"Has {firstName} been a UK resident for over 5 years?";
    var labelText = string.IsNullOrEmpty(Model.FirstName) ?
        "When did you become a UK resident?"
        : $"When did {firstName} become a UK resident";
    var controllerName = "DriverDetailsComponent";
    var componentName = "bgl.components.ukresidentfiveyears";
    var submitButtonClassVisibility = string.Empty;
    var backButtonUrl = string.Empty;

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        sectionTitle = "Additional driver";
        submitButtonClassVisibility = "hide";
        submitButtonText = "Continue";
        backButtonUrl = Model.BackButtonUrl;
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitButtonText = "Continue";
        submitButtonClassVisibility = "hide";
        controllerName = "DriverDetailsComponentUkResident";
        componentName = "bgl.components.driverdetails.ukresidentfiveyears";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl("UkResidentFiveYearsConfirm", controllerName, FormMethod.Post,
        new
        {
            id = "uk-resident-five-years",
            @class = "step-form",
            data_on_success = $"{componentName}.onSuccess",
            data_on_error = $"{componentName}.onError",
            data_store_key = $"{Model.DataStoreKey}",
            data_next_journey_component = "useofothervehicles",
            data_testid = $"{componentId}__uk-resident-five-years-form"
        }))
    {
        @Html.AntiForgeryToken()

        <h1 class="step-form__section-title">
            @sectionTitle
        </h1>
        <div aria-live="polite" role="region">
            @Html.RenderOpenCloseHelpText(header, "Over 5 years applies to people who were born in the UK or have lived as a permanent resident in the UK for 5 years or more.")
        </div>
        <div class="form-row addon-radio__wrapper">
            <fieldset>
                <legend class="visually-hidden">Have you been a UK resident for over 5 years?</legend>

                @Html.RadioButtonFor(x => x.IsUkResidentFiveYears, true, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "uk-resident-five-years-yes", data_store = $"{nameof(Model.IsUkResidentFiveYears)}", data_dependent_property = "IsUkResidentFiveYears" })
                @Html.LabelFor(x => x.IsUkResidentFiveYears, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "uk-resident-five-years-yes", data_testid = componentId + "__radio-button-yes", @role = "button", @tabindex = "0" })

                @Html.RadioButtonFor(x => x.IsUkResidentFiveYears, false, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "uk-resident-five-years-no", data_store = $"{nameof(Model.IsUkResidentFiveYears)}", data_dependent_property = "IsUkResidentFiveYears" })
                @Html.LabelFor(x => x.IsUkResidentFiveYears, "No", new { @class = "form-row__label form-row__label--pill", @for = "uk-resident-five-years-no", data_testid = componentId + "__radio-button-no", @role = "button", @tabindex = "0" })

            </fieldset>
            @Html.ValidationMessageFor(x => x.IsUkResidentFiveYears, string.Empty, new { @class = "form-row__validation-text" })
        </div>
        <fieldset>
            <div class="form-row__inline-wrapper uk-resident-dropdowns @(Model.IsUkResidentFiveYears != false ? "hide" : string.Empty)" id="residency-start-date-dropdowns">
                <h2 class="form-row__label">@labelText</h2>
                <div class="form-row">
                    <div class="form-row__input-wrapper form-row__input-wrapper--half">
                        @Html.LabelFor(x => x.UkResidentMonth, "What Month?", new { @class = "form-row__label", @for = "Resident-Since-Month" })
                        @Html.DropDownListFor(x => x.UkResidentMonth, Model.Months, "Please select...", new { @class = "form-row__select", id = "Resident-Since-Month", data_testid = componentId + "__month_dropdownlist", data_store = $"{nameof(Model.UkResidentMonth)}" })
                        <div class="form-row__error-text-container">
                            @Html.ValidationMessageFor(x => x.UkResidentMonth, string.Empty,
                                new { @class = "form-row__validation-text", data_testid = componentId + "__month_validation-message" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-row__input-wrapper form-row__input-wrapper--half">
                        @Html.LabelFor(x => x.UkResidentYear, "What Year?", new { @class = "form-row__label", @for = "Resident-Since-Year" })
                        @Html.DropDownListFor(x => x.UkResidentYear, Model.Years, "Please select...", new { @class = "form-row__select", id = "Resident-Since-Year", data_testid = componentId + "__year_dropdownlist", data_store = $"{nameof(Model.UkResidentYear)}" })
                        <div class="form-row__error-text-container">
                            @Html.ValidationMessageFor(x => x.UkResidentYear, string.Empty,
                                new { @class = "form-row__validation-text", data_testid = componentId + "__year_validation-message" })
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
       

        if (Model.JourneyType != JourneyTypes.MultiStepEdit)
        {
            @Html.HiddenFor(m => m.JourneyType)
            @Html.HiddenFor(m => m.FirstName)
            @Html.HiddenFor(x => x.PersonId, Model.PersonId)
        }

        @Html.HiddenFor(m => m.HasChanges, new { data_store_skip = "true" })
        @Html.Hidden("CurrentYear", DateTime.Today.Year)
        @Html.Hidden("CurrentMonth", DateTime.Today.ToString("%M"))

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit"
                        class="button button--primary button--large button--right @submitButtonClassVisibility"
                        data-testid="@(componentId)__@(submitButtonText.ToLower())-button"
                        value=@submitButtonText formnovalidate>
                    @submitButtonText
                </button>

                @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, Model.PreviousComponent)
            </div>
        </div>
    }
</div>
