﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums


@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div id="addressContainer" class="page-section--inner narrow">
        @Html.ComponentRenderDriverDetailsConfirmedAddress(new ComponentDriverDetailsConfiguration
        {
            Id = "ConfirmedAddress",
            DataStoreKey = "YourDetails",
            TenantConfiguration = tenantConfiguration,
            JourneyType =  JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("HomeOwner", "YourDetails"),
            PreviousStepUrl = Url.Action("MaritalStatus", "YourDetails")
        })
    </div>
</div>

