﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums

@{
    ViewBag.Title = "Motor Insurance History";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderDriverDetailsDeclinedInsurance(new ComponentDriverDetailsDeclinedInsuranceConfiguration
        {
            Id = "DeclinedInsurance",
            DataStoreKey = "YourDetails",
            TenantConfiguration = tenantConfiguration,
            JourneyType =  JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("MotorClaims", "YourDetails"),
            DvlaNotifiedPageUrl = Url.Action("MedicalConditionDvlaNotified", "YourDetails"),
            PreviousStepUrl = Url.Action("MedicalCondition", "YourDetails")
        })
    </div>
</div>
