﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums

@{
    ViewBag.Title = "Licence Number";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderDriverDetailsDrivingLicenceNumber(new ComponentDriverDetailsLicenceConfiguration
        {
            Id = "DriverLicence",
            DataStoreKey = "YourDetails",
            TenantConfiguration = tenantConfiguration,
            JourneyType =  JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("MedicalCondition", "YourDetails"),
            PreviousStepUrl = Url.Action("LicenceDate", "YourDetails")
        })
    </div>
</div>
