﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums

@{
    ViewBag.Title = "Licence Date";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderDriverDetailsLicenceHeldSince(new ComponentDriverDetailsLicenceConfiguration
        {
            Id = "DriverLicence",
            DataStoreKey = "YourDetails",
            TenantConfiguration = tenantConfiguration,
            JourneyType =  JourneyTypes.MultiStepEdit,
            DrivingLicenceNumberPageUrl = Url.Action("LicenceNumber", "YourDetails"),
            NextStepUrl = Url.Action("MedicalCondition", "YourDetails"),
            PreviousStepUrl = Url.Action("LicenceType", "YourDetails")
        })
    </div>
</div>
