﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums

@{
    ViewBag.Title = "Medical Condition";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderDriverDetailsMedicalCondition(new ComponentDriverDetailsMedicalConditionConfiguration
        {
            Id = "MedicalCondition",
            DataStoreKey = "YourDetails",
            TenantConfiguration = tenantConfiguration,
            JourneyType =  JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("DeclinedInsurance", "YourDetails"),
            DvlaNotifiedPageUrl = Url.Action("MedicalConditionDvlaNotified", "YourDetails"),
            LicenceDatePageUrl = Url.Action("LicenceDate", "YourDetails"),
            PreviousStepUrl = Url.Action("LicenceNumber", "YourDetails")
        })
    </div>
</div>
