﻿.directory-nav {
    overflow: hidden;
    //min-height: calc(100vh - 120px);
    position: relative;

    &__list {
        margin: 0px;
        padding: 0px;
        display: flex;

        @media screen and (max-width: 767px) {
            display: block;
        }
    }

    &__item {
        @include column(4,12);
        position: relative;
        padding-bottom: 60px;
        text-align: center;

        @media screen and (max-width: 767px) {
            @include column(12);
            margin-bottom: 40px;
        }
    }

    &__link-wrapper {
        &:after {
            content: "";
            width: 240px;
            height: 20px;
            border-radius: 50%;
            background: #ebebeb;
            display: block;
            margin: auto;
            filter: blur(5px);
        }
    }

    &__link {
        display: block;
        padding: 40px 20px;
        //overflow: hidden;
        margin: 20px auto;
        height: 240px;
        width: 240px;
        border: solid 5px $color-primary--light;
        border-radius: 50%;
        position: relative;
        transition: 0.6s all;

        &:before {
            content: "";
            background: #fff;
            height: 110%;
            width: 110%;
            position: absolute;
            left: -5%;
            top: -5%;
            border-radius: 50%;
            transition: 0.6s all;
            z-index: -1;
            transform: scale(0.1);
        }

        &:hover {
            border: solid 5px $color-primary;
            box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.2);
            transition: 0.3s all;

            &:before {
                background: $color-primary--transparent;
                transform: scale(1);
                transition: 0.3s all;
            }
        }
    }

    &__image {
        max-width: 100%;
    }

    &__link-heading {
        margin-top: 20px;
        color: $color-primary;
    }

    &__button {
        text-decoration: none;
        background: $color-primary;
        margin-top: 20px;
        transition: 0.6s all;
        position: absolute;
        bottom: 0;
        max-width: 150px;
        width: 100%;
        left: 50%;
        margin-left: -75px;

        &:hover {
            background: lighten($color-primary, 10%);
            transition: 0.3s all;
        }
    }
}
