@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Extensions
@using BGL.Components.DemandsAndNeeds
@using BGL.Components.DemandsAndNeeds.Models
@using BGL.Components.DemandsAndNeeds.Constants
@using BGL.Components.DemandsAndNeeds.Enums
@using BGL.Web.PostOffice.MotorQuote.Constants
@using BGL.Components.TermsAndConds

@{
    ViewBag.Title = "Optional Extras";
    Layout = "~/Views/Shared/_SinglePageAddonsLayout.cshtml";

    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var product = Request.GetOwinContext()?.Authentication?.User?.Product();
    var isVan = product.Equals(AppConstants.ProductVan, StringComparison.OrdinalIgnoreCase);
    var marketingSourceConfig = new ComponentTermsAndCondsConfiguration
    {
        Id = "DemandsAndNeedsMarketingSource",
        TenantConfiguration = tenantConfiguration,
        MarketingSourceSetupList = new Dictionary<string, MarketingSourceDetails>
        {
            ["comparethemarket"] = new MarketingSourceDetails { ImageSource = "logo-ctm.svg", ImageAlt = "Compare the Market logo", ImageTitle = "Compare the Market logo", Name = "Compare the Market" },
            ["gocompare"] = new MarketingSourceDetails { ImageSource = "logo-gocompare.svg", ImageAlt = "Go Compare logo", ImageTitle = "Go Compare logo", Name = "GoCompare" },
            ["moneysupermarket"] = new MarketingSourceDetails { ImageSource = "logo-msm.svg", ImageAlt = "Money Super Market logo", ImageTitle = "Money Super Market logo", Name = "MoneySuperMarket" },
            ["confusedcom"] = new MarketingSourceDetails { ImageSource = "logo-confused.png", ImageAlt = "Confused.com logo", ImageTitle = "Confused.com logo", Name = "Confused.com" },
            ["quotezonecouk"] = new MarketingSourceDetails { ImageSource = "logo-quotezone.svg", ImageAlt = "Quotezone logo", ImageTitle = "Quotezone logo", Name = "Quotezone.co.uk" },
            ["thevaninsurer"] = new MarketingSourceDetails { ImageSource = "logo-thevaninsurer.svg", ImageAlt = "The Van Insurer logo", ImageTitle = "The Van Insurer logo", Name = "TheVanInsurer.co.uk" }
        }
    };

    bool.TryParse(Html.ComponentRenderTermsAndConditionsHasMarketingSource(marketingSourceConfig).ToString(), out var quoteHasMarketingSource);

    var configuration = new ComponentDemandsAndNeedsConfiguration
    {
        Id = "DemandsAndNeeds",
        NextPageUrl = Url.Action("Index", "Review"),
        PreviousPageUrl = Url.Action("Index", "PricePresentation"),
        ErrorRedirectUrl = ConfigurationManager.AppSettings["ErrorRedirectUrl"],
        TenantConfiguration = tenantConfiguration,
        QuoteHasMarketingSource = quoteHasMarketingSource,
        AddonOrder = AddonOrder(isVan),
        AddonConfigurations = AddOnConfigurations(isVan)
    };

    if (quoteHasMarketingSource)
    {
        configuration.AggregatorLogo = Html.ComponentRenderTermsAndConditionsAggregatorLogo(marketingSourceConfig);
        configuration.AggregatorName = Html.ComponentRenderTermsAndConditionsAggregatorName(marketingSourceConfig).ToString();
    }
}

@Html.ComponentRenderDemandsAndNeedsSinglePageAddOnView(configuration)

@functions
{
    public List<string> AddonOrder(bool isVan)
    {
        if (isVan)
        {
            return new List<string>
            {
                DemandsAndNeedsServiceConstants.NoClaimsDiscountProtection,
                DemandsAndNeedsServiceConstants.MotorLegalProtection,
                DemandsAndNeedsServiceConstants.BreakdownCover,
                DemandsAndNeedsServiceConstants.Keycare,
                DemandsAndNeedsServiceConstants.ToolsCover
            };
        }
        else
        {
            return new List<string>
            {
                DemandsAndNeedsServiceConstants.NoClaimsDiscountProtection,
                DemandsAndNeedsServiceConstants.MotorLegalProtection,
                DemandsAndNeedsServiceConstants.RacBreakdownAssistance,
                DemandsAndNeedsServiceConstants.GuaranteedReplacementCar,
                DemandsAndNeedsServiceConstants.Keycare
            };
        }
    }

    public List<AddOnConfiguration> AddOnConfigurations(bool isVan)
    {
        var addOnConfiguration = new List<AddOnConfiguration>();

        addOnConfiguration.Add(new AddOnConfiguration
        {
            Id = "NoClaimsDiscountProtection",
            AddOnName = "No Claims Discount Protection",
            ViewName = "_NoClaimsDiscountProtectionAddOn",
            AddOnService = DemandsAndNeedsServiceConstants.NoClaimsDiscountProtection,
            ShowBasket = true,
            BasketButtonType = BasketButtonType.AddRemove,
            DidYouKnowText = "No claims discount protection allows you to make one or more claims before your number of no claims discount years falls",
            PncdAverageDiscountTableRowsToInclude = new List<int> {
                4, 5, 6, 7, 8, 9
            }
        });

        if (isVan)
        {
            addOnConfiguration.Add(new AddOnConfiguration
            {
                Id = "ToolsCover",
                AddOnName = "Tools and Van Contents Cover",
                ViewName = "_ToolsCoverAddOn",
                AddOnService = DemandsAndNeedsServiceConstants.ToolsCover,
                DidYouKnowText = "Provides cover for the contents of your van, whether for work or for hobbies."
            });
            addOnConfiguration.Add(new AddOnConfiguration
            {
                Id = "SingleTierBreakdown",
                AddOnName = "RAC Breakdown Cover",
                ViewName = "_SingleTierRACBreakdownCoverAddOnVan",
                AddOnService = DemandsAndNeedsServiceConstants.BreakdownCover,
                DidYouKnowText = "Breakdown cover is provided by",
                DidYouKnowImage = new ImageConfiguration
                {
                    AltText = "RAC logo",
                    HtmlClass = "addon-cta__info__rac",
                    SourcePath = "logo-rac.svg"
                }
            });
            addOnConfiguration.Add(new AddOnConfiguration
            {
                Id = "Keycare",
                AddOnName = "Keycare",
                ViewName = "_KeycareAddOn",
                AddOnService = DemandsAndNeedsServiceConstants.Keycare,
                DidYouKnowText = "We not only cover your van keys but a whole range of keys."
            });
            addOnConfiguration.Add(new AddOnConfiguration
            {
                Id = "LegalProtection",
                AddOnName = "Motor Legal Protection",
                ViewName = "_MotorLegalProtectionAddOn",
                AddOnService = DemandsAndNeedsServiceConstants.MotorLegalProtection,
                DidYouKnowText = "You'll be covered for up to \u00A3100,000 of legal costs when you purchase Motor Legal Protection with us."
            });

        }
        else
        {
            addOnConfiguration.Add(new AddOnConfiguration
            {
                Id = "GuaranteedReplacementCar",
                AddOnName = "Guaranteed Replacement Car",
                ViewName = "_GuaranteedReplacementCarAddOnWithThreeIcons14or28DayWording",
                AddOnService = DemandsAndNeedsServiceConstants.GuaranteedReplacementCar,
                DidYouKnowText = "Enterprise Rent-A-Car\u00AE has been carefully chosen, by us, to provide you with a Guaranteed Replacement Car should the worst happen.",
                DidYouKnowImage = new ImageConfiguration
                {
                    AltText = "Enterprise Rent-A-Car logo",
                    HtmlClass = "addon-cta__info__logo",
                    SourcePath = "icon-singlepage-addons-enterprise.svg"
                }
            });
            addOnConfiguration.Add(new AddOnConfiguration
            {
                Id = "Breakdown",
                AddOnName = "RAC Breakdown Cover",
                ViewName = "_RacBreakdownCoverAddOnWithThreeIconsPostOfficePremierAndStandard",
                AddOnService = DemandsAndNeedsServiceConstants.RacBreakdownAssistance,
                DidYouKnowText = "Breakdown cover is provided by",
                DidYouKnowImage = new ImageConfiguration
                {
                    AltText = "RAC logo",
                    HtmlClass = "addon-cta__info__rac",
                    SourcePath = "logo-rac.svg"
                }
            });
            addOnConfiguration.Add(new AddOnConfiguration
            {
                Id = "Keycare",
                AddOnName = "Keycare",
                ViewName = "_KeycareAddOnWithThreeIcons",
                AddOnService = DemandsAndNeedsServiceConstants.Keycare,
                DidYouKnowText = "We not only cover your car keys but a whole range of keys."
            });
            addOnConfiguration.Add(new AddOnConfiguration
            {
                Id = "LegalProtection",
                AddOnName = "Motor Legal Protection",
                ViewName = "_MotorLegalProtectionAddOnWithThreeIcons",
                AddOnService = DemandsAndNeedsServiceConstants.MotorLegalProtection,
                DidYouKnowText = "You'll be covered for up to \u00A3100,000 of legal costs when you purchase Motor Legal Protection with us."
            });
        }
        return addOnConfiguration;
    }
}