﻿@model string

<div class="page-section">
    <div class="page-section--inner">
        <div class="payment-schedule">
            <h2 class="h4 payment-schedule__heading">Next Steps</h2>
            <ol class="ordered-steps">
                <li class="ordered-steps__item">
                    Click 'Pay now' to buy your @Model policy
                </li>
                <li class="ordered-steps__item">
                    Register with 'My Account' to check your documents online
                </li>
                <li class="ordered-steps__item">
                    Currently insured elsewhere? You might need to let them know you've switched
                </li>
            </ol>
        </div>
    </div>
</div>