﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.PaymentEmailViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="form-row" data-testid="@(componentId)__email-row">
    @Html.LabelFor(m => m.Email, new { @class = "form-row__label" })
    <p class="help-text__sub-text">We'll use this email to send you your quote details.</p>
    @Html.TextBoxForBgl(m => m.Email, new { @class = "form-row__input form-row__input--email short", type = "email", data_testid = componentId + "__email-input" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "form-row__validation-text" })
</div>
<p>In our ongoing efforts to reduce paper waste and support our environment, your policy information and documentation is available 24/7 to view or download in your account. Should you prefer to receive paper copies then you can request this at any time in your account or by contacting us.</p>
