﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.PaymentEmailViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="form-row" data-testid="@(componentId)__email-row">
    @Html.LabelFor(m => m.Email, new { @class = "form-row__label" })
    @Html.TextBoxForBgl(m => m.Email, new { @class = "form-row__input form-row__input--email short", type = "email", data_testid = componentId + "__email-input" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "form-row__validation-text" })
</div>
<p>We&rsquo;ll use this email address to send you your quote/policy details as well as important alerts about your policy and/or your driving behavior, as per the terms &amp; conditions of your policy.</p>
