﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.PaymentEmailViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="form-row" data-testid="@(componentId)__email-row">
    @Html.LabelFor(m => m.Email, new { @class = "form-row__label" })
    @Html.TextBoxForBgl(m => m.Email, new { @class = "form-row__input form-row__input--email short", type = "email", data_testid = componentId + "__email-input" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "form-row__validation-text" })
</div>
<p class="text-color-secondary">To help reduce paper, your policy documents will be available online for you to view and download in your self service centre which you can register for and access after you have purchased your policy. If you would like to request a paper copy, log into your self service centre to change your preference or contact us.</p>
