﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.AnnualViewModel

@{
    ViewBag.Title = "Annual Payment Details";
    var componentId = Model.ComponentConfiguration.Id;
}

<div id="@componentId" class="panel" data-testid="@(componentId)__section">
    @Html.Partial("_AnnualSummaryHeader", Model.PaymentSummaryData.AnnualPaymentSummaryData.TotalAmountPayable)

    <section>
        @using (Html.BeginFormBgl("Annual", "TakePaymentComponent", FormMethod.Post, new { id = "AnnualPaymentForm", @class = "card-payment" }))
        {
            @Html.AntiForgeryToken()
            <div class="card-options" data_testid="@(componentId)__img-payment-method-single">
                <p class="card-options__description">We accept the following debit and credit cards</p>
                <ul class="card-options__list">
                    <li class="card-options__item">
                        <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-visa.svg" alt="Visa" />
                    </li>
                    <li class="card-options__item">
                        <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-visaelectron.svg" alt="Visa Electron" />
                    </li>
                    <li class="card-options__item">
                        <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-mastercard.svg" alt="Mastercard" />
                    </li>
                    <li class="card-options__item">
                        <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-maestro.svg" alt="Maestro" />
                    </li>
                </ul>
            </div>
            <div id="AnnualCardholderNameFormRow" class="form-row" data-testid="@(componentId)__cardholder-dropdown-row">
                @Html.LabelFor(m => m.PersonListData.SelectedPersonId, "Cardholder name", new { @class = "form-row__label" })
                @Html.DropDownListFor(m => m.PersonListData.SelectedPersonId, Model.PersonListData.PersonList, new { @class = "form-row__select", data_testid = componentId + "__cardholder-dropdown-input", data_store = "AnnualSelectedPersonId" })
                @Html.ValidationMessageFor(m => m.PersonListData.SelectedPersonId, "", new { @class = "form-row__validation-text" })
            </div>

            <div id="CardholderNameRow" class="form-row hide" data-testid="@(componentId)__cardholder-name-row">
                @Html.LabelFor(m => m.CardholderName, new { @class = "form-row__label" })
                @Html.TextBoxForBgl(m => m.CardholderName, new { @class = "form-row__select", type = "text", data_testid = componentId + "__cardholder-name-input", data_store = "AnnualSelectedPersonIdText", data_store_keyup = "true" })
                @Html.ValidationMessageFor(m => m.CardholderName, "", new { @class = "form-row__validation-text" })
            </div>
        }
    </section>

    <iframe id="Card-Capture-Iframe" name="Card-Capture-Iframe" width="100%" scrolling="auto" height="641" frameborder="0" title="Card Capture"></iframe>
    @Html.HiddenFor(m => m.CardCaptureData.CardCaptureUri, new {id = "CardCaptureUri", data_store = "AnnualCardCaptureUri"})
    @Html.HiddenFor(m => m.CardCaptureData.SecureSessionId, new {id = "SecureSessionId", data_store = "AnnualSecureSessionId"})
    @Html.HiddenFor(m => m.CardCaptureData.ThreeDSecureUri, new {id = "ThreeDSecureUri", data_store = "AnnualThreeDSecureUri"})
</div>
