﻿@using System.Configuration
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@model BGL.Components.TakePayment.Models.MonthlyDepositSummaryViewModel

@{
    ViewBag.Title = "Monthly Deposit Summary";
    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];
    var monthlyDepositSummaryHeader = Model.ComponentConfiguration.ViewOptions?.MonthlyDepositSummaryHeader.GetViewNameFromEnum(true);
}

<div class="page-section">
    <div class="page-section--inner">
        <div class="page-heading">
            @Html.Partial(monthlyDepositSummaryHeader, Model)
        </div>

        <div class="card card--@Model.CardData.CardType.ToLower() payments__card">
            <p class="card__label">Card number</p>
            <p class="card__account-number">
                **** **** **** @Model.CardData.CardNumber
            </p>
            <p class="card__label">Expires</p>
            <p class="card__account-sort-code">
                @Model.CardData.ExpiryMonth/@Model.CardData.ExpiryYear
            </p>
            <p class="card__account-name">@Model.ComponentConfiguration.CardSessionData.Name</p>
        </div>
        <a class="link" href="@Model.ComponentConfiguration.MonthlyDepositUrl">Edit card details</a>
    </div>
</div>
<div class="page-section">
    <div class="page-section--inner">
        <div class="payment-schedule">
            <h2 class="h4 payment-schedule__heading">Your payment schedule</h2>
            <div class="schedule-bar">
                <ul class="schedule-bar__list">
                    <li class="schedule-bar__item active" data-width="20">
                        <p class="schedule-bar__message-text">
                            <strong class="schedule-bar__sub-message-bold">To pay today</strong>
                            <span class="schedule-bar__sub-message-normal">&pound;@(Model.PaymentSummaryData.MonthlyPaymentSummaryData.DepositAmount?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))</span>
                        </p>
                    </li>
                    <li class="schedule-bar__item schedule-bar__callout-purple" data-width="20">
                        <p class="schedule-bar__message">
                            <strong class="schedule-bar__message-bold">Policy start date </strong>
                            <span class="schedule-bar__message-normal">@Model.PolicyStartDate</span>
                        </p>
                    </li>
                    <li class="schedule-bar__item" data-width="20">
                        <p class="schedule-bar__message-text">
                            <span class="schedule-bar__sub-message-label">1st monthly payment</span>
                            <strong class="schedule-bar__sub-message-bold">@Model.PaymentSummaryData.MonthlyPaymentSummaryData.NextInstalmentDate</strong>
                            <span class="schedule-bar__sub-message-normal">&pound;@(Model.PaymentSummaryData.MonthlyPaymentSummaryData.RegularInstalmentAmount?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))</span>
                        </p>
                    </li>
                    <li class="schedule-bar__item schedule-bar__callout-text" data-width="20">
                        <p class="schedule-bar__message-text">
                            Future monthly instalments will be collected on the same date each month
                        </p>
                    </li>
                    <li class="schedule-bar__item" data-width="20">
                        <p class="schedule-bar__message-text">
                            <span class="schedule-bar__sub-message-label">Final monthly payment</span>
                            <strong class="schedule-bar__sub-message-bold">@Model.PaymentSummaryData.MonthlyPaymentSummaryData.LastPaymentDate</strong>
                            <span class="schedule-bar__sub-message-normal">&pound;@Model.PaymentSummaryData.MonthlyPaymentSummaryData.LastPaymentAmount</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@if (Model.DisplayVanAssumptions)
{
    @Html.Partial("_AnnualAndMonthlySummaryVanAssumptions")
}

@if (Model.DisplayLegalWording)
{
    <div class="page-section">
        <div class="page-section--inner">
            @Html.Partial(Model.ComponentConfiguration.LegalWordingViewName)
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.ComponentConfiguration.NextStepsBrandName))
{
    @Html.Partial("_NextSteps", Model.ComponentConfiguration.NextStepsBrandName)
}
<div class="page-section">
    <div class="page-section--inner">
        <div id="Read-Confirm-Container" class="pre-contract__form read-confirm" data-testid="@(Model)__read-confirm-container">
            <div class="read-confirm__section read-confirm__section--text">
                <p class="read-confirm__text">
                    <strong class="read-confirm__bold-text">Please tick the box to confirm </strong>
                    <span class="read-confirm__base-text">you have checked your quote details (including any optional products or services selected and any assumptions made), </span>
                    <a class="link__new-window read-confirm__link" href="@(documentUrl)?name=specimen-doc" rel="noopener" aria-label="Open terms and conditions in new window" target="_blank">Terms and Conditions</a>
                    <span class="read-confirm__base-text">, </span>
                    <a class="link__new-window read-confirm__link" href="@(documentUrl)?name=credit-information" rel="noopener" aria-label="Open pre contract credit information in new window" target="_blank">Pre Contract Credit Information</a>
                    <span class="read-confirm__base-text">, </span>
                    <a class="link__new-window read-confirm__link" href="@(documentUrl)?name=credit-agreement" rel="noopener" aria-label="Open credit agreement and policy wording in new window" target="_blank">Credit Agreement and Policy Wording</a>
                    <span class="read-confirm__base-text"> (which includes our fees and charges). If paying by Debit or Credit Card you are agreeing to a Continuous Payment Authority</span>

                    <span class="read-confirm__base-text">. If any information declared is not accurate or is incomplete, your premium may increase or your insurance could be cancelled. If you do not understand any item then please contact us.</span>
                </p>
            </div>
            <div class="read-confirm__section read-confirm__section--checkbox">
                <div class="read-confirm__tooltip">
                    <input class="read-confirm__checkbox" id="Read-Confirm-Checkbox" type="checkbox" name="read-confirm-check" value="confirmed" data-testid="@(Model)__read-confirm-checkbox" aria-describedby="checkbox-error" />
                    <label class="read-confirm__label" for="Read-Confirm-Checkbox"><span class="tick-here-text">Tick here</span></label>
                </div>
            </div>
        </div>
        <p class="form-row__validation-text" data-testid="@(Model)__read-confirm-validation-text" id="checkbox-error" role="alert">Please tick the box to agree with the statement above.</p>
        <div class="button-container">
            <div class="button-message">
                <div class="button-message__block">
                    <p class="button-message__text">
                        <span class="button-message__text--sub">
                            @Model.CoverStartTextLine1
                        </span>
                        <strong class="button-message__text--main">
                            @Model.CoverStartTextLine2
                        </strong>
                    </p>
                </div>
            </div>
            <button id="Monthly-Pay-Now-Button" class="button button--primary button--large button--right" data-testid="@(Model.ComponentConfiguration.Id)__monthly-pay-now-button">Pay now</button>
            <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.MonthlyDepositUrl">Back</a>
        </div>
    </div>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}