﻿@using System.Configuration
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@model BGL.Components.TakePayment.Models.MonthlyInstalmentSummaryViewModel

@{
    ViewBag.Title = "Monthly Payments";
    var cardNumber = $"**** **** **** {Model.CardData.CardNumber}";
    var cardExpiry = $"{Model.CardData.ExpiryMonth}/{Model.CardData.ExpiryYear}";
    var cardType = Model.CardData.CardType.ToLower();
    var creditInformationContent = Model.SecciDocumentContent;
    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];
    var monthlyInstalmentSummaryHeader = Model.ComponentConfiguration?.ViewOptions?.MonthlyInstalmentSummaryHeader.GetViewNameFromEnum(true);
}
<div class="page-section">
    <div class="page-section--inner">
        <div class="page-heading">
            @Html.Partial(monthlyInstalmentSummaryHeader, Model.PaymentSummaryData.MonthlyPaymentSummaryData.RegularInstalmentAmount)
            <p class="page-heading__disclaimer-text">
                <span>By completing your payment details you are confirming that you have read and accept the terms and conditions in the following documents </span>
                <button class="link" id="importantInfo-payments-instalment-summary"
                        data-toggle="slide-panel"
                        data-target="#SlidePanel"
                        data-container="SlidePanelContent"
                        data-action-url="@Model.ComponentConfiguration.ImportantInformationUrl"
                        data-testid="aboutUs-information">
                    About Us
                </button>
                <span class="read-confirm__base-text">, </span>

                @foreach (var sliderItem in Model.ComponentConfiguration.SliderList)
                {

                    <button class="link" id="@sliderItem.Id"
                            data-toggle="slide-panel"
                            data-target="#SlidePanel"
                            data-container="SlidePanelContent"
                            data-action-url="@sliderItem.DataActionUrl"
                            data-testid="@sliderItem.DataTestId">
                        @sliderItem.AnchorText
                    </button>
                    <span class="read-confirm__base-text">, </span>
                }

                @foreach (var document in Model.ComponentConfiguration.DocumentList)
                {
                    <a class="link__new-window" href="@document.Href" rel="noopener" aria-label="Open @document.Title.ToLower() in new window" target="_blank">@document.Title</a>
                    <span class="read-confirm__base-text">, </span>
                }
                <a class="link__new-window" id="full-policy-wording-link-monthly-summary" href="@(documentUrl)?name=specimen-doc" rel="noopener" aria-label="Open full policy wording and terms and conditions in new window" target="_blank">Full policy wording and terms and conditions</a>
                <span class="read-confirm__base-text">, </span>
                <a class="link__new-window" href="@(documentUrl)?name=credit-information" rel="noopener" aria-label="Open pre contract credit information in new window" target="_blank">Pre Contract Credit Information</a>
                <span class="read-confirm__base-text"> and </span>
                <a class="link__new-window" href="@(documentUrl)?name=credit-agreement" rel="noopener" aria-label="Open credit agreement in new window" target="_blank">Credit Agreement</a>.
            </p>
        </div>

        <div class="card card--@cardType payments__card">
            <p class="card__label">Card number</p>
            <p class="card__account-number">
                @cardNumber
            </p>
            <p class="card__label">Expires</p>
            <p class="card__account-sort-code">
                @cardExpiry
            </p>
            <p class="card__account-name">@Model.ComponentConfiguration.CardSessionData.Name</p>
        </div>
        <a class="link" href="@Model.ComponentConfiguration.MonthlyInstalmentUrl">Edit card details</a>
    </div>
</div>

<div class="page-section">
    <div class="page-section--inner">
        @Html.Partial("_ContinuousPaymentAuthorityTextPartial", Model.FailedPaymentFeeAmount, new ViewDataDictionary())
    </div>
</div>

@Html.Hidden("CardNumber", cardNumber, new { data_store = "MonthlyInstalmentCardNumber" })
@Html.Hidden("CardExpiry", cardExpiry, new { data_store = "MonthlyInstalmentCardExpiry" })
@Html.Hidden("CardType", cardType, new { data_store = "MonthlyInstalmentCardType" })

@Html.Partial("CreditAgreementPartial", creditInformationContent)

<div class="button-container">
    <a id="Instalment-Summary-Continue-Button" class="button button--primary button--large button--right" href="@Model.ComponentConfiguration.MonthlyDepositUrl" data-testid="@(Model.ComponentConfiguration.Id)__instalment-summary-continue-button">Continue <span>to today's payment</span></a>
    <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.MonthlyInstalmentUrl">Back</a>
</div>