﻿@using System.Web.Mvc
@model BGL.Components.TakePayment.Models.MTAQuoteViewModel

@{
    Layout = null;
    var totalAmount = Model.TotalAmountIsRefund ? Model.TotalAmountRefundable : Model.TotalAmountPayable;
    var componentId = Model.ComponentConfiguration.Id;
}

@if (Model.IsAnnualPayment)
{
    <div class="bg-blue-grey">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <section>
                        <div class="flex">
                            <div class="new-monthly">
                                <h3 class="new-monthly__header" data-testid="@(componentId)__header">@(Model.TotalAmountIsRefund ? "Total amount refundable to you" : "Today's payment")</h3>
                                <span class="new-monthly__price">&pound;@totalAmount</span>
                                @if (Model.TotalAmountIsRefund)
                                {
                                    <p data-testid="@(componentId)__refund-sub-heading">If you confirm your changes, a refund is due. The below summary shows how we have calculated your refund.</p>
                                }

                                <table class="payment-table">
                                    <thead class="visually-hidden">
                                        <tr>
                                            <th>Payment breakdown</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="@(Model.CostOfChangeIsCredit ? "payment-table__bold" : "")" data-testid="@(componentId)__cost-of-change-table-row">
                                            <td class="@(Model.CostOfChangeIsCredit ? "text-success" : "")">Cost of change</td>
                                            <td class="align-right @(Model.CostOfChangeIsCredit ? "text-success" : "")" data-testid="@(componentId)__cost-of-change-text">@(Model.CostOfChangeIsCredit ? "-" : "")&pound;@Model.CostOfChange</td>
                                        </tr>
                                        @if (Model.HasAdministrationFee)
                                        {
                                            <tr data-testid="@(componentId)__administration-fee-row">
                                                <td>Administration fee</td>
                                                <td class="align-right">&pound;@Model.AdministrationFee</td>
                                            </tr>
                                        }
                                        <tr class="payment-table__bold">
                                            <td data-testid="@(componentId)__total-amount-text">@(Model.TotalAmountIsRefund ? "Total amount refundable including fees" : "Total amount payable including fees")</td>
                                            <td class="align-right">&pound;@totalAmount</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    if (Model.TotalAmountIsRefund)
    {
        <div class="container" data-testid="@(componentId)__refund-additional-details">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <section>
                        <h4>Payment details</h4>
                        <p>The balance will be refunded to your card ending in @Model.CardNumber within 10 working days.</p>
                        @if (!Model.ComponentConfiguration.HideRefundThreshold)
                        {
                            <p>As shown in your policy documents, we do not refund amounts under &pound;1.</p>
                        }
                    </section>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="bg-blue-grey">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <section>
                        <div class="flex flex-wrap">
                            <div class="current-monthly">
                                <h3 class="current-monthly__header">Your current monthly instalment</h3>
                                <span class="current-monthly__price">&pound;@Model.CurrentMonthlyInstalment</span>
                            </div>
                            <div class="new-monthly">
                                <h3 class="new-monthly__header">Your new monthly instalment</h3>
                                <span class="new-monthly__price">&pound;@Model.NewMonthlyInstalment</span>

                                <table class="payment-table">
                                    <thead class="visually-hidden">
                                        <tr>
                                            <th>Payment breakdown</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Administration fee</td>
                                            <td class="align-right">&pound;@Model.AdministrationFee</td>
                                        </tr>
                                        <tr class="payment-table__bold">
                                            <td>Next payment including fees and adjustments</td>
                                            <td class="align-right">&pound;@Model.NextPaymentWithFees</td>
                                        </tr>
                                        <tr>
                                            <td>Next payment due</td>
                                            <td class="align-right">@Model.NextPaymentDate</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button id="toggle-payment-breakdown-table" class="link link-primary">View new monthly payment plan</button>
                            </div>
                        </div>
                        <div class="hide" data-payment-breakdown-table>
                            <table class="payment-breakdown-table">
                                <thead>
                                    <tr>
                                        <th>Payment</th>
                                        <th>Payable date</th>
                                        <th>Amount</th>
                                        <th>Payment method</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var instalment in Model.Instalments)
                                    {
                                        <tr>
                                            <td>@instalment.Name</td>
                                            <td>@instalment.Date</td>
                                            <td>&pound;@instalment.Amount</td>
                                            <td>@instalment.PaymentMethod</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
}
