﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers

@model BGL.Components.TakePayment.Models.MtaTakePaymentViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var takePaymentFormId = $"{componentId}_mta-take-payment";
    var additionalDetailsFormId = $"{componentId}_mta-additional-details";
}

<div data-component-id="@componentId">
    @if (Model.RegistrationCaptureRequired || Model.VehiclePurchaseDateCaptureRequired)
    {
        <h3 class="quote-payment__subheader">We need to know the following information before you continue.</h3>
        using (Html.BeginFormBgl("MTAPatchAdditionalDetails", "TakePaymentComponent", FormMethod.Post, new
        {
            id = additionalDetailsFormId,
            data_testid = componentId + "__form",
            data_on_success = $"bgl.components.takepayment.mtatakepayment.onAdditionalDetailsSuccess",
            data_on_error = $"bgl.components.takepayment.mtatakepayment.onAdditionalDetailsError"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.AdditionalDetails.VehicleId)
            @Html.Hidden("CurrentYear", DateTime.Today.Year)
            @Html.Hidden("CurrentMonth", DateTime.Today.ToString("%M"))

            <section>
                @if (Model.RegistrationCaptureRequired)
                {
                    <div class="form-row">
                        <p class="form-row__label">Your vehicle registration</p>
                        <div class="form-row form-row__input-wrapper">
                            @Html.Label("registration-number", "Confirm your vehicle registration number", new { @class = "form-row__label" })
                            @Html.TextBoxForBgl(model => model.AdditionalDetails.RegistrationNumber, new
                            {
                                id = "registration-number",
                                @class = "form-row__input form-row__input--registration form-row__input--text",
                                type = "text",
                                name = "registration",
                                data_testid = componentId + "__registration-number-input",
                                data_store = $"{nameof(Model.AdditionalDetails.RegistrationNumber)}",
                                maxlength = "9"
                            })
                        </div>
                        <div class="form-row__error-text-container">
                            @Html.ValidationMessageFor(@model => model.AdditionalDetails.RegistrationNumber, string.Empty, new
                            {
                                @class = "form-row__validation-text",
                                data_testid = componentId + "__registration-number_validation-message"
                            })
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(x => x.AdditionalDetails.RegistrationNumber)
                }

                @if (Model.VehiclePurchaseDateCaptureRequired)
                {
                    <div class="form-row form-row--multi-input" id="Additional-Input-Purchase-Section">
                        <p class="form-row__label">When did you purchase your vehicle?</p>
                        <div class="form-row form-row__input-wrapper form-row__input-wrapper--half" id="Month-Section">
                            @Html.LabelFor(model => model.AdditionalDetails.Month, "Select the month you purchased your vehicle", new { @class = "visually-hidden form-row", @for= "Purchased-Month" })
                            @Html.DropDownListFor(model => model.AdditionalDetails.Month, Model.AdditionalDetails.Months, "Please select...",
                                new { @class = "form-row__select", id = "Purchased-Month", data_testid = componentId + "__month_dropdownlist" })

                            <div class="form-row__error-text-container">
                                @Html.ValidationMessageFor(model => model.AdditionalDetails.Month, string.Empty,
                                    new { @class = "form-row__validation-text", data_testid = componentId + "__month_validation-message" })
                            </div>
                        </div>
                        <div class="form-row form-row__input-wrapper form-row__input-wrapper--half" id="Year-Section">
                            @Html.LabelFor(model => model.AdditionalDetails.Year, "Select the year you purchased your vehicle", new { @class = "visually-hidden form-row", @for = "Purchased-Year" })
                            @Html.DropDownListFor(model => model.AdditionalDetails.Year, Model.AdditionalDetails.Years, "Please select...",
                                new { @class = "form-row__select", id = "Purchased-Year", data_testid = componentId + "__year_dropdownlist" })

                            <div class="form-row__error-text-container">
                                @Html.ValidationMessageFor(model => model.AdditionalDetails.Year, string.Empty,
                                    new { @class = "form-row__validation-text", data_testid = componentId + "__year_validation-message" })
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.AdditionalDetails.Year)
                    @Html.HiddenFor(m => m.AdditionalDetails.Month)
                }
            </section>

            <hr class="my-account">

            <div class="button-container">
                <button type="submit"
                        class="button button--primary button--large button--right"
                        id="vehicle-overnight_done-button"
                        data-disable-submit
                        data-testid="@(componentId)__submit_addtionaldetails-button">
                    Next
                </button>
                <button id="cancel-quote"
                        type="button"
                        class="button button--text button--back back-button-link button--left"
                        data-cancel
                        data-testid="@(componentId)__cancel-button">
                    Back
                </button>
            </div>
        }
    }
    else
    {
        using (Html.BeginFormBgl("MTACommitBasket", "TakePaymentComponent", FormMethod.Post, new
        {
            id = takePaymentFormId,
            data_testid = componentId + "__form",
            data_on_success = $"bgl.components.takepayment.mtatakepayment.onSuccess",
            data_on_error = $"bgl.components.takepayment.mtatakepayment.onError"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.PaymentDetails.AccountId)


            <section>
                <h3 class="quote-payment__subheader">This bit is important</h3>
                <p class="legal-text">
                    It is important that the information you provide throughout the quote and duration of the policy is accurate.
                    Failure to disclose correct and complete information to the best of your knowledge and belief may result in increased premiums,
                    refusal of a claim or not being fully paid, your policy cancelled or being made null &amp; void and treated as if it never existed.
                </p>

                <p class="legal-text">Please tick this box to confirm that the information you have provided is correct and that having reviewed the important changes you are happy to proceed with the change(s).</p>

                @if (Model.PaymentDetails.IsMonthly)
                {
                    <p class="legal-text">When the change has been confirmed, your Pre-Contract Credit information and Credit Agreement will be updated and available for you in the documents section.</p>
                }

                <div id="agreement-container" class="agreement-checkbox" data-testid="@(componentId)__agreement-container">
                    <input type="checkbox" id="agreement-checkbox" name="agreement-checkbox" aria-labelledby="agreement-label" data-testid="@(componentId)__agreement-checkbox">
                    <label for="agreement-checkbox" id="agreement-label">Tick if you agree with this statement</label>
                </div>
            </section>

            <hr class="my-account">

            <section>
                @if (Model.PaymentDetails.IsMonthly)
                {
                    <div class="row align-center">
                        <div class="col-md-6">
                            <h3 class="quote-payment__subheader">Payment details</h3>
                            <p class="legal-text">Your future payments will continue to be taken from your current payment method</p>
                        </div>

                        <div class="quote-payment__card-wrapper">
                            @if (Model.PaymentDetails.IsCardPayment)
                            {

                                <div class="quote-payment__card">
                                    <div class="payment-card exisiting large visa">
                                        <span class="card-title">Card number</span>
                                        <span class="card-numbers" data-blanks="&bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet;">@Model.PaymentDetails.CardDetails.CardNumber</span>
                                        <span class="card-title">Expires</span>
                                        <span class="exp-csv">@Model.PaymentDetails.CardDetails.CardExpiry</span>
                                        <span class="card-name">@Model.PaymentDetails.Name</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="quote-payment__card">
                                    <div class="payment-card exisiting large account">
                                        <small>Sort code</small>
                                        <span class="sort-code"><strong>@Model.PaymentDetails.AccountDetails.SortCode</strong></span>
                                        <small>Account number</small>
                                        <span class="account-number" data-blanks="&bullet;&bullet;&bullet;&bullet;">@Model.PaymentDetails.AccountDetails.AccountNumber</span>
                                        <span class="card-name">
                                            <strong>@Model.PaymentDetails.Name</strong>
                                        </span>
                                    </div>
                                </div>
                            }

                            <div class="quote-payment__card-input-nav quote-payment__card-input-nav--monthly">
                                <div class="quote-payment__nav-links">
                                    <div class="button-container">
                                        <button type="submit"
                                                class="button button--primary button--large button--right"
                                                id="vehicle-overnight_done-button"
                                                data-disable-submit
                                                data-testid="@(componentId)__done-button">
                                            Proceed with changes
                                        </button>
                                        <a data-testid="@(componentId)__monthly-back-link" class="button button--text button--back back-button-link button--left" href="@Model.ComponentConfiguration.MTABackButtonURL">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="button-container">
                        <button type="submit"
                                class="button button--primary button--large button--right"
                                id="vehicle-overnight_done-button"
                                data-disable-submit
                                data-testid="@(componentId)__done-button">
                            Proceed with changes
                        </button>
                        <a data-testid="@(componentId)__annual-back-link" class="button button--text button--back back-button-link button--left" href="@Model.ComponentConfiguration.MTABackButtonURL">Back</a>
                    </div>
                }
            </section>

            @Html.HiddenFor(x => x.PaymentDetails.IsMonthly)
        }
    }
</div>