﻿@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Components.TakePayment.Enums
@model BGL.Components.TakePayment.Models.OneOffPaymentSummaryViewModel

@{
    ViewBag.Title = "Payment Summary";
    var componentId = Model.ComponentConfiguration.Id;
    var paymentAmount = Model.PaymentSummaryData.OneOffPaymentSummaryData.TotalAmountPayable.FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
}

    <div id="@componentId" data-testid="@(componentId)__section">
        <h1 class="h2">
            <strong>Nearly there!</strong>
        </h1>
        <h2 class="light">
            @if (Model.ComponentConfiguration.OneOffPaymentContext == OneOffPaymentContext.CancellationPayment)
            {
                <text>Please confirm that you want to cancel your policy</text>
            }
            else
            {
                <text>Let's take the details for today's payment of &pound;@paymentAmount</text>
            }

        </h2>

        <section>
            <div class="payment-card exisiting large card--@Model.CardData.CardType.ToLower()">
                <small>Card number</small>
                <span class="card-numbers" data-blanks="&bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet;">@Model.CardData.CardNumber</span>
                <span>Expires</span>
                <span class="exp-csv">
                    <strong>@Model.CardData.ExpiryMonth/@Model.CardData.ExpiryYear</strong>
                </span>
                <span class="card-name">
                    <strong>@Model.ComponentConfiguration.CardSessionData.Name</strong>
                </span>
            </div>

            <br />

            <a class="link link-primary" href="@Model.ComponentConfiguration.EditCardDetailsUrl">Edit card details</a>
        </section>

        <hr class="my-account" />

        @if (Model.ComponentConfiguration.OneOffPaymentContext == OneOffPaymentContext.CancellationPayment)
        {
            <section>
                <h3>
                    Important information
                </h3>
                <p>
                    For your own protection, we would like to remind you that it's an offence to keep a vehicle without insurance unless you've notified the DVLA that your vehicle is being kept off the road and you have a valid Statutory Off Road Notification (SORN). Please make sure you arrange alternative insurance for your vehicle should you need it, so you stay protected.
                </p>
            </section>

            <hr class="my-account"/>

            <section>
                <h3>
                    Confirmation of cancellation
                </h3>
                <p>
                    You have successfully selected your @Model.CardData.CardType.ToTitleCase() Card as your method of payment.
                </p>
                <p>
                    By selecting confirm at the bottom of this page you are confirming that you would like to use this payment method to make your payment of &pound;@paymentAmount.
                </p>
                <p>
                    By ticking 'Accept' you are confirming that you want your policy to end @(Model.ImmediateCancellation ? "immediately" : $"at midnight on {Model.PolicyEndDate.ToOrdinalDayOfMonth()} {Model.PolicyEndDate.ToString("MMMM")}"). You will no longer be covered by @Model.ComponentConfiguration.TenantConfiguration.Name and all additional products linked to this policy will also end.
                </p>
                <div class="agreement-checkbox">
                    <input type="checkbox" id="cancellation-confirmation-checkbox">
                    <label for="cancellation-confirmation-checkbox">I accept</label>
                </div>
            </section>

            <hr class="my-account" />
        }

    <section>
        <div class="button-container">
            <button id="One-Off-Pay-Now-Button"
                    class="button button--primary button--large button--right" @(Model.ComponentConfiguration.OneOffPaymentContext == OneOffPaymentContext.CancellationPayment ? "disabled" : "")
                    type="button">
                @if (Model.ComponentConfiguration.OneOffPaymentContext == OneOffPaymentContext.CancellationPayment)
                {
                    <text>Confirm</text>
                }
                else
                {
                    <text>Pay now &pound;@paymentAmount</text>
                }
            </button>
            <a class="button button--text button--back back-button-link button--left" href="@Model.ComponentConfiguration.EditCardDetailsUrl">
                Back
            </a>
        </div>
    </section>
    </div>

@Html.AntiForgeryToken()