﻿@using BGL.Common.Utility.Extensions
@model BGL.Components.TakePayment.Models.AllDoneViewModel
@{
    var componentId = Model.ComponentConfiguration.Id;
}

<section data-testid="@(componentId)__payment-method-all-done-header">
    <div class="row">
        <div class="col">
            <i class="header-icon ui-icon-tick-circle text-success"></i>
            <h1 class="text-center" data-testid="@(componentId)__all-done-header">
                <strong>All done @Model.FirstName.ToTitleCase()</strong>
            </h1>
            <h2 class="light text-center">You've successfully changed your payment method</h2>

            <span class="divider divider--short"></span>

            <div class="text-center">
                <button id="Done-button" type="button"
                        class="button button--primary button--large slide-panel__close"
                        data-dismiss="slide-panel"
                        data-testid="@(componentId)__all-done-done-button">
                    Done
                </button>
            </div>

        </div>
    </div>
</section>
       