﻿@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@model BGL.Components.TakePayment.Models.RefundSummaryViewModel

@{
    ViewBag.Title = "Refund Summary";
    var componentId = Model.ComponentConfiguration.Id;
    var refundAmount = Model.RefundAmount.FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
}

    <div id="@componentId" data-testid="@(componentId)__section">
        <h1 class="h2">
            <strong>Nearly there!</strong>
        </h1>
        <h2 class="light">
            Please confirm that you want to cancel your policy
        </h2>

        <section>
            <h3>
                Important information
            </h3>
            <p>
                For your own protection, we would like to remind you that it's an offence to keep a vehicle without insurance unless you've notified the DVLA that your vehicle is being kept off the road and you have a valid Statutory Off Road Notification (SORN). Please make sure you arrange alternative insurance for your vehicle should you need it, so you stay protected.
            </p>
        </section>

        <hr />

        <section>
            <h3>
                Confirmation of cancellation
            </h3>
            @if (!Model.RefundBelowThreshold)
            {
                <p>
                    A balance of &pound;@refundAmount will be refunded to @Model.AccountInfo within 10 working days.
                </p>
            }
            <p>
                By ticking 'Accept' you are confirming that you want your policy to end @(Model.ImmediateCancellation ? "immediately" : $"at midnight on {Model.PolicyEndDate.ToOrdinalDayOfMonth()} {Model.PolicyEndDate.ToString("MMMM")}"). You will no longer be covered by @Model.ComponentConfiguration.TenantConfiguration.Name and all additional products linked to this policy will also end.
            </p>
            <div class="agreement-checkbox">
                <input type="checkbox" id="cancellation-confirmation-checkbox" data-testid='@(componentId)__agreement-checkbox'>
                <label for="cancellation-confirmation-checkbox">I accept</label>
            </div>
        </section>

        <hr class="my-account"/>

        <section>
            <div class="button-container">
                <button type="button"
                        class="button button--primary button--large sm-center" 
                        disabled
                        data-refund-confirm-button
                        data-testid="@(componentId)-confirm">
                    Confirm
                </button>

                <a href="@Model.ComponentConfiguration.PreviousStepUrl"
                   class="button button--text button--back back-button-link button--left"
                   data-testid="@(componentId)-back">
                    Back
                </a>
            </div>
        </section>
    </div>

@Html.AntiForgeryToken()