﻿@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Components.Footer
@model bool?

@{
    var config = DependencyResolver.Current.GetService<IConfig>();
    var tenantConfiguration = config.GetTenantConfiguration();

    var year = DateTime.Now.Year;
    var copyrightBrandName = "BISL Limited";

    var policyBaseUrl = new Uri(ConfigurationManager.AppSettings["PolicyBaseUrl"]);
    var privacyPolicyUrl = new Uri(policyBaseUrl, "/Legal/PC/Privacy_policy.html");

    var isDirectLayout = Model == true;

    var importantInformationUrl = isDirectLayout
        ? Url.Action("PrePriceImportantInformation", "Legal")
        : Url.Action("PostPriceImportantInformation", "Legal");

    var vaInvocationPoint = "Sales_TE_ContactUs";
}

<footer class="page-footer">
    <div class="page-footer__wrapper">
        <div class="page-footer__section">
            <p class="page-footer__copyright">
                <strong>&copy; @year @copyrightBrandName.</strong>
                <span> All rights reserved.</span>
            </p>
            <ul class="page-footer__list list--horizontal">
                <li class="list__item">
                    <a id="importantInfo" class="page-footer__link" href="#"
                       data-toggle="slide-panel"
                       data-target="#SlidePanel"
                       data-container="SlidePanelContent"
                       data-action-url="@importantInformationUrl">Important info</a>
                </li>
                <span class="page-footer__list-divider">/</span>
                <li class="list__item">
                    <a class="page-footer__link link__new-window white normal" href="@privacyPolicyUrl" rel="noopener" aria-label="Open privacy policy in new window" target="_blank" >Privacy policy</a>
                </li>
                <span class="page-footer__list-divider">/</span>
                <li class="list__item">
                    <a class="page-footer__link va-invocation"
                       href="#"
                       data-va-invocation-point="@vaInvocationPoint"
                       rel="noopener" target="_blank">Contact us</a>
                </li>
            </ul>
        </div>
        
        @if (!isDirectLayout)
        {
            @Html.ComponentRenderFooterDocumentLinks(new ComponentFooterConfiguration
            {
                Id = "Footer",
                TenantConfiguration = tenantConfiguration
            })
        }
    </div>
</footer>

<script type="text/javascript">
    bgl.common.contentpanel.openPanelByClick('importantInfo');
</script>
