﻿@using System.Configuration
@{
    var policyBaseUrl = new Uri(ConfigurationManager.AppSettings["PolicyBaseUrl"]);
    var privacyPolicyUrl = new Uri(policyBaseUrl, "/Legal/PC/Privacy_policy.html");
    var cookiePolicyUrl = new Uri(policyBaseUrl, "/Legal/cookie_policy.html");
    var importantInformationUrl = Url.Action("PostPriceImportantInformation", "Legal");
}

<div class="legal-content">
    <div class="legal-modules__divider"></div>
    <h2 class="legal-modules__heading legal-modules__heading--main h3">We're open and transparent</h2>
    <h3 class="legal-modules__heading legal-modules__heading--secondary h4">How we use your data</h3>
    <p class="legal-modules__text">
        <span>Your privacy is important to us. So we’ve developed a</span>
        <a class="link--secondary__new-window"
           data-testid="legal-index__privacy-policy-link" rel="noopener"
           target="_blank" aria-label="Open privacy policy in new window"
           href="@privacyPolicyUrl">
            Privacy Policy
        </a>
        <span> that covers how we collect, store and use your information.</span>
    </p>
    <p class="legal-modules__text">
            This website uses cookies. By continuing to use this website you are giving
            consent for cookies to be used. Further information on cookies and how you can
            disable them is available
            <a class="link--secondary__new-window"
               rel="noopener" target="_blank"
               href="@cookiePolicyUrl" aria-label="Open cookie policy in new window">
                here
            </a>.
    </p>
    
    <h3 class="legal-modules__heading legal-modules__heading--secondary h4">How we make our money</h3>
    <p class="legal-modules__text">
            Your insurance price includes our intermediary services fee and any commission
            applied by us. If you purchase any optional additional products, we include our
            commission in the premiums you pay. For some of our insurers on our panel we may
            receive a profit share payment if they reach their profit targets on this type
            of policy across their portfolio of business with us.
    </p>
    
    <h3 class="legal-modules__heading legal-modules__heading--secondary h4">How we set your price</h3>
    <p class="legal-modules__text">
            Your price has been calculated by Us, which includes the cost of your cover
            from the underwriter selected from our panel.
            We/Us/Our - BISL Limited. Authorised and regulated by the Financial Conduct
            Authority.
    </p>
    
    <h3 class="legal-modules__heading legal-modules__heading--secondary h4">Intermediary Services Fee</h3>
    <p class="legal-modules__text">
            Included in the cost of your policy is a fee of @Html.Partial("_IntermediaryServiceFee") which we charge you for
            the separate intermediary services we provide you with in arranging, servicing
            and renewing your policy. This fee does not relate to any of the additional
            products we may have arranged for you.
    </p>
    
    <h3 class="legal-modules__heading legal-modules__heading--secondary h4">Making sure you are fully covered</h3>
    <p class="legal-modules__text">
            It is important that the information you provide throughout the quote and
            duration of the policy is accurate. Failure to disclose correct and complete
            information to the best of your knowledge and belief may result in increased
            premiums, refusal of a claim or not being fully paid, your policy cancelled or
            being made null & void and treated as if it never existed.
    </p>
    
    <h3 class="legal-modules__heading legal-modules__heading--secondary h4">No hidden fees</h3>
    <p class="legal-modules__text">
            @Html.Partial("_LegalFees")
    </p>
    
    <h3 class="legal-modules__heading legal-modules__heading--secondary h4">Renewal</h3>
    <p class="legal-modules__text">
            When your policy is up for renewal we will contact you with a price and renew
            your policy where possible. If you don’t want us to renew, simply get in touch.
    </p>
    
    <h3 class="link legal-modules__heading legal-modules__heading--secondary h4">
        <button id="moreInfo-payments" class="link"
                data-toggle="slide-panel"
                data-target="#SlidePanel"
                data-container="SlidePanelContent"
                data-action-url="@importantInformationUrl" data-testid="more-information">
            View more important information
        </button>
    </h3>
    <div class="legal-modules__divider"></div>
</div>