﻿@model string

<div class="questions-box">
    <div class="questions-box__divider"></div>
    <p class="questions-box__text">
        Got a question on
        <span id="feature-question-box-cover-level">@Model</span>?
    </p>
    <a href="#" class="link questions-box__link va-invocation" data-va-invocation-point="Sales_TE_SalesGeneric">Ask a question and get an instant answer</a>
</div>