﻿@using BGL.Common.ErrorModule
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Security.Web.Authentication
@model BGL.Security.Web.Authentication.Models.RetrieveQuoteViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div data-component-id="@Model.ComponentConfiguration.Id">
    
    @using (Html.BeginFormBgl("RetrieveQuoteConfirm", "RetrieveQuoteController", FormMethod.Post,
        new
        {
            id = "retrieve-quote-form",
            data_on_success = "bgl.components.retrievequote.onSuccess",
            data_on_error = "bgl.components.retrievequote.onError"
        }))
    {
        <div class="page-section">
            <div class="page-section--inner narrow">
                
                @if (Model.ComponentState == ComponentState.PartialError)
                {
                    <div class="error-messagebox show">
                        <h3 class="error-messagebox__heading"></h3>
                        <p class="error-messagebox__sub-heading">No matching quote exists</p>
                    </div> 
                }

                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.NewQuoteUrl)

                <div class="form-row">
                    @Html.LabelFor(x => x.QuoteNumber, new {@class = "form-row__label"})
                    @Html.TextBoxForBgl(x => x.QuoteNumber, Model.QuoteNumber, new {@class = "form-row__input form-row__input--full-width", maxlength = 9, data_testid=$"{componentId}__quoteNumber"})
                    @Html.ValidationMessageFor(x => x.QuoteNumber, string.Empty, new {@class = "form-row__validation-text", data_testid = $"{componentId}__quoteNumber-validation-message" })
                    <button class="link form-row__link" href="#0" data-testid="@(componentId)__dont-know-quote-button" id="DontKnowQuoteButton">Don't know your quote number?</button>
                </div>

                <div class="form-row">
                    @Html.LabelFor(x => x.Surname, new {@class = "form-row__label"})
                    @Html.TextBoxForBgl(x => x.Surname, Model.Surname, new {@class = "form-row__input form-row__input--full-width", maxlength = 20, data_testid = $"{componentId}__surname" })
                    @Html.ValidationMessageFor(x => x.Surname, string.Empty, new {@class = "form-row__validation-text", data_testid = $"{componentId}__surname-validation-message" })
                </div>

                <div class="form-row">
                    @Html.LabelFor(x => x.DateOfBirth, new {@class = "form-row__label"})
                    @Html.TextBoxForBgl(x => x.DateOfBirth, new {@class = "form-row__input form-row__input--full-width", placeholder = "DD/MM/YYYY", data_testid = $"{componentId}__dateOfBirth" })
                    @Html.ValidationMessageFor(x => x.DateOfBirth, string.Empty, new {@class = "form-row__validation-text", data_testid = $"{componentId}__dateOfBirth-validation-message" })
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="page-section--inner">
                <div class="button-container">
                    <button type="submit" class="button button--primary button--large button--center" data-testid="@(componentId)__retrieve-quote-button">Retrieve quote</button>
                    <p class="button-text-section button-text-section--center">
                        <span class="button-text-section__text">Don't have a quote yet?</span>
                        <a class="link button-text-section__link" href="@Model.NewQuoteUrl">Get a quote now</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="page-section--inner">
                <p class="text-center">
                    This site is protected by reCAPTCHA and the Google
                    <a class="link__new-window" href="https://policies.google.com/privacy" aria-label="Open google privacy policy in new window" target="_blank" rel="noopener">Privacy Policy</a> and
                    <a class="link__new-window" href="https://policies.google.com/terms" aria-label="Open google terms of service in new window" target="_blank" rel="noopener">Terms of Service</a> apply.
                </p>
            </div>
        </div>
    }
</div>

@Html.ComponentRenderRecaptcha(new ComponentRecaptchaConfiguration(
    System.Configuration.ConfigurationManager.AppSettings["RecaptchaSiteKey"],
    "#retrieve-quote-form")
{
    Id = "RecaptchaDefault"
})