﻿@using System.Configuration
@using System.Security.Claims
@using BGL.Common.BaseApplication.Telemetry
@using BGL.Common.Configuration.Interfaces
@using BGL.Common.ScriptRegister
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Components.Basket
@using BGL.Components.PageReloader
@using BGL.Components.GoogleTagManager
@using BGL.Components.Houston
@using BGL.Components.Navigation
@using BGL.Components.Navigation.Models
@using BGL.Web.Halifax.MotorQuote.Constants

@{
    var config = DependencyResolver.Current.GetService<IConfig>();
    var vaConfig = config.GetVirtualAssistantConfiguration();
    var tenantConfiguration = config.GetTenantConfiguration();

    var quoteId = (User as ClaimsPrincipal)?.QuoteId().Split('-').FirstOrDefault();

    var bglBundlingEnabled = bool.TryParse(ConfigurationManager.AppSettings["BundlingEnabled"], out var bundlingEnabled) && bundlingEnabled;

    var pagesWithoutBackAction = new List<string>
    {
        Url.Action("AllDone", "Payment"), 
        Url.Action("Index", "SessionTimeout")
    };

    var listOfPageWithAsyncComponents = new List<string>
    {
        Url.Action("Index", "AdditionalDetails"),
        Url.Action("Annual", "Payment"),
        Url.Action("AnnualSummary", "Payment"),
        Url.Action("MonthlyInstalment", "Payment"),
        Url.Action("MonthlyInstalmentSummary", "Payment")
    };

    var logoImagePath = $"{tenantConfiguration.ResourceBasePath}logo-brand.svg";
    var listOfPostQuotePages = new[] { "/pricepresentation", "/extras", "/review", "/payment/" };
    var preQuote = listOfPostQuotePages.All(s => !(bool)(Request?.Url?.AbsolutePath?.ToLower().Contains(s)));

    var ninaPreprod = vaConfig.IsVaLive ? string.Empty : $"window.NinaVars.preprod=true;";
    Html.RegisterScript("window.NinaVars=window.NinaVars||{};window.NinaVars.isSelfService=false;" +
                        $"window.NinaVars.isSales=true;{ninaPreprod}window.siteId='{vaConfig.WebChatAccount}';", ScriptLocation.HeadBottom);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="SvrId" content="TE.NET" />
    <title>@ViewBag.Title - Halifax Insurance</title>
    <link rel="shortcut icon" href="@ConfigurationManager.AppSettings["ApplicationPath"]favi.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")

    @Html.ComponentRenderOneTrust(new ComponentGoogleTagManagerConfiguration
    {
        OneTrustConfiguration = config.GetOneTrustConfiguration(),
    })

    @Scripts.Render("~/bundles/vendor")
    @if (bglBundlingEnabled)
    {
        @Scripts.Render("~/bundles/bgl")
    }
    @Html.ComponentRenderGoogleTagManager(new ComponentGoogleTagManagerConfiguration
    {
        Id = "GoogleTagManager",
        AddOnsList = new List<string>
        {
            "No claims discount protection",
            "Guaranteed Replacement Car",
            "RAC Breakdown Assistance",
            "Keycare",
            "Legal Protection",
            "Personal Accident Cover"
        },
        MarketingSourceSetupList = new List<string> { "comparethemarket", "gocompare", "moneysupermarket", "confusedcom", "quotezonecouk" },
        GtmConfiguration = config.GetGtmConfiguration(),
        TenantConfiguration = tenantConfiguration
    })

    @Html.ComponentRenderGoogleTagManagerDataLayer(new ComponentTagManagerConfiguration
    {
        QuoteTier = "Standard"
    })

    @Html.RenderRegisteredScripts(ScriptLocation.HeadTop)
    @Html.RenderRegisteredScripts(ScriptLocation.HeadBottom)
    @Html.RegisterTelemetryScript()

    @Html.ComponentRenderGoogleTagManagerTagManager(new ComponentTagManagerConfiguration
    {
        TagManagerScriptUrl = ConfigurationManager.AppSettings["TagManagerScriptUrl"]
    })
</head>
<body class="singlepage-addon">
    @Html.RenderRegisteredScripts(ScriptLocation.BodyTop)
    <a href="#" id="header-focus" class="hide" tabindex="-1">header focus</a>
    <a class="skip-to-main-content" data-testid="header__skip-to-main-content" href="#main-content">Skip to main content</a>
    <div class="all-content">

        @if (IsSectionDefined("Header"))
        {
            @RenderSection("Header")
        }
        else
        {
            <header class="page-headerv2">
                <div class="page-headerv2__wrapper">
                    <div class="page-headerv2__section page-headerv2__section--logo">
                        <img class="page-header__logo" src="@logoImagePath" alt="Halifax" />
                    </div>
                    <div class="page-headerv2__section page-headerv2__section--breadcrumbs">
                        @if (IsSectionDefined("Navigation"))
                        {
                            @RenderSection("Navigation")
                        }
                        else
                        {
                            @Html.ComponentRenderNavigation(new ComponentNavigationConfiguration
                            {
                                Id = "NavigationDefault",
                                MenuKeyPointsConfig = new Dictionary<string, MenuItemConfig>
                                {
                                    { "Quote", new MenuItemConfig
                                    {
                                        ParentAction = Url.Action("Index", "PricePresentation")
                                    }},
                                    { "Extras", new MenuItemConfig
                                    {
                                        ParentAction = Url.Action("Index", "Extras")
                                    }},
                                    { "Review", new MenuItemConfig
                                    {
                                        ParentAction = Url.Action("Index", "Review"),
                                        ChildActions = new List<string>
                                        {
                                            Url.Action("Index", "AdditionalDetails")
                                        }
                                    }},
                                    { "Pay", new MenuItemConfig
                                    {
                                        ParentAction = Url.Action("PaymentSummary", "Payment"),
                                        ChildActions = new List<string>
                                        {
                                            Url.Action("Annual", "Payment"),
                                            Url.Action("AnnualSummary", "Payment"),
                                            Url.Action("MonthlyInstalment", "Payment"),
                                            Url.Action("MonthlyInstalmentSummary", "Payment"),
                                            Url.Action("MonthlyDeposit", "Payment"),
                                            Url.Action("MonthlyDepositSummary", "Payment"),
                                            Url.Action("Unsuccessful", "Payment")
                                        }
                                    }},
                                    { "Done", new MenuItemConfig { ParentAction = Url.Action("AllDone", "Payment") }}
                                },
                                TenantConfiguration = tenantConfiguration
                            });
                        }
                    </div>
                    <div class="page-headerv2__section page-headerv2__section--quote">
                        <div class="pquote-number">
                            <p class="pquote-number__text">
                                <span class="pquote-number__sub-text">Quote number</span>
                                <span class="pquote-number__number">@quoteId</span>
                            </p>
                        </div>
                    </div>
                    <div class="page-headerv2__section page-headerv2__section--basket">
                        @Html.ComponentRenderBasket(new ComponentBasketConfiguration
                        {
                            Id = "Basket",
                            CoverListPriority = new List<string>
                            {
                                FeatureServiceConstants.CoverLevel,
                                FeatureServiceConstants.NcdProtection,
                                FeatureServiceConstants.PriceProtection,
                                FeatureServiceConstants.LegalProtection,
                                FeatureServiceConstants.GuaranteedReplacementVehicle,
                                FeatureServiceConstants.Breakdown,
                                FeatureServiceConstants.KeyCover
                            },
                            AvivaCreditPhoneNumber = BrandConstants.ContactPhoneNumber,
                            ComponentUrl = Url.Action("Basket", "BasketComponent"),
                            TenantConfiguration = config.GetTenantConfiguration()
                        })
                    </div>
                </div>
            </header>
        }

        <main id="main-content">
            @RenderBody()
        </main>

        @Html.Partial("_SlidePanel")

        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            @Html.Partial("_Footer")
        }

        @Html.ComponentRenderPageReloader(new ComponentPageReloaderConfiguration
        {
            Id = "PageReloader",
            TenantConfiguration = tenantConfiguration
        })
        @{
            var componentHoustonConfiguration = new ComponentHoustonConfiguration
            {
                Id = "Houston",
                Brand = vaConfig.BrandName,
                LivePersonBrand = vaConfig.LivePersonBrandName,
                Application = vaConfig.Application,
                JourneySection = "Purchase",
                Product = vaConfig.Product,
                Journey = "Car",
                InvocationPoint = vaConfig.DefaultInvocationPoint,
                PageNamePrefix = "Sales_TE_",
                TenantConfiguration = tenantConfiguration,
                IsPreQuote = preQuote,
                ContactDataUrl = Url.Action("HoustonContactData", "ContactData"),
                OnError = Request.Url.AbsolutePath.ToLower().Contains("error"),
            };
        }
    </div>

    <aside>
        @Html.ComponentRenderHouston(componentHoustonConfiguration)
    </aside>

    <script src="@Url.Content(ConfigurationManager.AppSettings["Nina-Block-Path"])"></script>

    @RenderSection("scripts", required: false)
    @Html.RegisterNavigationOppsPageBackButtonInitScript(pagesWithoutBackAction, listOfPageWithAsyncComponents)
    @Html.RenderRegisteredScripts(ScriptLocation.BodyBottom)
    @Html.Partial("_AjaxErrorScript")
    @Html.ComponentRenderGoogleTagManagerLaunchScript(new ComponentTagManagerConfiguration { })
</body>
</html>