﻿<div class="no-quote-table">
    <div class="no-quote-table__section">
        <div class="no-quote-table__item ">Monday - Friday</div>
        <div class="no-quote-table__item">8am - 9pm</div>
    </div>
    <div class="no-quote-table__section">
        <div class="no-quote-table__item ">Saturday</div>
        <div class="no-quote-table__item">9am - 5pm</div>
    </div>
    <div class="no-quote-table__section">
        <div class="no-quote-table__item ">Sunday</div>
        <div class="no-quote-table__item">10am - 4pm</div>
    </div>
</div>
