﻿@using Newtonsoft.Json
@model BGL.Components.Houston.Models.HoustonViewModel

@{
    var componentId = Model.ComponentConfiguration.Id ?? "houston";
    var journeyType = Model.ComponentConfiguration.Journey ?? "";
    var serializedContextData = JsonConvert.SerializeObject(Model.HoustonContextData);
}

<div id="@componentId" class="panel" data-testid="@(componentId)__section">
    <input id="houstoncontextdata" type="hidden" data-context="@serializedContextData" />
    <div class="houston-container @(journeyType.Equals("SelfService") ? "houston-container--mobile-nav-padding" : "")" data-testid="@(componentId)__Houston-container">
        @if (Model.ComponentConfiguration.IsVaEnabled)
        {
            <div id="nina-block" class="nw_Agent"></div>
        }
        <div class="notification-container" role="alertdialog" aria-label="notification" aria-modal="true">
            <div class="notification notification--enhanced">
                <p class="notification-message" id="notification-message"></p>
                <button class="button button--left button--primary button--sm notification-button">Got it</button>
            </div>
        </div>
        <button id="houstonButton" class="houston-button" aria-label="Open Virtual Assistant" data-va-invocation-point="@Model.ComponentConfiguration.InvocationPoint">
            <div class="houston-button__halo"></div>
            <div class="houston-button__avatar"></div>
            <div class="houston-button__typing">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="houston-button__va">
                <span class="cross"></span>
            </div>
        </button>
    </div>
</div>
@if (Model.ComponentConfiguration.IsVaEnabled)
{
    <div id="BGL_VATrigger"></div>
    <div id="BGL_ChatButton"></div>
}