﻿@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DemandsAndNeeds
@using BGL.Components.DemandsAndNeeds.Models
@using BGL.Components.DemandsAndNeeds.Constants
@using BGL.Components.DemandsAndNeeds.Enums
@using BGL.Components.TermsAndConds

@{
    ViewBag.Title = "Optional extras";
    Layout = "~/Views/Shared/_SinglePageAddonsLayout.cshtml";

    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var marketingSourceConfig = new ComponentTermsAndCondsConfiguration
    {
        Id = "DemandsAndNeedsMarketingSource",
        TenantConfiguration = tenantConfiguration,
        MarketingSourceSetupList = new Dictionary<string, MarketingSourceDetails>
        {
            ["comparethemarket"] = new MarketingSourceDetails { ImageSource = "logo-ctm.svg", ImageAlt = "Compare the Market logo", ImageTitle = "Compare the Market logo", Name = "Compare the Market" },
            ["gocompare"] = new MarketingSourceDetails { ImageSource = "logo-gocompare.svg", ImageAlt = "Go Compare logo", ImageTitle = "Go Compare logo", Name = "GoCompare" },
            ["moneysupermarket"] = new MarketingSourceDetails { ImageSource = "logo-msm.svg", ImageAlt = "Money Super Market logo", ImageTitle = "Money Super Market logo", Name = "MoneySuperMarket" },
            ["confusedcom"] = new MarketingSourceDetails { ImageSource = "logo-confused.png", ImageAlt = "Confused.com logo", ImageTitle = "Confused.com logo", Name = "Confused.com" },
            ["quotezonecouk"] = new MarketingSourceDetails { ImageSource = "logo-quotezone.svg", ImageAlt = "Quotezone logo", ImageTitle = "Quotezone logo", Name = "Quotezone.co.uk" }
        }
    };

    bool.TryParse(Html.ComponentRenderTermsAndConditionsHasMarketingSource(marketingSourceConfig).ToString(), out var quoteHasMarketingSource);

    var configuration = new ComponentDemandsAndNeedsConfiguration
    {
        Id = "DemandsAndNeeds",
        NextPageUrl = Url.Action("Index", "Review"),
        PreviousPageUrl = Url.Action("Index", "PricePresentation"),
        ErrorRedirectUrl = ConfigurationManager.AppSettings["ErrorRedirectUrl"],
        TenantConfiguration = tenantConfiguration,
        QuoteHasMarketingSource = quoteHasMarketingSource,
        AddonOrder = new List<string>
        {
            DemandsAndNeedsServiceConstants.NoClaimsDiscountProtection,
            DemandsAndNeedsServiceConstants.MotorLegalProtection,
            DemandsAndNeedsServiceConstants.RacBreakdownAssistance,
            DemandsAndNeedsServiceConstants.GuaranteedReplacementCar,
            DemandsAndNeedsServiceConstants.Keycare
        },
        AddonConfigurations = new List<AddOnConfiguration>()
        {
            new AddOnConfiguration
            {
                Id = "NoClaimsDiscountProtection",
                AddOnName = "No Claims Discount Protection",
                ViewName = "_NoClaimsDiscountProtectionAddOn",
                AddOnService = DemandsAndNeedsServiceConstants.NoClaimsDiscountProtection,
                ShowBasket = true,
                BasketButtonType = BasketButtonType.AddRemove,
                DidYouKnowText = "No claims discount protection allows you to make one or more claims before your number of no claims discount years falls",
                PncdAverageDiscountTableRowsToInclude = new List<int>
                {
                    4, 5, 6, 7, 8, 9
                },
            },
            new AddOnConfiguration
            {
                Id = "LegalProtection",
                AddOnName = "Motor Legal Protection",
                ViewName = "_MotorLegalProtectionAddOnWithThreeIcons",
                AddOnService = DemandsAndNeedsServiceConstants.MotorLegalProtection,
                DidYouKnowText = "You'll be covered for up to \u00A3100,000 of legal costs when you purchase Motor Legal Protection with us."
            },
            new AddOnConfiguration
            {
                Id = "Breakdown",
                AddOnName = "RAC Breakdown Cover",
                ViewName = "_RacBreakdownCoverAddOnWithThreeIcons",
                AddOnService = DemandsAndNeedsServiceConstants.RacBreakdownAssistance,
                DidYouKnowText = "Breakdown cover is provided by",
                DidYouKnowImage = new ImageConfiguration
                {
                    AltText = "RAC logo",
                    HtmlClass = "addon-cta__info__rac",
                    SourcePath = "logo-rac.svg"
                }
            },
            new AddOnConfiguration
            {
                Id = "GuaranteedReplacementCar",
                AddOnName = "Guaranteed Replacement Car",
                ViewName = "_GuaranteedReplacementCarAddOnWithThreeIconsSameContentForEveryTier",
                AddOnService = DemandsAndNeedsServiceConstants.GuaranteedReplacementCar,
                DidYouKnowText = "Enterprise Rent-A-Car\u00AE has been carefully chosen, by us, to provide you with a Guaranteed Replacement Car should the worst happen.",
                DidYouKnowImage = new ImageConfiguration
                {
                    AltText = "Enterprise Rent-A-Car logo",
                    HtmlClass = "addon-cta__info__logo",
                    SourcePath = "icon-singlepage-addons-enterprise.svg"
                }
            },
            new AddOnConfiguration
            {
                Id = "Keycare",
                AddOnName = "Keycare",
                ViewName = "_KeycareAddOnWithThreeIcons",
                AddOnService = DemandsAndNeedsServiceConstants.Keycare,
                DidYouKnowText = "We not only cover your car keys but a whole range of keys."
            }
        }
    };

    if (quoteHasMarketingSource)
    {
        configuration.AggregatorLogo = @Html.ComponentRenderTermsAndConditionsAggregatorLogo(marketingSourceConfig);
        configuration.AggregatorName = @Html.ComponentRenderTermsAndConditionsAggregatorName(marketingSourceConfig).ToString();
    }
}

@Html.ComponentRenderDemandsAndNeedsSinglePageAddOnView(configuration)