﻿<p class="ncd-source__text">
    You may need to provide your proof of no claims discount within 12 days of your policy start date. If we need it, you&apos;ll be asked to send it to us after you&apos;ve purchased your policy.
</p>
<h2 class="h3">
    What is acceptable proof of no claims discount?
</h2>
<p class="ncd-source__text">
    Your renewal notice from your last UK insurer will show your proof of No Claims Discount. This may also be shown as No Claims Bonus (NCB). The NCD must not be in use on another vehicle. Unfortunately, we can&apos;t accept proof from a foreign insurer.
</p>
<h2 class="h3 ncd-source__section-heading">
    If it&apos;s from this vehicle or a previous vehicle
</h2>
<p class="ncd-source__text">
    Your renewal notice or a letter from your last insurer. If the renewal notice is for a different vehicle than the one you&apos;re insuring with us, we&apos;ll also need documents to confirm that policy has ended.
</p>
<h2 class="h3 ncd-source__section-heading">
    The proof needs to be from the last two years, and it needs to show:
</h2>
<ul class="list">
    <li class="list__item">your last policy&apos;s expiry date</li>
    <li class="list__item">the name of the driver who earned the no claims discount</li>
    <li class="list__item">number of years&apos; no claims discount</li>
    <li class="list__item">registration number of the vehicle</li>
    <li class="list__item">any claims or losses in the last 5 years</li>
</ul>
<h2 class="h3 ncd-source__section-heading">
    If the proof is from a company vehicle
</h2>
<p class="ncd-source__text">
    A letter on company headed paper, showing:
</p>
<ul class="list">
    <li class="list__item">the type of vehicle (we can&apos;t accept no claims earned on a van)</li>
    <li class="list__item">the dates the driver started and stopped using the vehicle (the driver must no longer have use of the company car)</li>
    <li class="list__item">details of any claims or losses in the last 5 years</li>
    <li class="list__item">whether the driver had sole use of the company vehicle.</li>
</ul>