﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@model BGL.Components.AdditionalDetails.Models.AdditionalDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var inputCount = 1;
}

@if (Model.HasNcdSourceCode == false)
{
    <div class="form-row">
        <fieldset>
            <legend class="form-row__label">What is the source of your @Model.NcdYears @(Model.NcdYears == 1 ? "year" : "years") No Claims Discount?</legend>
            <div class="tabs">

                @foreach (var ncdSourceCode in Model.NcdSourceCodes)
                {
                    var id = $"NCD-Source-{ncdSourceCode.Text.Replace(" ", "-")}";

                    @Html.RadioButtonFor(m => m.NcdSourceCode, ncdSourceCode.Code, new { id = $"{id}", name = "ncd-source", @class = $"tabs__input tabs__input--{inputCount}" })
                    <label class="tabs__label tabs__label--pill" for="@id" data-testid="@(componentId)__ncd-source-code@(inputCount)">
                        <p class="tabs__label-text">@ncdSourceCode.Text</p>
                        <div class="tabs__label-bar"></div>
                    </label>

                    inputCount++;
                }

                <div class="form-row__error-text-container">
                    @Html.ValidationMessageFor(model => model.NcdSourceCode, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__ncd-source-code_validation-message" })
                </div>

                <section class="tabs__section tabs__section--1">
                    @Html.Partial(Model.ComponentConfiguration.ViewOptions.NcdSourceThisVehicle.GetViewNameFromEnum(true))
                </section>

                <section class="tabs__section tabs__section--2">
                    @Html.Partial(Model.ComponentConfiguration.ViewOptions.NcdSourcePreviousVehicle.GetViewNameFromEnum(true))
                </section>

                <section class="tabs__section tabs__section--3">
                    @Html.Partial(Model.ComponentConfiguration.ViewOptions.NcdSourceCompanyCar.GetViewNameFromEnum(true))
                </section>
            </div>
        </fieldset>
    </div>
}
else
{
    @Html.HiddenFor(m => m.HasNcdSourceCode)
    @Html.HiddenFor(m => m.NcdSourceCode)
}