﻿@using System.Web.Mvc.Html
@model BGL.Components.AdditionalDetails.Models.AdditionalDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="form-row">
    <fieldset>
        <legend class="form-row__label">How do you use your van?</legend>

        @foreach (var usageType in Model.VehicleUsageClasses)
        {
            var id = $"Vehicle-Usage-{usageType.Key}";
            @Html.RadioButtonFor(m => m.ClassOfUseCode, usageType.Key, new { id = $"{id}", name = "usage-type", @class = $"tabs__input", data_usagebtn = usageType.Key })
            <label class="tabs__label tabs__label--pill" for="@id" data-testid="@(componentId)__vehicle-usage@(usageType.Key)">
                <p class="tabs__label-text">@usageType.Value</p>
                <div class="tabs__label-bar"></div>
            </label>
            <br />
        }

        <div class="form-row__error-text-container">
            @Html.ValidationMessageFor(model => model.ClassOfUseCode, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__ncd-source-code_validation-message" })
        </div>

        <div data-usagehelptext="05" class="hide">
            <h2 class='h5 help-text__heading'>Social, Domestic and Pleasure Only (SDP)</h2>
            <p class='help-text__text'>This use will cover the regular driver and any authorised drivers to use the vehicle for social, domestic and pleasure use, plus to travel to and from a single permanent place of employment.</p>
        </div>
        <div data-usagehelptext="21" class="hide">
            <h2 class='h5 help-text__heading'>Carriage of Own Goods, Not for Hire or Reward</h2>
            <p class='help-text__text'>Use for social domestic and pleasure and for the business of the Regular Driver and their employer or business partner, including carriage of own goods, excluding carriage of goods or passengers for hire or reward.</p>
        </div>
        <div data-usagehelptext="22" class="hide">
            <h2 class='h5 help-text__heading'>Haulage (Carriage of Goods for Hire or Reward)</h2>
            <p class='help-text__text'>Use for social domestic and pleasure and for the business of the Regular Driver and their employer or business partner, including carriage of goods for hire or reward, excluding carriage of passengers for hire or reward.</p>
        </div>
    </fieldset>
</div>