﻿@using System.Web.Mvc.Html
@model string

<div id="legal-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="legal-model-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                @Html.Partial(Model)
            </div>
            <div class="modal-footer">
                <p class="error">Please scroll to read the important information before you continue</p>
                <div class="button-container legal-footer__button-container">
                    <button id="close-modal" class="button button--disabled button--large">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade hide" id="overlay"></div>
