﻿@using System.Web.Mvc.Html
@using BGL.Components.OptionalExtras.Models
@model OptionalExtrasViewModel

@{
    var basePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;
    var componentId = Model.ComponentConfiguration.Id;
    var optionalExtras = Model.OptionalExtras;
}

<div id="@componentId" class="panel" data-testid="@(componentId)__section">
    @if (optionalExtras.IsAccordionVisible)
    {
        <div class="accordion__section" data-testid="@(componentId)__accordion-section">
            <h2 class="h5 accordion__heading-wrapper">
                <button class="accordion__heading-button" data-accordion-key="@(componentId)-optional-extras-accordion" aria-expanded="true">
                    Optional Extras
                </button>
            </h2>
            <div class="accordion__body-wrapper">
                <div class="accordion__body-content">
                    <table class="accordion-table">
                        <tbody>
                            @if (optionalExtras.IsMotorLegalProtectionVisible)
                            {
                                @Html.Partial("_OptionalExtrasItem", new OptionalExtrasItem
                                {
                                    AddonName = "Motor Legal Protection",
                                    AddonDescription = "This meets your demands and needs by helping to pay legal fees charged in claiming back costs such as excess, lost earnings or personal injury compensation if you were involved in an accident that wasn't your fault.",
                                    AddonAlt = "Motor Legal Protection Included",
                                    ResourceBasePath = basePath
                                })
                            }

                            @if (optionalExtras.IsGuaranteedReplacementCarVisible)
                            {
                                @Html.Partial("_OptionalExtrasItem", new OptionalExtrasItem
                                {
                                    AddonName = "Guaranteed Replacement Car",
                                    AddonDescription = "This meets your demands and needs by providing you with a guaranteed replacement car if your car was stolen, un-drivable due to an accident, or if you were hit by an uninsured driver.",
                                    AddonAlt = "Guaranteed Replacement Car Included",
                                    ResourceBasePath = basePath
                                })
                            }

                            @if (optionalExtras.IsGuaranteedReplacementVanVisible)
                            {
                                @Html.Partial("_OptionalExtrasItem", new OptionalExtrasItem
                                {
                                    AddonName = "Guaranteed Replacement Van",
                                    AddonDescription = "This meets your demands and needs by providing you with a guaranteed replacement van if your van was stolen, un-driveable due to an accident, or if you were hit by an uninsured driver, for more than the 7 days provided with your policy.",
                                    AddonAlt = "Guaranteed Replacement Van Included",
                                    ResourceBasePath = basePath
                                })
                            }

                            @if (optionalExtras.IsToolsAndVanContentsCoverVisible)
                            {
                                @Html.Partial("_OptionalExtrasItem", new OptionalExtrasItem
                                {
                                    AddonName = "Tools and Van Contents Cover",
                                    AddonDescription = "This meets your demands and needs if your tools or personal possessions were stolen from your vehicle, helping you with the cost of replacing them.",
                                    AddonAlt = "Tools and Van Contents Cover Included",
                                    ResourceBasePath = basePath
                                })
                            }

                            @if (optionalExtras.IsRacBreakdownVisible)
                            {
                                @Html.Partial("_OptionalExtrasItem", new OptionalExtrasItem
                                {
                                    AddonName = "RAC Breakdown",
                                    AddonDescription = "This meets your demands and needs getting you back on the road if your vehicle breaks down.",
                                    AddonAlt = "RAC Breakdown Included",
                                    ResourceBasePath = basePath
                                })
                            }

                            @if (optionalExtras.IsBreakdownCoverVisible)
                            {
                                @Html.Partial("_OptionalExtrasItem", new OptionalExtrasItem
                                {
                                    AddonName = "RAC Breakdown",
                                    AddonDescription = "This meets your demands and needs getting you back on the road if your vehicle breaks down.",
                                    AddonAlt = "RAC Breakdown Included",
                                    ResourceBasePath = basePath
                                })
                            }

                            @if (optionalExtras.IsKeycareVisible)
                            {
                                @Html.Partial("_OptionalExtrasItem", new OptionalExtrasItem
                                {
                                    AddonName = "Keycare",
                                    AddonDescription = "This meets your demands and needs if your keys are lost or stolen and you need help to replace your locks and keys, or gain entry to your home or vehicle.",
                                    AddonAlt = "Keycare Included",
                                    ResourceBasePath = basePath
                                })
                            }

                            @if (optionalExtras.IsPersonalAccidentCoverVisible)
                            {
                                @Html.Partial("_OptionalExtrasItem", new OptionalExtrasItem
                                {
                                    AddonName = "Personal Accident Cover",
                                    AddonDescription = "This meets your demands and needs by receiving a lump sum payment for serious soft tissue injuries such as whiplash, fractures, or permanent disability after an accident.",
                                    AddonAlt = "Personal Accident Cover Included",
                                    ResourceBasePath = basePath
                                })
                            }

                            @if (optionalExtras.IsProtectedNoClaimsDiscountVisible)
                            {
                                @Html.Partial("_OptionalExtrasItem", new OptionalExtrasItem
                                {
                                    AddonName = "No Claims Discount Protection",
                                    AddonAlt = "No Claims Discount Protection Included",
                                    ResourceBasePath = basePath
                                })
                            }

                            @if (optionalExtras.IsPriceProtectVisible)
                            {
                                @Html.Partial("_OptionalExtrasItem", new OptionalExtrasItem
                                {
                                    AddonName = "Price Protect",
                                    AddonAlt = "Price Protect Included",
                                    ResourceBasePath = basePath
                                })
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
