﻿@using System.Configuration
@using System.Security.Claims
@using BGL.Common.Utility.Extensions
@using BGL.Common.BaseApplication.Telemetry
@using BGL.Common.Configuration.Interfaces
@using BGL.Common.ScriptRegister
@using BGL.Components.GoogleTagManager
@using BGL.Components.Houston

@{
    var config = DependencyResolver.Current.GetService<IConfig>();
    var tenantConfiguration = config.GetTenantConfiguration();
    var vaConfig = config.GetVirtualAssistantConfiguration();
    var product = (User as ClaimsPrincipal)?.Product();
    var isVan = product.Equals("Van", StringComparison.OrdinalIgnoreCase);
    var bglBundlingEnabled = bool.TryParse(ConfigurationManager.AppSettings["BundlingEnabled"], out var bundlingEnabled) && bundlingEnabled;

    var componentHoustonConfiguration = new ComponentHoustonConfiguration
    {
        Id = "Houston",
        Brand = vaConfig.BrandName,
        LivePersonBrand = vaConfig.LivePersonBrandName,
        Application = vaConfig.Application,
        JourneySection = string.Empty,
        Product = product,
        Journey = isVan ? "Van" : "Car",
        ContactDataUrl = Url.Action("HoustonContactData", "ContactData"),
        InvocationPoint = vaConfig.DefaultInvocationPoint,
        PageNamePrefix = "Sales_TE_",
        TenantConfiguration = tenantConfiguration,
        IsPreQuote = false,
        OnError = Request?.Url == null || Request.Url.AbsolutePath.ToLower().Contains("error"),
    };
    var ninaPreprod = vaConfig.IsVaLive ? string.Empty : $"window.NinaVars.preprod=true;";
    Html.RegisterScript("window.NinaVars=window.NinaVars||{};window.NinaVars.isSelfService=false;" +
                        $"window.NinaVars.isSales=true;{ninaPreprod}window.siteId='{vaConfig.WebChatAccount}';", ScriptLocation.HeadBottom);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="SvrId" content="TE.NET" />
    <title>@ViewBag.Title - Post Office</title>
    <link rel="shortcut icon" href="@ConfigurationManager.AppSettings["ApplicationPath"]favi.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")

    @Html.ComponentRenderOneTrust(new ComponentGoogleTagManagerConfiguration
    {
        OneTrustConfiguration = config.GetOneTrustConfiguration(),
    })

    @Scripts.Render("~/bundles/vendor")
    @if (bglBundlingEnabled)
    {
        @Scripts.Render("~/bundles/bgl")
    }
    @Html.ComponentRenderGoogleTagManager(new ComponentGoogleTagManagerConfiguration
    {
        Id = "GoogleTagManager",
        GtmConfiguration = config.GetGtmConfiguration(),
        IgnoreSource = true,
        TenantConfiguration = config.GetTenantConfiguration()
    })

    @Html.ComponentRenderGoogleTagManagerDataLayer(new ComponentTagManagerConfiguration
    {
        QuoteTier = "Standard"
    })

    @Html.RenderRegisteredScripts(ScriptLocation.HeadTop)
    @Html.RenderRegisteredScripts(ScriptLocation.HeadBottom)
    @Html.RegisterTelemetryScript()

    @Html.ComponentRenderGoogleTagManagerTagManager(new ComponentTagManagerConfiguration
    {
        TagManagerScriptUrl = ConfigurationManager.AppSettings["TagManagerScriptUrl"]
    })
</head>
<body>
    @Html.RenderRegisteredScripts(ScriptLocation.BodyTop)
    <header class="page-header page-header--minimal" id="fixed-header">
        <div class="page-header__wrapper">
            <div class="page-header__section page-header__section--left">
                <img class="page-header__logo" src="@(config.GetTenantConfiguration().ResourceBasePath)logo-brand.png" alt="Post Office" />
            </div>
        </div>
    </header>
    <main id="main-content">
        @RenderBody()
    </main>

    <aside>
        @Html.ComponentRenderHouston(componentHoustonConfiguration)
    </aside>

    <script src="@Url.Content(ConfigurationManager.AppSettings["Nina-Block-Path"])"></script>

    @RenderSection("scripts", required: false)
    @Html.RenderRegisteredScripts(ScriptLocation.BodyBottom)
    @Html.Partial("_AjaxErrorScript")
    @Html.ComponentRenderGoogleTagManagerLaunchScript(new ComponentTagManagerConfiguration { })
</body>
</html>