@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TermsAndConds

@{
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];
}

@Html.ComponentRenderTermsAndConditionsFees(new ComponentTermsAndCondsConfiguration
{
    Id = "SalesTermsAndConditionsFees",
    TenantConfiguration = tenantConfiguration
})
<span class="legal-modules__text-line">
    For more information about fees and
    services please <a class="link--secondary__new-window"
                       href="@(documentUrl)?name=specimen-doc"
                       rel="noopener"
                       aria-label="Open fees and services information in new window"
                       target="_blank">click here</a>
</span>