<div class="feature-header feature-header--margin">
    <p class="feature-header__sub-heading">
        Up to &#163;100,000 Motor Legal Protection
    </p>
    <h2 class="h4 fbels__heading fbels__heading--cover">If selected, Motor Legal Protection is available at no extra cost for the first 12 months of your policy.</h2>
    <div class="feature-header__divider"></div>
</div>