<div class="slide-panel" id="SlidePanel" tabindex="-1" role="dialog" aria-label="slide panel" data-testid="slide-panel" aria-live="assertive" aria-modal="true">
    <div class="panel-header">
        <div class="panel-header__wrapper">
            <div class="panel-header__section panel-header__section--left"></div>
            <div class="panel-header__section panel-header__section--right">
                <button type="button" class="panel-header__close" data-dismiss="slide-panel" aria-label="Close" data-testid="slide-panel__close-button"></button>
            </div>
        </div>
    </div>

    <div class="slide-panel-body">
        <div class="page-section">
            <div class="page-section--inner">
                <div class="slide-panel-content" id="SlidePanelContent">
                </div>
            </div>
        </div>
    </div>
</div>

