﻿@using System.Configuration

 
@{
    Layout = "~/Views/Shared/"+@ConfigurationManager.AppSettings["SecurityLayoutHtml"];
    var user = HttpContext.Current.GetOwinContext().Authentication.User;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<script>
    var token = $('input[name="__RequestVerificationToken"]').val();
    var getQuote = function () {
        $("#onetrust-consent-sdk").hide();

        $.post('@user.Claims.First(x=>x.Type == "ale_url").Value',
            {
                __RequestVerificationToken: token
            },
            function (result) {
                if (result.isSuccess === false) {
                    window.location.href = result.errorRedirectUrl;
                    return;
                }
                sessionStorage.setItem("CustomerFirstName", result.customerFirstName);
                sessionStorage.setItem("CustomerAccountId", result.customerAccountId);
                window.location.href = result.redirectUrl;
            }).
            fail(function(ex) {
            });
    }

    window.setTimeout(getQuote, 500);
</script>

<main>
    <div class="page-section">
        <div class="page-section--inner">
            <div class="spinner">
                <div class="spinner__ring"></div>
                <h1 class="spinner__heading">Working on it</h1>
                <p class="spinner__text">We won't be a moment</p>
                <div class="spinner__divider"></div>
            </div>
        </div>
    </div>
</main>