﻿@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Components.DemandsAndNeeds.Enums
@using BGL.Components.DemandsAndNeeds.Extensions
@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = Model.TenantConfiguration.ResourceBasePath;
    var basketPriceClass = "addon-cta__basket__price";

    var shouldHidePrice = Model.BasketButtonType == BasketButtonType.AddRemove && Model.IsAddOnSelected;

    if (shouldHidePrice)
    {
        basketPriceClass += " hide";
    }
}


<div class="@basketPriceClass" data-testid="DemandsAndNeeds__@(Model.Id)__Basket__Price" id="@Model.Id-basket-price">
    @if (Model.HasFreeAddonBanner && Model.AnnualPrice == 0)
    {
        <p class="demands-and-needs__promotional-offers-text"><span class="demands-and-needs__promotional-offers-text__offer bold"><span><img src="@(basePath)icon-error.svg" alt="error-icon" class="addon-cta__basket__price__error-icon"></span>Great news!</span></p>
        <p class="h4">
            You can add @Model.AddOnName for FREE
        </p>
    }
    else
    {
        if (Model.IsSingleTier)
        {
            <p class="h4">
                <span><img src="@(basePath)icon-error.svg" alt="error-icon" class="addon-cta__basket__price__error-icon"></span>
                @if (!string.IsNullOrWhiteSpace(Model.CustomPriceText) && !Model.IsAddOnSelected)
                {
                    <text>@Model.CustomPriceText</text>
                }
                else
                {
                    <text>Add @Model.AddOnName</text>
                }
                
            </p>
            if (Model.IsAnnual)
            {
                <span class="addon-cta__basket__price--primary">
                    <strong>&pound;@Model.AnnualPrice</strong>
                    <span>/year</span>
                </span>
            }
            else
            {
                <span class="addon-cta__basket__price--primary">
                    <strong>&pound;@Model.MonthlyPrice</strong>
                    <span>/month*</span>
                </span>
                <span class="feature-header__standard-price-text">(&pound;@Model.AnnualPrice /year)</span>
                <span class="feature-header__interest">*Monthly price excludes interest</span>
            }
        }
        else
        {
            var selectList = Model.GetSelectList();

            for (int i = 0; i < Model.AddonCoverDetails.CoverLevelViewModels.Count; i++)
            {

                var display = Model.SelectedCoverLevelCode == selectList[i].Value ? string.Empty : "hide";
                var monthlyPrice = Model.AddonCoverDetails.CoverLevelViewModels[i].MonthlyPrice.Round().FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
                var annualPrice = Model.AddonCoverDetails.CoverLevelViewModels[i].AnnualPrice.Round().FormatPrice(PriceFormatConstants.PriceFormatWithZeros);

                <div class="addon-radio addon-radio__grc @display" id="@selectList[i].Value" data-testid="@(Model.Id)__header-price">
                    <p class="h4">
                        <span><img src="@(basePath)icon-error.svg" alt="error-icon" class="addon-cta__basket__price__error-icon"></span>
                        Add @Model.AddOnName
                    </p>
                    @if (Model.IsAnnual)
                    {
                        <span class="addon-cta__basket__price--primary">
                            <strong>&pound;@annualPrice</strong>
                            <span>/year</span>
                        </span>
                    }
                    else
                    {
                        <span class="addon-cta__basket__price--primary">
                            <strong>&pound;@monthlyPrice</strong>
                            <span>/month*</span>
                        </span>
                        <span class="feature-header__standard-price-text">(&pound;@annualPrice /year)</span>
                        <div>
                            <span class="feature-header__interest">*Monthly price excludes interest</span>
                        </div>
                    }

                </div>
            }


        }
    }
</div>