﻿@model BGL.Components.DemandsAndNeeds.Models.AddOnParagraphWithBoldContent

<p class="demands-and-needs__text demands-and-needs__text--hidden">
    @Model.FirstPart <strong>@Model.SecondPartBold</strong> @Model.ThirdPart
</p>