﻿@model List<BGL.Components.DemandsAndNeeds.Models.AddOnFeatureCardModel>

<ul class="card-container card-container-list">
    @foreach (var featureCard in Model)
    {
        <li class="card-container__card--list-item">
            <div class="policy-feature__image-wrapper">
                <i class="card-container__card-image card-container__card-image--font-icon @featureCard.IconClass"></i>
            </div>
            <h3 class="card-container__card-title card-container__card-title--list">
                @featureCard.Title 
                <span class="card-container__card-description card-container__card-description--list">
                    @featureCard.Text
                </span>
            </h3>
        </li>
    }
</ul>