﻿@model List<BGL.Components.DemandsAndNeeds.Models.AddOnFeatureCardModel>

<ul class="card-container card-container-list">
    @foreach (var featureCard in Model)
    {
        <li class="card-container__card--list-item card-container__card--list-item--without-bullet">
            <div class="policy-feature__image-wrapper policy-feature__image-wrapper--with-image">
                <i class="card-container__card-image card-container__card-image--without-title card-container__card-image--font-icon @featureCard.IconClass"></i>
            </div>
            <p class="card-container__card-description card-container__card-description--list card-container__card-description--list--without-dash">
                @featureCard.Text
            </p>
        </li>
    }
</ul>