﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.DemandsAndNeeds.Models.Breakdown.BreakdownAddOnModel

@{ 
    var basePath = @Model.TenantConfiguration.ResourceBasePath;
}

<tbody class="breakdown-table__body">

    @foreach (var row in Model.Rows)
    {
        <tr class="breakdown-table__row">
            <th class="breakdown-table__body-item breakdown-table__body-item--first">
                <p class="breakdown-table__feature" data-testid="breakdown-feature-title">
                    @row.Title
                </p>
            </th>

            @foreach (var rowItem in row.RowItems)
            {
                <td class="breakdown-table__body-item 
                    @(rowItem.IsSelected ? "active" : string.Empty)" 
                    data-cover-level-code="@rowItem.Code" 
                    data-testid="breakdown-column-@rowItem.DataTier"
                    data-type="addon-yes">
                    @if (rowItem.IsIncluded)
                    {
                        <img class="breakdown-table__tick" alt="@row.Title is included" src="@(basePath)icon-tick.svg" data-testid="breakdown-tick-column-@rowItem.DataTier" />
                    }
                </td>
            }

        </tr>
    }
</tbody>