﻿@using BGL.Components.DemandsAndNeeds.Enums
@model BGL.Components.DemandsAndNeeds.Models.AddOnBaseModel

@{
    var basePath = @Model.TenantConfiguration.ResourceBasePath;
    var displayAddRemoveVariation = Model.BasketButtonType == BasketButtonType.AddRemove && Model.IsAddOnSelected && Model.QuoteHasMarketingSource;
}


<div class="addon-cta__info @if (!displayAddRemoveVariation) { <text> hide </text> }" id="@Model.Id-DidYouKnow-AddRemove">
    <img class="addon-cta__info__icon" src="@(basePath)icon-tick-circle.svg" alt="" />

    <p>
        You told our friends at @Model.AggregatorName that you wanted to protect your No Claims Discount, so we've added it to your policy.
    </p>
    @if (Model.AggregatorLogo != null)
    {
        @Model.AggregatorLogo;
    }

</div>

<div class="addon-cta__info @if (displayAddRemoveVariation) { <text> hide </text> }" id="@Model.Id-DidYouKnow-YesNo">
    <img class="addon-cta__info__icon" src="@(basePath)icon-info.svg" alt="" />
    <h3 class="addon-cta__info__title">Did you know?</h3>

    <p>
        @Model.DidYouKnowText
    </p>
    @if (Model.DidYouKnowImage != null)
    {   
        <img class="@Model.DidYouKnowImage.HtmlClass" src="@basePath@Model.DidYouKnowImage.SourcePath" alt="@Model.DidYouKnowImage.AltText" />
    }

</div>




