﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Components.DemandsAndNeeds.Models

@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = Model.TenantConfiguration.ResourceBasePath;

    var titleModel = new AddOnTitleModel
    {
        IconClass = "ui-icon-guaranteed-replacement-vehicle",
        Title = "Relax and keep moving with our Guaranteed Replacement Car promise"
    };

    var introductionText = new AddOnParagraphWithBoldContent
    {
        FirstPart = "Being without a car can bring life to a sudden halt - upgrading to a",
        SecondPartBold = "Guaranteed Replacement Car",
        ThirdPart = "will keep you moving."
    };

    var addOnFeatureCards = new List<AddOnFeatureCardModel>
{
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-grc-no-car",
            Title = "No car, no problem",
            Text = "We'll get you a car even if your repairer can't get one"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-grc-accident",
            Title = "Accident your fault?",
            Text = "No sweat, we'll still lend you a replacement"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-grc-places-to-be",
            Title = "Got places to be?",
            Text = "We'll keep you moving if your car is stolen, damaged or written off"
        }
    };

    var promiseToYou = new AddOnHeadingAndParagraph
    {
        Heading = string.Empty,
        Paragraphs = new List<string>
{
            "Guaranteed Replacement Car is our promise to you, that you won't be left without a car if you need to make a claim. A courtesy car does not provide that guarantee."
        }
    };

    var featureListItems28DaysTier = new List<string>
{
        "Provides a replacement car, with a small engine, typically up to 1ltr engine size, for up to 28 days if yours is not driveable or deemed a total loss following a road traffic accident, fire or theft."
    };

    var featureListItemsPlusTier = new List<string>
{
        "Provides a like for like physical size replacement car for up to 60 days if yours is not driveable or deemed a total loss following a road accident, fire or theft",
        "Provides the option of a one off \u00A3100 cash alternative per claim, shall you not require a replacement car"
    };

    var courtesyCarEnough = new AddOnHeadingAndParagraph
    {
        Heading = "I thought you gave me a courtesy car, isn't that enough cover?",
        Paragraphs = new List<string>
{
            "There are some instances when a courtesy car would not be provided and that's when having Guaranteed Replacement Car cover really pays off."
        }
    };

    var whatElseIsThere = new AddOnHeadingAndParagraph
    {
        Heading = "What else is there to know?",
        Paragraphs = new List<string>()
    };

    var whatElseIsThereToKnowListItems28DaysTier = new List<string>
{
        "Subject to the terms and conditions of the vehicle replacement provider",
        "Must be able to provide a valid credit/debit card details and pay a security/fuel deposit",
        "A replacement car will not be provided if the vehicle repairer provides you with a courtesy car"
    };

    var whatElseIsThereToKnowListItemsPlusTier = new List<string>
{
        "Subject to the terms and conditions of the vehicle replacement provider",
        "Must be able to provide a valid credit/debit card details and pay a security/fuel deposit",
        "Where you choose the one off \u00A3100 you will no longer be entitled to a replacement car for the duration of the repair",
        "A replacement car will not be provided if the vehicle repairer provides you with a courtesy car"
    };

    var smallPrint = "Administered by ACM ULR Ltd and underwritten by ARAG plc on behalf of ARAG Allegemeine Vesicherungs-AG Branch United Kingdom.";
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))

{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "grc-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "grc-covername" })
    @Html.Hidden("grc-coverlevels-count", Model.AddonCoverDetails.CoverLevelViewModels.Count, new { id = "grc-coverlevels-count" })

    if (Model.IsSingleTier)
    {
        @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "grc-SelectedCoverLevelCode" })
    }

    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if (@Model.IsDisabledOnPageLoad) { <text> aria-hidden="true" </text> } data-type="addon-content">
        <div class="addon-primary">
            @Html.Partial("_AddOnTitle", titleModel)
            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">
                    @Html.Partial("_AddOnParagraphWithBoldContentHiddenOnMobile", introductionText)

                    @Html.Partial("_AddOnFeatureCardsWithIconsHiddenOnMobile", addOnFeatureCards)

                    @Html.Partial("_AddOnPriceFrom", Model)
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected) { <text> hide </text> }">
                @if (!Model.IsSingleTier)
                {
                    @Html.Partial("GuaranteedReplacementCarPaymentsMultiTiers", Model);
                }

                @Html.Partial("_AddOnHeadingAndParagraphs", promiseToYou)
                
                @{ var display28DaysTier = Model.SelectedCoverLevelCode == "PCH-B" ? string.Empty : "hide"; }
                <div class="multi-tier-content  @display28DaysTier" id="multi-tier-content-PCH-B">
                    <ul class="list list--fbels list--fbels-cover">
                        @Html.Partial("_AddOnBulletedList", featureListItems28DaysTier)
                    </ul>

                    @Html.Partial("_AddOnHeadingAndParagraphs", courtesyCarEnough)

                    @Html.Partial("_AddOnHeadingAndParagraphs", whatElseIsThere)

                    <ul class="list list--fbels list--fbels-remember">
                        @Html.Partial("_AddOnBulletedList", whatElseIsThereToKnowListItems28DaysTier)
                    </ul>
                </div>

                @{ var displayPlusTier = Model.SelectedCoverLevelCode == "PCH-I" ? string.Empty : "hide"; }
                <div class="multi-tier-content  @displayPlusTier" id="multi-tier-content-PCH-I">
                    <ul class="list list--fbels list--fbels-cover">
                        @Html.Partial("_AddOnBulletedList", featureListItemsPlusTier)
                    </ul>

                    @Html.Partial("_AddOnHeadingAndParagraphs", courtesyCarEnough)

                    @Html.Partial("_AddOnHeadingAndParagraphs", whatElseIsThere)

                    <ul class="list list--fbels list--fbels-remember">
                        @Html.Partial("_AddOnBulletedList", whatElseIsThereToKnowListItemsPlusTier)
                    </ul>
                </div>

                @Html.Partial("_AddOnSmallPrint", smallPrint)

                @Html.Partial("_IPIDDemandsAndNeeds", "guaranteed-replacement-vehicle")
            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}