﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Components.DemandsAndNeeds.Models

@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = Model.TenantConfiguration.ResourceBasePath;

    var titleModel = new AddOnTitleModel
    {
        IconClass = "ui-icon-key-cover",
        Title = "Keycare protects against any type of lost or stolen keys"
    };

    var introductionText = new AddOnParagraphWithBoldContent
    {
        FirstPart = "Don't get locked out of your life,",
        SecondPartBold = "Keycare",
        ThirdPart = "for your home, car and business keys all rolled into one."
    };

    AddOnFeatureCardModel coverAmountCard;
    if (string.IsNullOrEmpty(Model.CustomCoverAmount))
    {
        coverAmountCard = new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-key-foot-the-bill",
            Title = "We'll foot the bill",
            Text = "For new keys and locks up to the value of \u00A31,000"
        };
    } else
    {
        coverAmountCard = new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-key-foot-the-bill",
            Title = "We'll foot the bill",
            Text = $"For new keys and locks up to the value of \u00A3{Model.CustomCoverAmount}"
        };
    }

    var addOnFeatureCards = new List<AddOnFeatureCardModel>
    {
        coverAmountCard,
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-key-only-a-call",
            Title = "We're only a call away",
            Text = "Emergency helpline open 24 hours, 365 days a year"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-key-stranded",
            Title = "Don't be stranded",
            Text = "Our locksmiths will come to you wherever you are"
        }
    };

    var startOfProblems = new AddOnHeadingAndParagraph
    {
        Heading = string.Empty,
        Paragraphs = new List<string>
        {
            "A misplaced or stolen car key is often only the start of your problems. Most people keep keys in sets, meaning when they lose one they lose them all."
        }
    };

    var steps = new List<AddOnFeatureCardModel>
    {
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-key-content-lost-keys",
            Text = "You realise your keys have been lost or stolen. Don't panic!"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-key-content-hotline",
            Text = "You call the Keycare emergency hotline"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-key-content-locksmith",
            Text = "We arrange for an authorised locksmith to come let you in"
        }
    };

    var howDoesKeycareWork = new AddOnHeadingAndParagraph
    {
        Heading = "How does Keycare work?",
        Paragraphs = new List<string>
        {
            "With Keycare, we'll cover all your keys - simply call our emergency helpline and we'll let you in to your house, car or business premises."
        }
    };

    var tickedListItems = new List<string>
    {
        "Cover you for keys that have been permanently lost, stolen, or locked in the building or vehicle",
        "Cover for replacement locks or any locksmith charges",
        "Reprogramming of your immobiliser",
        "Onward travel costs, to get you to your original destination",
        "Up to 3 days vehicle hire, if your vehicle is unusable as a result of lost or stolen keys",
        "24-hour assistance, 365 days a year",
        "No expensive or hidden excesses"
    };

    var replacementLocks = new AddOnHeadingAndParagraph
    {
        Heading = "I thought you included replacement locks as standard?",
        Paragraphs = new List<string>
        {
            "We do, but replacement locks only cover your car keys up to the value of \u00A3500. If your other keys are lost or stolen you'll have to call-out a locksmith and that can be expensive. If you've lost multiple keys, then the expense can really ramp up.",
            "Having Keycare means you've got peace of mind knowing that all your keys are covered."
        }
    };

    var whatElseIsThere = new AddOnHeadingAndParagraph
    {
        Heading = "What else is there to know?",
        Paragraphs = new List<string>()
    };

    var whatElseIsThereToKnowListItems = Model.CustomWhatElseIsThereToKnowItemsList ?? new List<string>
    {
        "Claims must be reported within 30 days",
        "Claims relating to damaged keys or locks, or the result of wear and tear are not covered",
        "Lost keys will usually require a period of three days before being replaced",
        "On occasion we might not be able to arrange a locksmith ourselves, if that happens you'll be required to arrange one and we'll reimburse the cost (up to \u00A31000 once receipts are provided)"
    };

    var smallPrint = "Administered by Keycare Ltd and underwritten by Ageas Insurance Ltd.";
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))

{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "keycare-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "keycare-covername" })
    @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "keycare-SelectedCoverLevelCode" })

    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if (@Model.IsDisabledOnPageLoad) { <text> aria-hidden="true" </text> } data-type="addon-content">
        <div class="addon-primary">
            @Html.Partial("_AddOnTitle", titleModel)
            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">
                    @Html.Partial("_AddOnParagraphWithBoldContentHiddenOnMobile", introductionText)

                    @Html.Partial("_AddOnFeatureCardsWithIconsHiddenOnMobile", addOnFeatureCards)

                    @Html.Partial("_AddOnPriceFrom", Model)
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected) { <text> hide </text> }">
                @Html.Partial("_AddOnHeadingAndParagraphs", startOfProblems)
                
                @Html.Partial("_AddOnFeatureCards", steps)

                @Html.Partial("_AddOnHeadingAndParagraphs", howDoesKeycareWork)

                <ul class="list list--fbels list--fbels-cover">
                    @Html.Partial("_AddOnBulletedList", tickedListItems)
                </ul>

                @Html.Partial("_AddOnHeadingAndParagraphs", replacementLocks)

                @Html.Partial("_AddOnHeadingAndParagraphs", whatElseIsThere)

                <ul class="list list--fbels list--fbels-remember">
                    @Html.Partial("_AddOnBulletedList", whatElseIsThereToKnowListItems)
                </ul>

                @Html.Partial("_AddOnSmallPrint", smallPrint)

                @Html.Partial("_IPIDDemandsAndNeeds", "keycare")
            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}