﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers

@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = @Model.TenantConfiguration.ResourceBasePath;
    var keycareImage = @Model.ProductType.Equals("Car", StringComparison.OrdinalIgnoreCase) ? "icon-keycare-car.svg" : "icon-keycare-van.svg";
    var keyCareImagePath = $"{basePath}{keycareImage}";
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "keycare-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "keycare-covername" })
    @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "keycare-SelectedCoverLevelCode" })


    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if(@Model.IsDisabledOnPageLoad){<text>aria-hidden="true"</text>} data-type="addon-content">
        <div class="addon-primary">
            <div class="addon-primary__title">
                <i class="addon-primary__icon ui-icon-key-cover"></i>
                <h2 tabindex="-1" class="addon-primary__title__text">
                    <strong>@Model.AddOnName</strong>
                </h2>
            </div>

            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">
                    <p class="feature-header__sub-heading">
                        Would you like help from us to replace your locks and keys or gain entry to your home or vehicle if they were&#8230;
                    </p>
                    <ul class="list list--bullet--small">
                        <li class="list__item">Lost</li>
                        <li class="list__item">Stolen</li>
                    </ul>
                    <p class="demands-and-needs__price" data-testid="DemandsAndNeeds__@(Model.Id)__DemandsAndNeeds_Price">
                        Prices from
                        @if (Model.IsAnnual)
                        {
                            <strong>&pound;@Model.AnnualPrice /year</strong>
                        }
                        else
                        {
                            <strong>&pound;@Model.MonthlyPrice /month*</strong>
                            <text>(&pound;@Model.AnnualPrice /year)</text>
                            <span class="feature-header__interest">*Monthly price excludes interest</span>
                        }
                    </p>
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected) { <text> hide </text> }">

                <p class="feature-header__sub-heading">
                    &pound;1000 of cover for your @Model.ProductType.ToLower(), home and even your business premises keys.
                </p>

                <div class="keycare-diagram">
                    <div class="keycare-diagram__current-section">
                        <h3 class="keycare-diagram__current-title">
                            Already covered
                        </h3>
                        <div class="keycare-diagram__cover-bar keycare-diagram__cover-bar--current"></div>
                        <div class="keycare-diagram__cover-item keycare-diagram__cover-item--current">
                            <div class="keycare-diagram__image-wrapper keycare-diagram__image-wrapper--current">
                                <img class="keycare-diagram__image keycare-diagram__image--stolen-keys" src="@(keyCareImagePath)" alt="">
                            </div>
                            <p class="keycare-diagram__cover-text">
                                Stolen @Model.ProductType.ToLower() keys
                            </p>
                        </div>
                    </div>
                        
                    <div class="keycare-diagram__added-section">
                        <h3 class="keycare-diagram__added-title">
                            With Keycare cover - lost &amp; stolen keys
                        </h3>
                        <div class="keycare-diagram__cover-bar keycare-diagram__cover-bar--added"></div>
                        <div class="keycare-diagram__item-wrapper">
                            <div class="keycare-diagram__cover-item">
                                <div class="keycare-diagram__image-wrapper keycare-diagram__image-wrapper--added">
                                    <img class="keycare-diagram__image keycare-diagram__image--added" src="@(basePath)icon-keycare-house.svg" alt="House Keys Icon">
                                </div>
                                <p class="keycare-diagram__cover-text keycare-diagram__cover-text--added">
                                    House keys
                                </p>
                            </div>

                            <div class="keycare-diagram__cover-item">
                                <div class="keycare-diagram__image-wrapper keycare-diagram__image-wrapper--added">
                                    <img class="keycare-diagram__image keycare-diagram__image--added keycare-diagram__image--other-keys" src="@(basePath)icon-keycare-bike.svg" alt="Other Vehicle Keys Icon">
                                </div>
                                <p class="keycare-diagram__cover-text keycare-diagram__cover-text--added">
                                    Other vehicle keys
                                </p>
                            </div>

                            <div class="keycare-diagram__cover-item">
                                <div class="keycare-diagram__image-wrapper keycare-diagram__image-wrapper--added">
                                    <img class="keycare-diagram__image keycare-diagram__image--added" src="@(basePath)icon-keycare-buildings.svg" alt="Business Keys Icon">
                                </div>
                                <p class="keycare-diagram__cover-text keycare-diagram__cover-text--added">
                                    Business keys
                                </p>
                            </div>

                            <div class="keycare-diagram__cover-item">
                                <div class="keycare-diagram__image-wrapper keycare-diagram__image-wrapper--added">
                                    <img class="keycare-diagram__image keycare-diagram__image--added" src="@(basePath)icon-keycare-lock.svg" alt="Padlock Keys Icon">
                                </div>
                                <p class="keycare-diagram__cover-text keycare-diagram__cover-text--added">
                                    Padlock keys
                                </p>
                            </div>

                            <div class="keycare-diagram__cover-item">
                                <div class="keycare-diagram__image-wrapper keycare-diagram__image-wrapper--added">
                                    <img class="keycare-diagram__image keycare-diagram__image--added" src="@(basePath)icon-keycare-key.svg" alt="Any Other Keys Icon">
                                </div>
                                <p class="keycare-diagram__cover-text keycare-diagram__cover-text--added">
                                    Or any keys
                                </p>
                            </div>

                        </div>
                    </div>
                </div>



                <p class="addon__text">
                    Access to a national network of locksmiths, cover for keys that have been permanently lost, stolen, or locked in the building or vehicle, new locks, and even reprogramming your immobiliser with no excess to pay.
                </p>

                <div class="fbels" id="keycare-fbels-main">
                    <div class="fbels__section">
                        <h3 class="h4 fbels__heading fbels__heading--cover">Key benefits</h3>
                        <ul class="list list--fbels list--fbels-cover">
                            <li class="list__item">
                                Emergency helpline available 24 hours a day, 365 days per year
                            </li>
                            <li class="list__item">
                                Up to &pound;1000 of cover per year for lost or stolen keys
                            </li>
                            <li class="list__item">
                                Keys for any lock are covered
                            </li>
                        </ul>
                    </div>
                    <div class="fbels__section">
                        <h3 class="h4 fbels__heading fbels__heading--remember">Things to remember</h3>
                        <ul class="list list--fbels list--fbels-remember">
                            <li class="list__item info">
                                Claims must be reported within 30 days
                            </li>
                            <li class="list__item info">
                                Claims relating to damaged keys or locks, or the result of wear and tear are not covered
                            </li>
                            <li class="list__item info">
                                Lost keys will usually require a period of three days before being replaced
                            </li>
                        </ul>
                    </div>
                </div>

                <p class="admin-text">Administered by Keycare Ltd and underwritten by Ageas Insurance Ltd.</p>
                @Html.Partial("_IPIDDemandsAndNeeds", "keycare")
            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}
