﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Components.DemandsAndNeeds.Models

@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = Model.TenantConfiguration.ResourceBasePath;

    var titleModel = new AddOnTitleModel
    {
        IconClass = "ui-icon-legal-protection",
        Title = "Don't get stung by expensive legal fees. Add Motor Legal Protection"
    };

    var introductionText = new AddOnParagraphWithBoldContent
    {
        FirstPart = "If you're involved in an accident that wasn't your fault, costly legal fees can really add to the stress.",
        SecondPartBold = "Motor Legal Protection",
        ThirdPart = "will help you pay for legal expenses and claim back any costs."
    };

    var addOnFeatureCards = new List<AddOnFeatureCardModel>
    {
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-mlp-safe-hands",
            Title = "You're in safe hands",
            Text = "You'll have access to a free Legal Advice Helpline"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-mlp-protect-you",
            Title = "We'll protect you",
            Text = "Defence against motoring prosecutions"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-mlp-at-a-loss",
            Title = "Don't be at a loss",
            Text = "Claim compensation for personal injury and lost earnings"
        }
    };

    var hassleFree = new AddOnHeadingAndParagraph
    {
        Heading = string.Empty,
        Paragraphs = new List<string>
        {
            "Motor Legal Protection is a hassle-free way of protecting yourself by making sure a non-fault accident does not change your life. Here's how it works..."
        }
    };

    var steps = new List<AddOnFeatureCardModel>
    {
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-mlp-content-accident",
            Text = "You're involved in an accident that wasn't your fault"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-mlp-content-legal-fees",
            Text = "Legal fees to claim compensation back from the driver at fault can be huge"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-mlp-content-fees-covered",
            Text = "These fees, amongst other costs, will be covered for you with Motor Legal Protection"
        }
    };

    var whatDoesMlpGiveYou = new AddOnHeadingAndParagraph
    {
        Heading = "What does Motor Legal Protection give you that car insurance doesn't?",
        Paragraphs = new List<string>
        {
            "Motor Legal Protection is there to help you recover losses that are not covered by other insurance you may have."
        }
    };

    var tickedListItems = Model.CustomTickedItemsList ?? new List<string>
    {
        "Up to \u00A3100,000 of legal costs cover if you're involved in a non-fault accident",
        "Up to \u00A320,000 of legal expenses for motor prosecution defence",
        "Help reclaiming loss of earnings",
        "Help reclaiming medical expenses",
        "Help reclaiming lost excesses",
        "Advice on motor legal issues via our dedicated helpline"
    };

    var whatElseIsThere = new AddOnHeadingAndParagraph
    {
        Heading = "What else is there to know?",
        Paragraphs = new List<string>()
    };

    var whatElseIsThereToKnowListItems = new List<string>
    {
        "Uninsured loss claims must be reported within 180 days of the accident, and the third party must have valid motor insurance at the time of the accident",
        "Motoring prosecution defence does not cover any fines or penalties, or any charges relating to drink or drugs",
        "Personal Injury claims must be as a result of a motor related accident",
        "There must be a reasonable chance of case success"
    };

    var smallPrint = $"Administered by {Model.Supplier}, underwritten by {Model.Underwriter}";
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))

{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "mlp-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "mlp-covername" })
    @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "mlp-SelectedCoverLevelCode" })

    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if (@Model.IsDisabledOnPageLoad) { <text> aria-hidden="true" </text> } data-type="addon-content">
        <div class="addon-primary">
            @Html.Partial("_AddOnTitle", titleModel)
            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">
                    @Html.Partial("_AddOnParagraphWithBoldContentHiddenOnMobile", introductionText)

                    @Html.Partial("_AddOnFeatureCardsWithIconsHiddenOnMobile", addOnFeatureCards)

                    @Html.Partial("_AddOnPriceFrom", Model)
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected) { <text> hide </text> }">
                @if (Model.AllTiersAreFree && !string.IsNullOrEmpty(Model.FreeAddonInformation))
                {
                    @Html.Partial(Model.FreeAddonInformation)
                }
                else if (Model.AllTiersAreFree)
                {
                    @Html.Partial("_MlpExtraText")
                }

                @Html.Partial("_AddOnHeadingAndParagraphs", hassleFree)

                @Html.Partial("_AddOnFeatureCards", steps)

                @Html.Partial("_AddOnHeadingAndParagraphs", whatDoesMlpGiveYou)

                <ul class="list list--fbels list--fbels-cover">
                    @Html.Partial("_AddOnBulletedList", tickedListItems)
                </ul>

                @Html.Partial("_AddOnHeadingAndParagraphs", whatElseIsThere)

                <ul class="list list--fbels list--fbels-remember">
                    @Html.Partial("_AddOnBulletedList", whatElseIsThereToKnowListItems)
                </ul>

                @Html.Partial("_AddOnSmallPrint", smallPrint)

                @Html.Partial("_IPIDDemandsAndNeeds", "legal-protection")
            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}