﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DemandsAndNeeds
@using BGL.Components.DemandsAndNeeds.Constants
@using BGL.Common.Configuration

@model BGL.Components.DemandsAndNeeds.Models.PriceProtectionAddonModel

@{
    var basePath = @Model.TenantConfiguration.ResourceBasePath;
    var year = DateTime.Now.Year;
    var nextYear = DateTime.Now.AddYears(1).Year;
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "priceprotect-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "priceprotect-covername" })
    @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "priceprotect-SelectedCoverLevelCode" })


    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if(@Model.IsDisabledOnPageLoad){<text>aria-hidden="true"</text>} data-type="addon-content" >
        <div class="addon-primary">
            <div class="addon-primary__title">
                <i class="addon-primary__icon ui-icon-price-protection"></i>
                <h2 tabindex="-1" class="addon-primary__title__text">
                    <strong>Price Protection</strong>
                </h2>
            </div>

            <div class="addon-main__content">

                <p class="feature-header__sub-heading">
                    Guarantees your price won't go up next year**
                </p>

                @Html.Partial("_PriceSectionForPriceProtection", Model.TotalAnnualInsurancePremium)

                <div class="fbels" id="keycare-fbels-main">
                    <div class="fbels__section">
                        <h3 class="h4 fbels__heading fbels__heading--cover">What it covers</h3>
                        <ul class="list list--fbels list--fbels-cover">
                            <li class="list__item">
                                Ensure the price we offer at renewal will be less than or the same as the price paid the previous year
                            </li>
                            <li class="list__item">
                                The price will remain protected even if you are involved in an at-fault claim
                            </li>
                            <li class="list__item">
                                If you make a change to your policy that changes your price, the price following the change will be protected at renewal
                            </li>
                        </ul>
                    </div>
                    <div class="fbels__section">
                        <h3 class="h4 fbels__heading fbels__heading--remember">**Things to remember</h3>
                        <ul class="list list--fbels list--fbels-remember">
                            <li class="list__item info">
                                If we are unable to provide a renewal quote to you from our panel of insurers, a full refund of the premium you paid for Price Protect will be issued to you
                            </li>
                            <li class="list__item info">
                                Price Protect covers the price of your car insurance policy, the price paid for additional optional products is not covered
                            </li>
                            <li class="list__item info">
                                Price Protect can only be purchased in conjunction with Protected No Claims Discount
                            </li>
                            <li class="list__item info">
                                If you make more than 2 at-fault claims in a 3 year period the premium will not be protected
                            </li>
                        </ul>
                    </div>
                </div>

                <p class="admin-text">Provided and administered by BISL Ltd.</p>
            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}
