﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using System.Web.Routing
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Extensions

@model BGL.Components.DemandsAndNeeds.Models.AddOnsViewModel

@{
    var basePath = @Model.AddOns.First().TenantConfiguration.ResourceBasePath;
    var componentId = @Model.ComponentConfiguration.Id;
}

<div class="page-section addon-section" data-testid="@(componentId)__addons">
    <div class="page-section--inner">
        <div class="singlepage-addon__title">
            <i class="addon-primary__icon ui-icon-bundled-addons"></i>
            <h1 class="feature-header__heading">Optional Extras</h1>
        </div>
        <p class="h4 singlepage-addon__title__text">Please don't select any extras if you have cover elsewhere or if this policy already covers your needs.</p>
        <div id="demands-and-needs-isAnnual" class="hide">@Model.AddOns.First().IsAnnual</div>
        <ul class="addons list--plain">
            @foreach (var addOn in Model.AddOns)
            {
                <li>
                    @Html.Partial(addOn.ViewName, addOn)
                </li>
            }
        </ul>
    </div>
</div>

<div class="page-section">
    <div class="page-section--inner">
        <div class="button-container">
            <button id="continue-button" class="button button--primary button--large button--right" type="button" data-testid="continue-button">
                <strong>Next: </strong><span id="next-button-span">Review details</span>
            </button>
            <a id="back-button" class="button button--text button--large button--back button--left" data-testid="extras-back-button" href="@Model.PreviousPageUrl">
                Back
            </a>
        </div>
    </div>
</div>
