@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums
@using BGL.Components.CoverDetails.ViewOptions
@using BGL.Components.CoverRange
@using BGL.Components.CoverRange.ViewOptions
@using BGL.Components.DemandsAndNeeds
@using BGL.Components.DemandsAndNeeds.Constants
@using BGL.Components.OptionalExtras
@using BGL.Components.DriverDetails
@using BGL.Components.MarketingPreferences
@using BGL.Components.PageReloader
@using BGL.Components.VehicleDetails
@using BGL.Web.PostOffice.MotorQuote.Constants
@using CoverRangeViewType = BGL.Components.CoverRange.Enums.ViewType;
@using DriverDetailsJourneyTypes = BGL.Components.DriverDetails.Enums.JourneyTypes;
@using ViewOptionsConfiguration = BGL.Components.CoverDetails.ViewOptions.ViewOptionsConfiguration
@using CoverRangeViewOptions = BGL.Components.CoverRange.ViewOptions.ViewOptionsConfiguration;

@{
    ViewBag.Title = "Review Your Details";

    var config = DependencyResolver.Current.GetService<IConfig>();
    var employmentStatusCodes = new List<string>
    {
        "E",
        "S",
        "C",
        "D",
        "T",
        "V"
    };

    bool.TryParse(Html.ComponentRenderIsPlusSelected(new ComponentCoverDetailsProductVariantsConfiguration
    {
        PremiumKey = PremiumProductVariantKey.PostOfficePremier
    }).ToString(), out var isPlusSelected);
}
<div class="page-section">
    <div class="page-section--inner">
        <h1 class="page-heading__heading">Review your details</h1>
        <p class="page-heading__text">This policy is designed to meet your demands and needs for the vehicle and details shown below:</p>
    </div>
</div>
<div class="page-section">
    <div class="page-section--inner">
        <div class='accordion'>
            <div class="accordion__section">
                <h2 class="h5 accordion__heading-wrapper">
                    <button class="accordion__heading-button" data-accordion-key="budget-review-overview-accordion" aria-expanded="true">
                        Overview
                    </button>
                </h2>
                <div id="Overview-Accordion-Section" class="accordion__body-wrapper start-open">
                    <div class="accordion__body-content">
                        <div class="review-overview">
                            <div class="review-overview__section">
                                @Html.ComponentRenderVehicleDetails(new ComponentVehicleDetailsConfiguration
                                {
                                    Id = "VehicleLookup",
                                    ManufactureListInUpperCase = new List<string> {"BMW", "MG", "SEAT"},
                                    ManufacturerKeys = new List<string>
                                    {
                                        "FO",
                                        "VA",
                                        "VW",
                                        "PE",
                                        "NI",
                                        "BM",
                                        "R1",
                                        "CI",
                                        "TO",
                                        "AU",
                                        "ME",
                                        "HO",
                                        "FI"
                                    },
                                    WrongVehicleTypeForVanInsValidationErrorMessage = BrandConstants.WrongVehicleTypeForVanInsValidationErrorMessage,
                                    WrongVehicleTypeForCarInsValidationErrorMessage = BrandConstants.WrongVehicleTypeForCarInsValidationErrorMessage,
                                    VanErrorMessageUrl = BrandConstants.VanErrorMessageUrl,
                                    CarErrorMessageUrl = BrandConstants.CarErrorMessageUrl,
                                    TenantConfiguration = config.GetTenantConfiguration(),
                                    ModificationItemsLimit = 10,
                                    SummaryButtonText = "Continue",
                                    ModificationButtonText = "Continue"
                                })
                                <table class="accordion-table">
                                    @Html.ComponentRenderCoverOverview(new ComponentCoverDetailsConfiguration
                                    {
                                        Id = "CoverOverview",
                                        ExcessConfiguration = new ExcessConfiguration
                                        {
                                            VoluntaryExcessAvailableAmounts = new List<int> {0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500}
                                        },
                                        ViewOptions = new ViewOptionsConfiguration 
                                        {
                                            CarComprehensive = CarComprehensive.DrivingAbroad60Days,
                                            CarThirdPartyFireAndTheft = CarThirdPartyFireAndTheft.WithoutDrivingOtherCars,
                                            NoClaimsDiscountAccordion = NoClaimsDiscountAccordion.AcceptableProof,
                                            NoClaimsDiscountHeader = NoClaimsDiscountHeader.WithoutInfo,
                                            VanComprehensive = VanComprehensive.DrivingAbroad30Days
                                        },
                                        TenantConfiguration = config.GetTenantConfiguration()
                                    })
                                    @Html.ComponentRenderCoverRange(new ComponentCoverRangeConfiguration
                                    {
                                        Id = "OverviewCoverRangeStartDate",
                                        ViewType = CoverRangeViewType.StartDate,
                                        ViewOptions = new CoverRangeViewOptions { PartialDatePicker = PartialDatePicker.BglPartialDatePicker },
                                        TenantConfiguration = config.GetTenantConfiguration()
                                    })
                                </table>
                            </div>
                            <div class="review-overview__section">
                                @Html.ComponentRenderDriverDetailsDriverBubbles(new ComponentDriverDetailsConfiguration
                                {
                                    Id = "DriverBubbles",
                                    JourneyType = DriverDetailsJourneyTypes.AdditionalDriver,
                                    TenantConfiguration = config.GetTenantConfiguration(),
                                    StatusCodesToAskOccupation = employmentStatusCodes
                                })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.ComponentRenderVehicleDetailsList(new ComponentVehicleDetailsConfiguration
            {
                Id = "VehicleDetails",
                ManufactureListInUpperCase = new List<string> {"BMW", "MG", "SEAT"},
                ManufacturerKeys = new List<string>
                {
                    "FO",
                    "VA",
                    "VW",
                    "PE",
                    "NI",
                    "BM",
                    "R1",
                    "CI",
                    "TO",
                    "AU",
                    "ME",
                    "HO",
                    "FI"
                },
                WrongVehicleTypeForVanInsValidationErrorMessage = BrandConstants.WrongVehicleTypeForVanInsValidationErrorMessage,
                WrongVehicleTypeForCarInsValidationErrorMessage = BrandConstants.WrongVehicleTypeForCarInsValidationErrorMessage,
                VanErrorMessageUrl = BrandConstants.VanErrorMessageUrl,
                CarErrorMessageUrl = BrandConstants.CarErrorMessageUrl,
                TenantConfiguration = config.GetTenantConfiguration(),
                ModificationItemsLimit = 10,
                SummaryButtonText = "Continue",
                ModificationButtonText = "Done"
            })
            @Html.ComponentRenderDriverDetails(new ComponentDriverDetailsConfiguration
            {
                Id = "DriverDetails",
                TenantConfiguration = config.GetTenantConfiguration(),
                StatusCodesToAskOccupation = employmentStatusCodes
            })
            <div class="accordion__section">
                <h2 class="h5 accordion__heading-wrapper">
                    <button class="accordion__heading-button" data-accordion-key="budget-review-cover-accordion" aria-expanded="false">Cover</button>
                </h2>
                <div class="accordion__body-wrapper">
                    <div class="accordion__body-content">
                        @Html.ComponentRenderCoverDetails(new ComponentCoverDetailsConfiguration
                        {
                            Id = "CoverDetails",
                            DataStoreKey = "CoverDetails",
                            ExcessConfiguration = new ExcessConfiguration
                            {
                                VoluntaryExcessAvailableAmounts = new List<int> { 0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500 }
                            },
                            ViewOptions = new ViewOptionsConfiguration 
                            {
                                CarComprehensive = CarComprehensive.DrivingAbroad60Days,
                                CarThirdPartyFireAndTheft = CarThirdPartyFireAndTheft.WithoutDrivingOtherCars,
                                NoClaimsDiscountAccordion = NoClaimsDiscountAccordion.AcceptableProof,
                                NoClaimsDiscountHeader = NoClaimsDiscountHeader.WithoutInfo,
                                VanComprehensive = VanComprehensive.DrivingAbroad30Days
                            },
                            TenantConfiguration = config.GetTenantConfiguration()
                        })
                    </div>
                </div>
            </div>
            @Html.ComponentRenderOptionalExtras(new ComponentOptionalExtrasConfiguration
            {
                Id = "OptionalExtras",
                TenantConfiguration = config.GetTenantConfiguration(),
            })
        </div>
    </div>
    <div class="page-section">
        <div class="page-section--inner">
            <h3 class="h4">Marketing preferences</h3>
            <p>Post Office Insurance would like to keep you up to date with news &amp; special offers. By selecting your preferences below, you are agreeing to be contacted by Post Office Money Insurance Services.</p>
            @Html.ComponentRenderMarketingPreferences(new ComponentMarketingPreferencesConfiguration
            {
                Id = "SalesMarketingPreferences",
                TenantConfiguration = config.GetTenantConfiguration()
            })
            <p>You can stop receiving updates at any time by accessing your account or contacting customer services.</p>
        </div>
    </div>
    <div class="page-section">
        <div class="page-section--inner">
            <div class="button-container">
                <a class="button button--primary button--large button--right" href="@Url.Action("Index", "AdditionalDetails")"><strong>Next</strong></a>
                <a class="button button--text button--large button--back button--left"
                   id="OptionalExtrasBack"
                   data-cover-details-addon-back-button="review"
                   href="@Html.ComponentRenderDemandsAndNeedsExtrasBackButtonUrl(new ComponentDemandsAndNeedsBackButtonConfiguration
                         {
                             Addons = new List<string>
                             {
                                 DemandsAndNeedsServiceConstants.MotorLegalProtection,
                                 DemandsAndNeedsServiceConstants.GuaranteedReplacementCar,
                                 DemandsAndNeedsServiceConstants.RacBreakdownAssistance
                             },
                             AddonsUrl =  @Url.Action("Index", "Extras"),
                             PncdUrl = @Url.Action("Index", "Extras"),
                             AllExtrasUnavailableUrl = @Url.Action("Index", "PricePresentation"),
                         }).ToString()">Back</a>
            </div>
        </div>
    </div>
</div>
@Html.ComponentRenderCleanAddonsLoader()
@section scripts{
    <script>
        $(document).ready(function () {
            bgl.common.accordions.init();
        });
    </script>
}

