@using BGL.Components.ContactDetails.Models
@model ContactDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div id="@componentId" class="contact-details">
    <h2 class="contact-details__telephone">
        Call us on <a data-testid="@(componentId)__phone-number" href="tel:@Model.ContactDetails.PhoneNumber">@Model.ContactDetails.PhoneNumber</a>
    </h2>
    <ul class="list">
        @foreach (var openingHours in Model.ContactDetails.OpeningHours)
        {
            <li class="flex">
                <span class="contact-details__days" data-testid="@(componentId)__opening-days-@openingHours.DayFrom">@openingHours.DayRange</span>
                <span class="contact-details__times" data-testid="@(componentId)__opening-times-@openingHours.DayFrom">@openingHours.TimeRange</span>
            </li>
        }
    </ul>
</div>