﻿@using System.Web.Mvc.Html
@using BGL.Common.ErrorModule
@using BGL.Common.Utility.Extensions
@model BGL.Components.CoverRange.Models.CoverRangeViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;

    var state = Model.ComponentState.ToString().ToLower();
}

<div  id="@componentId" data-component-state="@state" data-url="@Url.Action("CoverRange", "CoverRangeComponent")" class="cover-range" data-testid="@(componentId)__section">
    <div class="cover-range__bar-wrapper">
        <div class="cover-range__bar">
            <div class="cover-range__disc"></div>
        </div>
    </div>
    <div class="cover-range__date-wrapper">
        <div class="cover-range__date-section">
            <p class="cover-range__date-title" data-testid="@(componentId)__start-date__label">Start date</p>
            <p class="cover-range__date-text" data-testid="@(componentId)__start-date">@Model.CurrentDates.StartDate</p>
            @if (Model.EffectiveDates?.IsEditable == true)
            {
                <button id="@(componentId)_edit-cover-range"
                        data-toggle="slide-panel"
                        data-target="#SlidePanel"
                        data-container="SlidePanelContent"
                        data-url="@Url.Action("DatePicker")"
                        data-testid="@(componentId)__edit-button"
                        class="button button--secondary button--xs button--left cover-range__button"
                        aria-label="Edit start date">
                    Edit
                </button>
            }
        </div>
        <div class="cover-range__date-section cover-range__date-section--end">
            <p class="cover-range__date-title" data-testid="@(componentId)__end-date__label">End date</p>
            <p class="cover-range__date-text" data-testid="@(componentId)__end-date">@Model.CurrentDates.EndDate</p>
        </div>
    </div>
    @if (Model.ComponentState == ComponentState.PartialError)
    {
        <span class="field-validation-error form-row__validation-text">Please select a valid date</span>
    }
</div>
