﻿@using BGL.Common.ErrorModule
@model BGL.Components.CoverRange.Models.CoverRangeViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var imageUrl = Model.ComponentConfiguration.WidgetImageUrl;
    var dateData = Model.CurrentDates.StartDateData;
    var state = Model.ComponentState.ToString().ToLower();
}

<li class="list-item policy-detail" data-component-state="@state">
    <img class="policy-detail__image" src="@imageUrl" alt="">
    <span class="policy-detail__heading">Starting <span class="text-bold" data-testid="@(componentId)__heading">@dateData.Date <abbr title=@dateData.FullMonth>@dateData.Month</abbr> @dateData.Year</span></span>
    
    @if (Model.ComponentState == ComponentState.PartialError)
    {
        <span class="field-validation-error form-row__validation-text">Please select a valid date</span>
    }
    
    @if (Model.EffectiveDates?.IsEditable == true)
    {
        <button id="@(componentId)_edit-cover-range"
                data-toggle="slide-panel"
                data-target="#SlidePanel"
                data-container="SlidePanelContent"
                data-url="@Url.Action("DatePicker")"
                data-testid="@(componentId)__edit-button"
                class="button button--secondary button--xs cover-range-widget__button">
            Change date
        </button>
    }
</li>
