﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverRange.Enums
@model BGL.Components.CoverRange.Models.CoverRangeViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var effectiveDates = Model.EffectiveDates;
    var formId = $"{Model.ComponentConfiguration.Id}_form-cover-range";
    var backButtonUrl = Model.ComponentConfiguration.BackButtonUrl;
}

    <div data-component-id="@componentId">
        @using (Html.BeginFormBgl("Confirm", "CoverRangeComponent", FormMethod.Post, new
        {
            id = formId,
            data_store_key = "partialDatePicker",
            @class = "step-form",
            data_on_success = "bgl.components.datepicker.onSuccess",
            data_on_error = "bgl.components.datepicker.onError"
        }))
        {
            if (Model.ComponentConfiguration.JourneyType == JourneyType.MultiStepEdit)
            {
                if (!Model.ComponentConfiguration.IsService)
                {
                    <h1 class="step-form__section-title">Your cover</h1>

                    <h2 class="step-form__heading">
                        When would you like your cover to start?
                    </h2>
                }
                else
                {
                    <h2 class="step-form__heading">
                        When would you like the change(s) to take place?
                    </h2>
                }
            }
            @Html.AntiForgeryToken()
            if (!Model.ComponentConfiguration.IsService)
            {
                <p data-testid="@(componentId)__range" class="date-picker-v2__sub-text">Pick any date from today to @effectiveDates.EffectiveDatesRange.Range days time</p>
            }
            <div class="date-picker date-picker__dts">
                <div class="date-picker__section date-picker__section--calendar">
                    <div id="datepicker"
                         data-selected-date="@effectiveDates.SelectedEffectiveDate"
                         data-earliest-date="@effectiveDates.EffectiveDatesRange.Earliest"
                         data-latest-date="@effectiveDates.EffectiveDatesRange.Latest">
                    </div>
                </div>
                <div class="date-picker__section date-picker__section--actions">
                    <div class="date-picker__action-box">
                        <h1 class="h3 date-picker__action-box-heading">Cover start date</h1>
                        <p class="date-picker__selected-date-wrapper">
                            <strong class="date-picker__selected-day" data-testid="@(componentId)__selected-day"></strong>
                            <strong class="date-picker__selected-month" data-testid="@(componentId)__selected-month"></strong>
                        </p>

                        <p class="date-picker__date-sub-text" id="datePickerSubText">
                            @if (Model.ComponentConfiguration.IsService)
                            {
                                <text>
                                    Cover will start with immediate effect
                                </text>
                            }
                            else
                            {
                                <text>
                                    Cover will start at 00:01 hours
                                </text>
                            }
                        </p>
                        <div class="date-picker__button-wrapper">
                            <div class="date-picker__button-sub-wrapper">
                                <button data-testid="@(componentId)__start-today-button" tabindex="0" class="button button--secondary button--xs date-picker__sub-button date-picker__sub-button--today" disabled>Start today</button>
                                <button data-testid="@(componentId)__start-tomorrow-button" tabindex="0" class="button button--secondary button--xs date-picker__sub-button date-picker__sub-button--tomorrow" disabled>Start tomorrow</button>
                            </div>
                        </div>
                        @if (!Model.ComponentConfiguration.IsService)
                        {
                            <button type="submit" id="@(componentId)_submit-cover-range-button" data-testid="@(componentId)__confirm-button"
                                    class="button button--primary date-picker__button slide-panel__close" data-panel="Date-Picker-Panel" disabled>
                                Confirm
                            </button>
                        }
                        else
                        {
                            <button type="submit" id="@(componentId)_submit-cover-range-button" data-testid="@(componentId)__confirm-button" data-disable-submit
                                    class="button button--primary date-picker__button slide-panel__close slide-panel-nav__next bold" data-panel="Date-Picker-Panel" disabled>
                                Get your quote
                            </button>
                        }
                    </div>
                </div>
            </div>

            <div class="form-row">
                @Html.HiddenFor(x => x.SelectedEffectiveDate, new { data_store = "CoverRangeSelectedEffectiveDate", data_val = "true" })
                @Html.ValidationMessageFor(x => x.SelectedEffectiveDate, string.Empty, new { @class = "form-row__validation-text", data_valmsg_for = "SelectedEffectiveDate", data_valmsg_replace = "true" })
            </div>

            if (Model.ComponentConfiguration.IsService)
            {
                <p>
                    If you have changed your vehicle, we will cover your current vehicle on the date you have selected either
                    until midnight or until you collect your new vehicle on the date of the change.
                </p>


                <hr />

                if (Model.ComponentConfiguration.JourneyType == JourneyType.MultiStepEdit)
                {
                    <div class="slide-panel-nav">
                        <span></span>
                        <span>
                            <a id="back-button-link" href="@backButtonUrl" data-step-type="previous-step-journey" data-component="coverrange"
                               class="button button--text button--back" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
                        </span>
                    </div>
                }
            }
            else
            {
                <div class="button-container">
                    @if (Model.ComponentConfiguration.JourneyType == JourneyType.MultiStepEdit)
                    {
                        <a id="back-button-link" href="@backButtonUrl" data-step-type="previous-step-journey" data-component="coverrange" class="button button--text button--large button--left button--back back-button-link" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
                    }
                </div>
            }
        }
    </div>
