﻿@using System.Globalization
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Linq
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverRange.Enums
@model BGL.Components.CoverRange.Models.CoverRangeViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var effectiveDates = Model.EffectiveDates;
    var formId = $"{Model.ComponentConfiguration.Id}_form-cover-range";
    var backButtonUrl = Model.ComponentConfiguration.BackButtonUrl;
    var months = Model.EffectiveDates.EffectiveMonths;
    var selectedDay = Model.EffectiveDates.SelectedDate;
    var latestAvailableDate = Model.EffectiveDates.EffectiveDatesRange.LatestAvailableDate;
    var earliestAvailableDate = Model.EffectiveDates.EffectiveDatesRange.EarliestAvailableDate;
  
}
    <div data-component-id="@componentId">
        @using (Html.BeginFormBgl("Confirm", "CoverRangeComponent", FormMethod.Post, new
        {
            id = formId,
            data_store_key = "partialDatePicker",
            @class = "step-form",
            data_on_success = "bgl.components.bgldatepicker.onSuccess",
            data_on_error = "bgl.components.bgldatepicker.onError"
        }))
        {
            if (Model.ComponentConfiguration.JourneyType == JourneyType.MultiStepEdit)
            {
                if (!Model.ComponentConfiguration.IsService)
                {
                    <h1 class="step-form__section-title">Your cover</h1>
                    <h2 class="step-form__heading">
                        When would you like your cover to start?
                    </h2>
                }
                else
                {
                    <h1 class="h2 step-form__heading">
                        When would you like the change(s) to take place?
                    </h1>
                }
            }
            @Html.AntiForgeryToken()
            if (!Model.ComponentConfiguration.IsService)
            {
                <p data-testid="@(componentId)__range" class="date-picker-v2__sub-text">Pick any date from today to @effectiveDates.EffectiveDatesRange.Range days time</p>
            }
            <div class="date-picker-v2 date-picker-v2__dts-v2"
                 data-selected-date="@effectiveDates.SelectedEffectiveDate"
                 data-earliest-date="@effectiveDates.EffectiveDatesRange.Earliest"
                 data-latest-date="@effectiveDates.EffectiveDatesRange.Latest">
                <div class="calendar-v2" aria-label="calendar">
                    <div aria-label="calendar Navigation" class="calendar-nav-v2 u-flex">
                        @for (var i = 0; i < months.Count; i++)
                        {
                            var month = months[i];
                            var firstDay = month.First();
                            var hide = firstDay.Month != selectedDay.Month ? " hide" : "";
                            <div class="calendar-nav-v2--month-year @hide" data-month-index="@i" data-testid="@(componentId)__month-year">
                                @{
                                    var previousDisabled = i == 0 ? " disabled" : "";
                                    var previousMonthDay = i == 0 ? firstDay.AddDays(-1) : months[i - 1].First();
                                }
                                <button class="previous calendar-nav-v2--button @previousDisabled" type="button" aria-label="Previous month, @previousMonthDay.ToString("MMMM yyyy")" data-testid="@(componentId)__previous-month-button"></button>
                                <div class="calendar-nav-v2--selects">
                                    <div class="calendar-nav-v2--select">
                                        <div class="calendar-v2-month-year">
                                            @month.First().ToString("MMMM yyyy")
                                        </div>
                                    </div>
                                </div>
                                @{
                                    var nextDisabled = i == months.Count - 1 ? " disabled" : "";
                                    var nextMonthDay = i == months.Count - 1 ? month.Last().AddDays(1) : months[i + 1].First();
                                }
                                <button class="next calendar-nav-v2--button @nextDisabled" type="button" aria-label="Next month, @nextMonthDay.ToString("MMMM yyyy")" data-testid="@(componentId)__next-month-button"></button>
                            </div>
                        }
                    </div>
                    <div class="calendar-grid">
                        <div class="calendar-v2-days calendar-v2-row" aria-hidden="true">
                            <span class="calendar-v2-item--day">Su</span>
                            <span class="calendar-v2-item--day">Mo</span>
                            <span class="calendar-v2-item--day">Tu</span>
                            <span class="calendar-v2-item--day">We</span>
                            <span class="calendar-v2-item--day">Th</span>
                            <span class="calendar-v2-item--day">Fr</span>
                            <span class="calendar-v2-item--day">Sa</span>
                        </div>
                        <div id="calendar-dates" aria-label="calendar dates" role="application">
                            @for (var i = 0; i < months.Count; i++)
                            {
                                
                                var month = months[i];
                                var displayedDays = new List<DateTime?>();
                                var noDaysCountBeforeFirstDay = (int)month.First().DayOfWeek;
                                var noDaysAfterLastDay = DayOfWeek.Saturday - month.Last().DayOfWeek;
                                displayedDays.AddRange(Enumerable.Repeat((DateTime?)null, noDaysCountBeforeFirstDay));
                                displayedDays.AddRange(month.Cast<DateTime?>());
                                displayedDays.AddRange(Enumerable.Repeat((DateTime?)null, noDaysAfterLastDay));
                                var rowsCount = (int)Math.Ceiling((double)displayedDays.Count / 7);
                                var monthRows = Enumerable.Range(0, rowsCount).Select(x => displayedDays.Skip(x * 7).Take(7)).ToList();
                                var hide = month.First().Month != selectedDay.Month ? " hide" : "";
                                <div class="calendar-month-dates @hide" data-month-index="@i" data-testid="@(componentId)__calendar-month-dates">
                                    @foreach (var row in monthRows)
                                    {
                                        <div class="calendar-v2-row">
                                            @foreach (var day in row)
                                            {
                                                if (day.HasValue)
                                                {
                                                    var isItemUnavailable = day.Value < earliestAvailableDate || day.Value > latestAvailableDate ? " calendar-v2-item--unavailable" : "";
                                                    <button class="calendar-v2-item @isItemUnavailable" type="button" aria-label="@day.Value.Day, @day.Value.DayOfWeek.ToString() @day.Value.ToString("MMMM", CultureInfo.InvariantCulture) @day.Value.Year" tabindex="-1" data-date="@day.Value.ToString("dd/MM/yyyy")" data-testid="@(componentId)__calendar-month-dates-item">
                                                        @day.Value.Day
                                                    </button>
                                                }
                                                else
                                                {
                                                    <span class="calendar-v2-item calendar-v2-item--empty"></span>
                                                }
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <span id="calendar-updates" class="visually-hidden-v2" aria-live="assertive"></span>
                </div>
                <div class="date-picker-v2__section date-picker-v2__section--actions">
                    <div class="date-picker-v2__action-box">
                        <h2 class="h3 date-picker-v2__action-box-heading">Cover start date</h2>
                        <p class="date-picker-v2__selected-date-wrapper">
                            <strong class="date-picker-v2__selected-day" data-testid="@(componentId)__selected-day"></strong>
                            <strong class="date-picker-v2__selected-month" data-testid="@(componentId)__selected-month"></strong>
                        </p>
                        <p class="date-picker-v2__date-sub-text" id="datePickerSubText">
                            @if (Model.ComponentConfiguration.IsService)
                            {
                                <text>
                                    Cover will start with immediate effect
                                </text>
                            }
                            else
                            {
                                <text>
                                    Cover will start at 00:01 hours
                                </text>
                            }
                        </p>
                        <div class="date-picker-v2__button-wrapper">
                            <div class="date-picker-v2__button-sub-wrapper">
                                <button data-testid="@(componentId)__start-today-button" tabindex="0" class="button button--secondary button--xs date-picker-v2__sub-button date-picker-v2__sub-button--today">Start today</button>
                                <button data-testid="@(componentId)__start-tomorrow-button" tabindex="0" class="button button--secondary button--xs date-picker-v2__sub-button date-picker-v2__sub-button--tomorrow">Start tomorrow</button>
                            </div>
                        </div>
                        @if (!Model.ComponentConfiguration.IsService)
                        {
                            <button type="submit" id="@(componentId)_submit-cover-range-button" data-testid="@(componentId)__confirm-button"
                                    class="button button--primary date-picker-v2__button slide-panel__close" data-panel="Date-Picker-Panel">
                                Confirm
                            </button>
                        }
                        else
                        {
                            <button type="submit" id="@(componentId)_submit-cover-range-button" data-testid="@(componentId)__confirm-button" data-disable-submit
                                    class="button button--primary date-picker-v2__button slide-panel__close slide-panel-nav__next" data-panel="Date-Picker-Panel">
                                Get your quote
                            </button>
                        }
                    </div>
                </div>
            </div>
            <div class="form-row">
                @Html.HiddenFor(x => x.SelectedEffectiveDate, new { data_store = "CoverRangeSelectedEffectiveDate", data_val = "true" })
                @Html.ValidationMessageFor(x => x.SelectedEffectiveDate, string.Empty, new { @class = "form-row__validation-text", data_valmsg_for = "SelectedEffectiveDate", data_valmsg_replace = "true" })
            </div>
            if (Model.ComponentConfiguration.IsService)
            {
                <p>
                    If you have changed your vehicle, we will cover your current vehicle on the date you have selected either
                    until midnight or until you collect your new vehicle on the date of the change.
                </p>
                <hr />
                if (Model.ComponentConfiguration.JourneyType == JourneyType.MultiStepEdit)
                {
                    <div class="slide-panel-nav">
                        <span></span>
                        <span>
                            <a id="back-button-link" href="@backButtonUrl" data-step-type="previous-step-journey" data-component="coverrange"
                               class="button button--text button--back" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
                        </span>
                    </div>
                }
            }
            else
            {
                <div class="button-container">
                    @if (Model.ComponentConfiguration.JourneyType == JourneyType.MultiStepEdit)
                    {
                        <a id="back-button-link" href="@backButtonUrl" data-step-type="previous-step-journey" data-component="coverrange" class="button button--text button--large button--left button--back back-button-link" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
                    }
                </div>
            }
        }
    </div>