﻿@using System.Web.Mvc.Html
@using BGL.Common.ErrorModule
@using BGL.Common.Utility.Extensions
@using BGL.Components.CoverRange.Models
@model BGL.Components.CoverRange.Models.PolicyCoverRangeViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;

    var state = Model.ComponentState.ToString().ToLower();
}

<div id="@componentId" data-component-state="@state" class="cover-range">

    @if (Model.Status == PolicyCoverRangeStatusViewModel.Active)
    {
        <div class="cover-range__info-wrapper active">
            <p data-testid="@(componentId)__info-message">Expires in <strong>@Model.ExpiresIn</strong></p>
        </div>
    }
    else if (Model.Status == PolicyCoverRangeStatusViewModel.Expired)
    {
        <div class="cover-range__info-wrapper">
            <p data-testid="@(componentId)__info-message">Policy Expired</p>
        </div>
    }
    else if (Model.Status == PolicyCoverRangeStatusViewModel.Cancelled)
    {
        <div class="cover-range__info-wrapper">
            <p data-testid="@(componentId)__info-message">Policy Cancelled</p>
        </div>
    }

    <div class="cover-range__bar-wrapper">
        <div class="cover-range__background-bar">
            <div class="cover-range__bar @Model.Status.ToString().ToLower()" 
                 data-bar-progress="@Model.PercentageComplete"
                 data-testid="@(componentId)__progress-bar">
                <div class="cover-range__disc progress"></div>
            </div>
        </div>
    </div>
    <div class="cover-range__date-wrapper">
        <div class="cover-range__date-section">
            <p class="cover-range__date-title" data-testid="@(componentId)__start-date__label">Start date</p>
            <p class="cover-range__date-text" data-testid="@(componentId)__start-date">@Model.Start.ToString("dd MMM yyyy").ToUpper()</p>
        </div>
        <div class="cover-range__date-section cover-range__date-section--end">
            <p class="cover-range__date-title" data-testid="@(componentId)__end-date__label">End date</p>
            <p class="cover-range__date-text" data-testid="@(componentId)__end-date">@Model.End.ToString("dd MMM yyyy").ToUpper()</p>
        </div>
    </div>
</div>
