﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.CoverRange.Models.CoverRangeViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var resourceBasePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;

    var state = Model.ComponentState.ToString().ToLower();
}

<tbody id="@componentId" data-component-state="@state" data-url="@Url.Action("CoverRange", "CoverRangeComponent")" data-testid="@(componentId)__section">
    <tr class="table-row">
        <th class="table-cell table-cell--label">
            <p>
                <span>Start date</span>
            </p>
        </th>
        <td class="table-cell table-cell--data">
            <p data-testid="@(componentId)__start-date">
                @(Model.EffectiveDates?.SelectedEffectiveDate)
            </p>
        </td>

        <td class="table-cell table-cell--edit">
            @if (Model.EffectiveDates?.IsEditable == true)
            {
                <button id="@(componentId)_edit-cover-range"
                        class="form-row__edit-button start-date_edit-button"
                        type="button"
                        data-toggle="slide-panel"
                        data-target="#SlidePanel"
                        data-container="SlidePanelContent"
                        data-url="@Url.Action("DatePicker")"
                        data-testid="@(componentId)__edit-button">
                    <img class="form-row__edit-image" src="@(resourceBasePath)icon-edit.svg" alt="Edit start date">
                </button>
            }
        </td>
    </tr>
</tbody>
