﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@model BGL.Components.PageReloader.Models.GeneratePolicyDocumentViewModel

@using (Html.BeginForm("GeneratePolicyDocument", "PageReloaderComponent", FormMethod.Get, new { id = "downloadDocumentForm" }))
{
    <input type="hidden" value="@Model.DocumentName" id="documentName" name="documentName" />
}
<div id="spinner"></div>

<div id="androidMessage" class="hide page-section">
    <div class="page-section--inner">
        <div class="spinner">
            <div class="spinner__tick"></div>
            <h1 class="h2 spinner__heading">
                Document download
            </h1>
            <p class="spinner__text">
                Please close this tab to continue once your document has downloaded
            </p>
        </div>
    </div>
</div>