﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.MotorConvictionsBuilder.MotorConvictionBuilderTypeViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var controllerName = Model.JourneyType != JourneyTypes.MultiStepEdit ? "DriverDetailsComponent" : "DriverDetailsComponentMotorConvictions";
    var backUrl = Url.Action("MotorConvictions", controllerName);
    var componentName = Model.JourneyType != JourneyTypes.MultiStepEdit ? "motorconvictionsbuilder" : "driverdetails.motorconvictionsbuilder";
    var firstName = Model.FirstName?.ToTitleCase();
    var sectionTitle = string.IsNullOrEmpty(firstName) ?
        "About your motoring conviction"
        : $"About {firstName}'s motoring conviction";
    var helpText = string.IsNullOrEmpty(firstName) ? 
        "To find the conviction code, go to the DVLA website. Alternatively, you can find it on your paper licence if you have one."
        : $"To find {firstName}'s conviction code, go to the DVLA website. Alternatively, it can be found on {firstName}'s paper licence if they have one.";
    var convictionTypeLabel = string.IsNullOrEmpty(firstName) ?
        "Select your conviction type:" :
        $"Select {firstName}'s conviction type";
}

<div data-component-id="@componentId" class="narrow">
    @using (Html.BeginFormBgl("AddMotorConvictionTypeStep", "DriverDetailsComponentMotorConvictions", FormMethod.Post, new
    {
        @class = "step-form",
        id = "add-motor-conviction",
        data_on_success = $"bgl.components.{componentName}.onSuccess",
        data_on_error = $"bgl.components.{componentName}.onError",
        data_testid = $"{componentId}__motor-conviction-type-form"
    }))
    {
        @Html.AntiForgeryToken()
        <h1 class="step-form__section-title">@sectionTitle</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">Add a motor conviction</h2>
        <div class="form-row">
            @Html.LabelFor(x => x.ConvictionType, convictionTypeLabel, new { @class = "form-row__label form-row__label--spaced", @for = "motor-conviction-type" })
            <p class="help-text__sub-text">@helpText</p>
            @Html.DropDownListFor(x => x.ConvictionType, Model.ConvictionTypes, "Please select...", new { tabindex = "0", @class = "form-row__select", id = "motor-conviction-type", data_testid = componentId + "__conviction_type_dropdownlist" })
            @Html.ValidationMessageFor(x => x.ConvictionType, string.Empty,
                new {@class = "form-row__validation-text", data_testid = componentId + "__type_validation-message"})
        </div>

        @Html.HiddenFor(x => x.PersonId)
        @Html.HiddenFor(x => x.JourneyType)
        @Html.HiddenFor(x => x.FirstName)

        for (var i = 0; i < Model.SelectedValues.Count; i++)
        {
            @Html.Hidden($"SelectedValues[{i}][Code]", Model.SelectedValues[i].Code)
            @Html.Hidden($"SelectedValues[{i}][Value]", Model.SelectedValues[i].Value)
            @Html.Hidden($"SelectedValues[{i}][BuilderStep]", (int)Model.SelectedValues[i].BuilderStep)
        }

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" formnovalidate tabindex="0" value="Continue"
                        class="button button--primary button--large button--right" data-testid="@(componentId)__continue-button">
                    Continue
                </button>

                @if (Model.JourneyType == JourneyTypes.SingleEdit || Model.JourneyType == JourneyTypes.AdditionalDriver)
                {
                    <a class="button button--text button--large button--back button--left" data-step-type="previous-step"
                       href="@backUrl" data-current-step="@Model.CurrentStep" data-testid="@(componentId)__step-back-button">Back</a>
                }
            </div>
        </div>
    }
</div>
