﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.MotorConvictionsBuilder.MotorConvictionBuilderFineAmountViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var controllerName = "DriverDetailsComponentMotorConvictions";
    var builderUrl = Url.Action("MotorConvictionsBuilder", controllerName);
    var componentName = Model.JourneyType != JourneyTypes.MultiStepEdit ? "motorconvictionsbuilder" : "driverdetails.motorconvictionsbuilder";
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ?
        "About your motoring conviction"
        : $"About {Model.FirstName.ToTitleCase()}'s motoring conviction";
}

<div data-component-id="@componentId" class="narrow">
    @using (Html.BeginFormBgl("AddMotorConviction", controllerName, FormMethod.Post, new
    {
        @class = "step-form",
        id = "add-motor-conviction",
        data_on_success = $"bgl.components.{componentName}.onSuccess",
        data_on_error = $"bgl.components.{componentName}.onError"
    }))
    {
        @Html.AntiForgeryToken()
        <h1 class="step-form__section-title">@sectionTitle</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">Add a motor conviction</h2>
        <div class="form-row">
            <p class="form-row__label form-row__label--spaced">
                @foreach (var breadcrumbPhrase in Model.Breadcrumbs.BreadcrumbsPhrases)
                {
                    if (breadcrumbPhrase.Type == BreadcrumbPhraseTypes.Text)
                    {
                        <span>@breadcrumbPhrase.Item.Value</span>
                    }
                    if (breadcrumbPhrase.Type == BreadcrumbPhraseTypes.Link)
                    {
                        if (!string.IsNullOrEmpty(@breadcrumbPhrase.Item.Code))
                        {
                            <a class="link form-row__breadcrumb-link driver-details-step-form__breadcrumb-link" 
                               data-code="@breadcrumbPhrase.Item.Code" 
                               data-testid="fine-amount-link" 
                               data-next-step="@breadcrumbPhrase.Item.BuilderStep" 
                               href="@builderUrl"
                               aria-label=" Back to @breadcrumbPhrase.Item.BuilderStepQuestion">@breadcrumbPhrase.Item.Value</a>
                        }
                    }
                }
            </p>
            <div class="form-row">
                @Html.Label("How much were you fined", new { @class = "visually-hidden", @for = "Fine-Amount" })
                @Html.TextBoxForBgl(x => x.FineAmount, new { id = "Fine-Amount", @Value = string.Empty, @class = "form-row__input form-row__input--text form-row__input--monetary", type = "number", name = "Fine-Amount", data_testid = componentId + "__fine-amount-input", tabindex = 0 })
                @Html.ValidationMessageFor(x => x.FineAmount, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__fine-amount-validation-message" })
            </div>
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" formnovalidate class="button button--primary button--large button--right" data-testid="@(componentId)__fine-amount-done-button" value="Done">Done</button>
                <a class="button button--text button--large button--back button--left" data-step-type="previous-step"
                   href="@builderUrl" data-next-step="@(Model.CurrentStep - 1)" data-testid="@(componentId)__step-back-button">Back</a>
            </div>
        </div>

        for (var i = 0; i < Model.SelectedValues.Count; i++)
        {
            @Html.Hidden($"SelectedValues[{i}][Code]", Model.SelectedValues[i].Code)
            @Html.Hidden($"SelectedValues[{i}][Value]", Model.SelectedValues[i].Value)
            @Html.Hidden($"SelectedValues[{i}][BuilderStep]", (int)Model.SelectedValues[i].BuilderStep)
        }

        @Html.HiddenFor(x => x.PersonId)
        @Html.HiddenFor(x => x.Date)
        @Html.HiddenFor(x => x.NumberOfPoints)
        @Html.HiddenFor(x => x.ConvictionType)
        @Html.HiddenFor(x => x.MonthsBan)
        @Html.HiddenFor(x => x.JourneyType)
        @Html.HiddenFor(x => x.FirstName)
    }
</div>
