﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.MotorClaims.MotorClaimBuilderViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var builderUrl = Url.Action("MotorClaimsBuilder", "DriverDetailsComponentMotorClaims");
    var backUrl = Url.Action("MotorClaims", "DriverDetailsComponent");
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) 
        ? "About your motoring claim" 
        : $"About {Model.FirstName?.ToTitleCase()}'s motoring claim";
}

<div class="step-form narrow" data-testid="@(componentId)__motor-claims-container">
    <h1 class="step-form__section-title">@sectionTitle</h1>
    <h2 class="step-form__heading" data-testid="step-form__heading">Which year did the incident occur?</h2>
    <div id="motor-claim-tiles" class="step-form__button-wrapper" data-current-step="@Model.CurrentStep">
        <fieldset>
            <legend class="visually-hidden">Which year did the incident occur?</legend>
            @foreach (var tileItem in Model.BuilderTileItems)
            {
                <button class="button button--radio step-form__button step-form-list-option" 
                        data-code="@tileItem.Code" 
                        data-next-step="@(Model.CurrentStep + 1)" 
                        href="@builderUrl"
                        data-testid="@(componentId)__tiles">
                        @tileItem.Value</button>
            }
        </fieldset>
    </div>

    @Html.HiddenFor(x => x.JourneyType)
    @Html.HiddenFor(m => m.PersonId)
    @Html.HiddenFor(x => x.FirstName)
</div>


@if (Model.JourneyType == JourneyTypes.SingleEdit || Model.JourneyType == JourneyTypes.AdditionalDriver)
{
    <div class="page-section--inner">
        <div class="button-container narrow">
            <a class="button button--text button--large button--back button--left" data-step-type="previous-step"
               href="@backUrl" data-testid="@(componentId)__step-back-button">Back</a>
        </div>
    </div>
}
