﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.AboutYouWithEmailAndTelephoneViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var jsComponentHandler = "aboutyoudriverdetails";
    var submitAction = "AboutYouConfirm";
    var submitController = "DriverDetailsComponent";
    var sectionTitle = "About you";
    var header = "Tell us about yourself";
    var submitButtonText = "Done";

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        sectionTitle = "Additional driver";
        submitButtonText = "Continue";
        header = $"Tell us about your {Model.RelationshipStatus}";
    }
    else if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        sectionTitle = "About you";
        jsComponentHandler = "driverdetails.aboutyou";
        submitButtonText = "Continue";
        submitController = "DriverDetailsComponentAboutYou";
    }

    var aboutYouViewHeaderName = Model.ComponentConfiguration.ViewOptions.AboutYouHeader.GetViewNameFromEnum(true);
}

    <div class="narrow" id="@componentId" data-component-id="@componentId">

        @using (Html.BeginFormBgl(submitAction, submitController, FormMethod.Post,
            new
            {
                id = "about-you-form",
                @class = "step-form",
                data_testid = componentId + "__form",
                data_on_success = $"bgl.components.{jsComponentHandler}.onSuccess",
                data_on_error = $"bgl.components.{jsComponentHandler}.onError",
                data_store_key = $"{Model.DataStoreKey}",
                data_next_journey_component = "maritalstatus",
            }))
        {
            @Html.AntiForgeryToken()
            <h1 class="step-form__section-title">@sectionTitle</h1>

            @Html.Partial(aboutYouViewHeaderName, header)

            <div class="form-row addon-radio__wrapper">
                <fieldset class="form-row__field-set">
                    <legend class="form-row__legend">Title</legend>

                    @foreach (var title in Model.Titles)
                    {
                        @Html.RadioButtonFor(x => x.Title, title.Key, new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "Your-Title-" + title.Key, data_store = $"{nameof(Model.Title)}", aria_describedby = "Title-error" })
                        @Html.LabelFor(x => x.Title, title.Value, new { @class = "form-row__label form-row__label--pill", @for = "Your-Title-" + title.Key, data_testid = $"{componentId}__titles" })
                    }

                    @Html.ValidationMessageFor(x => x.Title, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__title_error", role = "alert" })
                </fieldset>
                <div class="form-row__divider"></div>
            </div>

            <div class="form-row">
                @Html.LabelFor(x => x.FirstName, new { @class = "form-row__label" })
                @Html.TextBoxForBgl(x => x.FirstName, Model.FirstName, new { @class = "form-row__input", data_testid = $"{componentId}__firstName", data_store = $"{nameof(Model.FirstName)}", aria_describedby = "FirstName-error", tabindex = 0 })
                @Html.ValidationMessageFor(x => x.FirstName, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__firstName_error" })
                <div class="form-row__divider"></div>
            </div>

            <div class="form-row">
                @Html.LabelFor(x => x.LastName, new { @class = "form-row__label" })
                @Html.TextBoxForBgl(x => x.LastName, Model.LastName, new { @class = "form-row__input", data_testid = $"{componentId}__lastName", data_store = $"{nameof(Model.LastName)}", aria_describedby = "LastName-error", tabindex = 0 })
                @Html.ValidationMessageFor(x => x.LastName, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__lastName_error" })
                <div class="form-row__divider"></div>
            </div>

            <div class="form-row">
                <label class="form-row__label" for="DateOfBirth">
                    Date of birth <span class="form-row__hint-text">(dd/mm/yyyy)</span>
                </label>
                @Html.TextBoxForBgl(x => x.DateOfBirth, new { @class = "form-row__input", data_testid = $"{componentId}__dateOfBirth", placeholder = "dd/mm/yyyy", data_store = $"{nameof(Model.DateOfBirth)}", aria_describedby = "DateOfBirth-error", tabindex = 0 })
                @Html.ValidationMessageFor(x => x.DateOfBirth, string.Empty, new { @class = "form-row__validation-text", id = "DateOfBirth-error", data_testid = $"{componentId}__dateOfBirth_error" })
                <div class="form-row__divider"></div>
            </div>

            <div class="form-row">
                @Html.LabelFor(x => x.Email, new { @class = "form-row__label" })
                <p class="help-text__sub-text">We'll use this email to send you your quote details.</p>
                @Html.TextBoxForBgl(x => x.Email, new { @class = "form-row__input", type = "email", data_store = $"{nameof(Model.Email)}" })
                @Html.ValidationMessageFor(x => x.Email, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__email-validation-message" })
                <div class="form-row__divider"></div>
            </div>

            <div class="form-row">
                @Html.LabelFor(x => x.PhoneNumber, new { @class = "form-row__label" })
                <p class="help-text__sub-text">Please give us your preferred telephone number. We will use this to contact you about your policy if we need to.</p>
                @Html.TextBoxForBgl(x => x.PhoneNumber, new { @class = "form-row__input", type = "tel", data_store = $"{nameof(Model.PhoneNumber)}" })
                @Html.ValidationMessageFor(x => x.PhoneNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__phone-number-validation-message" })
                <div class="form-row__divider form-row__divider-last"></div>
            </div>


            @Html.HiddenFor(x => x.PersonId)
            @Html.HiddenFor(x => x.JourneyType)
            @Html.HiddenFor(x => x.HasChanges, new { data_store_skip = "true" })
            @Html.Hidden("hasDateOfBirthChanged")
            @Html.HiddenFor(x => x.DataStoreKey)

            <div class="page-section--inner">
                <div class="button-container">
                    <button type="submit"
                            class="button button--primary button--large button--right"
                            data-testid="@(componentId)__@(submitButtonText.ToLower())-button"
                            data-disable-submit
                            value="@submitButtonText" formnovalidate>
                        @submitButtonText
                    </button>

                    @if (Model.JourneyType == JourneyTypes.AdditionalDriver)
                    {
                        <a href="@Url.Action("RelationshipStatus", "DriverDetailsComponent")" class="button button--text button--large button--left button--back back-button-link" data-step-type="previous-step-journey" data-component="relationshipstatus" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
                    }
                </div>
            </div>
        }
    </div>
