﻿@using System.Web.Mvc.Html
@model BGL.Components.DriverDetails.Models.AddDriverViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration.Id;
}

@if (Model.CanAddDriver)
{
    <div class="profiles__wrapper" data-testid="@(componentId)__driver-add-section">
        @Html.HiddenFor(x => Model.CoverId)
        <button type="button"
                class="link named-driver-link"
                data-add-driver-button
                data-toggle="slide-panel"
                data-target="#SlidePanel"
                data-action-url="@Url.Action("RelationshipStatus", "DriverDetailsComponent")"
                data-testid="@(componentId)__add_driver_button">
            <i class="ui-icon ui-icon-plus-circle ui-icon--inline-icon"></i>
            <span>Add a new named driver</span>
        </button>
    </div>
}