﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.CriminalConvictions.CriminalConvictionsWizardViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var backButtonUrl = Url.Action("CriminalConvictionsAddAnother", "DriverDetailsComponentCriminalConvictions");
    var componentJSName = Model.JourneyType == JourneyTypes.MultiStepEdit ? "driverdetails.criminalconvictions" : "criminalconvictions";
    var sectionTitle = "About your non-motoring conviction";
    var heading = "Select your sentence type";
    var convictedOfQuestion = "Back to what were you convicted of?";

    if (!string.IsNullOrEmpty(Model.FirstName))
    {
        sectionTitle = $"About {Model.FirstName?.ToTitleCase()}'s non-motoring conviction";
        heading = $"Select {Model.FirstName?.ToTitleCase()}'s sentence type";
        convictedOfQuestion = $"Back to what was {Model.FirstName?.ToTitleCase()} convicted of?";
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        sectionTitle = "About your non-motoring conviction";
        heading = "Select your sentence  type";
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">
    @using (Html.BeginFormBgl("CriminalConvictionsAddCriminalConviction", "DriverDetailsComponentCriminalConvictions", FormMethod.Post,
        new
        {
            id = "criminal-convictions-addanother-step3",
            data_on_success = $"bgl.components.{componentJSName}.criminalconvictionsSentenceTypeOnSuccess",
            data_on_error = $"bgl.components.{componentJSName}.criminalconvictionsSentenceTypeOnError",
            @class = "step-form"
        }))
    {

        @Html.AntiForgeryToken()

        <h1 class="step-form__section-title" for="Occupation">@sectionTitle</h1>

        <h2 class="step-form__heading" data-testid="step-form__heading">@heading</h2>

        <div class="form-row">
            <label class="form-row__label--spaced">
                <span>What was the sentence type for the </span>
                <button tabindex="0" 
                        class="link form-row__breadcrumb-link driver-details-step-form__breadcrumb-link criminal-conviction-back-to-first-step" 
                        data-testid="criminal-conviction-month-button" 
                        href="#"
                        aria-label="Back to what was the conviction date?">@Model.MonthText</button>
                <button tabindex="0" 
                        class="link form-row__breadcrumb-link driver-details-step-form__breadcrumb-link criminal-conviction-back-to-first-step" 
                        data-testid="criminal-conviction-year-button" 
                        href="#"
                        aria-label="Back to what was the conviction date?">@Model.Year,</button>
                <button tabindex="0" 
                        class="link form-row__breadcrumb-link driver-details-step-form__breadcrumb-link criminal-conviction-back-to-second-step" 
                        data-testid="criminal-conviction-type-button" 
                        href="#"
                        aria-label="@convictedOfQuestion">@Model.ConvictionsTypeText</button>
                <span> conviction ?</span>
            </label>

            <div class="form-row__input-wrapper ">
                @Html.DropDownListFor(x => x.SentenceType, Model.SentenceTypes, "Please select...", new { tabindex = "0", @class = "form-row__select pageRequired", id = "Conviction-type", data_testid = componentId + "__sentencestypes_dropdownlist", aria_label = "Please select the sentence type" })
            </div>

            @Html.ValidationMessageFor(x => x.SentenceType, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__sentence-type-error" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button tabindex="0" type="submit" class="button button--primary button--large button--right" data-testid="@(componentId)__criminal-conviction-save-button">Done</button>
                <a tabindex="0" class="button button--text button--large button--back button--left criminal-conviction-back-to-second-step" data-step-type="previous-step" href="@backButtonUrl" data-testid="@(componentId)__back-button">Back</a>
            </div>
        </div>

        @Html.HiddenFor(m => m.JourneyType)
        @Html.HiddenFor(m => m.FirstName)
        @Html.HiddenFor(x => x.PersonId)
        @Html.HiddenFor(x => x.Year)
        @Html.HiddenFor(x => x.Month)
        @Html.HiddenFor(x => x.MonthText)
        @Html.HiddenFor(x => x.ConvictionsType)
        @Html.HiddenFor(x => x.ConvictionsTypeText)
        @Html.HiddenFor(x => x.CriminalConvictionStep, new { Value = (int)CriminalConvictionStep.ConvictionType })
    }

    @Html.Hidden("UrlToWizard", Url.Action("CriminalConvictionsAddAnother", "DriverDetailsComponentCriminalConvictions"))
</div>