﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@model BGL.Components.DriverDetails.Models.DeleteFrequentDriverViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__delete-frequent-driver-view">
    @if (Model.ComponentConfiguration.IsService)
    {
        @Html.Partial("_ProgressBar");
    }

    <section>
        <h1 class="step-form__section-title">Remove Driver</h1>
        <h2 class="step-form__heading">Are you sure you want to remove @Model.FirstName.ToTitleCase() @Model.LastName.ToTitleCase() from your policy?</h2>

        @Html.AntiForgeryToken()
        <div class="form-row addon-radio__wrapper">

            <button type="button"
                    id="delete-frequent-driver"
                    data-delete-driver
                    data-delete-url="@Url.Action("DeleteFrequentDriver")"
                    data-driver-id="@Model.DriverId"
                    class="form-row__label form-row__label--pill"
                    data-testid="DeleteFrequentDriver__yes">
                Yes
            </button>

            <button data-dismiss="slide-panel"
                    class="form-row__label form-row__label--pill"
                    data-testid="DeleteFrequentDriver__no">
                No
            </button>

        </div>

        <div>
            <button type="button"
                    data-dismiss="slide-panel"
                    class="button button--text button--back back-button-link"
                    data-testid="DeleteFrequentDriver__back">
                Back
            </button>
        </div>
    </section>
</div>