﻿@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.DriverDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var imageSourcePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;
    var updateEmailAddressUri = $"{Model.ComponentConfiguration.ChangeEmailAddressUrl}?returnurl={Request.Url.AbsoluteUri}";

    var driverNumber = Model.Drivers.Count();
    var i = 0;
}

<div id="@componentId">
    <div class="tabs" data-tab-container="@(componentId)">
        <div class="tabs-nav__wrapper">
            @if (Model.Drivers.Count() > 1)
            {
                <div class="tabs-nav__left">
                    <button id="left-arrow" class="tabs-nav__leftbtn hide" aria-hidden="true" aria-label="left arrow to cycle through drivers">
                        <i class="ui-icon-arrow-left"></i>
                    </button>
                </div>
                <ul class="tabs-nav__list text-center" role="tablist">
                    @for (var index = 0; index < Model.Drivers.Count(); index++)
                    {
                        var driver = Model.Drivers.ElementAt(index);

                        <li class="tabs-nav__item @(driver.IsMainDriver ? "active" : "")"
                            role="presentation"
                            data-testid="@(componentId)__@driver.DriverId"
                            data-tab="@driver.DriverId">
                            <button id="tab-@index" role="tab" aria-controls="@driver.DriverId" data-testid="driver-id-button" aria-selected="@(driver.IsMainDriver ? "true" : "false")">
                                @if (driver.FirstName.Length + driver.LastName.Length > 16)
                                {
                                    @($"{driver.FirstName} {driver.LastName}".Substring(0, 16) + "...")
                                }
                                else
                                {
                                    @($"{driver.FirstName} {driver.LastName}")
                                }
                            </button>
                        </li>
                    }
                </ul>
                <div class="tabs-nav__right">
                    <button id="right-arrow" class="tabs-nav__rightbtn" aria-hidden="false" aria-label="right arrow to cycle through drivers">
                        <i class="ui-icon-arrow-right"></i>
                    </button>
                </div>
            }
        </div>

        <div class="tabs-content">
            @foreach (var driver in Model.Drivers)
            {
                <div class="tabs-panel @(driver.IsMainDriver ? "active" : "")"
                     role="tabpanel"
                     aria-hidden="@(driver.IsMainDriver ? "false" : "true")"
                     data-title="@($"{driver.FirstName} {driver.LastName}")"
                     data-tab-content="@driver.DriverId">
                    <div class="row">
                        @if (driver.CanRemove)
                        {
                            <button type="button"
                                    id="@(componentId)_Remove_@(driver.PersonId)_button"
                                    data-toggle="slide-panel"
                                    data-target="#SlidePanel"
                                    data-action-url="@Url.Action("DeleteFrequentDriverSlider")"
                                    data-action="DeleteFrequentDriverSlider"
                                    data-driver-id="@driver.DriverId"
                                    data-driver-first-name="@driver.FirstName"
                                    data-driver-last-name="@driver.LastName"
                                    data-testid="@(componentId)__delete-driver-button"
                                    class="link named-driver-link">
                                <i class="ui-icon ui-icon-delete" data-type="slide-panel-navigation"></i>
                                <span>
                                    Remove named driver
                                </span>
                            </button>
                        }
                        <table class="edit">
                            <caption class="hide" aria-hidden="true">@($"{driver.FirstName} {driver.LastName} Details")</caption>
                            <tbody>
                                @foreach (var row in driver.DriverDetails)
                                {
                                    <tr>
                                        <th scope="row">@row.Setting.Description</th>
                                        <td>
                                            @if (!string.IsNullOrWhiteSpace(@row.Value))
                                            {
                                                @row.Value
                                            }
                                            else
                                            {
                                                <br />
                                            }
                                            @if (row.Setting.RowType == DriverRowTypes.Email)
                                            {
                                                <a href="@updateEmailAddressUri"
                                                   class="table-edit text-primary"
                                                   aria-labelledby="button-label-edit-@(row.Setting.RowType)@(row.Setting.HasPolicyVersion ? "Policy" : "")"
                                                   data-ga="@($"{componentId}__table-edit-{row.Setting.RowType}")">
                                                    <i class="ui-icon-edit"></i>
                                                </a>
                                                <span id="button-label-edit-@(row.Setting.RowType)@(row.Setting.HasPolicyVersion ? "Policy" : "")" hidden>Edit @row.Setting.Action</span>
                                            }
                                            else if (row.Setting.IsEditable)
                                            {
                                                <button class="table-edit text-primary"
                                                        type="button"
                                                        aria-labelledby="button-label-edit-@(row.Setting.RowType)@(row.Setting.HasPolicyVersion ? "Policy" : "")"
                                                        data-toggle="slide-panel"
                                                        data-target="#SlidePanel"
                                                        data-confirmation="true"
                                                        data-action-url="@(Url.Action(row.Setting.Action))@(row.Setting.HasPolicyVersion ? "Policy" : "")"
                                                        data-action="@(row.Setting.Action)@(row.Setting.HasPolicyVersion ? "Policy" : "")"
                                                        data-person-id="@driver.PersonId"
                                                        data-source="policy"
                                                        data-policy-holder-id="@Model.PolicyHolderId"
                                                        data-driver-first-name="@driver.FirstName"
                                                        data-is-policy-holder="@driver.IsPolicyHolder"
                                                        data-testid="@($"{componentId}__table-edit-{row.Setting.Action}")@(row.Setting.HasPolicyVersion ? "Policy" : "")"
                                                        data-ga="@($"{componentId}__table-edit-{row.Setting.RowType}")">
                                                    <span id="button-label-edit-@(row.Setting.RowType)@(row.Setting.HasPolicyVersion ? "Policy" : "")" hidden>Edit @row.Setting.Action</span>
                                                    <i class="ui-icon-edit" data-type="slide-panel-navigation"></i>
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
