﻿@model BGL.Components.DriverDetails.Models.DriverDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var imageSourcePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;
    var driverNumber = Model.Drivers.Count();
    var i = 0;
}

<div id="@componentId" class="accordion__section" data-testid="@(componentId)__driver-details-section">
    <h2 class="h5 accordion__heading-wrapper">
        <button class="accordion__heading-button" data-accordion-key="@(componentId)-driver-details-accordion" aria-expanded="false" data-testid="@(componentId)__heading-accordion">
            @($"Drivers ({driverNumber})")
        </button>
    </h2>
    <div class="accordion__body-wrapper">
        <div class="accordion__body-content">
            @if (Model.Drivers.Count() > 1)
            {
                <div class="named-driver-list" role="tablist">
                    <div class="named-driver-pagination__left">
                        <img class="pagination-arrow" alt="leftArrow" src="@(imageSourcePath)icon-arrow-left-grey.svg">
                    </div>
                    <div class="named-driver-scroller">
                        <div class="named-driver-scroller__scroll-area">
                            <div class="named-driver-scroller__scroll-content">

                                @foreach (var driver in Model.Drivers)
                                {
                                    <button class="named-driver-tab @(driver == Model.SelectedDriver ? "named-driver-tab--active" : string.Empty)" role="tab"
                                            aria-selected="@(driver == Model.SelectedDriver ? "true" : "false")" tabindex="0" id="tab-@i" data-testid="driver-name-button" data-index="@driver.IndexName">
                                        <span class="named-driver-tab__content">
                                            <span class="named-driver__text-label">@($"{driver.FirstName} {driver.LastName}")</span>
                                        </span>
                                    </button>
                                    ++i;
                                }

                            </div>
                        </div>
                    </div>
                    <div class="named-driver-pagination__right">
                        <img class="pagination-arrow" alt="rightArrow" src="@(imageSourcePath)icon-arrow-right-grey.svg">
                    </div>
                </div>
            }
            @{ i = 1; }

            @foreach (var driver in Model.Drivers)
            {
                <table class="accordion-table named-driver-table @(driver == Model.SelectedDriver ? string.Empty : "hide")" id="tab-open-@i">
                    <tbody>
                        @foreach (var driverRow in driver.DriverDetails)
                        {
                            var setting = driverRow.Setting;

                            if (driverRow.Setting.CanRemove)
                            {
                                if (!Model.ComponentConfiguration.IsService)
                                {
                                    <tr class="table-row table-row-remove">
                                        <th class="table-cell table-cell--label">
                                            <button type="button"
                                                    id="@(componentId)_@(setting.RowType)_@(driver.PersonId)_button"
                                                    data-toggle="slide-panel"
                                                    data-target="#SlidePanel"
                                                    data-action-url="@Url.Action("DeleteFrequentDriverSlider")"
                                                    data-action="DeleteFrequentDriverSlider"
                                                    data-driver-id="@driver.DriverId"
                                                    data-driver-first-name="@driver.FirstName"
                                                    data-driver-last-name="@driver.LastName"
                                                    data-testid="@(componentId)__delete-driver-button"
                                                    class="link review-overview__person-link named-driver-link">
                                                @setting.Description
                                            </button>
                                        </th>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="table-row table-row-remove">
                                        <th class="table-cell table-cell--label">
                                            <button type="button"
                                                    id="@(componentId)_Remove_@(driver.PersonId)_button"
                                                    data-toggle="slide-panel"
                                                    data-target="#SlidePanel"
                                                    data-action-url="@Url.Action("DeleteFrequentDriverSlider")"
                                                    data-action="DeleteFrequentDriverSlider"
                                                    data-driver-id="@driver.DriverId"
                                                    data-driver-first-name="@driver.FirstName"
                                                    data-driver-last-name="@driver.LastName"
                                                    data-testid="@(componentId)__delete-driver-button"
                                                    class="link named-driver-link">
                                                <i class="ui-icon ui-icon-delete"></i>
                                                <span>
                                                    Remove named driver
                                                </span>
                                            </button>
                                        </th>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr class="table-row">
                                    <th class="table-cell table-cell--label">
                                        <p>
                                            <span>@setting.Description</span>
                                        </p>
                                    </th>
                                    <td class="table-cell table-cell--data wordbreak">
                                        <p x-ms-format-detection="none">
                                            @driverRow.Value
                                        </p>
                                        @if (setting.HasHint)
                                        {
                                            <p class="form-row__static-hint-text">
                                                @driverRow.Setting.HintText
                                            </p>
                                        }
                                    </td>
                                    <td class="table-cell table-cell--edit">

                                        @if (setting.IsEditable)
                                        {
                                            <button id="@(componentId)_@(setting.RowType)_@(driver.PersonId)_button"
                                                    class="form-row__edit-button"
                                                    type="button"
                                                    data-toggle="slide-panel"
                                                    data-target="#SlidePanel"
                                                    data-action-url="@Url.Action(setting.Action)"
                                                    data-action="@setting.Action"
                                                    data-person-id="@driver.PersonId"
                                                    data-policy-holder-id="@Model.PolicyHolderId"
                                                    data-driver-first-name="@driver.FirstName"
                                                    data-is-policy-holder="@driver.IsPolicyHolder"
                                                    data-source="quote"
                                                    data-testid="@($"{componentId}__table-edit-{setting.Action}")">
                                                <img class="form-row__edit-image"
                                                     src="@(imageSourcePath)icon-edit.svg"
                                                     alt="@setting.EditDescription">
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                i++;
            }
        </div>
    </div>
</div>
