﻿@using System.Web.Caching
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.Licence.DrivingLicenceNumberViewModel
@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = "driving-licence-number-form";
    var firstName = Model.FirstName?.ToTitleCase();
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ? 
        "Your driving history"
        : $"{firstName}'s driving history";    
    var submitButtonText = "Done";
    var header = string.IsNullOrEmpty(Model.FirstName) ?
        "Do you know your UK driving licence number?"
        : $"Do you know {firstName}'s driving licence number?";
    var labelText =  string.IsNullOrEmpty(Model.FirstName) ? 
        "What is your licence number?"
        : $"What is {firstName}'s licence number?";
    var componentName = "bgl.components.drivinglicencenumber";
    var controllerName = "DriverDetailsComponent";
    var backButtonUrl = string.Empty;
    var submitButtonClassVisibility = string.Empty;

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        sectionTitle = "Additional driver";
        submitButtonText = "Continue";
        submitButtonClassVisibility = "hide";
        backButtonUrl = Url.Action("LicenceHeldSince", "DriverDetailsComponent");
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        componentName = "bgl.components.driverdetails.drivinglicencenumber";
        controllerName = "DriverDetailsComponentLicence";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
        submitButtonClassVisibility = "hide";
        submitButtonText = "Continue";
    }
}

<div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__driver-licence-number-view">
    @using (Html.BeginFormBgl("DrivingLicenceNumberPost", controllerName, FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_on_success = $"{componentName}.onSuccess",
        data_on_error = $"{componentName}.onError",
        data_store_key = $"{Model.DataStoreKey}",
        data_next_journey_component = "medicalcondition"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.HasChanges, new { data_store_skip = "true" })

        if (Model.JourneyType != JourneyTypes.MultiStepEdit)
        {
            @Html.HiddenFor(model => model.PersonId)
            @Html.HiddenFor(model => model.JourneyType)
            @Html.HiddenFor(model => model.FirstName)
        }

        <h1 class="step-form__section-title">@sectionTitle</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">@header</h2>
        <div class="form-row addon-radio__wrapper">
            <fieldset>
                <legend class="visually-hidden">@header</legend>
                @Html.RadioButtonFor(x => x.HasDrivingLicenceNumber, true, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "has-driving-licence-number-yes", data_store = $"{nameof(Model.HasDrivingLicenceNumber)}" })
                @Html.LabelFor(x => x.HasDrivingLicenceNumber, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "has-driving-licence-number-yes", data_testid = componentId + "__yes-licence-button", @role = "button", @tabindex = "0" })

                @Html.RadioButtonFor(x => x.HasDrivingLicenceNumber, false, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "has-driving-licence-number-no", data_store = $"{nameof(Model.HasDrivingLicenceNumber)}" })
                @Html.LabelFor(x => x.HasDrivingLicenceNumber, "No", new { @class = "form-row__label form-row__label--pill", @for = "has-driving-licence-number-no", data_testid = componentId + "__no-licence-button", @role = "button", @tabindex = "0" })
            </fieldset>
            @Html.ValidationMessageFor(model => model.HasDrivingLicenceNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__licence-number-validation-message" })
        </div>

        <div class="form-row licence-number-row @(Model.HasDrivingLicenceNumber == true ? string.Empty : "hide")" id="driving-licence-number-row">
            @Html.LabelFor(model => model.DrivingLicenceNumber, labelText, new { @class = "form-row__label" })
            @Html.TextBoxForBgl(model => model.DrivingLicenceNumber, new { @class = "form-row__input short", maxlength = 18, tabindex = 0, data_testid = componentId + "__driving-licence-number-textbox", data_store = $"{nameof(Model.DrivingLicenceNumber)}" })
            @Html.ValidationMessageFor(model => model.DrivingLicenceNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__driving-licence-number-validation-message" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right @submitButtonClassVisibility" tabindex="0" data-testid="@(componentId)__@(submitButtonText.ToLower())-button">@submitButtonText</button>
                @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, "licenceheldsince")
            </div>
        </div>
    }
</div>
