﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Common.ErrorModule
@using BGL.Common.Utility.Extensions
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.Address.AddressViewModel


@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}__form";
    string submitController = "DriverDetailsComponent";
    string successCallback = "bgl.components.editaddress.onSuccess";
    string errorCallback = "bgl.components.editaddress.onError";
    var helpTextViewName = Model.ComponentConfiguration?.ViewOptions?.AddressHelpText.GetViewNameFromEnum(true);

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitController = "DriverDetailsComponentAddress";
        successCallback = "bgl.components.driverdetails.searchaddress.onSuccess";
        errorCallback = "bgl.components.driverdetails.searchaddress.onError";
    }
}

    <div id="@componentId" class="narrow" data-component-id="@componentId" data-testid="@(componentId)__manual-address-view">
        @if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_ProgressBar");
        }

        @using (Html.BeginFormBgl("ManualAddressPost", submitController, FormMethod.Post, new
        {
            id = formId,
            @class = "step-form",
            data_on_success = successCallback,
            data_on_error = errorCallback,
            data_store_key = Model.DataStoreKey
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.AddressId)
            @Html.HiddenFor(model => model.HasChanges, new { data_store_skip = "true" })

            <h1 class="step-form__section-title">About you</h1>
            <h2 class="step-form__heading" data-testid="step-form__heading">Tell us where the vehicle is kept</h2>
            @Html.Partial(helpTextViewName)

            if (Model.ComponentState == ComponentState.PartialError)
            {
                @Html.Partial("AddressErrorMessage")
            }

            <div class="form-row">
                @Html.LabelFor(model => model.Line1, new { @class = "form-row__label" })
                @Html.TextBoxForBgl(model => model.Line1, new { @class = "form-row__input form-row__input--full-width", tabindex = 0, data_testid = componentId + "__home-input", data_store = nameof(Model.Line1) })
                @Html.ValidationMessageFor(model => model.Line1, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__home-validation-message" })
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.Line2, new { @class = "form-row__label" })
                @Html.TextBoxForBgl(model => model.Line2, new { @class = "form-row__input form-row__input--full-width", tabindex = 0, data_testid = componentId + "__home-input2", data_store = nameof(Model.Line2) })
                @Html.ValidationMessageFor(model => model.Line2, string.Empty, new { @class = "form-row__validation-text" })
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.Line3, new { @class = "form-row__label" })
                @Html.TextBoxForBgl(model => model.Line3, new { @class = "form-row__input form-row__input--full-width", tabindex = 0, data_testid = componentId + "__home-input3", data_store = nameof(Model.Line3)})
                @Html.ValidationMessageFor(model => model.Line3, string.Empty, new { @class = "form-row__validation-text" })
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.Line4, new { @class = "form-row__label" })
                @Html.TextBoxForBgl(model => model.Line4, new { @class = "form-row__input form-row__input--full-width", tabindex = 0, data_testid = componentId + "__home-input4", data_store = nameof(Model.Line4) })
                @Html.ValidationMessageFor(model => model.Line4, string.Empty, new { @class = "form-row__validation-text" })
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.Line5, new { @class = "form-row__label" })
                @Html.TextBoxForBgl(model => model.Line5, new { @class = "form-row__input form-row__input--full-width", tabindex = 0, data_testid = componentId + "__home-input5", data_store = nameof(Model.Line5) })
                @Html.ValidationMessageFor(model => model.Line5, string.Empty, new { @class = "form-row__validation-text" })
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.PostCode, new { @class = "form-row__label" })
                @Html.TextBoxForBgl(model => model.PostCode, new { @class = "form-row__input form-row__input--full-width", tabindex = 0, data_testid = componentId + "__postcode-input", data_store = nameof(Model.PostCode) })
                @Html.ValidationMessageFor(model => model.PostCode, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__postcode-validation-message" })
            </div>

            <a class="link link--primary ajax-address-link" href="@Url.Action("SearchAddress", submitController)" tabindex="0" data-testid="@(componentId)__search-address-link">Go back to postcode search</a>

            <div class="slide-panel-nav">
                <button type="submit" class="button button--primary button--large button--right" formnovalidate tabindex="0" data-testid="@(componentId)__submit-button">Continue</button>
                <span>
                    <a href="#" class="button button--text button--back back-button-link" tabindex="0" data-testid="@(componentId)__back-link">Back</a>
                </span>
            </div>
        }
    </div>

