﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.EmploymentStatus.OccupationPageViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = "occupation_step_form";
    var sectionTitle = "Your employment";
    var stepTitle = "What is your primary occupation?";
    var componentName = "bgl.components.employmentstatusbuilder";
    var controllerName = "DriverDetailsComponent";
    var backButtonUrl = Url.Action("EmploymentStatusPage", "DriverDetailsComponent");
    var helpText = "If your job title is not listed, please select a title closest to your role.";

    var industryTitle = "What type of industry is your primary occupation?";
    var industryHelpText = "If your business type is not listed, please select one that is closest to the business you work in.";

    var submitButtonText = "Done";


    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        sectionTitle = "Additional driver";
        stepTitle = $"What is {Model.FirstName?.ToTitleCase()}'s occupation?";
        industryTitle = $"What type of industry is {Model.FirstName?.ToTitleCase()} primary occupation?";
        helpText = "If the job title is not listed, please select a title closest to the additional driver's role.";
        industryHelpText = "If the business type is not listed, please select one that is closest to the business that the additional driver works in.";
        submitButtonText = "Continue";

    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        componentName = "bgl.components.driverdetails.employmentstatus";
        controllerName = "DriverDetailsComponentEmploymentPage";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
        submitButtonText = "Continue";
    }
}

@if (Model.ComponentConfiguration.IsService)
{
    @Html.Partial("_ProgressBar");
}

@using (Html.BeginFormBgl("ValidateOccupation", controllerName, FormMethod.Post, new
{
    id = formId,
    @class = "step-form",
    data_on_success = $"{componentName}.onSuccess",
    data_on_error = $"{componentName}.onError",
    data_store_key = $"{Model.DataStoreKey}"
}))
{
    <h1 class="step-form__section-title">@sectionTitle</h1>
    <h2 class="step-form__heading" data-testid="step-form__heading">
        <strong>@stepTitle</strong>
        <span class="step-form__heading--sub-text">(e.g. Teacher or Sales Assistant)</span>
    </h2>
    <p class="help-text__sub-text">@helpText</p>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.HasChanges, new { data_store_skip = "true" })
    @Html.HiddenFor(model => model.OccupationId, new { data_store = $"{nameof(Model.OccupationId)}" })
    @Html.HiddenFor(model => model.PersonOccupationStep)

    if (Model.JourneyType != JourneyTypes.MultiStepEdit)
    {
        @Html.HiddenFor(model => model.PersonId)
        @Html.HiddenFor(model => model.EmploymentStatus, new { data_store = $"{nameof(Model.EmploymentStatus)}" })
        @Html.HiddenFor(model => model.EmploymentStatusId, new { data_store = $"{nameof(Model.EmploymentStatusId)}" })
        @Html.HiddenFor(m => m.JourneyType)
        @Html.HiddenFor(m => m.FirstName)
    }

    <div class="form-row">
        @Html.LabelFor(x => x.Occupation, "Select occupation", new { @class = "visually-hidden" })
        @Html.TextBoxForBgl(x => x.Occupation, new
        {
            @class = $"form-row__input form-row__input--text {nameof(Model.Occupation)}",
            placeholder = "Type the first few letters...",
            autocompletesearch = Url.Action("OccupationSearch", "DriverDetailsComponentEmployment"),
            tabindex = "0",
            data_testid = $"{componentId}__occupation",
            data_store = $"{nameof(Model.Occupation)}"
        })

        @Html.ValidationMessageFor(model => model.Occupation, string.Empty, new
        {
            @class = "form-row__validation-text",
            data_testid = $"{componentId}__occupation-validation-message"
        })
    </div>

    <h2 class="step-form__heading" data-testid="step-form__heading">
        <strong>@industryTitle</strong>
        <span class="step-form__heading--sub-text">(e.g. Education or Information Technology)</span>
    </h2>
    <p class="help-text__sub-text">@industryHelpText</p>

    @Html.HiddenFor(model => model.BusinessCategoryId, new { data_store = $"{nameof(Model.BusinessCategoryId)}" })

    if (Model.JourneyType != JourneyTypes.MultiStepEdit)
    {
        @Html.HiddenFor(model => model.Occupation, new { data_store = $"{nameof(Model.Occupation)}" })
        @Html.HiddenFor(model => model.OccupationId, new { data_store = $"{nameof(Model.OccupationId)}" })
    }

    <div class="form-row">
        @Html.LabelFor(x => x.BusinessCategory, "Select business category", new { @class = "visually-hidden" })
        @Html.TextBoxForBgl(x => x.BusinessCategory, new
        {
            @class = $"form-row__input form-row__input--text {nameof(Model.BusinessCategory)}",
            placeholder = "Type the first few letters...",
            autocompletesearch = Url.Action("BusinessCategoriesSearch", "DriverDetailsComponentEmployment"),
            tabindex = "0",
            data_testid = $"{componentId}__business-category",
            data_store = $"{nameof(Model.BusinessCategory)}"
        })

        @Html.ValidationMessageFor(model => model.BusinessCategory, string.Empty, new
        {
            @class = "form-row__validation-text",
            data_testid = $"{componentId}__business-category-validation-message"
        })
    </div>

    <div class="page-section--inner">
        <div class="button-container">
            <button type="submit"
                    formnovalidate
                    name="continueButton"
                    tabindex="0"
                    title="Continue button"
                    class="button button--primary button--large button--right"
                    data-testid="@(componentId)__@(submitButtonText.ToLower())-button" value=@submitButtonText>
                @submitButtonText
            </button>
            <a class="button button--text button--large button--back button--left" data-step-type="previous-step" href="@backButtonUrl" data-testid="@(componentId)__back-button">Back</a>
        </div>
    </div>
}
