﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums

@model BGL.Components.DriverDetails.Models.Address.SelectAddressViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}__form";
    var dataStoreKey = Model.DataStoreKey;

    var submitController = "DriverDetailsComponent";
    var successCallback = "bgl.components.editaddress.onSuccess";
    var errorCallBack = "bgl.components.editaddress.onError";

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitController = "DriverDetailsComponentAddress";
        successCallback = "bgl.components.driverdetails.searchaddress.onSuccess";
        errorCallBack = "bgl.components.driverdetails.searchaddress.onError";
    }
}

    <div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__select-address-view">
        @if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_ProgressBar");
        }

        @using (Html.BeginFormBgl("SelectAddressPost", submitController, FormMethod.Post, new
        {
            id = formId,
            @class = "step-form",
            data_on_success = successCallback,
            data_on_error = errorCallBack,
            data_store_key = dataStoreKey
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.PostCode)
            @Html.HiddenFor(model => model.Home)
            @Html.HiddenFor(model => model.AddressId)
            @Html.HiddenFor(model => model.HasChanges, new { data_store_skip = "true" })

            <h1 class="step-form__section-title">About you</h1>
            <h2 class="step-form__heading" data-testid="step-form__heading">Select your address</h2>
            <div class="form-row">
                @Html.LabelFor(x => x.SelectedAddress, "Select address", new { @class = "visually-hidden" })
                @Html.DropDownListFor(model => model.SelectedAddress, Model.Addresses, "Please select...", new {@class = "form-row__select", tabindex = 0, data_testid = componentId + "__address-select"})
                @Html.ValidationMessageFor(model => model.SelectedAddress, string.Empty, new {@class = "form-row__validation-text", data_testid = componentId + "__address-select-validation-message"})
            </div>

            <a class="link link--primary ajax-address-link" data-back-url="@Url.Action("SelectAddress", submitController)" href="@Url.Action("ManualAddress", submitController)" data-testid="@(componentId)__manual-address-link">Enter your address manually</a>

            <div class="slide-panel-nav">
                <button type="submit" class="button button--primary button--large button--right" data-testid="@(componentId)__submit-button">Confirm</button>
                <span>
                    <a href="#" class="button button--text button--back back-button-link" data-testid="@(componentId)__back-link">Back</a>
                </span>
            </div>

            @Html.HiddenFor(m => m.JourneyType)
            <input type="hidden" name="DataStoreKey" value="@dataStoreKey" />
        }
    </div>