﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.UseOfOtherVehiclesViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) 
        ? "Your driving history" 
        : $"{Model.FirstName?.ToTitleCase()}'s driving history";
    var header = string.IsNullOrEmpty(Model.FirstName) 
        ? "Do you have the use of any other vehicles?" 
        : $"Does {Model.FirstName?.ToTitleCase()} have the use of any other vehicles?";
    var controllerName = "DriverDetailsComponent";
    var submitButtonClassVisibility = string.Empty;
    var backButtonUrl = string.Empty;
    var submitButtonName = "Done";
    var actionName = "UseOfOtherVehiclesConfirm";
    var formId = $"{componentId}__other-vehicles-form";
    var dataTestIdSubmit = $"{componentId}__done-button";


    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        submitButtonClassVisibility = "hide";
        submitButtonName = "Continue";
        dataTestIdSubmit = $"{componentId}__continue-button";
        backButtonUrl =  Model.BackButtonUrl;
    }

    if (Model.JourneyType == JourneyTypes.SingleEdit && Model.IsNcdDisplayed)
    {
        actionName = "UseOfOtherVehiclesWithNcdConfirm";
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl(actionName, controllerName, FormMethod.Post,
        new
        {
            id = formId,
            @class = "step-form",
            data_on_success = "bgl.components.useofothervehicles.onSuccess",
            data_on_error = "bgl.components.useofothervehicles.onError",
            data_store_key = $"{Model.DataStoreKey}",
            data_next_journey_component = "typeoflicence",
            data_testid = $"{componentId}__use-of-other-vehicles-form"
        }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.IsNcdDisplayed)

        <h1 class="step-form__section-title">@sectionTitle</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">@header</h2>

        <div class="form-row addon-radio__wrapper">
            <fieldset>
                <legend class="visually-hidden">@header</legend>
                @Html.RadioButtonFor(x => x.UseOfOtherVehicles, true, new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "use-of-other-vehicles-radio-yes", data_sections = "#OtherVehicleStep2", data_store = $"{nameof(Model.UseOfOtherVehicles)}" })
                @Html.LabelFor(x => x.UseOfOtherVehicles, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "use-of-other-vehicles-radio-yes", data_testid = componentId + "__radio-button-yes", @role = "button", @tabindex = "0" })

                @Html.RadioButtonFor(x => x.UseOfOtherVehicles, false, new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "use-of-other-vehicles-radio-no", data_sections = "#OtherVehicleStep3,#OtherVehicleStep2", data_store = $"{nameof(Model.UseOfOtherVehicles)}" })
                @Html.LabelFor(x => x.UseOfOtherVehicles, "No", new { @class = "form-row__label form-row__label--pill", @for = "use-of-other-vehicles-radio-no", data_testid = componentId + "__radio-button-no", @role = "button", @tabindex = "0" })
            </fieldset>
        </div>

        if (Model.IsNcdDisplayed)
        {
            @Html.Partial("_UseOfOtherVehiclesWithNcd", Model);
        }

        if (Model.JourneyType != JourneyTypes.MultiStepEdit)
        {
            @Html.HiddenFor(x => x.PersonId)
            @Html.HiddenFor(x => x.JourneyType)
            @Html.HiddenFor(x => x.FirstName)
        }

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right @submitButtonClassVisibility"
                        formnovalidate
                        tabindex="0"
                        id="Continue-Button"
                        data-testid="@(dataTestIdSubmit)">
                    @submitButtonName
                </button>

                @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, Model.PreviousComponent)
            </div>
        </div>
    }
</div>
