@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums

@{
    ViewBag.Title = "Homeowner";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderDriverDetailsHomeOwner(new ComponentDriverDetailsConfiguration
        {
            Id = "HomeOwner",
            DataStoreKey = "YourDetails",
            MarketingQuestion = "Home insurance due? (Optional)",
            TenantConfiguration = tenantConfiguration,
            JourneyType =  JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("InformationSource", "YourDetails"),
            PreviousStepUrl = Url.Action("ConfirmedAddress", "YourDetails")
        })
    </div>
</div>

