@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums

@{
    ViewBag.Title = "InformationSource";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderDriverDetailsInformationSource(new ComponentDriverDetailsConfiguration
        {
            Id = "InformationSource",
            DataStoreKey = "InformationSource",
            TenantConfiguration = tenantConfiguration,
            JourneyType =  JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("UkResident", "YourDetails"),
            PreviousStepUrl = Url.Action("HomeOwner", "YourDetails")
        })
    </div>
</div>

