@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@{
    ViewBag.Title = "Motor Convictions";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderMotorConvictions(new ComponentDriverDetailsConfiguration
        {
            Id = "MotorConvictions",
            DataStoreKey = "YourDetails",
            TenantConfiguration = tenantConfiguration,
            JourneyType =  JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("CriminalConvictions", "YourDetails"),
            PreviousStepUrl = Url.Action("MotorClaims", "YourDetails")
        })
    </div>
</div>


