@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums

@{
    ViewBag.Title = "Motor Claims";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderMotorClaims(new ComponentDriverDetailsConfiguration
        {
            Id = "MotorClaims",
            DataStoreKey = "YourDetails",
            TenantConfiguration = tenantConfiguration,
            JourneyType =  JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("MotorConvictions", "YourDetails"),
            PreviousStepUrl = Url.Action("DeclinedInsurance", "YourDetails"),
        })
    </div>
</div>

