@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TakePayment

@{
    ViewBag.Title = "Annual Payment Details";
    var config = DependencyResolver.Current.GetService<IConfig>();
}
<div class="page-section">
    <div class="page-section--inner">
        @Html.ComponentRenderTakePaymentAnnualAsync(new ComponentTakePaymentConfiguration
   {
       Id = "Annual",
       TenantConfiguration = config.GetTenantConfiguration(),
       BislBrandName = "HALIFAX"
   })
    </div>
</div>
<div class="page-section">
    <div class="page-section--inner">
        <div class="button-container">
            <a class="button button--text button--large button--back button--left" href="@Url.Action("PaymentSummary", "Payment")">Back</a>
        </div>
    </div>
</div>

