@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TakePayment
@using BGL.Components.TakePayment.ViewOptions

@{
    ViewBag.Title = "Monthly Payments";
    var config = DependencyResolver.Current.GetService<IConfig>();
}
<div class="page-section">
    <div class="page-section--inner">
        @Html.ComponentRenderTakePaymentMonthlyInstalmentSummaryAsync(new ComponentTakePaymentConfiguration
   {
       Id = "MonthlyInstalmentSummary",
       MonthlyDepositUrl = Url.Action("MonthlyDeposit", "Payment"),
       MonthlyInstalmentUrl = Url.Action("MonthlyInstalment", "Payment"),
       ImportantInformationUrl = Url.Action("PostPriceImportantInformation", "Legal"),
       TenantConfiguration = config.GetTenantConfiguration(),
       BislBrandName = "HALIFAX",
       SliderList = new List<SliderItem>
       {
          new SliderItem
          {
              Id = "intermediary-services-contract-summary-slider-link",
              DataTestId = "intermediary-services-contract-summary-slider-link",
              DataActionUrl = Url.Action("IntermediaryServicesContractSummary", "Legal"),
              AnchorText = "Intermediary Services Contract Summary"
          }
       }
   })
    </div>
</div>

