@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TakePayment
@using BGL.Components.TakePayment.ViewOptions

@{
    ViewBag.Title = "Monthly Payment Details";
    var config = DependencyResolver.Current.GetService<IConfig>();
}
<div class="page-section">
    <div class="page-section--inner">
        @Html.ComponentRenderTakePaymentMonthlyInstalmentAsync(new ComponentTakePaymentConfiguration
   {
       Id = "MonthlyInstalment",
       PaymentSummaryUrl = Url.Action("PaymentSummary", "Payment"),
       MonthlyDepositUrl = Url.Action("MonthlyDeposit", "Payment"),
       ImportantInformationUrl = Url.Action("PostPriceImportantInformation", "Legal"),
       TenantConfiguration = config.GetTenantConfiguration(),
       BislBrandName = "HALIFAX",
       SliderList = new List<SliderItem>
       {
          new SliderItem
          {
              Id = "intermediary-services-contract-summary-slider-link",
              DataTestId = "intermediary-services-contract-summary-slider-link",
              DataActionUrl = Url.Action("IntermediaryServicesContractSummary", "Legal"),
              AnchorText = "Intermediary Services Contract Summary"
          }
       }

   })
    </div>
</div>

