﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TakePayment

@{
    ViewBag.Title = "Payment Successful";
    var config = DependencyResolver.Current.GetService<IConfig>();
}

<div class="page-section">
    <div class="page-section--inner">
        @Html.ComponentRenderTakePaymentPaymentSuccessful(new ComponentTakePaymentConfiguration
        {
            Id = "PaymentSuccessful",
            PolicyCreationPendingUrl = Url.Action("PolicyCreationPending", "Payment"),
            TenantConfiguration = config.GetTenantConfiguration()
        })
    </div>
</div>

<script>
    $(document).ready(function () {
        emitAdobeTracking();
    });

    function emitAdobeTracking() {
        var applicationOrderedTime = new Date();
        bgl.common.pubsub.emit('PaymentSuccessful', applicationOrderedTime);
    };
</script>