@using BGL.Web.PostOffice.MotorQuote.Constants

<div>
    <p><strong>Check your inbox</strong></p>
    <p>You may have been sent an email from us with your quote number.</p>
    <p><strong>Price comparison site</strong></p>
    <p>If you received a quote via a price comparison site, then you can use these details to create a new Post Office Insurance quote. Simply visit the site you used originally and click-through to Post Office Insurance.</p>
    <p><strong>Contact us</strong></p>
    <p><button class="va-invocation" data-testid="Houston-show-chat">Chat with us</button></p>
    <p>Or call our contact centre on @BrandConstants.HoustonContactCentrePhoneNumber</p>
    <p>Mon-Fri: 8am - 8pm. Sat: 9am - 5pm. Sun: 10am - 4pm.</p>
</div>


