﻿@using BGL.Common.Configuration.Interfaces

@{
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="about-brand">

    <p class="about-brand__text">
        <span>
            We’ve helped almost
        </span>
        <strong>
            three million customers
        </strong>
        <span>
            find simple, flexible home, car, van and life insurance policies designed to meet today’s busy lifestyles.
        </span>
    </p>

    <div class="carousel" aria-labelledby="About-Brand-Carousel">

        <h2 id="About-Brand-Carousel" class="h3 carousel__label">About us</h2>

        <ul class="carousel__list">

            <li class="carousel__slide active" data-slide="1">
                <div class="carousel__image-wrapper">
                    <img class="carousel__image" src="@(tenantConfiguration.ResourceBasePath)icon-houston-help.svg" alt="" />
                </div>
                <h3 class="h4 carousel__heading">
                    Manage your policy online anytime, any place, anywhere
                </h3>
            </li>

            <li class="carousel__slide" data-slide="2">
                <div class="carousel__image-wrapper carousel__image-wrapper--trustpilot">
                    <img class="carousel__image" src="@(tenantConfiguration.ResourceBasePath)logo-trustpilot.png" alt="TrustPilot Logo" />
                </div>
                <h3 class="h4 carousel__heading">
                    Don't just take our word for it, look at what our customers are saying
                </h3>
            </li>

            <li class="carousel__slide" data-slide="3">
                <div class="carousel__image-wrapper">
                    <img class="carousel__image" src="@(tenantConfiguration.ResourceBasePath)icon-legal-protection.svg" alt="" />
                </div>
                <h3 class="h4 carousel__heading">
                    Motor Legal Protection included as standard
                </h3>
            </li>

        </ul>

        <ul class="carousel__navigation" aria-hidden="true">
            <li class="carousel__navigation-item">
                <button class="carousel__navigation-tab active" data-slide="1"><span class="hide">data 1</span></button>
            </li>
            <li class="carousel__navigation-item">
                <button class="carousel__navigation-tab" data-slide="2"><span class="hide">data 2</span></button>
            </li>
            <li class="carousel__navigation-item">
                <button class="carousel__navigation-tab" data-slide="3"><span class="hide">data 3</span></button>
            </li>
        </ul>
    </div>
</div>