﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Constants
@using BGL.Components.CommonComponent
@using BGL.Components.CoverDetails
@using BGL.Components.CoverRange
@using BGL.Components.Navigation
@using BGL.Components.Navigation.Models
@using BGL.Components.TermsAndConds
@using BGL.Components.WelcomeQuote
@using BGL.Components.WelcomeQuote.ViewOptions
@using BGL.Common.Utility.Extensions

@{
    ViewBag.Title = "Your Price";
    var product = Request.GetOwinContext()?.Authentication?.User?.Product();
    var coverFeaturePriority = new Dictionary<string, CoverFeatureItem>();
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var resourceBasePath = tenantConfiguration.ResourceBasePath;
    var welcomeQuoteConfiguration = new ComponentWelcomeQuoteConfiguration
    {
        Id = "WelcomeQuote",
        ManufactureListInUpperCase = new List<string> { "BMW", "MG", "SEAT" },
        AvivaCreditPhoneNumber = "0344 412 2122",
        TenantConfiguration = tenantConfiguration,
        ViewOptions = new ViewOptionsConfiguration()
        {
            WelcomeQuoteAmountRadioLabel = WelcomeQuoteAmountRadioLabel.WithoutCar
        }
    };

    bool.TryParse(Html.ComponentRenderIsComprehensive(null).ToString(), out var isComprehensive);

    bool.TryParse(Html.ComponentRenderTermsAndConditionsHasMarketingSource(new ComponentTermsAndCondsConfiguration
    {
        MarketingSourceSetupList = new Dictionary<string, MarketingSourceDetails>
        {
            ["comparethemarket"] = new MarketingSourceDetails(),
            ["gocompare"] = new MarketingSourceDetails(),
            ["moneysupermarket"] = new MarketingSourceDetails(),
            ["confusedcom"] = new MarketingSourceDetails(),
            ["quotezonecouk"] = new MarketingSourceDetails()
        }
    }).ToString(), out var isAggregatorJourney);

    var marketingSourceConfig = new ComponentTermsAndCondsConfiguration
    {
        Id = "SalesTermsAndConditionsAccurateData",
        TenantConfiguration = tenantConfiguration,
        MarketingSourceSetupList = new Dictionary<string, MarketingSourceDetails>
        {
            ["comparethemarket"] = new MarketingSourceDetails
            {
                ImageSource = "logo-ctm.svg",
                ImageAlt = "Compare the Market Logo",
                ImageTitle = "Compare the Market"
            },
            ["gocompare"] = new MarketingSourceDetails
            {
                ImageSource = "logo-gocompare.svg",
                ImageAlt = "Go Compare Logo",
                ImageTitle = "Go Compare"
            },
            ["moneysupermarket"] = new MarketingSourceDetails
            {
                ImageSource = "logo-msm.svg",
                ImageAlt = "Money Super Market Logo",
                ImageTitle = "Money Super Market"
            },
            ["confusedcom"] = new MarketingSourceDetails
            {
                ImageSource = "logo-confused.png",
                ImageAlt = "Confused.com Logo",
                ImageTitle = "Confused.com"
            },
            ["quotezonecouk"] = new MarketingSourceDetails
            {
                ImageSource = "logo-quotezone.svg",
                ImageAlt = "Quotezone Logo",
                ImageTitle = "Quotezone"
            }
        }
    };
}

<div class="page-section section-welcome">
    <div class="page-section--inner">
        <div class="welcome-quote">
            @if (isAggregatorJourney)
            {
                <p class="legal-modules__text legal-modules__text--emphasised" data-testid="legal-index__aggregator-text">
                    We have successfully transferred your details over from

                    @Html.ComponentRenderTermsAndConditionsAggregatorLogo(marketingSourceConfig)
                </p>
            }
            <h1 class="welcome-quote__heading" data-testid="SalesWelcomeQuote__welcome-quote-message">
                <span class="welcome-quote__text">
                    Hi @Html.ComponentRenderTermsAndConditionsFirstName(new ComponentTermsAndCondsConfiguration()), your @product.ToLower() insurance quote for your
                </span>
                <strong class="welcome-quote__insured-item">
                    <span data-testid="SalesWelcomeQuote__make">
                        @Html.ComponentRenderWelcomeQuoteMakeAndModel(welcomeQuoteConfiguration)
                    </span>

                </strong>
                <span class="welcome-quote__text"> is </span>
                @Html.ComponentRenderWelcomeQuoteGetMonthlyPrice(welcomeQuoteConfiguration)
            </h1>
        </div>

        @Html.ComponentRenderWelcomeQuotePaymentSwitchFormWithSmallAnnualButton(welcomeQuoteConfiguration)

        <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="552ccd2c0000ff00057ebf5c" data-style-height="28px" data-style-width="100%" data-theme="light"> <a class="link__new-window" href="https://uk.trustpilot.com/review/budgetinsurance.com" target="_blank" aria-label="Open trustpilot in new window" rel="noopener">Trustpilot</a> </div>

        @Html.ComponentRenderWelcomeQuoteCreditAgreement(welcomeQuoteConfiguration)
    </div>
</div>




<div class="page-section section-policy-details">
    <div class="page-section--inner form-row">

        <h2 class="section-header">Your insurance policy</h2>

        <ul class="list list--policy-details">
            @Html.ComponentRenderCoverListWidgetItem(new ComponentCoverDetailsConfiguration
            {
                Id = "CoverWidgetCoverLevel",
                CoverFeaturePriority = new Dictionary<string, CoverFeatureItem>
                {
                    { FeatureServiceConstants.CoverLevel, new CoverFeatureItem { ViewName = "CoverLevel" } }
                },
                TenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration(),
                WidgetImageUrl = resourceBasePath + "icon-tick-circle.svg"
            })

            @Html.ComponentRenderCoverRangeWidgetItem(new ComponentCoverRangeConfiguration
            {
                Id = "CoverRange",
                TenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration(),
                WidgetImageUrl = resourceBasePath + "icon-calendar-primary.svg",
                IsWidget = true
            })

            @Html.ComponentRenderCoverListWidgetItem(new ComponentCoverDetailsConfiguration
            {
                Id = "CoverWidgetNoClaimsDiscount",
                CoverFeaturePriority = new Dictionary<string, CoverFeatureItem>
                {
                    { FeatureServiceConstants.Ncd, new CoverFeatureItem { ViewName = "NoClaimsDiscount" } }
                },
                TenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration(),
                WidgetImageUrl = resourceBasePath + "icon-tick-circle.svg"
            })
        </ul>

        @Html.ComponentRenderCoverListWidgetTicks(new ComponentCoverDetailsConfiguration
        {
            Id = "CoverList",
            CoverFeaturePriority = new Dictionary<string, CoverFeatureItem>
            {
                { FeatureServiceConstants.NcdProtection, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName } },
                { FeatureServiceConstants.LegalProtection, new CoverFeatureItem { ContentUrl = Url.Action("LegalProtection", "CoverFeatures") } },
                { FeatureServiceConstants.GuaranteedReplacementVehicle, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName  } },
                { FeatureServiceConstants.Breakdown, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName  } },
                { FeatureServiceConstants.PriceProtection, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName } },
                { FeatureServiceConstants.ToolsCover, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName } },
                { FeatureServiceConstants.KeyCover, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName } },
                { FeatureServiceConstants.PersonalAccidentCover, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName } }
            },
            TenantConfiguration = tenantConfiguration,
        })
    </div>
</div>

<div class="page-section section-policy-excess text-center">
    <div class="page-section--inner">
        <h2 class="section-header">Your excess explained</h2>

        @Html.ComponentRenderCoverExcessBar(new ComponentCoverDetailsConfiguration
        {
            Id = "CoverExcessBar",
            ExcessConfiguration = new ExcessConfiguration
            {
                VoluntaryExcessAvailableAmounts = new List<int>
                { 0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500 }
            },
            TenantConfiguration = tenantConfiguration
        })

        <p class="legal-text">Additional excesses may apply for young or inexperienced drivers.</p>
    </div>
</div>

<div class="page-section section-fbels">
    <div class="page-section--inner">
        @Html.ComponentRenderCoverLevelContent(new ComponentCoverDetailsConfiguration
        {
            Id = "CoverLevelContent",
            TenantConfiguration = tenantConfiguration,
            IsWidget = true,
            NeedToDisplayIpidLink = true
        })

        <div class="fbel-banner">
            <h3>Motor Legal Protection <span class="text-light">included as standard</span></h3>
            <p>This product includes Motor Legal Protection as standard and as such can't be removed. For details of the key benefits and limitations please click on the below document link</p>
            @Html.Partial("_IPIDLink", "legal-protection")
        </div>
    </div>
</div>

@if (isComprehensive)
{
    <div class="page-section section-policy-features">
        <div class="page-section--inner text-center">
            <h2 class="page-heading__heading text-light text-white">Other benefits included with your policy</h2>
            @Html.ComponentRenderFeatureBanner(new ComponentCoverDetailsConfiguration
            {
                Id = "FeatureBanner",
                CoverFeaturePriority = CreateCoverFeaturePriority(product),
                TenantConfiguration = tenantConfiguration
            })
        </div>
    </div>
}

<div class="page-section section-button-container">
    <div class="page-section--inner">
        <div class="button-container">
            <a class="button button--primary button--large button--right" id="next-page-button" href="@Url.Action("Index", "Extras")"><strong>Next: </strong><span>Optional Extras</span></a>
        </div>
    </div>
</div>

@Html.SetValidationPageOnButton("next-page-button")

@section scripts{
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <script>
        $(document).ready(function () {
            emitAdobeTracking();
        });

        function emitAdobeTracking() {
            var getAppQuotedTime = new Date();

            bgl.common.pubsub.emit("ApplicationQuoted", getAppQuotedTime);
        };
    </script>
}

@section Navigation{
    @Html.ComponentRenderNavigation(new ComponentNavigationConfiguration
    {
        Id = "NavigationDefault",
        MenuKeyPointsConfig = new Dictionary<string, MenuItemConfig>
        {
            {
                "Quote", new MenuItemConfig {ParentAction = Url.Action("Index", "PricePresentation")}
            },
            {
                "Extras", new MenuItemConfig
                {
                    ParentAction = Url.Action("Index", "Extras")
                }
            },
            {
                "Review", new MenuItemConfig
                {
                    ParentAction = Url.Action("Index", "Review"),
                    ChildActions = new List<string>
                    {
                        Url.Action("Index", "AdditionalDetails")
                    }
                }
            },
            {
                "Pay", new MenuItemConfig
                {
                    ParentAction = Url.Action("PaymentSummary", "Payment"),
                    ChildActions = new List<string>
                    {
                        Url.Action("Annual", "Payment"),
                        Url.Action("AnnualSummary", "Payment"),
                        Url.Action("MonthlyInstalment", "Payment"),
                        Url.Action("MonthlyInstalmentSummary", "Payment"),
                        Url.Action("MonthlyDeposit", "Payment"),
                        Url.Action("MonthlyDepositSummary", "Payment"),
                        Url.Action("Unsuccessful", "Payment")
                    }
                }
            },
            {"Done", new MenuItemConfig {ParentAction = Url.Action("AllDone", "Payment")}}
        },
        TenantConfiguration = tenantConfiguration
    })
}

@functions
{
    public Dictionary<string, CoverFeatureItem> CreateCoverFeaturePriority(string product)
    {
        if (product == "Car")
        {
            return new Dictionary<string, CoverFeatureItem>
            {
                {FeatureServiceConstants.DriveOtherVehicles, new CoverFeatureItem {ContentUrl = Url.Action("DriveOtherCars", "CoverFeatures"), Description = "We may be able to cover you to drive other cars"}},
                {FeatureServiceConstants.VandalismPromise, new CoverFeatureItem {ContentUrl = Url.Action("VandalismPromise", "CoverFeatures"), Description = "Cover if your car suffers damage caused by vandalism"}},
                {FeatureServiceConstants.UninsuredDriverPromise, new CoverFeatureItem {ContentUrl = Url.Action("UninsuredDriverPromise", "CoverFeatures"), Description = "Cover if you are hit by an uninsured motorist"}},
                {FeatureServiceConstants.WindscreenCover, new CoverFeatureItem {ContentUrl = Url.Action("WindscreenCover", "CoverFeatures"), Description = "Covering the cost of repairing or replacing your glass"}},
                {FeatureServiceConstants.DrivingAbroad, new CoverFeatureItem {ContentUrl = Url.Action("DrivingAbroad", "CoverFeatures"), Description = "Great news - you can take your car abroad"}},
                {FeatureServiceConstants.PersonalBelongings, new CoverFeatureItem {ContentUrl = Url.Action("PersonalBelongings", "CoverFeatures"), Description = "We will cover your personal belongings too"}},
                {FeatureServiceConstants.ChildSeatCover, new CoverFeatureItem {ContentUrl = Url.Action("ChildSeatCover", "CoverFeatures"), Description = "Good news for the younger members of the family"}},
                {FeatureServiceConstants.EmergencyTransport, new CoverFeatureItem {ContentUrl = Url.Action("EmergencyTransport", "CoverFeatures"), Description = "Help for you/your passengers if you have an accident"}},
                {FeatureServiceConstants.MedicalExpenses, new CoverFeatureItem {ContentUrl = Url.Action("MedicalExpenses", "CoverFeatures"), Description = "Cover up to \u00A3200 if you need medical help"}},
                {FeatureServiceConstants.ReplacementLocks, new CoverFeatureItem {ContentUrl = Url.Action("ReplacementLocks", "CoverFeatures"), Description = "Cover for your car door and/or boot locks"}},
                {FeatureServiceConstants.AudioEquipment, new CoverFeatureItem {ContentUrl = Url.Action("AudioEquipment", "CoverFeatures"), Description = "Cover for your audio, navigation and entertainment equipment"}},
                {FeatureServiceConstants.PersonalAccidentBenefits, new CoverFeatureItem {ContentUrl = Url.Action("PersonalAccidentBenefits", "CoverFeatures"), Description = "A range of injuries covered for you/partner", HasUpdate = true}},
                {FeatureServiceConstants.CourtesyVehicle, new CoverFeatureItem {ContentUrl = Url.Action("CourtesyCar", "CoverFeatures"), Description = "Provides you with a car, subject to availability", HasUpdate = true}}
            };
        }
        else 
        {
            return new Dictionary<string, CoverFeatureItem>
            {
                {FeatureServiceConstants.PersonalBelongings, new CoverFeatureItem {ContentUrl = Url.Action("PersonalBelongings", "CoverFeaturesVan"), Description = "We'll cover your personal belongings too"}},
                {FeatureServiceConstants.DrivingAbroad, new CoverFeatureItem {ContentUrl = Url.Action("DrivingAbroad", "CoverFeaturesVan"), Description = "Great news - you can take your van abroad"}},
                {FeatureServiceConstants.MedicalExpenses, new CoverFeatureItem {ContentUrl = Url.Action("MedicalExpenses", "CoverFeaturesVan"), Description = "Cover up to \u00A3200 if you need medical help"}},
                {FeatureServiceConstants.UninsuredDriverPromise, new CoverFeatureItem {ContentUrl = Url.Action("UninsuredDriverPromise", "CoverFeaturesVan"), Description = "Cover if you are hit by an uninsured motorist"}},
                {FeatureServiceConstants.ReplacementLocks, new CoverFeatureItem {ContentUrl = Url.Action("ReplacementLocks", "CoverFeaturesVan"), Description = "Cover for your vehicle door and/or boot locks"}},
                {FeatureServiceConstants.EmergencyTransport, new CoverFeatureItem {ContentUrl = Url.Action("EmergencyTransport", "CoverFeaturesVan"), Description = "Help for you/your passengers if you have an accident"}},
                {FeatureServiceConstants.WindscreenCover, new CoverFeatureItem {ContentUrl = Url.Action("WindscreenCover", "CoverFeaturesVan"), Description = "Covering the cost of repairing or replacing your glass"}},
                {FeatureServiceConstants.AudioEquipment, new CoverFeatureItem {ContentUrl = Url.Action("AudioEquipment", "CoverFeaturesVan"), Description = "Cover for your audio, navigation and entertainment equipment"}},
                {FeatureServiceConstants.PersonalAccidentBenefits, new CoverFeatureItem {ContentUrl = Url.Action("PersonalAccidentBenefits", "CoverFeaturesVan"), Description = "A range of injuries covered for you/partner", HasUpdate = true}},
                {FeatureServiceConstants.CourtesyVehicle, new CoverFeatureItem {ContentUrl = Url.Action("CourtesyVan", "CoverFeaturesVan"), Description = "Provides you with a van, subject to availability", HasUpdate = true, IconImage = "courtesy-van"}}
            };
        }
    }
}