﻿<div class="page-section">
    <div class="page-section--inner">
        <h2 class="h3 page-section__heading" data-testid="MotorLegalProtectionIncluded">
            <strong class="page-section__highlight-heading-text">Motor Legal Protection</strong>
            <span class="page-section__standard-heading-text">
                included as standard
            </span>
        </h2>
        <p>This product includes Motor Legal Protection as standard and as such can&apos;t be removed.</p>
        <div class="fbels--columns">
            <div class="fbels">
                <div class="fbels__section">
                    <h3 class="h4 fbels__heading fbels__heading--cover">Key benefits</h3>
                    <ul class="list list--fbels list--fbels-cover">
                        <li class="list__item">
                            Up to &pound;100,000 of legal expenses to pursue uninsured losses such as personal injury, loss of earnings or excesses following a motor accident
                        </li>
                        <li class="list__item">
                            Up to &pound;20,000 of legal expenses for motor prosecution defence
                        </li>
                        <li class="list__item">
                            Motor legal helpline - advice on motoring legal issues
                        </li>
                    </ul>
                </div>
                <div class="fbels__section">
                    <h3 class="h4 fbels__heading fbels__heading--remember">Things to remember</h3>
                    <ul class="list list--fbels list--fbels-remember">
                        <li class="list__item">
                            Uninsured loss claims must be reported within 180 days of the accident, and the third party must have valid motor insurance at the time of the accident
                        </li>
                        <li class="list__item">
                            Motoring prosecution defence does not cover any fines or penalties, or any charges relating to drink or drugs
                        </li>
                        <li class="list__item">
                            Personal injury claims must be as a result of a motor related accident
                        </li>
                        <li class="list__item">
                            There must be a reasonable chance of case success
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="admin-text">Administered by ACM ULR Ltd and underwritten by RAC Insurance Ltd</p>
        @Html.Partial("_IPIDLink", "legal-protection")
    </div>
</div>