﻿@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Constants
@using BGL.Components.CoverDetails
@using BGL.Components.TermsAndConds

@{
    ViewBag.Title = "Policy Features";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var nextPageUrl = ConfigurationManager.AppSettings["ApplicationPath"] + "Extras/Pncd";
    bool.TryParse(Html.ComponentRenderTermsAndConditionsNeedToShowLegalProtectionSection(new ComponentTermsAndCondsConfiguration
    {
        Id = "SalesTermsAndConditionsLegalProtection",
        TenantConfiguration = tenantConfiguration
    }).ToString(), out var needToPresentLegalProtectionWording);
}

<div class="cover-features-list">
    <div class="page-section">
        <div class="page-section--inner">

            <div class="page-heading">
                <h1 class="page-heading__heading">What&apos;s included in your policy</h1>
            </div>

            @Html.ComponentRenderCoverBubbles(new ComponentCoverDetailsConfiguration
            {
                Id = "WhatsIncluded",
                CoverFeaturePriority = new Dictionary<string, CoverFeatureItem>
                {
                    { FeatureServiceConstants.CoverLevel, new CoverFeatureItem { ViewName = "CoverLevel" } },
                    { FeatureServiceConstants.LegalProtection, new CoverFeatureItem { ContentUrl = Url.Action("LegalProtection", "CoverFeatures") } },
                    { FeatureServiceConstants.DriveOtherVehicles, new CoverFeatureItem { ContentUrl = Url.Action("DriveOtherCars", "CoverFeatures") } },
                    { FeatureServiceConstants.CourtesyVehicle, new CoverFeatureItem { ContentUrl = Url.Action("CourtesyCar", "CoverFeatures") } },
                    { FeatureServiceConstants.UninsuredDriverPromise, new CoverFeatureItem { ContentUrl = Url.Action("UninsuredDriverPromise", "CoverFeatures") } },
                    { FeatureServiceConstants.VandalismPromise, new CoverFeatureItem { ContentUrl = Url.Action("VandalismPromise", "CoverFeatures") } },
                    { FeatureServiceConstants.WindscreenCover, new CoverFeatureItem { ContentUrl = Url.Action("WindscreenCover", "CoverFeatures") } },
                    { FeatureServiceConstants.DrivingAbroad, new CoverFeatureItem { ContentUrl = Url.Action("DrivingAbroad", "CoverFeatures") } },
                    { FeatureServiceConstants.PersonalBelongings, new CoverFeatureItem { ContentUrl = Url.Action("PersonalBelongings", "CoverFeatures") } },
                    { FeatureServiceConstants.ChildSeatCover, new CoverFeatureItem { ContentUrl = Url.Action("ChildSeatCover", "CoverFeatures") } },
                    { FeatureServiceConstants.EmergencyTransport, new CoverFeatureItem { ContentUrl = Url.Action("EmergencyTransport", "CoverFeatures") } },
                    { FeatureServiceConstants.MedicalExpenses, new CoverFeatureItem { ContentUrl = Url.Action("MedicalExpenses", "CoverFeatures") } },
                    { FeatureServiceConstants.PersonalAccidentBenefits, new CoverFeatureItem { ContentUrl = Url.Action("PersonalAccidentBenefits", "CoverFeatures") } },
                    { FeatureServiceConstants.ReplacementLocks, new CoverFeatureItem { ContentUrl = Url.Action("ReplacementLocks", "CoverFeatures") } },
                    { FeatureServiceConstants.AudioEquipment, new CoverFeatureItem { ContentUrl = Url.Action("AudioEquipment", "CoverFeatures") } }
                },
                TenantConfiguration = tenantConfiguration
            })
        </div>
    </div>

    <div class="page-section">
        <div class="page-section--inner">
            @Html.ComponentRenderCoverLevelContent(new ComponentCoverDetailsConfiguration
            {
                Id = "CoverLevelContent",
                TenantConfiguration = tenantConfiguration,
                NeedToDisplayIpidLink = true
            })
        </div>
    </div>
    @if (needToPresentLegalProtectionWording)
    {
        @Html.Partial("LegalProtectionSectionContent")
    }

    <div class="page-section">
        <div class="page-section--inner">
            <div class="button-container">
                <a class="button button--primary button--large button--right" href="@nextPageUrl"><strong>Next: </strong><span>Optional extras</span></a>
                <a class="button button--text button--large button--back button--left" href="@Url.Action("Index")">Back</a>
            </div>
        </div>
    </div>
</div>