﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Extensions
@using BGL.Components.VehicleDetails
@using BGL.Components.VehicleDetails.Enums
@using BGL.Web.BudgetInsurance.MotorQuote.Constants
@{
    ViewBag.Title = "Vehicle Lookup";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner">
        @Html.ComponentRenderVehicleSearching(new ComponentVehicleDetailsConfiguration
        {
            Id = "VehicleDetails",
            ManufactureListInUpperCase = new List<string>
            {
                "BMW", "SEAT", "MAN"
            },
            ManufacturerKeys = new List<string>
            {
                "FO",
                "VA",
                "VW",
                "PE",
                "NI",
                "BM",
                "R1",
                "CI",
                "TO",
                "AU",
                "ME",
                "HO",
                "FI",
            },
            WrongVehicleTypeForVanInsValidationErrorMessage = BrandConstants.WrongVehicleTypeForVanInsValidationErrorMessage,
            WrongVehicleTypeForCarInsValidationErrorMessage = BrandConstants.WrongVehicleTypeForCarInsValidationErrorMessage,
            CarErrorMessageUrl = BrandConstants.CarErrorMessageUrl,
            VanErrorMessageUrl = BrandConstants.VanErrorMessageUrl,
            TenantConfiguration = tenantConfiguration,
            SummaryButtonText = "Continue",
            ModificationButtonText = "Continue",
            DataStoreKey = "YourCar",
            JourneyType = JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("VehicleDetails", "YourCar"),
            PreviousStepUrl = Url.Action("AdditionalDrivers", "YourDetails"),
            ComponentUrl = Url.Action("VehicleDetails", "YourCar")
        })
    </div>
</div>