﻿@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Security.Web.Authentication.Services

@{
    ViewBag.Title = "Session Timeout";
    Layout = "~/Views/Shared/_LayoutNoSession.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var urlContent = DependencyResolver.Current.GetService<UrlContent>();

    var productCookie = HttpContext.Current.Request.Cookies["product"];
    string retrieveQuoteLink = productCookie != null && productCookie.Value.Equals("van", StringComparison.OrdinalIgnoreCase) ?
        ConfigurationManager.AppSettings["RetrieveVanQuoteUrl"] :
        ConfigurationManager.AppSettings["RetrieveCarQuoteUrl"];
}

<div class="page-section" data-testid="SessionTimeOutComponent__section">
    <div class="page-section--inner narrow spaced">
        <div class="page-message ">
            <img class="page-message__image" src="@(tenantConfiguration.ResourceBasePath)icon-timeout.png" alt="session timed out" />
            <h1 class="page-message__heading sessiontimeout">Hey! Looks like you&apos;ve taken a break.</h1>
            <p class="page-message__text">To protect your personal information, you&apos;ve been automatically logged out.</p>
            <div class="page-message__divider"></div>
            <div class="page-message__button-container">
                <a class="button button--primary button--large page-message__button" href="@(urlContent.ConvertVirtualPathToAbsolute("~/") + retrieveQuoteLink)">Retrieve my quote</a>
            </div>
        </div>
    </div>
</div>

<script>
    sessionStorage.clear();
</script>