﻿@Html.AntiForgeryToken()
<div id="houstonConfirmation" class="notification notification--enhanced notification--confirmation hide" role="alertdialog" aria-modal="true" aria-label="Confirmation" aria-describedby="abandon-text">
    <p id="abandon-text" class="notification--enhanced__text">Are you sure you want to abandon your changes?</p>
    <div class="button-wrapper notification--enhanced__button-wrapper">
        <button id="abandonButton" class="button button--ghost button--sm">Yes</button>
        <button id="continueButton" class="button button--ghost button--sm">No</button>
    </div>
</div>