﻿@using System.Configuration
@using System.Web.Mvc.Html
@model BGL.Components.Houston.Models.HoustonEnhancedNotificationContextData

@{
    var contextData = Model.NotificationContextData;
    var enhancedNotificationClickHereUrl = $"{ConfigurationManager.AppSettings["ApplicationPath"]}PricePresentation#prod-var-message";
}

<div id="EnhancedNotification" class="notification notification--enhanced hide">
    <p class="notification--enhanced__text">OK @contextData.FirstName, your new price is <span class="bold">&pound;@contextData.Price. The underwriter for your policy is <span id="">@contextData.Underwriter</span>.</span></p>
    <p class="notification--enhanced__text" id="SaveEnhanced">You could save <span class="bold">&pound;@Model.EnhancedProductPriceDifference</span> per year, by upgrading to @Model.EnhancedProductVariantDescription cover giving you all the benefits of Standard cover plus</p>
    <p class="notification--enhanced__text hide" id="SpendEnhanced">For an extra <span class="bold">&pound;@Model.EnhancedProductPriceDifference</span> per year you may want to consider our @Model.EnhancedProductVariantDescription cover giving you all the benefits of Standard cover plus</p>
    <ul class="list--chosen">
        @foreach (var cover in Model.EnhancedProductIncludedCovers)
        {
            <li class="list__item">@cover</li>
        }
    </ul>
    <small class="notification--enhanced__small">To see more details on @Model.EnhancedProductVariantDescription cover</small>
    <div class="button-wrapper notification--enhanced__button-wrapper">
        <a id="ViewEnhancedProduct"
           class="button button--inverted button--sm"
           href="@enhancedNotificationClickHereUrl"
           role="button"
           aria-label="Click here to see more details on premier cover"
           tabindex="0">Click here</a>
        <button id="notificationButton" class="button button--ghost button--sm">Dismiss</button>
    </div>
</div>

@Html.HiddenFor(m => m.UseSaveEnhancedProductNotification,
    new { id= "SaveEnhancedProduct", Value = Model.UseSaveEnhancedProductNotification })
@Html.HiddenFor(m => m.UseSpendEnhancedProductNotification,
    new { id = "SpendEnhancedProduct", Value = Model.UseSpendEnhancedProductNotification })
