﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.Houston.Models.OutOfHoursViewModel

@{
    var componentId = Model?.ComponentConfiguration?.Id.ToLower();
}

<div class="panel-header panel-header__always-open">
    <div class="panel-header__wrapper">
        <button class="panel-header__close" aria-label="Exit" data-id="@(componentId)-cross" data-testid="slide-panel__close-button"></button>
    </div>
</div>
<div id="@componentId" data-component-id="@(Model?.ComponentConfiguration?.Id)" class="outofhours container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            @if (!Model.IsSubmitted)
            {
                <h1 class="bold">Send us a message</h1>
                <h2 class="light">Please fill in the form and we'll aim to respond within 48 hours</h2>
                using (Html.BeginFormBgl("OutOfHoursMessage", "OutOfHoursComponent", FormMethod.Post, new { @class = "row" }))
                {
                    @Html.AntiForgeryToken()
                    <section>
                        <div class="form-group">
                            <label for="Message">Your request</label>
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(t => t.Message, new { data_id = componentId + "-message", @class = "form-row__input", maxlength = 300, rows = "3" })
                            @Html.ValidationMessageFor(model => model.Message, string.Empty, new { @class = "outofhours__validation", data_id = componentId + "-validation" })
                            <small>
                                <strong data-id="@(componentId)-charactersRemaining">@(300 - (Model.Message?.Length ?? 0))</strong>
                                characters remaining
                            </small>
                        </div>
                        <small>
                            If your policy details have already changed and you need to make an immediate change, please contact us as soon as possible on @Model.ContactNumber. Opening hours @Model.OpeningHours
                        </small>
                    </section>
                    <div class="col-lg-12">
                        <hr class="@(componentId)__divider" />
                    </div>
                    <div class="slide-panel-nav">
                        <span>
                            <button type="submit" class="button button--primary button--large button--right" tabindex="0" data-id="@(componentId)-submit">Send your message</button>
                        </span>
                        <span class="@(componentId)__close">
                            <a data-id="@(componentId)-close" class="button button--text button--back back-button-link">Close</a>
                        </span>
                    </div>
                }
            }
            else
            {
                <div data-id="@(componentId)-confirmation" class="row customerservice">
                    <section class="@(componentId)__confirmation">
                        <i class="header-icon ui-icon-tick-circle"></i>
                        <h1 data-id="@(componentId)-first-name" class="text-center">
                            All done @Model.PolicyHolderName
                        </h1>
                        <h2 class="light text-center">Your contact form has been sent to our customer services team</h2>


                        <span class="divider divider--short">
                        </span>

                        <h3 class="h4">What happens next?</h3>
                        <p>
                            A customer services representative will respond to your request via email within the next 48 hours. We will send the email to your address:
                            <strong data-id="@(componentId)-email-address">@Model.PolicyHolderEmailAddress</strong>
                        </p>
                        <p>Please check your spam/junk folder for our email.</p>
                        <p>If you prefer to speak to us sooner please use our webchat service or call us during our opening hours.</p>
                        <div class="divider customerservice--divider"></div>
                    </section>
                </div>
                <script>
                    if (document.querySelector("[data-id='@(componentId)-contact-details']")) {
                        document.querySelector("[data-id='@(componentId)-contact-details']").classList.toggle("hide");
                    }
                </script>
            }
        </div>
    </div>
</div>