﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.AdditionalDetails.Models.AdditionalDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

@if (!Model.HasPhoneNumber)
{
    @Html.HiddenFor(m => m.PersonId)

    <div class="form-row">
        <label class="form-row__label" for="Mobilephone-Number">What is your Daytime / Mobile telephone number?</label>
        @Html.TextBoxForBgl(model => model.MobilePhoneNumber, new { id = "Mobilephone-Number", @class = "form-row__input form-row__input--text", type = "number", name = "mobileTelephoneNumber", data_testid = componentId + "__mobile-telephone-number-input", tabindex = 0 })
        <div class="form-row__error-text-container">
            @Html.ValidationMessageFor(model => model.MobilePhoneNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__mobile-telephone-number_validation-message" })
        </div>
    </div>
    <div class="form-row">
        @Html.Partial(Model.HomeTelephoneNumberHeaderViewName)

        @Html.TextBoxForBgl(model => model.HomePhoneNumber, new { id = "Homephone-Number", @class = "form-row__input form-row__input--text", type = "number", name = "homeTelephoneNumber", data_testid = componentId + "__home-telephone-number-input", tabindex = 0 })
        <div class="form-row__error-text-container">
            @Html.ValidationMessageFor(model => model.HomePhoneNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__home-telephone-number_validation-message" })
        </div>
    </div>
}
else
{
    @Html.HiddenFor(m => m.HasPhoneNumber)
    @Html.HiddenFor(m => m.MobilePhoneNumber)
    @Html.HiddenFor(m => m.HomePhoneNumber)
}