﻿<p class="ncd-source__text">
    Proof from a company car is also acceptable.
</p>

<p class="ncd-source__text">
    We will need a letter from the Insurer/Broker/Lease Company or Employer stating:
</p>

<ul class="list">
    <li class="list__item">
        You, the driver, had sole use of the company car including personal use
    </li>
    <li class="list__item">
        That you no longer drive the vehicle
    </li>
    <li class="list__item">
        The dates that you have driven to and from
    </li>
    <li class="list__item">
        Details of any claims or confirmation that no claims have been made
    </li>
</ul>

<p class="ncd-source__text">
    Proof should be on company headed paper in a non editable format. If the business is a family run business, the NCD proof must come from the insurer.
</p>

<p class="ncd-source__text">
    Unfortunately we are not able to accept proof from a company vehicle or foreign insurer for your Experienced Driver Discount.
</p>
