﻿<div class="page-heading">
    <h1 class="page-heading__heading">One more thing...</h1>
    <p class="page-heading__text">
        We need to know the following information before you continue.
    </p>
</div>