﻿@using System.Web.Mvc.Html
@model BGL.Components.AdditionalDetails.Models.PaymentsRegularityViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div data-component-id="@componentId">
    <form id="payments-regularity-form" class="step-form" data-store-key="@Model.DataStoreKey">
        <h1 class="step-form__section-title">Your cover</h1>
        <h2 class="step-form__heading">How would you normally pay for your @Model.Product.ToLower() insurance?</h2>
        <p class="help-text__sub-text">This can be changed once you have received a quote.</p>

        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden"></legend>

                @Html.RadioButtonFor(x => x.PaymentsPreference, "I", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "payments-preference-monthly", data_store = $"{nameof(Model.PaymentsPreference)}" })
                @Html.LabelFor(x => x.PaymentsPreference, "Monthly", new { @class = "form-row__label form-row__label--pill", @for = "payments-preference-monthly", data_testid = componentId + "__radio-button-monthly", @role="button", @tabindex="0" })

                @Html.RadioButtonFor(x => x.PaymentsPreference, "A", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "payments-preference-annually", data_store = $"{nameof(Model.PaymentsPreference)}" })
                @Html.LabelFor(x => x.PaymentsPreference, "Annually", new { @class = "form-row__label form-row__label--pill", @for = "payments-preference-annually", data_testid = componentId + "__radio-button-annually", @role="button", @tabindex="0" })

            </fieldset>
        </div>

        <div class="button-container">
            <button type="button"
                    class="button button--primary button--large button--right slide-panel__close hide"
                    id="payments-regularity-continue-button"
                    data-next-step-url="@Model.ComponentConfiguration.NextPageUrl"
                    data-testid="@(componentId)__continue-button">
                Continue
            </button>

            <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.PreviousPageUrl" data-testid="@(componentId)__back-button">Back</a>
        </div>
    </form>
</div>