a {
    color: $link-color;
    text-decoration: $link-decoration;

    &:focus {
        @include linkFocusSurround;
        border-radius: $button-link-focus-border-radius;
    }
}

a.button {
    border-radius: $button-border-radius;
}

a {
    font-weight: 400;
    color: $link-color;
    text-decoration: underline;
    text-decoration-color: $link-text-decoration-color;
    padding: 1px;

    &:hover {
        color: $anchor-color-hover;
        text-decoration-color: $link-color;
    }
    &:active {
        color: #006EB3; //TODO: use a variable
        text-decoration-color: #006EB3; //TODO: use a variable
    }
}