// Halifax - Brand Guidelines Colour

// Halifax Blue: $color-primary
// Light Blue: #00A8E7
// Green: #53AF32
// Orange: #F39200
// Purple: #B8348B
// Red: #E8413B
// Yellow accent: #FFDD00
// Light Grey:  #E3E3E3
// Dark Grey: #4A4A4A
// White: #FFFFFF
// Black: #000000

$font-family-base: "SourceSansPro-Regular";
$headings-font-family: "SourceSansPro-SemiBold";

// Halifax
$color-primary: #005eb8;
$brand: $color-primary;
$primary: $color-primary;
$color-secondary: #00a2b3;
$color-green: $color-primary;
$color-grey: #e3e3e3;
$color-font: #071d49;
$color-yellow: #ffdd00;
$color-orange: #f39200;

// Headings
$headings-color: $color-font;
$page-message__heading-color: $headings-color;
$centered-main-heading__heading-color: $headings-color;
$feature-header__heading-color: $headings-color;
$legal-module__heading--main-color: $headings-color;
$welcome-quote__heading-color: $headings-color;
$page-heading__heading-color: $headings-color;

$form-input-color: $color-font;

// Backgrounds
$bg-blue-grey: #f5f7fa !default;
$bg-light-grey: #f6f6f6 !default;
$bg-lighter-grey: #fafafa !default;

// Page Header
$page-header-background-color: #005eb8;
$page-header-font-color: #ffffff;
$header-background-color: $color-primary;
$header-text-colour: #fff;
$header-text-colour-hover: #fff;
$notifications-bell-color: #fff;
$notifications-bell-color-none: #fff;
$renewals-header-link-color: #fff;
$renewals-header-link-border-bottom-color: #fff;
$renewals-header-link-color-hover: #fff;

// Breakdown Cover - Config
$breakdown-table-tiers: 6;

// Houston
$houston-button-animation-enabled: false;
$houston-button-background-color: $color-primary;
$houston-button-border-color: $color-secondary;
$houston-button-help-icon-enabled: false;
// Houston VA Virtual Assistant
$houston-va-header-avatar-background-color: #fff;
$houston-va-header-avatar-background-image: url(../images/logo-brand.svg);
$houston-va-header-avatar-border-color: $color-secondary !default;
$houston-va-header-avatar-background-size: 25px;

//Links

$link-color: $color-primary;

/// Buttons

$button-primary-background: $color-primary;
$button-primary-background-hover: #071d49;
$button-border-radius: 0;

$step-form-button-border: 2px solid $color-primary;

//Radios
$form-tab-selected-background: $color-primary;
$form-tab-selected-border-color: $color-primary;

$form-label-pill-border: 2px solid $color-primary;

$button-radio-border: 2px solid $color-primary;

//Tabs
$tabs-label-pill-border: 2px solid $color-primary;

//Notification/Houston

$notification-background-color: #00a2b3;
$notification-border-color: #00a2b3;
$notification-button-background-color: #fff;
$notification-button-color: #00287c;
$notification-button-border-color: #fff;

//breadcrumb

$breadcrumb__disc-border-color: #ccc;
$breadcrumb__disc--last--active-border-color: #ccc;
$breadcrumb__line--base-background-color: #ccc;
$breadcrumb__text-color: #fff;
$breadcrumb__text--active--last-color: #ccc;
$breadcrumb__color: #00a2b3;

//PP+WI
$section-policy-payment-background-color: #f0f0f0;
$payment-option-min-height: 126px;
$payment-option--annual-sub-message-color: $color-font;
$section-policy-features-background-color: #f0f0f0;
$included-section--header-color: #323232;
$inclusion-list__link-color: $color-primary;
$card-image-mobile-height: 40px;
$card-image-mobile-width: 40px;
$card-image-height: 60px;
$card-image-width: 60px;
$card-color: $color-primary;
$payment-option--annual-radius: 0;
$payment-option--monthly-radius: 0;
$payment-option--annual-desktop-radius: 0;
$payment-option--monthly-desktop-radius: 0;
$payment-option-frequency-amount-color: $color-font;
$payment-option__radio-checked-border-color: $color-primary;
$payment-option__radio-checked-background-color: $color-primary;
$section-policy-details-background-color: #fff;
$marketing-panel-section-background-color: #f4f4f4;
$section-heading-color: $color-font;
$card-upgrade-background-color: #0040bb;
$card-upgrade-button-border-radius: 0;

//Single Page Add Ons (SPAO)
$background-promo: #edf6ff;
$border-promo: 4px solid $notification-border-color;
$border-addon: 2px solid $color-primary;
$addon-radius: 8px;
$addon-border-radius: 10px 10px 0px 0px;
$addon-list-font-weight: 700;
$keycare-image-top-mobile: -10px;
$keycare-image-top-desktop: -10px;
$keycare-image-top--added-mobile: -10px;
$keycare-image-top--added-desktop: -10px;
$keycare-image-top--other-mobile: -10px;
$keycare-image-top--other-desktop: -10px;

//Nav
$nav-primary-mobile-background: #fff;
$nav-primary-mobile-discs: none;
$nav-primary-mobile-link-colour: $color-primary;
$nav-primary-mobile-ui-icon-before-color: $color-primary;

//PolicySelector
$policy-selector-background: $bg-lighter-grey;
$policy-selector-discs: none;
$policy-selector-header-text-color: $color-primary;
$policy-selector-header-text-color-hover: $color-secondary;
$policy-selector-menu-text-color: $color-primary;
$policy-selector-account-select-border-radius: 10px;
$policy-selector-account-select-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
$policy-selector-account-link-color: $color-primary;

//Notifications/AlertsMA
$notifications-header-font-color: $color-primary;
$notifications-snooze-text-colour-hover: $color-secondary;
$notifications-background: #fff;
$notifications-item-background: #fff;
$notifications-text-colour: $color-primary;
$notifications-snooze-background: #fff;
$notifications-snooze-text-colour: $color-primary;
$notifications-snooze-background-hover: #fff;
$notifications-button-background-color: $color-primary;
$notifications-button-text-color: #fff;
$notifications-button-background-hover: $color-secondary;
$notifications-button-text-color-hover: #fff;
$alerts-ui-icon-color-before: #fff;
$toggle-menu-mobile-ui-icon-color-before: #fff;
$notifications-snooze-focus-box-shadow: inset 0px 0px 0px 3px rgb(30, 148, 227), 0px 0px 0px 3px rgb(255, 255, 255);

//Font Icons
$ui-icon-color-before: #071d49;
$ui-icon-breakdown-before: "\e966";
$ui-icon-guaranteed-replacement-vehicle-before: "\e967";
$ui-icon-key-cover-before: "\e968";
$ui-icon-legal-protection-before: "\e969";

// Footer
$page-footer-link-hover-color: #fff;
$footer-primary-ui-icon-color: #fff;