// Brand specific variables
@import 'brand.variables';

// @import core sass;
@import '../../common/sass/01-settings/settings';
@import '../../common/sass/02-tools/tools';
@import '../../common/sass/03-generic/generic';
@import '../../common/sass/04-elements/elements';
@import '../../common/sass/05-objects/objects';
@import '../../common/sass/06-components/components';
/* inject:imports */
/* endinject */
@import '../../common/sass/07-trumps/trumps';



@font-face {
    font-family: "SourceSansPro-Regular";
    src: url(../fonts/SourceSansPro-Regular.woff) format("woff"),
    url(../fonts/SourceSansPro-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SourceSansPro-SemiBold";
    src: url(../fonts/SourceSansPro-SemiBold.woff) format("woff"),
    url(../fonts/SourceSansPro-SemiBold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

.welcome-quote__sub-text {
    color: #000;
}

.shopping-basket__text {
    color: #fff
}

.policy-inclusion__image-wrapper {
    background-color: #0040BB;
}

.policy-inclusion__image {
    width: 70%;
    height: 70%;
}

.demands-questions__input:checked+.demands-questions__label {
    background-color: #0040BB;
}

.demands-questions__none-button.active {
    background-color: #0040BB;
}

.docs-delivery__label--post {
    background-size: 70px 100px; 
}

.docs-delivery__radio:checked+.docs-delivery__label--post {
    background-size: 70px 100px;
}

.button {

    &--secondary {
        background-color: $color-secondary;
        border-color: $color-secondary;
        color: #ffffff;

        &:hover {
            background-color: $color-secondary;
        }
    }
}

.breadcrumb__section.complete .breadcrumb__disc {
    background-color: $breadcrumb__color;
    border-color: $breadcrumb__color;
    border-width: 2px;
}
.breadcrumb__section.active .breadcrumb__disc {
    border-color: $breadcrumb__color;
    border-width: 2px; 
}
.breadcrumb__section.complete .breadcrumb__line,
.breadcrumb__section.partial .breadcrumb__line {
    background: $breadcrumb__color;
}
.breadcrumb__text a {
    color: $breadcrumb__text-color;
}

.demands-questions__label {
    background-color: #F0F0F0;
    &__input:checked + &__label {
        background-color: $color-primary;
    }
}

.demands-questions__none-button {
    background-color: $color-grey;
    border-color: $color-grey; 
    color: $color-font;
}

.demands-questions__none-button:hover {
    border-color: $color-primary; 
    background-color: $color-primary; 
    color: #ffffff;
}


.page-footer {
    color: white;
    background: $color-primary;
}
.footer-docs__heading{
    color: white;
}
.page-footer__link,
.footer-docs__link {
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: underline;
    }
}

.carousel__image {
    width: 100%;
    height: 90px;
    &--ci {
        height: 90px;
        max-width: 250px;
    }

}


.houston-container.ground-control .nw_Agent .nw_agentHeader .nw_avatar {
    background-size: 40px;
    border: none;
    background-color: transparent;
    border-radius: 0;
}

.houston-container.ground-control .nw_agentHeader .nw_avatar {
    background-image: url(../images/logo-brand.svg);
}

// Accessibility

.welcome-quote__selector-option{
    color: $color-primary;
    border-bottom-color: $color-primary;
}

.cover-features-list__item--caption, .carousel__text--lbg{
    color: #000;
}

.cover-range__date-title {
    color: $color-font;
    font-size: .9375rem;
}

.button--secondary, .button--secondary:hover{
    background-color: $color-primary;
    border-color: $color-primary;
}

.calendar-days .calendar-item--day, .date-picker__section--actions .date-picker__action-box .date-picker__date-sub-text{
    color: #000;
}

.date-picker__sub-text{
    color: #000;
}

.excess-bar__heading--compulsory, .excess-bar__value--compulsory{
    color: #000;
}

.shopping-basket-details__legal-text, .shopping-basket-details__financial-text{
    color: #000;
}

.button--text {
    color: $color-primary;
}

.demands-questions__none-button{
    color: #fff;
}

.breakdown-table__sub-price{
    color: #000;
}
.breakdown-table .breakdown-table__button{
    color: $color-primary;
    border-color: $color-primary;
    background-color:#fff;
}

.breakdown-table .breakdown-table__button:hover {
    background-color: $color-primary;
    color: #fff;
}

.breakdown-table .breakdown-table__button.active{
    background-color: $color-primary;
    color: #fff;
}

.review-overview__person-link{
    color: #000;
}

.cpa__heading, .direct-debit-text__text{
    color: #000;
}

.error-text{
    font-size: 1.2rem!important;
}

.accordion__body-heading {
    font-size: 1rem;
    color: $color-font;
    font-family: "SourceSansPro-SemiBold";
}

.demands-questions__none-button{
    color: $color-primary;
    border: 1px solid $color-primary;
    background: #fff;
    &:hover{
        color: #fff;
        background: $color-primary;
    }
}

.form-row__hint-text, .form-row__input {
    color: $color-font;
}

.ssc-initials__section--add .ssc-initials__name{
    color: $color-primary;
}

.button--secondary, .button--hollow {
    color: #fff;
    border-color: $color-primary;
    background-color: $color-primary;

    &:hover {
        border-color: #071d49;
        background-color: #071d49;
    }
}

.button--middle{
    border-color: $color-primary;
    strong{
        color: #fff;
    } 
}

.breadcrumb__section.complete .breadcrumb__text{
    color: #fff;
}

.breadcrumb__section.active .breadcrumb__text{
    color: #fff;
}

.button--secondary.cover-range__button{
    color: #fff;
}

.date-picker__section--actions .date-picker__action-box .date-picker__button-sub-wrapper .date-picker__sub-button{
    color: #fff;
}

.excess-bar__button-text{
    color: #fff;
}

.manual-reg__heading {
    color: $color-font;
}

.manual-reg__text {
    color: $color-font;
}

.found-vehicle_label--error{
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-docs{
    .list{
        .list__item{
            background-image: url(../images/icon-new-window--white.svg); 
        }
    }
}

.ncd-edit__button-text{
    color: #fff;
}

.h4, h4 {
    color: rgb(0, 0, 0);
}

.demands-questions__none-button.active:hover{
    background-color: $color-primary;
    border-color: $color-primary;
}

.demands-questions__none-button.active{
    border-color: #0040BB;
}

.button--secondary.shopping-basket-actions__button{
    color: #fff;
}

.error-text__heading {
    font-size: 1.2rem;
    color: #f56565;
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 32px;
}

.page-message__sub-text{
    color: #000;
}


.button--radio:hover {
    background-color: $color-primary;
    border-color: $color-primary;
}

.button--radio.selected {
    background-color: $color-primary;
    border-color: $color-primary;
}

.step-form__button:hover {
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
}

.button--xs:hover {
    background-color: #071d49;
    border-color: #071d49;
}

.panel-header {
    background-color: $color-primary;
}

.step-form__heading {
    letter-spacing: -0.5px;
}

.review-overview__heading-mid-wrapper{    
    font-weight: normal;
    @include font-size(16px);
}

.ipid-link {
    color: $color-primary;
}