@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CommonComponent
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums

@{
    ViewBag.Title = "Registered Keeper";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderCoverDetailsRegisteredKeeper(new ComponentCoverDetailsConfiguration
        {
            Id = "CoverDetails",
            TenantConfiguration = tenantConfiguration,
            DataStoreKey = "CoverDetails",
            JourneyType =  JourneyTypes.MultiStepEdit,
            RelationshipPageUrl = Url.Action("RegisteredKeeperRelationship", "YourCover"),
            PreviousStepUrl = Url.Action("OvernightParking", "YourCar"),
            NextStepUrl = Url.Action("MainDriver", "YourCover")
        })
    </div>
</div>


