@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums

@{
    ViewBag.Title = "Main Driver";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderMainDriver(new ComponentCoverDetailsConfiguration
        {
            Id = "MainDriver",
            DataStoreKey = "CoverDetailsMainDriver",
            JourneyType =  JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("CoverLevel", "YourCover"),
            BackButtonUrl = Url.Action("Index", "YourCover"),
            TenantConfiguration = tenantConfiguration
        })
    </div>
</div>

