@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums
@{
    ViewBag.Title = "No Claims Discount Years";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderNcdYears(new ComponentCoverDetailsNcdYearsConfiguration
        {
            Id = "NcdYears",
            DataStoreKey = "NcdYears",
            JourneyType = JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("OtherVehicles", "YourCover"),
            NcdSourceStepUrl = Url.Action("NcdSource", "YourCover"),
            PreviousStepUrl = Url.Action("VehicleUse", "YourCover"),
            DataStoreKeyForNcdSourcePage = "NcdSource",
            TenantConfiguration = tenantConfiguration
        })
    </div>
</div>


