@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CommonComponent
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums

@{
    ViewBag.Title = "Registered Keeper Same Address";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderCoverDetailsSameAddress(new ComponentCoverDetailsConfiguration
        {
            Id = "CoverDetails",
            TenantConfiguration = tenantConfiguration,
            DataStoreKey = "CoverDetails",
            JourneyType =  JourneyTypes.MultiStepEdit,
            MainDriverPageUrl = Url.Action("maindriver", "YourCover"),
            PreviousStepUrl = Url.Action("RegisteredKeeperMaritalStatus", "YourCover"),
            ParentJourneyUrl = Url.Action("OvernightParking", "YourCar"),
            NextStepUrl = Url.Action("Index", "YourCover")
        })
    </div>
</div>


