@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums

@{
    ViewBag.Title = "Vehicle Use";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderVehicleUsage(new ComponentCoverDetailsConfiguration
        {
            Id = "VehicleUse",
            DataStoreKey = "CoverDetailsVehicleUse",
            JourneyType = JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("NcdYears", "YourCover"),
            CoverLevelUrl = Url.Action("CoverStartDate", "YourCover"),
            BackButtonUrl = Url.Action("AnnualMileage", "YourCover"),
            PreviousStepUrl = Url.Action("CoverExcesses", "YourCover"),
            TenantConfiguration = tenantConfiguration
        })
    </div>
</div>


