@using System.Configuration
@using BGL.Components.Navigation
@using BGL.Security.Web.Authentication.Services
@using BGL.Web.PostOffice.MotorQuote.Constants

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutMainContent.cshtml";
    var urlContent = DependencyResolver.Current.GetService<UrlContent>();

    var pagesWithoutBackAction = new List<string>
    {
        Url.Action("Document", "DocumentDownload"),
        Url.Action("Index", "SessionTimeout")
    };

    var productCookie = HttpContext.Current.Request.Cookies["product"];
    string retrieveQuoteLink = productCookie != null && productCookie.Value.Equals("van", StringComparison.OrdinalIgnoreCase) ?
        ConfigurationManager.AppSettings["RetrieveVanQuoteUrl"] :
        ConfigurationManager.AppSettings["RetrieveCarQuoteUrl"];
}

<div class="page-section" data-testid="OopsComponent__section">
    <div class="page-section--inner narrow spaced">
        <div class="page-message">
            <h1 class="h2 page-message__heading">Sorry, it looks like we are having some technical problems.</h1>
            <p class="page-message__text">Please choose an option below</p>
            <div class="page-message__divider"></div>
            <a class="button button--primary button--large page-message__button" href="@(urlContent.ConvertVirtualPathToAbsolute("~/") + retrieveQuoteLink)">Retrieve my quote</a>
            @*<a class="button button--primary button--large page-message__button" href="#0">Start a new quote</a>*@
            <p class="page-message__sub-text">Contact us on @BrandConstants.ContactCentrePhoneNumber</p>
        </div>
        <div class="button-container">
            <a class="button button--text button--large button--back button--left" href="#" data-role="back-button-from-error">Back</a>
        </div>
    </div>
</div>

@Html.RegisterNavigationOppsPageBackButtonScript(pagesWithoutBackAction)

