﻿@model BGL.Components.DemandsAndNeeds.Models.AddOnTitleModel

<div class="addon-primary__title">
    <i class="addon-primary__icon @(Model.IconClass)"></i>
    <h2 tabindex="-1" class="addon-primary__title__text">
        @Model.Title
    </h2>
</div>