﻿@model BGL.Components.DemandsAndNeeds.Models.AddOnBaseModel

@{
    var basePath = @Model.TenantConfiguration.ResourceBasePath;
}

<div class="demands-and-needs__cta @if (Model.IsAddOnSelected) { <text> hide </text> } ">
    <img src="@(basePath)icon-error.svg" class="demands-and-needs__cta__error-icon" alt="error-icon" />
    <fieldset class="form-row__field-set activeActions">
        <legend 
            @if (Model.ShowInterestedNotInterestedLegend)
            {
                <text> class="form-row__legend" </text>
            }
            else
            {
                <text> class="form-row__legend--hidden" </text>
            }>
            Are you interested in @Model.AddOnName?
        </legend>
        
        <p class="hide" id="@Model.Id-demandsandneeds-buttons-description">Please select whether you are interested in @Model.AddOnName. Selecting Interested will give you more information on @Model.AddOnName.</p>

        <input class="form-row__input form-row__input--radio form-row__input--hidden required addon-not-interested" 
               autocomplete="off" 
               name="@Model.Id-demandsandneeds" 
               id="@Model.Id-not-interested" 
               value="not-interested" 
               aria-hidden="true" 
               type="radio" 
               tabindex="-1" 
               @if (Model.IsDisabledOnPageLoad) { <text> disabled </text> } 
               data-type="addon-not-interested"/>
        <label class="btn form-row__label--pill demands-and-needs__label"
               for="@Model.Id-not-interested"
               autocomplete="off"
               role="tab"
               @if (@Model.IsDisabledOnPageLoad)
               {
                   <text> tabindex="-1" </text>
               }
               else
               {
                   <text> tabindex="0" </text>
               }
               data-testid="@Model.Id-not-interested"
               aria-describedby="@Model.Id-demandsandneeds-buttons-description">
            Not interested
        </label>
        <input class="form-row__input form-row__input--radio form-row__input--hidden required addon-interested" 
               autocomplete="off" 
               name="@Model.Id-demandsandneeds" 
               id="@Model.Id-interested" 
               value="interested" 
               type="radio" 
               aria-hidden="true" 
               tabindex="-1" 
               @if (@Model.IsAddOnSelected) { <text> checked="checked" </text> } 
               @if (Model.IsDisabledOnPageLoad) { <text> disabled </text> } 
               data-type="addon-interested"/>
        <label class="btn form-row__label--pill demands-and-needs__label"
               for="@Model.Id-interested"
               autocomplete="off"
               role="tab"
               @if (@Model.IsDisabledOnPageLoad)
               {
                   <text> tabindex="-1" </text>
               }
               else
               {
                   <text> tabindex="0" </text>
               }
               data-testid="@Model.Id-interested"
               aria-describedby="@Model.Id-demandsandneeds-buttons-description">
            Interested
        </label>
    </fieldset>
</div>