﻿@using System.Runtime.InteropServices
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Components.DemandsAndNeeds.Extensions
@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = Model.TenantConfiguration.ResourceBasePath;
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "grc-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "grc-covername" })
    @Html.Hidden("grc-coverlevels-count", Model.AddonCoverDetails.CoverLevelViewModels.Count, new { id = "grc-coverlevels-count" })

    if (Model.IsSingleTier)
    {
        @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "grc-SelectedCoverLevelCode" })
    }

    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if(@Model.IsDisabledOnPageLoad){<text>aria-hidden="true"</text>} data-type="addon-content">
        <div class="addon-primary">
            <div class="addon-primary__title">
                <i class="addon-primary__icon ui-icon-guaranteed-replacement-vehicle"></i>
                <h2 tabindex="-1" class="addon-primary__title__text">
                    <strong>@Model.AddOnName</strong>
                </h2>
            </div>

            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">


                    <p class="feature-header__sub-heading">
                        Would you like to see details for a guaranteed replacement car if yours can't be driven&#8230;
                    </p>
                    <ul class="list list--bullet--small">
                        <li class="list__item">Following an accident</li>
                        <li class="list__item">If it&#39;s stolen</li>
                        <li class="list__item">If it&#39;s deemed a total loss</li>
                        <li class="list__item">If you&#39;re hit by an uninsured driver</li>
                        <li class="list__item">The repairer hasn&#39;t got a courtesy car available</li>
                    </ul>
                    <p class="demands-and-needs__price" data-testid="DemandsAndNeeds__@(Model.Id)__DemandsAndNeeds_Price">
                        Prices from
                        @if (Model.IsAnnual)
                        {
                            <strong>&pound;@Model.AnnualPrice /year</strong>
                        }
                        else
                        {
                            <strong>&pound;@Model.MonthlyPrice /month*</strong>
                            <text>(&pound;@Model.AnnualPrice /year)</text>
                            <span class="feature-header__interest">*Monthly price excludes interest</span>
                        }
                    </p>
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected){<text> hide </text>}">

                @if (Model.AllTiersAreFree)
                {
                    <div class="feature-header">
                        <p class="feature-header__sub-heading">
                            Guranteed Replacement Car is available at no extra cost for the first 12 months of the policy, if selected. At renewal, it may become chargeable.
                        </p>

                    </div>
                }

                @if (!Model.IsSingleTier)
                {
                    @Html.Partial("GuaranteedReplacementCarPaymentsMultiTiers", Model);
                }

                @if (Model.HasMultiTierContentVariations)
                {
                    @Html.Partial("_GuaranteedReplacementCarMultiTierContentVariations", Model)
                }
                else
                {
                    <div class="fbels">
                        <div class="fbels__section">
                            <h3 class="h4 fbels__heading fbels__heading--cover">Key benefits</h3>
                            <ul class="list list--fbels list--fbels-cover">
                                <li class="list__item">
                                    Provides a guaranteed replacement vehicle, if a courtesy vehicle is not available
                                </li>
                                <li class="list__item">
                                    For up to @Model.GetDaysCover() days if yours is not drivable or deemed a total loss following a road traffic accident, fire or theft
                                </li>
                            </ul>
                        </div>
                        <div class="fbels__section">
                            <h3 class="h4 fbels__heading fbels__heading--remember">Things to remember</h3>
                            <ul class="list list--fbels list--fbels-remember">
                                <li class="list__item info">
                                    Subject to the terms and conditions of the vehicle replacement provider
                                </li>
                                <li class="list__item info">
                                    Replacement vehicle typically up to 1L engine size
                                </li>
                                <li class="list__item info">
                                    Not supplied for Breakdown or Windscreen claims
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                <p class="admin-text">Administered by ACM ULR Ltd and underwritten by ARAG plc on behalf of ARAG Allegemeine Vesicherungs-AG Branch United Kingdom</p>
                @Html.Partial("_IPIDDemandsAndNeeds", "guaranteed-replacement-vehicle")
            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}