﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = @Model.TenantConfiguration.ResourceBasePath;
}


@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "mlp-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "mlp-covername" })
    @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "mlp-SelectedCoverLevelCode" })

    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if(@Model.IsDisabledOnPageLoad){<text>aria-hidden="true"</text>} data-type="addon-content">
        <div class="addon-primary">
            <div class="addon-primary__title">
                <i class="addon-primary__icon ui-icon-legal-protection"></i>
                <h2 tabindex="-1" class="addon-primary__title__text">
                    <strong>@Model.AddOnName</strong>
                </h2>
            </div>

            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">
                    <p class="feature-header__sub-heading">
                        If you were involved in an accident that wasn&#39;t your fault, would you like help from us
                        with paying the legal fees you might be charged claiming back costs, including&#8230;
                    </p>
                    <ul class="list list--bullet--small">
                        <li class="list__item">Personal Injury Compensation</li>
                        <li class="list__item">Lost Earnings</li>
                        <li class="list__item">Lost Excess</li>
                    </ul>
                    @if (Model.HasFreeAddonBanner && @Model.AnnualPrice == 0 && !string.IsNullOrEmpty(Model.FreeAddonBannerView))
                    {
                        @Html.Partial(@Model.FreeAddonBannerView)
                    }
                    else
                    {
                        <p class="demands-and-needs__price" data-testid="DemandsAndNeeds__@(Model.Id)__DemandsAndNeeds_Price">
                            Prices from
                            @if (Model.IsAnnual)
                            {
                                <strong>&pound;@Model.AnnualPrice /year</strong>
                            }
                            else
                            {
                                <strong>&pound;@Model.MonthlyPrice /month*</strong>
                                <text>(&pound;@Model.AnnualPrice /year)</text>
                                <span class="feature-header__interest">*Monthly price excludes interest</span>
                            }
                        </p>
                    }
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected){<text> hide </text>}">
                @if (Model.AllTiersAreFree && !string.IsNullOrEmpty(Model.FreeAddonInformation))
                {
                    @Html.Partial(@Model.FreeAddonInformation)
                }
                else if(Model.AllTiersAreFree)
                {
                    @Html.Partial("_MlpExtraText")
                }
                <div class="fbels">
                        <div class="fbels__section">
                            <h3 class="h4 fbels__heading fbels__heading--cover">Key benefits</h3>
                            <ul class="list list--fbels list--fbels-cover">
                                <li class="list__item">
                                    Up to &pound;100,000 of legal expenses to pursue uninsured losses such as personal injury, loss of earnings or excesses following a motor accident
                                </li>
                                <li class="list__item">
                                    Up to &pound;20,000 of legal expenses for motor prosecution defence
                                </li>
                                <li class="list__item">
                                    Motor legal helpline - advice on motoring legal issues
                                </li>
                            </ul>
                        </div>
                        <div class="fbels__section">
                            <h3 class="h4 fbels__heading fbels__heading--remember">Things to remember</h3>
                            <ul class="list list--fbels list--fbels-remember">
                                <li class="list__item info">
                                    Uninsured loss claims must be reported within 180 days of the accident, and the third party must have valid motor insurance at the time of the accident
                                </li>
                                <li class="list__item info">
                                    Motoring prosecution defence does not cover any fines or penalties, or any charges relating to drink or drugs
                                </li>
                                <li class="list__item info">
                                    Personal injury claims must be as a result of a motor related accident
                                </li>
                                <li class="list__item info">
                                    There must be a reasonable chance of case success
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p class="admin-text">Administered by @Model.Supplier, underwritten by @Model.Underwriter</p>
                    @Html.Partial("_IPIDDemandsAndNeeds", "legal-protection")

            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}