﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@model BGL.Components.DemandsAndNeeds.Models.NoClaimsDiscountProtectionAddonModel

@{
    var basePath = Model.TenantConfiguration.ResourceBasePath;
    var isNineYears = Model.NumberOfYearsNoClaims == 9;

    var headingText = isNineYears ? "No Claims Discount" : $"{Model.NumberOfYearsNoClaims} years No Claims Discount";
    var isVan = Model.ProductType.Equals("Van", StringComparison.OrdinalIgnoreCase);
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "NoClaimsDiscountProtection-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "NoClaimsDiscountProtection-covername" })
    @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "NoClaimsDiscountProtection-SelectedCoverLevelCode" })

    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" data-type="addon-content">
        <div class="addon-primary">

            <div class="addon-primary__title @if(!@Model.IsAddOnSelected){<text>hide</text>}" id="@Model.Id-heading-selected">
                <i class="addon-primary__icon ui-icon-pncd-check-interested"></i>
                <h2 tabindex="-1" class="addon-primary__title__text">
                    <span class="block">Great news!</span> Your @headingText is protected
                </h2>
            </div>

            <div class="addon-primary__title @if(@Model.IsAddOnSelected){<text>hide</text>}" id="@Model.Id-heading-not-selected">
                <i class="addon-primary__icon ui-icon-pncd-check-not-interested"></i>
                <h2 tabindex="-1" class="addon-primary__title__text">
                    <span class="block">Don't miss out!</span> Protect your @headingText
                </h2>
            </div>

            <div class="addon-main__content">

                <div class="fbels" id="@Model.Id-fbels-main">
                    <div class="fbels__section @if(!@Model.IsAddOnSelected){<text>hide</text>}" id="@Model.Id-fbels-selected">
                        <ul class="list list--fbels list--fbels-cover">
                            <li class="list__item">
                                Your No Claims Discount is protected if you have to make a claim
                            </li>
                            <li class="list__item">
                                Even if you make 2 claims in a 3 year period, your NCD won't be affected
                            </li>
                            @if (!isVan)
                            {
                                <li class="list__item">
                                    Proof of your No Claims Discount can be easily updated via our online portal
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="fbels__section @if(@Model.IsAddOnSelected){<text>hide</text>}" id="@Model.Id-fbels-not-selected">
                        <ul class="list list--fbels list--fbels-remember">
                            <li class="list__item info">
                                If you were involved in an accident your No Claims Discount could be reduced
                            </li>
                            <li class="list__item info">
                                A reduced No Claims Discount could further increase your price when it's time to renew
                            </li>
                            @if (!isVan)
                            {
                                <li class="list__item">
                                    Proof of your No Claims Discount can be easily updated via our online portal
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="accordion">
                    <div id="VehicleDetails" class="accordion__section">
                        <h2 class="h5 accordion__heading-wrapper">
                            <button class="accordion__heading-button" aria-expanded="false" type="button">
                                How does it work?
                            </button>
                        </h2>

                        <div class="accordion__body-wrapper hide">
                            <div class="accordion__body-content">
                                <p class="addon__text">
                                    You are considering whether to purchase NCD protection. This would increase your premium by &pound;@Model.AnnualPrice.
                                    You have declared a current NCD of @Model.NumberOfYearsNoClaims @if (isNineYears)
                                    {<text>or more </text>}years.

                                    @if (isVan)
                                    {
                                        <text>The table shows what would happen to your NCD years if you were to make one or more claims in the next 12 months with and without this protection.</text>
                                    }
                                    else
                                    {
                                        <text>The tables show: (1) the average NCD discount awarded to our motor
                                            insurance policyholders last year according to their number of NCD years; and (2) what would happen to your NCD years
                                            if you were to make one or more claims in the next 12 months with and without this protection.</text>
                                    }
                                </p>
                                <p class="addon__text">
                                    No claims discount protection allows you to make one or more claims before your number of no claims
                                    discount years falls. Please see the step-back procedures below for details. No claims discount protection
                                    does not protect the overall price of your insurance policy. The price of your insurance policy may increase
                                    following an accident even if you were not at fault.
                                </p>

                                @if (!isVan)
                                {
                                    @Html.Partial("_NoClaimsDiscountProtectionAverageDiscountTable", Model.AverageDiscountTableViewModel)
                                }

                                @Html.Partial("_NoClaimsDiscountProtectionMakeAClaimTable", Model.MakeAClaimTableViewModel)

                                <p class="addon__text">
                                    For full details of benefits, exclusions, limitations and cover, please refer to the policy wording.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="demands-and-needs__info-section">
                    <img class="info-icon" src="@(basePath)icon-fbels-info.svg" alt="" />
                    <p class="info-text">The price of your insurance policy may increase following a claim, even if it wasn't your fault</p>
                </div>

            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}
