﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers

@model string

@{
    var year = DateTime.Now.Year;
    var nextYear = DateTime.Now.AddYears(1).Year;
}

    <div class="price-protection">
        <div class="price-protection__section price-protection__section--bars">
            <div class="bar-graph price-protection__bar price-protection__bar--one ">
                <div class="bar-graph__bar-wrapper">
                    <div class="bar-graph__bar bar-graph__bar--one" style="height: 100%;"></div>
                    <div class="bar-graph__shadow"></div>
                </div>
            </div>
            <div class="bar-graph bar-graph--secondary price-protection__bar price-protection__bar--two ">
                <div class="bar-graph__bar-wrapper">
                    <div class="bar-graph__bar bar-graph__bar--one" style="height: 100%;"></div>
                    <div class="bar-graph__shadow"></div>
                </div>
            </div>
        </div>
        <div class="price-protection__section price-protection__section--prices">
            <div class="price-protection__price-wrapper price-protection__price-wrapper--upper">
                <p class="price-protection__price">
                    <span class="price-protection__pre-text">Insurance price in @(year)</span>
                    <strong class="price-protection__price-text" data-testid="quote-current-year-price">&pound;@Model</strong>
                </p>
            </div>
            <div class="price-protection__price-wrapper price-protection__price-wrapper--lower">
                <p class="price-protection__price">
                    <span class="price-protection__pre-text">Maximum price in @(nextYear)</span>
                    <strong class="price-protection__price-text price-protection__price-text--next-year" data-testid="quote-next-year-price">&pound;@Model</strong>
                </p>
                <p class="price-protection__sub-text">
                    This excludes any additional cover options
                </p>
            </div>
        </div>
    </div>
