﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DemandsAndNeeds.Models
@model BGL.Components.DemandsAndNeeds.Models.Breakdown.BreakdownAddOnModel

@{
    var prices = Model.HeaderItems.FirstOrDefault();
    var monthlyPrice = (prices?.MonthlyPrice ?? 0M).FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
    var annualPrice = (prices?.AnnualPrice ?? 0M).FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
    var basePath = @Model.TenantConfiguration.ResourceBasePath;
}


@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Code", Model.SelectedCoverLevelCode, new { @id = "breakdown-code" })
    @Html.Hidden("SelectedCoverLevelCode", prices?.Code, new { @id = "breakdown-SelectedCoverLevelCode" })
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "breakdown-coverid" })

    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if (Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if(@Model.IsDisabledOnPageLoad){<text>aria-hidden="true"</text>} data-type="addon-content">
        <div class="addon-primary">
            <div class="addon-primary__title">
                <i class="addon-primary__icon ui-icon-breakdown"></i>
                <h2 tabindex="-1" class="addon-primary__title__text">
                    <strong>@Model.AddOnName</strong>
                </h2>
            </div>

            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">
                    <p class="feature-header__sub-heading">
                        Would you like to see details for Breakdown cover if you need assistance after&#8230;
                    </p>
                    <ul class="list list--bullet--small">
                        <li class="list__item">Mechanical failure</li>
                        <li class="list__item">Flat battery</li>
                        <li class="list__item">Flat tyre</li>

                    </ul>
                    @if (Model.HasFreeAddonBanner && @Model.AnnualPrice == 0 && !string.IsNullOrEmpty(Model.FreeAddonBannerView))
                    {
                        @Html.Partial(@Model.FreeAddonBannerView)
                    }
                    else
                    {
                        <p class="demands-and-needs__price" data-testid="DemandsAndNeeds__@(Model.Id)__DemandsAndNeeds_Price">
                            Prices from
                            @if (Model.IsAnnual)
                            {
                                <strong>&pound;@annualPrice /year</strong>
                            }
                            else
                            {
                                <strong>&pound;@monthlyPrice /month*</strong>
                                <text>(&pound;@annualPrice /year)</text>
                                <span class="feature-header__interest">*Monthly price excludes interest</span>
                            }
                        </p>
                    }
                    </div>
                    @Html.Partial("_DemandsAndNeedsButtons", @Model)
                </div>
                <div class="addon-main__content @if (!@Model.IsAddOnSelected) { <text> hide </text> }">

                    @if (Model.AddonCoverDetails.IsMandatoryCover)
                    {
                        <p class="demands-and-needs__text">This policy includes @(Model.AddonCoverDetails.FreeTierName) as standard and as such can&#39;t be removed. There are a number of different cover options you may wish to consider.</p>
                    }
                    else if (Model.AddonCoverDetails.HasAFreeTier && !string.IsNullOrEmpty(Model.FreeAddonInformation))
                    {
                        @Html.Partial(@Model.FreeAddonInformation)
                    }
                    else
                    {
                        <p class="feature-header__sub-heading">If you have breakdown cover elsewhere, or it&#39;s a benefit of your bank account and gives you the same or similar cover, you may not require this.</p>
                    }

                    @Html.Partial("_BreakdownAssistanceTable", Model)

                    <div class="fbels">
                        <div class="fbels__section">
                            <h3 class="h4 fbels__heading fbels__heading--remember">Remember, all tiers do not cover:</h3>
                            <ul class="list list--fbels list--fbels-remember">
                                <li class="list__item">
                                    Breakdowns that could have been prevented by regular servicing of the vehicle
                                </li>
                                <li class="list__item">
                                    The costs of parts, fuel or other supplies are excluded
                                </li>
                                <li class="list__item">
                                    Any claim isn't a breakdown - i.e. Road traffic accident
                                </li>
                                <li class="list__item">
                                    Any labour provided at the garage to which the vehicle was taken
                                </li>
                                <li class="list__item">
                                    Any motor caravan, or vehicle in excess of 3.5 tonnes gross vehicle mass, or longer than 7.0 metres long including a tow bar 2.55 metres wide and 3 metres high
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="provision-box">
                        <p class="provision-box__text">Provided by</p>
                        <img class="provision-box__image provision-box__image--rac" src="@(basePath)logo-rac.svg" alt="Provided by RAC">
                    </div>
                    @Html.Partial("_IPIDDemandsAndNeeds", "breakdown")

                </div>
            </div>
            <div class="addon-secondary @if (Model.IsAddOnSelected){<text>hide</text>}">
                <div class="addon-cta sticky">
                    @Html.Partial("_DidYouKnowPartialView", @Model)
                </div>
            </div>

        </div>
    }