﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DemandsAndNeeds.Models

@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = Model.TenantConfiguration.ResourceBasePath;

    var titleModel = new AddOnTitleModel
    {
        IconClass = "ui-icon-breakdown",
        Title = "RAC Breakdown Cover you can count on"
    };

    var introductionText = new AddOnParagraphWithBoldContent
    {
        FirstPart = "24/7 rescue - so whatever you've got planned,",
        SecondPartBold = "RAC Breakdown Cover",
        ThirdPart = "will keep you on track."
    };

    var addOnFeatureCards = new List<AddOnFeatureCardModel>
{
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-rac-on-the-spot",
            Title = "We fix 4/5 on the spot",
            Text = "Saving you a trip to the garage"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-rac-around-the-clock",
            Title = "Around the clock",
            Text = "We'll come to your rescue 24/7, 365 days a year"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-rac-count-on-us",
            Title = "You can count on us",
            Text = "RAC patrols repair vehicles, on average, within 30 minutes"
        }
    };

    var breakdownDescription = new AddOnHeadingAndParagraph
    {
        Heading = string.Empty,
        Paragraphs = new List<string>
{
            "Roadside, Recovery, at Home and Onward Travel"
        }
    };

    var breakdownDescriptionDetails = new AddOnHeadingAndParagraph
    {
        Heading = string.Empty,
        Paragraphs = new List<string>
{
            "Should your car break down for reasons such as mechanical failure or a flat tyre, would you like help from us to get you back on the road?",
            "If you have breakdown cover elsewhere, or it's a benefit of your bank account and gives you the same or similar cover, you may not require this."
        }
    };

    var keyBenefits = new AddOnHeadingAndParagraph
    {
        Heading = "Key Benefits",
        Paragraphs = new List<string>()
    };

    var tickedListItems = new List<string>
{
        "Help to repair the car at the roadside or the address where the car is kept",
        "Help to transport the car, you and up to seven passengers to a destination of your choice, within the UK, if the RAC cannot repair the car",
        "A replacement hire car for one day or up to £500 for either alternative transport or overnight accommodation while the car is repaired"
    };

    var whatElseIsThere = new AddOnHeadingAndParagraph
    {
        Heading = "What else is there to know?",
        Paragraphs = new List<string>
{
            "Unfortunately, we can’t cover every eventuality. Make sure you’re comfortable with what’s not covered"
        }
    };

    var whatElseIsThereToKnowListItems = new List<string>
{
        "Breakdown that could have been prevented by regular servicing of the car",
        "The cost of parts, fuel or other supplies are excluded",
        "Any claim that isn't a breakdown - i.e road traffic accident",
        "Any labour provided at the garage to which the car was taken",
        "Any motor caravan, or vehicle in excess of 3.5 tonnes gross vehicle mass, or longer than 7.0 metres long including a tow bar 2.55 metres wide and 3 metres high"
    };
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "keycare-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "keycare-covername" })
    @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "keycare-SelectedCoverLevelCode" })


    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if (@Model.IsDisabledOnPageLoad) { <text> aria-hidden="true" </text> } data-type="addon-content">
        <div class="addon-primary">
            @Html.Partial("_AddOnTitle", titleModel)

            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">
                    @Html.Partial("_AddOnParagraphWithBoldContentHiddenOnMobile", introductionText)

                    @Html.Partial("_AddOnFeatureCardsWithIconsHiddenOnMobile", addOnFeatureCards)

                    @Html.Partial("_AddOnPriceFrom", Model)
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected) { <text> hide </text> }">
                @Html.Partial("_AddOnHeadingAndParagraphs", breakdownDescription)

                <div class="feature-header__divider"></div>

                @Html.Partial("_AddOnHeadingAndParagraphs", breakdownDescriptionDetails)

                @Html.Partial("_AddOnHeadingAndParagraphs", keyBenefits)

                <ul class="list list--fbels list--fbels-cover">
                    @Html.Partial("_AddOnBulletedList", tickedListItems)
                </ul>

                @Html.Partial("_AddOnHeadingAndParagraphs", whatElseIsThere)

                <ul class="list list--fbels list--fbels-remember">
                    @Html.Partial("_AddOnBulletedList", whatElseIsThereToKnowListItems)
                </ul>

                <div class="provision-box">
                    <p class="provision-box__text">Provided by</p>
                    <img class="provision-box__image provision-box__image--rac" src="@(basePath)logo-rac.svg" alt="RAC logo">
                </div>
                @Html.Partial("_IPIDDemandsAndNeeds", "breakdown")
            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}
