.dialog{
  max-width: 770px;
  width: 100%;
  text-align: center;
  margin: 80px auto;
  overflow: hidden;
  
  i[class^="ui-"]:before, i[class*=" ui-"]:before,
  i[class^="ui-"]:after, i[class*=" ui-"]:after {
    color: $color-white;
  }
  @media screen and (max-width: 767px){
    text-align: left;
    margin: 40px auto;
  } 
  &.warning{
    header{
      background: $error;
    }
  }
  &.success{
    header{
      background: $success;
    }
  }
  header{
    background: $key-grey;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 8px 8px 0 0;
    @media screen and (max-width: 767px){
      padding:10px;
      font-size: 16px;
      text-align: center;
    }
    // I element replaced :before selector
    i{
      margin-right: 10px;
      vertical-align: middle;
      font-size: 36px;
      line-height: 36px;
    }
  }
  .dialog-message{
    padding: 20px;
    border-bottom: 1px solid $color-grey--light;
    border-left: 1px solid $color-grey--light;
    border-right: 1px solid $color-grey--light;
    border-radius: 0 0 8px 8px;
    p{

    }
    a.download{
      max-width: 415px;
      white-space: normal;
    }
  }
}

.mob-spacer{
  display: none;
  @media screen and (max-width: 767px){
    display: block;
    margin: 10px 0 10px 0;
    width: 100%;
  }
}