.pac-diagram {
    max-width:800px;

    @include breakpoint(800px) {
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.pac-diagram__section {
    padding:20px 0;
    max-width:280px;
    display:inline-block;
    vertical-align: top;
    margin-right:20px;
    text-align: center;

    @include breakpoint(800px) {
        margin-right: 30px;
        max-width: 236px;
    }

    &--accident {
        width:100%;
        display: block;
        @include breakpoint(800px) {
            width:250px;
        }
    }

}

.pac-diagram__heading {
    white-space: nowrap;
    @include font-size(14px);
    color:$color-font;
    margin-bottom: 20px;

    &--cover {
        color:$color-primary;
    }
}

.pac-diagram__image-block {
    border-bottom:solid 2px $color-primary;
    width:100%;
    margin-bottom:15px;

    &--accident {
        max-width:100px;
        margin-bottom:0;
    }

    &--no-cover {
        display: flex;
        justify-content: center;
        padding-bottom:15px;
    }

    &--cover {
        justify-content: center;
        padding-bottom:15px;
    }
}

.pac-diagram__image {

    margin-right:5px;
    
    &--accident {
        height:95px;   
        width:100px;
    }

    &--no-cover {
        height:80px;   
        width:80px;
    }

    &--cover {
        height:80px;   
        width:80px;
    }
}

.pac-diagram__cover-amount {
    display:inline-block;
    vertical-align: bottom;
    margin:0;
    color:$color-primary;
    @include font-size(30px);

    &--main {
        display:block;
        line-height: 1;
    }

    &--sub {
        display:block;
        font-weight: 300;
        @include font-size(22px);
    }
}

.pac-diagram__sub-text {
    font-weight: 300;
    @include font-size(13px);
}