﻿.pill {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    padding: 12px 30px;
    @include font-size(16px);
    line-height: 1.5;
    border-radius: $button-border-radius;
    cursor: default;
    min-width: 100px;
    margin: 0.5rem auto;

    @include breakpoint(500px) {
        display: inline-block;
        margin: 0 0.25rem 0.5rem 0;
        max-width: auto;
    }

    @include breakpoint(600px) {
        display: block;
        margin: 0 auto;
        max-width: 300px;
    }

    @include breakpoint(700px) {
        display: inline-block;
        padding: 16px 30px;
        @include font-size(18px);
    }

    &--primary {
        color: $pill-primary-color;
        background-color: $pill-primary-background-color
    }

    &--secondary{
        color: $pill-secondary-color;
        background-color: $pill-secondary-background-color;
    }
}