.carousel {
    position: relative;
    max-width: 500px;
    margin: auto;

    @include breakpoint(900px) {
        max-width: 3000px;
    }
}

.carousel__label {
    @include visually-hidden;
}

.carousel__list {
    padding: 0 30px;
}

.carousel__slide {
    text-align: center;
    list-style-type: none;
    @include visually-hidden;
    vertical-align: top;

    @include breakpoint(900px) {
        position: static;
        width: auto;
        height: auto;
        overflow: visible;
        display: table-cell;
        width: 33%;
        padding: 10px;
    }

    &.active {
        position: static;
        width: auto;
        height: auto;
        overflow: visible;
    }
}

.carousel__image-wrapper {
    width: 125px;
    height: 125px;
    margin-bottom: 15px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(900px) {
        height: 100px;
        width: 100px;
    }

    &--trustpilot {
        width:150px;
    }

    &--bundled {
        width: 150px;

        .carousel__image {
            width: 50%;

            &:first-child {
                margin-right: 20px;
            }
        }
    }
}

.carousel__image {
    width: 100%;
    max-height: 100px;
    &--help-icon {
        max-height: 48px;
        max-width: 48px;
    }

}

.carousel__heading {
    @include font-size(18px);
    font-weight:normal;

    @include breakpoint(900px) {
        @include font-size(20px);
    }
}

.carousel__text {
    @include font-size(15px);
    font-weight: 300;
    line-height: 1.6;

    @include breakpoint(900px) {
        @include font-size(16px);
    }
}

.carousel__controls {
    position: absolute;
    top: 0;
    list-style-type: none;
    display: table;
    width: 100%;
    padding: 0;
    height: 125px;
    z-index: 5;

    @include breakpoint(900px) {
        display: none;
    }
}

.carousel__controls-section {
    display: table-cell;
    width: 50%;
    vertical-align: bottom;

    &--right {
        text-align: right;
    }
}

.carousel__button {
    height: 50px;
    width: 30px;
}

.carousel__button-image {
    width: 100%;
}

.carousel__navigation {
    list-style-type: none;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    z-index: 10;

    @include breakpoint(900px) {
        display: none;
    }
}

.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-tab {
    height: 8px;
    width: 8px;
    border-radius: 5px;
    border: solid 1px $color-secondary;
    padding: 0;

    &.active {
        background-color: $color-secondary;
    }
}

