.schedule-bar{
    margin: 0;
    padding: 20px 50px 3rem 10px;
    display:block;
    width:100%;
    @media screen and (min-width: 778px){
        padding: 80px 50px 3rem 50px;
    }
    &:after{
        content:"";
        clear:both;
        height:0px;
        width: 100%;
        display: block;
    }
    &__list{
        padding: 0px;
        margin: 0px;
    }
    &__item{
        display: inline-block;
        float: left;
        width: 20%;
        text-align: center;
        position: relative;
        border-top: 4px solid $color-grey;
        padding-top: 30px;
        @media screen and (max-width: 778px){
            width: 100%!important;
            border-top: none;
            border-left: 4px solid $color-grey;
            text-align: left!important;
            padding-left: 30px;
            padding-top: 0px;
            padding-bottom: 30px;
        }
        &:before{
            content:"";
            border: solid 4px $color-grey;
            background-color: #fff;
            position: absolute;
            left: 50%;
            margin-left: -9px;
            top: -10px;
            height: 17px;
            width: 17px;
            border-radius: 50%;
            -webkit-box-shadow: 0 0 5px 2px $color-grey;
            box-shadow: 0 0 5px 2px $color-grey;
            z-index: 1;
            @media screen and (max-width: 778px){
                left: 0%!important;
                top: 5px;
            }
        }
        &:after{
            content:"";
            position: absolute;
            left: 0;
            top: -4px;
            height: 4px;
        }
        &.active{
            &:not(:first-child){
                + li{
                    &:after{
                        width: 50%;
                        background: $color-primary!important;
                        @media screen and (max-width: 778px){
                            width: 0px;
                        }
                    }
                }
            }
            &:before{
                border: solid 4px $color-primary!important;
                box-shadow: 0 0 5px 2px $color-primary!important;
            }
            &:after{
                width: 100%!important;
                background: $color-primary!important;
                @media screen and (max-width: 778px){
                    width: 4px!important;
                    height: 100%;
                    left: -4px;
                    top: 0px;
                }
            }
        }
        &:first-child{
            text-align: left;
            &:before{
                content:"";
                border: solid 4px $color-grey;
                background-color: #fff;
                position: absolute;
                left: 0;
                top: -10px;
                height: 17px;
                width: 17px;
                border-radius: 50%;
                -webkit-box-shadow: 0 0 5px 2px $color-grey;
                box-shadow: 0 0 5px 2px $color-grey;
                @media screen and (max-width: 778px){
                    top: 0px;
                }
            }
        }
        &:last-child{
            text-align: right;
            @media screen and (max-width: 778px){
                padding-bottom: 0px;
                border-left: 4px solid transparent!important;
                &:after{
                    background: transparent!important;
                }
            }
            &:before{
                content:"";
                border: solid 4px $color-grey;
                background-color: #fff;
                position: absolute;
                left: 100%;
                top: -10px;
                height: 17px;
                width: 17px;
                border-radius: 50%;
                -webkit-box-shadow: 0 0 5px 2px $color-grey;
                box-shadow: 0 0 5px 2px $color-grey;
                @media screen and (max-width: 778px){
                    top: auto;
                }
            }
        }
    }
    &__callout-purple{
        border-top-color: $color-grey;
        &:before{
            left: 8px; 
        }
        .schedule-bar__message{
            display:none;
            @include breakpoint(700px) {
                position: absolute;
                top: -57px;
                @include font-size(13px);
                width: 200px;
                color: #fff;
                background-color: $color-primary;
                text-align: center;
                padding: 5px;
                border-radius: 5px;
                left: -96px;
                display:block;
            }
            &:before {
                content: "";
                position: absolute;
                bottom: -3px;
                border: solid 10px $color-primary;
                transform: rotate(45deg);
                left: 92px;
                z-index: -1;
            }
            @media screen and (max-width: 778px){
                position: relative;
                top: auto;
                left: auto;
                display: block;
                width: 80%;
                color: #fff;
                background-color: $color-primary;
                text-align: center;
                padding: 5px;
                border-radius: 5px;
            }
            &:before{
                @media screen and (max-width: 778px){
                    left: -3px;
                    bottom: 5px;
                }
            }
        }
    }
    &__callout-text{
        border-top-color: $color-grey;
        &:before{
            display: none;
        }
        .schedule-bar__message-text{
            position: relative;
            top: -90px;
            width: 120%;
            margin: auto;
            text-align: center;
            font-size: 15px;
            @media screen and (max-width: 1024px){
                width: 180%;
            }
            @media screen and (max-width: 778px){
                top: 0px;
                width: 100%;
                text-align: left;
            }
        } 
    }
    &__sub-message {
        @include font-size(15px);
        position: absolute;
        width:300px;
        margin:0;
        left: 30px;
        top: -5px;
        @include breakpoint(700px) {
            position: relative;
            width:200px;
            left:-100px;
            height:100px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom:0;
        }
        &--first {
            @include breakpoint(700px) {
                text-align:left;
                left:0;
                }
            }
        &--last {
            @include breakpoint(700px) {
                text-align: right;
                left:-185px;
                }
            }
    }
    &__sub-message-label {
        display:block;
        @include font-size(13px);
    }
    &__sub-message-bold {
        @include breakpoint(700px) {
            display:block;
        }
    }
    &__sub-message-normal {
        @include breakpoint(700px) {
            display:block;
        }
    }
} 