.price-protection {
    display:block;
    width:100%;
    max-width:305px;
    margin:auto;
    position: relative;
    @include clearfix;

    @include breakpoint(530px) {
        display:table;
        max-width:750px;
        margin:0;
        left:60px;
    }
}
    
.price-protection__section {
    display:block;
    @include clearfix;
    @include breakpoint(530px) {
        display:table-cell;
        vertical-align: bottom;
    }
    &--bars {
        padding: 0;
        width: 210px;
        transform: scale(0.6);
        float: left;
        position: relative;
        right: 35px;
        bottom: 10px;
        @include breakpoint(530px) {
            padding:75px 0 50px 0;
            transform:scale(1);
            left:0;
            float:none;
        }
    }
    &--prices {
        position: absolute;
        right: 0;
        top:30px;
        width:55%;
        @include breakpoint(530px) {
            left:-90px;
            position: relative;
            top:0;
            left:-60px;
        }
    }
}

.price-protection__bar {
    display:inline-block;
    &--two {
        position:relative;
        top:-40px;
        left:-4px;
        @include breakpoint(530px) {
            left:0;
        }
    }
}

.price-protection__price-wrapper {
    &--lower {
        .price-protection__price-text {
            width:90%;
            @include breakpoint(530px) {
                width:100%;
            }
        }
    }
}

.price-protection__price {
    text-align:right;
}

.price-protection__pre-text {
    display:block;
    @include font-size(14px);
    font-weight: 300;
    @include breakpoint(530px) {
        @include font-size(18px);
    }
}

.price-protection__price-text {
    display:block;
    width:75%;
    border-bottom:solid 1px $color-tertiary;
    margin-left:auto;
    padding-bottom:10px;
    color:$color-tertiary;
    @include font-size(24px);
    @include breakpoint(530px) {
        @include font-size(34px);
    }
    &--next-year {
        color:$color-primary;
        border-bottom:solid 1px $color-primary;
    }
}

.price-protection__sub-text {
    @include font-size(13px);
    color:#4A4A4A;
    text-align: right;
    @include breakpoint(530px) {
        @include font-size(14px);
    }
}