.page-section {
    padding: 20px 15px;
}

.page-section__heading {
    @include font-size(26px);
    color: $color-primary;
    // margin:0;
    font-weight: 600;

    @include breakpoint(700px) {
        @include font-size(30px);
    }
}

.page-section__sub-heading {
    @include font-size(18px);
    color: $color-primary;
    margin: 0;
}

.page-section__standard-heading-text {
    font-weight: 300;
}

.page-section__text {
    margin-bottom: 25px;
}

.page-section--inner {
    margin: auto;
    max-width: 1200px;

    &.centered {
        text-align: center;
    }

    &.narrow {
        max-width: 700px;
    }

    &.spaced {
        padding: 50px 0;
    }

    &.sidebar {
        @include breakpoint(900px) {
            display: table;
            width: 100%;
        }
    }
}

.page-section__addon-questions {
    margin-top: 30px;
    padding: 5px 15px 60px;
    background-color: $color-background;

    &.addon-question-error {
        background-color: $color-addon-error-background;
        background-image: none;
    }
}

.page-section__block {
    vertical-align: top;

    &:first-child {
        @include breakpoint(900px) {
            padding-right: 30px;
        }
    }

    &:last-child {
        @include breakpoint(900px) {
            padding-left: 30px;
        }
    }

    &--main {
        @include breakpoint(900px) {
            display: table-cell;
            width: 66%;
        }
    }

    &--side {
        @include breakpoint(900px) {
            display: table-cell;
            width: 33%;
        }
    }
}



// Modifiers
.page-section.centered {
    @include centerer(true, true);
}

.page-section.grey {
    background-color: #fafafa;
}

.page-section.large {
    padding: 40px 15px;
}

.page-section.brand {
    background-color: $color-primary;
    color: #fff;
}

.page-section.banner {
    background-color: #F5F7FA;
}


.narrow {
    margin: auto;
    max-width: 700px;
}

// Welcome Message Section
.section-welcome {
    padding: 40px 20px 80px;

    &--promote-monthly {
        padding-bottom: 0px;

        & .page-section--inner__border {
            border-bottom: 2px solid $section-policy-excess-border-color;
            padding-bottom: 40px;

            @include breakpoint($screen-md) {
                padding-bottom: 80px;
            }
        }
    }
}

.section-policy-payment {
    background: $section-policy-payment-background-color;
    padding: 40px 20px;

    @include breakpoint($screen-sm) {
        padding: 80px 20px;
        background-image: $section-policy-payment-background-image;
        background-position: 50% 51px;
        background-repeat: repeat-x;
        background-size: 1438px auto;

        &--promote-monthly {
            padding-top: 0px;
            padding-bottom: 0px
        }
    }
}

.section-policy-details {
    padding: 40px 20px;

    @include breakpoint($screen-sm) {
        padding: 80px 20px;
    }

    min-height: 506px;
    background: $section-policy-details-background-color;
}

.section-policy-excess {
    padding: 40px 20px 0;

    @include breakpoint($screen-sm) {
        padding: 80px 20px 0;
    }

    .button {
        display: block;
        margin: 20px auto;
    }

    .page-section--inner {
        padding-bottom: 40px;
        border-bottom: 1px solid $section-policy-excess-border-color;

        @include breakpoint($screen-sm) {
            padding-bottom: 80px;
        }
    }
}

.section-fbels {
    padding: 20px 20px;

    @include breakpoint($screen-md) {
        padding: 40px 20px;
    }
}

.section-fbels-banner {
    padding: 20px 20px;

    @include breakpoint($screen-md) {
        padding: 40px 20px;
    }
}

.section-policy-features {
    background: $section-policy-features-background-color;
    color: $section-policy-features-color;
    margin: 20px 0;
    padding: 40px 20px;

    @include breakpoint($screen-md) {
        margin: 40px 0;
        padding: 80px 20px;
    }
}

.section-button-container {
    padding: 20px 20px;

    @include breakpoint($screen-md) {
        padding: 40px 20px;
    }
}

.section-promotional-offers {
    text-align: center;
    padding: 40px 20px;

    @include breakpoint($screen-sm) {
        padding: 80px 20px;
    }

    .page-section--inner {
        border-bottom: 1px solid $section-policy-excess-border-color;
        padding-bottom: 40px;

        @include breakpoint($screen-md) {
            padding-bottom: 80px;
        }
    }
}