.table {

    display: table;    
    width:100%;

    @include breakpoint(700px) {
        border-collapse: collapse;
    }
}

.table__caption {
    &--hidden {
        @include visually-hidden;
    }
}

.table-row {
    display: block;
    border-bottom: solid 1px #D8D8D8;
    padding: 0.5rem 0;
    @include clearfix;

    @include breakpoint(700px) {
        display: table-row;
        padding: initial;
    }

}

.table-cell {
    display: block;

    p {
        @include wordbreak;
    }

    &--label {
        max-width: calc(100% - 70px);
        font-weight: 600;

        & * {
            font-weight: 600;
        }

    }

    &--data {
        float: left;
        width: auto;
        max-width: calc(100% - 70px);
        @include wordbreak;
    }

    &--edit {
        float: right;
        width: 50px;
        padding-right: 0;
        text-align: right;
    }

    &--addon {

        .addon-status {
            float: left;
        }
        .addon-description {
            margin-left: 40px;
        }

    }


    @include breakpoint(700px) {
    
        display: table-cell;
        padding: calcRem(20px);

        &--label {
            float: none;
            width: 300px;
            padding-left: 0;
        }
        &--data {
            float: none;                
        }
        &--edit {
            float: none;
        }

    }

}


.no-quote-table {
    max-width: 300px;
    width: 80%;
    margin: 40px auto;
}

.no-quote-table__section {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f4f4f4;
}

// New Table
// Generic Responsive Table Setup
.table {
    width: 100%;

    @media screen and (max-width: $screen-lg) {
        overflow: auto;
        display: block;
    }

    caption {
        display: none;
    }

    thead, tbody, tfoot {
        width: 100%;
        float: left;

        @media screen and (max-width: $screen-lg) {
            min-width: 320px;
            overflow: auto;
        }
    }

    tr {
        display: flex;
        width: 100%;

        @media (min-width: 768px) {
            //flex-direction: row;
        }
    }

    th, td {
        @include wordbreak;
    }
}
  
  // Base Designed Table (Default: Two Tiers)
.base-table {
    background: $color-white;
    width: 100%;
    max-width: 900px;
    font-size: 14px;
    margin: 50px auto;
    text-align: center;
    // Generic Styles
    tr {
        th, td {
            @include wordbreak;
            border-left: 1px solid #D8D8D8;
            position: relative;

            small {
                display: block;
            }

            button.tooltip {
                background-image: url('../images/icon-question-circle.svg');
                background-repeat: no-repeat;
                height: 30px;
                width: 30px;
                position: absolute;
                right: 10px;
                top: 20px;
            }
        }

        th {
            @media screen and (max-width: $screen-lg) {
                width: 50%;
                float: left;
            }

            img {
                display: block;
                margin: 10px auto 0 auto;
            }

            &:first-of-type {
                border-left: none;
            }
        }
    }
    // Set Cells Width on Mobile
    @media screen and (min-width: 768px) {
        thead, tbody {
            th, td {
                width: 50%;
            }
        }
    }

    img {
        max-width: 100%;
        display: block;
        margin: auto;
    }

    th, td, tr {
        &.active {
            background-color: $color-primary--lighter;
            border-right: solid 2px #4f9f31;
            border-left: solid 2px #4f9f31;
        }
    }
    // Table Head
    thead {
        color: $color-white;

        tr {
            @media screen and (max-width: $screen-lg) {
                flex-direction: unset;
            }

            th {
                border-bottom: 1px solid #D8D8D8;
                padding: 20px;
                text-align: center;

                @media screen and (max-width: $screen-lg) {
                    width: 50%;
                }

                &:first-of-type {
                    @media screen and (max-width: $screen-lg) {
                        display: none;
                    }
                }

                h5 {
                    color: $color-primary;
                }

                .table-header {
                    color: $color-primary;
                }

                .table-price {
                    display: block;
                    color: $color-primary;
                    font-weight: normal;

                    strong {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
    // Table Body
    tbody {
        tr {
            border-bottom: 1px solid #D8D8D8;
            background: $color-white;
            margin-bottom: 15px;

            @media screen and (min-width: 768px) {
                background: none;
                box-shadow: none;
                margin-bottom: 0;
            }

            @media screen and (max-width: $screen-lg) {
                display: block;
                overflow: hidden;
                margin-bottom: 0px;
            }

            th, td {
                padding: 20px;

                @media screen and (max-width: $screen-lg) {
                    display: flex;
                }
            }

            th {
                font-weight: normal;
                text-align: left;

                @media screen and (max-width: $screen-lg) {
                    background: $bg-light-grey;
                    border: 1px solid #d9d9d9;
                }

                &:first-of-type {
                    @media screen and (max-width: $screen-lg) {
                        width: 100%;
                    }
                }
            }

            td {
                text-align: center;

                @media screen and (max-width: $screen-lg) {
                    width: 50%;
                    float: left;
                    display: block;
                }
            }
        }
    }
}
  
  // Table Three Tiers
.base-table--three-cols {
    thead, tbody {
        min-width: 600px;
    }

    tbody tr td {
        @media screen and (max-width: $screen-lg) {
            width: 33.33%;
        }
    }
}
  
  // Table Four Tiers
.base-table--four-cols {
    thead, tbody {
        min-width: 600px;
    }

    tbody tr td {
        @media screen and (max-width: $screen-lg) {
            width: 25%;
        }
    }
}
  
  // Table Five Tiers
.base-table--five-cols {
    thead, tbody {
        min-width: 600px;
    }

    tbody tr td {
        @media screen and (max-width: $screen-lg) {
            width: 20%;
        }
    }
}
  
  // Table Six Tiers
.base-table--six-cols {
    overflow: auto;

    thead, tbody {
        min-width: 700px;
    }

    thead, tbody, tfoot {
        min-width: 900px;
        overflow: auto;
    }

    tbody tr td {
        @media screen and (max-width: $screen-lg) {
            width: 16.66%;
            min-width: 150px;
        }
    }
}
  
  // Large Table Fix (apply wrapper class)
  .table-wrapper { overflow: hidden; }
  // IE10+ HOT FIX
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .base-table thead th, .base-table thead td, .base-table tbody th, .base-table tbody td{
      width: 10%;
    }
  }

.breakdown-table, .step-back-table, .accordion-table {
    border-collapse: collapse;
  }

.accordion-table, .step-form__summary-block {
  width: 100%;
  display: table;
}

tr.hide{
  display: none;
}

// MA Styles
table.data-grid,
table.edit {
    display: block;
    width: 100%;

    @include breakpoint($screen-lg) {
        display: table;
        border-collapse: collapse;
    }

    caption {
        display: none;
    }

    tbody {
        display: block;

        @include breakpoint($screen-lg) {
            display: table-row-group;
        }
    }

    tr {
        padding: 1rem 0;
        display: block;
        border-top: 1px solid $color-grey;
        border-bottom: none;
        position: relative;

        @include breakpoint($screen-lg) {
            display: table-row;
            position: static;
            border: none;
            padding: 0;
        }

        .included-tick {
            position: relative;
            padding-left: 50px;
            min-height: 29px;

            img.icon {
                position: absolute;
                left: 0;
                top: 5px;

                @include breakpoint($screen-lg) {
                    top: 16px;
                }
            }
        }
    }

    tr:last-child {
        border-bottom: 1px solid $color-grey;
    }

    th, td {
        text-align: left;
        border: none;
        vertical-align: top;
        display: block;
        line-height: 29px;
        position: static;
        padding: 0;
        @include wordbreak;

        @include breakpoint($screen-lg) {
            position: relative;
            text-align: left;
            padding: 1rem;
            border-bottom: 1px solid $color-grey;
            vertical-align: top;
            display: table-cell;
        }
    }

    th:first-child {
        @include breakpoint($screen-lg) {
            width: 37%;
        }
    }

    @at-root table.edit {
        td:nth-child(2) {
            position: relative;
            display: block;
            padding-right: 50px;

            @include breakpoint($screen-lg) {
                position: relative;
                display: table-cell;
                padding-right: 50px;
            }
        }
    }

    .table-edit {
        display: block;
        height: 30px;
        width: 30px;
        border: none;
        background: none;
        font-size: 24px;
        cursor: pointer;
        appearance: none;
        transition: 0.3s all;
        //text-indent: -9999px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;

        @include breakpoint($screen-lg) {
            position: absolute;
            top: 1rem;
            right: 0;
        }

        i {
            position: absolute;
            left: 0;
            top: 0;
            text-indent: 0;
            text-align: center;
            width: 100%;
            height: 100%;
            font-size: 28px;
            line-height: 44px;
        }

        &:hover {
            color: lighten($primary, 10%);
            transition: 0.6s all;
        }
    }
}
