.icon {

    &--16 {
        height: 16px;
        width: 16px;
    }

    &--24 {
        height: 24px;
        width: 24px;
    }

    &--32 {
        height: 32px;
        width: 32px;
    }

    &--48 {
        height: 48px;
        width: 48px;
    }

    &--64 {
        height: 64px;
        width: 64px;
    }

    &--80 {
        height: 80px;
        width: 80px;
    }

    &--96 {
        height: 96px;
        width: 96px;
    }

    &--128 {
        height: 128px;
        width: 128px;
    }

}