.radio-block-list {
    margin: 40px 0px;

    &__line-one, &__line-two {
        display: block;
    }

    &__line-one {
        color: $color-primary;
        font-weight: 600;

        &:before {
            content: attr(data-blanks);
            margin-right: 5px;
        }
    }

    &__line-two {
        font-size: 13px;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            border-top: 1px solid $key-grey;
            padding: 20px 0;
            vertical-align: middle;

            &:focus {
                @include focussurround;
            }

            &:last-child {
                border-bottom: 1px solid $key-grey;
            }

            figure {
                border: 1px solid $key-grey;
                padding: 5px;
                border-radius: 3px;
                margin: auto;
                overflow: hidden;

                img {
                    @media (min-width: $screen-lg) {
                        width: 50px;
                        display: block;
                        margin: auto;
                    }
                }
            }

            input {
                position: absolute;
                left: -999999999px;
                height: 1px;
                width: 1px;
                overflow: hidden;

                &:focus {
                    + label:before {
                        @include focusSelectSurround;
                    }
                }

                &:checked {
                    + label {
                        &:before {
                            border-color: $button-radio-border-color-selected;
                            transition: 0.3s all;
                        }

                        &:after {
                            background: $button-radio-background-color-selected;
                            transition: 0.3s all;
                        }
                    }
                }

                &:hover {
                    + label {
                        &:before {
                            border-color: $color-primary;
                            transition: 0.3s all;
                        }

                        &:after {
                            background: $brand-20;
                        }
                    }
                }

                &:not(:checked):focus {
                    + label {
                        &:before {
                            border-color: $color-primary;
                            transition: 0.3s all;
                        }

                        &:after {
                            background: $brand-20;
                        }
                    }
                }
            }

            label {
                height: 30px;
                display: block;
                line-height: 30px;

                &:before {
                    content: "";
                    height: 30px;
                    width: 30px;
                    border: 2px solid $key-grey;
                    border-radius: 50%;
                    position: absolute;
                    display: block;
                }

                &:after {
                    content: "";
                    height: 30px;
                    width: 30px;
                    position: absolute;
                    border-radius: 50%;
                    top: 0;
                    left: 10px;
                    transform: scale(0.8);
                    transition: 0.6s all;
                }
            }

            &.selected {
                label {
                    &:before {
                        border-color: $success;
                        transition: 0.3s all;
                    }

                    &:after {
                        background: $success;
                        transition: 0.3s all;
                    }
                }
            }

            &.error {
                label {
                    &:before {
                        border-color: $error;
                    }

                    &:after {
                        background: #fcd8d8;
                    }
                }
            }

            &.inactive {
                border-radius: 50%;
                background: #fff !important;
                cursor: not-allowed;

                &:hover {
                    label {
                        &:before {
                            border-color: $key-grey;
                            cursor: not-allowed;
                        }

                        &:after {
                            background: $bg-lighter-grey;
                            cursor: not-allowed;
                        }
                    }
                }

                label {
                    &:before {
                        border-color: $key-grey;
                        cursor: not-allowed;
                    }

                    &:after {
                        background: $bg-lighter-grey;
                    }
                }
            }
        }
    }
}
