// Not sure whether this is used, will know once all brands have been built.

.marketing-panel-section {
  .page-section--inner {
    background-color: $marketing-panel-section-background-color;
  }
}

.marketing-panel-banner {
  text-align: center;
  padding: $marketing-banner-padding-mobile;
  @include breakpoint($screen-md) {
    margin: auto;
    max-width: $marketing-banner-width;
    text-align: $marketing-banner-text-align;
    display: $marketing-banner-display;
    padding: 40px 0;
  }

  &__image {
    margin-bottom: 10px;
    height: 50px;
    width: auto; //not for ie
    @include breakpoint($screen-md) {
      margin-right: 40px;
      margin-bottom: 0px;
      height: 100px;
      width: auto; //not for ie
    }
  }
  &__content {
    margin: auto 0;
  }
}
