$addons-list-banner-background-color: #fafafa !default;
$addons-list-banner-border-color: #e3e3e3 !default;

.feature-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: $spacing-unit;
  overflow: hidden;
  &:after {
    content: "";
    clear: both;
    height: 0px;
    width: 100%;
    display: block;
  }
  li {
    width: 100%;
    max-width: 33.33%;
    flex: 0 0 33%;
    margin: 0.5rem 0;
    button {
      display: block;
      border: none;
      background: none;
      color: $color-primary;
      padding: 0px;
      font-size: 1.375rem;
      position: relative;
      &:after {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: -3px;
        left: 0;
        transition: 0.3s all;
      }
      &:after {
        background: $color-primary;
        opacity: 0.35;
      }
      &:before {
        content: "\e021";
        font-size: 1.5rem;
        vertical-align: middle;
        font-family: "ui-icons";
        margin-right: $spacing-unit;
      }
    }
    small {
      display: block;
      width: 65%;
      margin-top: $spacing-unit;
      font-size: 13px;
      font-weight: lighter;
      color: #979797;
      letter-spacing: 0;
      line-height: 20px;
      text-align: left;
    }
  }
}

/* Checkmarks and Bullets */
.check-list,
.bullet-list {
  &__item {
    padding-left: 40px;
    background-repeat: no-repeat;
    margin: 30px 0;
    line-height: 1.6;

    &--first{
            margin-top:0px;
        }
  }
}

/* Checkmark */
.check-list {
  &__item {
    position: relative;
    &:before {
      content: "\f164";
      font-family: "ui-icons";
      color: $success;
      position: absolute;
      left: 10px;
    }
  }
}

/* Bulletpoints */
.bullet-list {
    list-style: none;
    padding: 0;
  &__item {
    position: relative;
    &:before {
      content: "";
      height: 10px;
      width: 10px;
      background: $light-grey;
      border-radius: 50%;
      top: 7px;
      position: absolute;
      left: 7px;
    }
  }
}

// Payments Table/List
.payment-activity {
  &__list {
    max-width: 500px;
    margin: auto;
    padding: 0;
  }
  &__item {
    display: block;
    border-bottom: 1px solid $key-grey;
    padding: 20px;
  }
}

.number-circle-list {
    list-style: none;
    counter-reset: circle-counter;
    padding-top: 20px;

    &__list-item {
        counter-increment: circle-counter;
        color: $color-primary;
        font-weight: 700;
        padding-left: 32px;
        position: relative;
        margin-bottom: 10px;

        &:before {
            content: counter(circle-counter);
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            border: 1px solid $color-primary;
            border-radius: 50%;
            display: inline-block;
            color: $color-primary;
            font-weight: 300;
            text-align: center;
            position: absolute;
            top: 3px;
            left: -3px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &-done {
            counter-increment: circle-counter;
            color: $green;
            font-weight: 700;
            padding-left: 32px;
            position: relative;
            margin-bottom: 10px;

            &:before {
                content: url("../images/icon-tick-circle--green.svg");
                width: 1.5rem;
                height: 1.5rem;
                line-height: 1.5rem;
                display: inline-block;
                text-align: center;
                position: absolute;
                top: 3px;
                left: -3px;
            }
        }
    }
}

.addons--list {
  &__banner {
    margin-bottom: 60px;
    padding: 40px 20px;
    text-align: center;
    background-color: $addons-list-banner-background-color;
    border: 1px solid $addons-list-banner-border-color;
    border-radius: 10px;
  }
  &__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 20px;
    
    @include breakpoint(420px) {
      flex-direction: row;
    }
  }
  &__item {
    padding-left: 10px;
  }
  &__image {
    height: 30px;
    width: 30px;
  }
  &__link {
    padding-left: 0px;
    text-decoration: underline;
    text-decoration-color: $color-font;
  }
}