.docs-delivery {
    display:table;
    width:100%;
    max-width:500px;
}

.docs-delivery__section {
    display:table-cell;
    width:50%;
    position:relative;
}

.docs-delivery__label {
    padding-top:150px;
    display:block;
    cursor: pointer;
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size:100px 100px;
    &--post {
        background-image: url('../images/icon-docs-post.svg');    
    }
    &--online {
        background-image: url('../images/icon-docs-online.svg');    
        background-size:70px 100px;
    }
}

.docs-delivery__radio {
    width:35px;
    height:35px;
    display:block;
    margin:auto;
    position: absolute;
    top:107px;
    left: calc(50% - 17px);
}

.docs-delivery__title {
    display:block;
    text-align:center;
    color:#ccc;
    user-select:none;
}

.docs-delivery__text {
    display:block;
    text-align:center; 
    color:#ccc;
    user-select:none;
}

.docs-delivery__radio:checked {
    + .docs-delivery__label--post {
        background-image: url('../images/icon-docs-eco.svg');
    }
    + .docs-delivery__label {
        .docs-delivery__title {
            color:#000;
        }
        .docs-delivery__text {
            color:#000;
        }
    }
}
