$initials-disc__disc-box-shadow-color--inner:       $color-primary--dark !default;
$initials-disc__disc-box-shadow-color--outer:       $color-primary--lighter !default;
$initials-disc__disc-background-color:              $color-primary !default;
$initials-disc__disc-border-width:                  5px !default;
$initials-disc__disc-border-color:                  $color-primary--light !default;


/* Cover Bubbles - Review Page */
.initials-disc {
    text-align: center;
    &__disc {
        padding:20px;
        border-radius:50%;
        border:solid $initials-disc__disc-border-width $initials-disc__disc-border-color;
        background-color:$initials-disc__disc-background-color;
        text-align:center;
        height:90px;
        width:90px;
        margin:auto auto 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus {
            border-radius: 50%;
        }
        
        &--named {
            border: solid $initials-disc__disc-border-width black;
            background-color: black;    
        }

        &--secondary {
            background-color:#4A4A4A;
            border: solid 5px rgba(255,255,255,0.25);
            .ssc-initials__initials, 
            .initials-disc__inner-text {
                font-weight: 400;
            }
        }
        &--add {
            background-color: transparent;
            border-color: rgba(68, 192, 255, 0.4);
            background-image:url('../images/icon-plus--secondary.svg');
            background-size: 40% 40%;
            background-position: center;
            background-repeat: no-repeat;
            &:hover {
                background-color: $color-secondary;
                background-image: url('../images/icon-plus--white.svg');
            }
        }
    }

    &__inner-text{
        color:#fff;
        @include font-size(34px);
        margin:0;
        line-height: 1.2;
        font-weight: 400;
        text-align:center;
    }
    &__under-text{
        color: $color-primary;
        text-transform: uppercase;
        font-weight: bold;
        @include font-size(12px);
        margin:0 0 7px 0;
        text-align: center;
    }

    &__link {
        text-align: center;
    }
}

/* Cover Bubbles - Additional Drivers Page */

.ssc-initials {
    text-align: center;
    margin-top: 50px;

    &__section {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;

        &--secondary {
            .ssc-initials__name {
                color: #4A4A4A;
            }
        }

        &--add {
            .ssc-initials__name {
                color: $color-secondary;
            }
        }
    }

    &__initials-wrapper {
        height: 90px;
        width: 90px;
        border: none;
        box-shadow: 0 0 0 7px rgba(104, 89, 163, 0.35);
        margin-bottom: 18px;
        text-decoration: none;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        position: relative;

        @include breakpoint(400px) {
            height: 100px;
            width: 100px;
        }

        @include breakpoint(700px) {
            height: 180px;
            width: 180px;
            box-shadow: 0 0 0 10px rgba(104, 89, 163, 0.35);
            margin-bottom: 25px;
            // margin-left: 20px;
        }

        &:hover {
            transform: scale(1.2);
            background-color: $color-secondary;
            box-shadow: 0 0 0 10px rgba(0, 107, 173, 0.2);

            .ssc-initials__hover-text {
                opacity: 1;
            }

            .ssc-initials__hover-divider {
                opacity: 0;

                @include breakpoint(700px) {
                    opacity: 1;
                }
            }
        }

        &:focus {
            transform: scale(1.2);
            background-color: $color-secondary;
            box-shadow: 0 0 0 10px rgba(0, 107, 173, 0.2);
            border-radius: 50%;

            .ssc-initials__hover-text {
                opacity: 1;
            }

            .ssc-initials__hover-divider {
                opacity: 1;
            }
        }


        &--secondary {
            background-color: #4A4A4A;
            box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.35);

            @include breakpoint(700px) {
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.35);
            }

            .ssc-initials__initials,
            .initials-disc__inner-text {
                font-weight: 300;
            }
        }

        &--add {
            background-color: transparent;
            // border:solid 1px $color-secondary;
            box-shadow: 0 0 0 7px rgba(0, 107, 173, 0.2);
            background-image: url('../images/icon-plus--secondary.svg');
            background-size: 30% 30%;
            background-position: center;
            background-repeat: no-repeat;

            @include breakpoint(700px) {
                box-shadow: 0 0 0 10px rgba(0, 107, 173, 0.2);
            }

            &:hover {
                background-image: url('../images/icon-plus--white.svg');
            }
        }
    }

    &__initials {
        @include font-size(44px);
        transition: transform 0.3s ease-in-out;

        @include breakpoint(700px) {
            @include font-size(60px);
        }
    }

    &__hover-text {
        position: absolute;
        bottom: 45px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        display: none;

        @include breakpoint(700px) {
            display: block;
        }
    }

    &__hover-divider {
        position: absolute;
        bottom: 45px;
        height: 2px;
        width: 50%;
        display: block;
        margin: auto;
        background-color: #fff;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
    }

    &__name {
        @include font-size(13px);

        @include breakpoint(700px) {
            @include font-size(18px);
        }
    }

    &__role-text {
        text-transform: uppercase;
        font-weight: 300;
        @include font-size(12px);
        margin: 0;
        text-align: center;
        margin-top: 5px;
    }

    &__image {
        height: 100%;
        width: 100%;
    }
}



/* Persona - Price Presentation Page */
$customer-profile__name-color: $color-primary !default;

.customer-profile {
    padding-top:15px;
    &__initials-wrapper {
        height: 120px;
        margin:auto auto 10px auto;
        padding:24px 0;
        border-width:7px;
        width:120px;
    }
    &__initials {
        @include font-size(44px);
        line-height: 1.3;
    }
    &__name {
        color: $customer-profile__name-color;
        text-align: center;
        font-weight:600;
        @include font-size(13px);
        margin-top:15px;
    }
}