$color-bg-grey-light: #F6F6F6;

.named-driver {
	&-carousel {
		overflow: hidden;
		position: relative;
		height: 46px;
		margin-bottom: 15px;
		border-bottom: 0.5px solid $color-bg-grey-light;
	}

	&-wrapper {

		display: inline-block;
		height: 46px;
		text-align: center;
		position: absolute;
		overflow: hidden;
		left: 0;
		transition: left .3s ease-in-out;
		

		.driver-tabs {
			cursor:pointer;
			float: left;
			margin-bottom: 0px;
			display: block;
			padding: 10px 40px;
			font-weight: 300;
		}

	}

	&-item {
		float: left;
		input {
			display: none;
			
			&:checked + label {
				border-bottom:2px solid $color-primary;
				color: $color-primary;
				font-weight: bold;
			}
		}
	}

	&-scrollbar-arrow-right,
	&-scrollbar-arrow-left {
		position: absolute;
		top: 8px;
		bottom: 0;
		display: none;
		height: 25px;
		width: 25px;
		z-index: 5;
	}

	&-scrollbar-arrow-left {
		left: 0;
		background-color: #FFF;
		background-image:url('../images/icon-arrow-left-lightgrey.svg');
		background-repeat: no-repeat;
		background-position:center;
			&:hover,
			&:active {
				background-image:url('../images/icon-arrow-left-grey.svg');
			}
	}

	&-scrollbar-arrow-right {
		right: 0;
		background-image:url('../images/icon-arrow-right-lightgrey.svg');
		background-repeat: no-repeat;
		background-position:center;
			&:hover,
			&:active {
				background-image:url('../images/icon-arrow-right-grey.svg');
			}
	}

}

a.link.review-overview__person-link.named-driver-link {
	font-size: 16px;
}

.table-row.table-row-remove {
	border-bottom: transparent;
	margin-bottom: 25px;
    margin-top: 25px;
}