﻿.date-picker {
    width: 100%;

    @include breakpoint(600px) {
        display: table;
        margin-top: 120px;
    }

    &__dts {
        margin-top: 40px;
    }

    &--no-top-margin {
        margin-top: 0px;
    }
}

.date-picker__section {
    @include breakpoint(600px){
        display:table-cell;
        padding:0 10px;
        vertical-align: top;
    }
    &--actions {
        text-align: center;
        @include breakpoint(600px){
            width:40%;
        } 
    }
}

.date-picker__year-heading {
    display:none;
    margin:0 0 6px 0;
    color: $color-primary;
    @include breakpoint(600px){
        display: block;
        @include font-size(50px);
        font-weight: 600;
    }
}

.date-picker__sub-text {
    color: $color-font--light;
    font-weight: 300;
    @include font-size(13px);
    margin-top: 30px;
    text-align: center;
    @include breakpoint(600px){
        text-align: left;
    }

}

.date-picker__action-box {
    padding-top:30px;
    @include breakpoint(600px){
        // padding-top:125px;
    }
}

.date-picker__action-box-heading {
    display:none;
    @include font-size(20px);
    font-weight: 500;

    @include breakpoint(600px){
        display:block;
        margin-bottom:0;
    }
}

.date-picker__selected-date-wrapper {
    display:none;
    color:$color-primary;
    @include breakpoint(600px){
        display:block;
        @include font-size(35px);
        margin:0;
    }
}

.date-picker__selected-day {
    @include font-size(180px);
    display:block;
    margin:0;
    line-height: 1;
    font-weight: 500;
    letter-spacing:-5px;
}

.date-picker__selected-month {
    text-transform: uppercase;
    margin:0;
    @include font-size(30px);
    font-weight: 300;
    color: $color-primary;
}

.date-picker__date-sub-text {
    color: $color-font;
    font-weight: 300;
    @include font-size(13px);
    margin:0;
}

.date-picker__button-sub-wrapper {
    margin:20px 0;
}

.date-picker__sub-button {
    display:inline-block;
}

.date-picker__button-wrapper {
    margin: 25px 0;
}

.date-picker__button {
    max-width: 230px;
    width: 100%;
}

.date-picker__cancel-button {
    @include font-size(16px);
}




// Modify jQueryUI datepicker component
.date-picker .ui-datepicker {
    width: 100% !important;

    @include breakpoint(700px) {
        // margin-top: 131px;
    }

    &-group {
        margin: 80px 0;
    }

    &-calendar {
        width: 100%;
        margin: 30px 0;
        border: 0;
        border-collapse: collapse;
        line-height: 1.5;
        @include font-size(12px);

        @include breakpoint(600px) {
            margin: 0;
            @include font-size(15px);
        }

        th {
            border-bottom: solid 1px #F2F2F2;
            padding: 0 0 15px 0;
            font-weight: 300;
            text-transform: uppercase;
            color: $color-primary;
            @include font-size(12px);
            text-align: center;
        }

        td {
            width: calc(100% / 7);
            text-align: center;
            color: $color-font--light;
            font-weight: 300;
            user-select: none;
            padding: 0.5rem 0;
            position: relative;

            @include breakpoint(700px) {
                padding: 0.75rem 0;
            }

            a {
                font-weight: 600;
                color: $color-font;
                cursor: pointer;
                text-decoration: none;
                transition: background-color 0.1s ease-in-out;
                display: inline-block;
                border-radius: 20px;
                height: 40px;
                width: 40px;
                line-height: 40px;

                &:hover {
                    font-weight: bold;
                    color: #fff;
                    background-color: $color-primary;
                    transition: background-color 0.1s ease-in-out;
                }

                &:focus {
                    font-weight: bold;
                    transition: background-color 0.1s ease-in-out;
                }

                &.ui-state-active {
                    font-weight: bold;
                    color: #fff;
                    background-color: $color-primary;

                    &:focus {
                        @include focusSelectSurround;
                    }
                }
            }

            span {
                display: inline-block;
                border-radius: 20px;
                height: 40px;
                width: 40px;
                line-height: 40px;
            }
        }

        tbody tr:nth-child(1) td {
            padding-top: 1.5rem;

            &:after {
                top: 0.8rem;
            }
        }
    }

    &-today {
        position: relative;

        &:after {
            content: "TODAY";
            color: $color-primary;
            @include font-size(12px);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transform: translateY(-10px);
            font-weight: bold;

            @include breakpoint(600px) {
                @include font-size(14px);
            }
        }
    }

    &-title {
        @include font-size(20px);
        margin: 10px 0 20px 0;
        color: $color-primary;

        @include breakpoint(600px) {
            display: block;
            @include font-size(30px);
            font-weight: 600;
        }
    }

    &-header {
        position: relative;
        text-align: center;
    }

    &-prev {
        position: absolute;
        left: 5px;
        top: 5px;
        height: 24px;
        width: 24px;
        background-image: url('../images/icon-arrow-left.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;

        &.ui-state-disabled {
            display: none;
        }

        span {
            @include visually-hidden;
        }
    }

    &-next {
        position: absolute;
        right: 5px;
        top: 12px;
        height: 24px;
        width: 24px;
        background-image: url('../images/icon-arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;

        span {
            @include visually-hidden;
        }

        &.ui-state-disabled {
            display: none;
        }
    }
}

.ui-datepicker:not(.ui-datepicker-inline) {
	width: 17em;
	padding: .2em .2em 0;
    display: none;
    background-color:#fff;
    border:solid 1px #000;
    border-radius:5px;

    .ui-datepicker-header {
        position: relative;
        padding: .2em 0;
    }
    .ui-datepicker-prev{
        position: absolute;
        top: 2px;
        width: 1.8em;
        height: 1.8em;
    }
    .ui-datepicker-next {
        position: absolute;
        top: 2px;
        width: 1.8em;
        height: 1.8em;
    }
    .ui-datepicker-prev {
        left: 2px;
    }
    .ui-datepicker-next {
        right: 2px;
    }
    .ui-datepicker-prev span{
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
    }
    .ui-datepicker-next span {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
    }
    .ui-datepicker-title {
        margin: 0 2.3em;
        line-height: 1.8em;
        text-align: center;
    }
    .ui-datepicker-title select {
        font-size: 1em;
        margin: 1px 0;
    }
    select.ui-datepicker-month {
        width: 45%;
    }
    select.ui-datepicker-year {
        width: 45%;
    }
    table {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 .4em;
    }
    th {
        padding: .7em .3em;
        text-align: center;
        font-weight: bold;
        border: 0;
    }
    td {
        border: 0;
        padding: 1px;
    }
    td span {
        display: block;
        padding: .2em;
        text-align: center;
        text-decoration: none;
        width:25px;
        height:25px;
        margin:auto;
        line-height: 1.5;
        border-radius:30px;
    }
    td a {
        display: block;
        padding: .2em;
        text-align: center;
        text-decoration: none;
        width:25px;
        height:25px;
        margin:auto;
        line-height: 1.5;
        border-radius:30px;
    }

    td a {
        text-align: center;
        display:block;
        width:25px;
        height:25px;
        margin:auto;
        line-height: 1.5;
        border-radius:30px;

        &:hover, &:focus {
            color:#fff;
            background-color: $color-primary;
        }
    }
    .ui-datepicker-buttonpane {
        background-image: none;
        margin: .7em 0 0 0;
        padding: 0 .2em;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }
    .ui-datepicker-buttonpane button {
        float: right;
        margin: .5em .2em .4em;
        cursor: pointer;
        padding: .2em .6em .3em .6em;
        width: auto;
        overflow: visible;
    }
    .ui-datepicker-buttonpane button.ui-datepicker-current {
        float: left;
    }

    /* with multiple calendars */
    &.ui-datepicker-multi {
        width: auto;
    }

    .ui-icon {
        display: block;
        text-indent: -99999px;
        overflow: hidden;
        background-repeat: no-repeat;
        left: .5em;
        top: .3em;
    }

    .ui-datepicker-next {
        background-image:url('../images/icon-arrow-right.svg');
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: center;
        cursor: pointer;
    }

    .ui-datepicker-prev {
        background-image:url('../images/icon-arrow-left.svg');
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: center;
        cursor: pointer;
    }

    td span {
        text-align: center;
    }
    td a {
        text-align: center;
    }
}

.monthly-payment-date-widget {

    .ui-datepicker {
        &-unselectable, &-other-month {
            background-color: $datepicker-disabled-date-background-color;
            color: $datepicker-disabled-date-font-color;
            font-weight: 400;
        }

        &-calendar a {
            font-weight: 600;
            color: $datepicker-enabled-date-font-color;
        }
    }

}

.date-picker-v2 {
    display: table;
    width: 100%;

    &__dts {
        margin-top: 40px;
    }
}

.calendar-v2 {
    display: inline-block;
    min-height: 25.125rem;
    padding: 0.625rem;
    position: relative;
    min-width: 18rem;
    @include column(8,12);
    width: 60%;
    margin: 0px;

    @media screen and (max-width: 992px) {
        @include column(12);
    }
    // Inline calendar
    &--inline {
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 320px;
        position: absolute;
        z-index: 1;
        transition: 0.6s all;
        min-height: auto;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
        display: none;

        &.active {
            display: block;
            opacity: 1;
            transition: 0.3s all;
            top: 0;
            left: 0;
        }

        .calendar-v2-item {
            height: 40px;
            line-height: 13px;
            font-size: 0.85rem;

            &--current:after {
                display: none;
            }

            &:before {
                height: 30px;
                width: 30px;
                margin-left: -15px;
                margin-top: -15px;
            }
        }

        .calendar-nav-v2 {
            margin-bottom: 0px !important;

            &--button:last-of-type {
                background-size: 16px;
            }

            &--select {
                &:after {
                    right: 0px;
                }

                .calendar-v2-month-year {
                    font-size: 16px !important;
                }
            }
        }

        .calendar-v2-days {
            margin-bottom: 0px;
        }
    }

    [tabindex="-1"] {
        outline: none;
    }

    .calendar-nav-v2 {
        display: flex;
        padding: 0 45px;
        margin-bottom: 20px;

        &--button, &--select {
            cursor: pointer;
            margin-right: .5rem;
        }

        &--button {
            height: 24px;
            width: 24px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            top: 20px;

            &:first-of-type {
                left: 5px;
                background-image: url(../images/icon-arrow-left.svg);
            }

            &:last-of-type {
                right: 5px;
                background-image: url(../images/icon-arrow-right.svg);
            }

            &.disabled {
                display: none;
            }
        }

        &--selects {
            display: flex;
            flex: 1;
            justify-content: center;
        }

        &--select {
            height: 2.750rem;
            position: relative;
            width: 100%;
            text-align-last: center;

            &:last-of-type:after {
                display: none;
            }

            .calendar-v2-month-year {
                -webkit-appearance: none;
                background-image: none;
                background: none;
                border: none;
                border-radius: .25rem;
                cursor: pointer;
                font-size: 1rem;
                height: 2.750rem;
                padding: 0 .5rem;
                width: 100%;
                font-size: 1.7rem;
                font-weight: 600;
                color: $color-primary;

                @include breakpoint(420px) {
                    font-size: 1.875rem;
                }

                option {
                    font-size: 1rem;
                }
            }
        }
    }
    // Grid
    &-row {
        display: flex;
        text-align: center;
    }
    // Days Header
    &-days {
        color: #666;
        border-bottom: solid 1px #F2F2F2;
        margin-bottom: 1.5rem;

        .calendar-v2-item--day {
            font-weight: 300;
            text-transform: uppercase;
            color: $color-primary;
            padding: 0.75rem 0px;
            font-size: 12px;
            font-size: .75rem;
            @include column(1.7,12);
            text-align: center;
        }
    }
    // Individual Days
    &-item {
        background: transparent;
        border: 0.125rem solid transparent;
        border-radius: 0;
        box-sizing: content-box;
        font-size: 1rem;
        font-weight: bold;
        line-height: 200%;
        padding: 0.75rem 0px;
        position: relative;
        box-sizing: border-box;
        @include column(1.7,12);
        position: relative;
        height: 75px;

        &:before {
            content: "";
            height: 44px;
            width: 44px;
            background: $color-primary;
            left: 50%;
            margin-left: -22px;
            top: 50%;
            margin-top: -22px;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        &--active {
            color: #fff;

            &:before {
                opacity: 1;
                transition: 0.3s all;
            }

            &:focus {
                &:before {
                    @include focusSelectSurround;
                }
            }
        }

        &--empty {
            &:before, &:after {
                display: none;
            }
        }

        &--current {
            color: #fff;
            font-weight: bold;

            &:before {
                background-color: $color-primary !important;
                opacity: 1;
                transition: 0.3s all;
                border: none !important;
            }

            &:after {
                content: "TODAY";
                color: $color-primary;
                font-size: 12px;
                font-size: .75rem;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
                font-weight: bold;
            }

            &:hover {
                color: #fff;

                &:before {
                    background-color: #6859A3;
                }
            }
        }
        // Helpers
        .visually-hidden-v2 {
            background-color: #005493;
            clip: rect(0.063rem, 0.063rem, 0.063rem, 0.063rem);
            color: #fff;
            font-size: 0.063rem;
            height: .5px;
            overflow: hidden;
            position: absolute;
            top: .5rem;
            white-space: nowrap;
            width: .5px;
        }

        [aria-hidden="true"] {
            display: none;
        }
    }
}

// Misc styles for calendar

#calendar-help-v2-trigger {
    display: none;
}

.calendar-nav-v2--button:focus {
    outline: none;
}

.calendar-nav-v2--select .calendar-v2-month-year:focus,
.calendar-v2-item:hover:not(.calendar-v2-item--day):not(:empty),
.calendar-v2-item:focus:not(.calendar-v2-item--day):not(:empty),
.calendar-help-v2-trigger:focus,
.calendar-help-v2-dialog:focus,
.calendar-help-v2-close:focus {
    box-shadow: none;
    outline: none;
}

.calendar-v2-item:not(.calendar-v2-item--active):hover:not(.calendar-v2-item--day):not(:empty),
.calendar-v2-item:not(.calendar-v2-item--active):focus:not(.calendar-v2-item--day):not(:empty) {
    &:before {
        background: none;
        opacity: 1;
    }
}

.calendar-v2-item:not(.calendar-v2-item--active):hover:not(.calendar-v2-item--day):not(:empty) {
    &:before {
        border: 1px dashed #ccc;
    }
}

.calendar-v2-item--unavailable:not(.calendar-v2-item--holiday) {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
}


// Right hande side (aside)
.date-picker-v2__section--actions {
    @include column(4,12);
    width: 40%;
    margin: 0px;
    text-align: center;

    @media screen and (max-width: 992px) {
        @include column(12);
    }

    .date-picker-v2__action-box {
        padding-top: 30px;

        &-heading {
            display: none;
            @include font-size(20px);
            font-weight: 500;

            @include breakpoint(600px) {
                display: block;
                margin-bottom: 0;
            }
        }

        .date-picker-v2__selected-date-wrapper {
            display: none;
            color: $color-primary;

            @include breakpoint(600px) {
                display: block;
                @include font-size(35px);
                margin: 0;
            }

            .date-picker-v2__selected {
                &-day {
                    @include font-size(180px);
                    display: block;
                    margin: 0;
                    line-height: 1;
                    font-weight: 500;
                    letter-spacing: -5px;
                }

                &-month {
                    text-transform: uppercase;
                    margin: 0;
                    @include font-size(30px);
                    font-weight: 300;
                    color: $color-primary;
                }
            }
        }

        .date-picker-v2__date-sub-text {
            color: $color-font;
            font-weight: 300;
            @include font-size(13px);
            margin: 0;
        }

        .date-picker-v2__button {
            max-width: 230px;
            width: 100%;

            &-wrapper {
                margin: 25px 0;
            }

            &-sub-wrapper {
                margin: 20px 0;

                .date-picker-v2__sub-button {
                    display: inline-block;

                    &--today {
                    }

                    &--tomorrow {
                    }
                }
            }
        }
    }
}

// RAND Legancy styles
.date-picker-v2 {
    select::-ms-expand {
        display: none;
    }
}

.date-picker-v2__cancel-button {
    @include font-size(16px);
}

.date-picker-v2__sub-text {
    color: $color-font--light;
    font-weight: 300;
    font-size: 13px;
    font-size: .8125rem;
    margin-top: 30px;
    text-align: center;

    @media (min-width: 600px) {
        text-align: left;
    }
}

.calendar-v2-wrapper {
    position: relative;

    .calendar-v2-icon-trigger {
        position: absolute;
        width: 44px;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}

.calendar-nav-v2--month-year {
    flex-grow: 1;
}

.calendar-item[aria-pressed="false"]:focus:not(.calendar-item--day):not(:empty):before,
.calendar-item:focus.calendar-item--active:before {
    color: $focus-text-color;
    background-color: $focus-background-color;
    border: 2px dotted $focus-border-color;
    outline: none;
}

​
.calendar-v2-item:focus {
    background-color: transparent;
    border: transparent;
    outline: none;
}

.calendar-v2-item:not(.calendar-v2-item--active):focus:not(.calendar-v2-item--day):not(:empty):before {
    @include buttonFocus;
}

.calendar-v2-item:focus.calendar-v2-item--active:before,
.calendar-v2-item:focus.calendar-v2-item--active:before
{
    border: none;
}

// MyAccount
// Large Full Screen Calendar
.calendar {
    min-height: 25.125rem;
    padding: 0.625rem;
    position: relative;
    min-width: 18rem;
    display: inline;
    float: left;
    width: 100%;
    margin: 0 1.04167%;
    // Nav
    .calendar-nav {
        display: flex;
        padding: 0 45px;
        margin-bottom: 20px;
        // Arrow Buttons
        .previous, .next {
            background: none;
            border: none;
            height: 24px;
            width: 24px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            top: 20px;

            &.disabled {
                display: none;
            }
        }

        .previous {
            left: 5px;
            background-image: url('../images/icon-arrow-left.svg');
        }

        .next {
            right: 5px;
            background-image: url('../images/icon-arrow-right.svg');
        }
        // Selects
        .calendar-nav-selects {
            width: 100%;
            display: flex;
            flex: 1;
            justify-content: center;

            .calendar-nav-select {
                cursor: pointer;
                margin-right: .5rem;
                height: 2.750rem;
                position: relative;
                width: 100%;
                text-align-last: center;

                &:after {
                    border-top: 0.05rem solid $calendar-nav-arrow-colours;
                    border-right: 0.05rem solid $calendar-nav-arrow-colours;
                    content: '';
                    display: block;
                    height: 12px;
                    position: absolute;
                    right: .5rem;
                    top: 50%;
                    transform: translateY(-50%) rotate(135deg);
                    width: 12px;
                }

                select {
                    box-shadow: none;
                    background: none;
                    border: none;
                    border-radius: .25rem;
                    cursor: pointer;
                    height: 2.750rem;
                    padding: 0 .5rem;
                    width: 100%;
                    font-size: 1.875rem;
                    font-weight: 600;
                    color: #6859A3;

                    option {
                        font-size: 16px;
                        color: $calendar-selects-option-colour;
                        font-weight: 600;

                        &:disabled {
                            color: $calendar-selects-option-colour-disabled;
                            font-weight: normal;
                            display: none;
                        }
                    }
                }
            }
        }
    }
    // Grid
    .calendar-grid {
        // Day Header
        .calendar-days {
            border-bottom: solid 1px #F2F2F2;
            margin-bottom: 1.5rem;
            overflow: hidden;

            li {
                font-weight: 300;
                text-transform: uppercase;
                color: $calendar-header-days-colour;
                padding: 0.75rem 0;
                font-size: 12px;
                display: inline;
                float: left;
                width: 12.08333%;
                margin: 0 1.04167%;
                text-align: center;
            }
        }
        // Calendar Dates
        #calendar-dates {
            .calendar-row {
                display: flex;
                text-align: center;

                .calendar-day {
                    cursor: pointer;
                    background: transparent;
                    border: 0.125rem solid transparent;
                    border-radius: 0;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 200%;
                    padding: 0.75rem 0px;
                    box-sizing: border-box;
                    display: inline;
                    float: left;
                    width: 12.08333%;
                    margin: 0 1.04167%;
                    position: relative;
                    height: 75px;

                    &:before {
                        content: "";
                        height: 44px;
                        width: 44px;
                        background: $calendar-day-active-background;
                        left: 50%;
                        margin-left: -22px;
                        top: 50%;
                        margin-top: -22px;
                        border-radius: 50%;
                        position: absolute;
                        z-index: -1;
                        opacity: 0;
                    }
                    // Hover
                    &:hover, &:focus {
                        color: $color-font;

                        &:before {
                            border: 1px dashed #ccc;
                            background: none;
                            opacity: 1;
                        }
                        // Prevent hover state rebranding other states
                        &.current, &.active {
                            color: #fff;

                            &:before {
                                border: none;
                            }
                        }

                        &.current:before {
                            background: $calendar-day-active-background;
                        }

                        &.active:before {
                            background: $color-grey--dark;
                        }
                    }
                    // Empty (ie: Days from previous month)
                    &.empty {
                        &:before, &:after {
                            display: none;
                        }
                    }
                    // Unavailable (Default: Weekends)
                    &.unavailable {
                        color: $calendar-unavailable-colour;

                        &:hover {
                            color: $error-form-text-color;

                            &:before {
                                background-color: transparentize($error-background-color, 0.8);
                                border-color: $error-border-color;
                            }
                        }
                    }
                    // Current Day (TODAY)
                    &.current {
                        color: #fff;

                        &:before {
                            background: $calendar-today-background;
                            opacity: 1;
                            transition: 0.3s all;
                        }

                        &:after {
                            content: "TODAY";
                            color: $calendar-today-text-colour;
                            font-size: .75rem;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            transform: translateY(-10px);
                            font-weight: bold;
                        }

                        &.dayFade {
                            color: $color-font;

                            &:before {
                                background: transparent;
                            }

                            &:after {
                                display: none;
                            }
                        }
                    }
                    // Clicked (active)
                    &.active {
                        color: $calendar-day-active-colour;

                        &:before {
                            opacity: 1;
                            transition: 0.3s all;
                        }
                    }
                }
            }
        }
    }
}

// Calendar HOT fixes
#select-tomorrow {
    max-width: none;
    width: auto;
}

// Time Tag (Large aside date)
time {
    span {
        &.time-day {
            font-size: 11.25rem;
            display: block;
            margin: 0;
            line-height: 1;
            font-weight: 500;
            letter-spacing: -5px;
            color: $calendar-aside-number-text;
        }

        &.time-month, &.time-year {
            text-transform: uppercase;
            margin: 0;
            font-size: 1.875rem;
            font-weight: 300;
            color: $calendar-aside-month-year-text;
        }

        &.time-month {
            margin-right: 10px;
        }

        &.time-year {
        }
    }
}

// Inline Calendar (Datepicker)
.datepicker {
    max-width: 300px;
}

.flatpickr-calendar {
    opacity: 0;
    display: none;
    text-align: center;
    visibility: hidden;
    padding: 0;
    animation: none;
    direction: ltr;
    border: 0;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    position: absolute;
    width: 307.875px;
    box-sizing: border-box;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background: #fff;
    box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);

    &.open, &.inline {
        opacity: 1;
        max-height: 640px;
        visibility: visible;
    }

    &.open {
        display: inline-block;
        z-index: 99999;
    }

    &.animate.open {
        animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &.inline {
        display: block;
        position: relative;
        top: 2px;
    }

    &.static {
        position: absolute;
        top: calc(100% + 2px);

        &.open {
            z-index: 999;
            display: block;
        }
    }

    &.multiMonth .flatpickr-days .dayContainer {
        &:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
            box-shadow: none !important;
        }

        &:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
            box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
        }
    }

    .hasWeeks .dayContainer, .hasTime .dayContainer {
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .hasWeeks .dayContainer {
        border-left: 0;
    }

    &.showTimeInput.hasTime .flatpickr-time {
        height: 40px;
        border-top: 1px solid #e6e6e6;
    }

    &.noCalendar.hasTime .flatpickr-time {
        height: auto;
    }

    &:before, &:after {
        position: absolute;
        display: block;
        pointer-events: none;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        left: 22px;
    }

    &.rightMost {
        &:before, &:after {
            left: auto;
            right: 22px;
        }
    }

    &:before {
        border-width: 5px;
        margin: 0 -5px;
    }

    &:after {
        border-width: 4px;
        margin: 0 -4px;
    }

    &.arrowTop {
        &:before, &:after {
            bottom: 100%;
        }

        &:before {
            border-bottom-color: #e6e6e6;
        }

        &:after {
            border-bottom-color: #fff;
        }
    }

    &.arrowBottom {
        &:before, &:after {
            top: 100%;
        }

        &:before {
            border-top-color: #e6e6e6;
        }

        &:after {
            border-top-color: #fff;
        }
    }

    &:focus {
        outline: 0;
    }
}

.flatpickr-wrapper {
    position: relative;
    display: inline-block;
}

.flatpickr-months {
    display: flex;

    .flatpickr-month {
        background: transparent;
        color: $color-font;
        fill: $color-grey--dark;
        height: 28px;
        line-height: 1;
        text-align: center;
        position: relative;
        user-select: none;
        overflow: hidden;
        box-flex: 1;
        flex: 1;
        flex: 1;
    }

    .flatpickr-prev-month, .flatpickr-next-month {
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        line-height: 16px;
        height: 28px;
        padding: 10px;
        z-index: 3;
        color: $color-font;
        fill: $color-grey--dark;
    }

    .flatpickr-prev-month.flatpickr-disabled, .flatpickr-next-month.flatpickr-disabled {
        display: none;
    }

    .flatpickr-prev-month i, .flatpickr-next-month i {
        position: relative;
    }

    .flatpickr-prev-month.flatpickr-prev-month {
        left: 0;
    }

    .flatpickr-next-month {
        &.flatpickr-prev-month {
            left: 0;
            right: 0;
        }

        &.flatpickr-next-month {
            right: 0;
        }
    }

    .flatpickr-prev-month:hover, .flatpickr-next-month:hover {
        color: #959ea9;
    }

    .flatpickr-prev-month:hover svg, .flatpickr-next-month:hover svg {
        fill: $color-primary;
    }

    .flatpickr-prev-month svg, .flatpickr-next-month svg {
        width: 14px;
        height: 14px;
    }

    .flatpickr-prev-month svg path, .flatpickr-next-month svg path {
        transition: fill .1s;
        transition: fill .1s;
        fill: inherit;
    }
}

.numInputWrapper {
    position: relative;
    height: auto;

    input, span {
        display: inline-block;
    }

    input {
        width: 100%;

        &::-ms-clear {
            display: none;
        }

        &::outer-spin-button, &::inner-spin-button {
            margin: 0;
            appearance: none;
        }
    }

    span {
        position: absolute;
        right: 0;
        width: 14px;
        padding: 0 4px 0 2px;
        height: 50%;
        line-height: 50%;
        opacity: 0;
        cursor: pointer;
        border: 1px solid rgba(57, 57, 57, 0.15);
        box-sizing: border-box;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        &:active {
            background: rgba(0, 0, 0, 0.2);
        }

        &:after {
            display: block;
            content: "";
            position: absolute;
        }

        &.arrowUp {
            top: 0;
            border-bottom: 0;

            &:after {
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-bottom: 4px solid rgba(57, 57, 57, 0.6);
                top: 26%;
            }
        }

        &.arrowDown {
            top: 50%;

            &:after {
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid rgba(57, 57, 57, 0.6);
                top: 40%;
            }
        }

        svg {
            width: inherit;
            height: auto;

            path {
                fill: rgba(0, 0, 0, 0.5);
            }
        }
    }

    &:hover {
        background: rgba(0, 0, 0, 0.05);

        span {
            opacity: 1;
        }
    }
}

.flatpickr-current-month {
    font-size: 135%;
    font-weight: 300;
    color: inherit;
    position: absolute;
    width: 75%;
    left: 12.5%;
    padding: 6.16px 0 0 0;
    line-height: 1;
    height: 28px;
    display: inline-block;
    text-align: center;
    transform: translate3d(0, 0, 0);

    span.cur-month {
        font-family: inherit;
        font-weight: 700;
        color: inherit;
        display: inline-block;
        margin-left: .5ch;
        padding: 0;

        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }
    }

    .numInputWrapper {
        width: 6ch;
        width: 7ch\0;
        display: inline-block;

        span {
            &.arrowUp:after {
                border-bottom-color: rgba(0, 0, 0, 0.9);
            }

            &.arrowDown:after {
                border-top-color: rgba(0, 0, 0, 0.9);
            }
        }
    }

    input.cur-year {
        background: transparent;
        box-sizing: border-box;
        color: inherit;
        cursor: text;
        padding: 0 0 0 .5ch;
        margin: 0;
        display: inline-block;
        font-size: inherit;
        font-family: inherit;
        font-weight: 300;
        line-height: inherit;
        height: auto;
        border: 0;
        border-radius: 0;
        vertical-align: initial;
        appearance: textfield;

        &:focus {
            outline: 0;
        }

        &[disabled] {
            font-size: 100%;
            color: rgba(0, 0, 0, 0.5);
            background: transparent;
            pointer-events: none;

            &:hover {
                font-size: 100%;
                color: rgba(0, 0, 0, 0.5);
                background: transparent;
                pointer-events: none;
            }
        }
    }

    .flatpickr-monthDropdown-months {
        background: transparent;
        border: none;
        border-radius: 0;
        color: inherit;
        cursor: pointer;
        font-size: inherit;
        font-family: inherit;
        font-weight: 300;
        height: 22px;
        line-height: inherit;
        margin: -1px 0 0 0;
        outline: none;
        padding: 0 0 0 .5ch;
        position: relative;
        vertical-align: initial;
        box-sizing: border-box;
        appearance: menulist;
        box-shadow: none;
        display: inline-block;
        width: auto;

        &:focus, &:active {
            outline: none;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }

        .flatpickr-monthDropdown-month {
            background-color: transparent;
            outline: none;
            padding: 0;
        }
    }
}

.flatpickr-weekdays {
    background: transparent;
    text-align: center;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-align: center;
    align-items: center;
    height: 28px;

    .flatpickr-weekdaycontainer {
        display: flex;
        box-flex: 1;
        flex: 1;
    }
}

span.flatpickr-weekday {
    cursor: default;
    font-size: 90%;
    background: transparent;
    color: rgba(0, 0, 0, 0.54);
    line-height: 1;
    margin: 0;
    text-align: center;
    display: block;
    box-flex: 1;
    flex: 1;
    font-weight: bolder;
}

.dayContainer, .flatpickr-weeks {
    padding: 1px 0 0 0;
}

.flatpickr-days {
    position: relative;
    overflow: hidden;
    display: flex;
    box-align: start;
    align-items: flex-start;
    width: 307.875px;

    &:focus {
        outline: 0;
    }
}

.dayContainer {
    padding: 0;
    outline: 0;
    text-align: left;
    width: 307.875px;
    min-width: 307.875px;
    max-width: 307.875px;
    box-sizing: border-box;
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-around;
    transform: translate3d(0, 0, 0);
    opacity: 1;

    + .dayContainer {
        box-shadow: -1px 0 0 #e6e6e6;
    }
}

.flatpickr-day {
    background: none;
    border: 1px dashed transparent;
    border-radius: 150px;
    box-sizing: border-box;
    color: $color-font;
    cursor: pointer;
    width: 14.2857143%;
    flex-basis: 14.2857143%;
    max-width: 39px;
    height: 39px;
    line-height: 39px;
    margin: 0;
    display: inline-block;
    position: relative;
    box-pack: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;

    &.inRange, &.prevMonthDay.inRange, &.nextMonthDay.inRange,
    &.today.inRange, &.prevMonthDay.today.inRange,
    &.nextMonthDay.today.inRange, &:hover, &.prevMonthDay:hover,
    &.nextMonthDay:hover, &:focus, &.prevMonthDay:focus, &.nextMonthDay:focus {
        cursor: pointer;
        outline: 0;
        background: transparent;
        border-color: #ccc;
    }

    &.today {
        color: #fff;
        background: $color-primary;
        transition: 0.6s all;

        &:hover, &:focus {
            border-color: 2px dashed $color-font--light;
            background: $color-primary;
            color: #fff;
            transition: 0.3s all;
        }

        &:before {
            content: "TODAY";
            font-size: 8px;
            position: absolute;
            left: 7px;
            top: -24px;
            color: $color-primary;
        }
    }

    &.selected, &.startRange, &.endRange, &.selected.inRange, &.startRange.inRange, &.endRange.inRange, &.selected:focus, &.startRange:focus, &.endRange:focus, &.selected:hover, &.startRange:hover, &.endRange:hover, &.selected.prevMonthDay, &.startRange.prevMonthDay, &.endRange.prevMonthDay, &.selected.nextMonthDay, &.startRange.nextMonthDay, &.endRange.nextMonthDay {
        background: $color-grey--dark;
        box-shadow: none;
        color: #fff;
        border: none;
    }

    &.selected.startRange, &.startRange.startRange, &.endRange.startRange {
        border-radius: 50px 0 0 50px;
    }

    &.selected.endRange, &.startRange.endRange, &.endRange.endRange {
        border-radius: 0 50px 50px 0;
    }

    &.selected.startRange + .endRange:not(:nth-child(7n+1)), &.startRange.startRange + .endRange:not(:nth-child(7n+1)), &.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
        box-shadow: -10px 0 0 #569ff7;
    }

    &.selected.startRange.endRange, &.startRange.startRange.endRange {
        border-radius: 50px;
    }

    &.inRange {
        border-radius: 0;
        box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
    }

    &.flatpickr-disabled {
        color: rgba(57, 57, 57, 0.3);
        background: transparent;
        border-color: transparent;
        cursor: default;

        &:hover {
            color: rgba(57, 57, 57, 0.3);
            background: transparent;
            border-color: transparent;
            cursor: default;
        }
    }

    &.prevMonthDay, &.nextMonthDay {
        color: rgba(57, 57, 57, 0.3);
        background: transparent;
        border-color: transparent;
        cursor: default;
    }

    &.notAllowed {
        color: rgba(57, 57, 57, 0.3);
        background: transparent;
        border-color: transparent;
        cursor: default;

        &.prevMonthDay, &.nextMonthDay {
            color: rgba(57, 57, 57, 0.3);
            background: transparent;
            border-color: transparent;
            cursor: default;
        }
    }

    &.flatpickr-disabled {
        color: transparentize($color-font, 0.5);

        &:hover {
            color: transparentize($color-font, 0.5);
        }
    }

    &.week.selected {
        border-radius: 0;
        box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7;
    }

    &.hidden {
        visibility: hidden;
    }
}

.rangeMode .flatpickr-day {
    margin-top: 1px;
}

.flatpickr-weekwrapper {
    float: left;

    .flatpickr-weeks {
        padding: 0 12px;
        box-shadow: 1px 0 0 #e6e6e6;
    }

    .flatpickr-weekday {
        float: none;
        width: 100%;
        line-height: 28px;
    }

    span.flatpickr-day {
        display: block;
        width: 100%;
        max-width: none;
        color: rgba(57, 57, 57, 0.3);
        background: transparent;
        cursor: default;
        border: none;

        &:hover {
            display: block;
            width: 100%;
            max-width: none;
            color: rgba(57, 57, 57, 0.3);
            background: transparent;
            cursor: default;
            border: none;
        }
    }
}

.flatpickr-innerContainer {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

.flatpickr-rContainer {
    display: inline-block;
    padding: 0;
    box-sizing: border-box;
}

.flatpickr-time {
    text-align: center;
    outline: 0;
    height: 0;
    line-height: 40px;
    max-height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    .numInputWrapper {
        box-flex: 1;
        flex: 1;
        width: 40%;
        height: 40px;
        float: left;

        span {
            &.arrowUp:after {
                border-bottom-color: $color-grey--dark;
            }

            &.arrowDown:after {
                border-top-color: $color-grey--dark;
            }
        }
    }

    &.hasSeconds .numInputWrapper {
        width: 26%;
    }

    &.time24hr .numInputWrapper {
        width: 49%;
    }

    input {
        background: transparent;
        box-shadow: none;
        border: 0;
        border-radius: 0;
        text-align: center;
        margin: 0;
        padding: 0;
        height: inherit;
        line-height: inherit;
        color: $color-font;
        font-size: 14px;
        position: relative;
        box-sizing: border-box;
        appearance: textfield;

        &.flatpickr-hour {
            font-weight: bold;
        }

        &.flatpickr-minute, &.flatpickr-second {
            font-weight: 400;
        }

        &:focus {
            outline: 0;
            border: 0;
        }
    }

    .flatpickr-time-separator {
        height: inherit;
        float: left;
        line-height: inherit;
        color: $color-font;
        font-weight: bold;
        width: 2%;
        -ms-user-select: none;
        user-select: none;
        align-self: center;
    }

    .flatpickr-am-pm {
        height: inherit;
        float: left;
        line-height: inherit;
        color: $color-font;
        user-select: none;
        align-self: center;
        outline: 0;
        width: 18%;
        cursor: pointer;
        text-align: center;
        font-weight: 400;
    }

    input:hover, .flatpickr-am-pm:hover, input:focus, .flatpickr-am-pm:focus {
        background: #eee;
    }
}

.flatpickr-input[readonly] {
    cursor: pointer;
}

@keyframes fpFadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


@keyframes fpFadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
