﻿$skip-link-background-color: $button-primary-background !default;
$skip-link-color: $button-primary-text-color !default;
$skip-link-background-color-hover: $button-primary-background-hover !default;
$skip-to-main-content-button-font-size: 1rem !default;

.skip-to-main-content {
    @include visually-hidden();
    background: $skip-link-background-color;
    color: $skip-link-color;
    font-size: $skip-to-main-content-button-font-size;
}

.skip-to-main-content:hover {
    background: $skip-link-background-color-hover;
    color: $skip-link-color;
}

.skip-to-main-content:active,
.skip-to-main-content:focus {
    @include centerer(true, false);
    @include focusSelectSurround;
    height: auto;
    padding: 15px;
    text-decoration: none;
    top: 3px;
    width: auto;
    z-index: 999;
}
