$breadcrumb__section--complete-border-color:                 $color-primary !default; 

$breadcrumb__disc-background-color:                          #fff !default;
$breadcrumb__disc-border-color:                              #949494 !default;
$breadcrumb__disc--active-background-color:                  #fff !default;
$breadcrumb__disc--active-border-color:                      $color-primary !default;
$breadcrumb__disc--last--active-border-color:                #949494 !default;
$breadcrumb__disc--last--active-background-color:            #fff !default;
$breadcrumb__disc-height:                                    8px !default;
$breadcrumb__disc-width:                                     $breadcrumb__disc-height !default;
$breadcrumb__disc--complete-background-color:                #fff !default;
$breadcrumb__disc--complete-border-color:                    $color-primary !default;

$breadcrumb__line-background-color:                          $color-primary !default;
$breadcrumb__line--base-background-color:                    #949494 !default;

$breadcrumb__text-font-size:                                 12px !default;
$breadcrumb__text-color:                                     #6b6b6b !default;
$breadcrumb__text--active-color:                             $color-primary !default;
$breadcrumb__text--active--last-color:                       #6b6b6b !default;
$breadcrumb__text--complete-color:                           $color-primary !default;

.breadcrumb {
    padding:30px 30px 20px 30px;
    width:100%;
    display:table;
    margin:auto;
    max-width:700px;
    @include breakpoint(500px) {
        padding:6px 30px 20px 30px;
    }
}

.breadcrumb--direct {
    .breadcrumb__text {
        white-space: nowrap;
        width:70px;
        left:-30px;
        &--last {
            left:calc(100% - 30px);
        }
    }
}

.breadcrumb__section {
    display:table-cell;
    position:relative;
    width:25%;
    &.active {
        .breadcrumb__disc {
            background-color: $breadcrumb__disc--active-background-color;
            border-color:$breadcrumb__disc--active-border-color;
            border-width:2px;
            &--last {
                background-color:$breadcrumb__disc--last--active-background-color;
                border-color:$breadcrumb__disc--last--active-border-color;
            }
        }
        .breadcrumb__text {
            font-weight: bold;
            color:$breadcrumb__text--active-color;
            &--last {
                color:$breadcrumb__text--active--last-color;
                font-weight: normal;
            }
        }
    }
    &.complete {
        border-color: $breadcrumb__section--complete-border-color;
        .breadcrumb__disc {
            background-color:$breadcrumb__disc--complete-background-color;
            border-color:$breadcrumb__disc--complete-border-color;
            border-width:2px;
            &--last {
                background-color:$breadcrumb__disc--complete-background-color;
                border-color:$breadcrumb__disc--complete-border-color;
            }
        }
        .breadcrumb__text {
            font-weight: bold;
            color:$breadcrumb__text--complete-color;
            &--last {
                font-weight: bold;
                color:$breadcrumb__text--complete-color; 
            }
        }
        .breadcrumb__line {
            width:100%;
        }
    }
    &.partial {
        .breadcrumb__line {
            background-color:$breadcrumb__line-background-color;
            width:50%;
        }
    }
}

.breadcrumb__disc {
    border:solid 1px $breadcrumb__disc-border-color;
    background-color:$breadcrumb__disc-background-color;
    position: absolute;
    left:0;
    top:-3px;
    height:$breadcrumb__disc-height;
    width:$breadcrumb__disc-width;
    border-radius:50%;
    &--last {
        left:100%;
    }
}

.breadcrumb__line {
    position:absolute;
    top:0;
    width:0%;
    height:2px;
    background-color:$breadcrumb__line-background-color;
    &--base {
        position:absolute;
        top:0;
        width:100%;
        height:2px;
        background-color:$breadcrumb__line--base-background-color;
    }
}

.breadcrumb__text {
    display: none;
    position: absolute;
    text-align: center;
    left: -20px;
    top: 10px;
    margin: 0;
    width: 50px;
    @include font-size($breadcrumb__text-font-size);
    color: $breadcrumb__text-color;

    @include breakpoint(500px) {
        display: block;
    }

    &--last {
        left: calc(100% - 20px);
    }

    a {
        color: $breadcrumb__text--active-color;
        text-decoration: none;
        padding-top: 40px;


        &:focus {
            @include linkFocusSurround;
        }


        &:hover {
            text-decoration: underline;
        }
    }
}

.breadcrumb--premium .active .breadcrumb__disc {
    background-color: $color-primary;
    border-color: $color-secondary;
    &--last {
        background-color: $color-primary;
        border-color: $color-secondary;
    }
}

.breadcrumb--premium .active .breadcrumb__line {
    background-color: $color-secondary;
}

.breadcrumb--premium .active .breadcrumb__text a {
    color: $color-secondary;
}

.breadcrumb--premium .complete .breadcrumb__disc {
    background-color: $color-primary;
    border-color: $color-secondary;
    &--last {
        background-color: $color-primary;
        border-color: $color-secondary;
    }
}

.breadcrumb--premium .complete .breadcrumb__line {
    background-color: $color-secondary;
}

.breadcrumb--premium .complete .breadcrumb__text a {
    color: $color-secondary;
}

.breadcrumb--premium .partial .breadcrumb__line {
    background-color: $color-secondary;
}

.breadcrumb.breadcrumb--direct .breadcrumb__section {
    width:33%; 
}
