.ipid-link {
    margin-top: 20px;
    padding-left: 20px;
    background-image: url('../images/icon-new-window.svg');
    background-repeat: no-repeat;
    background-position: center left 2px;
    background-size: 16px 16px;
    cursor: pointer;
    font-size: $ipid-link-font-size;
    font-weight: $ipid-link-font-weight;
    color: $ipid-link-color;
}
