.section-policy-excess {
    button {
        font-weight: bold;
        border-radius: $policy-excess-button-radius;

        &:focus {
            border-radius: $policy-excess-button-radius;
        }
    }
}

.policy-excess {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  max-width: 568px;
  margin: 65px auto 70px;
  background-color: $policy-excess-background-color;
  font-weight: 700;
  color: $policy-excess-color;
  border-radius: 74px;
  position: relative;

  @include breakpoint($screen-md) {
    margin: 65px auto 20px;
  }

  .voluntary-excess {
    position: relative;
    color: $voluntary-excess-color;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
    background: $voluntary-excess-background-color;
    border-right: 2px solid $voluntary-excess-border;
    border-radius: 74px 0 0 74px;
    flex-basis: auto;
    padding: 5px 10px 5px 20px;
    text-align: left;

    &::after {
      position: absolute;
      display: block;
      content: "";
      bottom: -50px;
      left: 20px;
      height: 39px;
      width: 112px;
      background-image: url("../images/voluntary.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 112px 39px;
    }
  }

  .compulsory-excess {
    position: relative;
    padding: 5px 20px 5px 5px;
    color: $compulsary-excess-color;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
    text-align: right;
    margin-left: auto;

    &::after {
      position: absolute;
      display: block;
      content: "";
      bottom: -50px;
      right: 20px;
      height: 45px;
      width: 105px;
      background-image: url("../images/compulsory.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 105px 45px;
    }
  }

  .total-excess {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-53px);
    text-align: center;
    color: $total-excess-color;
    font-size: 18px;
    font-weight: $total-excess-font-weight;
    letter-spacing: 0px;
    line-height: 28px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    width: 100%;

    @include breakpoint($screen-md) {
      font-size: 20px;
    }

    &::before,
    &::after {
      display: block;
      flex: 1 1 100%;
      content: "";
      max-width: 79px;
      height: 20px;
      margin-top: calc(14px);
      border-color: $total-excess-before-after-border;
      border-width: 1px;
      border-style: solid;
      border-bottom: none;
    }
    &::before {
      border-right: none;
      transform: translateX(-10px);
    }
    &::after {
      border-left: none;
      transform: translateX(10px);
    }
  }
}
