.card {
    text-align: left;
    border-radius: 8px;
    background-color: $color-primary;
    color: #fff;
    padding: 50px 30px 10px 30px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    background-size: 50px 30px;
    background-position: 94% 10px;
    background-repeat: no-repeat;
}

.card--account {
    background-image: url('../images/logo-direct-debit--white.svg');
    background-size: 70px 30px;
}

.card--visa {
    background-image: url('../images/logo-visa--white.svg');
}

.card--mastercard {
    background-image: url('../images/logo-mastercard--white.svg');
    background-size: 55px 45px
}

.card--solo {
    background-image: url('../images/logo-solo--white.svg');
    background-size: 50px 37px;
}

.card--maestro {
    background-image: url('../images/logo-maestro--white.svg');
    background-size: 50px 37px;
}

.card__account-name {
    text-transform: uppercase;
    font-weight: bold;
    @include font-size(12px);
    margin-bottom: 15px;
}

.card__label {
    font-weight: 300;
    @include font-size(11px);
    color: #ffffff;
    margin-bottom: 5px;
}

.card__account-number {
    @include font-size(22px);
    font-weight: bold;
    margin-bottom: 10px;
}

.card__account-sort-code {
    @include font-size(12px);
    margin-bottom: 10px;
}

.payment-card {
    border: 1px solid $key-grey;
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
    // Variation: Exisitng Cards
    &.exisiting {
        &.large, &.small {
            background-repeat: no-repeat;

            small {
                display: block;
            }

            span {
                display: block;

                &.card-numbers {
                    font-weight: bold;

                    &:before {
                        content: attr(data-blanks);
                        margin-right: 5px;
                        letter-spacing: 1.5px;
                        font-weight: 700;
                    }
                }

                &.account-number {
                    &:before {
                        content: attr(data-blanks);
                        margin-right: 5px;
                        letter-spacing: 1.5px;
                        font-weight: 700;
                    }
                }

                &.payment-card-name {
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            &.selected {
                background-color: $success !important;
                border-color: $success;
            }

            &.error {
            }

            &.inactive {
            }
        }

        &.large {
            max-width: 335px;
            min-width: 300px;
            max-height: 212px;
            width: 100%;
            padding: 40px 20px 20px 20px;
            background-color: $color-primary;
            color: #fff;
            text-transform: uppercase;
            background-size: 60px;
            background-position: calc(100% - 20px) 20px;
            border-radius: 7px;

            small {
                @include font-size(11px);
                line-height: 19px;
                color: #fff;
                text-transform: uppercase;
            }

            span {
                @include font-size(11px);
                line-height: 19px;

                &.card-title {
                    @include font-size(13px);
                    font-weight: 300;
                    line-height: 20px;
                }

                &.account-number {
                    @include font-size(16px);
                }

                &.card-numbers {
                    margin-bottom: 8px;
                    @include font-size(24px);
                    line-height: 35px;

                    &:before {
                        margin-right: 20px;
                    }
                }

                &.exp-csv {
                    @include font-size(16px);
                    font-weight: bold;
                    line-height: 29px;
                }

                &.card-name {
                    @include font-size(16px);
                    font-weight: bold;
                    line-height: 29px;
                    margin-top: 8px;
                    display: block;
                }
            }
        }

        &.small {
            max-width: 190px;
            padding: $spacing-unit;
            background-position: calc(100% - 10px) calc(100% - $spacing-unit);
            background-size: 40px;

            small {
                font-size: 10px;
                text-transform: uppercase;
            }

            span {
                line-height: 12px;
                font-size: 10px;
                margin-top: 5px;

                &.card-numbers {
                    margin-bottom: 10px;
                }

                &.exp-csv {
                    display: block;
                    line-height: 10px;
                }
            }
        }

        &.account {
            background-image: url('../images/logo-direct-debit--white.svg');
            background-size: 70px 30px !important;
        }

        &.visa {
            background-image: url('../images/logo-visa--white.svg');
            background-size: 60px !important;
        }

        &.mastercard {
            background-image: url('../images/logo-mastercard--white.svg');
            background-size: 55px 45px !important;
        }

        &.solo {
            background-image: url('../images/logo-solo--white.svg');
            background-size: 50px 37px !important;
        }

        &.maestro {
            background-image: url('../images/logo-maestro--white.svg');
            background-size: 50px 37px !important;
        }
    }
    // Variation: New cards
    &.new-card {
        text-align: center;
        max-width: 190px;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
        transition: 0.3s all;
        /* If UI icon */
        &[data-icon] {
            &:before {
                content: attr(data-icon);
                display: block;
                height: 20px;
                width: 20px;
                margin: auto;
                margin-bottom: $spacing-unit;
            }
        }
        /* If image specified */
        img {
            display: block;
            margin: auto;
            margin-bottom: $spacing-unit;
            max-height: 20px;
        }

        a {
            display: block;
        }

        &:hover a {
            color: #fff;
            transition: 0.3s all;
        }

        &.selected {
        }

        &.error {
        }

        &.inactive {
            cursor: not-allowed;
        }
    }

    &:hover, &.selected {
        &.exisiting, &.new-card {
            background-color: $color-primary;
            color: #fff;

            &.large, &.small {
                background-color: $color-primary;
                color: #fff;
            }
        }
    }

    &.error {
        border-color: $error;
        color: $error;

        &:hover {
            border-color: $color-primary;
        }
    }
}