﻿@model BGL.Components.CoverDetails.Models.CoverExcessViewModel

@{
    var accordionsViewModel = Model.ExcessAccordionsViewModel;
    var componentId = Model.ComponentConfiguration.Id;
}

@if (accordionsViewModel.IsAdditionalExcessVisible)
{
    <div class="accordion__section" data-testid="@(componentId)__additional-excesses-accordion">
        <h2 class="h5 accordion__heading-wrapper">
            <button type="button" class="accordion__heading-button" data-accordion-key="@(componentId)-cover-details-additional-excesses-accordion" aria-expanded="true" data-testid="@(componentId)__additional-excesses-button">
                Additional excesses in the event of an accident
            </button>
        </h2>
        <div class="accordion__body-wrapper" data-testid="@(componentId)__additional-excesses-body">
            <div class="accordion__body-content">
                <ul class="list accordion__list">
                    <li class="list__item accordion__item">
                        If you choose to use a non-recommended repairer, an additional &pound;150 excess will apply
                    </li>
                    <li class="list__item accordion__item">
                        If the driver is 17-20 years old, a &pound;<span data-testid="@(componentId)__driver-under-21-amount">@accordionsViewModel.DriverUnder21ExcessAmount</span> excess will be payable in addition to the policy excess.
                    </li>
                    <li class="list__item accordion__item">
                        If the driver is 21-24 years old, a &pound;<span data-testid="@(componentId)__driver-under-25-amount">@accordionsViewModel.DriverUnder25ExcessAmount</span> excess will be payable in addition to the policy excess.
                    </li>
                    <li class="list__item accordion__item" data-testid="@(componentId)__provisional-under-excess-wording">
                        If the driver of the vehicle is 25 years old or older, but only holds a Provisional Licence or only obtained a Full Licence issued in the UK or the EU less than one year ago, an excess of &pound;<span data-testid="@(componentId)__provisional-under-amount">@accordionsViewModel.ProvisionalUnderExcessAmount</span> will be payable in addition to the policy excess.
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
