﻿@using System.Web.Mvc.Html
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.ComponentCoverDetailsConfiguration

@{
    var componentId = Model?.Id;
}

<div class="fbels">
    <div class="fbels__section" data-testid="@(componentId)__cover-level-section-what-it-covers-car-comprehensive">
        <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
        <ul class="list list--fbels list--fbels-cover">
            <li class="list__item">
                Cover for loss or damage to your car caused by accidental or malicious damage, fire, theft or attempted theft, or vandalism
            </li>
            <li class="list__item">
                Damage to glass
            </li>
            <li class="list__item">
                If your vehicle is involved in an accident caused by an uninsured motorist, any excess you have to pay will be refunded
            </li>
            <li class="list__item">
                Contribution of up to &pound;300 per claim towards the cost of replacing a child's car seat
            </li>
        </ul>
    </div>
    <div class="fbels__section" data-testid="@(componentId)__cover-level-section-things-to-remember-car-comprehensive">
        <h2 class="h4 fbels__heading fbels__heading--remember">Things to remember</h2>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item">
                Loss or damage resulting from incorrectly maintaining or fuelling the car is not covered
            </li>
            <li class="list__item">
                There is no cover for theft if the keys are left in or on the car while it is left unattended
            </li>
            <li class="list__item">
                Driving other cars cover only applies if shown on your certificate of motor insurance
            </li>
        </ul>
    </div>
</div>
@if (Model?.NeedToDisplayIpidLink == true)
{
    @Html.Partial("_IPIDLink", "core-policy")
}