﻿@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.CoverLevel.CoverLevelViewModel

@{
    var configuration = Model.ComponentConfiguration;
}

<div class="feature-header">
    @if (configuration?.JourneyType == JourneyTypes.MultiStepEdit)
    {
        <h1 class="feature-header__heading">
            <strong class="feature-header__heading-highlight-text"> What type of cover do you need?</strong>
        </h1>
    }
    else
    {
        <h1 class="feature-header__heading">
            <strong class="feature-header__heading-highlight-text">You've chosen <span id="feature-header-cover-level" data-testid="@(configuration?.Id)__feature-header-cover-level">@Model.SelectedCoverLevel.Value</span></strong>
        </h1>
        <div class="feature-header__divider"></div>
    }

    <h2 class="hide">Cover Level details</h2>
</div>