﻿@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.CoverLevel.CoverLevelViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration?.Id;
}

<div class="feature-header">
    @if (configuration?.JourneyType == JourneyTypes.MultiStepEdit)
    {
        <h1 class="feature-header__heading">
            <strong class="feature-header__heading-highlight-text"> What type of cover do you need?</strong>
        </h1>
    }
    else
    {
        <h1 class="feature-header__heading">
            <strong class="feature-header__heading-highlight-text">You have chosen <span id="feature-header-cover-level" data-testid="@(componentId)__feature-header-cover-level">@Model.SelectedCoverLevel.Value</span></strong>
        </h1>
        <div class="feature-header__divider"></div>
    }

    <p class="comprehensive__title"><strong>RAC Plus</strong> cover is <strong>ONLY</strong> available on Comprehensive policies.</p>
    <h2 class="hide">Cover Level details</h2>
</div>