﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@model BGL.Components.CoverDetails.Models.CoverExcessViewModel

@{
    var accordionsViewModel = Model.ExcessAccordionsViewModel;
    var componentId = Model.ComponentConfiguration.Id;
    var isComprehensiveCover = Model.VoluntaryExcess.Editable;
}

@functions{

    IHtmlString GetWindowGlassRepairExcess(string componentId, int? amount)
    {
        if (amount.HasValue)
        {
            return Html.Raw($"If your windscreen or window is repaired, an excess of &pound;<span data-testid=\"{componentId}__windows-glass-repair-amount\">{amount.Value.FormatPrice()}</span> is payable.");
        }

        return new HtmlString(string.Empty);
    }
}

<div class='accordion'>
@if (accordionsViewModel.IsDetailsOfAllExcessesVisible && isComprehensiveCover)
{
    <div class="accordion__section" data-testid="@(componentId)__details-of-all-excesses-accordion">
        <h2 class="h5 accordion__heading-wrapper">
            <button class="accordion__heading-button" type="button" data-accordion-key="@(componentId)-cover-details-all-excesses-accordion" aria-expanded="false" data-testid="@(componentId)__details-of-all-excesses-button">
                Details of excesses
            </button>
        </h2>

        <div class="accordion__body-wrapper" data-testid="@(componentId)__details-of-all-excesses-body">
            <div class="accordion__body-content">
                @if (!string.IsNullOrEmpty(Model.ExcessAccordionsViewModel.WindowGlassExcessAmount))
                {
                    <h3 class="h6 accordion__body-heading">
                        Window glass
                    </h3>
                    <p class="accordion__body-text">
                        If your windscreen or window is replaced, an excess of &pound;<span data-testid="@(componentId)__windows-glass-amount">@accordionsViewModel.WindowGlassExcessAmount</span> is payable.
                        @GetWindowGlassRepairExcess(componentId, Model.ExcessAccordionsViewModel.WindowGlassRepairExcessAmount)
                    </p>
                }
                @if (!string.IsNullOrEmpty(Model.ExcessAccordionsViewModel.ReplacementLocksExcessAmount))
                {
                    <h3 class="h6 accordion__body-heading">
                        Replacement locks
                    </h3>
                    <p class="accordion__body-text" data-testid="@(componentId)__replacement-looks-wording">
                        In respect of Replacement Locks a &pound;<span data-testid="@(componentId)__replacement-locks-amount">@Model.ExcessAccordionsViewModel.ReplacementLocksExcessAmount</span> excess will be payable. The maximum we will pay is &pound;500, less any excess.
                    </p>
                }
                <h3 class="h6 accordion__body-heading">
                    Non-recommended repairer
                </h3>
                <p class="accordion__body-text" data-testid="@(componentId)__non-recommended-repairer-wording">
                    If you choose to use a non-recommended repairer, an additional excess of &pound;200 is payable.
                </p>
            </div>
        </div>
    </div>
}

@Html.Partial(accordionsViewModel.AdditionalExcessViewName, Model)
</div>
