﻿@using BGL.Common.Utility.Mvc.Helpers

<div class="feature-header">
    <h1 class="feature-header__heading">
        <span class="feature-header__heading-standard-text block">
            You have
        </span>
        <strong class="feature-header__heading-highlight-text"><span class="ncd-edit__value">@Model</span> No Claims Discount (NCD)</strong>
    </h1>
    <div class="feature-header__divider"></div>
</div>