﻿@using BGL.Common.Utility.Extensions
@using BGL.Components.CoverDetails.Enums
@using BGL.Components.CoverDetails.Extensions
@model BGL.Components.CoverDetails.Models.ProductVariants.ProductVariantsViewModel

@foreach (var headerItem in Model.HeaderItems)
{
    var activeClass = headerItem.IsSelected ? "active" : string.Empty;
    var isMonthly = !headerItem.IsPaymentAnnual;
    var image = headerItem.ImageInfo;

    <th data-payment-type="Monthly" role="columnheader" scope="col" data-tier="@headerItem.DataTier" class="text-left @activeClass@(!isMonthly ? " hide" : string.Empty)">
        <span class="h5 table-header" aria-label="Product comparison @headerItem.VariantDescription"><strong id="variant-@headerItem.VariantDescription">@headerItem.VariantDescription</strong></span>
        <span class="table-price">
            <strong>&pound;@headerItem.MonthlyPrice.Pounds().FormatPrice()</strong>.@headerItem.MonthlyPrice.Pence()
            <br>/month
        </span>

        @if (image != null)
        {
            <span>
                <img id="plus-defaqto" src=@image.ImageUrl alt="@image.AlternateText" />
            </span>
        }

        <p class="legal-text">Initial deposit <span id="wrap-price">&pound;@headerItem.InitialDeposit.Pounds().FormatPrice().@headerItem.InitialDeposit.Pence()</span></p>
        <p class="legal-text">Total amount payable &pound;@headerItem.MonthlyTotalPayable.Pounds().FormatPrice().@headerItem.MonthlyTotalPayable.Pence()</p>

        <button aria-describedby="select-@headerItem.VariantDescription.ToLowerInvariant()-button variant-@headerItem.VariantDescription" class="button button--primary tier-select grc__button @activeClass" data-variant-code="@headerItem.VariantCode" data-variant-description="@headerItem.VariantDescription" data-tier="@headerItem.DataTier" id="select-@headerItem.VariantDescription.ToLowerInvariant()-button">@(headerItem.IsSelected ? "Selected" : "Select")</button>
        @if (Model.ComponentConfiguration.RowBuilder == ProductVariantsRowBuilder.CoverFeature)
        {
            <p class="legal-text legal-text-extras">Price excludes any optional extras you may have selected</p>
        }
    </th>

    <th data-payment-type="Annual" role="columnheader" scope="col" data-tier="@headerItem.DataTier" class="text-left @activeClass@(isMonthly ? " hide" : string.Empty)">
        <span class="h5 table-header" aria-label="Product comparison @headerItem.VariantDescription"><strong id="variant-@headerItem.VariantDescription">@headerItem.VariantDescription</strong></span>
        <span class="table-price">
            <strong>&pound;@headerItem.AnnualPrice.Pounds().FormatPrice()</strong>.@headerItem.AnnualPrice.Pence()
            <br>/year
        </span>

        @if (image != null)
        {
            <span>
                <img id="plus-defaqto" src=@image.ImageUrl alt="@image.AlternateText" />
            </span>
        }

        <button aria-describedby="select-@headerItem.VariantDescription.ToLowerInvariant()-button variant-@headerItem.VariantDescription" class="button button--primary tier-select grc__button @activeClass" data-variant-code="@headerItem.VariantCode" data-variant-description="@headerItem.VariantDescription" data-tier="@headerItem.DataTier" id="select-@headerItem.VariantDescription.ToLowerInvariant()-button">@(headerItem.IsSelected ? "Selected" : "Select")</button>
        @if (Model.ComponentConfiguration.RowBuilder == ProductVariantsRowBuilder.CoverFeature)
        {
            <p class="legal-text legal-text-extras">Price excludes any optional extras you may have selected</p>
        }
    </th>
}