﻿@using System.Web.Mvc.Html
@model BGL.Components.CoverDetails.ComponentCoverDetailsConfiguration


<div class="fbels">
    <div class="fbels__section">
        <h4 class="fbels__heading fbels__heading--cover">Key benefits</h4>
        <ul class="list list--fbels list--fbels-cover">
            <li class="list__item">
                Cover for loss or damage to your vehicle caused by fire, theft or attempted theft
            </li>
            <li class="list__item">
                Your liability to any person for death, bodily injury, or damage to property caused by an accident involving your vehicle
            </li>
            <li class="list__item">
                Third Party Fire and Theft cover whilst travelling abroad for up to 30 days in any one policy term
            </li>
        </ul>
    </div>
    <div class="fbels__section">
        <h4 class="fbels__heading fbels__heading--remember">Things to remember</h4>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item">
                There is no cover for damage to your vehicle caused by accidental or malicious damage
            </li>
            <li class="list__item">
                There is no cover for theft if the keys are left in or on the vehicle while it is left unattended
            </li>
            <li class="list__item">
                There is no cover to driver another person's vehicle under this policy
            </li>
        </ul>
    </div>
</div>

@if (Model?.NeedToDisplayIpidLink == true)
{
    @Html.Partial("_IPIDLink", "core-policy")
}