﻿@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@model BGL.Components.CoverDetails.Models.DemandAndNeeds.AddonPaymentDetails

@{
    var annualPrice = Model.AnnualPrice.FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
    var monthlyPrice = Model.MonthlyPrice.FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
    var componentId = Model.ComponentConfiguration.Id;
}

@if (Model.IsAnnualPayment)
{
    <p class="feature-header__price" data-testid="@(componentId)__header-price">
        <strong class="addon-radio__main-price">&pound;@annualPrice/year</strong>
    </p>
}
else
{
    <p class="feature-header__price" data-testid="@(componentId)__header-price">
        <strong class="feature-header__highlight-price-text">&pound;@monthlyPrice/month*</strong>
        <span class="feature-header__standard-price-text"> (&pound;@annualPrice/year)</span>
    </p>
    <p class="feature-header__interest">*Monthly price excludes interest</p>
}