﻿@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@model BGL.Components.CoverDetails.Models.DemandAndNeeds.AddonPaymentDetails

@{
    var annualPrice = Model.AnnualPrice.FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
    var monthlyPrice = Model.MonthlyPrice.FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
    var componentId = Model.ComponentConfiguration.Id;
}

@if (Model.IsAnnualPayment)
{
    <p class="addon-radio-question__price" data-testid="@(componentId)__footer-price">
        <strong class="addon-radio__main-price">Add @Model.ComponentConfiguration.CoverName for &pound;@annualPrice/year</strong>
    </p>
}
else
{
    <p class="addon-radio-question__price" data-testid="@(componentId)__footer-price">
        <strong class="addon-radio__main-price">Add @Model.ComponentConfiguration.CoverName for &pound;@monthlyPrice/month*</strong>
        <span class="addon-radio__sub-price">(&pound;@annualPrice/year)</span>
    </p>
    <p class="feature-header__interest">*Monthly price excludes interest</p>
}