﻿﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.CoverExcessViewModel
@{
    var configuration = Model.ComponentConfiguration;
    var componentId = Model.ComponentConfiguration.Id;
    var voluntaryExcessAvailableAmounts = Model?.ComponentConfiguration?.ExcessConfiguration?.VoluntaryExcessAvailableAmounts ?? Enumerable.Empty<int>();
    var formId = $"{componentId}__cover_excesses-form";
    var submitController = "CoverDetailsComponent";
    var dataOnSuccess = "bgl.components.excesses.onSuccess";
    var isService = configuration != null ? configuration.IsService : false;

    if (configuration?.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitController = "CoverDetailsComponentExcess";
        dataOnSuccess = "bgl.components.coverdetails.coverexcesses.onSuccess";
    }

    var excessesAccordionsViewName = Model.ComponentConfiguration.ViewOptions.ExcessesAccordions.GetViewNameFromEnum(true);
}
<div data-component-id="@componentId" class="narrow">
    @if (isService)
    {
        @Html.Partial("_CoverExcessTitle", Model)

        @Html.Partial("_ExcessBar", Model)

        @Html.Partial(excessesAccordionsViewName, Model)

        <div class="page-section--inner">
            <div class="button-container">
                <button id="@(componentId)_submit-button" type="button" class="button button--primary button--large button--left">
                    Done
                </button>
            </div>
        </div>
    }
    else
    {
        using (Html.BeginFormBgl("CoverExcessPost", submitController, FormMethod.Post, new
        {
            id = formId,
            data_on_success = dataOnSuccess,
            @class = "step-form",
            data_store_key = Model.DataStoreKey
        }))
        {
            @Html.Partial("_CoverExcessTitle", Model)

            @Html.AntiForgeryToken()

            @Html.Hidden("ExcessId", Model.VoluntaryExcess.Id)
            @Html.Hidden("Amount", Model.VoluntaryExcess.Amount)

            @Html.Partial("_ExcessBar", Model)

            @Html.Partial(excessesAccordionsViewName, Model)

            <div class="page-section--inner">
                <div class="button-container">
                    <button id="@(componentId)_submit-button" type="submit" data-is-editable="@Model.VoluntaryExcess.Editable" class="button button--primary button--large button--left"
                            data-testid="@(componentId)__done-button">
                        Done
                    </button>
                </div>
            </div>
        }
    }
</div>