﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.CoverLevel.CoverLevelViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration?.Id;
    var formId = $"{componentId}__form";
    var dataOnSuccess = "bgl.components.coverlevel.onSuccess";
    var submitButtonText = "Done";
    var backButtonUrl = configuration?.BackButtonUrl;
    var submitController = "CoverDetailsComponent";
    var headerTextViewName = configuration?.ViewOptions.CoverLevelHeaderText.GetViewNameFromEnum(true);
    var isTheOnlyCoverLevel = Model.CoverLevels.Count == 1;

    if (configuration?.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitController = "CoverDetailsComponentCoverLevel";
        dataOnSuccess = "bgl.components.coverdetails.coverlevel.onSuccess";
        submitButtonText = "Continue";
    }
}

<div data-component-id="@componentId" data-testid="@(componentId)__cover-level">
    @if (configuration.IsSummary && Model.ComponentConfiguration.IsService)
    {
        @Html.Partial(headerTextViewName, Model)

        @Html.Partial(Model.SelectedCoverLevel.ViewName, configuration)

        @Html.Partial("_QuestionBoxComprehensiveCover", Model.SelectedCoverLevel.Value)

        <div class="page-section">
            <div class="page-section--inner">
                <div class="button-container">
                    <button id="BtnSubmit" type="button" class="button button--primary button--large button--left"
                            data-testid="@(componentId)__done-button">
                        @submitButtonText
                    </button>
                </div>
            </div>
        </div>
    }
    else
    {

        if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_ProgressBar");
        }

        using (Html.BeginFormBgl("CoverLevelPost", submitController, FormMethod.Post, new
        {
            id = formId,
            @class = "step-form",
            data_testid = $"{componentId}__form",
            data_on_success = dataOnSuccess,
            data_store_key = Model.DataStoreKey
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CoverId)

            @Html.Partial(headerTextViewName, Model)

            <div>
                <fieldset>
                    <legend class="form-row__legend form-row__legend--hidden">Cover level</legend>
                    @if (!isTheOnlyCoverLevel)
                    {
                        for (var i = 0; i < Model.CoverLevels.Count; i++)
                        {
                            @Html.RadioButtonFor(x => x.CoverLevelCode, Model.CoverLevels[i].Key, new
                            {
                                @class = $"tabs__input tabs__input--{i + 1} hide",
                                id = $"Cover-Level-{Model.CoverLevels[i].Key}",
                                data_testid = $"{componentId}__cover-level-tab-radio-input",
                                data_store = nameof(Model.CoverLevelCode)
                            })

                            <label class="tabs__label tabs__label--pill cover-level" for="Cover-Level-@Model.CoverLevels[i].Key"
                                   data-testid="@(componentId)__cover-level-tab-label" data-coverlevel="@Model.CoverLevels[i].Value"
                                   role="button" tabindex="0">
                                <p class="tabs__label-text" data_store="SelectedCoverLevel">@Model.CoverLevels[i].Value</p>
                                <div class="tabs__label-bar"></div>
                            </label>
                        }

                        <p class="form-row__validation-text" id="validation-message">
                            <span id="cover-level-error" class="error-text" role="alert">Please select which type of cover you require</span>
                        </p>

                        for (var i = 0; i < Model.CoverLevels.Count; i++)
                        {
                            <section class="tabs__section tabs__section--@(i + 1)">
                                @Html.Partial(Model.CoverLevels[i].ViewName, configuration)
                            </section>
                        }
                    }
                    else
                    {
                        @Html.HiddenFor(x => x.CoverLevelCode, new
                        {
                            data_store = nameof(Model.CoverLevelCode)
                        })
                        @Html.HiddenFor(x => x.SelectedCoverLevel.Value, new
                        {
                            data_store = "selectedCoverFlag"
                        })
                        @Html.Partial(Model.CoverLevels.FirstOrDefault()?.ViewName, configuration)
                    }
                </fieldset>

                @if (configuration?.JourneyType != JourneyTypes.MultiStepEdit)
                {
                    @Html.Partial("_QuestionBoxComprehensiveCover", Model.SelectedCoverLevel.Value)
                }
            </div>

            <div class="page-section--inner">
                <div class="button-container">
                    <button id="BtnSubmit" type="button" class="button button--primary button--large button--right" data-disable-submit data-testid="@(componentId)__done-button">
                        @submitButtonText
                    </button>

                    <span>
                        @if (configuration?.JourneyType == JourneyTypes.MultiStepEdit)
                        {
                            <a href="@backButtonUrl" data-step-type="previous-step-journey" data-component="coverdetailsmaindriver" class="button button--text button--back back-button-link button--large button--left" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
                        }
                        else if (Model.ComponentConfiguration.IsService && !Model.ComponentConfiguration.IsInitialChange)
                        {
                            <button class="button button--text button--back back-button-link button--large button--left" data-testid="@(componentId)__back-button" data-dismiss="slide-panel" aria-label="Back">Back</button>
                        }
                    </span>
                </div>
            </div>
        }
    }
</div>
