﻿@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.CoverDetailsPolicyViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}
    <table class="data-grid" id="@componentId" data-testid="@(componentId)__cover-details-policy">
        <caption class="hide" aria-hidden="true">Cover Table</caption>
        <tbody>
            @foreach (var item in Model.CoverDetailsItems)
            {
                <tr>
                    <th scope="row">@item.Description</th>
                    <td>
                        @Html.Raw(item.Value)

                        @if (item.ViewType != CoverDetailsViewType.None)
                        {
                            var viewTypeString = item.ViewType.ToString();

                            <button class="table-edit text-primary"
                                    type="button"
                                    data-testid="@(componentId)__icon_@(item.CoverKey)"
                                    data-cover-description="@item.Description"
                                    data-toggle="slide-panel"
                                    data-cover-id="@item.CoverId"
                                    data-cover-key="@item.CoverKey"
                                    data-cover-text="@item.CoverText"
                                    data-target="#SlidePanel"
                                    data-confirmation="true"
                                    data-container="SlidePanelContent"
                                    data-action-url="@Url.Action(item.CoverAction, item.CoverController)">
                                <i class="ui-icon-@(item.ViewType == CoverDetailsViewType.View ? "eye" : viewTypeString.ToLowerInvariant())"
                                   title="@($"{viewTypeString} {item.Description}")"
                                   data-type="slide-panel-navigation"></i>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>