﻿@model BGL.Components.CoverDetails.Models.CoverListViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var coverFeaturePriority = Model.ComponentConfiguration.CoverFeaturePriority;
}

@if (Model.Covers.Any())
{
    <div id="@componentId" data-testid="@(componentId)__section" class="cover-features-list">
        <h2 class="visually-hidden">Your cover includes the following features</h2>
        <ul class="list list--included-features">
            @foreach (var cover in Model.Covers)
            {
                var disabled = cover.IsDisabled ? "disabled" : string.Empty;

                <li class="list__item @disabled">
                    <button id="@(componentId)_@(cover.Key)_link"
                        data-testid="@(componentId)__@(cover.Key)_link"
                        class="@disabled"
                        @if (!cover.IsDisabled)
                        { <text>
                            data-toggle="slide-panel"
                            data-cover-id="@cover.CoverId"
                            data-cover-key="@cover.Key"
                            data-cover-text="@cover.Text"
                            data-target="#SlidePanel"
                            data-container="SlidePanelContent"
                            data-content-url="@(coverFeaturePriority.ContainsKey(cover.Key) ? coverFeaturePriority[cover.Key]?.ContentUrl : string.Empty)"
                            data-action-url="@Url.Action(cover.Action, cover.Controller)"
                        </text> }>
                        @cover.Text
                    </button>

                    @if (!string.IsNullOrEmpty(cover.Caption))
                    {
                        <span class="cover-features-list__item--caption">@cover.Caption</span>
                    }
                </li>
            }
        </ul>
    </div>
}