@model BGL.Components.CoverDetails.Models.CoverListViewModel


@if (Model.Covers.Any())
{
    <ul class="list list--included-features">
        @foreach (var cover in Model.Covers)
        {
            <li class="list__item">
                @cover.Text
                <span class="visually-hidden">&nbsp;included</span>
            </li>
        }
    </ul>
}