﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Components.CoverDetails.Extensions
@model BGL.Components.CoverDetails.Models.DemandAndNeeds.AddonDetailViewModel

@{
    var selectList = Model.GetGuaranteedReplacementCarSelectList();
    var componentId = Model.ComponentConfiguration.Id;
}

@for (int i = 0; i < Model.AddonPaymentDetails.CoverLevels.Count; i++)
{
    var display = Model.SelectedCoverLevelCode == selectList[i].Value ? string.Empty : "hide";
    var monthlyPrice = Model.AddonPaymentDetails.CoverLevels[i].MonthlyPrice.Round().FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
    var annualPrice = Model.AddonPaymentDetails.CoverLevels[i].AnnualPrice.Round().FormatPrice(PriceFormatConstants.PriceFormatWithZeros);

    <div class="addon-radio addon-radio__grc @display" id="@selectList[i].Value" data-testid="@(componentId)__header-price">
        <p class="addon-radio__price">
            @if (Model.AddonPaymentDetails.IsAnnualPayment)
            {
                <strong class="addon-radio__main-price">&pound;@annualPrice/year</strong>
            }
            else
            {
                <strong class="addon-radio__main-price">&pound;@monthlyPrice/month*</strong>
                <span class="addon-radio__sub-price">(&pound;@annualPrice/year)</span>
            }
        </p>
    </div>
}

<div class="form-row">
    <div class="form-row__input-wrapper--half" id="select-cover-id">
        @Html.LabelFor(x => x.SelectedCoverLevelCode, "Select a guaranteed replacement car option", new { @class = "visually-hidden" })
        @Html.DropDownListFor(x => x.SelectedCoverLevelCode, selectList, new { @class = "form-row__select" })
    </div>
</div>
@if (!Model.AddonPaymentDetails.IsAnnualPayment)
{
    <p class="feature-header__interest">*Monthly price excludes interest</p>
}
