﻿
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.CoverDetails.Models.NcdSourceViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var inputCount = 1;
    var dataStoreKey = Model.DataStoreKey;
    var formId = "ncd-source-form";
}

<div class="narrow" id="@componentId" data-component-id="@componentId" data-testid="@(componentId)__ncd-source">

    @using (Html.BeginFormBgl("UpdateNcdSource", "CoverDetailsComponentNcdSource", FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_store_key = dataStoreKey,
        data_on_success = "bgl.components.coverdetails.ncdsource.onSuccess",
        data_on_error = "bgl.components.coverdetails.ncdsource.onError"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.CoverId)
        <div class="form-row">
            <h1 class="step-form__section-title">Your cover</h1>
            <h2 class="step-form__heading">What is the source of your @Model.NcdYears @(Model.NcdYears == 1 ? "year" : "years") No Claims Discount?</h2>
            <div class="tabs">
                <fieldset>
                    <legend class="form-row__legend form-row__legend--hidden">Source of no claims discount</legend>
                    @foreach (var ncdCode in Model.NcdSourceCodes)
                    {
                        var id = $"NCD-Source-{inputCount}";

                        @Html.RadioButtonFor(m => m.NcdSourceCode, ncdCode.Key, new { name = "ncd-source", id = id, @class = $"tabs__input tabs__input--{inputCount} form-row__input ", data_store = nameof(Model.NcdSourceCode) })

                        @Html.Label(id, ncdCode.Value, new { @class = "form-row__label form-row__label--pill", data_testid = $"{componentId}__ncd-source-code"})

                        inputCount++;
                    }

                    @Html.ValidationMessageFor(model => model.NcdSourceCode, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__ncd-source-code_validation-message" })

                    <section class="tabs__section tabs__section--1">
                        @Html.Partial(Model.ComponentConfiguration.ViewOptions.NcdSourceThisVehicle.GetViewNameFromEnum(true))
                    </section>

                    <section class="tabs__section tabs__section--2">
                        @Html.Partial(Model.ComponentConfiguration.ViewOptions.NcdSourcePreviousVehicle.GetViewNameFromEnum(true))
                    </section>

                    <section class="tabs__section tabs__section--3">
                        @Html.Partial(Model.ComponentConfiguration.ViewOptions.NcdSourceCompanyCar.GetViewNameFromEnum(true))
                    </section>
                </fieldset>
            </div>
            <div class="page-section--inner narrow spaced">
                <div class="button-container">
                    <button class="button button--primary button--large button--right" id="ncd_source_next_button" type="submit" data-testid="@(componentId)__continue-button">Continue</button>
                    <a class="button button--text button--back button--left" id="ncd_source_back_button" href="@Model.ComponentConfiguration.PreviousStepUrl" data-testid="@(componentId)__back-button">Back</a>
                </div>
            </div>
        </div>
    }
</div>