﻿@model BGL.Components.CoverDetails.Models.DemandAndNeeds.PncdViewModel

<table class="ncdp-table" data-testid="pncd-average-discount-table">
    <thead>
        <tr class="ncdp-table__section ncdp-table__section--header">
            <th class="ncdp-table__header-item">Number of years No Claims Discount</th>
            <th class="ncdp-table__header-item">Average NCD in @Model.HeaderNcdYear</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NcdTableList)
        {
            <tr class="ncdp-table__section">
                <td class="ncdp-table__item ">@item.Name</td>
                <td class="ncdp-table__item">@item.Value</td>
            </tr>
        }
    </tbody>
</table>