﻿@model BGL.Components.CoverDetails.Models.StepBackTableViewModel

    <button id="what-happens-link" class="link questions-box__link" data-testid="pncd-what-happens">
        @Model.PncdStepBackTableHeading
    </button>
    <p></p>
    <table id="what-happens-content" class="step-back-table hide" data-testid="pncd-step-back-table">
        <thead>
            <tr class="step-back-table__section step-back-table__section--header">
                <th class="step-back-table__header-item">Number of claims made in the next 12 months</th>
                <th class="step-back-table__header-item">Without NCD Protection</th>
                <th class="step-back-table__header-item">With NCD Protection</th>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 0;
            }
            @foreach (var item in Model.StepBackTableList) 
            {
                string lastRowClass = index == Model.StepBackTableList.Count() - 1 ? "step-back-table__item--last" : "";
                <tr class="step-back-table__section">
                    <td class="step-back-table__item @lastRowClass">@item.NumberOfClaims</td>
                    <td class="step-back-table__item @lastRowClass">@item.WithoutNcdProtection</td>
                    <td class="step-back-table__item @lastRowClass">@item.WithNcdProtection</td>
                </tr>
                index++;
            }
        </tbody>
    </table>
