﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.CoverDetails.Models.DemandAndNeeds.AddonDetailViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div id="@componentId" class="page-section" data-testid="@(componentId)__pncd-addon">
    @using (Html.BeginFormBgl("UpdatePncdAddon", "CoverDetailsComponentGenericAddon", FormMethod.Post, new
    {
        id = "update-pncd-form",
        @class = "form",
        data_on_success = "bgl.components.coverdetails.pncddetail.onSuccess",
        data_on_error = "bgl.components.coverdetails.pncddetail.onError"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("CoverId", Model.AddonPaymentDetails.CoverId)
        @Html.Hidden("CoverName", Model.AddonPaymentDetails.CoverName)
        @Html.HiddenFor(x => x.SelectedCoverLevelCode)
        @Html.HiddenFor(x => x.PreviousAddon, new { id = "previous-addon" })
        @Html.HiddenFor(x => x.NextAddonUrl, new { id = "next-addon" })
        @Html.HiddenFor(x => x.PreviousStepUrl, new { id = "previous-stepUrl" })


        <div id="addon-questions" class="page-section__addon-questions">
            <div class="page-section--inner">
                <div class="addon-radio-question">
                    <div id="button-panel" class="form-row">
                        @Html.Partial("AddonPaymentDetails.Bottom", Model.AddonPaymentDetails)

                        <fieldset class="form-row__field-set">
                            <legend class="form-row__legend--hidden">Would you like to add No Claims Discount Protection to your policy?</legend>

                            @Html.RadioButtonFor(x => x.IsAddonSelected, "Yes", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "pncd-yes", Name = "IsAddonSelected" })
                            @Html.LabelFor(x => x.IsAddonSelected, "Yes", new { @class = "form-row__label form-row__label--pill addon-radio__radio", id = "pncd-yes-label", @for = "pncd-yes", data_testid = $"{componentId}__pncd-yes", @role="button", @tabindex="0" })

                            @Html.RadioButtonFor(x => x.IsAddonSelected, "No", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "pncd-no", Name = "IsAddonSelected" })
                            @Html.LabelFor(x => x.IsAddonSelected, "No", new { @class = "form-row__label form-row__label--pill addon-radio__radio", id = "pncd-no-label", @for = "pncd-no", data_testid = $"{componentId}__pncd-no", @role="button", @tabindex="0" })
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="page-section--inner">
                <div class="button-container">
                    <button id="next-button"
                            class="button button--primary button--large button--right"
                            type="button"
                            data-testid="@(componentId)__pncd-next">
                        <span>Skip</span>
                    </button>
                    <a id="back-button" class="button button--text button--large button--back button--left"
                       tabindex="0"
                       data-testid="@(componentId)__pncd-back"
                       data-action-url
                       data-cover-details-addon-back-button>
                        Back
                    </a>
                </div>
            </div>
        </div>
    }
</div>