﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.YearsBusinessEstablishedViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}__years-business-established-form";

    string submitAction = "YearsBusinessEstablishedSubmit";
    string submitController = "CoverDetailsComponentYearsBusinessEstablished";
    var backButtonUrl = Url.Action("VehicleUsage", "CoverDetailsComponentVehicleUse");
    var nextStepComponentActionUrl = Url.Action("CarriageOfDangerousGoods", "CoverDetailsComponentCarriageOfDangerousGoods");

    if (Model.ComponentConfiguration.IsService)
    {
        backButtonUrl = Url.Action("VehicleUsage", "CoverDetailsComponent");
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        backButtonUrl = Model.ComponentConfiguration.BackButtonUrl;
    }
}

<div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__years-business-established-view">
    @if (Model.ComponentConfiguration.IsService)
    {
        @Html.Partial("_ProgressBar");
    }
    @using (Html.BeginFormBgl(submitAction, submitController, FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_testid = componentId + "__form",
        data_store_key = "CoverDetailsVehicleUse",
        data_on_success = "bgl.components.coverdetails.yearsbusinessestablished.onSuccess",
        data_on_error = "bgl.components.coverdetails.yearsbusinessestablished.onError"
    }))
    {
        @Html.AntiForgeryToken()
        <h1 class="step-form__section-title">Your cover</h1>

        <h2 class="step-form__heading">How many years has the business been established?</h2>

        <div class="form-row">
            @Html.Label(componentId + "__years-business-established", "Enter the number of years the business has been established", new { @class = "form-row__label" })
            <div class="form-row__overlay-wrapper middle annual-mileage">
                @Html.TextBoxForBgl(m => m.YearsBusinessEstablished, new { type = "number", min = "0", max = "99", tabindex = "0", id = componentId + "__years-business-established", @class = "form-row__input", data_testid = componentId + "__years-business-established_input", data_store = nameof(Model.YearsBusinessEstablished) })
                @Html.ValidationMessageFor(m => m.YearsBusinessEstablished, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__years-business-established_validation-message" })
            </div>
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button id="continueButton" type="submit" class="button button--primary button--large button--right" data-testid="@(componentId)__done-button" data-action-url="@nextStepComponentActionUrl" value="Continue" formnovalidate>Continue</button>
                <span>
                    <a href="@backButtonUrl" id="yearsBusinessEstablishedBackBtn" data-step-type="previous-step-journey" data-component="coverdetailsvehicleuse" class="button button--text button--back back-button-link button--large button--left" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
                </span>
            </div>
        </div>
        @Html.HiddenFor(m => m.PersonId)
        @Html.HiddenFor(m => m.CoverId)
    }
</div>