@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TakePayment
@using BGL.Components.TakePayment.ViewOptions

@{
    ViewBag.Title = "Annual Payment Summary";
    var config = DependencyResolver.Current.GetService<IConfig>();
    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];
    var useServiceRedirector = ConfigurationManager.AppSettings["UseServiceRedirector"] == "true";
}

<div class="page-section">
    <div class="page-section--inner">
        @Html.ComponentRenderTakePaymentAnnualSummaryAsync(new ComponentTakePaymentConfiguration
        {
            Id = "AnnualSummary",
            AnnualUrl = Url.Action("Annual", "Payment"),
            PaymentDeclinedUrl = Url.Action("Unsuccessful", "Payment"),
            PaymentSuccessfulUrl = Url.Action("PaymentSuccessful", "Payment"),
            TenantConfiguration = config.GetTenantConfiguration(),
            ImportantInformationUrl = Url.Action("PostPriceImportantInformation", "Legal"),
            BislBrandName = "BUDGET",
            UseServiceRedirector = useServiceRedirector,
            SliderList = new List<SliderItem>
            {
                new SliderItem
                {
                    Id = "intermediary-services-contract-summary-slider-link",
                    DataTestId = "intermediary-services-contract-summary-slider-link",
                    DataActionUrl = Url.Action("IntermediaryServicesContractSummary", "Legal"),
                    AnchorText = "Intermediary Services Contract Summary"
                }
            },
            MarketingSourceList = new List<string>
            {
                "quotezone",
                "moneysupermarket",
                "thevaninsurer",
                "comparethemarket",
                "gocompare",
                "confusedcom",
                "quotezonecouk"
            },
            LegalWordingViewName = "_PaymentLegalContent",
            NextStepsBrandName = "Post Office"
        })
    </div>
</div>

