@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TakePayment

@{
    ViewBag.Title = "Unsuccessful Payment";
    var config = DependencyResolver.Current.GetService<IConfig>();
}

<div class="page-section">
    <div class="page-section--inner">
        @Html.ComponentRenderTakePaymentPaymentDeclined(new ComponentTakePaymentConfiguration
        {
            Id = "PaymentDeclined",
            PaymentSummaryUrl = Url.Action("PaymentSummary", "Payment"),
            TenantConfiguration = config.GetTenantConfiguration()
        })
    </div>
</div>

<script>
    $(document).ready(function () {
        emitAdobeTracking();
    });

    function emitAdobeTracking() {
        bgl.common.pubsub.emit('PaymentUnsuccessful');
    };
</script>