@using System.Configuration
@using BGL.Security.Web.Authentication.Services

@{
    ViewBag.Title = "Session Timeout";
    Layout = "~/Views/Shared/_LayoutNoSession.cshtml";
    var urlContent = DependencyResolver.Current.GetService<UrlContent>();
}

<div class="page-section" data-testid="SessionTimeOutComponent__section">
    <div class="page-section--inner narrow spaced">
        <div class="page-message ">
            <h2 class="page-message__heading">Looks like you&apos;ve taken a break.</h2>
            <p class="page-message__text">To protect your personal information, you&apos;ve been automatically logged out</p>
            <div class="page-message__divider"></div>
            <div class="page-message__button-container">
                <a class="button button--primary button--large page-message__button" href="@(urlContent.ConvertVirtualPathToAbsolute("~/") + ConfigurationManager.AppSettings["RetrieveCarQuoteUrl"])">Retrieve my quote</a>
            </div>
        </div>
    </div>
</div>

<script>
    sessionStorage.clear();
</script>