﻿@using System.Web.Mvc.Html
@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@if (Model.HasFreeAddonBanner && @Model.AnnualPrice == 0 && !string.IsNullOrEmpty(Model.FreeAddonBannerView))
{
    @Html.Partial(@Model.FreeAddonBannerView)
}
else
{
    <p class="demands-and-needs__price" data-testid="DemandsAndNeeds__@(Model.Id)__DemandsAndNeeds_Price">
        Peace of mind from 
        @if (Model.IsAnnual)
        {
            <strong>&pound;@Model.AnnualPrice /year</strong>
        }
        else
        {
            <strong>&pound;@Model.MonthlyPrice /month*</strong>
            <text>(&pound;@Model.AnnualPrice /year)</text>
            <span class="feature-header__interest">*Monthly price excludes interest</span>
        }
    </p>
}
