﻿@model BGL.Components.DemandsAndNeeds.Models.AddOnHeadingAndParagraph

@if (!string.IsNullOrEmpty(Model.Heading))
{
    <h3 class="h4 fbels__heading">@Model.Heading</h3>
}

@foreach (var paragraph in Model.Paragraphs)
{
    <p class="demands-and-needs__text">@paragraph</p>
}