﻿@using System.Web.Mvc.Html
@using BGL.Components.DemandsAndNeeds.Enums
@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var yesLabelClass = "button button--price addon-cta__basket__buttons__label icon-plus";
    var noLabelClass = "button button--price addon-cta__basket__buttons__label icon-minus";
    var yesLabelText = "Yes";
    var noLabelText = "No";

    var displayAddRemoveButtons = Model.BasketButtonType == BasketButtonType.AddRemove && Model.IsAddOnSelected;

    if (displayAddRemoveButtons)
    {
        yesLabelClass += " full-width";
        noLabelClass += " full-width";
        yesLabelText = "Added to policy";
        noLabelText = "Remove from policy";
    }

    Object yesButtonAttributes;
    Object noButtonAttributes = new
    {
        @class = "form-row__input form-row__input--radio form-row__input--hidden addon-no required", 
        autocomplete = "off", 
        id = Model.Id + "-no", 
        data_focusid = Model.AddOnName + "-no", 
        @tabindex = "-1", aria_hidden = "true",
        data_type = "addon-no"
    };

    Object yesLabelAttributes = new
    {
        @for = Model.Id + "-yes", 
        id = Model.Id + "-yes" + "-label", 
        autocomplete = "off", 
        @class = yesLabelClass, 
        role = "button", 
        tabindex = "0", 
        data_testid = Model.Id + "-yes", 
        aria_describedby = Model.Id + "-addonbasket-buttons-description", 
        data_cta_button = "true"
    };
    Object noLabelAttributes = new
    {
        @for = Model.Id + "-no", 
        id = Model.Id + "-no" + "-label", 
        autocomplete = "off", 
        @class = noLabelClass, 
        role = "button", 
        tabindex = "0", 
        data_testid = Model.Id + "-no", 
        aria_describedby = Model.Id + "-addonbasket-buttons-description", 
        data_cta_button = "true"
    };

    if (Model.IsAddOnSelected)
    {
        yesButtonAttributes = new
        {
            @class = "form-row__input form-row__input--radio form-row__input--hidden addon-yes required", 
            autocomplete = "off", 
            id = Model.Id + "-yes", 
            data_focusid = Model.AddOnName + "-yes", 
            tabindex = "-1", 
            @checked = "checked", 
            aria_hidden = "true",
            data_type = "addon-yes"
        };
    }
    else
    {
        yesButtonAttributes = new
        {
            @class = "form-row__input form-row__input--radio form-row__input--hidden addon-yes required", 
            autocomplete = "off", 
            id = Model.Id + "-yes", 
            data_focusid = Model.AddOnName + "-yes", 
            tabindex = "-1", 
            aria_hidden = "true",
            data_type = "addon-yes"
        };
    }
}

<div class="addon-cta__basket @if (!Model.ShowBasket && !Model.IsAddOnSelected) { <text> hide </text> }">
    @Html.Partial("_AddOnPrice", @Model)

    <div class="addon-cta__basket__buttons">
        <fieldset class="form-row__field-set addon-cta__buttons__content basket-container">
            <legend class="form-row__legend--hidden">Would you like to add @Model.AddOnName to your policy?</legend>

            <p class="hide" id="@Model.Id-addonbasket-buttons-description">Please select whether you would like to add @Model.AddOnName. to your policy.</p>

            @Html.RadioButtonFor(Model => Model.IsAddOnSelected, "Yes", yesButtonAttributes)
            @Html.LabelFor(x => x.IsAddOnSelected, yesLabelText, yesLabelAttributes)

            @Html.RadioButtonFor(Model => Model.IsAddOnSelected, "No", noButtonAttributes)
            @Html.LabelFor(x => x.IsAddOnSelected, noLabelText, noLabelAttributes)

        </fieldset>
    </div>
</div>