﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.DemandsAndNeeds.Models.Breakdown.BreakdownAddOnModel

@{
    var componentId = Model.Id;
    var basePath = @Model.TenantConfiguration.ResourceBasePath;
}

<div id="@componentId-table" data-component-id="@componentId">
    <div class="page-section--inner">
        <fieldset>
            <legend class="form-row__legend--hidden">Would you like to add RAC Breakdown Cover?</legend>

            <table class="breakdown-table" cellspasing="0" id="breakdown-table">
                <thead class="breakdown-table__header">
                    <tr class="breakdown-table__row">
                        @if (Model.AddonCoverDetails.IsMandatoryCover)
                        {
                            <td class="breakdown-table__header-item first">
                                <img class="breakdown-table__header-item__logo" src="@(basePath)logo-rac.svg" alt="RAC" />
                            </td>
                        }
                        else
                        {
                            <th class="breakdown-table__header-item first" data-cover-level-code="O">
                                <img class="breakdown-table__header-item__logo" src="@(basePath)logo-rac.svg" alt="RAC" />
                                <input class="form-row__input form-row__input--radio form-row__input--hidden addon-no required" autocomplete="off" type="radio" name="breakdown-basket" id="Breakdown-no" value="No" tabindex="-1" aria-hidden="true" @if (!@Model.IsAddOnSelected) { <text> checked="checked" </text> }>
                                <label class="button breakdown-table__button button--price not-required-button" autocomplete="off" data-tier="0" data-cover-level-code="O" for="Breakdown-no" role="button" aria-label="Select Not Required" tabindex="0" data-testid="breakdown-not-required">Not required</label>
                            </th>
                        }

                        @foreach (var headerItem in Model.HeaderItems)
                        {
                            @Html.Partial("_BreakdownAssistanceHeaderItem", headerItem)
                        }
                    </tr>
                </thead>

                @Html.Partial("_BreakdownAssistanceTableBody", @Model)

            </table>

        </fieldset>

        @if (!Model.IsAnnual)
        {
            <div class="feature-header__price">
                <p class="feature-header__interest">*Monthly price excludes interest</p>
            </div>
        }

        <p class="legal-text">
            For full details of benefits, exclusions, limitations and cover, please refer to the policy document.
        </p>

    </div>
</div>