﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Components.DemandsAndNeeds.Models

@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = Model.TenantConfiguration.ResourceBasePath;

    var titleModel = new AddOnTitleModel
    {
        IconClass = "ui-icon-guaranteed-replacement-vehicle",
        Title = "Relax and keep moving with our Guaranteed Replacement Car promise"
    };

    var introductionText = new AddOnParagraphWithBoldContent
    {
        FirstPart = "Being without a car can bring life to a sudden halt - upgrading to a",
        SecondPartBold = "Guaranteed Replacement Car",
        ThirdPart = "will keep you moving."
    };

    var addOnFeatureCards = new List<AddOnFeatureCardModel>
{
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-grc-no-car",
            Title = "No car, no problem",
            Text = "We'll get you a car even if your repairer can't get one"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-grc-accident",
            Title = "Accident your fault?",
            Text = "No sweat, we'll still lend you a replacement"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-grc-places-to-be",
            Title = "Got places to be?",
            Text = "We'll keep you moving if your car is stolen, damaged or written off"
        }
    };

    var promiseToYou = new AddOnHeadingAndParagraph
    {
        Heading = string.Empty,
        Paragraphs = new List<string>
{
            "Guaranteed Replacement Car is our promise to you, that you won't be left without a car if you need to make a claim. A courtesy car does not provide that guarantee."
        }
    };

    var smallPrint = "Administered by ACM ULR Ltd and underwritten by ARAG plc on behalf of ARAG Allegemeine Vesicherungs-AG Branch United Kingdom.";
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))

{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "grc-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "grc-covername" })
    @Html.Hidden("grc-coverlevels-count", Model.AddonCoverDetails.CoverLevelViewModels.Count, new { id = "grc-coverlevels-count" })

    if (Model.IsSingleTier)
    {
        @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "grc-SelectedCoverLevelCode" })
    }

    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if (@Model.IsDisabledOnPageLoad) { <text> aria-hidden="true" </text> } data-type="addon-content">
        <div class="addon-primary">
            @Html.Partial("_AddOnTitle", titleModel)
            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">
                    @Html.Partial("_AddOnParagraphWithBoldContentHiddenOnMobile", introductionText)

                    @Html.Partial("_AddOnFeatureCardsWithIconsHiddenOnMobile", addOnFeatureCards)

                    @Html.Partial("_AddOnPriceFrom", Model)
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected) { <text> hide </text> }">
                @if (!Model.IsSingleTier)
                {
                    @Html.Partial("GuaranteedReplacementCarPaymentsMultiTiers", Model);
                }

                @Html.Partial("_AddOnHeadingAndParagraphs", promiseToYou)

                @if (Model.HasMultiTierContentVariations)
                {
                    @Html.Partial("_GuaranteedReplacementCarMultiTierContentVariations", Model)
                }
                else
                {
                    <div class="fbels">
                        <div class="fbels__section">
                            <h3 class="h4 fbels__heading fbels__heading--cover">Key benefits</h3>
                            <ul class="list list--fbels list--fbels-cover">
                                <li class="list__item">
                                    Provides a guaranteed replacement vehicle, if a courtesy vehicle is not available
                                </li>
                                <li class="list__item">
                                    For up to 28 days if yours is not drivable or deemed a total loss following a road traffic accident, fire or theft
                                </li>
                            </ul>
                        </div>
                        <div class="fbels__section">
                            <h3 class="h4 fbels__heading fbels__heading--remember">Things to remember</h3>
                            <ul class="list list--fbels list--fbels-remember">
                                <li class="list__item info">
                                    Subject to the terms and conditions of the vehicle replacement provider
                                </li>
                                <li class="list__item info">
                                    Replacement vehicle typically up to 1L engine size
                                </li>
                                <li class="list__item info">
                                    Not supplied for Breakdown or Windscreen claims
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                @Html.Partial("_AddOnSmallPrint", smallPrint)

                @Html.Partial("_IPIDDemandsAndNeeds", "guaranteed-replacement-vehicle")
            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}