﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Components.DemandsAndNeeds.Models

@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = Model.TenantConfiguration.ResourceBasePath;

    var titleModel = new AddOnTitleModel
    {
        IconClass = "ui-icon-guaranteed-replacement-vehicle",
        Title = "Relax and keep moving with our Guaranteed Replacement Car promise"
    };

    var introductionText = new AddOnParagraphWithBoldContent
    {
        FirstPart = "Being without a car can bring life to a sudden halt - upgrading to a",
        SecondPartBold = "Guaranteed Replacement Car",
        ThirdPart = "will keep you moving."
    };

    var addOnFeatureCards = new List<AddOnFeatureCardModel>
{
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-grc-no-car",
            Title = "No car, no problem",
            Text = "We'll get you a car even if your repairer can't get one"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-grc-accident",
            Title = "Accident your fault?",
            Text = "No sweat, we'll still lend you a replacement"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-grc-places-to-be",
            Title = "Got places to be?",
            Text = "We'll keep you moving if your car is stolen, damaged or written off"
        }
    };

    var promiseToYou = new AddOnHeadingAndParagraph
    {
        Heading = string.Empty,
        Paragraphs = new List<string>
        {
            "Guaranteed Replacement Car is our promise to you, that you won't be left without a car if you need to make a claim. A courtesy car does not provide that guarantee."
        }
    };

    var featureListItems14Days = new List<string>
    {
        "Provides a guaranteed replacement car, if a courtesy car is not available",
        "For up to 14 days if yours is not drivable or deemed a total loss following a road traffic accident, fire or theft"
    };

    var featureListItems21Days = new List<string>
    {
        "Provides a guaranteed replacement car, if a courtesy car is not available",
        "For up to 21 days if yours is not drivable or deemed a total loss following a road traffic accident, fire or theft"
    };

    var featureListItems28Days = new List<string>
    {
        "Provides a guaranteed replacement car, if a courtesy car is not available",
        "For up to 28 days if yours is not drivable or deemed a total loss following a road traffic accident, fire or theft"
    };

    var featureListItemsPlusTier = new List<string>
    {
        "Provides a guaranteed replacement car, if a courtesy car is not available",
        "For up to 60 days if yours is not drivable or deemed a total loss following a road traffic accident, fire or theft"
    };

    var courtesyCarEnough = new AddOnHeadingAndParagraph
    {
        Heading = "I thought you gave me a courtesy car, isn't that enough cover?",
        Paragraphs = new List<string>
        {
            "There are some instances when a courtesy car would not be provided and that's when having Guaranteed Replacement Car cover really pays off."
        }
    };

    var whatElseIsThere = new AddOnHeadingAndParagraph
    {
        Heading = "What else is there to know?",
        Paragraphs = new List<string>()
    };

    var whatElseIsThereToKnowListItems = new List<string>
    {
        "Subject to the terms and conditions of the vehicle replacement provider",
        "Provides a small hatchback, typically with a 1 litre engine",
        "Not supplied for Breakdown or Windscreen claims",
        "A Guaranteed Replacement Car will not be provided if a courtesy car is made available to you"
    };

    var smallPrint = "Administered by ACM ULR Ltd and underwritten by ARAG plc on behalf of ARAG Allegemeine Vesicherungs-AG Branch United Kingdom.";
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))

{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "grc-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "grc-covername" })
    @Html.Hidden("grc-coverlevels-count", Model.AddonCoverDetails.CoverLevelViewModels.Count, new { id = "grc-coverlevels-count" })

    if (Model.IsSingleTier)
    {
        @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "grc-SelectedCoverLevelCode" })
    }
    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if (@Model.IsDisabledOnPageLoad) { <text> aria-hidden="true" </text> } data-type="addon-content">
        <div class="addon-primary">
            @Html.Partial("_AddOnTitle", titleModel)
            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">
                    @Html.Partial("_AddOnParagraphWithBoldContentHiddenOnMobile", introductionText)

                    @Html.Partial("_AddOnFeatureCardsWithIconsHiddenOnMobile", addOnFeatureCards)

                    @Html.Partial("_AddOnPriceFrom", Model)
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected) { <text> hide </text> }">
                @if (!Model.IsSingleTier)
                {
                    @Html.Partial("GuaranteedReplacementCarPaymentsMultiTiers", Model);
                }

                @Html.Partial("_AddOnHeadingAndParagraphs", promiseToYou)

                <div class="multi-tier-content @if (Model.SelectedCoverLevelCode != "PCH-A") { <text> hide </text> }" id="multi-tier-content-PCH-A">
                    <ul class="list list--fbels list--fbels-cover">
                        @Html.Partial("_AddOnBulletedList", featureListItems14Days)
                    </ul>
                </div>
                <div class="multi-tier-content @if (Model.SelectedCoverLevelCode != "PCH-B") { <text> hide </text> }" id="multi-tier-content-PCH-B">
                    <ul class="list list--fbels list--fbels-cover">
                        @Html.Partial("_AddOnBulletedList", featureListItems28Days)
                    </ul>
                </div>
                <div class="multi-tier-content @if (Model.SelectedCoverLevelCode != "PCH-C") { <text> hide </text> }" id="multi-tier-content-PCH-C">
                    <ul class="list list--fbels list--fbels-cover">
                        @Html.Partial("_AddOnBulletedList", featureListItems21Days)
                    </ul>
                </div>
                <div class="multi-tier-content @if (Model.SelectedCoverLevelCode != "PCH-D") { <text> hide </text> }" id="multi-tier-content-PCH-D">
                    <ul class="list list--fbels list--fbels-cover">
                        @Html.Partial("_AddOnBulletedList", featureListItems28Days)
                    </ul>
                </div>
                <div class="multi-tier-content @if (Model.SelectedCoverLevelCode != "PCH-I") { <text> hide </text> }" id="multi-tier-content-PCH-I">
                    <ul class="list list--fbels list--fbels-cover">
                        @Html.Partial("_AddOnBulletedList", featureListItemsPlusTier)
                    </ul>
                </div>

                @Html.Partial("_AddOnHeadingAndParagraphs", courtesyCarEnough)

                @Html.Partial("_AddOnHeadingAndParagraphs", whatElseIsThere)

                <ul class="list list--fbels list--fbels-remember">
                    @Html.Partial("_AddOnBulletedList", whatElseIsThereToKnowListItems)
                </ul>

                @Html.Partial("_AddOnSmallPrint", smallPrint)

                @Html.Partial("_IPIDDemandsAndNeeds", "guaranteed-replacement-vehicle")
            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}