﻿<div class="fbels">
    <div class="fbels__section">
        <h3 class="h4 fbels__heading fbels__heading--cover">Key benefits</h3>
        <ul class="list list--fbels list--fbels-cover">
            <li class="list__item">
                Provides a guaranteed replacement vehicle, if a courtesy vehicle is not available
            </li>
            <li class="list__item">
                For up to @Model days if yours is not drivable or deemed a total loss following a road traffic accident, fire or theft
            </li>
        </ul>
    </div>
    <div class="fbels__section">
        <h3 class="h4 fbels__heading fbels__heading--remember">Things to remember</h3>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item info">
                Subject to the terms and conditions of the vehicle replacement provider
            </li>
            <li class="list__item info">
                Replacement vehicle typically up to 1L engine size
            </li>
            <li class="list__item info">
                Not supplied for Breakdown or Windscreen claims
            </li>
        </ul>
    </div>
</div>