﻿@model BGL.Components.DemandsAndNeeds.Models.NoClaimsDiscountProtection.AverageDiscountTableViewModel

<h3 class="h5 addon__text--emphasised">(1) Average NCD discount awarded</h3>

<p class="addon__text">
    The average NCD discount awarded to our motor insurance policyholders last year according to their number of NCD years.
</p>

<table class="ncdp-table" data-testid="pncd-average-discount-table">
    <thead>
        <tr class="ncdp-table__section ncdp-table__section--header">
            <th class="ncdp-table__header-item">Number of years No Claims Discount</th>
            <th class="ncdp-table__header-item">Average NCD in @Model.HeaderNcdYear</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NcdTableList)
        {
            <tr class="ncdp-table__section">
                <td class="ncdp-table__item ">@item.Name</td>
                <td class="ncdp-table__item">@item.Value</td>
            </tr>
        }
    </tbody>
</table>