﻿@model BGL.Components.DemandsAndNeeds.Models.NoClaimsDiscountProtection.MakeAClaimTableViewModel

<h3 class="h5 addon__text--emphasised">@if(!Model.IsVan){ <text>(2)</text> } What happens if I make a claim in the next 12 months?</h3>

<table id="what-happens-content" class="step-back-table" data-testid="pncd-step-back-table">
    <thead>
        <tr class="step-back-table__section step-back-table__section--header">
            <th class="step-back-table__header-item">Number of claims made in the next 12 months</th>
            <th class="step-back-table__header-item">Without NCD Protection</th>
            <th class="step-back-table__header-item">With NCD Protection</th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 0;
        }
        @foreach (var item in Model.StepBackRows)
        {
            string lastRowClass = index == Model.StepBackRows.Count() - 1 ? "step-back-table__item--last" : "";
            <tr class="step-back-table__section">
                <td class="step-back-table__item @lastRowClass">@item.NumberOfClaims</td>
                <td class="step-back-table__item @lastRowClass">@item.WithoutNcdProtection</td>
                <td class="step-back-table__item @lastRowClass">@item.WithNcdProtection</td>
            </tr>
            index++;
        }
    </tbody>
</table>
