﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DemandsAndNeeds.Models

@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = Model.TenantConfiguration.ResourceBasePath;

    var titleModel = new AddOnTitleModel
    {
        IconClass = "ui-icon-personal-accident-cover",
        Title = "Personal Accident Cover, financial support when you need it most"
    };

    var introductionText = new AddOnParagraphWithBoldContent
    {
        FirstPart = "If you have an accident, you want to know you’re supported. Our",
        SecondPartBold = "Personal Accident Cover",
        ThirdPart = "provides financial help for unexpected injuries and hospital stays."
    };

    var addOnFeatureCards = new List<AddOnFeatureCardModel>
    {
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-permanent-disability",
            Title = "Accidents can happen",
            Text = "Financial assistance with soft tissue injuries such as whiplash or injuries causing permanent disability"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-hospital-care",
            Title = "We'll support you daily",
            Text = "Help with extra expenses if you need hospital care"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-protection-worldwide",
            Title = "Protection Worldwide",
            Text = "Cover if you're involved in an accident, anywhere in the world"
        }
    };

    var worstCaseScenarios = new AddOnHeadingAndParagraph
    {
        Heading = string.Empty,
        Paragraphs = new List<string>
        {
            "Sometimes worst-case scenarios happen and although we can't turn back the clock if you've had an accident, we can help you out financially with our Personal Accident Cover."
        }
    };

    var howDoesPersonalAccidentCoverWork = new AddOnHeadingAndParagraph
    {
        Heading = "How does Personal Accident Cover work?",
        Paragraphs = new List<string>
        {
            "If you are injured in an accident as a passenger or driver, then Personal Accident Cover can pay out a cash benefit to help support you and your family. Personal Accident Cover insures you for injuries sustained, as a result of an accident, anywhere in the world."
        }
    };

    var tickedListItems = new List<string>
    {
        "\u00A330,000 cover for death or permanent disability as a result of an accident",
        "We'll offer a \u00A350 daily payment, for up to 80 days, for any hospitalisation as a result of an accident",
        "Cover up to \u00A322,500 for severe injuries such as loss of sight in both eyes, and loss of hearing in both ears",
        "Cover up to \u00A3750 for whiplash as a result of an accident"
    };

    var whatElseIsThere = new AddOnHeadingAndParagraph
    {
        Heading = "What else is there to know?",
        Paragraphs = new List<string>()
    };

    var whatElseIsThereToKnowListItems = new List<string>
    {
        "There is no cover for injuries to passengers",
        "Self-inflicted injuries, or injuries as a result of excessive alcohol or drugs, are not covered"
    };

    var smallPrint = "Administered by/ Underwritten by \"Covea\"";
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
autocomplete = "off",
data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
data_on_error = "bgl.components.demandsandneeds.addons.onError",
@class = "addon",
id = Model.Id,
data_addon_name = @Model.AddOnName
}))
{
@Html.AntiForgeryToken()
@Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "pac-coverid" })
@Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "pac-covername" })
@Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "pac-SelectedCoverLevelCode" })


@Html.Partial("_ErrorMessage")

<div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if (@Model.IsDisabledOnPageLoad) { <text> aria-hidden="true" </text> } data-type="addon-content">
    <div class="addon-primary">
        @Html.Partial("_AddOnTitle", titleModel)
        <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
            <div class="demands-and-needs__content">
                @Html.Partial("_AddOnParagraphWithBoldContentHiddenOnMobile", introductionText)

                @Html.Partial("_AddOnFeatureCardsWithIconsHiddenOnMobile", addOnFeatureCards)

                @Html.Partial("_AddOnPriceFrom", Model)
            </div>
            @Html.Partial("_DemandsAndNeedsButtons", @Model)
        </div>
        <div class="addon-main__content @if (!@Model.IsAddOnSelected) { <text> hide </text> }">

            @Html.Partial("_AddOnHeadingAndParagraphs", worstCaseScenarios)

            <div class="pac-diagram">
                <div class="pac-diagram__section pac-diagram__section--no-cover">
                    <h2 class="h3 pac-diagram__heading pac-diagram__heading--cover">
                        Without this extended/additional cover
                    </h2>
                    <div class="pac-diagram__image-block--no-cover">
                        <img class="pac-diagram__image pac-diagram__image--no-cover" src="@(basePath)icon-singlepage-addons-injury.svg" alt="Without PAC icon">
                    </div>
                    <p class="pac-diagram__sub-text">
                        Your @Model.ProductType.ToLower() is covered, but dependent on your chosen level of cover, you may be entitled to little or no personal accident benefit.
                    </p>
                </div>

                <div class="pac-diagram__section pac-diagram__section--cover">
                    <h2 class="h3 pac-diagram__heading pac-diagram__heading--cover">
                        With Personal Accident Cover
                    </h2>
                    <div class="pac-diagram__image-block--cover">
                        <img class="pac-diagram__image pac-diagram__image--cover" src="@(basePath)icon-singlepage-addons-falling.svg" alt="With PAC icon">
                        <p class="pac-diagram__cover-amount">
                            <span class="pac-diagram__cover-amount--sub">up to</span>
                            <strong class="pac-diagram__cover-amount--main">&pound;30,000</strong>
                        </p>
                    </div>
                    <p class="pac-diagram__sub-text">
                        For death and permanent total disability plus cover for the regular driver both inside and outside the vehicle, anywhere in the world.
                    </p>
                </div>
            </div>

            @Html.Partial("_AddOnHeadingAndParagraphs", howDoesPersonalAccidentCoverWork)

            <ul class="list list--fbels list--fbels-cover">
                @Html.Partial("_AddOnBulletedList", tickedListItems)
            </ul>

            @Html.Partial("_AddOnHeadingAndParagraphs", whatElseIsThere)

            <ul class="list list--fbels list--fbels-remember">
                @Html.Partial("_AddOnBulletedList", whatElseIsThereToKnowListItems)
            </ul>

            @Html.Partial("_AddOnSmallPrint", smallPrint)

            @Html.Partial("_IPIDDemandsAndNeeds", "personal-accident-cover")
        </div>
    </div>
    <div class="addon-secondary">
        <div class="addon-cta sticky">
            @Html.Partial("_DidYouKnowPartialView", @Model)

            @Html.Partial("_AddOnBasket", @Model)
        </div>
    </div>
</div>
}
