﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = @Model.TenantConfiguration.ResourceBasePath;

}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "pac-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "pac-covername" })
    @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "pac-SelectedCoverLevelCode" })


    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if(@Model.IsDisabledOnPageLoad){<text>aria-hidden="true"</text>} data-type="addon-content">
        <div class="addon-primary">
            <div class="addon-primary__title">
                <i class="addon-primary__icon ui-icon-personal-accident-cover"></i>
                <h2 tabindex="-1" class="addon-primary__title__text">
                    <strong>@Model.AddOnName</strong>
                </h2>
            </div>

            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">
                    <p class="feature-header__sub-heading">
                        If you were in a @Model.ProductType.ToLower() accident, would a lump sum payment help to ease the financial burden of suffering an accident covering&#8230;
                    </p>
                    <ul class="list list--bullet--small">
                        <li class="list__item">Serious soft tissue injuries such as whiplash</li>
                        <li class="list__item">Fractures</li>
                        <li class="list__item">Permanent Disability</li>
                    </ul>
                    <p class="demands-and-needs__price" data-testid="DemandsAndNeeds__@(Model.Id)__DemandsAndNeeds_Price">
                        Prices from
                        @if (Model.IsAnnual)
                        {
                            <strong>&pound;@Model.AnnualPrice /year</strong>
                        }
                        else
                        {
                            <strong>&pound;@Model.MonthlyPrice /month*</strong>
                            <text>(&pound;@Model.AnnualPrice /year)</text>
                            <span class="feature-header__interest">*Monthly price excludes interest</span>
                        }
                    </p>
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected) { <text> hide </text> }">

                <p class="feature-header__sub-heading">
                    Financial cover for injuries as a result of an accident anywhere in the world.
                </p>

                <div class="pac-diagram">
                    <div class="pac-diagram__section pac-diagram__section--no-cover">
                        <h2 class="h3 pac-diagram__heading pac-diagram__heading--cover">
                            Without this extended/additional cover
                        </h2>
                        <div class="pac-diagram__image-block--no-cover">
                            <img class="pac-diagram__image pac-diagram__image--no-cover" src="@(basePath)icon-singlepage-addons-injury.svg" alt="Without PAC icon">
                        </div>
                        <p class="pac-diagram__sub-text">
                            Your @Model.ProductType.ToLower() is covered, but dependent on your chosen level of cover, you may be entitled to little or no personal accident benefit.
                        </p>
                    </div>

                    <div class="pac-diagram__section pac-diagram__section--cover">
                        <h2 class="h3 pac-diagram__heading pac-diagram__heading--cover">
                            With Personal Accident Cover
                        </h2>
                        <div class="pac-diagram__image-block--cover">
                            <img class="pac-diagram__image pac-diagram__image--cover" src="@(basePath)icon-singlepage-addons-falling.svg" alt="With PAC icon">
                            <p class="pac-diagram__cover-amount">
                                <span class="pac-diagram__cover-amount--sub">up to</span>
                                <strong class="pac-diagram__cover-amount--main">&pound;30,000</strong>
                            </p>
                        </div>
                        <p class="pac-diagram__sub-text">
                            For death and permanent total disability plus cover for the regular driver both inside and outside the vehicle, anywhere in the world.
                        </p>
                    </div>
                </div>

                <div class="fbels" id="pac-fbels-main">
                    <div class="fbels__section">
                        <h3 class="h4 fbels__heading fbels__heading--cover">Key benefits</h3>
                        <ul class="list list--fbels list--fbels-cover">
                            <li class="list__item">
                                &pound;30,000 cover for death or permanent disability as a result of an accident
                            </li>
                            <li class="list__item">
                                &pound;50 a day up to 80 days for any hospitalisation as a result of an accident
                            </li>
                            <li class="list__item">
                                Cover of up to &pound;22,500 for severe injuries such as loss of sight in both eyes, and loss of hearing in both ears
                            </li>
                            <li class="list__item">
                                Cover of up to &pound;750 for whiplash as a result of an accident
                            </li>
                        </ul>
                    </div>
                    <div class="fbels__section">
                        <h3 class="h4 fbels__heading fbels__heading--remember">Things to remember</h3>
                        <ul class="list list--fbels list--fbels-remember">
                            <li class="list__item info">
                                There is no cover for injuries to passengers
                            </li>
                            <li class="list__item info">
                                Self-inflicted injuries, or injuries as a result of excessive alcohol or drugs are not covered
                            </li>
                        </ul>
                    </div>
                </div>

                <p class="admin-text">Administered by/ Underwritten by "Covea"</p>
                @Html.Partial("_IPIDDemandsAndNeeds", "personal-accident-cover")
            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}
