﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Components.DemandsAndNeeds.Models

@model BGL.Components.DemandsAndNeeds.Models.Breakdown.BreakdownAddOnModel

@{
    var prices = Model.HeaderItems.FirstOrDefault();

    var basePath = Model.TenantConfiguration.ResourceBasePath;

    var titleModel = new AddOnTitleModel
    {
        IconClass = "ui-icon-breakdown",
        Title = "RAC Breakdown Cover you can count on"
    };

    var introductionText = new AddOnParagraphWithBoldContent
    {
        FirstPart = "24/7 rescue - so whatever you've got planned,",
        SecondPartBold = "RAC Breakdown Cover",
        ThirdPart = "will keep you on track."
    };

    var addOnFeatureCards = new List<AddOnFeatureCardModel>
{
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-rac-on-the-spot",
            Title = "We fix 4/5 on the spot",
            Text = "Saving you a trip to the garage"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-rac-around-the-clock",
            Title = "Around the clock",
            Text = "We'll come to your rescue 24/7, 365 days a year"
        },
        new AddOnFeatureCardModel
        {
            IconClass = "ui-icon-spao-rac-count-on-us",
            Title = "You can count on us",
            Text = "RAC patrols repair vehicles, on average, within 30 minutes"
        }
    };

    var addOnPrices = new AddOnModel
    {
        MonthlyPrice = prices?.MonthlyPrice ?? 0M,
        AnnualPrice = prices?.AnnualPrice ?? 0M,
        IsAnnual = Model.IsAnnual,
        Id = Model.Id
    };

    var differentLevels = new AddOnHeadingAndParagraph
    {
        Heading = string.Empty,
        Paragraphs = new List<string>
{
                "This policy includes UK Roadside & Recovery as standard and as such can't be removed. There are a number of different cover options you may wish to consider."
        }
    };

    var differentLevelsStandard = new AddOnHeadingAndParagraph
    {
        Heading = string.Empty,
        Paragraphs = new List<string>
        {
            "We offer different levels of UK breakdown cover with the addition of our European cover for those driving abroad - ensuring you get the right cover level for your needs and budget."
        }
    };

    var coverElsewhere = "If you have breakdown cover elsewhere, or it's a benefit of your bank account and gives you similar cover, you may not require this.";


    var howMuchCover = new AddOnHeadingAndParagraph
    {
        Heading = "How much cover do I need?",
        Paragraphs = new List<string>
{
            "Our breakdown cover is flexible meaning you can choose the right cover for your lifestyle. Our minimum level cover includes roadside assistance which applies once you're over \u00BC mile from home. We'll send a mechanic to help you any time of the day or night in the UK. If we can't fix your vehicle by the roadside, we'll tow you to a local garage for repair."
        }
    };

    var onlyCoverIfDriving = new AddOnHeadingAndParagraph
    {
        Heading = "Does this mean my car is only covered if I'm driving?",
        Paragraphs = new List<string>
{
            "All of our breakdown cover levels are vehicle based, meaning we'll help if your vehicle breaks down - no matter who's driving."
        }
    };

    var whatElseIsThere = new AddOnHeadingAndParagraph
    {
        Heading = "What else is there to know?",
        Paragraphs = new List<string>
        {
            "Unfortunately, we can't cover every eventuality. Make sure you're comfortable with what's not covered."
        }
    };

    var whatElseIsThereToKnowListItems = new List<string>
{
        "Breakdowns that could have been prevented by regular servicing of the vehicle",
        "The cost of parts, fuel or other supplies are excluded",
        "Any claim that isn't a breakdown - i.e. Road traffic accident",
        "Any labour provided at the garage to which the vehicle was taken",
        "Any motor caravan, or vehicle in excess of 3.5 tonnes gross vehicle mass, or longer than 7.0 metres long including a tow bar 2.55 metres wide and 3 metres high"
    };
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Code", Model.SelectedCoverLevelCode, new { @id = "breakdown-code" })
    @Html.Hidden("SelectedCoverLevelCode", prices?.Code, new { @id = "breakdown-SelectedCoverLevelCode" })
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "breakdown-coverid" })

    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if (Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if (@Model.IsDisabledOnPageLoad) { <text> aria-hidden="true" </text> } data-type="addon-content">
        <div class="addon-primary">
            @Html.Partial("_AddOnTitle", titleModel)

            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">
                    @Html.Partial("_AddOnParagraphWithBoldContentHiddenOnMobile", introductionText)

                    @Html.Partial("_AddOnFeatureCardsWithIconsHiddenOnMobile", addOnFeatureCards)

                    @Html.Partial("_AddOnPriceFrom", addOnPrices)
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected) { <text> hide </text> }">
                @if (Model.AddonCoverDetails.IsMandatoryCover)
                {
                    @Html.Partial("_AddOnHeadingAndParagraphs", differentLevels)
                }
                else
                {
                    @Html.Partial("_AddOnHeadingAndParagraphs", differentLevelsStandard)
                    @Html.Partial("_AddOnSmallItalic", coverElsewhere)
                }

                @Html.Partial("_BreakdownAssistanceTable", Model)

                @Html.Partial("_AddOnHeadingAndParagraphs", howMuchCover)

                @Html.Partial("_AddOnHeadingAndParagraphs", onlyCoverIfDriving)

                @Html.Partial("_AddOnHeadingAndParagraphs", whatElseIsThere)

                <ul class="list list--fbels list--fbels-remember">
                    @Html.Partial("_AddOnBulletedList", whatElseIsThereToKnowListItems)
                </ul>

                <div class="provision-box">
                    <p class="provision-box__text">Provided by</p>
                    <img class="provision-box__image provision-box__image--rac" src="@(basePath)logo-rac.svg" alt="Provided by RAC">
                </div>
                @Html.Partial("_IPIDDemandsAndNeeds", "breakdown")
            </div>
        </div>
        <div class="addon-secondary @if (Model.IsAddOnSelected){<text>hide</text>}">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)
            </div>
        </div>
    </div>
}