﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = @Model.TenantConfiguration.ResourceBasePath;

}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "keycare-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "keycare-covername" })
    @Html.Hidden("SelectedCoverLevelCode", Model.SelectedCoverLevelCode, new { @id = "keycare-SelectedCoverLevelCode" })


    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" data-type="addon-content">
        <div class="addon-primary">
            <div class="addon-primary__title">
                <i class="addon-primary__icon ui-icon-breakdown"></i>
                <h2 tabindex="-1" class="addon-primary__title__text">
                    <strong>@Model.AddOnName</strong>
                </h2>
            </div>

            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">
                    <p class="demands-and-needs__text">
                        Would you like to see details for Breakdown cover if you need assistance after&#8230;
                    </p>
                    <ul class="list list--bullet--small">
                        <li class="list__item">Mechanical failure</li>
                        <li class="list__item">Flat battery</li>
                        <li class="list__item">Flat tyre</li>
                    </ul>
                    <p class="demands-and-needs__price" data-testid="DemandsAndNeeds__@(Model.Id)__DemandsAndNeeds_Price">
                        Prices from
                        @if (Model.IsAnnual)
                        {
                            <strong>&pound;@Model.AnnualPrice /year</strong>
                        }
                        else
                        {
                            <strong>&pound;@Model.MonthlyPrice /month*</strong>
                            <text>(&pound;@Model.AnnualPrice /year)</text>
                            <span class="feature-header__interest">*Monthly price excludes interest</span>
                        }
                    </p>
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected) { <text> hide </text> }">

                <div class="feature-header">
                    <p class="feature-header__sub-heading">
                        UK Roadside, Recovery, at Home and Onward Travel
                    </p>
                    <div class="feature-header__divider"></div>
                    
                    <p class="feature-header__text">Should your vehicle break down for reasons such as mechanical failure or a flat tyre, would you like help from us to get you back on the road?</p>

                    <p class="feature-header__text">If you have breakdown cover elsewhere, or it&#39;s a benefit of your bank account and gives you the same or similar cover, you may not require this.</p>
                </div>


                <div class="fbels" id="keycare-fbels-main">
                    <div class="fbels__section">
                        <h3 class="h4 fbels__heading fbels__heading--cover">Key benefits</h3>
                        <ul class="list list--fbels list--fbels-cover">
                            <li class="list__item">
                                Help to repair the vehicle at the roadside or the address where the vehicle is kept
                            </li>
                            <li class="list__item">
                                Help to transport the vehicle, you and up to seven passengers to a destination of your choice, within the UK, if the RAC cannot repair the vehicle
                            </li>
                        </ul>
                    </div>
                    <div class="fbels__section">
                        <h3 class="h4 fbels__heading fbels__heading--remember">Things to remember</h3>
                        <ul class="list list--fbels list--fbels-remember">
                            <li class="list__item info">
                                Breakdown that could have been prevented by regular servicing of the vehicle
                            </li>
                            <li class="list__item info">
                                The cost of parts, fuel or other supplies are excluded
                            </li>
                            <li class="list__item info">
                                Any claim that isn't a breakdown - i.e road traffic accident
                            </li>
                            <li class="list__item info">
                                Any labour provided at the garage to which the vehicle was taken
                            </li>
                            <li class="list__item info">
                                Any motor caravan, or vehicle in excess of 3.5 tonnes gross vehicle mass, or longer than 7.0 metres long including a tow bar 2.55 metres wide and 3 metres high
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="provision-box">
                    <p class="provision-box__text">Provided by</p>
                    <img class="provision-box__image provision-box__image--rac" src="@(basePath)logo-rac.svg" alt="RAC logo">
                </div>

                @Html.Partial("_IPIDDemandsAndNeeds", "breakdown")
            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}
