﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var basePath = @Model.TenantConfiguration.ResourceBasePath;
}

@using (Html.BeginForm("UpdateAddon", "DemandsAndNeedsComponent", FormMethod.Post, new
{
    autocomplete = "off",
    data_on_success = "bgl.components.demandsandneeds.addons.onSuccess",
    data_on_error = "bgl.components.demandsandneeds.addons.onError",
    @class = "addon",
    id = Model.Id,
    data_addon_name = @Model.AddOnName
}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("CoverId", Model.AddonCoverDetails.CoverId, new { @id = "toolscover-coverid" })
    @Html.Hidden("CoverName", Model.AddonCoverDetails.CoverName, new { @id = "toolscover-covername" })
    @Html.Hidden("toolscover-coverlevels-count", Model.AddonCoverDetails.CoverLevelViewModels.Count, new { id = "toolscover-coverlevels-count" })

    @Html.Partial("_ErrorMessage")

    <div class="addon-content @if(@Model.IsDisabledOnPageLoad){<text>disabled</text>}" @if(@Model.IsDisabledOnPageLoad){<text>aria-hidden="true"</text>} data-type="addon-content">
        <div class="addon-primary">
            <div class="addon-primary__title">
                <i class="addon-primary__icon ui-icon-addons-tools-cover"></i>
                <h2 tabindex="-1" class="addon-primary__title__text">
                    <strong>@Model.AddOnName</strong>
                </h2>
            </div>

            <div class="demands-and-needs @if (@Model.IsAddOnSelected) { <text> hide </text> }">
                <div class="demands-and-needs__content">


                    <p class="demands-and-needs__text">
                        If your tools or personal possessions were stolen from your vehicle, would you like help from us with the cost of replacing them&#8230;
                    </p>
                    <ul class="list list--bullet--small">
                        <li class="list__item">Ensures the tools and other contents in or on your vehicle are insured against theft, malicious or accidental damage</li>
                        <li class="list__item">Ideal for a wide range of professions and hobbies</li>
                    </ul>
                    <p class="demands-and-needs__price" data-testid="DemandsAndNeeds__@(Model.Id)__DemandsAndNeeds_Price">
                        Prices from
                        @if (Model.IsAnnual)
                        {
                            <strong>&pound;@Model.AnnualPrice /year</strong>
                        }
                        else
                        {
                            <strong>&pound;@Model.MonthlyPrice /month*</strong>
                            <text>(&pound;@Model.AnnualPrice /year)</text>
                            <span class="feature-header__interest">*Monthly price excludes interest</span>
                        }
                    </p>
                </div>
                @Html.Partial("_DemandsAndNeedsButtons", @Model)
            </div>
            <div class="addon-main__content @if (!@Model.IsAddOnSelected){<text> hide </text>}">

                @if (!Model.IsSingleTier)
                {
                    @Html.Partial("ToolsCoverMultiTiers", Model);
                }

                <p class="addon__text">Ensures the tools and other contents in or on your vehicle are insured against theft, malicious or accidental damage. Ideal for a wide range of professions and hobbies.</p>

                <div class="fbels">
                    <div class="fbels__section">
                        <h3 class="h4 fbels__heading fbels__heading--cover">Key benefits</h3>
                        <ul class="list list--fbels list--fbels-cover">
                            <li class="list__item">
                                Cover for loss or damage to tools and personal possessions in or on your vehicle
                            </li>
                            <li class="list__item">
                                Cover while in transit, loading, unloading or when parked
                            </li>
                            <li class="list__item">
                                &pound;500 cover for electrical equipment and personal possessions
                            </li>
                        </ul>
                    </div>
                    <div class="fbels__section">
                        <h3 class="h4 fbels__heading fbels__heading--remember">Things to remember</h3>
                        <ul class="list list--fbels list--fbels-remember">
                            <li class="list__item info">
                                You must pay &pound;100 excess per claim
                            </li>
                            <li class="list__item info">
                                For theft or attempted theft claims, there must be outwards signs of forced entry to the vehicle
                            </li>
                            <li class="list__item info">
                                There is no cover for money, jewellery or precious stones
                            </li>
                            <li class="list__item info">
                                If the lost or damaged property is not new a deduction will be made for wear, tear and depreciation
                            </li>
                        </ul>
                    </div>
                </div>

                <p class="admin-text">Administered by BISL Ltd. Underwritten by AXA UK PLC. For details of the key benefits and limitations please click on the below document link.</p>
                @Html.Partial("_IPIDDemandsAndNeeds", "tools-cover")

            </div>
        </div>
        <div class="addon-secondary">
            <div class="addon-cta sticky">
                @Html.Partial("_DidYouKnowPartialView", @Model)

                @Html.Partial("_AddOnBasket", @Model)
            </div>
        </div>
    </div>
}