﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Components.DemandsAndNeeds.Extensions

@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var selectList = Model.GetSelectList();
}

<div class="form-row">
    <div class="form-row__input-wrapper--half" id="select-cover-id">
        @Html.LabelFor(x => x.SelectedCoverLevelCode, "Choose a replacement car cover duration", new { @class = "visually-hidden", autocomplete = "off" })
        <select class="form-row__select" autocomplete="off" id="SelectedCoverLevelCode" name="SelectedCoverLevelCode">
            @for (int i = 0; i < Model.AddonCoverDetails.CoverLevelViewModels.Count; i++)
            {
                var monthlyPrice = Model.AddonCoverDetails.CoverLevelViewModels[i].MonthlyPrice.Round().FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
                var annualPrice = Model.AddonCoverDetails.CoverLevelViewModels[i].AnnualPrice.Round().FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
                var selectedAttribute = selectList[i].Selected ? "selected" : string.Empty;

                <option value="@selectList[i].Value" 
                        aria-label="@selectList[i].Text for &pound;@if (Model.IsAnnual){@annualPrice}else{@monthlyPrice}"
                        @selectedAttribute>
                    @selectList[i].Text
                </option>
            }
        </select>
    </div>
</div>