﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Components.DemandsAndNeeds.Extensions

@model BGL.Components.DemandsAndNeeds.Models.AddOnModel

@{
    var selectList = Model.GetSelectList();
}

<div class="form-row">
    <div class="form-row__input-wrapper--half" id="select-cover-id">
        @Html.LabelFor(x => x.SelectedCoverLevelCode, "Select your level of tools and van contents cover", new {@for="SelectedToolsCoverCoverLevelCode", @class = "visually-hidden", autocomplete = "off" })
        @Html.DropDownListFor(x => x.SelectedCoverLevelCode, selectList, new { id = "SelectedToolsCoverCoverLevelCode", @class = "form-row__select", autocomplete = "off" })
    </div>
</div>
