﻿// new payment page with policy features & summary styling
$payment-summary-border: 1px solid transparent !default;
$payment-summary-border-radius: 0 !default;
$payment-summary-boxshadow: transparent !default;
$payment-summary-background-color: #fff !default;
$payment-summary-heading-margin-bottom: 40px !default;
$payment-primary-border-right: 1px solid transparent !default;
$payment-features-header-border-bottom: 1px solid transparent !default;
$payment-features-header-font-size-mobile: 18px !default;
$payment-features-header-font-size-desktop: 20px !default;
$payment-features-row-border-bottom: 1px solid #E5E5E5 !default;
$payment-features-row-margin-bottom: 10px !default;
$payment-features-row-padding-bottom: 10px !default;
$payment-features-font-family: $font-family-base !default;
$payment-features-value-font-weight: 700 !default;
$payment-features-value-margin-left: 38px !default;
$payment-features-icon-background-image: url("../images/icon-tick.svg") !default;
$payment-features-icon-margin-right: 15px !default;
$payment-features-icon-height: 18px !default;
$payment-features-icon-width: 24px !default;
$payment-features-list-font-size: 16px !default;
$payment-features-list-padding-left: 15px !default;
$payment-features-list-bulet-color: $color-primary !default;
$payment-features-margin-bottom: 0 !default;
$payment-features-additional-section-margin-bottom: 0 !default;

.payment-summary-container {
    border: $payment-summary-border;
    box-shadow: $payment-summary-boxshadow;
    border-radius: $payment-summary-border-radius;
    background: $payment-summary-background-color;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;

    &__content {
        padding: 0;
        position: relative;
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;

        @media (min-width: $screen-lg) {
            flex-direction: row;
            position: relative;
        }
    }
    //primary half of the container
    &--primary {

        @media (min-width: $screen-lg) {
            border-right: $payment-primary-border-right;
            flex: 0 0 auto;
        }
    }
    // secondary half of the container
    &--secondary {

        @media (min-width: $screen-lg) {
            flex: 0 0 45%;
            position: relative;
            border: none;
            padding: 40px;
            padding-top: 70px
        }
    }

    &--sticky {

        @media (min-width: $screen-lg) {
            position: sticky;
            top: 0;
            align-self: flex-start;
        }
    }

    & .page-heading {
        &__heading {
            margin-bottom: $payment-summary-heading-margin-bottom;
        }
    }

    & .payment-options {
        justify-content: left;
    }

    & .payment-switch {
        &__label {
            &--selected {
                background-image: none;
            }
        }
    }
}

.payment-policy-features {
    width: 100%;
    max-width: 800px;
    margin-bottom: $payment-features-margin-bottom;
    display: block;

    &__row {
        border-bottom: $payment-features-row-border-bottom;
        margin-bottom: $payment-features-row-margin-bottom;
        padding-bottom: $payment-features-row-padding-bottom;

        &--header {
            font-size: $payment-features-header-font-size-mobile;
            font-family: $payment-features-font-family;
            border-bottom: $payment-features-header-border-bottom;

            @media (min-width: $screen-lg) {
                font-size: $payment-features-header-font-size-desktop;
            }
        }
    }
    // payment-policy-features__item
    &__key {
        text-align: left;
        display: inline-flex;

        &::before {
            content: "";
            display: inline-flex;
            background-image: $payment-features-icon-background-image;
            background-repeat: no-repeat;
            height: $payment-features-icon-height;
            min-width: $payment-features-icon-width;
            margin-right: $payment-features-icon-margin-right;
        }
    }

    &__value {
        margin-left: $payment-features-value-margin-left;
        font-weight: $payment-features-value-font-weight;

        @media (min-width: $screen-lg) {
            float: right;
            text-align: right;
        }
    }

    &__key, &__value {
        padding: 10px 0;

        @media (min-width: $screen-lg) {
            display: inline-flex;
        }
    }

    &__additional-section {
        margin-bottom: $payment-features-additional-section-margin-bottom;
        width: 100%;
        display: block;
    }

    &__list {
        margin-bottom: 40px;
        padding-left: $payment-features-list-padding-left;

        &--item {
            font-size: $payment-features-list-font-size;
            margin-bottom: 10px;
            list-style-type: none;

            &:before {
                content: "";
                display: inline-flex;
                background: $payment-features-list-bulet-color;
                border-radius: 20px;
                height: 8px;
                width: 8px;
                margin-right: 20px;
            }
        }
    }
}


// Cost Breakdown Basket
$cost-breakdown-text-color: #4A4A4A !default;
$cost-breakdown-font-family: $font-family-base !default;
$cost-breakdown-border: 1px solid transparent !default;
$cost-breakdown-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1) !default;
$cost-breakdown-padding: 20px 0 !default;
$cost-breakdown-upper-border-bottom: 4px solid $color-primary !default;
$cost-breakdown-title-font-size-mobile: 18px !default;
$cost-breakdown-title-font-size-desktop: 20px !default;
$cost-breakdown-title-font-weight: 700 !default;
$cost-breakdown-title-font-family: $font-family-base !default;
$cost-breakdown-legal-text-color: #6B6B6B !default;
$cost-breakdown-legal-font-size: 13px !default;
$cost-breakdown-font-weight: 300 !default;
$cost-breakdown-main-text-color: #4A4A4A !default;
$cost-breakdown-main-text-font-weight: 700 !default;
$cost-breakdown-sub-text-color: $color-primary !default;
$cost-breakdown-sub-text-font-weight: 700 !default;
$cost-breakdown-main-text-font-size-desktop: 24px !default;
$cost-breakdown-sub-text-font-size-desktop: 16px !default;
$cost-breakdown-main-text-font-size-mobile: 21px !default;
$cost-breakdown-sub-text-font-size-mobile: 16px !default;
$cost-breakdown-list-item-color: #4A4A4A !default;
$cost-breakdown-list-item-font-size: 13px !default;
$cost-breakdown-list-item-font-weight: 700 !default;

.cost-breakdown {
    color: $cost-breakdown-text-color;
    font-family: $cost-breakdown-font-family;
    border: $cost-breakdown-border;
    box-shadow: $cost-breakdown-box-shadow;
    padding: $cost-breakdown-padding;

    &__upper {
        padding: 10px 40px;
        margin-bottom: 10px;
        border-bottom: $cost-breakdown-upper-border-bottom;
    }

    &__lower {
        padding: 10px 40px;
    }

    &__title {
        padding: 10px 0;
        font-size: $cost-breakdown-title-font-size-mobile;
        font-weight: $cost-breakdown-title-font-weight;
        font-family: $cost-breakdown-title-font-family;

        @media (min-width: $screen-lg) {
            font-size: $cost-breakdown-title-font-size-desktop;
        }
    }

    &__legal-text {
        padding: 5px 0;
        color: $cost-breakdown-legal-text-color;
        font-size: $cost-breakdown-legal-font-size;
        font-weight: $cost-breakdown-font-weight;
    }

    & .list {
        margin: 20px 0;

        &__item {
            flex: auto;
            padding-bottom: 5px;
            color: $cost-breakdown-list-item-color;
            font-size: $cost-breakdown-list-item-font-size;
            font-weight: $cost-breakdown-list-item-font-weight;
        }
    }

    & .page-heading {
        &__text {
            padding: 10px 0;

            &--main {
                color: $cost-breakdown-main-text-color;
                font-weight: $cost-breakdown-main-text-font-weight;
                font-size: $cost-breakdown-main-text-font-size-mobile;

                @media (min-width: $screen-lg) {
                    font-size: $cost-breakdown-main-text-font-size-desktop;
                }
            }

            &--sub {
                color: $cost-breakdown-sub-text-color;
                font-weight: $cost-breakdown-sub-text-font-weight;
                font-size: $cost-breakdown-sub-text-font-size-mobile;

                @media (min-width: $screen-lg) {
                    font-size: $cost-breakdown-sub-text-font-size-desktop;
                }
            }
        }
    }
}