$a-focus-box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255), 0px 0px 0px 3px rgb(30, 148, 227) !default;
$form-tab-selected-background: #418529 !default;
$form-tab-selected-border: 1px solid !default;
$form-tab-selected-border-color: #418529 !default;
$form-tab-selected-color: #ffffff !default;
$form-tab-selected-focus-box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255), 0px 0px 0px 3px rgb(30, 148, 227) !default;
$form-tab-focus-box-shadow: inset 0px 0px 0px 2px rgb(160, 217, 255), 0px 0px 0px 3px rgb(30, 148, 227) !default;
$button-focus-box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255), 0px 0px 0px 3px rgb(30, 148, 227) !default;
$button-inverted-focus-box-shadow: inset 0px 0px 0px 3px rgb(30, 148, 227), 0px 0px 0px 3px rgb(255, 255, 255);

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin font-size($size: $font-size-base) {
  font-size: $size;
  font-size: calcRem($size);
}

@mixin breakpoint($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin no-hover() {
  @media (hover: none), (hover: on-demand) {
    &:hover {
      @content;
    }
  }
}

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin wordbreak() {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@mixin linkFocusSurround() {
    box-shadow: $a-focus-box-shadow;
    outline: none;
}


@mixin focussurround() {
    box-shadow: $form-tab-focus-box-shadow;
    outline: none;
}

@mixin focussurroundInverted() {
    box-shadow: $button-inverted-focus-box-shadow;
    outline: none;
}


@mixin SelectItem () {
    background-color: $form-tab-selected-background;
    border: $form-tab-selected-border;
    border-color: $form-tab-selected-border-color;
    color: $form-tab-selected-color;
}

@mixin focusSelectSurround() {
    box-shadow: $form-tab-selected-focus-box-shadow;
}

@mixin buttonFocus() {
    box-shadow: $button-focus-box-shadow;
    border: none;
    outline: none;
}