﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-courtesy-vehicle.svg" alt="">
    <h1 class="feature-header__heading">
        <strong class="feature-header__heading-highlight-text">Courtesy car</strong>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        Provides you with a courtesy vehicle while an approved repairer fixes yours (subject to availability)
    </p>
</div>
<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    A courtesy car, subject to availability and the recommended repairer's terms and conditions.
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">Things to think about</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item info">
                    If available, the replacement vehicle may not be any larger than a small hatchback, typically with a 1 litre engine
                </li>
                <li class="list__item info">
                    You can upgrade to a guaranteed like for like vehicle at an additional cost to you
                </li>
                <li class="list__item info">
                    The terms, conditions and excesses of your policy apply for the courtesy car
                </li>
            </ul>
            <p class="fbels__admin-text">See policy documents for full information</p>
        </div>
    </div>
    @Html.Partial("_QuestionBoxComprehensiveCover", "Courtesy Car")
</div>

@Html.Partial("_ButtonContainer")
