﻿@using System.Web.Mvc.Html
@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="feature-header">
    <img class="feature-header__image" src="@(basePath)icon-legal-protection.svg" alt="">
    <h1 class="feature-header__heading">
        <span class="feature-header__heading-standard-text">Up to </span>
        <strong class="feature-header__heading-highlight-text">&pound;100,000 Motor Legal Protection</strong>
        <span class="feature-header__heading-standard-text"> included as standard</span>
    </h1>
    <div class="feature-header__divider"></div>
    <p class="feature-header__text">
        If you&apos;re in an accident that&apos;s not your fault, our Motor Legal Protection provides legal expenses to help you and your passengers claim compensation for uninsured losses including personal injury. In addition it provides legal expenses to defend you if you are facing suspension or disqualification of your driving licence.
    </p>
</div>
<div class="tabs">
    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
            <ul class="list list--fbels list--fbels-cover">
                <li class="list__item">
                    Up to &pound;100,000 of legal expenses to pursue uninsured losses such as personal injury, loss of earnings or excesses following a motor accident
                </li>
                <li class="list__item">
                    Up to &pound;20,000 of legal expenses for motor prosecution defence
                </li>
                <li class="list__item">
                    Motor legal helpline - advice on motoring legal issues
                </li>
            </ul>
        </div>
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">Things to think about</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item">
                    Uninsured loss claims must be reported within 180 days of the accident, and the third party must have valid motor insurance at the time of the accident
                </li>
                <li class="list__item">
                    Motoring prosecution defence does not cover any fines or penalties, or any charges relating to drink or drugs
                </li>
                <li class="list__item">
                    Personal injury claims must be as a result of a motor related accident
                </li>
                <li class="list__item">
                    There must be a reasonable chance of case success
                </li>
            </ul>

        </div>
    </div>
    <p class="admin-text">Administered by ACM ULR Ltd and underwritten by RAC Insurance Ltd</p>
    @Html.Partial("_IPIDLink", "legal-protection")
    @Html.Partial("_QuestionBoxComprehensiveCover", "Motor Legal Protection")
</div>

@Html.Partial("_ButtonContainer")
