﻿$page-footer__link-color: $color-primary !default;
$page-footer-link-hover-color: #148BDC !default;

.page-footer {
    border-top: solid 1px #ccc;
    // margin-top:40px;
    padding: 55px 1rem;

    a {
        &:hover {
            color: $page-footer-link-hover-color;
            text-decoration: none;
        }
    }
}

.page-footer__wrapper {
    padding: 0 1rem;
    max-width: 1200px;
    margin: auto;
    display: table;
    width: 100%;
    @include font-size(12px);
}

.page-footer__section {
    display: block;
    width: 100%;

    @include breakpoint(600px) {
        display: table-cell;
        width: 50%;
        padding: 0;
        vertical-align: top;
    }

    @include breakpoint(900px) {
        &:nth-child(1) {
            width: 35%;
        }
    }
}

.page-footer__copyright {
    margin-top: 0;
    @include font-size(14px);
}

.page-footer__list {
    @include font-size(13px);
}

.page-footer__list-divider {
    display: inline-block;
}

.page-footer__legal-text {
    color: #9f9e9e;
    font-weight: 300;
    line-height: 20px;
}

.page-footer__link {
    color: $page-footer__link-color;

    &:hover {
        text-decoration: none;
    }
}

.footer-docs {
    @include font-size(13px);

    &__heading {
        margin-top: 0;
        @include font-size(14px);
    }

    &__link {
        color: $page-footer__link-color;

        &:hover {
            text-decoration: none;
        }
    }
}

.ul-wrapper-inline {
    padding-left: 0;
}

.li-wrapper {
    list-style: none;
}

.list__item.li-wrapper-inline {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 10px;
    padding-right: 10px;
}