﻿$ncd-uploader-header-background-size-desktop: 600px !default;

.ncd-uploader-header {
    &--image-container {
        height: 230px;
        background-image: url(../images/ncd-upload--mobile--default.svg);
        margin-top: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }

    @media (min-width: 420px) {
        &--image-container {
            margin-top: 60px;
            background-image: url(../images/ncd-upload--desktop--default.svg);
            background-size: $ncd-uploader-header-background-size-desktop;
        }
    }
}

.ncd-upload__headers {
    padding-bottom: 0;

    @include breakpoint($screen-lg) {
        padding-bottom: 40px;
    }

    .ncd-upload__initial-header--desktop {
        display: none;

        @include breakpoint($screen-lg) {
            display: block;
        }
    }

    .ncd-upload__initial-header--mobile {
        display: block;

        @include breakpoint($screen-lg) {
            display: none;
        }
    }

    .ncd-upload__got-it-button-container {
        text-align: center;

        @include breakpoint($screen-lg) {
            text-align: right;
        }
    }
}

.ncd-upload__list {
    color: $color-primary;
    margin-top: 40px;

    @include breakpoint($screen-lg) {
        margin-top: 80px;
    }

    .ncd-upload__item {
        display: flex;
        font-size: 13px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-bottom: 30px;
        min-height: 90px;
        position: relative;
        background: $bg-light-grey;
        border-radius: 10px;
        padding: 20px;

        &.ncd-upload__item--error {
            color: $error;
        }

        .ncd-upload__icon-document {
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .ncd-upload__item--file-info {
            -webkit-box-flex: 2;
            flex-grow: 2;
            margin-left: 50px;
            margin-top: -5px;
            margin-right: 10px;
            line-height: 20px;

            .ncd-upload__filename, .ncd-upload__file-error {
                display: block;
                font-weight: bold;
            }

            .ncd-upload__filesize {
                display: block;
                font-weight: 300;
                font-size: 13px;
                margin-bottom: 5px;
            }

            .ncd-upload__loader {
                width: 300px;
                height: 5px;
                border-radius: 14px;
                border-bottom: 1px solid #fff;
                border-top: 1px solid #999;
                background: #ccc;
                overflow: hidden;
                position: relative;

                @media(max-width:400px) {
                    width: 100%;
                }
            }

            .ncd-upload__progress-bar {
                height: inherit;
                width: 0%;
                border-radius: inherit;
                position: relative;
                overflow: hidden;

                &.loading {
                    width: 80%;
                    transition: width 0.8s;
                    background-color: $color-primary;

                    & .progress-pulse {
                        display: block;
                        height: 100%;
                        background-image: linear-gradient(270deg, $color-primary, $color-secondary);
                        position: relative;
                        overflow: hidden;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            background-image: linear-gradient(270deg, $color-primary, $color-secondary);
                            z-index: 1;
                            background-size: 400%;
                            animation: pulse 1s ease infinite;
                            overflow: hidden;
                        }
                    }
                }

                &.success {
                    width: 100%;
                    transition: width 0.5s;
                    background-color: #2ecc71;

                    & .progress-stripes {
                        display: block;
                        height: 100%;
                        background-image: linear-gradient( center bottom, #2ecc71 37%, #27ae60 69% );
                        box-shadow: inset 0 2px 9px #2ecc71, inset 0 -2px 6px #27ae60;
                        position: relative;
                        overflow: hidden;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            background-image: linear-gradient( -45deg, #27ae60 25%, transparent 25%, transparent 50%, #27ae60 50%, #27ae60 75%, transparent 75%, transparent );
                            z-index: 1;
                            background-size: 50px 50px;
                            animation: move 2s linear infinite;
                            overflow: hidden;
                        }
                    }
                }

                &.error {
                    width: 100%;
                    transition: width 0.5s;
                    background-color: #e74c3c;

                    & .progress-stripes {
                        display: block;
                        height: 100%;
                        background-image: linear-gradient( center bottom, #e74c3c 37%, #c0392b 69% );
                        box-shadow: inset 0 2px 9px #e74c3c, inset 0 -2px 6px #c0392b;
                        position: relative;
                        overflow: hidden;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            background-image: linear-gradient( -45deg, #c0392b 25%, transparent 25%, transparent 50%, #c0392b 50%, #c0392b 75%, transparent 75%, transparent );
                            z-index: 1;
                            background-size: 50px 50px;
                            animation: move 2s linear infinite;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }

    @keyframes move {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 50px 50px;
        }
    }

    @keyframes pulse {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes bubble {
        0% {
            transition: all 5s cubic-bezier(0.19, 1, 0.22, 1);
        }

        100% {
            left: 120%;
            transition: all 5s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    @keyframes shrink {
        0% {
            height: 150px;
        }

        100% {
            height: 0px;
        }
    }

    button {
        display: block;
        width: 100px;
        height: 50px;
        background: grey;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        margin: 0 auto;
    }

    .ncd-upload__delete {
        color: $color-secondary;
        font-size: 28px;
        line-height: 28px;
        cursor: pointer;
        background: none;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
    }
}


.drag-and-drop-area--mobile {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;

    @include breakpoint($screen-lg) {
        display: none;
    }
}

.drag-and-drop-area--desktop {
    background: $bg-light-grey;
    padding: 20px;
    display: none;

    @include breakpoint($screen-lg) {
        display: block;
    }

    .ncd-uploader--drag-drop {
        display: block;
        text-align: center;
        background: $body-bg-base;
        transition: background-color .2s linear, border .2s linear;
        border: dashed 2px $color-grey;
        border-radius: 12px;
        padding: 20px;
        padding-bottom: 40px;
        margin-top: 40px;

        .ncd-uploader--drag-drop--img {
            width: 80px;
            height: 80px;
        }

        .ncd-uploader--drag-drop--tag-line {
            font-weight: 300;
            font-size: 1.5rem;
            letter-spacing: 0;
            line-height: 33px;
            display: block;
            color: $color-primary;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    .ncd-uploader--desktop-upload-button {
        display: block;
        padding: 0px;
        margin-top: -40px;
        margin-bottom: 12px;

        .ncd-upload__button--desktop {
            text-align: center;
            width: 80%;
            max-width: 335px;
            bottom: -30px;
            margin-top: 1%;
            padding: 15px;

            .ncd-upload__button--desktop-text {
                display: block;
                padding: 3px;
            }
        }
    }
}

.ncd-uploader--desktop-buttons {
    padding-top: 40px;
    padding-bottom: 40px;
    display: none;

    @include breakpoint($screen-lg) {
        display: block;
    }
}

.ncd-uploader--mobile-buttons-cancel {
    text-align: center;

    button {
        margin-top: 8px;

        @include breakpoint($screen-lg) {
            display: none;
            margin-top: 0;
        }
    }
}

.ncd-upload__button:disabled {
    color: $color-primary;
    border-color: $color-primary;
    background-color: $button-primary-background-disabled;
}

.is-dragover {
    .ncd-uploader--drag-drop {
        background: $color-primary--light;
        border: dashed 2px $color-primary;
    }
}

.drag-and-drop-area--mobile-info-small {
    padding-bottom: 60px;
    font-size: smaller;
}

.ncd-upload__help-accordions {
    ul.list {
        list-style-type: disc;
    }

    .accordion ul li {
        header button {
            padding: 20px 60px 20px 20px;
        }

        .accordion-body {
            font-weight: 300;

            p {
                margin-bottom: 20px;
            }

            ul.list {
                list-style-type: disc;
                margin-bottom: 0;

                li.list__item {
                    border-bottom: none;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
