.quote-payment {
    section {
        padding: 40px 0px;
    }

    &__subheader {
        @include font-size(20px);
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 20px;
    }

    &__annual-cost > * {
        font-weight: 300;
        margin-bottom: 20px;
    }

    &__legal-list, .legal-text {
        color: $color-font;
        @include font-size(13px);
        font-weight: 300;
        line-height: 20px;
    }

    &__legal-list {
        list-style: disc;
        list-style-position: inside;

        li {
            padding-top: 6px;
        }
    }

    &__card-wrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;
        padding: 0 10px;
    }

    &__card {
        flex: 0 0 100%;
        width: 100%;
        padding: 0px 10px;

        @include breakpoint(1200px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &__card-input-nav {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        text-align: center;
        padding: 10px 10px 0px 10px;

        @include breakpoint(1200px) {
            padding: 0px 10px;

            &--monthly {
                flex: 0 0 50%;
                max-width: 50%;
                width: 50%;
            }
        }
    }

    &__cvc {
        display: flex;
        margin-bottom: 30px;

        @include breakpoint(1200px) {
            margin-bottom: 0px;
        }
    }

    &__cvc-input {
        width: 157px;
        max-width: 157px;
    }

    &__cvc-image {
        height: 60px;
        margin-left: 20px;
    }

    &__cvc-divider {
        @include breakpoint(1200px) {
            display: none;
        }
    }

    &__nav-links {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;

        @include breakpoint(1200px) {
            padding-top: 0px;
        }

        .button {
            width: 100%;
            max-width: 375px;
        }

        &--annual {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .current-monthly {
        flex: 0 0 100%;
        max-height: 100%;
        margin-bottom: 20px;

        @include breakpoint(700px) {
            flex: 0 0 50%;
            max-height: 50%;
        }

        &__header {
            color: $color-primary;
            font-weight: 300;
            @include font-size(18px);
            line-height: 25px;

            @include breakpoint(700px) {
                @include font-size(20px);
                line-height: 28px;
            }
        }

        &__price {
            color: $color-primary;
            font-weight: 300;
            @include font-size(26px);
            letter-spacing: 0.2px;
            line-height: 36px;

            @include breakpoint(700px) {
                @include font-size(50px);
                letter-spacing: 0.3px;
                line-height: 70px;
            }
        }
    }

    .new-monthly {
        flex: 0 0 100%;
        max-height: 100%;

        @include breakpoint(700px) {
            flex: 0 0 50%;
            max-height: 50%;
        }

        &__header {
            color: $color-primary;
            font-weight: 500;
            @include font-size(18px);
            line-height: 25px;

            @include breakpoint(700px) {
                @include font-size(20px);
                line-height: 28px;
            }
        }

        &__price {
            color: $color-primary;
            font-weight: bold;
            @include font-size(26px);
            letter-spacing: 0.2px;
            line-height: 36px;

            @include breakpoint(700px) {
                @include font-size(50px);
                letter-spacing: 0.3px;
                line-height: 70px;
            }
        }

        .payment-table {
            color: $color-primary;
            font-weight: 300;
            border-collapse: collapse;
            margin: 10px 0px 20px 0px;
            width: 100%;

            @include breakpoint(700px) {
                margin-top: 0px;
                margin-bottom: 20px;
            }

            tr {
                border-bottom: $table-border;
                height: 48px;

                td:nth-child(2) {
                    text-align: right;
                }
            }

            &__bold {
                font-weight: bold;
            }

            &__refund {
                font-weight: bold;
                color: $color-green;
            }
        }
    }

    .payment-breakdown-table {
        padding: 0px 10px;
        margin-top: 20px;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;

        th {
            font-weight: bold;
            border-bottom: $table-border;
            padding-bottom: 20px;
        }

        td {
            font-weight: 300;
            padding-top: 20px;
        }

        @media only screen and (max-width: 700px) {
            margin-top: 0px;

            table, thead, tbody, th, td, tr {
                display: block;
            }

            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr {
                border-bottom: 1px solid $color-grey--light;
                padding: 20px 0px;
            }

            td {
                position: relative;
                padding-top: 0px;
                padding-left: 50%;
            }

            td:nth-of-type(1) {
                padding-left: 0px;
                padding-bottom: 20px;
                @include font-size(18px);
                font-weight: 500;
                line-height: 25px;
            }

            td:before {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                @include font-size(16px);
                font-weight: bold;
                line-height: 29px;
            }

            td:nth-of-type(2):before {
                content: "Payable date";
            }

            td:nth-of-type(3):before {
                content: "Amount";
            }

            td:nth-of-type(4):before {
                content: "Payment method";
            }
        }
    }
}
