$renewals-banner-background-color: $color-primary !default;
$renewals-banner-welcome-color: #fff !default;
$renewals-banner-details-color: #fff !default
$renewals-price-background-color: $bg-lighter-grey !default;

.renewals-header {
    &__link {
        color: $renewals-header-link-color;
        font-weight: 500;
        border-bottom: 1px solid $renewals-header-link-border-bottom-color;
        display: inline-block;
        float: right;

        :hover {
            color: $renewals-header-link-color-hover;
        }
    }
}

.renewals-banner {
    background: $renewals-banner-background-color;

    h1 {
        margin: 0px;
    }

    &__welcome {
        display: block;
        color: $renewals-banner-welcome-color;
        text-align: center;
        @include font-size(40px);
        font-weight: bold;
        letter-spacing: 0.2px;
        line-height: 56px;
        margin-bottom: 20px;
    }

    &__renewal-intro, &__renewal-details, &__days {
        display: block;
        color: $renewals-banner-details-color;
        text-align: center;
        @include font-size(30px);
        font-weight: 300;
        letter-spacing: 0.1px;
        line-height: 42px;
    }
}

.renewals-price {
    background: $renewals-price-background-color;
    padding: 40px 0px;

    &__header, &__price {
        display: block;
    }

    &__header {
        @include font-size(20px);
        line-height: 28px;
    }

    &__price {
        @include font-size(40px);
        letter-spacing: 0.2px;
        line-height: 56px;
    }

    &__bold-legal-text {
        @include font-size(13px);
        font-weight: bold;
        line-height: 20px;

        a {
            font-weight: bold;
            text-decoration: underline;
            color: $renewals-price-link-color;
        }
    }
}

.renewals-confirm {
    margin-top: 40px;

    hr {
        margin: 40px 0px;
    }

    .button-wrapper {
        flex-direction: row;

        .button {
            margin: 0.5rem auto;
        }
    }
}

.renewals-make-a-change {
    a {
        font-weight: bold;
        text-decoration: underline;
        color: $renewals-make-a-change-link-color;
    }

    hr {
        margin: 40px 0px;
    }
}

.renewals-included {
    &__reg, &__heading {
        @include font-size(13px);
        font-weight: 300;
        line-height: 20px;
    }

    &__vehicle, &__address p {
        @include font-size(16px);
        font-weight: bold;
        line-height: 29px;
        color: $color-primary;
    }

    &__trim {
        @include font-size(16px);
        font-weight: 300;
        line-height: 29px;
        color: $color-primary;
    }

    &__key-features {
        margin-top: 40px;
    }

    .policy-inclusion {
        &__container {
            margin-top: 40px;
            justify-content: center;

            @media screen and (max-width: 600px) {
                justify-content: start;
            }

            li {
                flex: 0 0;
                width: 300px;

                @media screen and (max-width: $screen-lg) {
                    width: 160px;
                }
            }
        }

        &__image-wrapper {
            background-color: $renewals-whats-included-bubbles;
        }
    }

    &__see-more-button {
        display: flex;
        justify-content: center;
    }

    hr {
        margin: 40px 0px;
    }
}

.renewals-driver {
    .profiles {
        justify-content: start;
        justify-items: start;
        margin-top: 50px;
    }

    hr {
        margin: 40px 0px;
    }
}

.renewals-info {
    $renewals-info: &;
    .accordion ul {
        #{$renewals-info}__insurers-list {
            padding-left: 20px;
            list-style: disc;
            @include font-size(16px);
            font-weight: 300;
            line-height: 29px;
        }
    }

    .row {
        li {
            border-bottom: none;
        }
    }

    &__legal-text-list {
        list-style: disc;
        list-style-position: inside;
        @include font-size(13px);
        font-weight: 300;
        padding: 0;
    }

    hr {
        margin: 40px 0px;
    }
}
