.customerservice {
	text-align: center;

	&_icon {
		color: #6859A3;
		display: block;
		font-size: 72px;
		line-height: 72px;
		margin: auto;
		max-width: 100px;
		text-align: center;
	}

	&_buttons {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	p {
		margin-left: auto;
		margin-right: auto;
		max-width: 376px;
	}

	&--times {
		margin-bottom: 80px;
	}

	&--divider {
		margin: 40px auto;
	}
	
}