﻿$notifications-heading-color: #3b5998 !default;
$notifications-heading-font-weight: bold !default;


.notifications {
    position: relative;

    @include breakpoint(mobile480) {
        margin: auto;
        padding: 0;
        border: none;
    }

    &__container {
        padding: 0.6rem 1rem;
        background-color: #f7faff;
        border: solid 1px $color-primary;
        border-left: solid 5px $color-primary;
    }

    &__header-wrapper {
        padding: 5px 0;
    }

    &__img {
        height: 37px;
        width: 30px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
        background-image: url('../images/icon-notification.png');
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
    }

    &__counter {
        display: inline-block;
        position: relative;
        top: -9px;
        left: -14px;
        color: #fff;
        background-color: #ff5252;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        text-align: center;
        @include font-size(10px);
    }

    &__heading {
        display: inline-block;
        vertical-align: middle;
        color: $notifications-heading-color;
        font-weight: $notifications-heading-font-weight;
        margin-bottom: 0px;
        @include font-size(18px);

        @include breakpoint(mobile320) {
            text-align: left;
        }
    }

    &__list {
        margin: 0;
    }

    &__item {
        font-weight: bold;
        color: $color-primary;
        padding: 3px 0;

        @include breakpoint(mobile320) {
            text-align: left;
        }
    }

    &__text {
        font-weight: normal;
        color: #444;
    }
}
