﻿$policy-inclusion-dimension: 100px !default;
$policy-inclusion-dimension-large: 150px !default;

.policy-inclusion {
  display: inline-block;
  text-align: center;
  margin: 0 auto 20px auto;
  vertical-align: top;
  cursor: pointer;
  width: auto;

  @include breakpoint(580px) {
    margin: 0 10px 50px 10px;
  }

  &__container {
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;

    @include breakpoint(500px) {
      justify-content: flex-start;
    }
  }

  &__image-wrapper {
    background-color: $color-grey--lighter;
    padding: 10px;
    border-radius: 50%;
    height: $policy-inclusion-dimension;
    width: $policy-inclusion-dimension;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: solid 2px transparent;

    &:hover {
      border-color: $color-primary;
    }

    &--premium {
      padding: 10px;
      border-radius: 50%;
      height: $policy-inclusion-dimension;
      width: $policy-inclusion-dimension;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      border: solid 2px transparent;
      background-color: $color-secondary;

      @include breakpoint(580px) {
        height: $policy-inclusion-dimension-large;
        width: $policy-inclusion-dimension-large;
      }

      &:hover {
        border-color: $color-primary;
      }
    }

    @include breakpoint(580px) {
      height: $policy-inclusion-dimension-large;
      width: $policy-inclusion-dimension-large;
    }
  }

  &__image {
    width: 60px;
    height: 60px;

    @include breakpoint(580px) {
      width: 80px;
      height: 80px;
    }
  }

  &__heading {
    @include font-size(13px);
    font-weight: normal;
    width: $policy-inclusion-dimension;
    margin: 11px 0 0 0;
    color: $color-primary;
    text-decoration: underline;
    text-decoration-color: #d6d2d5;

    @include breakpoint(580px) {
      @include font-size(16px);
      width: $policy-inclusion-dimension-large;
    }
  }
}
.cover-features-list__item.disabled {
  color: $color-primary;
  background-color: transparent;
  pointer-events: none;
  cursor: text;
  text-decoration: none;
}

.cover-features-list__item.disabled button {
  border-color: transparent;
  color: $color-primary;
}

.step-form__heading {
  display: inline;
  letter-spacing: -1px;
}

.demands-questions .form-row__input--hidden {
  position: fixed;
}

.step-form__button.ncd-years {
  min-width: 120px;
}

.cover-features-list__item {
  list-style-type: none;
  float: left;
  padding-left: 28px;
  background-image: url("../images/icon-tick-circle.svg");
  background-position: 0 2px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  margin: 10px 0;
  width: 100%;
  line-height: 28px;

  &--caption {
    @include font-size(12px);
    color: $color-font--light;
    display: block;
    text-align: left;
    width: 70%;
    font-weight: 300;
    line-height: 18px;
    margin-top: 5px;

    @include breakpoint(400px) {
      @include font-size(14px);
      font-weight: 400;
    }

    @include breakpoint(700px) {
      width: 80%;
    }

    @include breakpoint(900px) {
      width: 65%;
      margin-top: 15px;
    }
  }

  flex-direction: column;
  flex: 1 1 100%;
  //padding: 4px 0 5px 0;
  @include font-size(17px);
  font-weight: 300;

  @include breakpoint(600px) {
    @include font-size(22px);
    flex-direction: row;
    flex: 0 0 50%;
    max-width: 50%;
  }

  @include breakpoint(900px) {
    flex: 0 0 33%;
    max-width: 33.3333%;
  }

  &:hover {
    text-decoration: none;
  }

  .list--vertical & {
    @include breakpoint(600px) {
      @include font-size(22px);
      flex-direction: row;
      flex: 0 0 100%;
      max-width: 100%;
    }

    @include breakpoint(900px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.error-text__heading .form-row__label--pill {
  color: $color-red;
  font-weight: normal;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid $color-red;
}

.feature-header__container--margin {
  margin-bottom: 30px;
}

.feature-header--margin {
  margin-bottom: 0px;
}

.addon-form--margin {
  margin-top: 0px;
}

.home-features-slider {
    &__sub-header {
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;

        @include breakpoint(700px) {
            font-size: 20px;
            line-height: 28px;
        }
    }

    &__divider {
        margin: 40px 0px;

        @include breakpoint(700px) {
            margin: 80px 0px;
        }
    }
}

.summary-banner {
    @include wordbreak;
}

.card-container:not(.is-active) .card-container__card:nth-child(n + 7) {
  display: none;
}

.policy-inclusion-premier {
  button, .card-container__card-content {
    background-color: $policy-feature-premier-button-background;

    .card-container__card-title {
      color: $policy-feature-premier-button-color;
    }
    .card-container__card-description {
      color: $policy-feature-premier-button-color;
    }
  }
}

.included-section--header {
  color: $included-section--header-color !important;
}
.link.inclusion-list__link {
    color: $inclusion-list__link-color;
    border: none;

    &:hover {
        background-color: transparent !important;
        border: none !important;
        color: $inclusion-list__link-color;
    }
}
