.notification_section .row {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.policy-overview-notification {
    .sub-heading {
        font-weight: 500;
    }
}

.todo-button-conatiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

    @include breakpoint($screen-lg) {
        display: block;
    }

    .primary-action {
        min-width: 250px;
        margin: 0px;
        margin-bottom: 20px;
        @include font-size(14px);
        font-weight: 400;
        padding-left: 2px;
        padding-right: 2px;

        @include breakpoint($screen-lg) {
            margin-right: 20px;
        }
    }

    .secondary-action {
        min-width: 250px;
        margin: 0px;
        @include font-size(14px);
        font-weight: 400;
        padding-left: 2px;
        padding-right: 2px;

        @include breakpoint($screen-lg) {
            min-width: 150px;
        }
    }
}

.no-active-payment-method-notification {
    &__list {
        margin-bottom: 20px;
    }

    &__opening-times-header {
        margin-bottom: 0px;
    }
}

.notifications__list {
    .button--very-small {
        max-width: 130px;
    }
}