.home-banner {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	background: transparent url("../images/image-home-policy.svg") 50% 100% no-repeat;
    padding: 20px 0 160px 0;
}

.home-banner__address {
	display: block;
	flex: 0 1 auto;
	position: relative;
	background: white;
	padding: 1rem;
	color: $color-primary;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;	
	min-width: 276px;	
	border: 1px solid #E5E5E5;	
	border-radius: 10px;	
	background-color: #FFFFFF;
}

.home-banner__address::after {
	position: absolute;
	bottom: -11px;
	left: calc(50% - 10px);
	content: "";
	background: #fff;
	height: 20px;
	width: 20px;
	transform: rotate(-45deg);
	border: 1px solid #E5E5E5;
	border-right: transparent;
	border-top: transparent;
}