$color-bg-grey-light: #F6F6F6;

.ui-helper-hidden-accessible {
    display: none;
}

.uk-resident-dropdowns {

    .form-row {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;

        &:nth-of-type(1) {
            padding-right: 10px;
        }
    }
}

.named-driver {
    &-carousel {
        overflow: hidden;
        position: relative;
        height: 50px;
        margin-bottom: 15px;
        border-bottom: 0.5px solid $color-bg-grey-light;
    }

    &-wrapper {
        display: inline-block;
        height: 50px;
        text-align: center;
        position: absolute;
        overflow: hidden;
        left: 0;
        transition: left .3s ease-in-out;


        .driver-tabs {
            cursor: pointer;
            float: left;
            margin-bottom: 0px;
            display: block;
            padding: 10px 40px;
            font-weight: 300;
        }
    }

    &-item {
        float: left;

        input {
            display: none;

            &:checked + label {
                border-bottom: 2px solid $color-primary;
                color: $color-primary;
                font-weight: bold;
            }
        }
    }

    &-scrollbar-arrow-right,
    &-scrollbar-arrow-left {
        position: absolute;
        top: 8px;
        bottom: 0;
        display: none;
        height: 25px;
        width: 25px;
        z-index: 5;
    }

    &-scrollbar-arrow-left {
        left: 0;
        background-color: #FFF;
        background-image: url('../images/icon-arrow-left-lightgrey.svg');
        background-repeat: no-repeat;
        background-position: center;

        &:hover,
        &:active {
            background-image: url('../images/icon-arrow-left-grey.svg');
        }
    }

    &-scrollbar-arrow-right {
        right: 0;
        background-image: url('../images/icon-arrow-right-lightgrey.svg');
        background-repeat: no-repeat;
        background-position: center;

        &:hover,
        &:active {
            background-image: url('../images/icon-arrow-right-grey.svg');
        }
    }
}

/* 
    NEW VERSION OF TABS
*/

.named-driver-list {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.named-driver-scroller {
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 58px;

    &__scroll-area {
        overflow-x: scroll;
        display: flex;
        margin-bottom: 0;
    }

    &__scroll-area::-webkit-scrollbar {
        display: none !important;
    }

    &__scroll-content {
        position: relative;
        display: flex;
        flex: 1 0 auto;
        will-change: transform;
    }
}

.named-driver-tab {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    height: 48px;
    padding: 0 24px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    user-select: none;
    border: none;
    background: transparent;
    box-shadow: none;
    outline: none;
    font-size: 1rem;
    margin: 6px; // To allow box shadow on focus

    &__content {
        white-space: nowrap;
    }

    &--active {
        background-color: #f5f5f5;
    }

    &--active::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: $color-primary;
    }
}

.named-driver-pagination__left,
.named-driver-pagination__right {
    display: flex;
    flex: 0 0 30px;
    max-width: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.hide {
        display: block;
        visibility: hidden;
    }

    & .pagination-arrow {
        display: block;
        height: 18px;
        width: 18px;
    }
}

a.link.review-overview__person-link.named-driver-link {
    font-size: 16px;
}

.table-row.table-row-remove {
    border-bottom: transparent;
    margin-bottom: 25px;
    margin-top: 25px;
}

.review-overview {
    width: 100%;

    @include breakpoint(820px) {
        display: table;
    }

    &__section {
        vertical-align: top;
        padding: 0;

        @include breakpoint(820px) {
            display: table-cell;
            width: 50%;
            padding: 0;
            vertical-align: top;
        }

        &:nth-of-type(1) {
            border-bottom: solid 1px #D8D8D8;

            @include breakpoint(820px) {
                border-bottom: none;
                border-right: solid 1px #D8D8D8;
            }
        }
    }

    &__cover-wrapper {
        width: 100%;
        display: table;
    }

    &__cover-section {
        width: 100%;
        display: table-cell;
        width: 50%;

        &--right {
            text-align: right;
        }
    }

    &__heading {
        margin: 0;
    }

    &__heading-text {
        @include font-size(24px);
        color: $color-primary;

        &--secondary {
            @include font-size(16px);
        }
    }

    &__heading-mid-wrapper {
        font-weight: bold;
        @include font-size(20px);
        display: block;
        margin-top: 5px;
        color: $color-primary--light;
        margin: 10px 0;
    }

    &__heading-sub-wrapper {
        font-weight: normal;
        @include font-size(16px);
        display: block;
        margin-top: 5px;
    }

    &__address {
        padding-left: 25px;
        background-image: url('../images/icon-house.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        font-weight: 300;
        background-size: 20px 20px;
    }


    &__address-link {
        @include font-size(13px);
        font-weight: 600;
    }

    &__form-row {
        padding: 0;
        margin: 20px 0;
    }

    &__heading-link {
        font-weight: 600;
    }

    &__cover-section {
        @include font-size(13px);
    }

    &__cover-heading {
        margin: 0 0 10px 0;
        font-weight: 300;
    }

    &__cover-text {
        margin: 0 0 10px 0;
        font-weight: bold;
    }

    &__section-wrapper {
        text-align: left;

        @include breakpoint(820px) {
            text-align: center;
        }
    }

    &__person {
        position: relative;
        display: inline-block;
        padding: 0;
        vertical-align: top;
        margin: 1rem 0 0 -0.5rem;
        text-align: left;

        &:first-child {
            margin-left: 0;
            z-index: 3;
        }

        &:nth-of-type(2) {
            z-index: 2;
        }

        &:nth-of-type(3) {
            z-index: 1;
        }
    }

    &__person-disc {
        height: 110px;
        width: 110px;
    }

    &__person-role {
        color: #858585;
        @include font-size(12px);
        font-weight: normal;
        margin-bottom: 5px;
    }

    &__person-name, 
    &__add-driver {
        color: #4A4A4A;
        @include font-size(13px);
        margin: 0 auto;
    }

    &__person-firstname {
        display: block;
    }

    &__person-lastname {
        display: block;
    }

    &__person-link {
        font-weight: bold;
        @include font-size(12px);
    }


    &__ncd-section {
        text-align: center;
        padding: 0 20px;
        display: block;
        margin-top: 30px;
        color: $color-primary;

        @include breakpoint(500px) {
            display: inline-block;
            vertical-align: middle;
            margin-top: 0;
        }

        @include breakpoint(820px) {
            display: table-cell;
        }
    }

    &__ncd-heading {
        @include font-size(13px);
        font-weight: 600;
        margin: 0;
    }

    &__ncd-years {
        @include font-size(28px);
        margin: 0;
    }

    &__ncd-link {
        font-weight: bold;
        @include font-size(13px);
    }
}

.review-details {
    &__text {
        @include font-size(20px);
    }
}

.ui-menu {
    display: block;
    max-height: 275px;
    overflow: auto;
    padding: 0px;
    list-style: none;
    border: 2px solid $color-grey--light;
    border-radius: 4px;
}

.ui-menu li {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $color-grey--dark;

    &.ui-menu-item-active {
        background-color: $color-primary;
        color: $color-grey--lighter;
        cursor: default;
    }
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

.form-row__divider-last {
    height: 0px;
}

// MA Driver Details
.driver-details-step-form {
    &__breadcrumb-link {
        margin-bottom: 0px;
    }
}

.named-driver-link span {
    text-decoration: underline;
}
