@using BGL.Common.Configuration.Interfaces
@using BGL.Components.AdditionalDetails

@{
    ViewBag.Title = "Contact Details";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderAndFinally(new ComponentAdditionalDetailsConfiguration
        {
            Id = "AndFinally",
            NextPageUrl = Url.Action("DirectPrePriceLegal", "Legal"),
            DataStoreKey = "OtherDetails",
            PreviousPageUrl = Url.Action("PaymentsRegularity", "OtherDetails"),
            TenantConfiguration = tenantConfiguration
        })
    </div>
</div>

