﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.WelcomeQuote.Models
@model BGL.Components.WelcomeQuote.Models.WelcomeQuoteViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var isMonthly = Model.PaymentSummaryData.SelectedPaymentType == WelComeQuoteConstants.PaymentPlan;
    var annualData = Model.PaymentSummaryData.AnnualPaymentSummaryData;
    var monthlyData = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
    var monthlyNotificationMessage = $"OK {Model.Name}, your new price is £{monthlyData?.RegularInstallmentAmount} a month with a deposit of £{monthlyData?.DepositAmount}. The underwriter for your policy is ##UNDERWRITER##";
    var annualNotificationMessage = $"OK {Model.Name}, your new price is £{annualData?.TotalAmountPayable}. The underwriter for your policy is ##UNDERWRITER##";
    var amountRadioLabelViewName = Model.ComponentConfiguration.ViewOptions.WelcomeQuoteAmountRadioLabel.GetViewNameFromEnum(true);
}

@using (Html.BeginFormBgl("PaymentSwitch", "WelcomeQuoteComponent", FormMethod.Post, new
{
    id = "PaymentSummaryMVTForm",
    data_store_key = "WelcomeQuote",
    data_on_success = "bgl.components.welcomequotepaymentswitchformmvt.onSuccess"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.PaymentSwitchId)

    if (monthlyData != null)
    {
        <fieldset>
            <legend class="form-row__legend form-row__legend--hidden">Select payment type</legend>
            <div class="payment-options">
                @Html.RadioButtonFor(x => x.PaymentSwitchId, annualData.Id, new
                {
                    @class = "payment-option__radio visually-hidden",
                    id = "paymentAnnualRadio",
                    tabindex = "0",
                    data_testid = $"{componentId}__annual-radio",
                    data_pay_schedule = "annually"
                })

                @Html.Partial(amountRadioLabelViewName, new AmountRadioLabelModel(PaymentType.Annual, annualData.TotalAmountPayable, componentId))

                @Html.RadioButtonFor(x => x.PaymentSwitchId, monthlyData.Id, new
                {
                    @class = "payment-option__radio visually-hidden",
                    id = "paymentMonthlyRadio",
                    tabindex = "0",
                    data_testid = $"{componentId}__monthly-radio",
                    data_pay_schedule = "monthly"
                })

                @Html.Partial(amountRadioLabelViewName, new AmountRadioLabelModel(PaymentType.Monthly, monthlyData.RegularInstallmentAmount, componentId))
            </div>
        </fieldset>

        @Html.Hidden("monthly-welcomeQuote-notification-message", monthlyNotificationMessage)
        @Html.Hidden("annual-welcomeQuote-notification-message", annualNotificationMessage)
    }
}