﻿@using BGL.Components.WelcomeQuote.Models
@model BGL.Components.WelcomeQuote.Models.WelcomeQuoteViewModel

@{
    var isMonthly = Model.PaymentSummaryData.SelectedPaymentType == WelComeQuoteConstants.PaymentPlan;
    var monthlyData = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
    var avivaCreditPhoneNumber = Model.ComponentConfiguration.AvivaCreditPhoneNumber;

    var avivaLegalText = Model.Underwriter.ToUpper() == "AVIVA"
        ? $"Credit is also available from Aviva Credit at an increased cost. If you want to continue with Aviva Credit, please call {avivaCreditPhoneNumber}."
        : string.Empty;
}

@if (monthlyData != null)
{
    <p class="welcome-quote__sub-text @(isMonthly ? string.Empty : "hide")" data-subtext="credit-agreement-text">If you pay by instalments, you will enter into a credit agreement. A record of the credit search will be visible to other lenders and details of your credit agreement will appear on your credit report.</p>
    <p class="welcome-quote__sub-text @(isMonthly ? string.Empty : "hide") primary" data-subtext="credit-agreement-text">
        <strong>
            To pay today &pound;@monthlyData.DepositAmount, followed by @monthlyData.NoOfInstallment monthly payments of &pound;@monthlyData.RegularInstallmentAmount.
            Total amount payable &pound;@monthlyData.TotalAmountPayable. Amount of credit &pound;@monthlyData.CreditAmount.
            Charge for credit &pound;@monthlyData.CreditCharge.
            Cash price &pound;@monthlyData.CashPrice. Applicable APR @monthlyData.ApplicableApr%.
        </strong>
    </p>
    <p class="welcome-quote__sub-text @(isMonthly ? string.Empty : "hide")" data-subtext="credit-agreement-text">
        Credit is provided by BFSL Limited. Registered office: Pegasus House, Bakewell Road, Orton Southgate, Peterborough, PE2 6SY.
        @avivaLegalText
        BISL Limited is not independent as both BISL Limited and BFSL Limited are part of the BGL Group of Companies.
    </p>
}
