﻿@using System.Globalization
@using BGL.Components.WelcomeQuote.Models
@model BGL.Components.WelcomeQuote.Models.AmountRadioLabelModel
@{
    var type = Model.NameType.ToLower(CultureInfo.InvariantCulture);
}

<label for="payment@(Model.NameType)Radio" class="payment-option payment-option--@type">
    <span class="payment-option__frequency">@Model.NameType</span>
    <span class="payment-option__amount" data-testid="@(Model.ComponentId)__@type-price-label">&pound;@Model.Amount 
        <span class="text-light">/ @(Model.Type == PaymentType.Annual ? "year" : "month")</span>
    </span>
</label>