﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Components.WelcomeQuote.Models
@model BGL.Components.WelcomeQuote.Models.WelcomeQuoteViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var isMonthly = Model.PaymentSummaryData.SelectedPaymentType == WelComeQuoteConstants.PaymentPlan;
    var annualData = Model.PaymentSummaryData.AnnualPaymentSummaryData;
    var monthlyData = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
}

@if (monthlyData == null && annualData != null)
{
    <strong class="@(isMonthly ? " hide" : string.Empty) welcome-quote__price">&pound;<span data-testid="@(componentId)__price">@annualData.TotalAmountPayable</span></strong>
    <span class="welcome-quote__selector">
        <div class="welcome-quote__selector-wrapper">
            <div class="@(isMonthly ? "hide" : string.Empty) welcome-quote__selector-option-annual-only" data-testid="@(componentId)_selector-option" tabindex="0">a year</div>
        </div>
    </span>
}
