﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.WelcomeQuote.Models
@using BGL.Components.WelcomeQuote.ViewOptions
@model BGL.Components.WelcomeQuote.Models.WelcomeQuoteViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var annualData = Model.PaymentSummaryData.AnnualPaymentSummaryData;
    var monthlyData = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
    var monthlyNotificationMessage = $"OK {Model.Name}, your new price is £{monthlyData?.RegularInstallmentAmount} a month with a deposit of £{monthlyData?.DepositAmount}. The underwriter for your policy is ##UNDERWRITER##";
    var annualNotificationMessage = $"OK {Model.Name}, your new price is £{annualData?.TotalAmountPayable}. The underwriter for your policy is ##UNDERWRITER##";
    var welcomeQuoteDescriptionViewName = Model.ComponentConfiguration.ViewOptions.WelcomeQuoteDescription.GetViewNameFromEnum(true);
    var amountRadioLabelViewName = Model.ComponentConfiguration.ViewOptions.WelcomeQuoteAmountRadioLabel.GetViewNameFromEnum(true);
    var splitPaymentInformation = Model.ComponentConfiguration.ViewOptions.WelcomeQuoteDescription == WelcomeQuoteDescription.WithISFWording;
}

@if (monthlyData != null)
{
    using (Html.BeginFormBgl("PaymentSwitch", "WelcomeQuoteComponent", FormMethod.Post, new
    {
        id = "PaymentTypeForm",
        data_store_key = "WelcomeQuote",
        data_on_success = "bgl.components.welcomequotepaymenttypeform.onSuccess"
    }))
    {
        @Html.AntiForgeryToken()

        <div class="page-section section-policy-payment">
            <div class="page-section--inner">
                <h2 class="section-header">How would you like to pay?</h2>
                <fieldset>
                    <legend class="form-row__legend form-row__legend--hidden">Select payment type</legend>
                    <div class="payment-options">
                        @Html.RadioButtonFor(x => x.PaymentSwitchId, annualData.Id, new
                        {
                            @class = "payment-option__radio visually-hidden",
                            id = "paymentAnnualRadio",
                            tabindex = "0",
                            data_testid = $"{componentId}__annual-radio",
                            data_pay_schedule = "annually"
                        })

                        @Html.Partial(amountRadioLabelViewName, new AmountRadioLabelModel(PaymentType.Annual, annualData.TotalAmountPayable, componentId))

                        @Html.RadioButtonFor(x => x.PaymentSwitchId, monthlyData.Id, new
                        {
                            @class = "payment-option__radio visually-hidden",
                            id = "paymentMonthlyRadio",
                            tabindex = "0",
                            data_testid = $"{componentId}__monthly-radio",
                            data_pay_schedule = "monthly"
                        })

                        @Html.Partial(amountRadioLabelViewName, new AmountRadioLabelModel(PaymentType.Monthly, monthlyData.RegularInstallmentAmount, componentId))

                        <div class="payment-annual-information">
                            <div class="daily-pricing-container">
                                <div class="daily-pricing">
                                    <img class="daily-pricing__icon" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)icon-set-price.svg" alt="" aria-hidden="true">
                                    <p class="daily-pricing__message">Why not consider spreading the cost?</p>
                                    <p class="daily-pricing__sub-message">Choose to pay by monthly instalments</p>
                                </div>
                            </div>
                            @if (splitPaymentInformation)
                            {
                                @Html.Partial(welcomeQuoteDescriptionViewName + "Annual", Model)
                            }
                        </div>
                        <div class="payment-monthly-information">
                            @if (splitPaymentInformation)
                            {
                                @Html.Partial(welcomeQuoteDescriptionViewName + "Monthly", Model)
                            }
                            else
                            {
                                @Html.Partial(welcomeQuoteDescriptionViewName, Model)
                            }
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        @Html.Hidden("monthly-welcomeQuote-notification-message", monthlyNotificationMessage)
        @Html.Hidden("annually-welcomeQuote-notification-message", annualNotificationMessage)
    }
}