﻿@using System.Configuration
@using System.Security.Claims
@using BGL.Common.Utility.Extensions
@using BGL.Common.BaseApplication.Telemetry
@using BGL.Common.Configuration.Interfaces
@using BGL.Common.ScriptRegister
@using BGL.Components.GoogleTagManager
@using BGL.Components.PageReloader
@using BGL.Components.Houston
@using BGL.Components.Navigation
@using BGL.Components.Navigation.Models

@{
    var config = DependencyResolver.Current.GetService<IConfig>();
    var tenantConfiguration = config.GetTenantConfiguration();
    var vaConfig = config.GetVirtualAssistantConfiguration();
    var bglBundlingEnabled = bool.TryParse(ConfigurationManager.AppSettings["BundlingEnabled"], out var bundlingEnabled) && bundlingEnabled;
    var logoImagePath = $"{tenantConfiguration.ResourceBasePath}logo-brand.png";
    var product = (User as ClaimsPrincipal)?.Product();
    var isVan = product.Equals("Van", StringComparison.OrdinalIgnoreCase);
    var controller = product.Equals("Car", StringComparison.OrdinalIgnoreCase) ? "YourCar" : "YourVan";

    var pagesWithoutBackAction = new List<string>
    {
        Url.Action("Direct", "Legal", new { id = UrlParameter.Optional }),
        Url.Action("PrePriceImportantInformation", "Legal"),
        Url.Action("PostPriceImportantInformation", "Legal"),
        Url.Action("AllDone", "Payment"),
        Url.Action("Index", "SessionTimeout")
    };

    var listOfPageWithAsyncComponents = new List<string>
    {
        Url.Action("VehicleDetails", controller)
    };
    var listOfPostQuotePages = new[] {"/pricepresentation", "/extras", "/review", "/payment/"};
    var preQuote = listOfPostQuotePages.All(s => !(bool)(Request?.Url?.AbsolutePath?.ToLower().Contains(s)));
    var policyBaseUrl = new Uri(ConfigurationManager.AppSettings["PolicyBaseUrl"]);
    var privacyPolicyUrl = new Uri(policyBaseUrl, $"/Legal/{(isVan ? "LC" : "PC")}/Privacy_policy.html");

    var componentHoustonConfiguration = new ComponentHoustonConfiguration
    {
        Id = "Houston",
        Brand = vaConfig.BrandName,
        LivePersonBrand = vaConfig.LivePersonBrandName,
        Application = vaConfig.Application,
        JourneySection = "DTS",
        Product = product,
        Journey = isVan ? "Van" : "Car",
        ContactDataUrl = Url.Action("HoustonContactData", "ContactData"),
        InvocationPoint = vaConfig.DefaultInvocationPoint,
        PageNamePrefix = "Sales_TE_",
        TenantConfiguration = tenantConfiguration,
        IsPreQuote = preQuote,
        OnError = Request?.Url == null || Request.Url.AbsolutePath.ToLower().Contains("error"),
    };
    var ninaPreprod = vaConfig.IsVaLive ? string.Empty : $"window.NinaVars.preprod=true;";
    Html.RegisterScript("window.NinaVars=window.NinaVars||{};window.NinaVars.isSelfService=false;" +
                        $"window.NinaVars.isSales=true;{ninaPreprod}window.siteId='{vaConfig.WebChatAccount}';", ScriptLocation.HeadBottom);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="SvrId" content="TE.NET" />
    <title>@ViewBag.Title - Budget Insurance</title>
    <link rel="shortcut icon" href="@ConfigurationManager.AppSettings["ApplicationPath"]favi.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")

    @Html.ComponentRenderOneTrust(new ComponentGoogleTagManagerConfiguration
    {
        OneTrustConfiguration = config.GetOneTrustConfiguration(),
    })

    @Scripts.Render("~/bundles/vendor")
    @if (bglBundlingEnabled)
    {
        @Scripts.Render("~/bundles/bgl")
    }
    @Html.ComponentRenderGoogleTagManager(new ComponentGoogleTagManagerConfiguration
    {
        Id = "GoogleTagManager",
        GtmConfiguration = config.GetGtmConfiguration(),
        TenantConfiguration = tenantConfiguration,
        IgnoreSource = true
    })

    @Html.ComponentRenderGoogleTagManagerDataLayer(new ComponentTagManagerConfiguration
    {
        QuoteTier = "Standard"
    })

    @Html.RenderRegisteredScripts(ScriptLocation.HeadTop)
    @Html.RenderRegisteredScripts(ScriptLocation.HeadBottom)
    @Html.RegisterTelemetryScript()

    @Html.ComponentRenderGoogleTagManagerTagManager(new ComponentTagManagerConfiguration
    {
        TagManagerScriptUrl = ConfigurationManager.AppSettings["TagManagerScriptUrl"]
    })
</head>
<body>
    @Html.RenderRegisteredScripts(ScriptLocation.BodyTop)
    <a href="#" id="header-focus" class="hide" tabindex="-1">header focus</a>
    <a class="skip-to-main-content" data-testid="header__skip-to-main-content" href="#main-content">Skip to main content</a>
    <div class="all-content">

        @if (IsSectionDefined("Header"))
        {
            @RenderSection("Header")
        }
        else
        {
            <header class="page-header" id="fixed-header">
                <div class="page-header__wrapper">
                    <div class="page-header__section page-header__section--left">
                        <img class="page-header__logo" src="@logoImagePath" alt="Budget Insurance"/>
                    </div>
                    <div class="page-header__section page-header__section--center">
                        @Html.ComponentRenderNavigation(new ComponentNavigationConfiguration
                        {
                            Id = "NavigationDirectToSite",
                            MenuKeyPointsConfig = new Dictionary<string, MenuItemConfig>
                            {
                                { "Your details", new MenuItemConfig
                                {
                                    ParentAction = Url.Action("Index", "YourDetails"),
                                    ChildActions = new List<string>
                                    {
                                        Url.Action("MaritalStatus", "YourDetails"),
                                        Url.Action("Address", "YourDetails"),
                                        Url.Action("HomeOwner", "YourDetails"),
                                        Url.Action("UkResident", "YourDetails"),
                                        Url.Action("EmploymentStatus", "YourDetails"),
                                        Url.Action("EmploymentOccupation", "YourDetails"),
                                        Url.Action("EmploymentBusinessType", "YourDetails"),
                                        Url.Action("PartTimeOccupation", "YourDetails"),
                                        Url.Action("PartTimeOccupationType", "YourDetails"),
                                        Url.Action("PartTimeBusinessType", "YourDetails"),
                                        Url.Action("LicenceType", "YourDetails"),
                                        Url.Action("LicenceDate", "YourDetails"),
                                        Url.Action("LicenceNumber", "YourDetails"),
                                        Url.Action("MedicalCondition", "YourDetails"),
                                        Url.Action("MedicalConditionDvlaNotified", "YourDetails"),
                                        Url.Action("DeclinedInsurance", "YourDetails"),
                                        Url.Action("MotorClaims", "YourDetails"),
                                        Url.Action("MotorConvictions", "YourDetails"),
                                        Url.Action("CriminalConvictions", "YourDetails"),
                                        Url.Action("AdditionalDrivers", "YourDetails")
                                    }
                                }},
                                { "Your " + product.ToLower(), new MenuItemConfig
                                {
                                    ParentAction = Url.Action("VehicleLookup", controller),
                                    ChildActions = new List<string>
                                    {
                                        Url.Action("VehicleDetails", controller),
                                        Url.Action("OvernightParking", controller)
                                    }
                                }},
                                { "Your cover", new MenuItemConfig
                                {
                                    ParentAction = Url.Action("Index", "YourCover"),
                                    ChildActions = new List<string>
                                    {
                                        Url.Action("RegisteredKeeperRelationship", "YourCover"),
                                        Url.Action("AboutRegisteredKeeper", "YourCover"),
                                        Url.Action("RegisteredKeeperMaritalStatus", "YourCover"),
                                        Url.Action("RegisteredKeeperSameAddress", "YourCover"),
                                        Url.Action("MainDriver", "YourCover"),
                                        Url.Action("CoverLevel", "YourCover"),
                                        Url.Action("CoverExcesses", "YourCover"),
                                        Url.Action("CoverStartDate", "YourCover"),
                                        Url.Action("AnnualMileage", "YourCover"),
                                        Url.Action("VehicleUse", "YourCover"),
                                        Url.Action("NcdYears", "YourCover"),
                                        Url.Action("NcdSource", "YourCover"),
                                        Url.Action("OtherVehicles", "YourCover"),
                                        Url.Action("PaymentsRegularity", "OtherDetails"),
                                        Url.Action("AndFinally", "OtherDetails")
                                    }
                                }},
                                {  "Quote", new MenuItemConfig() }},
                            TenantConfiguration = tenantConfiguration
                        })
                    </div>
                    <div class="page-header__section page-header__section--right"></div>
                </div>
            </header>
        }

        <main id="main-content">
            @RenderBody()
        </main>

        @Html.Partial("_SlidePanel")

        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            @Html.Partial("_Footer", true)
        }
    </div>

    @Html.ComponentRenderPageReloader(new ComponentPageReloaderConfiguration
    {
        Id = "PageReloader",
        TenantConfiguration = tenantConfiguration
    })

    <aside>
        @Html.ComponentRenderHouston(componentHoustonConfiguration)
    </aside>

    <script src="@Url.Content(ConfigurationManager.AppSettings["Nina-Block-Path"])"></script>

    @RenderSection("scripts", required: false)
    @Html.RegisterNavigationOppsPageBackButtonInitScript(pagesWithoutBackAction, listOfPageWithAsyncComponents)
    @Html.RenderRegisteredScripts(ScriptLocation.BodyBottom)

    @Html.Partial("_AjaxErrorScript")

    @Html.ComponentRenderGoogleTagManagerLaunchScript(new ComponentTagManagerConfiguration { })
</body>
</html>