﻿<table class="no-quote-table">
    <tbody>
        <tr class="no-quote-table__section">
            <td class="no-quote-table__item ">Monday - Friday</td>
            <td class="no-quote-table__item">8am - 9pm</td>
        </tr>
        <tr class="no-quote-table__section">
            <td class="no-quote-table__item ">Saturday</td>
            <td class="no-quote-table__item">9am - 5pm</td>
        </tr>
        <tr class="no-quote-table__section">
            <td class="no-quote-table__item ">Sunday</td>
            <td class="no-quote-table__item">10am - 4pm</td>
        </tr>
    </tbody>
</table>
