﻿@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Common.ScriptRegister
@using BGL.Common.Utility.Extensions

@model BGL.Security.Web.Authentication.Models.RetrieveQuoteViewModel

@{
    ViewBag.Title = "Retrieve Quote";
    Layout = "~/Views/Shared/" + ConfigurationManager.AppSettings["RetrieveQuoteLayoutHtml"];
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var logoImagePath = $"{tenantConfiguration.ResourceBasePath}logo-brand.png";
}

@section Header{
    <header class="page-header">
        <div class="page-header__wrapper">
            <div class="page-header__section page-header__section--left">
                <img class="page-header__logo" src="@logoImagePath" alt=""/>
            </div>
        </div>
    </header>
}

<main>
    <div class="page-section">
        <div class="page-section--inner">
            <div class="centered-main-heading">
                <h1 class="centered-main-heading__heading">
                    <span class="centered-main-heading__heading-text centered-main-heading__heading-text--bold">
                        Let&apos;s retrieve your quote
                    </span>
                </h1>
                <p class="centered-main-heading__text">
                    Welcome back, we just need a few details to get you going.
                </p>
                <div class="centered-main-heading__divider"></div>
            </div>
        </div>
    </div>

    @Html.Partial("_RetrieveQuoteForm", Model)

    @{
        Html.RegisterScript("bgl.components.retrievequote.init(" + Model.ComponentConfiguration.SerialiseObjectToJson(false) + ");", ScriptLocation.BodyBottom);
    }

</main>