.premium-cover__container {
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    height: 100%;
}

.premium-cover-header {
    position: relative;
    margin-top: 20px;
}

.premium-cover-header__heading {
    padding-left: 140px;
}

.premium-cover-header__question-text {
    padding-left: 140px;
    position: relative;
    @include font-size(19px);
    font-weight: 500;
    width: 80%;
    text-align: left;
}

.premium-cover-header__checkbox-container {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    top: 5px;
}

.premium-cover-info__container {
    margin: 0 50px;
}

.premium-cover-answer__text {
    color: $color-font--light;
    font-weight: 500;
}

.premium-cover-subheading {
    margin: 40px 0px; 
    width: 85%;
}

.premium-cover-info__subheading {
    @include font-size(19px);
    font-weight: 300;
}

.premium-cover-decision__container {
    margin: 60px 0px;
}