.fbels {
    display: block;
    padding-top: 20px;
}
.fbels__section {
    margin-bottom:50px;
    width:100%;
    display: block;
}

.fbels__heading {
    @include font-size(20px);
}

.fbels--columns{

    &::after {
        content: "";
        display: table;
        margin-bottom: 100px;
    }

    @include breakpoint(750px) {

        .fbels {
            display: flex;
        }

        & .fbels__section {
            margin:1rem 1rem 0 0;
            width:100%;
            display: block;
        }
        & .fbels__section:nth-child(2) {
            margin:1rem 0 0 1rem;
        }

    }

}

// FBELs Section
.section-fbels {
  .fbels--columns::after {
    display: none;
  }

  .list--fbels {
    .list__item {
      margin: 0 0 20px 0;
    }
  }
}
.fbel-banner {
  background-color: $fbel-banner-background-color;
  border-radius: $fbel-banner-border-radius;
  border: 1px solid $fbel-banner-border-color;
  text-align: center;
  padding: 20px;
  margin-top: 40px;

  @include breakpoint($screen-md) {
    padding: 40px;
  }

  &__image {
    height: 60px;
    margin-bottom: 10px;
  }

  h3 {
    color: $fbel-banner-heading-color;
  }

  .list__anchor {
    font-weight: bold;
  }
  .ipid-link {
    color: $fbel-banner-ipid-color;
  }
}
