$range-bar__bar-background-color:             $color-primary !default;
$range-bar__bar-border-radius:                10px !default;
$range-bar__disc-background-color:            #fff !default;
$range-bar__disc-border:                      solid 3px $color-primary !default;
$range-bar__disc-box-shadow:                  0 0 5px 2px $color-primary !default;

.range-bar {
    width:100%;
    max-width:800px;
    margin:auto;
    padding-top:30px;
}

.range-bar__bar-wrapper {
    width:100%;
}

.range-bar__bar {
    position:relative;
    width:100%;
    height:5px;
    background-color: $range-bar__bar-background-color;
    border-radius: $range-bar__bar-border-radius;
    float: right;

    &--base {
        width:100%;
        @include clearfix;
        height:5px;
        background-color: $color-grey--light;
    }
}

.range-bar__disc {
    position:absolute;
    left:0;
    top:-5px;
    height:10px;
    width:10px;
    background-color: $range-bar__disc-background-color;
    border-radius: 50%;
    border:$range-bar__disc-border;
    box-sizing: content-box;
    box-shadow: $range-bar__disc-box-shadow;
}

.range-bar__date-wrapper {
    width:100%;
    display:table;
}

.range-bar__date-section {
    display:table-cell;
    width:50%;
    padding:15px 0;
    text-align: left;
    &--end {
        text-align: right;
    }
}

.range-bar__date-title {
    text-transform: uppercase;
    @include font-size(10px);
    color:$color-font--light;
    margin:0 0 3px 0; 
}

.range-bar__date-text {
    margin:0;
    @include font-size(15px);
    font-weight: 600;
    text-transform: uppercase;
}

.range-bar__button {
    max-width:80px;
    margin:10px 0;
    padding:7px;
}

.range-bar__calendar {
    display:table;
    width:99.5%;
    margin:auto;
}

.range-bar__calendar-date {
    display:table-cell;
    width:20%;
    padding: 20px 0 0 0;
    border-right: solid 1px #949494;
    &:last-child {
        border-right:none;
        background-color: #AE5F84;
        opacity:0.8;
    }
}

.range-bar__calendar-text {
    text-transform: uppercase;

    &--day {
        display: block;
        @include font-size(18px);
        line-height: 1;
    }

    &--date {
        display: block;
        font-weight: 300;
        @include font-size(24px);

        @include breakpoint(600px) {
            @include font-size(30px);
        }
    }
}