.password-strength {
    
    @include breakpoint(500px) {
        display:table;
        width:100%;
    }

    &__section {
        vertical-align: top;
        padding:20px 0 0 0;
        @include breakpoint(500px) {
            display:table-cell;
            width:50%;
        }
        &:nth-of-type(2) {
            @include breakpoint(500px) {
                padding-left:15px;
            }
        }
    }

    &__list-item {
        padding-left:25px;
        background-position: left center;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-image: url('../images/icon-tick-circle--grey.svg');
        &.active {
            background-image: url('../images/icon-tick-circle--green.svg');
        }
    }

    &__bar {
        width:90%;
        display:block;
        border-radius:10px;
        height:10px;
        border:solid 1px $color-grey--light;
        display:table;
        margin-bottom: 10px;
        overflow:hidden;
        &--weak {
            .password-strength__bar-segment:nth-of-type(1) {
                background-color:$color-red;
            }
        }
        &--medium {
            .password-strength__bar-segment:nth-of-type(1) {
                background-color:$color-yellow;
            }
            .password-strength__bar-segment:nth-of-type(2) {
                background-color:$color-yellow;
            }
        }
        &--strong {
            .password-strength__bar-segment {
                background-color:$color-green;
            }
        }
    }

    &__bar-segment {
        display:table-cell;
        width:33%;
        &:nth-of-type(2) {
            border-left:solid 1px $color-grey--light;
            border-right:solid 1px $color-grey--light;
        }
    }

    &__bar-text {
        color: $color-font--light;
        font-weight: 300;
        @include font-size(14px);
    }
} 

.password-reset {
    text-align: center;
    &__divider {
        width:90%;
        max-width:300px;
        display:block;
        height:2px;
        background-color: $color-grey;
        margin:15px auto 50px auto;
    }

    &__heading {
        color:$color-font;
        margin-bottom:20px;
    }

    &__step-wrapper {
        max-width:300px;
        margin:20px auto 0 auto;
        @include breakpoint(600px) {
            max-width:10000px;
            display:flex;
            max-width:450px;
            align-content: center;
            justify-content: center;
            padding-bottom:100px;
        }
    }

    &__step-divider {
        display:none;
        border-bottom:dashed 1px $color-grey;
        @include breakpoint(600px) {
            display: block;
            flex: 1 1 auto;
            height: 15px;
            margin: 0 5px;
        }
    }

    &__step {
        text-align: left;
        position: relative;
        @include breakpoint(600px) {
            display: block;
            flex: 0 0 30px;
            text-align: center;
        }
    }

    &__number {
        display:inline-block;
        background-color:$color-primary;
        color:#fff;
        text-align: center;
        height:28px;
        width:28px;
        line-height: 26px;
        border-radius:20px;
        border:solid 2px $color-primary--light;
        @include font-size(12px);
    }

    &__text {
        display:inline-block;
        @include breakpoint(600px) {
            display: block;
            width:150px;
            text-align: center;
            position: absolute;
            top: 30px;
            left: -63px;
        }
    }

    &__sub-text {
        font-weight: 300;
    }
}