.ncdp-table, .step-back-table {
    width:100%;
    max-width:800px;
    @include font-size(16px);
    margin-bottom:80px;
    display:table;
}

.ncdp-table__section, .step-back-table__section {
    display:table-row;
}

.ncdp-table__header-item {
    display:table-cell;
    width:50%;
    padding:20px 0;
    border-bottom: solid 1px #4A4A4A;
    font-weight: bold;
    &:nth-of-type(1) {
        border-right:solid 1px #F2F2F2;
    }
    &:nth-of-type(2) {
        padding-left:20px;
    }
}

.ncdp-table__item {
    display:table-cell;
    width:50%;
    padding:20px 0;
    border-bottom: solid 1px #F2F2F2;
    &:nth-of-type(1) {
        border-right:solid 1px #F2F2F2;
    }
    &:nth-of-type(2) {
        padding-left:20px;
    }
    &--last {
        border-bottom: solid 1px #4A4A4A;
    }
}


.step-back-table__header-item {
    display:table-cell;
    padding:20px 0;
    border-bottom: solid 1px #4A4A4A;
    font-weight: bold;
    &:nth-of-type(1) {
        border-right:solid 1px #F2F2F2;
        width:50%;
    }
    &:nth-of-type(2) {
        padding-left: 20px;
        border-right:solid 1px #F2F2F2;
        width: 27%;
    }
    &:nth-of-type(3) {
        padding-left: 20px;
        width: 23%; 
    }
}

.step-back-table__item {
    display:table-cell;
    padding:20px 0;
    border-bottom: solid 1px #F2F2F2;
    &:nth-of-type(1) {
        border-right:solid 1px #F2F2F2;
        width: 50%;
    }
    &:nth-of-type(2) {
        padding-left:20px;
        border-right:solid 1px #F2F2F2;
        width: 25%;
    }
    &:nth-of-type(3) {
        padding-left: 20px;
    }
    &--last {
        border-bottom: solid 1px #4A4A4A;
    }
}

.step-back-container {
    margin-bottom: 1rem; 
}

summary:hover {
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none
  }

.disabled {   
    pointer-events: none;
    cursor: default;
    color:$color-grey;    
}