$color-link-list__link-color: $color-primary !default;
$color-link-list__link-border-color: $color-grey--light !default;
$cover-features-list-link-text-decoration: rgba(104, 89, 163, 0.25) !default;

.list {
  margin: 0 0 1rem 1rem;
  padding: 0;
  list-style-position: outside;

  .list__item {
    margin: 10px 0;
  }
}

.list--plain {
  list-style-type: none;
  padding-left: 0;
}

.list--horizontal {
  padding: 0;
  .list__item {
    display: inline-block;
  }
}

.list--vertical {
  .list__item {
    display: block;
  }
}

.list--link {
  padding-left: 0;
  margin-left: 0;
  .list__item {
    list-style-type: none;
    padding-left: 24px;
    background-image: url("../images/icon-new-window.svg");
    background-repeat: no-repeat;
    background-position: 0 2px;
    background-size: 16px 16px;
    cursor: pointer;
  }
}

.list--tick {
  @include clearfix;
  margin-left: 0;

  .list__item {
    cursor: default;
    list-style-type: none;
    float: left;
    padding-left: 28px;
    background-image: url("../images/icon-tick-circle.svg");
    background-position: 0 2px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    margin: 0.5rem 0;
    width: 100%;
    line-height: 28px;
  }

  .list__link {
    display: inline-block;
    padding: 0;
    @include font-size(20px);
    font-weight: lighter;
    cursor: pointer;
  }
}

.list--chosen {
    padding-left: 5px;

    .list__item {
        background-image: url("../images/icon-tick-white.svg");
        font-size: 13px;
        list-style-type: none;
        padding-left: 38px;
        background-position: 0 -2px;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        margin-bottom: 10px;
        line-height: 20px;
    }

    &--green {
        .list__item {
            background-image: url("../images/icon-tick-green.svg");
        }
    }
}

.list--bullet {
  padding-left: 0;
  .list__item {
    list-style-type: none;
    padding-left: 33px;
    background-image: url("../images/icon-bulletpoint.svg");
    background-size: 12px 12px;
    background-position: 6px 6px;
    background-repeat: no-repeat;
    margin: 10px 0;
    line-height: 1.5;
  }
}

.list--icon {
  list-style-type: none;
  .list__item {
    display: inline-block;
    padding: 0 7px;
  }
}

.list--fbels {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;

  .list__item {
    list-style-type: none;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    margin: 30px 0;
    line-height: 1.6;
  }
}

.list--fbels-cover {
  .list__item {
    background-image: url("../images/icon-tick.svg");
  }
}

.list--fbels-remember {
  .list__item {
    background-image: url("../images/icon-bulletpoint.svg");
    background-size: 8px 8px;
    background-position: 8px 8px;

    &.plain {
      background-image: none;
      padding-left: 0;
    }
  }
}

// Included Policy Features
.list--included-features {
  list-style: none;
  padding: 0;
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 910px;
  justify-content: center;

  .list__item {
    flex: 0 0 100%;
    color: $included-features-color;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 25px;
    padding-left: 30px;
    background-image: url("../images/icon-circle-tick-filled.svg");
    background-position: 0 2px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    line-height: 28px;

    @include breakpoint($screen-md) {
      flex: 0 0 auto;
      margin: 10px 20px;
      white-space: nowrap;
    }
    button {
      color: $included-features-color;
      text-decoration: underline;
      border: none;
      padding: 0;
    }
  }
}

.cover-features-list {
  margin: 1rem auto;
  @include clearfix;
  @include wordbreak;
}

.cover-features-list__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: auto;
  padding: 0;
  justify-content: flex-start;
}

.cover-features-list__item {
  list-style-type: none;
  float: left;
  padding-left: 28px;
  background-image: url("../images/icon-tick-circle.svg");
  background-position: 0 2px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  margin: 10px 0;
  width: 100%;
  line-height: 29px;

  flex-direction: column;
  flex: 1 1 100%;
  max-width: 100%;

  @include font-size(16px);
  font-weight: 300;

  @include breakpoint(600px) {
    @include font-size(22px);
    flex-direction: row;
    flex: 0 0 50%;
    max-width: 50%;
  }
  @include breakpoint(900px) {
    flex: 0 0 33%;
    max-width: 33.3333%;
  }

  &:hover {
    text-decoration: none;
  }

  .list--vertical & {
    @include breakpoint(600px) {
      @include font-size(22px);
      flex-direction: row;
      flex: 0 0 100%;
      max-width: 100%;
    }
    @include breakpoint(900px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.cover-features-list__link {
  padding-bottom: 1px;
  color: $color-link-list__link-color;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: $cover-features-list-link-text-decoration;
  padding: 0;
  margin: 0 1rem 0 0;
  @include font-size(16px);
  max-width: 100%;

  &:hover {
    text-decoration: none;
  }
}
