$spinner__ring-dimension:        120px !default;
$spinner__ring-thickness:        7px !default;
$spinner__ring-border-color:     $color-primary !default;
$spinner__heading-color:         $color-primary !default;

.spinner-wrapper {
    @include centerer(true, true);
    // display: flex;
    // align-items: center;
    // justify-items: center;

    // position: fixed;
    // top:0;
    // left:0;
    // height: 100%;
    width: 100%;
}

.spinner {
    padding: 10px 0;
    margin: 30px auto;
    text-align: center;

    &__ring {
        background-color: transparent;
        opacity: .9;
        border-radius: 100%;
        margin: 0 auto;
        position: relative;
        border: 4px solid $spinner__ring-border-color;
        border-left: 4px solid transparent;
        width: calcRem(80px);
        height: calcRem(80px);
        animation: spin 1.5s infinite linear;

        @include breakpoint(400px) {
            border: $spinner__ring-thickness solid $spinner__ring-border-color;
            border-left: $spinner__ring-thickness solid transparent;
            width: $spinner__ring-dimension;
            height: $spinner__ring-dimension;
        }
    }

    &__tick {
        background-color: transparent;
        opacity: .9;
        border-radius: 100%;
        margin: 0 auto;
        position: relative;
        background-image: url("../images/icon-tick-circle--green.svg");
        background-size: 80px;
        height: 80px;
        width: 80px;
        background-repeat: no-repeat;
    }

    &__heading {
        margin: 40px 0 0 0;
        color: $spinner__heading-color;
        @include font-size(30px);

        @include breakpoint(400px) {
            @include font-size(40px);
        }
    }

    &__text {
        @include font-size(20px);
        font-weight: 300;
        margin: 5px 0;
    }

    &__divider {
        width: 100%;
        max-width: 170px;
        height: 2px;
        background-color: $color-primary;
        margin: 36px auto 10px auto;
    }
}
          
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);};
}


.loading_spinner-wrap {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.loading_spinner {
	animation: rotator 1.4s linear infinite;
	height: 120px;
	width: 120px;
}
.loading_spinner .path {
	stroke-dasharray: 190;
	stroke-dashoffset: 0;
	transform-origin: center;
	animation: dash 1.4s ease-in-out infinite;
	stroke: $color-primary;
	stroke-width: 2;
}

@-webkit-keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
@keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% { 
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}
@keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% { 
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}

/// ADDON SPINNER FOR ADDON PAGES
.addon-spinner {
    width: 30px;
    height: 30px;
    border: 4px solid transparent;
    border-top:4px solid #fff;
    border-right:4px solid #fff;
    border-left: 4px solid #fff;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1.3s infinite linear;
}

.addonOverlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.15);
    z-index: 1000;
}
 
 @keyframes spin {
    from    {
        transform: rotate(0deg);
    }   to  {
        transform: rotate(360deg);
    }
 }

// MA Spinner
.spinner-container {
    padding-top: 140px;
}

.spinner-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $color-background;
    top: 0;
    left: 0;
    padding-top: 140px;
    z-index: 1000;
    display: none;
}