@keyframes carEntrance {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes carExit {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}
