.error-text__heading .addon-radio__main-price,
.error-text-addon__heading .addon-radio-question__price,
.error-text-addon__heading .feature-header__interest {
    color: $color-red;
    padding-left: 30px;
}

.error-text__heading {
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 32px;
    font-size: 1.2rem;
    &.addon-radio__main-price {
        color: $color-red;
        font-size: 1.2rem;
        padding-right: 30px;
    }
}

.addon {
    &__text {
        // @include font-size(16px);
        // font-weight: 300;
        // line-height: 29px;
        &--emphasised {
            color: $color-primary;
        }
    }
}

$addon-radio-border-radius: 40px !default;
$addon-radio-background-color: #fff !default;

.addon-radio {
    margin-top: 55px;
    &__price {
        @include font-size(24px);
        color: $color-primary;
    }
    &__radio {
        width: 45%;
        max-width: 200px;
        padding: 15px;
        border-radius: $addon-radio-border-radius;
        margin: 10px 5px;
        display: inline-block;
        background-color: $addon-radio-background-color;
    }
    &__radio-question {
        width: auto;
        max-width: 175px;
        min-width: 95px;
        padding: 15px;
        margin: 10px 5px;
        display: inline-block;
        @media screen and (min-width: 450px) {
            width: 45%;
        }
    }
}

.addon-radio.addon-radio__grc {
    margin-top: 0px;
}

.addon-radio-question {
    margin-top: 20px;
    &__price {
        @include font-size(24px);
        color: $color-primary;
    }
}

.addon-price {
    @include font-size(30px);
}

.error .addon-radio__price, 
.error .feature-header__interest,
.error .form-row__label--pill,
.error .addon-radio__main-price  {
    color: $color-red;
}