.cover-bubbles{
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
  overflow: hidden;
  -webkit-box-align: start;
  display: block;
  text-align: center;
  li{
    display: inline-block;
    margin: 0 5px 50px 5px;
    &.small{
      figure{
        height: 95px;
        width: 95px;
        img{
          width: 40px;
          height: 40px;
        }
      }
      figcaption{
        max-width: 120px;
      }
    }
    button{
      background: none;
      border: none;
      cursor: pointer;
      &:hover{
        figure{
          border: $cover-bubbles-icon-border-hover;
          transition: 0.3s all;
        }
      }
      figure{
        border: $cover-bubbles-icon-border;
        background: $cover-bubbles-icon-background;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        align-items: center;
        margin: auto;
        display: flex;
        padding: 0px;
        transition: 0.6s all;
        img{
          margin: auto;
          width: 80px;
          height: 80px;
        }
      }
      figcaption{
        color: $cover-bubbles-text-colour;
        margin: 0px;
        padding: 0px;
        margin-top: 10px;
        display: block;
        max-width: 150px;
      }
    }
  }
}