.grc {
    width:100%;
    text-align:center;
    border-bottom:solid 1px #4a4a4a;
    display:block;
    user-select:none;
    //border-collapse: collapse;

    @include breakpoint(500px) {
        display:table;
    }


}

.grc__header-cell {

    text-align:center;
    border-right:solid 1px #eee;
    border-bottom:solid 1px #4a4a4a;
    width:50%;
    padding: 2rem 1rem 0;
    vertical-align: bottom;

    @include breakpoint(500px) {
        text-align: center;
        width: 25%; 

        &:last-child {
            border-right:none;
        }
    }
    
    &.active {
        background-color:$color-primary--lighter;
        border-right:solid 2px $color-green;
        border-left:solid 2px $color-green;
    }
    &[data-grc] {
        cursor: pointer;
    }
}

.grc__cover-title {
    @include font-size(16px);
    color:$color-primary;
    vertical-align: top;
    &--no-cover {
        text-align: center;
    }
}

.grc__price-wrapper {
    margin:0;
    margin-bottom: 20px;
    color:$color-primary;
}

.grc__price-pounds {
    @include font-size(40px);
    position: relative;
}

.grc__price-pence {
    @include font-size(20px);
    font-weight: 300;
}

.grc__price-sub-text {
    font-weight: normal;
    margin:0;
    display:block;
    @include font-size(16px);
}

.grc__annual-text {
    font-weight: normal;
    color:$color-font--light;
    margin:5px 0 25px 0;
    @include font-size(13px);
    display:block;
}

.grc__button {
    width:100%;
    padding:15px 0;
    @include font-size(13px);
    font-weight: bold;
    background-color: #FFF;
    color: $color-secondary;
    border: $color-secondary 1px solid;
    &.active {
        background-color:$color-green;
        border-color: $color-green;
        @include breakpoint(750px) {
            padding-left:23px;
            background-size:20px 20px;
            background-image: url('../images/icon-tick--white.svg');
            background-repeat: no-repeat;
            background-position: 8% center;
            text-align:center;
        }
        &:hover {
            color:#fff;
            background-color:$color-primary;
        }
    }
    @include breakpoint(750px) {
        padding:10px;
        @include font-size(13px);
    }
}

.grc__header-image-wrapper {
    height:100px;
    text-align:center;
}

.grc__header-image {
    margin:40px auto 0 auto;
    display:block;
    position: relative;
    top:5px;
    &--grc {
        margin-top:96px;
        width:60px;
        height:60px;
    }
    &--grc-plus {
        width:80px;
        height:80px;
        margin-top: 77px;
        top:7px;
    }
    &--no-cover {
        width:110px;
        top:35px;
    }
}

.grc__label-cell {
    padding: 20px 5px;
    text-align: left;
    border-bottom:solid 1px #eee;
}

.grc__cover-cell {
    padding: 30px 10px;
    border-left:solid 1px #eee;
    border-right:solid 1px #eee; //transparent
    border-bottom:solid 1px #eee;
    &.active {
        background-color:$color-primary--lighter;
        border-right:solid 2px $color-green;
        border-left:solid 2px $color-green;
    }
    &[data-grc] {
        cursor: pointer;
    }
    &--full-height {
        border-left:solid 2px $color-grey--lighter;
    }
    &:nth-of-type(3) {
        border-left-color:transparent;
        @include breakpoint(500px) {
            border-left-color:$color-grey--lighter;
        }
        &.active {
            border-left:solid 2px $color-green;
        }
    }
}

.grc__without-cover {
    display:none;
    @include breakpoint(500px) {
        display: table-cell;
        overflow:hidden;
    }
}
.grc__first-col {
    display:none;
    @include breakpoint(500px) {
        display: table-cell;
    }
}

.grc__image {
    height:24px;
    width:24px;
}