.ncd-source {
    position:relative;
    padding-top: 170px;
    @include breakpoint(600px) {
        padding-top:80px;
    }
    &__label {
        position:absolute;
        top:0;
        width:170px;
        padding:10px 0;
        @include breakpoint(600px) {
            left:0;
        }
        &--prev-vehicle {
            top: 55px;
            @include breakpoint(600px) {
                left:180px;
                top:0;
            }
        }
        &--company-vehicle {
            top: 110px;
            @include breakpoint(600px) {
                left:360px;
                top:0;
            }
        }
    }
    &__action-box {
        display: none;
    }

    &__section-heading {
        color:$color-font;
        margin:20px 0 10px 0;
    }
}

.ncd-source__radio:checked {
    + .ncd-source__label {
        + .ncd-source__action-box {
            display:block;
        }
    }
}


.ncd-edit {
    padding-bottom:30px;
    position:relative;

    &__button {
        width:auto;
    }

    &__text {
    margin-top:10px;
    }

    &__edit-modal {
        top:80px;
        padding:10px;
    }

    &__modal-text {
        margin-top:10px;
    }

    &__stepper-box {
        display:table;
        width:100%;
    }

    &__stepper-section {
        display:table-cell;
        width:33.33%;
        height:90px;
        text-align: center;
        vertical-align: middle;
        background-position: center;
        background-size: 80px 80px;
        background-repeat: no-repeat;

        &--down {
            background-image: url('../images/icon-minus-round.svg');
            cursor: pointer;
        }

        &--years {
            color:$color-primary;
            font-weight: bold;
            @include font-size(80px);
        }

        &--up {
            background-image: url('../images/icon-plus-round.svg');
            cursor: pointer;
        }
    }

    &__modal-confirm {
        width:80%;
        padding:10px;
    }

    &__modal-cancel {
        width:80%;
    }
}