.timeline{
	font-size: 13px;
	line-height: 20px;
	margin: 30px auto;
	$timeline: &; // Anchor for SCSS
	&[data-timeline="seventy-five"] {
		#{$timeline}__expires{ color: $success; }
		#{$timeline}__progress-bar{
			&:before{
				background: $success;
				width: 75%;
			}
			&:after{
				right: 75%;
				border-color: $success;
				box-shadow: 0 0 0 2px transparentize($success, 0.8),
				0px 0px 0px 4px transparentize($success, 0.8),
				inset 0px 0px 0px 2px transparentize($success, 0.8);
			}
		}
	}
	&[data-timeline="fifty"] {
		#{$timeline}__expires{ color: $warning; }
		#{$timeline}__progress-bar{
			&:before{
				background: $warning;
				width: 50%;
			}
			&:after{
				right: 50%;
				border-color: $warning;
				box-shadow: 0 0 0 2px transparentize($warning, 0.8),
				0px 0px 0px 4px transparentize($warning, 0.8),
				inset 0px 0px 0px 2px transparentize($warning, 0.8);
			}
		}
	}
	&[data-timeline="twenty-five"] {
		#{$timeline}__expires{ color: $error; }
		#{$timeline}__progress-bar{
			&:before{
				background: $error;
				width: 25%;
			}
			&:after{
				right: 25%;
				border-color: $error;
				box-shadow: 0 0 0 2px transparentize($error, 0.8),
				0px 0px 0px 4px transparentize($error, 0.8),
				inset 0px 0px 0px 2px transparentize($error, 0.8);
			}
		}
	}
	&[data-timeline="cancelled"] {
		#{$timeline}__expires{ color: $error; }
		#{$timeline}__progress-bar{
			&:before{
				background: $color-grey--dark;
				width: 0%;
			}
			&:after{
				right: 0%;
				border-color: $error;
				box-shadow: 0 0 0 2px transparentize($error, 0.8),
				0px 0px 0px 4px transparentize($error, 0.8),
				inset 0px 0px 0px 2px transparentize($error, 0.8);
			}
		}
	}
	#{$timeline}__expires{
		color: $color-primary;
	}
	#{$timeline}__progress-bar{
		background: $color-grey--light;
		display: block;
		height: 3px;
		width: 100%;
		margin: 20px 0;
		position: relative;
		&:before, &:after{
			content:"";
			position: absolute;
		}
		// Bar
		&:before{
			background: $color-primary;
			width: 100%;
			height: 3px;
			right: 0px; // Indent slightly to pixel fix overlap
		}
		// Disc
		&:after{
			border: 3px solid $color-primary;
			background-color: #FFFFFF;
			height: 16px;
			width: 16px;
			top: -8px;
			right: 100%;
			border-radius: 50%;
			box-shadow: 0 0 0 2px $brand-20,
			0px 0px 0px 4px $brand-20,
			inset 0px 0px 0px 2px $brand-20;
		}
	}
	#{$timeline}__date-title{
		text-transform: uppercase;
		display: block;
	}
	#{$timeline}__time{
	}
}

// Breadcrumbs (Header Timeline)
.breadcrumbs{
	margin: 30px auto;
	$breadcrumbs: &; // Anchor for SCSS
	&--three-items{
		#{$breadcrumbs}__list{
			&:before{
				width: calc(100% - 33.33%);
				margin-left: -33%;
			}
			#{$breadcrumbs}__item{
				@include column(4,12);

				&--active, &--complete {
					&:after {
						width: 105%;
						left: -55%;
					}
				}
			}
		}
	}
	&--five-items{
		#{$breadcrumbs}__list{
            margin: 0 -8.95%;
			&:before{
				width: calc(100% - 20%);
				margin-left: -40%;
			}
			#{$breadcrumbs}__item{
				@include column(2.4,12);
			}
		}
	}
	&__list{
		position: relative;
		padding-top: 10px;
        padding-left: 0px;
		&:before{
			content:"";
			height: 2px;
			width: calc(100% - 20%);
			background: $breadcrumbs-progress-unfilled;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -40%;
		}
		#{$breadcrumbs}__item{
			display: inline-block;
			font-size: 12px;
			line-height: 12px;
			text-align: center;
			color: transparent;
			position: relative;
			font-weight: normal;
			@include column(2.4,12);
            @include breakpoint(700px) {
                color: $breadcrumbs-inactive-item-colour;
            }
			#{$breadcrumbs}__link{
				color: transparent;
                @include breakpoint(700px) {
                    color: $breadcrumbs-inactive-item-colour;
                }
			}
			&:first-child{
				&:before{
					border-color: $breadcrumbs-first-disc-border;
				}
				#{$breadcrumbs}__link{
					text-decoration: none;
                    color: transparent;
                    @include breakpoint(700px) {
                        color: $breadcrumbs-first-item-colour;
                    }
					font-weight: 600;
				}
			}
			&:before{
				content:"";
				height: 10px;
				width: 10px;
				border-radius: 50%;
				background: #fff;
				border: $breadcrumbs-inactive-disc-border;
				position: absolute;
				top: -14px;
				left: 50%;
				margin-left: -5px;
				z-index: 1;
			}
			&--active, &--complete{
				&:after{
					content:"";
					height: 2px;
					width: 110%;
					background: $breadcrumbs-progress-filled;
					position: absolute;
					top: -10px;
					left: -60%;
					z-index: 0;
				}
				&:before{
					border-color: $breadcrumbs-active-disc-border;
				}
				#{$breadcrumbs}__link{
                    color: transparent;
                    @include breakpoint(700px) {
                        color: $breadcrumbs-active-item-colour;
                    }
					text-decoration: none;
					font-weight: 600;
				}
			}
			&--complete{
				color: $breadcrumbs-complete-item-colour;
				font-weight: 600;
				&:before{
					border-color: $breadcrumbs-complete-disc-border;
				}
				a{
					font-weight: 600;
				}
			}
		}
	}
}