.demands-questions {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;

    &__label {
        display: block;
        height: auto;
        border: solid 1px $color-grey;
        padding: 85px 15px 15px 15px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: 15px 10px;
        background-size: 65px 65px;
        text-align: left;
        position: relative;
        user-select: none;
        margin: 10px 5px;
        flex: 0 0 100%;

        @include breakpoint(620px) {
            flex: 0 1 44%;
            max-width: 44%;
        }
 
        @include breakpoint(900px) {
            flex: 0 1 24%;
            max-width: 24%;
        }
    }

    &__label--grc {
        background-image: url("../images/icon-addon-grc.svg");
    }

    &__label--breakdown {
        background-image: url("../images/icon-addon-breakdown.svg");
    }

    &__label--keycare {
        background-image: url("../images/icon-addon-keycare.svg");
    }

    &__label--pac {
        background-image: url("../images/icon-addon-pac.svg");
    }

    &__label--mlp {
        background-image: url("../images/icon-addon-legal-protection.svg");
    }

    &__label--none {
        width: 320px;
        height: auto;
        display: block;
        margin: 20px auto 0 auto;
        border-radius: 100px;
        padding: 15px 20px;
        text-align: center;
    }

    &__label-title {
        font-weight: normal;
        @include font-size(24px);
    }

    &__label-title-block {
        display: block;
        line-height: 1.3;
    }

    &__label-divider {
        height: 2px;
        background-color: $color-primary;
        display: block;
        width: 100px;
        margin: 10px 0 20px 0;
    }

    &__label-text {
        text-decoration: none;
        line-height: 1.4;
        font-weight: 300;
    }

    &__label-checkbox--on {
        position: absolute;
        top: 15px;
        right: 15px;
        height: 35px;
        width: 35px;
        display: none;
    }

    &__input:not(:checked) + &__label {

        &:hover {
            background-color: $color-primary;
            color: #fff;

            & .demands-questions__label-title {
                color: #fff;
            }

            & .demands-questions__label-divider {
                background-color: #fff;
            }            

            & .demands-questions__label-checkbox--on {
                display: none;
            }
        }

        @include no-hover {
            background-color: transparent;
            color: $color-font;

            & .demands-questions__label-title {
                color: $color-font;
            }

            & .demands-questions__label-divider {
                background-color: $color-font;
            }
            
            & .demands-questions__label-checkbox--on {
                display: none;
            }
        }

        &--grc {
            &:hover {
                background-image: url("../images/icon-addon-grc--white.svg");
            }

            @include no-hover {
                background-image: url("../images/icon-addon-grc.svg");
            }
        }

        &--breakdown {
            &:hover {
                background-image: url("../images/icon-addon-breakdown--white.svg");
            }

            @include no-hover {
                background-image: url("../images/icon-addon-breakdown.svg");
            }
        }

        &--keycare {
            &:hover {
                background-image: url("../images/icon-addon-keycare--white.svg");
            }

            @include no-hover {
                background-image: url("../images/icon-addon-keycare.svg");
            }
        }

        &--pac {
            &:hover {
                background-image: url("../images/icon-addon-pac--white.svg");
            }

            @include no-hover {
                background-image: url("../images/icon-addon-pac.svg");
            }
        }

        &--mlp {
            &:hover {
                background-image: url("../images/icon-addon-mlp--white.svg");
            }

            @include no-hover {
                background-image: url("../images/icon-addon-mlp.svg");
            }
        }
    }

    &__input:checked + &__label {
        background-color: $color-green;
        color: #fff;

        & .demands-questions__label-title {
            color: #fff;
        }

        & .demands-questions__label-divider {
            background-color: #fff;
        }
        
        & .demands-questions__label-checkbox--on {
            display: block;
        }

        &--grc {
            background-image: url("../images/icon-addon-grc--white.svg");
        }

        &--breakdown {
            background-image: url("../images/icon-addon-breakdown--white.svg");
        }

        &--keycare {
            background-image: url("../images/icon-addon-keycare--white.svg");
        }

        &--pac {
            background-image: url("../images/icon-addon-pac--white.svg");
        }

        &--mlp {
            background-image: url("../images/icon-addon-legal-protection--white.svg");
        }
    }
}

.demands-questions__none-button {
    border: solid 1px $color-grey;
    color: $color-primary;
    font-weight: bold;

    @include breakpoint(700px) {
        width: auto;
        max-width: 100%;
    }

    &.active {
        background-color: $color-green;
        color: #fff;
        border-color: $color-green;

        &:hover {
            background-color: $color-green;
            color: #fff;
            border-color: $color-green;
        }
    }

    &:hover {
        border-color: $color-grey;
        color: $color-primary;
        background-color: transparent;
    }
}

.overlay-addon--grc {
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.5;
    left: 0;
    top: 0;
    position: absolute; 
}

.overlay-addon--breakdown {
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.5;
    left: 0;
    top: 0;
    position: absolute; 
}
.overlay-addon--keycare {
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.5;
    left: 0;
    top: 0;
    position: absolute; 
}
.overlay-addon--personal-accident {
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.5;
    left: 0;
    top: 0;
    position: absolute; 
}

.overlay-addon--continue {
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: #000;
    opacity: 1;
}


.mvt {
    .centered-main-heading {
        text-align: left;
    }

    &-demands-questions {
        display: flex;
        flex-direction: column;
        text-align: center;
        // width: 95%;
        &__label {
            display: block;
            height: auto;
            border-bottom: solid 0.5px $color-grey;
            padding: 20px 15px 15px 15px;
            background-repeat: no-repeat;
            background-position: 15px 10px;
            text-align: left;
            position: relative;
            user-select: none;

            @include breakpoint(620px) {
                justify-content: center;
                display: block;
            }

            @include breakpoint(900px) {
                justify-content: center;
                display: block;
            }
        }

        &__heading {
            @include font-size(24px);
            color: $color-primary;
            font-weight: 600;
            margin-bottom: 0px;
        }

        &__label {
            // background-position: 10px 0px;
            padding-top: 90px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-position: 10px 20px;

            &--grc {
                background-image: url("../images/icon-addon-grc.svg");
                background-size: 70px 70px;

                @include breakpoint(600px) {
                    background-position: 0px 10px;
                    padding-top: 20px;
                }
            }

            &--breakdown {
                background-image: url("../images/icon-addon-breakdown.svg");
                background-size: 70px 70px;

                @include breakpoint(600px) {
                    background-position: 0px 0px;
                    padding-top: 20px;
                }
            }

            &--keycare {
                background-image: url("../images/icon-addon-keycare.svg");
                background-size: 65px 65px;

                @include breakpoint(600px) {
                    background-position: 0px 20px;
                    padding-top: 20px;
                }
            }

            &--personal-accident {
                background-image: url("../images/icon-addon-pac.svg");
                background-size: 60px 60px;

                @include breakpoint(600px) {
                    background-position: 0px 20px;
                    padding-top: 20px;
                }
            }

            @include breakpoint(900px) {
                flex-direction: row;
            }
        }


        &__text-block {
            @include breakpoint(600px) {
                margin-left: 70px;
            }

            @include breakpoint(900px) {
                width: 55%;
                margin-right: 20px;
            }
        }

        &__buttons-wrapper {
            @include breakpoint(600px) {
                margin-left: 70px;
            }

            @include breakpoint(900px) {
                width: 50%;
                margin-top: 30px;
                margin-left: 20px;
            }
        }

        &__label--mlp {
            background-image: url("../images/icon-addon-legal-protection.svg");
            background-size: 80px;
            display: flex;
            flex-direction: row;
        }

        &__label-text {
            text-decoration: none;
            font-size: 1rem;
            line-height: 1.4;
            letter-spacing: 0;
            font-weight: 300;
            margin-top: 20px;
        }
    }
}