﻿.tag {
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    line-height: 13px;
    width: 100%;
    max-width: 150px;
    display: block;

    @media screen and (max-width: $screen-lg) {
        max-width: none;
    }

    &--error {
        background-color: $error;
    }

    &--warning {
        background-color: $warning;
    }

    &--info {
        background-color: $primary;
    }

    &--success {
        background-color: $success;
    }
}
