.no-quote-divider {
    margin-top: 10px;
    position: relative;
    text-align: center;
    height: 1.5em;
    &:before {
      content: '';
      background: #F4f4f4;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      padding: 0 15px;
      line-height: 1.5em;
      color: #818078;
      background-color: #FFF;
    }
  }

.divider, hr {
    display: block;
    margin: 40px 0px;
    display: block;
    height: 1px;
    border: 0;
    background-color: $divider-hr-background;

    &.my-account, &.no-margin {
        margin: 0px;
    }

    @include breakpoint($screen-lg) {
        margin: 80px auto;
    }

    &:after {
        content: "";
        clear: both;
        display: block;
        height: 1px;
        background-color: $divider-hr-background;
        width: 100%;
    }

    &--short {
        width: 175px;
        height: 2px;
        background: $divider-short-background;
        margin: 80px auto;
    }

    &--left {
        margin: 80px 0;
    }

    &--or {
        max-width: 335px;
        height: 1px;
        background: $divider-or-after-background;
        width: 100%;
        margin: 40px auto;
        position: relative;
        display: block;

        &:after {
            content: "Or";
            position: absolute;
            left: 50%;
            width: 50px;
            text-align: center;
            color: $divider-or-after-background;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            margin-left: -25px;
            height: 20px;
            top: 50%;
            margin-top: -10px;
            background: $divider-or-after-color;
        }
    }

    &--short {
        margin: 40px auto;
    }
}

$feature-header__divider-background-color: $color-primary !default;
.intermediary-services__divider {
    width: 100%;
    max-width: 170px;
    border-bottom: solid 2px $feature-header__divider-background-color;
    margin-top: 39px;

    @media (min-width: $screen-lg) {
        max-width: 170px;
    }
}
