$tabs-label-color: $color-primary !default;
$tabs-label-pill-color-hover: #fff !default;
$tabs-label-pill-border: 1px solid #cccccc !default;
$tabs-label-pill-border-radius: 5px !default;
$tabs-label-pill-border-color-hover: inherit !default;
$tabs-label-pill-background-color: transparent !default;
$tabs-label-pill-background-color-hover: $color-primary !default;

$tabs-ui-icon-color: $color-white !default;

.tabs {
    $tabs: &; // Anchor for SCSS
    width: 100%;
    padding-top: 30px;
    margin-bottom: 35px;

    &__input {
        @include visually-hidden;

        &:checked {
            + .tabs__label {
                color: $color-primary;

                &:focus {
                    @include focusSelectSurround;
                }

                &--pill {
                    @include SelectItem;
                }
            }
        }

        &:focus {
            + .tabs__label {
                font-weight: 600;

                &--pill {
                    @include focussurround;
                }
            }
        }

        &:focus:checked {
            + .tabs__label {

                &--pill {
                    @include focusSelectSurround;
                }
            }
        }

        &:hover {
            + .tabs__label {
                font-weight: 600;
            }
        }
    }

    &__label {
        font-weight: 300;
        text-align: center;
        color: $tabs-label-color;
        text-align: center;
        @include font-size(20px);
        display: inline-block;
        cursor: pointer;
        user-select: none;

        @include breakpoint(600px) {
            @include font-size(28px);
        }

        &--pill {
            @include font-size(18px);
            font-weight: 600;
            background-color: $tabs-label-pill-background-color;
            border: $tabs-label-pill-border;
            border-radius: $tabs-label-pill-border-radius;
            padding: 20px;
            transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
            margin-right: 10px;

            &:hover {
                background-color: $tabs-label-pill-background-color-hover;
                transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
                color: $tabs-label-pill-color-hover;
                border-color: $tabs-label-pill-border-color-hover;
            }

            &:focus {
                @include focussurround;
                outline: none;
            }

            .tabs__label-text {
                margin: 0;
                @include font-size(18px);
            }
        }
    }

    &__label-text {
        margin: 0 0 10px 0;
    }

    &__label-bar {
        width: 0;
        height: 2px;
        background-color: $color-primary;
        display: block;
        margin: auto;
        transition: width 0.2s ease-in-out;
    }

    &__section {
        display: none;
        padding: 15px 0;
    }

    &--wide-buttons {
        #{$tabs}-nav__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 30px;
            border: none;

            @include breakpoint(600px) {
                justify-content: flex-start;
            }

            #{$tabs}-nav__item {
                border: 1px solid $color-primary;
                border-radius: 3px;
                flex-basis: 100%;

                @include breakpoint(1024px) {
                    flex-basis: 40%;
                }

                button {
                    display: block;
                    padding: 15px;
                    font-size: 16px;
                    line-height: 29px;
                    font-weight: 300;
                    text-align: left;
                    width: 100%;

                    &:focus {
                        @include focusSelectSurround;
                    }

                    i {
                        text-align: left;
                        display: inline-block;
                        font-size: 28px;
                        vertical-align: middle;
                        line-height: 28px;
                        padding: 0;
                        margin-right: 10px;
                    }

                    &:before {
                        color: $color-primary;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }

                &.active {
                    border: $form-tab-selected-border;
                    border-color: $form-tab-selected-border-color;
                    background: $form-tab-selected-background;

                    button {
                        background: $form-tab-selected-background;
                        color: $form-tab-selected-color;
                        font-weight: 300;
                        border-bottom: none;

                        i {
                            color: #fff;
                        }

                        &:before {
                            color: #fff;
                        }
                    }
                }
            }
        }
        // Content
        .tabs-content {
            padding: 0;
        }
    }
    // Nav
    &-nav__list {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        #{$tabs}-nav__item {
            display: inline-block;
            padding: 2px;

            &:only-child button {
                cursor: default;
                outline: 0;
            }

            &:not(:last-child) {
                margin-right: 0px;
                margin-bottom: 20px;

                @include breakpoint(1024px) {
                    margin-right: 20px;
                    margin-bottom: 0px;
                }
            }

            &.active {

                i[class^="ui-"]:before, i[class*=" ui-"]:before,
                i[class^="ui-"]:after, i[class*=" ui-"]:after {
                    color: $tabs-ui-icon-color;
                }

                button {
                    color: $tabs-button-colour-active;
                    border-bottom: $tabs-button-border-bottom;
                    font-weight: bold;
                }
            }

            button {
                border: none;
                cursor: pointer;
                background: none;
                display: block;
                padding: $spacing-unit 40px;
                color: $tabs-button-colour;
            }
        }
    }

    &-nav__wrapper::-webkit-scrollbar {
        display: none !important;
    }

    &-nav__wrapper {
        display: flex;
        align-items: center;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        margin: 0 10px;
    }

    &-nav__right,
    &-nav__left {
        display: flex;
        height: 100px;
        width: 20px;
        position: absolute;
    }

    &-nav__right {
        right: 0;
    }

    &-nav__left {
        left: 0;
    }

    &-nav__rightbtn,
    &-nav__leftbtn {
        font-size: 20px;
        padding-top: 4px;
    }
    // Content
    .tabs-content {
        position: relative;
        padding: 0;
        $tabs-content: &; // Anchor for SCSS
        .data-grid {
            margin-top: 30px;
            text-align: left;
        }
        // HOTFIX for data grid first item spacing in tabs
        // Generic Table Rows
        #{$tabs-content}__table {
            width: 100%;

            #{$tabs-content}__caption {
                display: none;
            }

            #{$tabs-content}__tbody {
                #{$tabs-content}__tr {
                    margin-bottom: 20px;
                    border-bottom: 1px solid #dadada;
                    display: flex;
                    padding: 0 0 20px 0;
                    position: relative;

                    @media screen and (max-width: 767px) {
                        display: block;
                    }

                    &:first-of-type {
                        padding-top: 20px;
                    }

                    #{$tabs-content}__th {
                        // Layout Controls
                        &:nth-child(1) {
                            @include make-col(4);
                            text-align: left;

                            @media screen and (max-width: 767px) {
                                @include make-col(12);
                                display: block;
                            }
                        }
                    }

                    #{$tabs-content}__td {
                        // Layout Controls
                        &:nth-child(2) {
                            @include make-col(8);

                            @media screen and (max-width: 767px) {
                                @include make-col(12);
                                display: block;
                            }
                        }

                        button {
                            img {
                            }
                        }
                    }
                }
            }
        }

        .table-row {
            padding: 10px 0;
            display: block;

            &:last-child {
                border-bottom: none;
            }
        }

        .tabs-panel {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}

.tabs__input--1:checked ~ .tabs__section--1,
.tabs__input--2:checked ~ .tabs__section--2,
.tabs__input--3:checked ~ .tabs__section--3,
.tabs__input--4:checked ~ .tabs__section--4,
.tabs__input--5:checked ~ .tabs__section--5 {
  display: block;
}

.tab-named-driver__arrow:hover {
  cursor: pointer;
}

.tab-named-driver__button {
  margin: 0;
  padding: 5px 25px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #6859a3;
}

.tab-named-driver__button:hover {
  background-color: rgba(104, 89, 163, 0.1);
  cursor: pointer;
}

.tab-named-driver__checked {
  background-color: rgba(104, 89, 163, 0.1);
}

.tab-named-driver__outer-container {
  margin: auto;
  width: 80%;
  height: 100px;
  overflow-x: scroll;
  left: 20%;
}

@media only screen and (min-width: 2000px) {
  .tab-named-driver__outer-container {
    margin-top: 10px;
  }
}

.tab-named-driver__inner-container {
  white-space: nowrap;
  display: flex;
  width: 100%;
}

.tab-named-driver__overflow {
  overflow: hidden;
  height: 60px;
  display: flex;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}

.tab-named-driver__arrow {
  height: 30px;
}

.tab-named-driver__card {
  width: 50%;
  margin: auto;
  text-align: center;
}

/* 
    NEW VERSION OF TABS
*/
.named-driver-list {
  display: flex;
  width: 100%;
  margin: 0 auto 2rem auto;
}

.named-driver-scroller {
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 58px;

  &__scroll-area {
    overflow-x: scroll;
    display: flex;
    margin-bottom: 0;
  }

  &__scroll-area::-webkit-scrollbar {
    display: none !important;
  }

  &__scroll-content {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    will-change: transform;
  }
}

.named-driver-tab {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    height: 48px;
    padding: 0 24px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    user-select: none;
    border: none;
    background: transparent;
    box-shadow: none;
    outline: none;
    font-size: 1rem;
    border-bottom: 2px solid #f5f5f5;
    margin: 6px; // To allow box shadow on focus
    &__content {
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--active {
        font-weight: 600;
        color: $color-primary;
    }

    &--active::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        bottom: -2px;
        background-color: $color-primary;
    }
}

.named-driver-pagination {
  &__left,
  &__right {
    display: flex;
    flex: 0 0 30px;
    max-width: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.hide {
      display: block;
      visibility: hidden;
    }

    & .pagination-arrow {
      display: block;
      height: 18px;
      width: 18px;
    }
  }

  &__left {
    margin-left: -24px;
  }

  &__right {
    margin-right: -24px;
  }
}
