.scroll-prompt {
    height: 100px;
    width: 100%;
    background-color: #fff;
    opacity: 1;
    position: fixed;
    bottom: 0;
    z-index: 20;
    box-shadow: #fff 0px -50px 100px;
    @include breakpoint(900px) {
      height: 130px;
    }
    &__text {
      font-size: 16px;
      color: $color-primary;
      font-weight: 600;
      text-align: center;
      margin-top: 10px;
      @include breakpoint(900px) {
        margin-top: 10px;
        font-size: 18px;
      }
    }
  
    &__mouse {
      top: 50px;
      height: 45px;
      width: 25px;
      border: 2px solid #a4a4a4;
      border-radius: 80px;
      margin: auto;
    }
  
    &__mouse::before {
      content: "";
      width: 7px;
      height: 7px;
      position: absolute;
      top: 10px;
      background-color: #a4a4a4;
      border-radius: 50%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
      animation: mouse-scroll 1.5s infinite;
    }
  }
  
.disappear {
    transform: translate(-100%);
    animation: scroll-prompt-fade 0.5s ease-in-out;
}