$about-brand-carousel__text-color: $color-primary !default;

.about-brand {

    @include breakpoint(400px) {
        padding: 80px 0;
    }

    &__text {
        text-align: center;
        max-width: 950px;
        margin: auto;
        padding: 20px 10px;
        font-weight: 300;
        color: $about-brand-carousel__text-color;
        line-height: 1.45;
        @include font-size(20px);

        @include breakpoint(400px) {
            @include font-size(24px);
            paddig: 20px 0;
        }
    }

    &__standard-text {
        font-weight: 300;
    }
}