.promotional-offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 20px 0;

    @include breakpoint($screen-md) {
        flex-direction: row;
        margin: 40px 0 40px 0;
    }

    &__title {
        display: $promotional-offers-title-display-mobile;
        justify-content: center;
        align-items: center;

        @include breakpoint($screen-md) {
            display: flex;
        }
    }

    &__item {
        position: relative;
        background-color: $promotional-offers-background-color;
        margin-bottom: 20px;
        padding: 30px 20px 20px;

        @include breakpoint($screen-md) {
            max-width: 45%;
            margin: 0 20px 0 0;
        }
    }

    &__content{
        margin-bottom: 20px;

        &-text {
            display: block;
            margin-right: 10px;
            padding: 5px 10px;

            @include breakpoint($screen-lg) {
                display: inline;
            }
        }

        &-image{
            height: 20px;
            width: 21px;
            margin-right: 5px;
        }

    }

    &__image {
        height: $promotional-offers-image-height;
        width: $promotional-offers-image-width;
        margin: $promotional-offers-image-margin;
    }


    &__terms {
        color: $color-font--light;
        display: block;
        max-width: 566px;
        margin: 0 auto;
    }
}
