// Payment Option Containers
.payment-options {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: none;
  justify-content: center;
}

.payment-option {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: $payment-option-background;
  border: 1px solid$payment-option-border-color;
  user-select: none;
  margin: 0;
  width: 100%;
  cursor: pointer;

  @include breakpoint($screen-md) {
    flex: 1 1 50%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    min-height: $payment-option-min-height;
    min-width: 200px;
    max-width: 268px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: calc(50% - 20px);
    height: 40px;
    width: 40px;
    border: inherit;
    border-radius: 50%;
    background-color: $payment-option-label-after-background;
    background-image: url("../images/icon-radio--unchecked.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50px;

    @include breakpoint($screen-md) {
      left: calc(50% - 20px);
      bottom: -20px;
    }
  }
  // Payment Option Elements
  &__frequency {
    color: $payment-option-frequency-amount-color;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 29px;

    @include breakpoint($screen-md) {
      font-size: 24px;
      line-height: 33px;
      text-align: center;
    }
  }

  &__car {
    display: none; // variable
  }

  @include breakpoint($screen-md) {
    &__car {
      display: block;
      position: absolute;
      bottom: 80px;
      height: 100px;
      width: calc(100% + 2px);
      margin-left: -21px;
      overflow: hidden;

      &::before {
        display: block;
        content: "";
        position: absolute;
        left: calc(50% - 65px);
        top: calc(64% - 30px);
        height: 60px;
        width: 120px;
        background-color: transparent;
        background-image: url("../images/car.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateX(-200%);
        animation: carExit 200ms ease-in-out;
      }
    }
  }

  &__amount {
    color: $payment-option-frequency-amount-color;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 29px;

    @include breakpoint($screen-md) {
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &--annual {
    border-radius: $payment-option--annual-radius;
    padding-left: 80px;

    @include breakpoint($screen-md) {
      background-image: $payment-option--annual-bakgound-image;
      background-position: 50% 65px;
      background-repeat: no-repeat;
      background-size: 230px;
      margin-right: $payment-option--annual-desktop-margin;
      border-radius: $payment-option--annual-desktop-radius;
      padding-left: 20px;

      .payment-option__radio:checked + & {
        background-image: $payment-option--annual-active-bakgound-image;
        background-position: 50% 65px;
        background-repeat: no-repeat;
        background-size: 230px;
      }
    }
  }

  &--monthly {
    border-radius: $payment-option--monthly-radius;
    padding-left: 80px;

    @include breakpoint($screen-md) {
      background-image: $payment-option--monthly-bakgound-image;
      background-position: 50% 65px;
      background-repeat: no-repeat;
      background-size: 230px;
      border-radius: $payment-option--monthly-desktop-radius;
      padding-left: 20px;

      .payment-option__radio:checked + & {
        background-image: $payment-option--monthly-active-bakgound-image;
        background-position: 50% 65px;
        background-repeat: no-repeat;
        background-size: 230px;
      }
    }
  }
}

// Payment Option States
@media (hover: hover) and (pointer: fine) {
  .payment-option__radio + .payment-option:focus {
    color: $focus-text-color;
    background-color: $focus-background-color;
    border: 2px dotted $focus-border-color;
    text-decoration: none;
    outline: none;
  }

  .payment-option__radio:checked:focus + .payment-option {
    z-index: 1;
    color: $focus-active-text-color;
    background-color: $payment-option__radio-checked-background-color;
    @include focusSelectSurround;
  }
}

.payment-option__radio:checked + .payment-option {
  border: 1px solid $payment-option__radio-checked-border-color;
  background-color: $payment-option__radio-checked-background-color;

  & * {
    color: $payment-option__radio-checked-color;
  }

  &::after {
    background-image: url("../images/icon-radio--checked.svg");
  }

  .payment-option__car::before {
    transform: translateX(0);
    animation: carEntrance 300ms ease-in-out;
  }
}

.payment-monthly-information {
  display: none;
  text-align: center;

  &__promote-monthly {
    margin-top: 0px;
    display: block;
  }

  p {
    color: $payment-option--monthly-p-color;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0 auto 10px auto;
    max-width: 767px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

#paymentMonthlyRadio:checked ~ .payment-monthly-information,
.payment-monthly-information__promote-monthly {
  display: block;
  flex: 0 0 100%;
  width: 100%;
  margin-top: 40px;

  &--switch {
    display: none;

    @include breakpoint($screen-md) {
      display: block;
      margin-top: 0px;
    }
  }
}

.payment-annual-information {
  display: none;

  &__promote-monthly {
    display: block;
  }

  &__legal {
    color: $payment-option--monthly-p-color;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0 auto 10px auto;
    max-width: 500px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .daily-pricing-container {
    max-width: 420px;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .daily-pricing {
    position: relative;
    padding: 0 0 0 70px;

    @include breakpoint($screen-md) {
      padding: 0 0 0 40px;
    }

    &__icon {
      display: none;
      position: absolute;
      top: 26px;
      left: 30px;
      height: 50px;
      width: 50px;

      @include breakpoint($screen-md) {
        display: block;
        top: 2px;
        left: -15px;
      }
    }

    &__message {
      position: relative;
      color: $payment-option--annual-message-color;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0px;
      line-height: 29px;
      margin: 0;
    }

    &__sub-message {
      color: $payment-option--annual-sub-message-color;
      display: block;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 0px;
      line-height: 20px;
      margin: 0;
    }

    &--mobile {
      display: block;

      @include breakpoint($screen-md) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include breakpoint($screen-md) {
        display: block;
      }
    }
  }
}

#paymentAnnualRadio:checked ~ .payment-annual-information,
.payment-annual-information__promote-monthly {
  display: block;
  flex: 0 0 100%;
  width: 100%;
  margin-top: 20px;

  @include breakpoint($screen-md) {
    margin-top: 40px;

    &--isf {
      margin-top: 0px;
    }
  }
}

#paymentMonthlyRadio:not(:checked) ~ .payment-option {
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 32px;
    bottom: -38px;
    height: 22px;
    width: 27px;
    background-image: url("../images/daily-pricing-arrow-sml.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 27px 22px;
  }

  @include breakpoint($screen-md) {
    &::before {
      display: block;
      position: absolute;
      left: auto;
      right: calc(50% - 20px);
      bottom: -90px;
      content: "";
      height: 58px;
      width: 79px;
      background-image: url("../images/daily-pricing-arrow.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 79px 58px;
    }
  }

  &--noarrow {
    &::before {
      content: none;
    }
  }
}

.trustpilot-widget {
  margin-top: 20px;
}

.promote-monthly--brand {
  color: $promote-monthly-text;
}

.payment-switch {
  &__label {
    border-color: $color-primary;
    color: $color-primary;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;

    &--selected,
    &--selected:hover {
      color: $color-white;
      background-color: $color-primary;
      border-color: $color-primary;
      background-size: 30px 30px;
      background-position: 14% center;
      background-image: url(../images/icon-tick--white.svg);
      background-repeat: no-repeat;
    }

    &:hover {
      color: $color-white;
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .payment-switch__radio + .payment-switch__label:focus {
    color: $focus-active-text-color;
    background-color: $payment-option__radio-checked-background-color;
    border: 2px solid $color-white;
    text-decoration: none;
    outline: 2px dotted $focus-border-color;
  }

  .payment-switch__radio:checked:focus + .payment-switch__label {
    @include buttonFocus;
    z-index: 1;
  }
}
