//Post Office
$color-primary: #d71440;
$brand: $color-primary;
$primary: $color-primary;
$color-secondary: #d71440;
//$color-tertiary: #n/a;
$color-grey: #666666;
$color-green: #d71440;
$color-secondary-grey: #5A5A69;

$font-family-base: 'Proba Pro', Arial, sans-serif;
$color-font: #333333;

// Backgrounds
$bg-blue-grey: #f5f7fa !default;
$bg-light-grey: #f6f6f6 !default;
$bg-lighter-grey: #fafafa !default;

$button-primary-background: $color-secondary;
$button-primary-background-hover: $color-secondary;
$button-border-radius: 30px;
$notification-background-color: #EAEDF9;
$notification-border-color: #EAEDF9;

//Radios
$form-tab-selected-background: $color-secondary-grey;
$form-tab-selected-border-color: $color-secondary-grey;

$form-label-pill-color: $color-font;
$form-label-pill-background-color-hover: $color-secondary-grey;
$form-label-pill-border-color-hover: $color-secondary-grey;

$step-form-button-color: $color-font;
$step-form-button-background-color-hover: $color-secondary-grey;
$step-form-button-border-color-hover: $color-secondary-grey;

$button-radio-color: $color-font;
$button-radio-background-color-hover: $color-secondary-grey;
$button-radio-border-color-hover: $color-secondary-grey;
$button-radio-background-color-selected: $color-secondary-grey;
$button-radio-border-color-selected: $color-secondary-grey;

//Tabs
$tabs-label-color: $color-font;
$tabs-label-pill-border: 1px solid $color-secondary-grey;
$tabs-label-pill-background-color-hover: $color-secondary-grey;

// Links
$link-active: $color-primary;
$header-text-colour-hover: $color-font;
$nav-link-color-hover: $color-font;

//PP+WI
$fbel-banner-border-radius: 0;
$fbel-banner-border-color: #f4f6f6;
$fbel-banner-heading-color: $color-font;
$fbel-banner-background-color: #f4f6f6;
$total-excess-font-weight: 400;
$inclusion-list__link-color: $color-primary;
$section-policy-payment-background-color: #fafafa;
$payment-option__radio-checked-border-color: $color-secondary-grey;
$payment-option__radio-checked-background-color: $color-secondary-grey;
$policy-excess-background-color: #f6cfd7;
$payment-option--annual-desktop-radius: 10px;
$payment-option--monthly-desktop-radius: 10px;
$payment-option-min-height: 126px;
$payment-option--annual-bakgound-image: none;
$payment-option--annual-active-bakgound-image: none;
$payment-option--monthly-bakgound-image: none;
$payment-option--monthly-active-bakgound-image: none;
$included-section--header-color: $color-font;
$policy-feature-premier-button-background: $color-primary;
$policy-feature-premier-button-color: #fff;
$card-upgrade-color: $color-font;
$card-upgrade-background-color: linear-gradient(
  -225deg,
  #f2f2f2 0%,
  #f2f2f2 100%
);
$card-upgrade-color: $color-font;
$section-policy-details-background-color: #fff;
$section-policy-features-background-color: #fafafa;
$section-heading-color: $color-font;
$card-image-mobile-height: 25px;
$card-image-mobile-width: 25px;
$card-image-height: 80px;
$card-image-width: 80px;
$card-image-padding: 15px;
$card-image-mobile-top: 5px;
$card-image-mobile-left: 6px;
$card-image-top: -2px;
$card-image-left: -2px;
$policy-feature-image-wrapper-mobile-height: 40px;
$policy-feature-image-wrapper-mobile-width: 40px;
$policy-feature-image-wrapper-height: 80px;
$policy-feature-image-wrapper-width: 80px;
$policy-feature-image-wrapper-background: #fff;
$policy-feature-image-wrapper-border: 2px solid $color-primary;
$policy-detail-heading-font-weight: 600;

//houston
$houston-enhanced-notification-button-radius: 30px;

// Houston Cookie Policy
$cookie-policy-color: $color-font;
$cookie-policy-text-decoration: underline;

//Single Page Add Ons (SPAO)
$border-addon: 2px solid $color-secondary-grey;
$addon-radius: 8px;
$background-promo: #cad8dc;
$border-promo: 4px solid #ba112d;
$addon-border-radius: 10px 10px 0px 0px;
$addon-list-font-weight: 500;
$color-checked: $color-secondary-grey;
$demands-and-needs-checked-label-color: $color-secondary-grey;
$demands-and-needs-checked-label-border-color: $color-secondary-grey;
$demands-and-needs-label-hover-color: $color-secondary-grey;
$demands-and-needs-label-hover-border-color: $color-secondary-grey;

//Nav
$nav-primary-mobile-background: #fff;
$nav-primary-mobile-discs: none;
$nav-primary-mobile-link-colour: $color-primary;
$nav-primary-mobile-ui-icon-before-color: $color-primary;

//PolicySelector
$policy-selector-background: $bg-lighter-grey;
$policy-selector-discs: none;
$policy-selector-header-text-color: $color-primary;
$policy-selector-header-text-color-hover: $color-secondary;
$policy-selector-menu-text-color: $color-primary;
$policy-selector-account-select-border-radius: 10px;
$policy-selector-account-select-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
$policy-selector-account-link-color: $color-primary;

//Notifications/Alerts
$notifications-header-font-color: $color-font;
$notifications-snooze-text-colour-hover: $color-secondary;
$notifications-background: #fff;
$notifications-item-background: #fff;
$notifications-text-colour: $color-font;
$notifications-snooze-background: #fff;
$notifications-snooze-text-colour: $color-font;
$notifications-snooze-background-hover: #fff;
$notifications-button-background-color: $color-primary;
$notifications-button-text-color: #fff;
$notifications-button-background-hover: $color-secondary;
$notifications-button-text-color-hover: #fff;

// Footer
$page-footer-link-hover-color: $color-primary;