// Brand specific variables
@import 'brand.variables';

// @import core sass;
@import '../../common/sass/01-settings/settings';
@import '../../common/sass/02-tools/tools';
@import '../../common/sass/03-generic/generic';
@import '../../common/sass/04-elements/elements';
@import '../../common/sass/05-objects/objects';
@import '../../common/sass/06-components/components';
/* inject:imports */
/* endinject */
@import '../../common/sass/07-trumps/trumps';

@font-face{
  font-family: 'Proba Pro';
  src: url(../fonts/3ADEAC_7_0.woff)  format("woff");
}

body {
  color: $color-font;
}

.h0,
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  color: $color-font;
}

a {
  color: $color-font;
  text-decoration-color: $color-font;
  &:hover {
    color: $color-font;
    text-decoration-color: $color-font;
  }
}

.grey {
  background-color: #f3f3f3;
}

.policy-inclusion__image-wrapper {
  background-color: #95b6df;
}

.page-section.grey {
  padding: 0;
  margin: 0;
}

.initials-disc__disc {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.message-box {
  text-align: center;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 0px $color-primary;
  position: relative;
  max-width: 868px;
  margin: auto;
  &:before,
  &:after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: -10px;
    right: 40px;
    transform: rotate(45deg);
  }
  &:after {
    height: 25px;
    width: 25px;
    content: "";
    background: $color-white;
    bottom: -9px;
    right: 38px;
  }
  &:before {
    box-shadow: 0px 0px 4px $color-primary;
  }
}

.add-on-info {
  margin-top: 10px;
  &--table-footer {
    text-align: center;
    font-size: small;
    width: 200px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}

.form-row__input {
  color: $color-font;
}

.policy-inclusion__image-wrapper,
.policy-inclusion__image-wrapper--premium {
  background: $color-white;
  border-color: $color-primary;
}

.base-table .grc__button.button--primary,
.breakdown-table .breakdown-table__button.button--primary {
  color: $color-font;
  border-color: #d4d6d8;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 8px;
  &:hover {
    color: $color-white;
    background-color: $color-secondary-grey;
    border-color: $color-secondary-grey;
  }
  &.active {
    background-position: 92% center;
    color: $color-white;
    background-color: $color-secondary-grey;
    border-color: $color-secondary-grey;
  }
}

.base-table th.active,
.base-table td.active,
.base-table tr.active {
  border-right-color: $color-primary;
  border-left-color: $color-primary;
  .grc__button {
    color: $color-white;
    background-color: $color-secondary-grey;
    border-color: $color-secondary-grey;
  }
}

#roadsidedisabled {
  padding-left: 23px;
  background-size: 20px;
  text-align: center;
  padding: 10px;
  font-size: 13px;
  font-size: 0.8125rem;
  width: 100%;
}

.form-row {
  &__input {
    &:not([disabled]):hover {
      border-color: #333;
    }
    &:focus {
      border-color: #333;
    }
  }
  &__select {
    color: $color-font;
  }
  &__hint-text {
    color: $color-font;
  }
}

.centered-main-heading__heading {
  color: $color-font;
}

.legal-modules__heading--main {
  color: $color-font;
}

.legal-modules__icon.postoffice {
  width: 90px;
  height: auto;
}

.button {
  &-large {
    border-radius: 25px;
  }
  &.button--primary {
    border-radius: 30px;
    &:active {
      background-color: $color-primary;
    }
  }
  &--xs:hover {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
  &--text {
    min-width: 150px;
    color: $color-font;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $color-font;
    }
  }
  &--secondary, &--hollow {
    background: $color-primary;
    color: $color-white;
    border-color: $color-primary;
    &:hover {
      background: $color-primary;
      color: $color-white;
      border-color: $color-primary;
    }
  }
  &-message__text {
    color: $color-font;
  }
  &--price {
    &--yearly:hover {
      background: $color-secondary-grey;
      color: $color-white;
      border-color: $color-secondary-grey;
    }
    &--monthly:hover {
      background: $color-secondary-grey;
      color: $color-white;
      border-color: $color-secondary-grey;
    }
  }
}

.button.button--large.button--price {
  background: $color-white;
  color: $color-font;
  border-color: $color-primary;

  &:hover,
  &:active,
  &:focus {
      background: $color-primary;
      color: $color-white;
      border-color: $color-primary;
  }
  &.selected:hover {
    background-size: 30px 30px;
    background-position: 14% center;
    background-image: url(../images/icon-tick--white.svg);
    background-repeat: no-repeat;
  }
}

.manual-reg__link {
  color: $color-font;
  text-decoration-color: $color-font;
}

.address__line {
  color: $color-font;
}

.link {
  color: $color-secondary;
  text-decoration: none;
  &:hover {
    color: $color-secondary;
    text-decoration: underline;
    text-decoration-color: $color-secondary;
  }
  &--primary, &--secondary {
    color: $color-secondary;
    text-decoration: none;
    &:hover {
      color: $color-secondary;
      text-decoration: underline;
      text-decoration-color: $color-secondary;
    }
  }
}

.ipid-link {
  color: $color-secondary;
    text-decoration: none;
    &:hover {
        color: $color-secondary;
        text-decoration: underline;
        text-decoration-color: $color-secondary;
    }
}

.change-summary__label {
  color: $color-font;
}

.initials-disc__disc {
  border: 1px solid;
  border-color: $color-primary;
}

.initials-disc__under-text {
  color: $color-font;
}

.ssc-initials__section--add .ssc-initials__name {
  color: $color-font;
}

.manual-reg {
  &__heading {
    color: $color-font;
  }
  &__text {
    color: $color-font;
  }
}

.breadcrumb {
  &__section {
    color: $color-font;
    background-color: $color-font;
  }
  &__disc {
    border-color: $color-font;
    &--last {
      border-color: $color-font;
    }
  }
  &__line--base {
    background-color: $color-font;
  }
  &__text {
    color: $color-font;
    a:hover {
      color: $color-primary;
      text-decoration: none;
    }
    &--last {
      color: $color-font;
    }
  }
  &__section.active {
    & .breadcrumb__disc--last {
      border-color: $color-font;
    }
    & .breadcrumb__text--last {
      color: $color-font;
    }
  }
}

.vehicle-confirmation__vehicle {
  &--main {
    color: $color-font;
  }
  &--sub {
    color: $color-font;
  }
}

.vehicle-confirmation__details-list-item {
  color: $color-font;
}

.sub__question {
  color: $color-font;
}

.has-error {
  color: $color-red;
}

.calendar .calendar-nav--select select {
  color: $color-font;
}

.date-picker__section--actions
  .date-picker__action-box
  .date-picker__selected-date-wrapper {
  color: $color-font;
}

.date-picker__section--actions
  .date-picker__action-box
  .date-picker__selected-date-wrapper
  .date-picker__selected-month {
  color: $color-font;
}

.welcome-quote {
  &__heading {
    color: $color-font;
  }
  &__sub-text {
    color: $color-font;
  }
}

.cover-features-list__link {
  color: $color-font;
}

.cover-features-list__item--caption {
  color: $color-font;
}

.page-heading__heading {
  color: $color-font;
}

.policy-inclusion__heading {
  color: $color-font;
}

.feature-header {
  &__heading-highlight-text {
    color: $color-font;
  }
  &__sub-heading {
    color: $color-font;
  }
  &__standard-price-text {
    color: $color-font;
  }
  &__highlight-price-text {
    color: $color-font;
  }
  &__interest {
    color: $color-font;
  }
  &__heading {
    color: $color-font;
  }
}

.addon {
  &__text--emphasised {
    color: $color-font;
  }
  &-radio__price {
    color: $color-font;
  }
  &-radio-question__price {
    color: $color-font;
  }
}

.page-section__heading {
  color: $color-font;
}

.keycare-diagram {
    &__added-title {
        color: $color-font;
    }

    &__cover-text--added {
        color: $color-font;
    }

    &__image-wrapper {
        &--current {
            border-bottom: solid 2px $color-grey--light;
        }
    }
}

.accordion__heading-button {
  color: $color-font;
}

.review-overview {
  &__heading-text {
    color: $color-font;
  }
  &__heading-sub-wrapper {
    color: $color-font;
  }
}

.contact-tiles {
  &__text {
    color: $color-font;
  }
  &__tile {
    background-position: center 30px;
    background-repeat: no-repeat;
    background-size: 41px 41px;
    &:hover {
      background: $color-secondary-grey;
      color: $color-white;
      border-color: $color-secondary-grey;
      background-position: center 30px;
      background-repeat: no-repeat;
      background-size: 41px 41px;
    }
    &--sms:hover {
      background-image: url(../images/icon-sms--white.svg);
    }
    &--post:hover {
      background-image: url(../images/icon-post--white.svg);
    }
    &--email:hover {
      background-image: url(../images/icon-email--white.svg);
    }
    &--telephone:hover {
      background-image: url(../images/icon-phone--white.svg);
    }
  }
}

.monthly-radio__label--acc {
  color: $color-font;
  &:hover {
    background-image: url(../images/icon-direct-debit.svg);
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 50px;
    color: $color-white;
  }
}

.monthly-radio__label--card {
  color: $color-font;
  &:hover,
  .monthly-radio .tabs__input:checked + .monthly-radio__label--card {
    background-size: 35px 35px;
    background-position: 15px 50%;
    background-repeat: no-repeat;
    background-image: url(../images/icon-credit-card--white.svg);
    color: $color-white;
  }
}

.monthly-radio .tabs__input:checked + .monthly-radio__label--card,
.monthly-radio .tabs__input:checked + .monthly-radio__label--acc {
  background-size: 35px 35px;
  background-position: 15px 50%;
  background-repeat: no-repeat;
  background-image: url(../images/icon-credit-card--white.svg);
  color: $color-white;
}

.credit-agreement__sub-text {
  color: $color-font;
}

.shopping-basket-details__price-text {
  color: $color-font;
}

.shopping-basket-actions__button {
  border-radius: 30px;
}

.excess-bar {
  &__heading {
    &--compulsory {
      color: $color-font;
    }
    &--voluntary {
      color: $color-font;
    }
  }
  &__value {
    &--compulsory {
      color: $color-font;
    }
    &--voluntary {
      color: $color-font;
    }
  }
}

.payment-card,
.new-card {
  color: $color-font;
}

.read-confirm__checkbox:checked + label.read-confirm__label:before {
  background: url(../images/icon-checkbox-alt--active.svg);
}

.notification-button,
.notification-button:hover {
  color: $color-white;
  background-color: #BA112D;
  border-color: #BA112D;
}

.notification {
    color: #000;

    &--enhanced {
        &__button-wrapper {
            & .button {
                border-radius: $houston-enhanced-notification-button-radius;

                &--inverted {
                    background-color: $color-primary;
                    color: $color-white;
                }

                &--ghost {
                    background-color: $color-white;
                    border-color: $color-secondary-grey;
                    color: $color-secondary-grey;
                }
            }
        }
    }
}

.notification-message .va-invocation {
  color: #BA112D;
  text-decoration-color: #BA112D;
}

.button.button--large.button--price {
  background: $color-white;
  color: $color-font;
  border-color: $color-primary;

  &:active,
  :focus {
      background: $color-primary;
      color: $color-white;
      border-color: $color-primary;
  }

  &:hover {
      background: $color-primary;
      color: $color-white;
      border-color: $color-primary;
  }
}

.step-form__other-button {
  color: $color-font;
  border-radius: 5px;

  &:hover {
      background: $color-secondary-grey;
      color: $color-white;
      border-color: $color-secondary-grey;
  }
}

.page-footer__link, .footer-docs__link {
  color: $color-primary;
  text-decoration: none;
  &:hover {
      color: $color-primary;
      text-decoration: underline;
      text-decoration-color: $color-primary;
  }
}

.error-messagebox__heading {
    color: $color-grey--lighter;
}

.carousel__list.variation-carousel__list{
  max-width: 800px;
  margin: 0 auto;
  .carousel__slide {
    width: 33%;
    @media screen and (max-width: 900px){
      width: 100%;}
  }
}

.list--chosen {
    .list__item {
        background-image: url("../images/icon-check.svg");
    }
}

.base-table tr th {
  @media screen and (max-width: 767px) {
    width: 50%;
    float: left;
    display: block !important;
    &.hide {
      display: none !important;
    }
  }
}

.base-table thead tr th:first-of-type {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.table.base-table tr {
  @media screen and (max-width: 320px) {
      width: 95%;
  }
}

.cover-features-list__item.disabled button {
  color: $color-font;
}

.card-container__card-image-wrapper {
  position: absolute;
  top: 35px;
  left: 10px;
  margin-bottom: 0;
  height: $policy-feature-image-wrapper-mobile-height;
  width: $policy-feature-image-wrapper-mobile-width;
  background-color: $policy-feature-image-wrapper-background;
  border: $policy-feature-image-wrapper-border;
  border-radius: 50%;
  @include breakpoint($screen-md) {
    position: static;
    display: block;
    height: $policy-feature-image-wrapper-height;
    width: $policy-feature-image-wrapper-width;
    margin-bottom: 20px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .payment-option__radio:checked:focus + .payment-option {
    border: none;
    outline: none;
    transform: none;
    z-index: 1;
  }
}

.policy-detail .button--xs,
.section-policy-excess .button--xs {
  color: $color-font;
  background-color: $color-white;
  border: 2px solid $color-secondary-grey;
  border-radius: 20px;
}

.section-policy-excess .page-section--inner {
  border-bottom: none;
}


.premier-text-logo {
  color: $color-white;
  background-color: #d00f39;
  border: 1px solid #d00f39;
  border-radius: 50%;
}

.page-section__variation-table {
  padding-top: 70px;
  background-color: #fafafa;
}

.message-box__mvt{
  text-align: left;
  max-width: 900px;
  background: $color-white;
  border-color: #e3e3e3;
  box-shadow: 0px 0px 4px 0px #e3e3e3;
  &:before {
    box-shadow: 0px 0px 4px 0px #e3e3e3;
  }
}

.base-table--two-cols {
  margin-bottom: 10px;
  .empty--cell {
    background-color: #fafafa;
  }
}

#plus-defaqto {
  height: 50px;
  max-width: 250px;
  margin: 5px 0px;
  @include breakpoint(920px) {
        top: 0;
		position: absolute;
        right: 4%;
        margin: 10px auto 0 auto
   }
}

.addon-radio__main-price {
  color: $color-font;
}

.date-picker-v2__button-sub-wrapper .date-picker-v2__sub-button {
    &:focus {
        border-radius: 5px;
    }
}