﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CommonComponent
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums

@{
    ViewBag.Title = "Annual Mileage";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderCoverDetailsAnnualMileage(new ComponentCoverDetailsConfiguration
        {
            Id = "CoverDetails",
            ErrorConfiguration = new ComponentErrorConfiguration(),
            TenantConfiguration = tenantConfiguration,
            DataStoreKey = "CoverDetailsAnnualMileage",
            JourneyType =  JourneyTypes.MultiStepEdit,
            PreviousStepUrl = Url.Action("CoverStartdate", "YourCover"),
            NextStepUrl = Url.Action("VehicleUse", "YourCover")
        })
    </div>
</div>
