﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CoverRange
@using BGL.Components.CoverRange.Enums
@using BGL.Components.CoverRange.ViewOptions
@using CoverRangeViewOptions = BGL.Components.CoverRange.ViewOptions.ViewOptionsConfiguration;

@{
    ViewBag.Title = "Cover Start Date";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderCoverRangeDatePicker(new ComponentCoverRangeConfiguration
   {
       Id = "DatePickerDefault",
       JourneyType = JourneyType.MultiStepEdit,
       BackButtonUrl = Url.Action("CoverLevel", "YourCover"),
       CoverExcessesBackUrl = Url.Action("CoverExcesses", "YourCover"),
       NextStepUrl = Url.Action("AnnualMileage", "YourCover"),
       DataStoreKey = "CoverDetailsCoverLevel",
       TenantConfiguration = tenantConfiguration,
       ViewOptions = new CoverRangeViewOptions { PartialDatePicker = PartialDatePicker.BglPartialDatePicker }
   })
    </div>
</div>


