﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums

@{
    ViewBag.Title = "Cover Level";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
<div class="page-section--inner narrow">
    @Html.ComponentRenderCoverLevel(new ComponentCoverDetailsConfiguration
    {
        Id = "CoverLevel",
        DataStoreKey = "CoverDetailsCoverLevel",
        JourneyType =  JourneyTypes.MultiStepEdit,
        NextStepUrl = Url.Action("CoverExcesses", "YourCover"),
        CoverLevelUrl = Url.Action("CoverStartDate", "YourCover"),
        BackButtonUrl = Url.Action("MainDriver", "YourCover"),
        TenantConfiguration = tenantConfiguration
    })
</div>
</div>
