﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums

@{
    ViewBag.Title = "Other Vehicles";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderCoverDetailsOtherVehicles(new ComponentCoverDetailsConfiguration
        {
        Id = "OtherVehicles",
        DataStoreKey = "OtherVehicles",
        JourneyType = JourneyTypes.MultiStepEdit,
        PreviousStepUrl = Url.Action("NcdSource", "YourCover"),
        BackButtonUrl = Url.Action("NcdYears", "YourCover"),
        NextStepUrl = Url.Action("PaymentsRegularity", "OtherDetails"),
        TenantConfiguration = tenantConfiguration
        })
    </div>
</div>
