﻿@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Extensions
@using BGL.Components.CommonComponent
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums

@{
    ViewBag.Title = "Registered Keeper Marital Status";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var product = Request.GetOwinContext()?.Authentication?.User?.Product();
    var controller = product.Equals("Car", StringComparison.OrdinalIgnoreCase) ? "YourCar" : "YourVan";
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderCoverDetailsMaritalStatus(new ComponentCoverDetailsConfiguration
        {
            Id = "CoverDetails",
            ErrorConfiguration = new ComponentErrorConfiguration(),
            TenantConfiguration = tenantConfiguration,
            DataStoreKey = "CoverDetails",
            JourneyType =  JourneyTypes.MultiStepEdit,
            MainDriverPageUrl = Url.Action("MainDriver", "YourCover"),
            PreviousStepUrl = Url.Action("AboutRegisteredKeeper", "YourCover"),
            ParentJourneyUrl = Url.Action("OvernightParking", controller),
            NextStepUrl = Url.Action("RegisteredKeeperSameAddress", "YourCover")
        })
    </div>
</div>
