﻿@using BGL.Web.Halifax.MotorQuote.Constants

<div>
    <p><strong>Check your inbox</strong></p>
    <p>You may have been sent an email from us with your quote number.</p>
    <p><strong>Price comparison site</strong></p>
    <p>If you received a quote via a price comparison site, then you can use these details to create a new Halifax quote. Simply visit the site you used originally and click-through to Halifax.</p>
    <p><strong>Contact us</strong></p>
    <p><a class="va-invocation" href="#0" data-testid="Houston-show-chat">Chat with us</a></p>
    <p>Or call our contact centre on @BrandConstants.ContactPhoneNumber</p>
    <p>Mon-Fri: 8am - 9pm. Sat: 9am - 5pm. Sun: 10am - 4pm.</p>
</div>