﻿@using BGL.Components.VehicleDetails.Enums
@model BGL.Components.VehicleDetails.Models.VehicleBuilderViewModel
@{
    var isDropdownDisplayed = Model.VehicleBuilderTileItems?.Any() == true;
}

<input tabindex="-1" class="form-row__input form-row__input--hidden vehicle-lookup__input step-form__hidden-input" type="checkbox" name="other" id="Vehicle-Lookup-Other" @(!isDropdownDisplayed ? "checked=\"checked\"" : string.Empty) />
<label tabindex="0" class="button button--radio vehicle-lookup__other-button step-form__other-button @(Model.CurrentStep == VehicleBuilderSteps.VehicleBuilderRegistrationYearStep ? "step-form__other-button--large" : string.Empty) @(!isDropdownDisplayed ? "hide" : string.Empty)" for="Vehicle-Lookup-Other" data-testid="others-button">
    @Model.DropDownItems.ButtonText
</label>

<label for="builder-dropdown" class="visually-hidden">Select</label>
<select tabindex="0" class="form-row__select vehicle-lookup__other-textbox step-form__other-textbox vehicle-builder-dropdown" id="builder-dropdown" data-testid="dropdown__step__options">
    <option class="form-row__select-option">Please select...</option>

    @foreach (var item in Model.DropDownItems.DropdownOptions)
    {
        <option value="@item.Id" class="form-row__select-option">
            @item.Description
        </option>
    }
</select>