﻿@model int

<div class="vehicle-lookup__progress-bar-wrapper step-form__progress-bar-wrapper" data-testid="vehicle-builder-progress-bar">
    <div class="vehicle-lookup__progress-bar step-form__progress-bar vehicle-lookup__progress-bar--base step-form__progress-bar--base">
        <div class="vehicle-lookup__progress-bar step-form__progress-bar vehicle-lookup__progress-bar--main step-form__progress-bar--main step@(Model)"></div>
    </div>

    <p class="vehicle-lookup__progress-bar-text step-form__progress-bar-text">
        Step @Model of 8
    </p>
</div>

