﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.VehicleDetails.Models.RegistrationNumberViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}_form-edit-registration-number";
    var displayCloseBackButton = Model.ComponentConfiguration.IsService && !Model.ComponentConfiguration.IsInitialChange;
    var searchVehicleUrl = Url.Action("Searching", "VehicleDetailsComponentSearching");
}

    <div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__edit-registration-number-view">
        @if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_QuoteProgressBar")
        }

        @using (Html.BeginFormBgl("ValidateRegistrationNumber", "VehicleDetailsComponentRegistrationNumber", FormMethod.Post, new
        {
            id = formId,
            @class = "step-form",
            data_testid = componentId + "__form",
            data_on_success = "bgl.components.vehicledetails.registrationnumber.onSuccess",
            data_on_error = "bgl.components.vehicledetails.registrationnumber.onError",
            data_store_key = "RegistrationNumber"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.VehicleId, new { data_store_skip = "true" })
            @Html.HiddenFor(m => m.VehicleType, new { data_store_skip = "true" })
            @Html.HiddenFor(m => m.HasChanges, new { data_store_skip = "true" })

            <p class="step-form__section-title">About your @Model.VehicleType</p>

            <h2 class="step-form__heading">Your vehicle registration</h2>

            <div class="form-row">
                @Html.Label("registration-number", "What is your registration number?", new { @class = "form-row__label" })
                @Html.TextBoxForBgl(model => model.RegistrationNumber, new { id = "registration-number", @class = "form-row__input form-row__input--registration form-row__input--text", type = "text", name = "registration", data_testid = componentId + "__registration-number-input", tabindex = 0, data_store = $"{nameof(Model.RegistrationNumber)}", maxlength = "9" })
                <div class="form-row__error-text-container">
                    @Html.ValidationMessageFor(model => model.RegistrationNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__registration-number_validation-message" })
                </div>
            </div>

            <p class="page-section__text">
                This will just change the registration, not the vehicle itself.
            </p>

            <a class="link link-secondary"
               href="@searchVehicleUrl"
               id="vehicle-search-button"
               data-load-change-vehicle
               data-testid="@(componentId)__search-vehicle-button"
               data-container="SlidePanelContent"
               data-init-event="bgl.components.vehicledetails.searching.init"
               data-action-url="@searchVehicleUrl">Change the vehicle</a>


            <div class="page-section--inner">
                <div class="button-container">
                    <button type="submit"
                            class="button button--primary button--large button--right slide-panel__close"
                            id="vehicle-registration-number_done-button"
                            data-testid="@(componentId)__done-button">
                        Continue
                    </button>
                    @if (displayCloseBackButton)
                    {
                        <a href="#" class="button button--text button--large button--left button--back" data-testid="@(componentId)__back-button" data-dismiss="slide-panel" aria-label="Back">Back</a>
                    }
                </div>
            </div>
        }
    </div>
