﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.VehicleDetails.Models.RegistrationNumberViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}_form-edit-registration-number-information";
    string backButtonUrl = Url.Action("RegistrationNumber", "VehicleDetailsComponentRegistrationNumber");
}

    <div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__edit-registration-number-information-view">
        @if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_QuoteProgressBar")
        }

        @using (Html.BeginFormBgl("UpdateRegistrationNumber", "VehicleDetailsComponentRegistrationNumber", FormMethod.Post, new
        {
            id = formId,
            @class = "step-form",
            data_testid = componentId + "__form",
            data_on_success = "bgl.components.vehicledetails.registrationnumberinformation.onSuccess",
            data_on_error = "bgl.components.vehicledetails.registrationnumberinformation.onError",
            data_store_key = "RegistrationNumber"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.RegistrationNumber, new { data_store_skip = "true" })
            @Html.HiddenFor(m => m.VehicleId, new { data_store_skip = "true" })
            @Html.HiddenFor(m => m.VehicleType, new { data_store_skip = "true" })
            @Html.HiddenFor(m => m.HasChanges, new { data_store_skip = "true" })

        <p class="step-form__section-title">About your @Model.VehicleType</p>

            <h1 class="step-form__heading">Important Information</h1>
            <div>
                <div class="important-info">
                    <h2>Please read below and accept to continue</h2>
                    <ul class="bullet-list">
                        <li class="bullet-list__item">The current vehicle which you have insured remains the same</li>
                        <li class="bullet-list__item">Apart from the registration, the vehicle has not been adapted in any way (excluding manufacturer optional extras e.g. alloys, satnav etc.)</li>
                        <li class="bullet-list__item">The registered keeper will remain the same</li>
                        <li class="bullet-list__item">The regular driver will remain the same</li>
                        <li class="bullet-list__item">The vehicle will be kept overnight at the same address</li>
                    </ul>
                    <p>
                        <span>If your vehicle has been modified or adapted, or you need to let us know that the registered keeper or regular driver have changed then please </span>
                        <a class="link link-secondary va-invocation" href="#" rel="noopener" data-va-invocation-point="SSC_TE_ContactUs" target="_blank" data-testid="footer__contact-us">  contact us</a>
                    </p>
                </div>
            </div>

            <div id="agreement-container" class="agreement-checkbox">
                <input id="agreement-checkbox" type="checkbox" name="agreement-checkbox" value="confirmed" aria-labelledby="agreement-label" data-testid="@(componentId)__agreed-terms-checkbox" />
                <label id="agreement-label" for="agreement-checkbox"><span class="tick-here-text">Tick if you accept</span></label>
                <p class="form-row__validation-text">Please tick the box to agree with the statement above.</p>
            </div>

            <hr />

            <div class="page-section--inner">
                <div class="button-container">
                    <button type="submit"
                            class="button button--primary button--large button--right slide-panel__close"
                            id="vehicle-registration-number_done-button"
                            data-testid="@(componentId)__done-button">
                        Next
                    </button>
                    <a href="#" class="button button--text button--large button--left button--back"
                       data-testid="@(componentId)__back-button"
                       data-vehicle-id="@Model.VehicleId"
                       data-container="SlidePanelContent"
                       data-step-type="previous-step"
                       data-action-url="@backButtonUrl"
                       aria-label="Back">Back</a>
                </div>
            </div>
        }
    </div>
