﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.VehicleDetails.Enums
@model BGL.Components.VehicleDetails.Models.VehicleBodyTypeModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = "vehicle_edit_body-type_form";
    var submitBtnText = Model.JourneyType != JourneyTypes.SingleEdit ? "Continue" : "Done";
    var backButtonUrl = Model.ComponentConfiguration.JourneyType != JourneyTypes.MultiStepEdit
        ? Url.Action("SearchSummary", "VehicleDetailsComponentSearching")
        : $"{Model.ComponentConfiguration.ComponentUrl}";
}

<div class="narrow" id="vehiclebodytype" data-component-id="@componentId">

    @if (Model.ComponentConfiguration.IsService)
    {
        @Html.Partial("_QuoteProgressBar")
    }

    @using (Html.BeginFormBgl("VehicleBodyTypeSubmit", "VehicleDetailsComponentVehicleBodyType", FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_testid = componentId + "__form",
        data_on_success = "bgl.components.vehicledetails.vehiclebodytype.onSuccess",
        data_on_error = "bgl.components.vehicledetails.vehiclebodytype.onError",
        data_store_key = $"{Model.DataStoreKey}"
    }))
    {
        <h1 class="step-form__section-title">
            About your van
        </h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">
            Which best describes the body of your van?
        </h2>
        <div class="form-row">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.VehicleId)
            @Html.Hidden("JourneyType", (int)Model.JourneyType)
            @Html.HiddenFor(m => m.HasChanged, new { data_store_skip = "true" })

            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden" aria-label="Body Type">Body Type</legend>

                @foreach (var bodyType in Model.VehicleBodyTypeItems)
                {
                    @Html.RadioButtonFor(x => x.VehicleBodyTypeCode, bodyType.Key, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "body-van" + bodyType.Key, name = "vanBody", data_store = $"{nameof(Model.VehicleBodyTypeCode)}" })
                    @Html.LabelFor(x => x.VehicleBodyTypeCode, bodyType.Value, new { @class = "form-row__label form-row__label--pill step-form__button radio-label", @for = "body-van" + bodyType.Key, tabindex = "0", data_testid = componentId + "__radio-button-bodytype-" + bodyType.Key, id = "radio" + bodyType.Value, @role = "button", aria_label = bodyType.Value })
                }

            </fieldset>
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" formnovalidate name="submitButton" class="button button--primary button--large button--right" data-testid="@(componentId)__done-button" id="vehicle-body_type_done-button">
                    @submitBtnText
                </button>

                @if (Model.JourneyType != JourneyTypes.SingleEdit)
                {
                    <a class="button button--text button--large button--left button--back back-button-link"
                       href="#"
                       id="back-button"
                       data-testid="vehicle-body-back-button"
                       data-container="SlidePanelContent"
                       data-init-event="bgl.components.vehicledetails.summary.init"
                       data-action-url="@backButtonUrl">Back</a>
                }
            </div>
        </div>
    }
</div>