﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.VehicleDetails.Enums
@model BGL.Components.VehicleDetails.Models.VehicleValueViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}_form-edit-vehicle-value";
    var backButtonUrl = Url.Action("PurchaseDate", "VehicleDetailsComponentPurchaseDate");
    var nextButtonText = "Done";
    var vehicleType = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.VehicleType);

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        backButtonUrl = $"{Model.ComponentConfiguration.ComponentUrl}#purchasedate";
        nextButtonText = "Continue";
    }
}

<div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__edit-value-view">
    @if (Model.ComponentConfiguration.IsService)
    {
        @Html.Partial("_QuoteProgressBar")
    }

    @using (Html.BeginFormBgl("UpdateVehicleValue", "VehicleDetailsComponentValue", FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_testid = componentId + "__form",
        data_on_success = "bgl.components.vehicledetails.value.onSuccess",
        data_on_error = "bgl.components.vehicledetails.value.onError",
        data_store_key = Model.DataStoreKey
    }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("JourneyType", (int)Model.JourneyType)
        @Html.HiddenFor(m => m.VehicleId)
        @Html.HiddenFor(m => m.HasChanges, new { data_store_skip = "true" })

    <h1 class="step-form__section-title">About your @Model.VehicleType</h1>

    <h2 class="step-form__heading">What is the estimated value of your @Model.VehicleType?</h2>

        <div class="form-row">
            @Html.LabelFor(model => model.VehicleValue, "Estimated value", new { @class = "visually-hidden", @for = "Vehicle-Value" })
            @Html.TextBoxForBgl(model => model.VehicleValue, new { id = "Vehicle-Value", @class = "form-row__input form-row__input--monetary", type = "number", name = "value", data_testid = componentId + "__value-input", tabindex = 0, data_store = $"{nameof(Model.VehicleValue)}" })
            <div class="form-row__error-text-container">
                @Html.ValidationMessageFor(model => model.VehicleValue, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__value_validation-message" })
            </div>
        </div>

        <p class="page-section__text">
            We may have provided you with an estimate of the @Model.VehicleType&apos;s market value. If this isn&apos;t shown or you wish to enter an alternative value, simply type in the box. Please note in the event of a claim the insurer will generally pay the market value of the @Model.VehicleType. @vehicleType values may vary, due to a variety of factors such as modifications, mileage and the @Model.VehicleType&apos;s condition.
        </p>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" formnovalidate name="submitButton" title="Submit button" class="button button--primary button--large button--right" data-testid="@(componentId)__done-button">
                    @nextButtonText
                </button>

                @if (Model.JourneyType != JourneyTypes.SingleEdit)
                {
                    <a class="button button--text button--large button--back button--left vehicle-builder-back-button" data-step-type="previous-step"
                       href="@backButtonUrl" data-testid="@(componentId)__step-back-button">Back</a>
                }
            </div>
        </div>
    }
</div>
