﻿@model BGL.Components.VehicleDetails.Models.VehicleNumberOfSeatsModel
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.VehicleDetails.Enums

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = "vehicle_edit_seats";
    var submitBtnText = Model.JourneyType != JourneyTypes.SingleEdit ? "Continue" : "Done";

    var backButtonUrl = Model.ComponentConfiguration.JourneyType != JourneyTypes.MultiStepEdit
        ? Url.Action("VehicleBodyType", "VehicleDetailsComponentVehicleBodyType")
        : $"{Model.ComponentConfiguration.ComponentUrl}#vehiclebodytype";
}

<div class="narrow" id="vehiclenumberofseats" data-component-id="@componentId">

    @if (Model.ComponentConfiguration.IsService)
    {
        @Html.Partial("_QuoteProgressBar")
    }

    @using (Html.BeginFormBgl("NumberOfSeatsSubmit", "VehicleDetailsComponentNumberOfSeats", FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_testid = componentId + "__form",
        data_on_success = $"bgl.components.vehicledetails.numberofseats.onSuccess",
        data_on_error = $"bgl.components.vehicledetails.numberofseats.onError",
        data_store_key = $"{Model.DataStoreKey}"
    }))
    {
        <h1 class="step-form__section-title">About your van</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">How many seats does your van have?</h2>

        <div class="form-row">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.VehicleId)
            @Html.Hidden("JourneyType", (int)Model.JourneyType)
            @Html.HiddenFor(m => m.HasChanged, new { data_store_skip = "true" })

            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden" aria-label="Number of seats">Number of seats</legend>

                @foreach (var item in Model.VehicleNumberOfSeatsItems)
                {
                    @Html.RadioButtonFor(x => x.VehicleNumberOfSeats, item, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "seats-van" + item, name = "VehicleNumberOfSeats", data_store = $"{nameof(Model.VehicleNumberOfSeats)}" })
                    @Html.LabelFor(x => x.VehicleNumberOfSeats, item.ToString(), new { @class = "form-row__label form-row__label--pill step-form__button radio-label", @for = "seats-van" + item, tabindex = "0", data_testid = componentId + "__radio-button-seats-" + item, id = "radio" + item, @role = "button", aria_label = item })
                }

            </fieldset>
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" formnovalidate name="submitButton" id="vehicle-numberofseats_done-button" class="button button--primary button--large button--right" data-testid="@(componentId)__done-button">
                    @submitBtnText
                </button>

                @if (Model.JourneyType != JourneyTypes.SingleEdit)
                {
                    <a class="button button--text button--large button--left button--back back-button-link"
                        href="#"
                        id="back-button"
                        data-testid="numberofseats-back-button"
                        data-container="SlidePanelContent"
                        data-init-event="bgl.components.vehicledetails.vehiclebodytype.init"
                        data-action-url="@backButtonUrl">Back</a>
                }
            </div>
        </div>
    }
</div>