﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.VehicleDetails.Enums
@model BGL.Components.VehicleDetails.Models.SearchVehicleViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}_form-vehicle-registration";
    var journeyType = (int)Model.JourneyType;
    var displayCloseBackButton = Model.ComponentConfiguration.IsService && !Model.ComponentConfiguration.IsInitialChange;
}

    <div class="narrow" data-component-id="@componentId" id="@(componentId)__vehicle-container" data-testid="@(componentId)__vehicle-search-view">
        @if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_QuoteProgressBar")
        }

        @using (Html.BeginFormBgl("SearchVehicle", "VehicleDetailsComponentSearching", FormMethod.Post, new
        {
            id = formId,
            @class = "step-form",
            data_testid = componentId + "__form",
            data_on_success = "bgl.components.vehicledetails.searching.onSuccess",
            data_on_error = "bgl.components.vehicledetails.searching.onError",
            data_store_key = Model.DataStoreKey
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.VehicleId)
            @Html.Hidden("JourneyType", journeyType)
            @Html.HiddenFor(m => m.VehicleType)

            <h1 class="step-form__section-title">About your @Model.VehicleType</h1>
            <h2 class="vehicle-lookup__heading step-form-heading">Let's start by telling us about your @Model.VehicleType</h2>

            <div class="form-row form-row--multi-input">
                @Html.Label("registration-number", "What is your " + @Model.VehicleType + " registration number?", new { @class = "form-row__label" })
                <div class="form-row__input-wrapper form-row__input-wrapper--half">
                    @Html.TextBoxForBgl(model => model.VehicleRegistrationNumber, new { id = "registration-number", @class = "form-row__input form-row__input--registration form-row__input--text", type = "text", name = "registration", data_testid = componentId + "__registration-number-input", tabindex = 0, data_store = $"{nameof(Model.VehicleRegistrationNumber)}", maxlength = "9" })
                    <div class="form-row__error-text-container">
                        @Html.ValidationMessageFor(model => model.VehicleRegistrationNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__registration-number_validation-message" })
                    </div>
                </div>
                <div class="form-row__input-wrapper form-row__input-wrapper--half">
                    <button type="submit" formnovalidate name="submitButton" title="Submit button" class="button button--primary button--large button--left button--inline vehicle-lookup__find-button" data-testid="@(componentId)__confirm_button">Find your @Model.VehicleType</button>
                </div>
            </div>

            <div class="form-row manual-reg">
                <h2 class="h3 manual-reg__heading">
                    Don't know the registration?
                </h2>
                <p class="manual-reg__text">
                    If you don't have your registration to hand or haven't bought your @Model.VehicleType yet, not to worry, we can find your @Model.VehicleType using your make and model details - this won't take long.
                </p>
                @GenerateBuilderVehicleLink(componentId, Model.JourneyType)
            </div>

            if (displayCloseBackButton)
            {
                <div class="page-section--inner narrow spaced">
                    <div class="button-container">
                        <a href="#" class="button button--text button--large button--left button--back" data-testid="@(componentId)__back-button" data-dismiss="slide-panel" aria-label="Back">Back</a>
                    </div>
                </div>
            }
            else if (Model.JourneyType == JourneyTypes.MultiStepEdit)
            {
                <div class="page-section--inner narrow spaced">
                    <div class="button-container">
                        <a href="@Model.ComponentConfiguration.PreviousStepUrl" class="button button--text button--large button--left button--back back-button-link" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
                    </div>
                </div>
            }
        }
    </div>

@helper GenerateBuilderVehicleLink(string componentId, JourneyTypes journeyType)
{
    var linkText = "Find your " + Model.VehicleType + " by make and model details";
    var builderVehicleUrl = Url.Action("VehicleBuilder", "VehicleDetailsComponentSearching");

    if (journeyType != JourneyTypes.MultiStepEdit)
    {
        <a class="link manual-reg__link vehicle-builder-button"
           id="vehicle_edit-button"
           href="@builderVehicleUrl"
           tabindex="0"
           data-testid="@(componentId)__vehicle-builder-button">@linkText</a>
    }
    else
    {
        <a class="link manual-reg__link vehicle-builder-button"
           href="@builderVehicleUrl"
           id="vehicle_edit-button"
           data-toggle="slide-panel"
           data-target="#SlidePanel"
           data-container="SlidePanelContent"
           tabindex="0"
           data-testid="@(componentId)__vehicle-builder-button">@linkText</a>
    }
}
