@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.VehicleDetails.Enums
@model BGL.Components.VehicleDetails.Models.SearchSummaryResultModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}_form-vehicle-confirm";
    var hideClassAssumedData = !string.IsNullOrEmpty(Model.SecurityDeviceCode) ? "hide" : string.Empty;

    var searchVehicleUrl = Model.JourneyType != JourneyTypes.MultiStepEdit
        ? Url.Action("Searching", "VehicleDetailsComponentSearching")
        : Model.ComponentConfiguration.PreviousStepUrl;
}

<div class="narrow" data-component-id="@componentId" id="@(componentId)__vehicle-container-summary" data-testid="@(componentId)__vehicle-summary-view">
    @if (Model.ComponentConfiguration.IsService)
    {
        @Html.Partial("_QuoteProgressBar")
    }
    <div class="step-form vehicle-confirmation">

        <h1 class="step-form__section-title">About your @Model.VehicleType</h1>
        <h2 class="vehicle-lookup__heading step-form__heading">Great, we have found your @Model.VehicleType</h2>

        <div class="vehicle-confirmation__section">
            <p class="vehicle-confirmation__vehicle" data-testid="@(componentId)__vehicle-description">
                <strong class="vehicle-confirmation__vehicle--main" data-testid="@(componentId)__manufacture-model-text">
                    @Model.Manufacturer @Model.Model
                </strong>
                <span class="vehicle-confirmation__vehicle--sub" data-testid="@(componentId)__trim-text">
                    @Model.Trim
                </span>
            </p>

            <ul class="list vehicle-confirmation__details-list">
                <li class="list__item vehicle-confirmation__details-list-item--@Model.VehicleType" data-testid="@(componentId)__registration-text">
                    @Model.RegistrationYear
                </li>
                <li class="list__item vehicle-confirmation__details-list-item--@Model.VehicleType" data-testid="@(componentId)__number-of-doors-text">
                    @Model.BodyType
                </li>
                <li class="list__item vehicle-confirmation__details-list-item--@Model.VehicleType" data-testid="@(componentId)__engine-size-text">
                    @Model.FuelType @Model.EngineSize
                </li>
                <li class="list__item vehicle-confirmation__details-list-item--@Model.VehicleType" data-testid="@(componentId)__transmission-type-text">
                    @Model.TransmissionType
                </li>
            </ul>
            <div class="vehicle-confirmation__link-container">

                @GenerateBuilderVehicleLink(componentId, Model.JourneyType)

                @GenerateSearchVehicleLink(componentId, searchVehicleUrl, Model.JourneyType)
            </div>
        </div>

        <div id="assumedDataSummarySection" class="vehicle-confirmation__section">
            <h2 class="h3 vehicle-confirmation__sub-heading">We think this @Model.VehicleType...</h2>

            <ul class="list vehicle-confirmation__feature-list" data-testid="@(componentId)__feature-list">
                <li class="list__item vehicle-confirmation__feature-list-item">
                    Is right hand drive (UK standard)
                </li>
                <li class="list__item vehicle-confirmation__feature-list-item">
                    Has no tracker device fitted
                </li>
                <li class="list__item vehicle-confirmation__feature-list-item">
                    @Model.SecurityDevicesInfo
                </li>
            </ul>
            <div class="vehicle-confirmation__link-container">
                <button class="link vehicle-confirmation__link"
                        id="assumedDataSummary"
                        href="#0"
                        data-testid="@(componentId)__assumed-data-link">
                    I need to change this information
                </button>
            </div>
        </div>

    </div>

    @using (Html.BeginFormBgl("ConfirmSearchSummary", "VehicleDetailsComponentSearching", FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_testid = componentId + "__form",
        data_on_success = "bgl.components.vehicledetails.summary.onSuccess",
        data_on_error = "bgl.components.vehicledetails.summary.onError",
        data_store_key = Model.DataStoreKey
    }))
    {

        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Manufacturer)
        @Html.HiddenFor(m => m.Model)
        @Html.HiddenFor(m => m.BodyType)
        @Html.HiddenFor(m => m.Trim)
        @Html.HiddenFor(m => m.Registration)
        @Html.HiddenFor(m => m.NumberOfDoors)
        @Html.HiddenFor(m => m.FuelType)
        @Html.HiddenFor(m => m.EngineSize)
        @Html.HiddenFor(m => m.TransmissionType)
        @Html.HiddenFor(m => m.RegistrationNumber)
        @Html.HiddenFor(m => m.HasValue)
        @Html.HiddenFor(m => m.VehicleType)
        @Html.Hidden("JourneyType", (int)Model.JourneyType)

        <div class="@hideClassAssumedData" data-testid="@(componentId)__assumed-data-section" id="assumedDataSection">
            @Html.Partial("_AssumedDataSection", Model)
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" formnovalidate name="submitButton" title="Submit button"
                        class="button button--primary button--large button--right" data-testid="@(componentId)__continue-button">
                    @Model.ComponentConfiguration.SummaryButtonText
                </button>
            </div>
        </div>
    }
</div>

@helper GenerateSearchVehicleLink(string componentId, string searchVehicleUrl, JourneyTypes journeyType)
{
    var linkText = "Search with registration number";
    var containerId = "SlidePanelContent";
    var hrefValue = "";

    if (journeyType == JourneyTypes.MultiStepEdit)
    {
        containerId = $"{componentId}__vehicle-container";
        hrefValue = searchVehicleUrl;
    }

    <a class="link vehicle-confirmation__link vehicle-searching-button"
       href="@hrefValue"
       id="vehicle-search-button"
       data-testid="@(componentId)__search-vehicle-button"
       data-container="@containerId"
       data-init-event="bgl.components.vehicledetails.searching.init"
       data-action-url="@searchVehicleUrl">@linkText</a>
}

@helper GenerateBuilderVehicleLink(string componentId, JourneyTypes journeyType)
{
    var linkText = "Edit vehicle";
    var builderVehicleUrl = Url.Action("VehicleBuilder", "VehicleDetailsComponentSearching");

    if (journeyType != JourneyTypes.MultiStepEdit)
    {
        <a class="link vehicle-confirmation__link vehicle-builder-button"
           id="vehicle-edit-button"
           href="@builderVehicleUrl"
           data-testid="@(componentId)__edit-vehicle-button">@linkText</a>
    }
    else
    {
        <a class="link vehicle-confirmation__link vehicle-builder-button"
           href="@builderVehicleUrl"
           id="vehicle-edit-button"
           data-toggle="slide-panel"
           data-target="#SlidePanel"
           data-container="SlidePanelContent"
           data-refresh-page="true"
           data-testid="@(componentId)__edit-vehicle-button">@linkText</a>
    }
}
