﻿@using BGL.Common.Utility.Extensions
@model BGL.Components.VehicleDetails.Models.VehicleBuilderViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<fieldset class="form-row__field-set">
    <legend class="form-row__legend form-row__legend--hidden">Your @Model.VehicleType</legend>
    @{
        var i = 0;
        foreach (var item in Model.VehicleBuilderTileItems)
        {
            <input tabindex="-1" class="form-row__input form-row__input--radio form-row__input--hidden vehicle-lookup__radio-input  step-form__radio-input" data-testid="@(componentId)__specification_input_@(item.Id)"
                   data-specification-model="@item.Specification.SerialiseObjectToJson(false)"
                   type="radio"
                   name="vehicle-lookup"
                   id="Vehicle-Lookup-@i"
                   value="@item.Id" @(Model.VehicleBuilderTileItems.Count() == 1 ? "checked" : string.Empty)>
            <label tabindex="0" class="form-row__label vehicle-lookup__vehicle-radio step-form__vehicle-radio" for="Vehicle-Lookup-@i" data-testid="@(componentId)__specification_id_@(item.Id)">
                <p class="vehicle-lookup__radio-text step-form__radio-text" aria-label="@item.MainText">
                    <strong>
                        @item.MainText
                    </strong>
                    <span>
                        @item.SubText
                    </span>
                </p>
            </label>
            i++;
        }
    }
</fieldset>