﻿@using BGL.Components.VehicleDetails.Constants
@model BGL.Components.VehicleDetails.Models.VehicleDetailsPolicyViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var basePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;
}

<table class="edit">
    <caption class="hide" aria-hidden="true">Vehicle</caption>
    <tbody>
        @foreach (var item in Model.VehicleDetailsItems)
        {
            if (item.IsDisplayed)
            {
                <tr>
                    <th scope="row">@item.Description</th>
                    <td>
                        @item.Value
                        @if (item.IsEditable)
                        {

                            <button class="table-edit text-primary vehicle-details_edit-button"
                                    type="button"
                                    aria-labelledby="button-label-edit-@item.EditActionKey"
                                    data-toggle="slide-panel"
                                    data-target="#SlidePanel"
                                    data-confirmation="true"
                                    data-container="SlidePanelContent"
                                    data-vehicle-id="@Model.VehicleId"
                                    data-edit-action-key="@item.EditActionKey"
                                    data-action-url="@Url.Action(item.ActionUrl)"
                                    data-testid="@(componentId)_@(item.EditActionKey)__edit-button"
                                    data-store-key="@VehicleLookupJourneyConstants.DataStoreKey"
                                    id="@(componentId)_@(item.EditActionKey)_@(item.DisplayOrder)__edit-button">
                                <span id="button-label-edit-@item.EditActionKey" hidden>Edit @item.EditActionKey</span>
                                <i class="ui-icon-edit" data-type="slide-panel-navigation"></i>
                            </button>

                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
