@using BGL.Common.Configuration.Interfaces
@using BGL.Components.AdditionalDetails
@using BGL.Components.AdditionalDetails.ViewOptions

@{
    ViewBag.Title = "Contact Details";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
    @Html.ComponentRenderPaymentsRegularityWithHiddenEmailAndTelephone(new ComponentAdditionalDetailsConfiguration
       {
           Id = "PaymentsRegularity",
           NextPageUrl = Url.Action("DirectPrePriceLegal", "Legal"),
           DataStoreKey = "OtherDetails",
           SecondaryDataStoreKey = "YourDetails",
           PreviousPageUrl = Url.Action("OtherVehicles", "YourCover"),
           TenantConfiguration = tenantConfiguration,
           ViewOptions = new ViewOptionsConfiguration
           {
               NcdSourceThisVehicle = NcdSource.AcceptableProof,
               NcdSourcePreviousVehicle = NcdSource.AcceptableProof,
               NcdSourceCompanyCar = NcdSource.AcceptableProof
           }
       })
    </div>
</div>

