﻿.contact-details {
    width: 300px;
    text-align: center;
    margin: auto;

    li {
        list-style-type: none;
        border-bottom: solid 2px #f7e8e8;
        padding: 20px 0px;
    }

    h2 {
        font-size: 1.25rem;
    }

    &__telephone {
        margin: 30px auto;
    }

    &__days {
        width: 50%;
        text-align: left;
    }

    &__times {
        width: 50%;
        text-align: right;
    }
}
