﻿.contact-tiles {
  &__input {
    &:checked {
      + .contact-tiles__tile {
        @include SelectItem;

        &--email {
          background-image: url("../images/icon-email--white.svg");
        }

        &--sms {
          background-image: url("../images/icon-sms--white.svg");
        }

        &--telephone {
          background-image: url("../images/icon-phone--white.svg");
        }

        &--post {
          background-image: url("../images/icon-post--white.svg");
        }

        .contact-tiles__text {
          color: #fff;
        }
      }
    }

    &:focus {
      + .contact-tiles__tile {
        @include focusSelectSurround;
      }
    }
  }

  &__tile {
    width: 110px;
    height: 110px;
    margin: 4px;
    border-radius: 5px;
    vertical-align: top;
    border: solid 1px $color-grey;
    cursor: pointer;
    background-position: center 20px;
    background-repeat: no-repeat;
    background-size: 41px 41px;
    padding-top: 50px;

    @include breakpoint(400px) {
      padding-top: 60px;
      width: 150px;
      height: 140px;
      background-position: center 30px;
    }

    &--email {
      background-image: url("../images/icon-email.svg");

      &:hover {
        background-image: url("../images/icon-email--white.svg");
      }

      @include no-hover() {
        background-image: url("../images/icon-email.svg");
      }
    }

    &--sms {
      background-image: url("../images/icon-sms.svg");

      &:hover {
        background-image: url("../images/icon-sms--white.svg");
      }

      @include no-hover() {
        background-image: url("../images/icon-sms.svg");
      }
    }

    &--telephone {
      background-image: url("../images/icon-phone.svg");

      &:hover {
        background-image: url("../images/icon-phone--white.svg");
      }

      @include no-hover() {
        background-image: url("../images/icon-phone.svg");
      }
    }

    &--post {
      background-image: url("../images/icon-post.svg");

      &:hover {
        background-image: url("../images/icon-post--white.svg");
      }

      @include no-hover() {
        background-image: url("../images/icon-post.svg");
      }
    }

    &:hover {
      border-color: $color-primary;
      background-color: $color-primary;
      color: #fff;

      .contact-tiles__text {
        color: #fff;
      }
    }

    @include no-hover() {
      border-color: $color-grey;
      background-color: #fff;
      color: $color-font;

      .contact-tiles__text {
        color: $color-font;
      }
    }
  }

  &__tile-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    user-select: none;
  }

  &__text {
    margin: 10px 0 0 0;
    color: $color-primary;
    font-weight: 300;
  }
}
