﻿$houston-cross-color: #fff !default;

.houston-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;

    &--mobile-nav-padding {
        @media screen and (max-width: $screen-lg) {
            bottom: 70px;
        }
    }
    // Buttons (States at the bottom of this document)
    .houston-button {
        display: block;
        position: relative;
        height: 76px;
        width: 76px;
        padding: 0px;
        border-radius: 50%;
        background-color: $houston-button-background-color;
        border: 5px solid $houston-button-border-color;

        &:focus {
            border: solid 2px $houston-button-focus-border-color;
        }

        @media screen and (max-width: 520px) {
            transform: none !important;
        }

        &__halo {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background-color: $color-secondary;
            z-index: -2;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            opacity: 0.2;
            pointer-events: none;
        }

        &__avatar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;
            background-color: $houston-button-background-color;
            background-image: $houston-button-background-image;
            background-repeat: $houston-button-background-repeat;
            background-size: $houston-button-background-size;
            background-position: $houston-button-background-position;

            @if $houston-button-help-icon-enabled == true {
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -33px;
                    left: -6px;
                    height: 55px;
                    width: 73px;
                    background-image: url("../images/icon-houston-help.png");
                    background-repeat: no-repeat;
                    background-size: 73px 55px;
                    background-position: 50% 50%;
                    transform: rotate(6deg), scale(0.25);
                    -webkit-transition: all 100ms ease-in-out;
                    transition: all 100ms ease-in-out;
                }
            }
        }

        &__typing {
            display: none;

            @media screen and (max-width: 520px) {
                display: none !important;
            }

            .dot {
            }
        }

        &__va {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            opacity: 0;
            -webkit-transition: all 300ms linear;
            transition: all 300ms linear;

            @media screen and (max-with: 520px) {
                right: 0;
                position: absolute;
                background: none;
                border: none;
                border-radius: 0;
                height: 60px;
                width: 60px;
                display: none;
                transition: 0s all !important;
                -webkit-transition: 0s all !important;
            }

            @media screen and (max-width: 520px) {
                height: 20px;
                width: 20px;
                top: 15px;
                transform: rotate(136deg);
                right: 20px;
                display: none;
                //display: block;
                left: auto;
            }

            .cross {
                position: relative;
                display: block;
                background: $houston-cross-color;
                height: 5px;
                width: 30px;
                z-index: 1;

                @media screen and (max-width: 520px) {
                    width: 20px;
                    height: 2px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    background: $houston-cross-color;
                    height: 5px;
                    width: 30px;
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);

                    @media screen and (max-width: 520px) {
                        width: 20px;
                        height: 2px;
                    }
                }
            }
        }
    }
    // Box
    &.ground-control {
        @media screen and (max-width: 520px) {
            top: 0 !important;
            left: 0 !important;
            height: 100% !important;
            width: 100% !important;
            background: #fff;
            z-index: 500;
            overflow: hidden;
        }

        .houston-button__va {
            @media screen and (max-width: 520px) {
                display: block;
            }
        }

        @media screen and (max-width: 520px) {
            .houston-button {
                z-index: 99;
                right: 10px;
                position: absolute;
                background: none;
                border: none;
            }

            .houston-container {
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }

            .houston-button__halo {
                display: none;
            }

            .houston-button__avatar {
                display: none;
            }
        }

        .nw_agentHeader {
            .nw_avatar {
                float: left;
                margin-right: 15px;
                position: relative;
                border: 3px solid #fff;
                display: block !important;
                background: $color-secondary url(../images/icon-houston-avatar.svg);
                border-radius: 50%;
                background-size: 15px;
                background-repeat: no-repeat;
                background-position: 50%;

                &--online {
                    &:after {
                        height: 10px;
                        width: 10px;
                        background: #7cab2b;
                        position: absolute;
                        right: -5px;
                        bottom: 0px;
                        border: 2px solid $color-primary;
                        content: "";
                        border-radius: 50%;
                    }
                }
            }
        }

        .nw_Agent .nw_agentHeader .nw_avatar {
            display: none;
            height: 42px;
            width: 42px;
            background-color: $houston-va-header-avatar-background-color;
            border-radius: 50%;
        }
    }
}
// nina-block / nw_Agent
.nw_Agent {
    display: none;
    position: absolute;
    bottom: 5rem;
    right: 1rem;
    width: 400px;

    &.is-visible {
        display: block;
        z-index: 99;

        @media screen and (max-width: 520px) {
            top: 0;
            left: 0;
            height: 100%;
            width: 100% !important;
            bottom: auto;
            right: auto;
        }
    }
    // Header
    .nw_agentHeader {
        background-color: $color-primary;
        padding: 1rem;
        color: #ffffff;
        border-radius: 10px 10px 0 0;
        height: 65px;
        padding: 10px 20px;

        @media screen and (max-width: 520px) {
            border-radius: 0px;
        }

        .nw_avatar {
        }

        .nw_avatar--online {
        }
    }
    // Conversation (History/Window)
    .nw_Dialog {
        @media screen and (max-width: 520px) {
            height: 100%;
            width: 100%;
        }

        .nw_Conversation {
            border-left: 1px solid #9a9a9a;
            border-right: 1px solid #9a9a9a;
            background: #ffffff;

            @media screen and (max-width: 520px) {
                height: 100%;
                border: none;
                overflow-x: hidden;
                overflow-y: auto;
            }

            @media screen and (min-width: 520px) {
                overflow-x: hidden;
                overflow-y: auto;
                max-height: 300px;
            }
        }

        .nw_ConversationText {
            padding: 1rem;

            @media screen and (max-width: 520px) {
                background: #fff;
                padding-bottom: 145px;
            }

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            hr {
                display: none;
            }
            // Chats
            .nw_AgentSays .nw_SaysText,
            .nw_UserSays .nw_SaysText {
                display: block;
                padding: 1rem;
                background: white;
                border-radius: 10px;
                font-size: 14px;
                margin-bottom: 0px;
                line-height: 1.25;
            }

            .nw_UserSays,
            .nw_AgentSays {
                display: block;
                padding: 1rem;
                background: white;
                border-radius: 10px;
                margin-bottom: 1.5rem;
                margin-bottom: 0px;
                max-width: 70%;
                font-size: 14px;
                line-height: 1.25;

                &.nw_SaysText {
                    display: block;
                    padding: 1rem;
                    background: white;
                    border-radius: 10px;
                    margin-bottom: 1.5rem;
                    max-width: 70%;
                    font-size: 14px;
                    line-height: 1.25;

                    .nw_Header {
                        display: none;
                    }
                }

                .nw_initials {
                    display: block;
                    height: 30px;
                    width: 30px;
                    position: absolute;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 25px;
                    font-size: 10px;
                    overflow: hidden;
                }
            }
            // System Chat
            .nw_SystemSays {
                .nw_TranscriptLink {
                    span {
                    }
                }
            }
            // User Chat
            .nw_UserSays {
                position: relative;
                float: right;
                width: 100%;

                .nw_initials {
                    border: 2px solid #ccc7df;
                    right: 0px;
                    bottom: 2px;
                    background: $color-primary;
                    color: #fff;
                }

                .nw_SaysText {
                    position: relative;
                    background-color: #e1deed;
                    float: right;
                }
            }
            // Agent Chat
            .nw_AgentSays {
                position: relative;
                float: left;

                .nw_initials {
                    border: 2px solid #b2e5ff;
                    left: 0px;
                    bottom: 2px;
                    background: $color-secondary url(../images/icon-houston-avatar.svg);
                    background-repeat: no-repeat;
                    background-size: $houston-va-agent-avatar-size;
                    background-position: 50%;
                }

                .nw_SaysText {
                    position: relative;
                    background-color: #daf2ff;
                }
            }
        }
    }
    // Input
    .nw_Input {
        height: 60px;
        height: 60px;
        border: 1px solid #9a9a9a;
        overflow: hidden;
        border-top: 1px solid #d7d7d7;
        border-radius: 0 0 10px 10px;

        @media screen and (max-width: 520px) {
            border: none;
            position: fixed;
            width: 100%;
            bottom: 0;
            border-radius: 0px;
        }

        .nw_DialogForm {
            height: 100%;
            background: #fff;

            .nw_logoContainer {
                .nw_logo {
                }
            }

            .nw_UserInputContainer {
                background-color: #f8f8f8;
                border: 1px solid grey;
                border-radius: 0 0 10px 10px;
                padding: 2px;
                border: none;
                border-radius: 0px;
                padding: 0px;
                position: relative;
                height: 60px;
                overflow: hidden;

                .nw_UserSubmit {
                    position: absolute;
                    height: 60px;
                    width: 25px;
                    right: 20px;
                    background: url(../images/icon-post--grey.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: 50%;
                    top: 0;
                    cursor: pointer;
                }

                .nw_UserInputField {
                    width: 100%;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-color: transparent;
                    border: 0;
                    padding: 0.5rem;
                    line-height: 1.5;
                    height: 2.5rem;
                    resize: none;
                    overflow: auto;
                    background: #f8f8f8;
                    color: #6b6b6b;
                    height: 60px;
                    padding: 15px 60px 15px 30px;
                    outline: none;

                    &:focus {
                        @media screen and (max-width: 520px) {
                            border-bottom: $houston-question-box-border-bottom-mobile;
                            outline: $houston-question-box-outline-mobile;
                        }

                        outline: $houston-question-box-outline;
                        border-bottom: $houston-question-box-border-bottom;
                        border-radius: $houston-question-box-border-radius;
                    }
                }

                .nw_StatusMessage {
                    font-size: 11px;
                    display: none;
                }

                .nw_UserSubmit {
                }
            }
        }
    }
    // Buttons
    .nw_Buttons {
        width: 100%;
        margin-top: 10px;
        overflow-x: hidden;
        padding-left: 10px;
        padding-bottom: 0px;
        margin-bottom: 0px;

        li {
            list-style: none;
            float: left;
            margin-right: 8px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0px;
            }

            a {
                display: inline-block;
                background-repeat: no-repeat;
                position: relative;
                color: #fff;
                background-color: #2aa9df;
                left: 0;
                right: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 20px;
                padding-left: 20px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
                overflow: auto;
                text-decoration: none;
            }
        }
    }
}

/* 
HOUSTON BUTTON STATES
*/

.houston-button:not(.typing) {
  &:hover,
  &:focus {
    cursor: pointer;
    transform-origin: 50% 50%;
    transform: scale(1.2);

    & > .houston-button__halo {
      animation: mouseover 0.4s;
      transform: scale(2.2);
    }
  }

  @include no-hover {
    cursor: default;
    transform-origin: 50% 50%;
    transform: none;

    & > .houston-button__halo {
      animation: none;
      transform: none;
    }
  }
}

.houston-button.loading {
  -webkit-animation: loading 1s cubic-bezier(0.82, -0.32, 0.18, 1.34);
  animation: loading 1s cubic-bezier(0.82, -0.32, 0.18, 1.34);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.houston-button.ready .houston-button__help {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  transform: scale(1);
  opacity: 1;
}

.houston-button.va .houston-button__va {
  opacity: 1;
  -webkit-transform: rotate(136deg);
  transform: rotate(136deg);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.houston-button.typing .houston-button__avatar {
  display: none;
}

.houston-button.typing .houston-button__typing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.houston-button.typing .houston-button__typing .dot {
  position: relative;
  display: block;
  background: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0.15rem;
}

.houston-button.va .houston-button__avatar,
.houston-button.va .houston-button__typing {
  display: none;
}
/* 
ANIMATIONS
*/
@-webkit-keyframes loading {
  from {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes loading {
  from {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes mouseover {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  70% {
    -webkit-transform: scale(2.4);
    transform: scale(2.4);
  }

  80% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
  }

  to {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
  }
}

@keyframes mouseover {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  70% {
    -webkit-transform: scale(2.4);
    transform: scale(2.4);
  }

  80% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
  }

  to {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
  }
}

@-webkit-keyframes typing {
}

@keyframes typing {
}

.toggle-overflow {
  overflow: hidden !important;
  height: calc(100vh - 100px) !important;
}

.notification-container {
  display: none;
  position: absolute;
  bottom: 85px;
  right: 1rem;
}

.notification {
  display: block;
  position: relative;
  background-color: $notification-background-color;
  color: #fff;
  border: $notification-border-color 5px solid;
  border-radius: 10px;
  padding: 1.25rem 0.75rem;
  width: 300px;
  -webkit-animation: fadein 1s;

  &--enhanced {
    line-height: 29px;
    padding: 15px 25px 5px;

    &__text {
      font-size: 14px;
      margin-bottom: 20px;
    }

    &__small {
      display: inline-block;
      margin-bottom: 20px;
    }

    &__button-wrapper {
      flex-direction: row;
    }
  }

  &--confirmation {
    position: fixed;
    bottom: 100px;
    right: 1rem;
    z-index: 500;

    @media screen and (max-width: $screen-lg) {
      bottom: 150px;
    }

    button {
      margin-left: 10px;
    }
  }

  &-button {
    font-weight: bold;
    color: $notification-button-color;
    background-color: $notification-button-background-color;
    border-color: $notification-button-border-color;
  }
}

.notification::after {
  content: "";
  display: table;
  clear: both;
}

.cookie-notification a {
    color: $cookie-policy-color;
    font-weight: 600;
    text-decoration: $cookie-policy-text-decoration;
}

.outofhours {
  padding-top: 125px;

  section {
    padding-top: 50px;
    padding-bottom: 35px;
  }

  &__divider {
    margin-bottom: 25px;
  }

  &__validation {
    color: $color-red;
    margin: 0 0 10px 0;
    display: block;
  }

  &__close {
    padding-right: 30px;
  }

  section.outofhours__confirmation {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
