// MA Policy Overview
.policy-summary {
    &__edit-payment-button {
        text-align: left;

        @media (min-width: $screen-sm) {
            width: 100%;
        }
    }

    &__edit-vehicle-button {
        text-align: left;

        @media (min-width: $screen-sm) {
            width: 100%;
        }
    }
}

.home-address__banner {
    padding: 0px 20px 0px 20px;
}