// Common Styling For Single Page Add-Ons (SPAO)
// Individual Styling For Each Add-On is in _objects.addon.name-of-addon
// All markup is located in the DemandsAndNeeds Component

$demands-and-needs-card-image-background-color: transparent !default;

.singlepage-addon {
    background: $spao-background-color;
    //
    //title for the page
    &__title {
        display: flex;
        padding: 40px 40px 0px 0px;

        &__text {
            font-family: $font-light;
            padding: 0px 40px 40px 0px;
            font-weight: 300;
        }
    }
    //
    //over arcing container
    & .addon {
        border: $border-addon;
        box-shadow: $addon-box-shadow;
        border-radius: $addon-radius;
        background: #fff;
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 100%;

        &-content {
            padding: 0;
            border-radius: 10px;
            position: relative;
            display: flex;
            flex-flow: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: stretch;

            @media (min-width: $screen-lg) {
                flex-direction: row;
                position: relative;
            }
            //
            //disabled state
            &.disabled {
                color: $color-font;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgba(255, 255, 255, 0.7);
                    z-index: 6;
                }
            }
        }

        &__text {
            margin-bottom: 20px;

            &--emphasised {
                padding-top: 10px;
            }
        }
        //
        //primary half of the container
        &-primary {

            @media (min-width: $screen-lg) {
                border-right: 1px solid #e5e5e5;
                flex: 1 1 auto;
            }

            &__title {
                padding: 20px 20px 10px 15px;
                display: flex;

                @media (min-width: $screen-lg) {
                    padding: 40px 40px 10px 35px;
                }

                &__text {
                    margin-top: 6px;
                }
            }

            &__icon {
                height: 40px;
                width: 40px;
                color: $color-primary;
                margin-right: 20px;
                margin-bottom: 10px;
                position: relative;
                font-size: $spao-primary-font-icon-size-mobile;
                top: $spao-primary-font-icon-position-top-mobile;

                @media (min-width: $screen-lg) {
                    width: 50px;
                    height: 50px;
                    font-size: $spao-primary-font-icon-size-desktop;
                    top: $spao-primary-font-icon-position-top-desktop;
                }
            }
        }
        //
        //addon main content
        &-main__content {
            padding: 0px 20px 20px 20px;

            @media (min-width: $screen-lg) {
                padding: 0px 40px 40px 40px;
            }
        }
        //
        // secondary half of the container
        &-secondary {

            @media (min-width: $screen-lg) {
                flex: 0 0 auto;
                position: relative;
                border: none;
                padding: 40px;
                padding-top: 70px
            }
        }

        &-cta {

            @media (min-width: $screen-lg) {
                border: none;
                padding: 0px;
                width: 100%;
                border-radius: 10px;
                min-width: 275px;
                max-width: 275px;
                background: #ffffff;
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
                text-align: center;
                top: 0;
                margin: 0 auto;
            }
            //
            //info section
            &__info {
                display: none;

                @media (min-width: $screen-lg) {
                    display: block;
                    border-bottom: $border-promo;
                    padding: 0 20px 20px;
                    background: $background-promo;
                    position: relative;
                    color: $text-color-promo;
                    font-family: $font-light;
                    border-radius: $addon-border-radius;
                }

                &__icon {
                    background: #fff;
                    position: relative;
                    border-radius: 100px;
                    display: block;
                    border: 2px solid #f5f7fa;
                    padding: 10px;
                    width: 54px;
                    height: 54px;
                    margin: 0 auto;
                    top: -26px;
                }

                &__title {
                    font-size: 20px;
                    color: $text-color-promo;
                    font-family: $font-family-base;
                }

                &__rac {
                    background: #fff;
                    border-radius: 5px;
                    height: 48px;
                    width: 99px;
                    margin: 0 auto;

                    &--image {
                        width: 79px;
                        position: relative;
                        top: -30%;
                    }
                }
                // "Did you know?" additional image portion
                &__logo {
                    height: 40px;
                    width: 195px;
                    margin: 0 auto;
                }
            }
            //
            //basket portion
            &__basket {
                border-top: 4px solid $color-primary;
                padding: 20px;
                text-align: center;
                justify-content: center;

                @media (min-width: $screen-md) {
                    text-align: inherit;
                    justify-content: inherit;
                }

                @media (min-width: $screen-lg) {
                    border: none;
                }

                &__price {
                    color: $color-font;
                    display: flex;
                    flex-direction: column;
                    font-size: 24px;
                    padding-bottom: 20px;

                    & .feature-header__standard-price-text {
                        font-size: 20px;
                        display: block;
                    }

                    @media (min-width: $screen-lg) {
                        padding-bottom: 0px;
                    }
                    //
                    // modifiy price for the green text
                    &--primary {
                        color: $color-primary;
                    }

                    &__error-icon {
                        display: none;
                        height: 20px;
                        width: 20px;
                        margin-bottom: 5px;
                        margin-right: 5px;

                        @media (min-width: $screen-lg) {
                            padding-left: 0px;
                        }
                    }
                }

                &__buttons {
                    padding: 0px;
                    display: flex;
                    justify-content: center;

                    @media (min-width: $screen-md) {
                        justify-content: inherit;
                    }

                    @media (min-width: $screen-lg) {
                        padding-top: 20px;
                        justify-content: center;
                    }

                    &__label {
                        margin-right: 10px;
                        background-color: $addon-basket-button-background-color;
                        border-color: $addon-basket-button-border-color;
                        color: $addon-basket-button-text-color;

                        @media (min-width: $screen-lg) {
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        //
        //error state
        &.error {
            border: 1px solid $error-border-color;

            & .alert {
                background: $error-background-color;
                color: $error-text-color;

                &__heading {
                    color: $error-text-color;

                    &__error-icon {
                        height: 15px;
                        width: 15px;
                        display: inline-block;
                        margin-bottom: 1px;
                    }
                }
            }

            & .feature-header__heading {
                color: $color-red;
            }

            & .form-row__label--pill {
                border-color: $color-red;
                color: $color-red;
                background: #fff;
                display: inline-flex;
                align-items: center;

                &:hover {
                    color: $error-hover-state-text-color;
                    background-color: $demands-and-needs-label-hover-color;
                    border-color: $demands-and-needs-label-hover-border-color;
                }
            }


            & .addon-primary {
                margin-bottom: 1px;
            }

            & .addon-primary__title__text {
                color: $color-red;
            }

            & .addon-cta__basket {
                color: $color-red;

                &__price {
                    & .h4 {
                        color: $color-red;
                    }

                    &--primary {
                        color: $color-red;
                    }

                    &__error-icon {
                        display: inline-block;
                    }
                }
            }


            & .addon-cta__basket__buttons__label {
                border-color: $color-red;
                color: $color-red;

                &:hover {
                    color: $error-hover-state-text-color;
                    background-color: $demands-and-needs-label-hover-color;
                    border-color: $demands-and-needs-label-hover-border-color;
                }

                &.selected {
                    color: $color-white;
                    background-color: $demands-and-needs-label-hover-color;
                    border-color: $demands-and-needs-label-hover-border-color;
                    background-size: 30px 30px;
                    background-position: 14% center;
                    background-image: url(../images/icon-tick--white.svg);
                    background-repeat: no-repeat;
                }
            }

            & .form-row__input:checked + .button--price {
                color: $color-white;
                background-color: $demands-and-needs-label-hover-color;
                border-color: $demands-and-needs-label-hover-border-color;
                background-size: 30px 30px;
                background-position: 14% center;
                background-image: url(../images/icon-tick--white.svg);
                background-repeat: no-repeat;
            }

            & .breakdown-table__button {
                color: $color-red;
                border-color: $color-red;

                &.active {
                    background-color: $color-green;
                    border-color: $color-green;
                    color: #fff;

                    @include breakpoint(750px) {
                        padding-left: 23px;
                        background-size: 20px 20px;
                        background-image: url('../images/icon-tick--white.svg');
                        background-repeat: no-repeat;
                        background-position: 8% center;
                        text-align: center;
                    }
                }

                &:hover {
                    color: $error-hover-state-text-color;
                    background-color: $demands-and-needs-label-hover-color;
                    border: $demands-and-needs-label-hover-border-color 1px solid;
                }
            }

            & .demands-and-needs__cta__error-icon {
                display: block;
            }
        }
    }
    //
    //demands and need section
    & .demands-and-needs {
        text-align: left;
        font-family: $font-light;

        &__content {
            padding: 0px 20px 0 20px;

            @media (min-width: $screen-lg) {
                padding: 0px 40px 0px 40px;
            }
        }

        &__text {
            font-family: $font-light;
            font-size: 18px;
            display: block;
            padding: 10px 0;

            &--hidden {
                display: none;

                @media (min-width: $screen-lg) {
                    display: block;
                }
            }

            &--legal {
                font-style: $demands-and-needs-text-legal-font-style;
                font-weight: $demands-and-needs-text-legal-font-weight;
                font-size: $demands-and-needs-text-legal-font-size;
            }
        }

        &__promotional-offers {
            height: 100%;
            width: 100%;
            background-color: $promotional-offers-background-color;
            padding: 25px 20px 10px 20px;
            margin-bottom: 20px;

            @media (min-width: $screen-lg) {
                width: 550px;
            }

            &__information {
                width: 100%;
                padding: 20px 20px 20px 20px;

                &-text {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
            }

            &-text {
                font-size: 20px;
                font-weight: 300;

                &__offer {
                    color: $color-secondary;
                }
            }

            &-image {
                height: 20px;
                width: 21px;
                margin-right: 10px;
            }
        }

        &__price {
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;

            @media (min-width: $screen-md) {
                text-align: inherit;
            }
        }

        &__cta {
            display: block;
            background: #fafafa;
            padding: 20px 20px;
            position: relative;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            text-align: center;
            align-items: center;
            align-content: stretch;
            border-bottom-left-radius: 10px;

            @media (min-width: $screen-md) {
                display: flex;
                justify-content: flex-start;
            }

            @media (min-width: $screen-lg) {
                padding: 20px 40px;
            }

            &__error-icon {
                display: none;
                width: 40px;
                height: 40px;
                margin-right: 20px;
                margin-bottom: 20px;

                @media (min-width: $screen-lg) {
                    margin-bottom: 0;
                }
            }
        }

        &__info-section {
            display: flex;

            .info-icon {
                height: 30px;
                width: 30px;
                margin-right: 5px;
            }

            .info-text {
                margin-top: 4px;
            }
        }
    }
    //
    //checked buttons
    & .breakdown-table__button.active {
        color: $color-white;
        background-color: $color-primary;
        border-color: $color-primary;
    }

    & .form-row__input {
        &:checked + .button--price {
            color: $addon-basket-button-checked-text-color;
            background-color: $color-checked;
            border-color: $addon-basket-button-checked-border-color;

            @include breakpoint(750px) {
                background-size: $demandsandneed-selected-image-size;
                background-position: 9% center;
                background-image: url(../images/icon-tick--white.svg);
                background-repeat: no-repeat;
            }
        }

        &:hover + .button--price {
            background-color: $color-checked;
            border-color: $addon-basket-button-hover-border-color;
            color: $addon-basket-button-hover-text-color;
        }

        &:checked + .breakdown-table__button not-required-button {
            color: $color-white;
            background-color: $color-primary;
            border-color: $color-primary;
            background-image: none;

            @include breakpoint(750px) {
                background-size: 25px 25px;
                background-position: 9% center;
                background-image: url(../images/icon-tick--white.svg);
                background-repeat: no-repeat;
            }
        }

        &-wrapper--half {
            width: 100%;

            @media (min-width: $screen-md) {
                width: 50%;
            }
        }
    }
    //
    //sticky position
    & .sticky {
        position: sticky;
        top: 130px;
    }
    //
    //small bullet list
    & .list {

        &--bullet {

            &--small {
                margin-bottom: 40px;
                font-family: $font-light;
                font-weight: $addon-list-font-weight;


                .list__item {
                    font-size: 20px;
                    margin: $addon-list-item-margin;
                    list-style-type: none;
                    margin-left: 1.5em;
                    text-indent: -1.5em;

                    &:before {
                        content: "";
                        color: $color-primary;
                        display: inline-block;
                        background: $color-primary;
                        border-radius: 20px;
                        height: 8px;
                        width: 8px;
                        margin-right: 20px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    //
    //Alert section
    & .alert {
        padding: 20px;
    }
    //
    //breakdown changes
    & .breakdown-mobile-btn__container {
        text-align: center;
        display: block;

        @media (min-width: 750px) {
            display: none;
        }
    }

    & .breakdown-table__body-item--first {
        text-align: left;
    }

    & .breakdown-table__header-item {
        position: sticky;
        top: 100px;
        background: #fff;

        &__logo {
            display: none;

            @media (min-width: 750px ) {
                width: 80%;
                display: inline;
            }
        }

        &.first {
            width: 100%;
            margin: 20px 0;

            @media (min-width: 750px ) {
                display: table-cell;
                width: initial;
            }
        }
    }

    & .breakdown-table__button {
        background-repeat: no-repeat;
        background: $breakdown-table-button-background-color;
        border: $breakdown-table-button-border;
        color: $breakdown-table-button-text-color;
    }

    & .not-required-button {
        max-width: 150px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 400;

        @media (min-width: $screen-md ) {
            width: 100%;
            font-size: 13px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        @media (min-width: 750px ) {
            font-weight: 700;
        }
    }

    & .form-row__label--pill {
        background: $demands-and-needs-label-background-color;

        &:hover {
            background-color: $form-label-pill-background-color-hover;
        }
    }
    //fbel changes
    & .fbels__section {
        margin-bottom: 40px;

        & .list--fbels {
            max-width: 650px;
            font-family: $font-light;

            &-cover {
                & .list__item {
                    margin: 20px 0;
                    background-size: 18px 18px;
                    background-position: 0 3px;
                }
            }

            &-remember {

                & .list__item {
                    margin: 20px 0;
                    background-size: 9px 9px;
                    background-position: 0 7px;
                }
            }
        }
    }

    .feature-header {
        &__mlp {
            color: $feature-subheading-mlp-color;
        }

        &__sub-heading {
            margin-bottom: 20px;
            font-size: $feature-subheading-font-size;
            font-weight: $feature-subheading-font-weight;
            font-family: $feature-subheading-font-family;
            color: $feature-subheading-font-color;
        }
    }

    .admin-text {
        font-size: $spao-admin-text-font-size;
        font-weight: $spao-admin-text-font-weight;
        color: $spao-admin-text-font-color;
    }

    .legal-text {
        padding: 5px 0 15px;
    }

    .divider {
        margin: 20px auto;

        @include breakpoint($screen-lg) {
            margin: 40px auto;
        }
    }

    .pac-diagram {
        @media (min-width: $screen-lg) {
            &__section {
                margin-right: 50px;
                max-width: 290px;
            }
        }

        &__image-block--cover {
            display: flex;
            align-items: flex-end;
        }
    }

    .form-row__field-set {
        display: flex;
    }

    .basket-container {
        width: 100%;
        display: block;
    }

    .full-width {
        min-width: 100%;
    }

    .card-container__card-image {
        background-color: $demands-and-needs-card-image-background-color;
    }
}
