$page-header-background-color: #fff !default;
$page-header-background-color: #fff !default;
$page-header-font-color: $color-font !default;

$menu-policy-personal-details-border-radius: 0px !default;
$menu-policy-personal-details-border: none !default;

$nav-link-color-hover: $link-primary-hover !default;

$nav-primary-mobile-ui-icon-before-color: $color-white !default;
$alerts-ui-icon-color-before: #000 !default;
$toggle-menu-mobile-ui-icon-color-before: $color-primary !default;
$policy-select-box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255), 0px 0px 0px 3px rgb(30, 148, 227) !default;

$menu-policy-ui-icon-color-before: $color-primary !default;

$policy-selector-header-background: transparent !default;
$policy-selector-account-item-color: $color-primary !default;
$policy-selector-legal-text-color: $color-font !default;

$nav-primary-link-font-size: 1rem !default;
$nav-primary-link-mobile-font-size: 1rem !default;

.page-header {
    border-bottom: 1px solid #f4f4f4;
    background-color: $page-header-background-color;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;


    &--minimal {
        border-bottom: none;
    }

    &__wrapper {
        position: relative;
        padding: 15px 10px;
        max-width: 1200px;
        margin: auto;

        @include breakpoint(500px) {
            display: table;
            width: 100%;
            padding: 1rem;
            height: 100px;
            min-height: 100px;
        }
    }

    &__section {
        margin: auto;

        @include breakpoint(500px) {
            display: table-cell;
            vertical-align: middle;
        }

        &--left {
            @include breakpoint(500px) {
                width: 20%;
            }
        }

        &--center {
            max-width: 300px;

            @include breakpoint(500px) {
                width: 60%;
            }
        }

        &--right {
            position: absolute;
            right: 5%;
            top: 10px;
            text-align: right;
            @include font-size(14px);

            @include breakpoint(500px) {
                @include font-size(16px);
                width: 20%;
                position: static;
            }
        }

        .policy-number {
            color: $page-header-font-color;
        }
    }

    &__logo {
        display: block;
        height: auto;
        width: auto;
        max-width: $header-logo-max-width;
        max-height: $header-logo-max-height;
    }

    &__back {
        height: 24px;
        width: 24px;
        position: absolute;
        left: 20px;
        top: 32px;
        background-image: url('../images/icon-arrow-left.svg');
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &__back-link {
        text-indent: -9000px;
        height: 24px;
        width: 24px;
        display: inline-block;
        background-image: url('../images/icon-arrow-left.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 24px;
    }

    &__close-link {
        height: 24px;
        width: 24px;
        display: inline-block;
        background-image: url('../images/icon-cross.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 24px;
    }

    &__close-text {
        @include visually-hidden;
    }

    &__step-counter {
        text-align: center;
        margin: 0;
        color: $color-primary;
        font-weight: 300;
    }

    &__cancel {
        float: right;
        margin: 0;
    }
}

// Looking for the navigation/breadcrumbs in the header?
// Check timeline.scss

// Header Primary
.header {
    background: $header-background-color;
    padding: 30px 10px;
    border-bottom: $header-border-bottom;
    color: $header-text-colour;
    min-height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $header-margin-bottom;
    $header: &; // Anchor for SCSS
    &__logo {
        display: block;
        max-height: $header-logo-max-height;
        max-width: $header-logo-max-width;
    }

    .link, a {
        text-decoration: $header-text-colour;

        &:hover, &active, &focus {
            color: $header-text-colour-hover;
        }
    }

    &.nav-exists {
        margin-bottom: 0;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #{$header}__actions {
            display: flex;

            .burger-menu {
                font-size: 24px;

                i:before {
                    color: $header-text-colour;
                }

                @include breakpoint($screen-lg) {
                    display: none;
                }
            }

            .logout-link {
                display: none;

                @include breakpoint($screen-lg) {
                    display: flex;
                    align-self: flex-end;
                    color: $header-text-colour;
                    font-weight: 500;
                    font-size: 24px;
                    margin-right: 20px;

                    &:focus, &:hover, &active {
                        color: $header-text-colour-hover;

                        i {
                            color: $header-text-colour-hover;
                        }
                    }

                    &:after {
                        content: "\f108";
                        font-family: "ui-icons";
                        vertical-align: middle;
                        margin-left: 5px;
                        display: inline-block;
                    }

                    border-bottom: 1px solid $header-text-colour;
                    font-size: 16px;

                    span {
                        display: inline-block;
                    }
                }
            }

            .alerts {
                position: relative;
                background: none;
                border: none;
                cursor: pointer;
                margin-right: 20px;

                i {
                    font-size: 24px;
                }

                color: $notifications-bell-color;

                i[class^="ui-"]:before, i[class*=" ui-"]:before {
                    color: $alerts-ui-icon-color-before;
                }

                &:hover, &:focus, &:active {
                    i {
                        color: $header-text-colour-hover;
                    }
                }

                &:after {
                    content: "";
                    height: 8px;
                    width: 8px;
                    background: $error-background-color;
                    border-radius: 50%;
                    position: absolute;
                    top: 5px;
                    right: 2px;
                }

                &--none {
                    @extend .alerts;
                    color: $notifications-bell-color-none;

                    i[class^="ui-"]:before, i[class*=" ui-"]:before {
                        color: $alerts-ui-icon-color-before;
                    }

                    &:hover, &:focus, &:active {
                        i {
                            color: $header-text-colour-hover;
                        }
                    }

                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
}

.nav-primary {
    background: $nav-background;
    border-bottom: $nav-border-bottom;
    margin-bottom: $nav-margin-bottom;
    overflow: auto;
    flex: 0 0 auto;
    $nav-primary: &; // Anchor for SCSS
    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100vh;
        background: $nav-primary-mobile-background;
        z-index: 600;

        &:before {
            content: $nav-primary-mobile-discs;
            height: 500px;
            width: 500px;
            position: fixed;
            top: 0;
            margin-top: -150px;
            margin-left: -200px;
            left: 0;
            border: 75px solid $brand-80;
            border-radius: 50%;
            opacity: 0.3;
            z-index: -1;
            box-shadow: 0px 0 0px 100px $brand-20, inset 0 0 0 25px $brand-20;
        }
    }

    ~ header {
    }

    .toggle-policy-menu {
        display: none;
        border-bottom: none;

        @media screen and (max-width: 767px) {
            width: 100%;
            display: block;
            max-width: none;
            padding: 0 20px;
            margin-top: 80px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        min-width: 600px; // Graceful fallback
        min-width: max-content;
        padding: 0;
        margin: 0;
        // text-align: center;
        @media screen and (max-width: 767px) {
            max-width: 100%;
            display: block;
            min-width: auto;
            border-top: 1px solid $brand-20;
            padding-top: 20px;
            padding-left: 0px;
            margin-top: 10px;
        }

        #{$nav-primary}__item {
            display: inline-block;
            width: 100%;

            @include breakpoint($screen-lg) {
                width: auto;

                &:last-child {
                    display: none;
                }
            }

            #{$nav-primary}__link {
                display: block;
                padding: 10px;
                color: $nav-link-colour;
                text-decoration: none;
                font-size: $nav-primary-link-font-size;
                border-bottom: 2px solid transparent;

                &:focus {
                    box-shadow: inset 0px 0px 0px 3px rgb(30, 148, 227);
                }

                @media screen and (max-width: 767px) {
                    color: $nav-primary-mobile-link-colour;
                    font-weight: 300;
                    font-size: $nav-primary-link-mobile-font-size;

                    &:focus {
                        @include focusSelectSurround;
                    }

                    i[class^="ui-"]:before, i[class*=" ui-"]:before {
                        color: $nav-primary-mobile-ui-icon-before-color;
                    }
                }

                &:hover, &:focus {
                    color: $nav-link-color-hover;
                    border-bottom: 2px solid $nav-link-color-hover;

                    @media screen and (max-width: 767px) {
                        color: $nav-primary-mobile-link-colour;
                        border-bottom: none;

                        i {
                            color: $nav-primary-mobile-link-colour;
                        }
                    }
                }

                i {
                    margin-right: 10px;
                    max-width: 30px;
                    width: 100%;
                    font-size: 28px;
                    line-height: 28px;
                    vertical-align: middle;
                    display: none;

                    @media screen and (max-width: 767px) {
                        display: inline-block;
                    }
                }

                &--active {
                    color: $nav-link-colour-active;
                    border-bottom: 2px solid $nav-link-border-colour-active;
                    font-weight: bold;

                    &:focus {
                        color: $nav-link-colour-active;
                        border-bottom: 2px solid $nav-link-colour-active;
                    }

                    @media screen and (max-width: 767px) {
                        color: $nav-primary-mobile-link-colour;
                        border-bottom: none;

                        &:focus {
                            color: $nav-primary-mobile-link-colour;
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
    // Mobile Menu Close
    #close-mobile-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: $nav-primary-mobile-link-colour;
        background: none;
        font-size: 44px;
        border: none;
        height: 44px;
        width: 44px;
        display: none;

        @media screen and (max-width: 767px) {
            display: inline-block;

            .ui-icon-cross:before {
                color: $nav-primary-mobile-link-colour;
            }
        }

        i {
        }
    }
}

.page-headerv2 {
    border-bottom: 1px solid #f4f4f4;
    background-color: $page-header-background-color;
    color: $page-header-font-color;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;


    &--minimal {
        background-color: transparent;
        border-bottom: none;
    }

    &__wrapper {
        position: relative;
        padding: 15px 10px;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;

        @include breakpoint(500px) {
            width: 100%;
            padding: 1rem;
            min-height: 100px;
        }
    }

    &__section {
        margin: auto;

        @include breakpoint(500px) {
            display: block;
            vertical-align: middle;
        }

        &--logo {
            order: 2;
            margin: auto;

            @include breakpoint(600px) {
                width: 20%;
                order: 1;

                @include breakpoint(1200px) {
                    margin-left: 0;
                }
            }
        }

        &--breadcrumbs {
            width: 100%;
            max-width: 300px;
            order: 4;
            justify-content: flex-start;

            @include breakpoint(600px) {
                width: 45%;
                order: 2;
                max-width: none;
            }
        }

        &--quote {
            order: 1;
            color: black;
            font-size: 0.5rem;
            width: 20%;
            text-align: left;
            white-space: nowrap;

            @include breakpoint(600px) {
                width: 10%;
                position: static;
                order: 3;
                margin-right: 0px;
            }
        }

        &--basket {
            text-align: right;
            order: 3;
            width: 20%;
            @include font-size(14px);

            @include breakpoint(600px) {
                @include font-size(16px);
                width: 13.5%;
                position: static;
                order: 4;
                margin-left: 0px;
            }
        }
    }

    &__logo {
        display: block;
        height: auto;
        width: auto;
        max-width: 100px;
        max-height: 51px;
    }

    &__back {
        height: 24px;
        width: 24px;
        position: absolute;
        left: 20px;
        top: 32px;
        background-image: url('../images/icon-arrow-left.svg');
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &__back-link {
        text-indent: -9000px;
        height: 24px;
        width: 24px;
        display: inline-block;
        background-image: url('../images/icon-arrow-left.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 24px;
    }

    &__close-link {
        height: 24px;
        width: 24px;
        display: inline-block;
        background-image: url('../images/icon-cross.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 24px;
    }

    &__close-text {
        @include visually-hidden;
    }

    &__step-counter {
        text-align: center;
        margin: 0;
        color: $color-primary;
        font-weight: 300;
    }

    &__cancel {
        float: right;
        margin: 0;
    }
}

.premium {
    background-color: $color-primary;
}

.pquote-number__sub-text {
    font-weight: 300;
    font-size: 11px;
    color: $page-header-font-color;
    letter-spacing: 0;
    line-height: 12px;
    display: block;
}

.pquote-number__number {
    font-weight: 800;
    font-size: 12px;
    color: $page-header-font-color;
    letter-spacing: 0;
    line-height: 17px;
    display: block;
}

.customer-profile {
    padding: 0;
}

.pquote-number__text {
    margin-bottom: 0px;
}

.page-header__section--loading {
    max-width: 1200px;
    width: 100%;
}

.shopping-basket {
    top: 0px;
}

.page-header__logo {
    max-width: 100px;
    height: auto;
    max-height: 51px;
    transition: all 0.3s;

    @include breakpoint(450px) {
        max-width: 150px;
        height: auto;
    }
}

.breadcrumb {
    padding: 0.5rem 30px;
    width: 100%;
    display: table;
    margin: 1rem 0 0 0;
    max-width: 700px;

    @include breakpoint(500px) {
        padding: 0.5rem 30px 1.5rem;
    }
}

// Layout Controls

// Full Screen Policy/Account Menu
.menupolicy {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: $policy-selector-background;
    z-index: 100;
    color: $policy-selector-menu-text-color;
    overflow: auto;
    display: none;

    &.active {
        display: block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .legal-text {
        color: $policy-selector-legal-text-color;
    }

    &__wrapper {

        &:before {
            content: $policy-selector-discs;
            height: 1000px;
            width: 1000px;
            position: fixed;
            top: 0;
            margin-top: -500px;
            margin-left: -500px;
            left: 0;
            border: 150px solid $brand-80;
            border-radius: 50%;
            opacity: 0.3;
            z-index: -1;
            box-shadow: 0px 0 0px 200px $brand-20, inset 0 0 0 50px $brand-20;
        }
    }

    &__header {
        background: $policy-selector-header-background;
        padding: 30px 0;

        i {
            &:hover, &:focus {
                color: #fff;
            }
        }

        &-logout__link {
            color: $policy-selector-header-text-color;
            font-weight: 500;
            font-size: 24px;
            display: inline-block;
            float: right;
            text-decoration-color: $policy-selector-header-text-color;

            &:after {
                content: "\f108";
                font-family: "ui-icons";
                vertical-align: middle;
                margin-left: 5px;
                display: inline-block;
            }

            &:hover, &focus {
                color: $policy-selector-header-text-color-hover;
                text-decoration-color: $policy-selector-header-text-color-hover;

                i {
                    color: $policy-selector-header-text-color-hover;
                }
            }

            span {
                display: none;
            }

            i {
                position: absolute;
                top: 8%;
                right: -2%;
            }

            @include breakpoint($screen-lg) {
                border-bottom: 1px solid $policy-selector-header-text-color;
                font-size: 16px;

                span {
                    display: inline-block;
                }
            }
        }

        & .toggle-menu {
            display: inline-block;
            font-size: 30px;
            line-height: 12px;
            vertical-align: middle;
            cursor: pointer;

            @include breakpoint(750px) {
                display: none;
            }
        }

        &-close {
            cursor: pointer;
            margin-left: 15px;

            &:before {
                content: "\f130";
                font-family: "ui-icons";
                vertical-align: middle;
                color: #fff;
            }

            height: 30px;
            width: 60px;
            background: none;
            border: none;
            float: right;
        }

        &-logo {
            max-width: 80px;
            display: block;

            img {
                max-width: 100px;
                height: auto;
                max-height: 51px;
                transition: all 0.3s;

                @include breakpoint(450px) {
                    max-width: 150px;
                    height: auto;
                }
            }
        }

        i[class^="ui-"]:before, i[class*=" ui-"]:before {
            color: $menu-policy-ui-icon-color-before;
        }
    }
    // Selector List
    &-selector {
        max-width: 992px;
        margin: 80px auto 0px auto;

        @media screen and (max-width: 400px) {
            margin: 40px auto 0px auto;
        }

        &__policy-number {
            color: $color-font;
            text-align: center;
            display: block;
            margin-bottom: 15px;
            font-weight: 600;
        }

        &__list {
            text-align: left;
        }

        &__item {
            padding: 30px;
            border-radius: 5px;
            background: #fff;
            height: 335px;
            position: relative;
            @include column(4, 12);
        }

        &__anchor {
            display: block;

            &:focus:-webkit-any-link {
                color: $color-primary;
                cursor: pointer;
            }
        }

        &-accounts__list {
        }

        &-accounts__item {
            width: 100%;
            margin-bottom: 20px;
            position: relative;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    // Label
    label {
        background-color: #fff;
    }

    .button {
        border-radius: $menu-policy-personal-details-border-radius;
        border: $menu-policy-personal-details-border;
    }
}

// Toggle Menu
.toggle-policy-menu {
    display: flex;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    text-align: left;
    width: 100%;
    max-width: 200px;
    border-bottom: 1px solid $header-text-colour;
    text-decoration: none;
    color: $header-text-colour;

    &:focus {
        .ui-icon-arrow-right:before {
            color: $nav-primary-mobile-link-colour;
        }
    }

    &:hover, &:active, &focus {
        color: $header-text-colour-hover;

        i {
            color: $header-text-colour-hover;
        }
    }

    @media screen and (max-width: 767px) {
        display: none;
    }

    &--inactive {
        cursor: default;
        border-bottom: none;

        &:hover, &:active, &focus {
            color: $header-text-colour;

            i {
                color: $header-text-colour;
            }
        }
    }

    small {
        color: $header-text-colour;

        @media screen and (max-width: 767px) {
            color: $nav-primary-mobile-link-colour;
            padding-bottom: 5px;
            font-size: 16px;
            font-weight: 300;
        }
    }

    i {
        font-family: "ui-icons";
        height: 44px;
        width: 44px;
        font-size: 28px;
        align-self: center;

        @media screen and (max-width: 767px) {
            color: $nav-primary-mobile-link-colour;
        }
    }

    &:after {
        position: absolute;
        //content: "\f107";
        font-family: "ui-icons";
        top: 14px;
        right: 10px;
        height: 20px;
        width: 20px;

        @media screen and (max-width: 767px) {
            color: #fff;
        }
    }

    &__details {
        overflow: hidden;

        @media screen and (max-width: 767px) {
            color: $nav-primary-mobile-link-colour;
            display: inline-block;
            margin-left: 10px;
        }
    }

    &__avatar {
        display: inline-block;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        border: 5px solid transparentize($color-primary, 0.6);
        border-radius: 50%;
        position: relative;
        text-align: center;

        &:before {
            content: "";
            height: 100%;
            width: 100%;
            background: $color-primary;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 50%;
            font-size: 36px;
            line-height: 70px;
        }

        &:after {
            content: attr(data-initials);
            height: 100%;
            width: 100%;
            vertical-align: middle;
            position: absolute;
            color: #fff;
            left: 0;
            top: 0;
            line-height: 2.75rem;
            font-weight: 400;
            padding-top: calc(50% - 1.375rem);
            font-size: 28px;
        }
    }

    &__small {
        display: block;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 15px;

        @media screen and (max-width: 767px) {
            color: $nav-primary-mobile-link-colour;
        }

        &--inactive {
            text-transform: none;
        }
    }

    &__span {
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;

        @media screen and (max-width: 767px) {
            color: $nav-primary-mobile-link-colour;
            font-size: 16px;
        }

        &--inactive {
            cursor: default;
            text-transform: none;
        }
    }

    &__span-select {
        display: block;
        color: #fff;
        font-weight: 300;
        font-size: 13px;
        line-height: 13px;
    }
}

//policy select page
.policy-select-menu {
    max-width: 766px;
}

.policy-select__back {
    color: $policy-selector-account-link-color;
}

.policy-select-menu .menupolicy-selector {
    &__list {
        width: 373px;
        min-width: 280px;
        border-radius: 10px;

        @media screen and (max-width: 400px) {
            min-width: 353px;
        }
    }

    &__item {
        height: 185px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
        padding-left: 0px;
        margin-bottom: 5px;
        color: $color-primary;
        padding: 20px;
        min-width: 373px;
        border-radius: 10px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
        padding-left: 0px;
        padding: 20px;

        @media screen and (max-width: 400px) {
            min-width: 353px;
        }
    }

    &-accounts__list {
        position: absolute;
        left: 32%;
    }

    &-accounts__item {
        padding-right: 2.4rem;
        margin-bottom: 0px;
        color: $policy-selector-account-item-color;
        position: relative;
        padding: 0.4rem 0.8rem;
        line-height: normal;

        & i {
            position: absolute;
            top: 18%;
            left: -2%;
        }
    }

    &-accounts__item:nth-child(1) {
        color: $color-font;
        font-size: 12px;
    }
}

.policy-select-menu .ui-icon {
    &-car, &-home, &-van {
        font-size: 50px;
        position: absolute;
        top: 10%;
        left: 6%;
        color: $color-primary;
    }

    &-notification {
        font-size: 30px;
        position: absolute;
        right: 6%;
        top: 12%;
        color: $color-primary;

        &:after {
            content: "";
            height: 10px;
            width: 10px;
            display: block;
            background-color: $error-background-color;
            border-radius: 50%;
            position: absolute;
            top: 10%;
            right: 15%;
        }
    }
}

.container {
    &--acount-select-nav {
        display: flex;
        flex-wrap: wrap;
        max-width: 766px;

        & li {
            //margin: 10px 10px;
            min-width: 300px;
            max-width: 360px;
        }
    }

    &--acount-select-list-item {
        list-style: none;
        padding: 20px;
        border-radius: 10px;
        background: #fff;
        position: relative;
        flex: 1 1 310px;
        border-radius: $policy-selector-account-select-border-radius;
        box-shadow: $policy-selector-account-select-box-shadow;

        a {
            box-shadow: none;
            text-decoration: none;
            display: inline-block;
        }

        &:focus-within {
            box-shadow: $policy-select-box-shadow;
        }

        &-list--policy-select {
            margin-left: 17%;
        }
    }

    &--policy-select-nav {
        display: flex;
        flex-wrap: wrap;
        max-width: 766px;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;

        @include breakpoint(766px) {
            justify-content: left;
        }

        & li {
            max-width: 360px;
        }

        & li.container--policy-select-list-item {
            margin: 10px;

            a {
                box-shadow: none;
            }

            &:focus-within {
                box-shadow: $policy-select-box-shadow;
            }
        }
    }

    &--acount-select-list-item {
        list-style: none;
        padding: 20px;
        border-radius: 10px;
        background: #fff;
        position: relative;

        &-list--policy-select {
            margin-left: 17%;
        }

        @media screen and (max-width: 380px) {
            width: 95%;
        }
    }

    &--policy-select-list-item {
        border-radius: 10px;
        background: #fff;
        position: relative;
        margin: 10px;
        padding: 0.8rem;
        flex: 1 1 310px;
        max-width: 310px;
        border-radius: $policy-selector-account-select-border-radius;
        box-shadow: $policy-selector-account-select-box-shadow;

        a {
            text-decoration: none;
        }

        @include breakpoint(766px) {
            max-width: 100%;
        }
    }
}

@supports (display: grid) {
    //container for grid of both
    .container {
        &--acount-select-nav {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 373px 373px;
            grid-template-columns: 310px;
            -ms-grid-rows: 1fr;
            grid-template-rows: 1fr;
            grid-gap: 20px;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            color: $color-primary;

            @include breakpoint(680px) {
                -ms-grid-columns: 373px 373px;
                grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
            }
        }

        &--acount-select-list-item {
            list-style: none;
            padding: 20px;
            border-radius: 10px;
            background: #fff;
            position: relative;

            &-list--policy-select {
                margin-left: 17%;
            }

            @media screen and (max-width: 380px) {
                width: 100%;
            }
        }

        &--policy-select-nav {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
            grid-gap: 20px;
            justify-content: center;

            @media screen and (max-width: 680px) {
                grid-template-columns: 310px;
            }

            & li.container--policy-select-list-item {
                margin: 0;
            }
        }

        &--policy-select-list-item {
            max-width: 100%;
        }
    }
}

.policy-select-menu .policy-select-card {
    a {
        border-radius: 0;
        border: none;
        display: block;
    }

    .card-list--policy-select {
        margin-left: 17%;
        padding: 0;
        list-style: none;
    }
}
//account select .card
.account-select-menu {
    max-width: 766px;

    .card-list--account-select {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.account-select-menu .menupolicy-selector {
    &__list {
        width: 373px;
        min-width: 280px;
        border-radius: 10px;

        @media screen and (max-width: 400px) {
            min-width: 353px;
        }
    }

    &__item {
        min-width: 373px;
        border-radius: 10px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
        padding-left: 0px;
        padding: 20px;

        @media screen and (max-width: 400px) {
            min-width: 353px;
        }
    }

    &-accounts__item {
        position: relative;
        padding: 0.5rem 0.75rem 0.5rem 1.8rem;
        color: $color-primary;

        & i {
            position: absolute;
            top: 18%;
            left: -2%;
        }
    }

    &__policy-number {
        text-align: left;
        color: $color-font;
        font-size: 12px;
        font-weight: 100;
    }
}

.account-select-menu [class*="ui-icon"] {
    font-size: 25px;
    position: absolute;
    top: 2%;
}
// Vegan Menu
// HOTFIX for Body
body {
    @media screen and (max-width: 767px) {
        padding-bottom: 60px;
    }
}

.vegan-menu {
    display: none;
    border-top: 1px solid $key-grey;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    overflow: hidden;
    background: #fff;
    z-index: 500;

    @media screen and (max-width: 767px) {
        display: block;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        padding: 0;
    }

    &__item {
        display: inline-block;
        flex: 1 1 auto;
        height: 60px;

        a {
            text-decoration: none;
        }

        @media screen and (max-width: 440px) {
            width: calc(100% / 5);
        }

        &:nth-last-child(2) {
            @media screen and (max-width: 440px) {
                display: none;
            }
        }
    }

    &__link,
    &__button {
        display: block;
        font-size: 13px;
        line-height: 13px;
        color: $color-primary;
        padding: 6px 0;
        font-weight: 600;
        margin: 3px;

        i {
            font-family: "ui-icons";
            display: block;
            text-align: center;
            width: 25px;
            margin: auto;
            font-size: 28px;
            line-height: 28px;
        }

        &:before {
            font-family: "ui-icons";
            display: block;
            text-align: center;
            height: 20px;
            width: 25px;
            margin: auto;
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 3px;
        }
    }

    &__button {
        background: none;
        border: none;
        width: 100%;
        cursor: pointer;
    }
}

.selector-container {
    max-width: 766px;
}
