﻿$payment-status-credit-background-color: #C4C4C4 !default;
$payment-status-credit-color: #282828 !default;
$payment-status-credit-amount-color: #282828 !default;


.card-authentication {
    &__text {
        @include font-size(13px);
        font-weight: 300;
        color: $color-font--light;
        line-height: 20px;
    }

    &__link-pre-text {
        @include font-size(15px);
        font-weight: 300;
        color: $color-font--light;
    }

    &__link {
        @include font-size(16px);
    }
}

.confidence-box {
    &__heading {
        @include font-size(13px);
    }

    &__text {
        color: $color-font--light;
        @include font-size(13px);
        font-weight: 300;
        line-height: 20px;
    }
}

.cpa {
    padding: 30px 0;

    &__heading {
        @include font-size(18px);
    }

    &__text {
        line-height: 1.6;
        font-weight: 300;
    }
}

.credit-agreement {
    padding: 30px 0;

    &__heading {
        @include font-size(18px);
    }

    &__item {
        font-weight: 300;
        margin: 20px 0;

        &--true {
            list-style-type: none;
            font-weight: bold;
            padding-left: 25px;
            position: relative;
            left: -26px;
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 20px;
            background-image: url('../images/icon-tick.svg');
        }
    }

    &__sub-text {
        border: solid 1px $color-primary;
        color: $color-primary;
        padding: 20px;
        line-height: 1.4;
        font-weight: 600;
    }
}

.monthly-radio {
    position: relative;

    &__section {
        max-width: 800px;
    }

    &__label {
        background-repeat: no-repeat;
        background-position: 5px center;
        color: $color-primary;
        background-size: 50px;

        &--acc {
            background-image: url('../images/icon-direct-debit-black.svg');
            background-position-x: 12px;

            .tabs__label-text {
                padding-left: 60px;
            }

            &:hover {
                background-image: url('../images/icon-direct-debit.svg');
            }
        }

        &--card {
            background-size: 35px 35px;
            background-position: 15px 50%;
            background-repeat: no-repeat;
            background-image: url('../images/icon-credit-card.svg');

            .tabs__label-text {
                padding-left: 40px;
            }

            &:hover {
                background-image: url('../images/icon-credit-card--white.svg');
            }
        }
    }

    .tabs__input:checked + .monthly-radio__label {
        &--acc {
            background-image: url('../images/icon-direct-debit.svg');
        }

        &--card {
            background-image: url('../images/icon-credit-card--white.svg');
        }
    }
}

.monthly-radio__radio:checked {
    + .monthly-radio__label {
        &--card {
            background-image: url('../images/icon-credit-card.svg');
        }

        &--acc {
            background-image: url('../images/icon-direct-debit.svg');
        }

        + .monthly-radio__action-box {
            display: block;
        }
    }
}

.direct-debit-text {
    margin: 20px 0;

    &__image {
        width: 100px;
    }

    &__text {
        color: $color-font--light;
        @include font-size(13px);
    }

    &__link {
        padding-right: 20px;
    }
}

.sort-code__label--error {
    color: $color-red;
    font-weight: bold;
    padding-left: 30px;
    background-image: url(../images/icon-error.svg);
    background-position: 0 4px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.sort-code__input--error {
    border: 2px solid $color-red;
    color: $color-red;
}

.sort-code__span--error {
    color: $color-red;
    display: block;
}

.form-row__overlay-text {
    position: absolute;
    width: 100px;
    right: 10px;
    height: 100%;
    top: 0;
    color: $color-font--light;
    font-weight: 300;
    z-index: 5;
    padding: 15px 0;
    margin: 0;
    text-align: right;
    user-select: none;
}


.payment-summary {
    display: block;
    max-width: 600px;

    @include breakpoint(500px) {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__item {
        display: block;
        width: 100%;

        @include breakpoint(500px) {
            flex: 1 1 50%;
        }
    }

    &__legal-text {
        line-height: 2;
    }
}

.payment-switch-link {
    font-weight: bold;
    margin-bottom: 0px;

    &--promote-monthly {

        @include breakpoint($screen-md) {
            display: block;
            color: $link-color;
            text-decoration: none;
            padding-bottom: 1px;
            cursor: default;

            &--annual {
                padding-bottom: 20px;
                font-size: 16px !important;
            }
        }
    }
}

.pre-contract {
    &__placeholder {
        width: 100%;
        text-align: center;
        height: 400px;
        border: solid 1px #000;
        display: flex;
        align-content: center;
        justify-content: space-around;
    }

    &__placeholder-text {
        line-height: 21;
    }
}

.today-payment {
    &__heading {
        font-weight: 300;
        @include font-size(16px);
    }

    &__label {
        width: 300px;
        margin: 10px 10px 10px 0;
        vertical-align: top;
    }

    &__input {
        &:checked {
            + .today-payment__label {
                color: #fff;

                &--card {
                    background-image: url('../images/icon-credit-card.svg');
                }

                &--acc {
                    background-image: url('../images/icon-direct-debit.svg');
                }
            }

            + .payment-card {
                background-image: url('../images/logo-visa-white.svg');
            }

            + .new-card {
                .new-card__plus {
                    fill: #fff;
                }
            }
        }
    }

    &__section {
        max-width: 800px;
        padding: 20px 0;
    }
}

.payment-card {
    user-select: none;
    width: 250px;
    border: solid 1px #ccc;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    color: $color-primary;
    background-repeat: no-repeat !important;
    background-size: 50px !important;

    &--visa {
        background-image: url('../images/logo-visa.svg');
        background-position: 95% 5%;

        &:hover {
            background-image: url('../images/logo-visa--white.svg');
            background-position: 95% 5%;
        }
    }

    &--mastercard {
        background-image: url('../images/logo-mastercard.svg');
        background-position: 95% 10%;

        &:hover {
            background-image: url('../images/logo-mastercard--white.svg');
            background-position: 95% 10%;
        }
    }

    &--solo {
        background-image: url('../images/logo-solo.svg');
        background-position: 95% 10%;

        &:hover {
            background-image: url('../images/logo-solo--white.svg'); // Need white version.
            background-position: 95% 10%;
        }
    }

    &--maestro {
        background-image: url('../images/logo-maestro.svg');
        background-position: 95% 10%;

        &:hover {
            background-imagE: url('../images/logo-maestro--white.svg');
            background-position: 95% 10%;
        }
    }

    &__section {
        margin: 10px 0;
    }

    &__text {
        @include font-size(7px);
        display: block;
        color: $color-font--light;
    }

    &__card-number {
        margin: 0;
    }

    &__card-number-segment {
        vertical-align: middle;
    }

    &__sub-section {
        display: inline-block;
        margin: 0 5px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.new-card {
    user-select: none;
    width: 250px;
    text-decoration: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 35px 20px;
    color: $color-primary;

    &:hover {
        .new-card__plus {
            fill: #fff;
        }
    }
}

.read-confirm {
    @include breakpoint(500px) {
        display: table;
        padding: 20px 0;
    }

    &.error {
        border: solid 2px $color-red;
        padding: 10px 0 10px 30px;
        border-radius: 5px;
        background-image: url('../images/icon-error.svg');
        background-position: 5px 13px;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        margin-top: 16px;

        + .form-row__validation-text {
            display: block;

            @include breakpoint(600px) {
                text-align: right;
            }
        }
    }

    &__section {
        display: block;

        @include breakpoint(500px) {
            display: table-cell;
            vertical-align: middle;
        }

        &--checkbox {
            width: 100%;
            text-align: center;
            height: 110px;

            @include breakpoint(500px) {
                width: 200px;
                display: block;
            }
        }
    }

    &__tooltip {
        width: 120px;
        text-align: center;
        margin: auto;
    }

    &__checkbox {
        opacity: 0;
        position: absolute;

        &:checked + label.read-confirm__label {
            .tick-here-text {
                display: none;
            }

            &:before {
                background: url('../images/icon-checkbox-alt--on.svg');
            }

            &:after {
                display: none;
            }
        }
    }

    &__checkbox:focus + .read-confirm__label {
        -webkit-box-shadow: 0px 0px 4px $color-secondary;
        -moz-box-shadow: 0px 0px 4px $color-secondary;
        box-shadow: 0px 0px 4px $color-secondary;
    }

    &__label {
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 100%;
        height: 110px;

        .tick-here-text {
            display: inline-block;
            padding: 5px;
            text-align: center;
            margin: auto auto 10px auto;
            width: 105px;
            border-radius: 5px;
            color: #fff;
            background-color: #000;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -53px;
        }

        &:before, &:after {
            position: absolute;
            content: "";
            display: inline-block;
        }

        &:before {
            height: 64px;
            width: 64px;
            left: 50%;
            margin-left: -32px;
            background: url('../images/icon-checkbox-alt--inactive.svg');
            top: 45px;
        }

        &:after {
            border: solid 10px #000;
            transform: rotate(45deg);
            bottom: 0px;
            top: 20px;
            left: 42px;
            z-index: -1;
            position: absolute;
            left: 50%;
            margin-left: -10px;
            height: 10px;
        }
    }
}

.legend-sortcode {
    margin-bottom: 14px;
}

.sortcode-hidden {
    @include visually-hidden();
}

.payment-activity {
    &__status {
        padding: 4px 0;
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        border-radius: 6px;
        min-width: 165px;

        &-credit {
            background-color: $payment-status-credit-background-color;
            color: $payment-status-credit-color;
        }
    }

    &__amount {

        &-credit {
            color: $payment-status-credit-amount-color;
        }

        &-debit {
            color: $color-primary;
        }
    }

    &__make-payment-link {
        margin-bottom: 8px;
    }
}

#Direct-Debit-Payment-Date + .form-row__hint-text,
#Credit-Card-Payment-Date + .form-row__hint-text {
    flex: 1 1 100%;
}

.schedule-bar__callout-text .schedule-bar__message-text {
    left: -15%;
    width: 180%;
}

@media screen and (max-width: 1024px) {
    .schedule-bar__callout-text .schedule-bar__message-text {
        left: -25%;
        width: 220%;
    }
}

@media screen and (min-width: 778px) {
    .schedule-bar {
        padding: 80px 30px 3rem;
    }
}

@media screen and (max-width: 778px) {
    .schedule-bar__callout-text .schedule-bar__message-text {
        top: 0px;
        left: 0px;
        width: 100%;
        text-align: left;
    }

    .payment-schedule .mb {
        margin-bottom: 30px;
    }
}

.payment-schedule {
    .payment-schedule-next-payment-date, .payment-schedule-monthly-payment {
        margin-bottom: 20px;
    }

    .next-payment-date-header {
        font-size: 16px;
        margin: 0;
        line-height: 29.2px;
    }

    .monthly-payments-header {
        font-size: 16px;
        margin: 0;
        line-height: 29.2px;
        font-weight: normal;
    }

    .payment-method-header {
        font-size: 16px;
    }

    .legal-text {
        margin-top: 13px;
        margin-bottom: 13px;
    }

    .account-number, .sort-code {
        margin-bottom: 10px;
    }

    .account-number {
        font-size: 16px;
    }

    .table-payment {
        border-spacing: 0;
        padding-bottom: 10px;
        width: 100%;

        &__cell {
            border-bottom: solid 1px $color-grey--light;
            padding: 10px 0;
            vertical-align: top;
        }

        &__cell--align-right {
            text-align: right;
        }

        &__row--thin {
            font-weight: 300;
        }
    }
}

// MA Take Payment
.cancellation-overview {
    section {
        padding: 50px 0;
    }

    .payment-table {
        color: $color-primary;
        font-weight: 300;
        border-collapse: collapse;
        margin: 10px 0px 20px 0px;
        width: 95%;

        @media screen and (min-width: 778px) {
            width: 65%;
        }

        @include breakpoint(700px) {
            margin-top: 0px;
            margin-bottom: 20px;
        }

        tr {
            border-bottom: $table-border;
            height: 48px;

            th, td {
                padding-left: 10px;
            }

            th:nth-child(2), td:nth-child(2) {
                text-align: right;
            }
        }

        &__bold {
            font-weight: bold;
        }

        &__refund {
            font-weight: bold;
            color: $color-green;
        }
    }
}
