$footer-primary-ui-icon-color: $color-primary !default;

.footer-primary {
    background-color: $footer-background-color;
    border-top: $footer-border-top;
    color: $footer-text-color;
    padding: $footer-padding-top-bottom;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    margin-top: $footer-margin-top;
    flex: 0 0 auto;

    i[class^="ui-"]:before, i[class*=" ui-"]:before {
        color: $footer-primary-ui-icon-color;
    }

    @media (max-width: $screen-lg) {
        padding-bottom: $footer-padding-bottom-mobile;
    }

    $footer-primary: &; // Anchor for SCSS
    // Layout Controls
    &__row {
        @include make-row();
    }
    // ^ Key Stage Progress
    &__col {
        &:nth-child(1) {
            //@include make-col-offset(1);
            @include make-col(6);

            @media screen and (max-width: 767px) {
                @include make-col(12);
            }
        }

        &:nth-child(2) {
            @include make-col(6);

            @media screen and (max-width: 767px) {
                @include make-col(12);
            }
        }
    }

    &:before {
        content: "";
        @include clearfix();
    }

    &__small {
        display: block;
        margin-bottom: 10px;

        strong {
        }
    }
    // Footer Nav
    &__nav {
        #{$footer-primary}__list {
            padding: 0;

            #{$footer-primary}__item {
                margin-right: 20px;
                margin-bottom: 0px;
                display: inline-block;

                .link {
                    color: $footer-link-color;
                    text-decoration-color: $footer-text-decoration-color;
                }

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

    p {
    }

    h5 {
        margin-top: 0px;
        margin-bottom: 10px;

        @media screen and (max-width: 767px) {
            margin-top: 20px;
        }
    }

    ul {
        li {
            margin-bottom: 20px;

            a {
            }
        }
    }
}
