﻿.purchase-date-dropdowns {

    .form-row {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;

        &:nth-of-type(1) {
            padding-right: 10px;
        }
    }
}

.review-overview {
    width: 100%;

    @include breakpoint(820px) {
        display: table;
    }

    &__section {
        vertical-align: top;
        padding: 20px 0;

        @include breakpoint(820px) {
            display: table-cell;
            width: 50%;
            padding: 0;
        }

        &:nth-of-type(1) {
            border-bottom: solid 1px #D8D8D8;

            @include breakpoint(820px) {
                border-bottom: none;
                border-right: solid 1px #D8D8D8;
            }
        }
    }

    &__cover-wrapper {
        width: 100%;
        display: table;
    }

    &__cover-section {
        width: 100%;
        display: table-cell;
        width: 50%;

        &--right {
            text-align: right;
        }
    }

    &__heading {
        margin: 0;
    }

    &__heading-text {
        @include font-size(24px);
        color: $color-primary;

        &--secondary {
            @include font-size(16px);
        }
    }

    &__heading-mid-wrapper {
        font-weight: bold;
        @include font-size(20px);
        display: block;
        margin-top: 5px;
        color: $color-primary;
        margin: 10px 0;
    }

    &__heading-sub-wrapper {
        color: $color-primary;
        font-weight: normal;
        @include font-size(16px);
        display: block;
        margin-top: 5px;
    }

    &__address {
        padding-left: 25px;
        background-image: url('../images/icon-house.svg');
        background-repeat: no-repeat;
        background-position: 0 -2px;
        font-weight: 300;
    }


    &__address-link {
        @include font-size(13px);
        font-weight: 600;
    }

    &__form-row {
        padding: 0;
        margin: 20px 0;
    }

    &__heading-link {
        font-weight: 600;
    }

    &__cover-section {
        @include font-size(13px);
    }

    &__cover-heading {
        margin: 0 0 10px 0;
        font-weight: 300;
    }

    &__cover-text {
        margin: 0 0 10px 0;
        font-weight: bold;
    }

    &__section-wrapper {
        text-align: center;
    }

    &__person {
        display: inline-block;
        text-align: center;
        padding: 0 15px;

        @include breakpoint(820px) {
            padding: 0 15px 50px 15px;
        }
    }

    &__person-role {
        color: #858585;
        @include font-size(12px);
        font-weight: normal;
        margin-bottom: 5px;
    }

    &__person-name {
        color: $color-font;
        @include font-size(13px);
    }

    &__person-link {
        font-weight: bold;
        @include font-size(12px);
    }


    &__ncd-section {
        text-align: center;
        padding: 0 20px;
        display: block;
        margin-top: 30px;
        color: $color-primary;

        @include breakpoint(500px) {
            display: inline-block;
            vertical-align: middle;
            margin-top: 0;
        }

        @include breakpoint(820px) {
            display: table-cell;
        }
    }

    &__ncd-heading {
        @include font-size(13px);
        font-weight: 600;
        margin: 0;
    }

    &__ncd-years {
        @include font-size(28px);
        margin: 0;
    }

    &__ncd-link {
        font-weight: bold;
        @include font-size(13px);
    }
}

.review-details {
    &__text {
        @include font-size(20px);
    }
}

.vehicle-confirmation {

    &__section {
        padding: 30px 0;

        &--assumed-data {
            display: none;
        }
    }

    &__vehicle {
        margin-bottom: 15px;

        &--main {
            display: block;
            margin-bottom: 5px;
            color: $color-primary;
            @include font-size(26px);
        }

        &--sub {
            display: block;
            font-weight: 300;
            @include font-size(20px);
        }
    }

    &__details-list {
        padding: 0;
        list-style-type: none;
        width: 100%;
        max-width: 450px;

        &-item {
            $vehicle-confirmation-list-item: &;
            width: 200px;
            display: inline-block;
            color: $color-primary;
            font-weight: 300;
            @include font-size(20px);

            &--car {
                @extend #{$vehicle-confirmation-list-item};
                padding-left: 35px;
                background-repeat: no-repeat;
                background-position: left center;
                background-size: 25px 25px;
                background-image: url(../images/icon-car.svg);
            }

            &--van {
                @extend #{$vehicle-confirmation-list-item};
                padding-left: 35px;
                background-repeat: no-repeat;
                background-position: left center;
                background-size: 25px 25px;
                background-image: url(../images/icon-van.svg);
            }
        }
    }

    &__link-container {
        @include clearfix;
    }

    &__link {
        float: left;
        clear: both;
        margin: 10px 0;
    }

    &__feature-list {
        padding: 5px 0 5px 20px;
        margin: 0;
    }

    &__feature-list-item {
        padding: 5px 0;
    }


    &__link-container {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    &__link {
        float: left;
        clear: both;
        margin: 10px 0;
    }

    &__section {
        padding: 30px 0;
    }

    &__vehicle {
        margin-bottom: 15px;

        &--main {
            display: block;
            margin-bottom: 5px;
            color: $color-primary;
            @include font-size(26px);
        }

        &--sub {
            display: block;
            font-weight: 300;
            @include font-size(20px);
        }
    }

    &__feature-list {
        padding: 5px 0 5px 20px;
        margin: 0;
    }
}

.manual-reg {
    &__heading {
        color: $color-font--light;
        @include font-size(16px);
    }

    &__text {
        font-weight: 300;
        line-height: 1.6;
        color: $color-font--light;
        margin-bottom: 15px;
    }
}

.vehicle-modification {
    &__builder-header {
        font-weight: inherit;
        color: black;
    }
}

.form-row__input--monetary {
    background-image: url('../images/icon-currency-purple.svg');
    outline: none;
}

.form-row.error {
    
    .form-row__input--monetary {
        padding-left: 25px;
        background-image: url('../images/icon-currency-red.svg');
        background-repeat: no-repeat;
        background-position: 5px center;
        background-size: 23px 23px;
        font-weight: normal;
        color: $color-red;
        border: 2px solid $color-red;
        outline: none;
        @include font-size(21px);

        &:hover {
            border: 2px solid $color-red;
        }

        &:focus {
            border: 2px solid $color-red;
        }

        &:active {
            border: 2px solid $color-red;
        }
    }
}

.vehicle-builder-back-button {
    @include breakpoint(600px) {
        float: none;
        display: block;
    }

    @include breakpoint(700px) {
        float: left;
    }
}

// MA Vehicle Details
.vehicle-lookup__button-wrapper {

    .vehicle-lookup__button, .vehicle-lookup__other-button {
        font-weight: 300;
        width: auto;
        margin: 10px 5px;
        -webkit-transition: none;
        transition: none;
        border: solid 1px #DADADA;
        border-radius: 5px;
    }
}