﻿@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.CoverDetails.Models.AnnualMileageViewModel

@{
    var policyType = string.IsNullOrEmpty(Model.PolicyType) ? "car" : Model.PolicyType;
}

<h2 class="step-form__heading">What is the estimated annual mileage of the @policyType?</h2><button class="step-form__info" data-open-close-help-text aria-label="Toggle help text"></button>

@Html.RenderHelpText("Try to be as accurate as possible. The telematics data will keep a record of how many miles the car has travelled and if you go over this annual mileage, we may have to adjust the amount you pay for your policy.")