﻿@using System.Web.Mvc.Html
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.ComponentCoverDetailsConfiguration

@{
    var componentId = Model?.Id;
}

<div class="fbels">
    <div class="fbels__section" data-testid="@(componentId)__cover-level-section-what-it-covers-car-comprehensive">
        <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
        <ul class="list list--fbels list--fbels-cover">
            <li class="list__item">
                Cover for loss or damage to your car caused by accidental or malicious damage, fire, theft or attempted theft, or vandalism
            </li>
            <li class="list__item">
                Damage to glass
            </li>
            <li class="list__item">
                Driving abroad - up to 90 days cover at the same level as your UK car insurance policy
            </li>
            <li class="list__item">
                Up to &pound;150 cover per seat towards the cost of replacement child seats following an accident
            </li>
            <li class="list__item">
                If your vehicle is involved in an accident caused by an uninsured motorist, any excess you have paid will be refunded
            </li>
        </ul>
    </div>
    <div class="fbels__section" data-testid="@(componentId)__cover-level-section-things-to-remember-car-comprehensive">
        <h2 class="h4 fbels__heading fbels__heading--remember">Things to remember</h2>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item">
                Loss or damage resulting from incorrectly maintaining or fuelling the car is not covered
            </li>
            <li class="list__item">
                There is no cover for theft if the keys are left in or on the car while it is left unattended
            </li>
            <li class="list__item">
                Driving other cars cover only applies if shown on your certificate of motor insurance
            </li>
            <li class="list__item">
                You must provide the vehicle registration, make and model and driver details of the third party when claiming against an uninsured driver
            </li>
        </ul>
    </div>
</div>

@if (Model?.NeedToDisplayIpidLink == true)
{
    @Html.Partial("_IPIDLink", "core-policy")
}
