﻿@using System.Web.Mvc.Html
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.ComponentCoverDetailsConfiguration

@{
    var componentId = Model?.Id;
}

<div class="fbels">
    <div class="fbels__section" data-testid="@(componentId)__cover-level-section-what-it-covers-car-comprehensive">
        <h2 class="h4 fbels__heading fbels__heading--cover">What it covers</h2>
        <ul class="list list--fbels list--fbels-cover">
            <li class="list__item">
                Cover for loss or damage to your car caused by accidental or malicious damage, fire, theft or attempted theft, or vandalism
            </li>
            <li class="list__item">
                If your glass is damaged, you&apos;re covered for repair or replacement subject to terms and conditions which can be found in your policy documents
            </li>
            <li class="list__item">
                Driving abroad - up to 60 days cover at the same level as your UK car insurance policy
            </li>
        </ul>
    </div>
    <div class="fbels__section" data-testid="@(componentId)__cover-level-section-things-to-remember-car-comprehensive">
        <h2 class="h4 fbels__heading fbels__heading--remember">Things to remember</h2>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item">
                You&apos;re not covered for loss or damage resulting from incorrectly maintaining or fuelling the car
            </li>
            <li class="list__item">
                You&apos;re not covered for theft if the keys are left in or on the car while it is left unattended
            </li>
            <li class="list__item">
                You&apos;re only covered to drive other cars if it&apos;s shown on your certificate of motor insurance
            </li>
        </ul>
    </div>
</div>
@if (Model?.NeedToDisplayIpidLink == true)
{
    @Html.Partial("_IPIDLink", "core-policy")
}