﻿@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.CoverLevel.CoverLevelViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration?.Id;
    var isTheOnlyCoverLevel = Model.CoverLevels.Count == 1;
    var chooseText = isTheOnlyCoverLevel && !configuration.IsService ? string.Empty : "You have chosen ";
}

<div class="feature-header">
    @if (configuration?.JourneyType == JourneyTypes.MultiStepEdit && !isTheOnlyCoverLevel)
    {
        <h1 class="h2 feature-header__heading">
            <strong class="feature-header__heading-highlight-text"> What type of cover do you need?</strong>
        </h1>
    }
    else
    {
        <h1 class="h2 feature-header__heading">
            <strong class="feature-header__heading-highlight-text">@chooseText<span id="feature-header-cover-level" data-testid="@(componentId)__feature-header-cover-level">@Model.SelectedCoverLevel.Value</span></strong>
        </h1>
        <div class="feature-header__divider"></div>
    }

    <h2 class="hide">Cover Level details</h2>
</div>