﻿@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.CoverDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var resourceBasePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;

    var editImageUrl = resourceBasePath + "icon-edit.svg";
    var viewImageUrl = resourceBasePath + "icon-eye.svg";
}

@foreach (var item in Model.CoverDetailsItems)
{
    var coverDescriptionForId = !string.IsNullOrEmpty(item.Description) ?
        item.Description.Replace(" ", string.Empty) : item.CoverKey;

    <tr class="table-row" data-testid="@(componentId)__table-row">
        <th class="table-cell table-cell--label">
            <p data-testid="@(componentId)__description">
                @item.Description
            </p>
        </th>
        <td class="table-cell table-cell--data">
            <p data-testid="@(componentId)__value">
                @Html.Raw(item.Value)
            </p>
        </td>
        <td class="table-cell table-cell--edit">
            @if (item.ViewType != CoverDetailsViewType.None)
            {
                <button class="form-row__edit-button"
                        type="button"
                        id="@(componentId)_@(coverDescriptionForId)_@(item.CoverId)_button"
                        data-testid="@(componentId)__icon_@(item.CoverKey)"
                        data-toggle="slide-panel"
                        data-cover-id="@item.CoverId"
                        data-cover-key="@item.CoverKey"
                        data-cover-text="@item.CoverText"
                        data-target="#SlidePanel"
                        data-container="SlidePanelContent"
                        data-action-url="@Url.Action(item.CoverAction, item.CoverController)">
                    <img class="form-row__edit-image"
                         src="@(item.ViewType == CoverDetailsViewType.Edit ? editImageUrl : viewImageUrl)"
                         alt="@($"{(item.ViewType == CoverDetailsViewType.Edit ? "Edit" : "View")} {item.Description}")" />
                </button>
            }
        </td>
    </tr>
}