﻿@using System.Web.Mvc.Html
@model BGL.Components.CoverDetails.Models.CoverExcessViewModel

@{
    var accordionsViewModel = Model.ExcessAccordionsViewModel;
    var componentId = Model.ComponentConfiguration.Id;
    var isComprehensiveCover = Model.VoluntaryExcess.Editable;
}

<div class='accordion'>
@if (accordionsViewModel.IsDetailsOfAllExcessesVisible && isComprehensiveCover)
{
    <div class="accordion__section" data-testid="@(componentId)__details-of-all-excesses-accordion">
        <h2 class="h5 accordion__heading-wrapper">
            <button class="accordion__heading-button" type="button" data-accordion-key="@(componentId)-cover-details-all-excesses-accordion" aria-expanded="false" data-testid="@(componentId)__details-of-all-excesses-button">
                Details of all excesses
            </button>
        </h2>

        <div class="accordion__body-wrapper" data-testid="@(componentId)__details-of-all-excesses-body">
            <div class="accordion__body-content">
                @if (!string.IsNullOrEmpty(Model.ExcessAccordionsViewModel.WindowGlassExcessAmount))
                {
                    <h3 class="h6 accordion__body-heading">
                        Window glass
                    </h3>
                    if (!Model.HasGlassRepairExcess)
                    {
                        <p class="accordion__body-text">
                        For window glass only a &pound;<span data-testid="@(componentId)__windows-glass-amount">@accordionsViewModel.WindowGlassExcessAmount</span> excess will be payable.
                        </p>
                        <p class="accordion__body-text" data-testid="@(componentId)__windows-glass-wording">
                            For a replacement windscreen/window you will have to pay the first &pound;<span data-testid="@(componentId)__windows-glass-amount">@accordionsViewModel.WindowGlassExcessAmount</span> of any claim, shown in your Details of Cover as window replacement glass excess. Where the glass is repaired and not replaced no excess applies.
                        </p>
                    }
                    else
                    {
                        <p class="accordion__body-text" data-testid="@(componentId)__windows-glass-wording">
                            For a replacement windscreen/window you will have to pay the first &pound;<span data-testid="@(componentId)__windows-glass-amount">@accordionsViewModel.WindowGlassExcessAmount</span> of any claim, shown in your Details of Cover as window replacement glass excess. If your windscreen or window is repaired, an excess of &pound;<span data-testid="@(componentId)__windows-glass-amount">@accordionsViewModel.WindowGlassRepairExcessAmount</span> is payable.
                        </p>
                    }
                    if (Model.HasNonRecommendedRepairerExcess)
                    {
                        <h3 class="h6 accordion__body-heading">
                            Non-recommended repairer
                        </h3>
                        <p class="accordion__body-text">
                            If you choose to use a non-recommended repairer, an additional excess of &pound;<span data-testid="@(componentId)__windows-glass-amount">@accordionsViewModel.WindowGlassNonRecommendedRepairerExcessAmount</span> is payable.
                        </p>
                    }
                }
            </div>
        </div>
    </div>
}

@Html.Partial(accordionsViewModel.AdditionalExcessViewName, Model)
</div>
