﻿<p class="ncd-source__text">
    You may need to provide no claims discount proof within 12 (this changed recently to 12 days from 14) of your policy start date. You can easily upload or send it to us later.
</p>

<h2 class="h3 ncd-source__section-heading">
    What is acceptable no claims discount proof?
</h2>

<p class="ncd-source__text">
    Your renewal offer from your last UK insurer or broker will show your proof of No Claims Discount. This may also be shown as No Claims Bonus (NCB).
</p>

<p class="ncd-source__text">
    Your proof of No Claims Discount must meet the following criteria:
</p>

<ul class="list">
    <li class="list__item">
        Be less than 2 years old
    </li>
    <li class="list__item">
        Show the No Claims Discount in years or percentage
    </li>
    <li class="list__item">
        Show the date the policy ended or was due to be renewed
    </li>
    <li class="list__item">
        Include the registration number of the vehicle
    </li>
    <li class="list__item">
        Must not be in use on another vehicle
    </li>
    <li class="list__item">
        The proof must be in English 
    </li>
</ul>

<p class="ncd-source__text">
    Proof from a company car is also acceptable. We will need a letter from the Insurer/Broker/Lease Company or Employer stating: you, the driver, had sole use of the company car including personal use; that you no longer drive the vehicle; the dates that you have driven to and from; details of any claims or confirmation that no claims have been made; proof should be on company headed paper in a non editable format; If the business is a family run business, the NCD proof must come from the insurer.
</p>
