﻿@using BGL.Common.Utility.Mvc.Helpers

<div class="feature-header">
    <h1 class="feature-header__heading">
        <span class="feature-header__heading-standard-text block">
            You have
        </span>
        <strong class="feature-header__heading-highlight-text"><span class="ncd-edit__value">@Model</span> No Claims Discount</strong>
        <button class="step-form__info" data-open-close-help-text aria-label="Toggle help text"></button>
    </h1>
    @Html.RenderHelpText("Every year you hold a policy in your own name without making a claim, you earn a No Claims Discount (NCD), which may reduce your premium. Remember, your NCD must have been used on a policy in the past two years and earned in the UK. Your NCD can only be used on one policy at any one time.")
    <div class="feature-header__divider"></div>
</div>