﻿@using System.Web.Mvc.Html
@model BGL.Components.CoverDetails.ComponentCoverDetailsConfiguration


<div class="fbels">
    <div class="fbels__section">
        <h4 class="fbels__heading fbels__heading--cover">Key benefits</h4>
        <ul class="list list--fbels list--fbels-cover">
            <li class="list__item">
                Cover for loss or damage to your vehicle caused by accidental or malicious damage, fire, theft or attempted theft, or vandalism
            </li>
            <li class="list__item">
                Damage to glass
            </li>
            <li class="list__item">
                If your vehicle is involved in an accident caused by an uninsured motorist, any excess you have to pay will be refunded
            </li>
            <li class="list__item">
                Cover for replacement locks if your keys are lost or stolen
            </li>
        </ul>
    </div>
    <div class="fbels__section">
        <h4 class="fbels__heading fbels__heading--remember">Things to remember</h4>
        <ul class="list list--fbels list--fbels-remember">
            <li class="list__item">
                Loss or damage resulting from incorrectly maintaining or fueling the vehicle is not covered
            </li>
            <li class="list__item">
                There is no cover for theft if the keys are left in or on the vehicle while it is left unattended
            </li>
            <li class="list__item">
                Loss or damage whilst the vehicle is left unattended without being properly locked is not covered
            </li>
            <li class="list__item">
                There is no cover to driver another person's vehicle under this policy
            </li>
        </ul>
    </div>
</div>

@if (Model?.NeedToDisplayIpidLink == true)
{
    @Html.Partial("_IPIDLink", "core-policy")
}

