﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.RegisterKeeper.AboutYouViewModel

@{
    const string scriptPrefix = "bgl.components.coverdetails.aboutyou";
    var componentId = Model.ComponentConfiguration.Id;
    var backButtonClass = "back-button-link";
    var backButtonUrl = Url.Action("RelationshipStatus", "CoverDetailsComponentRegisteredKeeper");
    var onSuccessHandler = $"{scriptPrefix}.onSuccess";

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        backButtonClass = string.Empty;
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
        onSuccessHandler = $"{scriptPrefix}.onMultiStepEditSuccess";
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">
    @using (Html.BeginFormBgl("AboutYouConfirm", "CoverDetailsComponentRegisteredKeeper", FormMethod.Post,
        new
        {
            id = "about-you-form",
            @class = "step-form",
            data_testid = componentId + "__form",
            data_on_success = onSuccessHandler,
            data_on_error = $"{scriptPrefix}.onError",
            data_store_key = Model.DataStoreKey
        }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.DataStoreKey)
        @Html.HiddenFor(m => m.JourneyType)

        <h1 class="step-form__section-title">Registered keeper</h1>
        <h2 class="step-form__heading" id="heading">Tell us about your {FirstName}</h2>

        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend">Title</legend>

                @foreach (var title in Model.Titles)
                {
                    @Html.RadioButtonFor(x => x.Title, title.Key, new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "Your-Title-" + title.Key, data_store = $"{nameof(Model.Title)}" })
                    @Html.LabelFor(x => x.Title, title.Value, new { @class = "form-row__label form-row__label--pill", @for = "Your-Title-" + title.Key, data_testid = $"{componentId}__titles" })
                }

                @Html.ValidationMessageFor(x => x.Title, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__title_error" })
            </fieldset>
            <div class="form-row__divider"></div>
        </div>

        <div class="form-row">
            @Html.LabelFor(x => x.FirstName, new { @class = "form-row__label" })
            @Html.TextBoxForBgl(x => x.FirstName, Model.FirstName, new { @class = "form-row__input", data_testid = $"{componentId}__firstName", data_store = $"{nameof(Model.FirstName)}" })
            @Html.ValidationMessageFor(x => x.FirstName, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__firstName_error" })
            <div class="form-row__divider"></div>
        </div>

        <div class="form-row">
            @Html.LabelFor(x => x.LastName, new { @class = "form-row__label" })
            @Html.TextBoxForBgl(x => x.LastName, Model.LastName, new { @class = "form-row__input", data_testid = $"{componentId}__lastName", data_store = $"{nameof(Model.LastName)}" })
            @Html.ValidationMessageFor(x => x.LastName, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__lastName_error" })
            <div class="form-row__divider"></div>
        </div>

        <div class="form-row">
            @Html.LabelFor(x => x.DateOfBirth, new { @class = "form-row__label" })
            @Html.TextBoxForBgl(x => x.DateOfBirth, new { @class = "form-row__input", data_testid = $"{componentId}__dateOfBirth", placeholder = "dd/mm/yyyy", data_store = $"{nameof(Model.DateOfBirth)}" })
            @Html.ValidationMessageFor(x => x.DateOfBirth, string.Empty, new { @class = "form-row__validation-text", id = "DateOfBirth-error", data_testid = $"{componentId}__dateOfBirth_error" })
            <div class="form-row__divider form-row__divider-last"></div>
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right" data-testid="@(componentId)__done-button" value="Continue" formnovalidate>Continue</button>
                <a href="@backButtonUrl" class="button button--text button--large button--left button--back @backButtonClass" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
            </div>
        </div>
    }
</div>
