﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.AnnualMileageViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}__annual-mileage-form";

    string submitAction = "UpdateAnnualMileage";
    string submitController = "CoverDetailsComponent";
    var successCallback = "bgl.components.annualmileage.onSuccess";
    var errorCallBack = "bgl.components.annualmileage.onError";
    var annualMileageKeyName = string.Empty;
    var headerTextViewName = Model.ComponentConfiguration?.ViewOptions?.AnnualMileageHeaderText.GetViewNameFromEnum(true);

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitController = "CoverDetailsComponentAnnualMileage";
        submitAction = "UpdateAnnualMileage";
        successCallback = "bgl.components.coverdetails.annualmileage.onSuccess";
        errorCallBack = "bgl.components.coverdetails.annualmileage.onError";
        annualMileageKeyName = "AnnualMileage";
    }
}

    <div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__annual-mileage-view">

        @if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_ProgressBar");
        }

        @using (Html.BeginFormBgl(submitAction, submitController, FormMethod.Post, new
        {
            id = formId,
            @class = "step-form",
            data_testid = componentId + "__form",
            data_on_success = successCallback,
            data_on_error = errorCallBack,
            data_store_key = Model.DataStoreKey
        }))
        {
            @Html.AntiForgeryToken()
            <h1 class="step-form__section-title">Your cover</h1>

            @Html.Partial(headerTextViewName)

            <div class="form-row">
                @Html.Label(componentId + "__annual-mileage", "Enter mileage", new { @class = "form-row__label" })
                <div class="form-row__overlay-wrapper middle annual-mileage">
                    @Html.TextBoxForBgl(m => m.AnnualMileage, new { type = "number", min = "200", max = "99999", tabindex = "0", id = componentId + "__annual-mileage", @class = "form-row__input", data_testid = componentId + "__annual-mileage_input", data_store = annualMileageKeyName, placeholder = "Miles per year" })
                    @Html.ValidationMessageFor(m => m.AnnualMileage, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__annual-mileage_validation-message" })
                </div>
            </div>
            <p id="@(componentId)__annual-mileage-label" class="form-row__label" data_testid="@(componentId)__annual-mileage_label"></p>

            <div class="page-section--inner">
                <div class="button-container">
                    @if (Model.JourneyType == JourneyTypes.MultiStepEdit)
                    {
                        <button href="@Model.ComponentConfiguration.NextStepUrl"
                                class="button button--primary button--large button--right" 
                                id="ContinueButton"
                                data-testid="@(componentId)__continue-button">Continue</button>


                        <a class="button button--text button--back back-button-link button--large button--left"
                           id="MileageBack"
                           href="@Model.ComponentConfiguration.PreviousStepUrl">Back</a>
                    }
                    else
                    {
                        <button type="submit" formnovalidate name="submitButton" tabindex="0" title="Submit button"
                                class="button button--primary button--large button--right"
                                data-testid="@(componentId)__confirm_button" data-disable-submit value="Done">Done</button>

                        if (Model.ComponentConfiguration.IsService && !Model.ComponentConfiguration.IsInitialChange)
                        {
                            <button class="button button--text button--back button--large button--left back-button-link" data-testid="@(componentId)__back-button" data-dismiss="slide-panel" aria-label="Back">Back</button>
                        }
                    }
                </div>
            </div>

                @Html.HiddenFor(m => m.CoverId)
                }

                @Html.HiddenFor(m => m.LabelTemplate, new { id = "labelTemplate" })
            </div>