﻿@using BGL.Common.Utility.Extensions
@using BGL.Components.CoverDetails.Extensions
@model BGL.Components.CoverDetails.Models.Breakdown.BreakdownHeaderItem
@{
    var price = Model.IsPaymentAnnual ? Model.AnnualPrice : Model.MonthlyPrice;
}
<th class="breakdown-table__header-item @(Model.IsSelected ? "active" : string.Empty)" data-tier="@Model.DataTier" data-cover-level-code="@Model.Code" data-testid="breakdown-column-@Model.DataTier">
    <h2 class="h3 breakdown-table__cover-title">
        @GetBreakdownTitle(Model.Title)
    </h2>
    <p class="breakdown-table__main-price">
        <span class="breakdown-table__main-price-wrapper">
            <strong class="breakdown-table__main-pounds">&pound;@price.Pounds().FormatPrice()</strong>
            <span class="breakdown-table__main-pence">.@price.Pence()</span>
        </span>

        <span class="breakdown-table__main-price-text">/@Model.Text</span>
    </p>

    @if (!Model.IsPaymentAnnual)
    {
        <p class="breakdown-table__sub-price">Annual cost &pound;@Model.AnnualPrice.Pounds().FormatPrice().@Model.AnnualPrice.Pence()</p>
    }

    <div class="breakdown-table__button-wrapper">
        <button type="button" class="button button--primary breakdown-table__button @(Model.IsSelected ? "active" : string.Empty)" data-testid="cover_level_button" data-tier="@Model.DataTier"  data-focusid="breakdown-column-@Model.DataTier" data-cover-level-code="@Model.Code">@(Model.IsSelected ? "Selected" : "Select")</button>
    </div>
</th>

@helper GetBreakdownTitle(string title)
{
    var patternWithComma = "Roadside,";
    var patternWithoutComma = "Roadside";

    string mainTitle = title;
    string subTitle = string.Empty;

    if (title.LastIndexOf(patternWithComma) > -1)
    {
        mainTitle = title.Substring(0, title.LastIndexOf(patternWithComma) + patternWithComma.Length).Trim();
        subTitle = title.Remove(0, mainTitle.Length).Trim();
    }
    else if (title.LastIndexOf(patternWithoutComma) > -1)
    {
        mainTitle = title.Substring(0, title.LastIndexOf(patternWithoutComma) + patternWithoutComma.Length).Trim();
        subTitle = title.Remove(0, mainTitle.Length).Trim();
    }

    <strong class="breakdown-table__title-main">@mainTitle</strong>
    if (!string.IsNullOrWhiteSpace(subTitle))
    {
        <span class="breakdown-table__title-sub">@subTitle</span>
    }
}