﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.ViewOptions
@model BGL.Components.CoverDetails.Models.Breakdown.BreakdownViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration.Id;
    var basePath = configuration.TenantConfiguration.ResourceBasePath;
    var formId = $"{componentId}__form";
}

<div id="@componentId" data-component-id="@componentId">
    <div class="page-section--inner">
        @if (!Model.IsAnnualPayment && Model.MonthlyPricePosition == MonthlyPricePosition.Top)
        {
            <div class="feature-header__price">
                <p class="feature-header__interest" data-testid="@(componentId)__month-caveat">*Monthly price excludes interest</p>
            </div>
        }

        @using (Html.BeginFormBgl("UpdateBreakdown", "CoverDetailsComponentGenericAddon", FormMethod.Post, new
        {
            id = formId,
            @class = "step-form addon-form--margin",
            data_on_success = "bgl.components.coverdetails.breakdownassistancedetailview.onSuccess",
            data_on_error = "bgl.components.coverdetails.breakdownassistancedetailview.onError"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Code")
            @Html.HiddenFor(model => model.CoverId)
            @Html.HiddenFor(x => x.PreviousStepUrl, new { id = "previous-stepUrl" })
            @Html.HiddenFor(x => x.PreviousAddon, new { id = "previous-addon" })
            @Html.HiddenFor(x => x.NextAddonUrl, new { id = "next-addon" })
            @Html.HiddenFor(x => x.MandatoryCover, new { id = "mandatory-cover" })
            @Html.HiddenFor(x => x.ShowMeetsYourNeedsHoustonNotification)

            <table class="breakdown-table" cellspasing="0" id="breakdown-table">
                <thead class="breakdown-table__header">
                    <tr class="breakdown-table__row">
                        <th class="breakdown-table__header-item breakdown-table__header-item--image"><span class="visually-hidden">RAC</span></th>
                        @foreach (var headerItem in Model.HeaderItems)
                        {
                            @Html.Partial("BreakdownHeaderItem", headerItem)
                        }
                    </tr>
                </thead>

                <tbody class="breakdown-table__body">

                    @foreach (var row in Model.Rows)
                    {
                        <tr class="breakdown-table__row">
                            <th class="breakdown-table__body-item breakdown-table__body-item--first">
                                <p class="breakdown-table__feature" data-testid="breakdown-feature-title">
                                    @row.Title
                                </p>
                            </th>

                            @foreach (var rowItem in row.RowItems)
                            {
                                <td class="breakdown-table__body-item @(rowItem.IsSelected ? "active" : string.Empty)" data-tier="@rowItem.DataTier" data-cover-level-code="@rowItem.Code" data-testid="breakdown-column-@rowItem.DataTier">
                                    @if (rowItem.IsIncluded)
                                    {
                                        <img class="breakdown-table__tick" alt="@row.Title is included" src="@(basePath)icon-tick.svg" data-testid="breakdown-tick-column-@rowItem.DataTier" />
                                    }
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>

            if (!Model.IsAnnualPayment && Model.MonthlyPricePosition == MonthlyPricePosition.Bottom)
            {
                <div class="feature-header__price">
                    <p class="feature-header__interest" data-testid="@(componentId)__month-caveat">*Monthly price excludes interest</p>
                </div>
            }

            <p class="legal-text">
                For full details of benefits, exclusions, limitations and cover, please refer to the policy document.
            </p>
        }
    </div>
    <div class="page-section">
        <div class="page-section--inner">
            @Html.Action(configuration.BreakdownContent.CoverAction, configuration.BreakdownContent.CoverController)
        </div>
    </div>
    <div class="page-section">
        <div class="page-section--inner">
            <div class="button-container">
                <button id="next-extras-button"
                        class="button button--primary button--large button--right"
                        type="button"
                        data-testid="next-extras-button">
                    <strong>Next: </strong><span id="next-button-span">Optional extra</span>
                </button>
                <a id="Back-Button" class="button button--text button--large button--back button--left"
                   tabindex="0"
                   data-testid="extras-back-button"
                   data-action-url
                   data-cover-details-addon-back-button>
                    Back
                </a>
            </div>
        </div>
    </div>
</div>