﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.CarriageOfDangerousGoodsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;

    string submitAction = "VehicleUsageConfirm";
    string submitController = "CoverDetailsComponent";
    var successCallback = "bgl.components.vehicleusage.onSuccess";
    var errorCallBack = "bgl.components.vehicleusage.onError";
    var backButtonUrl = Url.Action("VehicleUsage", "CoverDetailsComponent");
    var yearsEstablishedComponentActionUrl = Url.Action("YearsBusinessEstablished", "CoverDetailsComponentYearsBusinessEstablished");
    var submitButtonText = "Done";
    var hiddenClass = "";

    if (Model.ComponentConfiguration.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitAction = "VehicleUsageConfirm";
        submitController = "CoverDetailsComponentVehicleUse";
        successCallback = "bgl.components.coverdetails.carriageofdangerousgoods.onSuccess";
        errorCallBack = "bgl.components.coverdetails.carriageofdangerousgoods.onError";
        yearsEstablishedComponentActionUrl = Model.ComponentConfiguration.YearsBusinessEstablishedUrl;
        backButtonUrl = Model.ComponentConfiguration.BackButtonUrl;
        submitButtonText = "Continue";
        hiddenClass = "hide";
    }
}

<div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__carriage-of-dangerous-goods-view">
    @if (Model.ComponentConfiguration.IsService)
    {
        @Html.Partial("_ProgressBar");
    }
    @using (Html.BeginFormBgl(submitAction, submitController, FormMethod.Post, new
    {
        id = "carriage-of-dangerous-goods-form",
        @class = "step-form",
        data_testid = componentId + "__form",
        data_on_success = successCallback,
        data_on_error = errorCallBack,
        data_store_key = "CoverDetailsVehicleUse"
    }))
    {
        @Html.AntiForgeryToken()

        <h1 class="step-form__section-title">Your cover</h1>

        <h2 class="step-form__heading">Do you ever use your van to carry dangerous goods?</h2>

        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Carriage of dangerous goods</legend>
                @Html.RadioButtonFor(m => m.CarriageOfDangerousGoods, true, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "carriage-of-dangerous-goods-yes", data_store = nameof(Model.CarriageOfDangerousGoods) })
                @Html.LabelFor(m => m.CarriageOfDangerousGoods, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "carriage-of-dangerous-goods-yes", data_testid = componentId + "__carriage-of-dangerous-goods-option-yes", @role = "button", tabindex = "0" })
                @Html.RadioButtonFor(m => m.CarriageOfDangerousGoods, false, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "carriage-of-dangerous-goods-no", data_store = nameof(Model.CarriageOfDangerousGoods) })
                @Html.LabelFor(m => m.CarriageOfDangerousGoods, "No", new { @class = "form-row__label form-row__label--pill", @for = "carriage-of-dangerous-goods-no", data_testid = componentId + "__carriage-of-dangerous-goods-option-no", @role = "button", tabindex = "0" })
            </fieldset>
            @Html.ValidationMessageFor(m => m.CarriageOfDangerousGoods, "", new { @class = "form-row__validation-text", data_testid = componentId + "__radio-button-error" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button id="continueButton" type="submit" class="button button--primary button--large button--right @(hiddenClass)" data-testid="@(componentId)__done-button" value="@submitButtonText" formnovalidate>@submitButtonText</button>
                <span>
                    @if (Model.ComponentConfiguration.IsService && !Model.ComponentConfiguration.IsInitialChange)
                    {
                        <button class="button button--text button--back back-button-link button--large button--left" data-testid="@(componentId)__back-button" data-dismiss="slide-panel" aria-label="Back">Back</button>
                    }
                    else
                    {
                        <a id="carriageOfDangerousGoodsBackBtn"
                           href="@backButtonUrl"
                           data-step-type="previous-step-journey"
                           data-component="coverdetailsyearsbusinessestablished"
                           class="button button--text button--back back-button-link button--large button--left"
                           tabindex="0"
                           data-testid="@(componentId)__back-button"
                           data-years-business-established-action-url="@yearsEstablishedComponentActionUrl">Back</a>
                    }
                </span>
            </div>
        </div>

        @Html.HiddenFor(m => m.CoverId)
    }
</div>
