@model BGL.Components.CoverDetails.Models.CoverListViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var cover = Model.Covers.FirstOrDefault();
    var coverText = cover?.Key.ToUpperInvariant() == "NCD" ? "NCD" : "cover";
    var buttonText = "Change " + coverText;
    var imageUrl = Model.ComponentConfiguration.WidgetImageUrl;
}

<li id="@componentId" class="list-item policy-detail">
    <img class="policy-detail__image" src="@imageUrl" alt="">
    <span class="policy-detail__heading" data-testid="@(componentId)__@(cover.Key)_heading">@cover.Text</span>

    <button id="@(componentId)_@(cover.Key)_link"
            data-testid="@(componentId)__@(cover.Key)_link"
            class="button button--secondary button--xs"
            data-toggle="slide-panel"
            data-cover-id="@cover.CoverId"
            data-cover-key="@cover.Key"
            data-cover-text="@cover.Text"
            data-target="#SlidePanel"
            data-container="SlidePanelContent"
            data-action-url="@Url.Action(cover.Action, cover.Controller)">
        @buttonText
    </button>
</li>
