@model BGL.Components.CoverDetails.Models.CoverListViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration.Id;
    var coverFeaturePriority = configuration.CoverFeaturePriority;
}

<ul id="@componentId" class="list--plain policy-inclusion__container">
    @foreach (var cover in Model.Covers)
    {
        <li>
        <button id="@(componentId)_@(cover.Key)_link"
                data-testid="@(componentId)__@(cover.Key)_link"
                class="cover-features-list__link panel-link"
                data-toggle="slide-panel"
                data-cover-id="@cover.CoverId"
                data-cover-key="@cover.Key"
                data-cover-text="@cover.Text"
                data-target="#SlidePanel"
                data-container="SlidePanelContent"
                data-content-url="@(coverFeaturePriority.ContainsKey(cover.Key) ? coverFeaturePriority[cover.Key]?.ContentUrl : string.Empty)"
                data-action-url="@Url.Action(cover.Action, cover.Controller)">
            <div class="policy-inclusion panel-link">
                <div class="policy-inclusion__image-wrapper--premium">
                    <img class="policy-inclusion__image" src="@(configuration.TenantConfiguration.ResourceBasePath)icon-@(cover.IconImage)--white.svg" alt="">
                </div>
                <span class="h4 policy-inclusion__heading">@cover.Text</span>
            </div>
        </button>
        </li>
    }
</ul>