﻿@using System.Web.Mvc.Html
@model BGL.Components.CoverDetails.Models.CoverLevel.CoverLevelViewModel

@{
    var viewName = Model.SelectedCoverLevel.ViewName;
    var configuration = Model.ComponentConfiguration;
    var headerName = Model.SelectedCoverLevel.CoverLevelHeader;
    var dataTestId = viewName.Replace("_", string.Empty);
    var isDisplayHeader = !Model.ComponentConfiguration.IsWidget;
}

@if (Model.IsContentDisplayed)
{
    if (isDisplayHeader)
    {
        <h2 class="h3 page-section__heading" data-testid="@dataTestId">@headerName</h2>
    }
    <div class="fbels--columns">
        @Html.Partial(viewName, configuration)
    </div>
}
