﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@model BGL.Components.CoverDetails.Models.DemandAndNeeds.ExtrasViewModel

@{
    var annualPrice = Model.AddonViewModel.AnnualPrice.FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
    var monthlyPrice = Model.AddonViewModel.MonthlyPrice.FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
    var isDoNotSelectAnyExtrasWordingOnTop = Model.ComponentConfiguration.IsDoNotSelectAnyExtrasWordingOnTop;
    var doNotSelectAnyExtrasWordingBottom = isDoNotSelectAnyExtrasWordingOnTop ? string.Empty : " Please don't select any extras if you have cover elsewhere or if this policy already covers your needs.";
}

@if (isDoNotSelectAnyExtrasWordingOnTop)
{
    <div class="page-section--inner">
        <p class="feature-header__text feature-header__text--addon">
            Please don’t select any extras if you have cover elsewhere or if this policy already covers your needs.
        </p>
    </div>
}

<div data-testid="generic-addon-navigation">
    <div class="page-section--inner">
        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Do you want this optional extra to be added?</legend>
                <input class="hide form-row__input form-row__input--radio form-row__input--hidden" type="radio" name="extras-addon" id="extras-addon-yes" value=@Model.AddonDetailUrl>
                <label class="form-row__label form-row__label--pill addon-radio__radio-question" for="extras-addon-yes" id="extras-addon-yes-label" role="button" tabindex="0">Yes</label>
                <input class="hide form-row__input form-row__input--radio form-row__input--hidden" type="radio" name="extras-addon" id="extras-addon-no" value=@Model.NextAddon>
                <label class="form-row__label form-row__label--pill addon-radio__radio-question" for="extras-addon-no" id="extras-addon-no-label" role="button" tabindex="0">No</label>
                <input class="hide form-row__input form-row__input--radio form-row__input--hidden" type="radio" name="extras-addon" id="extras-addon-maybe" value=@Model.AddonDetailUrl>
                <label class="form-row__label form-row__label--pill addon-radio__radio-question" for="extras-addon-maybe" id="extras-addon-maybe-label" role="button" tabindex="0">Maybe</label>
                @Html.HiddenFor(x => x.IsPreselected, new { id = "addon-preselected" })
                @Html.HiddenFor(x => x.NextAddon, new { id = "next-addon" })
                @Html.HiddenFor(x => x.PreviousAddon, new { id = "previous-addon" })
                @Html.HiddenFor(x => x.PreviousStepUrl, new { id = "previous-stepUrl" })
            </fieldset>
        </div>
        @if (Model.IsAnnualPayment)
        {
            <p class="feature-header__text feature-header__text--addon">
                Prices from &pound;@annualPrice/year.@doNotSelectAnyExtrasWordingBottom
            </p>
        }
        else
        {
            <p class="feature-header__text feature-header__text--addon">
                Prices from &pound;@monthlyPrice/month(&pound;@annualPrice/year).@doNotSelectAnyExtrasWordingBottom
            </p>
        }
        <div class="form-row__divider"></div>
    </div>
</div>
<div class="page-section">
    <div class="page-section--inner">
        <div class="button-container">
            <button id="continue-button"
                    class="button button--primary button--large button--right hide"
                    type="button"
                    data-testid="continue-demand-button">
                Continue
            </button>
            <a id="back-button" class="button button--text button--large button--back button--left"
               tabindex="0"
               data-testid="back-demand-button"
               data-action-url
               data-cover-details-addon-back-button>
                Back
            </a>
        </div>
    </div>
</div>