﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Extensions
@model BGL.Components.CoverDetails.Models.DemandAndNeeds.AddonDetailViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration.Id;
    var selectList = Model.GetGuaranteedReplacementCarSelectList();
}

@using (Html.BeginFormBgl("UpdateGenericAddon", "CoverDetailsComponentGenericAddon", FormMethod.Post, new
{
    id = "guaranteed-replacement-car-form",
    data_on_success = "bgl.components.coverdetails.guaranteedreplacementcardetailview.onSuccess",
    data_on_error = "bgl.components.coverdetails.guaranteedreplacementcardetailview.onError"
}))
{
    @Html.AntiForgeryToken()

    <div class="page-section">
        <div class="page-section--inner">
            @if (Model.IsSingleTier)
            {
                @Html.Partial("AddonPaymentDetails.Top", Model.AddonPaymentDetails);
                @Html.HiddenFor(x => x.SelectedCoverLevelCode)
            }
            else
            {
                @Html.Partial("GuaranteedReplacementCarPaymentsMultiTiers", Model);
            }
        </div>
    </div>
    <div class="page-section">
        <div class="page-section--inner">
            @Html.Action(configuration.GrcContentInformation.CoverAction, configuration.GrcContentInformation.CoverController)
        </div>
    </div>

    <div class="page-section__addon-questions" id="addon-questions">
        @Html.Hidden("grc-coverlevels-count", Model.AddonPaymentDetails.CoverLevels.Count, new { id = "grc-coverlevels-count" })
        @Html.Hidden("CoverId", Model.AddonPaymentDetails.CoverId)
        @Html.Hidden("CoverName", Model.AddonPaymentDetails.CoverName)
        @Html.HiddenFor(x => x.PreviousAddon, new { id = "previous-addon" })
        @Html.HiddenFor(x => x.NextAddonUrl, new { id = "next-addon" })
        @Html.HiddenFor(x => x.PreviousStepUrl, new { id = "previous-stepUrl" })
        @Html.HiddenFor(x => x.ShowMeetsYourNeedsHoustonNotification)

        <div class="page-section--inner">
            <div class="addon-radio-question">
                <div class="form-row" id="button-panel">

                    @for (int i = 0; i < Model.AddonPaymentDetails.CoverLevels.Count; i++)
                    {
                        var display = Model.SelectedCoverLevelCode == selectList[i].Value ? "" : "hide";
                        var annualPrice = Model.AddonPaymentDetails.CoverLevels[i].AnnualPrice.Round().FormatPrice(PriceFormatConstants.PriceFormatWithZeros);
                        var monthlyPrice = Model.AddonPaymentDetails.CoverLevels[i].MonthlyPrice.Round().FormatPrice(PriceFormatConstants.PriceFormatWithZeros);

                        <div class="addon-radio-bottom @display" id="@(selectList[i].Value)bottom">
                            @if (Model.AddonPaymentDetails.IsAnnualPayment)
                            {
                                <p class="addon-radio-question__price" data-testid="@(componentId)__footer-price">
                                    <strong class="addon-radio__main-price">Add Guaranteed Replacement Car for &pound;@annualPrice/year </strong>
                                </p>
                            }
                            else
                            {
                                <p class="addon-radio-question__price" data-testid="@(componentId)__footer-price">
                                    <strong class="addon-radio__main-price">Add Guaranteed Replacement Car for &pound;@monthlyPrice/month* (&pound;@annualPrice/year)</strong>
                                </p>
                                <p class="feature-header__interest">*Monthly price excludes interest</p>
                            }
                        </div>
                    }
                    <fieldset class="form-row__field-set grc-addon-radio">
                        <legend class="form-row__legend--hidden">Would you like to add Guaranteed Replacement Car to your policy?</legend>
                        @Html.RadioButtonFor(Model => Model.IsAddonSelected, "Yes", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "GRC-Yes", data_focusid = "GRC-Yes" })
                        @Html.LabelFor(x => x.IsAddonSelected, "Yes", new { @for = "GRC-Yes", @id = "GRC-Yes-Label", @class = "form-row__label form-row__label--pill addon-radio__radio", @role = "button", @tabindex = "0" })
                        @Html.RadioButtonFor(Model => Model.IsAddonSelected, "No", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "GRC-No", data_focusid = "GRC-No" })
                        @Html.LabelFor(x => x.IsAddonSelected, "No", new { @for = "GRC-No", @id = "GRC-no-Label", @class = "form-row__label form-row__label--pill addon-radio__radio", @role = "button", @tabindex = "0" })
                    </fieldset>
                </div>
                <p class="form-row__validation-text">
                    <label id="addon-error" class="error-text" for="addon" role="alert">
                        Please check that you have filled in all of the information before continuing.
                    </label>
                </p>
            </div>
        </div>
    </div>

    <div class="page-section">
        <div class="page-section--inner">
            <div class="button-container">
                <button id="next-button"
                        class="button button--primary button--large button--right"
                        type="submit"
                        data-testid="next-extras-button">
                    <strong>Next: </strong><span id="next-button-span">Optional extra</span>
                </button>
                <a id="back-button" class="button button--text button--large button--back button--left"
                   tabindex="0"
                   data-testid="extras-back-button"
                   data-action-url
                   data-cover-details-addon-back-button>
                    Back
                </a>
            </div>
        </div>
    </div>
}
