﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.CoverDetails.Models.DemandAndNeeds.AddonDetailViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div id="@componentId" data-testid="@(componentId)__keycare-addon-detail">
    @using (Html.BeginFormBgl("UpdateGenericAddon", "CoverDetailsComponentGenericAddon", FormMethod.Post, new
    {
        id = "keycare-form",
        @class = "form addon-form--margin",
        data_on_success = "bgl.components.coverdetails.keycaredetailview.onSuccess",
        data_on_error = "bgl.components.coverdetails.keycaredetailview.onError"
    }))
    {
    <div id="addon-questions" class="page-section__addon-questions">
        @Html.AntiForgeryToken()
        @Html.Hidden("CoverId", Model.AddonPaymentDetails.CoverId)
        @Html.Hidden("CoverName", Model.AddonPaymentDetails.CoverName)
        @Html.HiddenFor(x => x.SelectedCoverLevelCode)
        @Html.HiddenFor(x => x.PreviousAddon, new { id = "previous-addon" })
        @Html.HiddenFor(x => x.NextAddonUrl, new { id = "next-addon" })
        @Html.HiddenFor(x => x.PreviousStepUrl, new { id = "previous-stepUrl" })
        @Html.HiddenFor(x => x.ShowMeetsYourNeedsHoustonNotification)

        <div class="page-section--inner">
            <div class="addon-radio-question">
                <div id="button-panel" class="form-row">

                    @Html.Partial("AddonPaymentDetails.Bottom", Model.AddonPaymentDetails)

                    <fieldset class="form-row__field-set">
                        <legend class="form-row__legend--hidden">Would you like to add Keycare to your policy?</legend>

                        @Html.RadioButtonFor(Model => Model.IsAddonSelected, "Yes", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "keycare-yes", data_focusid = "keycare-yes" })
                        @Html.LabelFor(x => x.IsAddonSelected, "Yes", new { @for = "keycare-yes", @id = "keycare-yes-label", @class = "form-row__label form-row__label--pill addon-radio__radio", @role = "button", @tabindex = "0" })

                        @Html.RadioButtonFor(Model => Model.IsAddonSelected, "No", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "keycare-no", data_focusid = "keycare-no" })
                        @Html.LabelFor(x => x.IsAddonSelected, "No", new { @for = "keycare-no", @id = "keycare-no-label", @class = "form-row__label form-row__label--pill addon-radio__radio", @role = "button", @tabindex = "0" })
                    </fieldset>
                </div>
                <p class="form-row__validation-text">
                    Please check that you have filled in all of the information before continuing.
                </p>
            </div>
        </div>
    </div>

        <div class="page-section">
            <div class="page-section--inner">
                <div class="button-container">
                    <button id="next-button"
                            class="button button--primary button--large button--right"
                            type="submit"
                            data-testid="next-extras-button">
                        <strong>Next: </strong><span id="next-button-span">Optional extra</span>
                    </button>
                    <a id="back-button" class="button button--text button--large button--back button--left"
                       tabindex="0"
                       data-testid="extras-back-button"
                       data-action-url
                       data-cover-details-addon-back-button>
                        Back
                    </a>
                </div>
            </div>
        </div>
    }
</div>