﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.RegisterKeeper.MaritalStatusViewModel

@{
    const string scriptPrefix = "bgl.components.coverdetails.maritalstatus";
    var backButtonClass = "back-button-link";
    var componentId = Model.ComponentConfiguration.Id;
    var backButtonUrl = Url.Action("AboutYou", "CoverDetailsComponentRegisteredKeeper");
    var onSuccessHandler = $"{scriptPrefix}.onSuccess";

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        backButtonClass = string.Empty;
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
        onSuccessHandler = $"{scriptPrefix}.onMultiStepEditSuccess";
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">
    @using (Html.BeginFormBgl("MaritalStatusConfirm", "CoverDetailsComponentRegisteredKeeper", FormMethod.Post,
        new
        {
            id = "marital-status-form",
            @class = "step-form",
            data_on_success = onSuccessHandler,
            data_on_error = $"{scriptPrefix}.onError",
            data_store_key = Model.DataStoreKey
        }))
    {
        @Html.AntiForgeryToken()

        <h1 class="step-form__sub-heading">Registered keeper</h1>
        <h2 id="heading" class="step-form__heading">What's {FirstName}'s marital status?</h2>

        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Marital status</legend>
                @foreach (var maritalStatus in Model.MaritalStatuses)
                {
                    @Html.RadioButtonFor(x => x.MaritalStatusCode, maritalStatus.Key, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = $"{maritalStatus.Key}-marital-status", data_store = nameof(Model.MaritalStatusCode) })
                    @Html.LabelFor(x => x.MaritalStatusCode, maritalStatus.Value, new { @class = "form-row__label form-row__label--pill", @for = $"{maritalStatus.Key}-marital-status", data_testid = $"{componentId}__marital-status-option", @role="button", @tabindex="0" })
                }

            </fieldset>

            @Html.ValidationMessageFor(x => x.MaritalStatusCode, string.Empty, new { @class = "form-row__validation-text" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button id="continueButton" type="submit" class="button button--primary button--large button--right hide" data-testid="@(componentId)__done-button" value="Continue" formnovalidate>Continue</button>
                <a href="@backButtonUrl" class="button button--text button--large button--left button--back @backButtonClass" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
            </div>
        </div>
    }
</div>
