﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.ErrorModule
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.CoverDetails.Models.NcdYearsViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration?.Id;
    var formId = $"{componentId}__form";
    var hiddenClass = "hide";
    var backButtonUrl = configuration?.PreviousStepUrl;
    var header = "How many years No Claims Discount do you have?";
}

<div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__ncd">
    @using (Html.BeginFormBgl("NcdYearsConfirm", "CoverDetailsComponentNcdYears", FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_testid = componentId + "__form",
        data_on_success = "bgl.components.coverdetails.ncdyears.onSuccess",
        data_on_error = "bgl.components.coverdetails.ncdyears.onError",
        data_store_key = configuration?.DataStoreKey
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.HasChanges)

        <h1 class="step-form__section-title">
            Your cover
        </h1>
        <div aria-live="polite" role="region">
            @Html.RenderOpenCloseHelpText(header, "Every year you hold a policy in your own name without making a claim, you earn a No Claims Discount (NCD), which may reduce your premium. Remember, your NCD must have been used on a policy in the past two years and earned in the UK. Your NCD can only be used on one policy at any one time.")
        </div>

        if (Model.ComponentState == ComponentState.PartialError && Model.ErrorMessages?.Any() == true)
        {
            <div class="error-messagebox show">
                @foreach (var message in Model.ErrorMessages)
                {
                    <h3 class="error-messagebox__heading" data-testid="@(componentId)__ncd-years_error" role="alert">@message</h3>
                }

                <p class="error-messagebox__sub-heading"></p>
            </div>
        }

        <div class="form-row">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">No claims discount</legend>
                @foreach (var ncdYear in Model.NcdYearsList)
                {
                    @Html.RadioButtonFor(x => x.NcdYears, ncdYear, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = $"{ncdYear}-ncd-years", data_store = $"{nameof(Model.NcdYears)}" })
                    @Html.LabelFor(x => x.NcdYears, (ncdYear == 9 ? ncdYear + "+" : ncdYear.ToString()) + (ncdYear == 1 ? " Year" : " Years"), new { @class = "form-row__label form-row__label--pill step-form__button ncd-years", @for = $"{ncdYear}-ncd-years", data_testid = $"{componentId}__ncd-years", @role = "button", @tabindex = "0" })
                }
            </fieldset>

        </div>

        @Html.HiddenFor(x => x.IsVan, Model.IsVan)

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right @(hiddenClass)" data-testid="@(componentId)__continue-button" value="Continue" formnovalidate>Continue</button>
                <a id="noclaimsdiscountyearsbackbtn" href="@backButtonUrl" data-step-type="previous-step-journey" data-component="coverdetailsmaindriver" class="button button--text button--large button--left button--back back-button-link" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
            </div>
        </div>
    }
</div>
