﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.ErrorModule
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.CoverDetails.Models.NoClaimsDiscountViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration?.Id;
    var formId = $"{componentId}__form";
    var accordionViewName = configuration?.ViewOptions.NoClaimsDiscountAccordion.GetViewNameFromEnum(true);
    var headerViewName = configuration?.ViewOptions.NoClaimsDiscountHeader.GetViewNameFromEnum(true);
    var isService = configuration != null ? configuration.IsService : false;
}

<div data-component-id="@componentId" data-testid="@(componentId)__ncd">
    @if (isService)
    {
        @Html.Partial(headerViewName, Model.HeaderText)

        <p class="ncd-edit__text">
            You may be asked to provide proof of your No Claims Discount (NCD). You can upload or send it to us later.
        </p>

        @Html.Partial(accordionViewName)
        @Html.Partial("_QuestionBoxComprehensiveCover", "No Claims Discount")

        <div class="page-section">
            <div class="page-section--inner">
                <div class="button-container">
                    <input class="button button--primary button--large button--left" data-testid="@(componentId)__done-button" type="submit" value="Done" formnovalidate />
                </div>
            </div>
        </div>
    }
    else
    {
        using (Html.BeginFormBgl("NoClaimsDiscountPost", "CoverDetailsComponent", FormMethod.Post, new
        {
            id = formId,
            @class = "step-form",
            data_testid = componentId + "__form",
            data_on_success = "bgl.components.noclaimsdiscount.onSuccess",
            data_on_error = "bgl.components.noclaimsdiscount.onError",
            data_store_key = Model.DataStoreKey
        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.NcdYears)
            @Html.HiddenFor(model => model.CoverId)
            @Html.HiddenFor(model => model.IsPncdSelected)
            @Html.HiddenFor(model => model.IsPriceProtectSelected)

            @Html.Partial(headerViewName, Model.HeaderText)

            if (Model.ComponentState == ComponentState.PartialError && Model.ErrorMessages?.Any() == true)
            {
                <div class="error-messagebox show">
                    @foreach (var message in Model.ErrorMessages)
                    {
                        <h2 class="h3 error-messagebox__heading">@message</h2>
                    }

                    <p class="error-messagebox__sub-heading"></p>
                </div>
            }

            <div class="ncd-edit">
                <div class="button-container">
                    <button id="NCD-Edit-Button"
                            type="button"
                            class="button button--secondary button--xs button--left ncd-edit__button"
                            aria-label="Edit number of years no claims discount"
                            data-testid="@(componentId)__ncd-edit-button"
                            data-custom-select-button>
                        Edit number of years
                    </button>
                    <div class="ncd-edit__edit-modal inline-modal" data-custom-select-container>
                        <div role="listbox"
                             class="ncd-edit__stepper-box"
                             aria-activedescendant="ncdEditSelectItem_@(Model.NcdYears)"
                             data-custom-select-list>
                            @foreach (var ncdYear in Model.NcdYearsList)
                            {
                                <button id="ncdEditSelectItem_@(ncdYear)"
                                        type="button"
                                        role="option"
                                        aria-selected="@((ncdYear == Model.NcdYears).ToString())"
                                        class="button button--radio ncd-edit__modal-button @(ncdYear == Model.NcdYears ? "selected" : string.Empty)"
                                        data-custom-select-item="@(componentId)__ncd-edit__modal-button-@(ncdYear)"
                                        data-testid="@(componentId)__ncd-edit__modal-button-@(ncdYear)">@ncdYear@(ncdYear == 9 ? "+" : string.Empty)</button>
                            }
                        </div>
                    </div>
                </div>
                <p class="ncd-edit__text">
                    You may be asked to provide proof of your No Claims Discount (NCD). You can upload or send it to us later.
                </p>
            </div>

            @Html.Partial(accordionViewName)
            @Html.Partial("_QuestionBoxComprehensiveCover", "No Claims Discount")

            <div class="page-section">
                <div class="page-section--inner">
                    <div class="button-container">
                        <button class="button button--primary button--large button--left" data-testid="@(componentId)__done-button" type="submit" value="Done" formnovalidate>Done</button>
                    </div>
                </div>
            </div>
        }
    }

</div>