﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.CoverDetails.Models.OtherVehiclesWithoutNcdViewModel
@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}__other-vehicles-form";
}

<div class="narrow" id="@componentId" data-testid="@(componentId)__other-vehicles">
    @using (Html.BeginFormBgl("UpdateOtherVehiclesWithoutNcd", "CoverDetailsComponentOtherVehicles", FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_store_key = Model.DataStoreKey,
        data_on_success = "bgl.components.coverdetails.othervehicles.onSuccess",
        data_on_error = "bgl.components.coverdetails.othervehicles.onError"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CoverId)

        <h1 class="step-form__section-title">Your cover</h1>
        <h2 class="step-form__heading">Do you have the use of any other vehicles?</h2>

        <div class="form-row" id="OtherVehicleStep1">
            <fieldset>
                <legend class="form-row__legend form-row__legend--hidden">Use of any other vehicles</legend>
                @Html.RadioButtonFor(model => model.UseOfOtherVehicles, true, new { @class = "hide form-row__input form-row__input--hidden", id = "Vehicle-Use-Yes", data_sections = "#OtherVehicleStep2", data_store = nameof(Model.UseOfOtherVehicles), data_dependent_property = nameof(Model.UseOfOtherVehicles), data_testid = $"{componentId}__use-other-vehicles-input" })
                @Html.LabelFor(model => model.UseOfOtherVehicles, "Yes", new { @for = "Vehicle-Use-Yes", @class = "form-row__label form-row__label--pill step-form__button large", data_testid = $"{componentId}__use-other-vehicles", @role = "button", @tabindex = "0" })

                @Html.RadioButtonFor(model => model.UseOfOtherVehicles, false, new { @class = "hide form-row__input form-row__input--hidden", id = "Vehicle-Use-No", data_sections = "#OtherVehicleStep3,#OtherVehicleStep2", data_store = nameof(Model.UseOfOtherVehicles), data_testid = $"{componentId}__use-other-vehicles-input" })
                @Html.LabelFor(model => model.UseOfOtherVehicles, "No", new { @for = "Vehicle-Use-No", @class = "form-row__label form-row__label--pill step-form__button large", data_testid = $"{componentId}__use-other-vehicles", @role = "button", @tabindex = "0" })
            </fieldset>
        </div>

        <div class="page-section--inner narrow spaced">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right @(Model.UseOfOtherVehicles == true ? string.Empty : " hide")" id="Continue-Button" data-testid="@(componentId)__continue-button">Continue</button>
                <a class="button button--text button--large button--back button--left" href="@Model.BackButtonUrl" data-testid="@(componentId)__back-button">Back</a>
            </div>
        </div>
    }

</div>