﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.CoverDetails.Models.DemandAndNeeds.AddonDetailViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}
    <div id="@componentId" data-testid="@(componentId)__cover-details">
        @using (Html.BeginFormBgl("UpdateGenericAddon", "CoverDetailsComponentGenericAddon", FormMethod.Post, new
        {
            id = "personal-accident-cover-form",
            @class = "form addon-form--margin",
            data_on_success = "bgl.components.coverdetails.personalaccidentcoverdetailview.onSuccess",
            data_on_error = "bgl.components.coverdetails.personalaccidentcoverdetailview.onError"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("CoverId", Model.AddonPaymentDetails.CoverId)
            @Html.Hidden("CoverName", Model.AddonPaymentDetails.CoverName)
            @Html.HiddenFor(x => x.SelectedCoverLevelCode)
            @Html.HiddenFor(x => x.PreviousAddon, new { id = "previous-addon" })
            @Html.HiddenFor(x => x.NextAddonUrl, new { id = "next-addon" })
            @Html.HiddenFor(x => x.PreviousStepUrl, new { id = "previous-stepUrl" })
            @Html.HiddenFor(x => x.ShowMeetsYourNeedsHoustonNotification)

            <div class="page-section__addon-questions" id="addon-questions">
                <div class="page-section--inner">
                    <div class="addon-radio-question">
                        <div class="form-row" id="button-panel">

                            @Html.Partial("AddonPaymentDetails.Bottom", Model.AddonPaymentDetails)

                            <fieldset class="form-row__field-set pac-addon-radio">
                                <legend class="form-row__legend--hidden">Would you like to add Personal Accident Cover to your policy?</legend>
                                @Html.RadioButtonFor(Model => Model.IsAddonSelected, "Yes", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "PAC-Yes" })
                                @Html.LabelFor(x => x.IsAddonSelected, "Yes", new { @for = "PAC-Yes", @id = "PAC-Yes-Label", @class = "form-row__label form-row__label--pill addon-radio__radio", @role = "button", @tabindex = "0" })
                                @Html.RadioButtonFor(Model => Model.IsAddonSelected, "No", new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "PAC-No" })
                                @Html.LabelFor(x => x.IsAddonSelected, "No", new { @for = "PAC-No", @id = "PAC-no-Label", @class = "form-row__label form-row__label--pill addon-radio__radio", @role = "button", @tabindex = "0" })
                            </fieldset>
                        </div>
                        <p class="form-row__validation-text">
                            <label id="addon-error" class="error-text" for="addon">Please check that you have filled in all of the information before continuing.</label>
                        </p>
                    </div>
                </div>
            </div>
        }

        <div class="page-section">
            <div class="page-section--inner">
                <div class="button-container">
                    <button id="next-button"
                            class="button button--primary button--large button--right"
                            type="button"
                            data-testid="next-extras-button">
                        <strong>Next: </strong><span id="next-button-span">Optional extra</span>
                    </button>
                    <a id="back-button" class="button button--text button--large button--back button--left"
                       tabindex="0"
                       data-testid="extras-back-button"
                       data-action-url
                       data-cover-details-addon-back-button>
                        Back
                    </a>
                </div>
            </div>
        </div>
    </div>