﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.ProductVariants.ProductVariantsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}__form";
    var resourcePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;
    var isAddons = Model.ComponentConfiguration.RowBuilder == ProductVariantsRowBuilder.Addons;
}

<div data-component-id="@componentId" id=@componentId>
    @using (Html.BeginFormBgl("UpdateProductVariants", "CoverDetailsComponentProductVariants", FormMethod.Post, new
    {
        id = formId,
        data_on_success = "bgl.components.coverdetails.productvariants.onSuccess",
        data_on_error = "bgl.components.coverdetails.productvariants.onError"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("VariantCode")
        @Html.Hidden("Description")
    }

    <table class="table base-table base-table--two-cols" id="prod-var-table" role="table" aria-label="product comparison">
        <thead>
            <tr role="row">
                <th role="columnheader" scope="col"><span class="visually-hidden">Cover extras</span></th>
                @Html.Partial("_ProductVariantsHeaderItem", Model)
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Rows)
            {
                var rowId = row.Title.ToLower().Replace(" ", "-") + "-table-row";
                var aprRowClass = rowId == "apr-table-row" ? "hide" : "";

                <tr role="row" id="@rowId" class='@(aprRowClass)'>
                    <th role="rowheader" scope="row" data-testid="@(componentId)__variant-description-column">
                        @row.Title
                        @foreach (var text in row.AdditionalInfo)
                        {
                            <small>@text</small>
                        }

                        @if (!string.IsNullOrEmpty(row.ContentUrl))
                        {
                            <button id="@(componentId)_@(row.Key)_link"
                                    data-testid="@(componentId)__@(row.Key)_link"
                                    class="tooltip"
                                    data-toggle="slide-panel"
                                    data-cover-key="@(row.Key)"
                                    data-target="#SlidePanel"
                                    data-container="SlidePanelContent"
                                    data-content-url="@(row.ContentUrl)">
                                <span class="visually-hidden">@row.Title further information</span>
                            </button>
                        }
                    </th>

                    @if (isAddons)
                    {
                        foreach (var cell in row.RowItems)
                        {
                            var activeClass = cell.DataTier == Model.ActiveDataTier ? "active" : string.Empty;

                            <td role="cell" data-tier=@cell.DataTier class="@activeClass">
                                @if (cell.DisplayIsSelected)
                                {
                                    <img class='grc__image grc__image--tick' src='@resourcePath@((cell.IsSelected) ? "icon-tick.svg" : "icon-cross--red.svg")' alt='@((cell.IsSelected) ? "included" : "not included")' width='25' />
                                }

                                @if (!string.IsNullOrEmpty(cell.Subtext))
                                {
                                    <div>@cell.Subtext</div>
                                }
                            </td>
                        }
                    }
                    else
                    {
                        foreach (var cell in row.RowItems)
                        {
                            var activeClass = cell.DataTier == Model.ActiveDataTier ? "active" : string.Empty;

                            <td role="cell" data-tier=@cell.DataTier class="@activeClass">
                                @if (string.IsNullOrEmpty(cell.Subtext))
                                {
                                    <img class='grc__image grc__image--tick' src='@resourcePath@((cell.IsSelected) ? "icon-tick.svg" : "icon-cross--red.svg")' alt='@((cell.IsSelected) ? "included" : "not included")' width='25' />
                                }
                                else
                                {
                                    <div>@cell.Subtext</div>
                                }
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>