﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.RegisterKeeper.RelationshipStatusViewModel

@{
    const string scriptPrefix = "bgl.components.coverdetails.relationshipstatus";
    var componentId = Model.ComponentConfiguration.Id;
    var previousStepUrl = Url.Action("RegisteredKeeper", "CoverDetailsComponentRegisteredKeeper");
    var onSuccessHandler = $"{scriptPrefix}.onSuccess";
    var backButtonClass = "back-button-link";

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        backButtonClass = string.Empty;
        previousStepUrl = Model.ComponentConfiguration.PreviousStepUrl;
        onSuccessHandler = $"{scriptPrefix}.onMultiStepEditSuccess";
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl("RelationshipStatusConfirm", "CoverDetailsComponentRegisteredKeeper", FormMethod.Post,
        new
        {
            id = "relationship-status-form",
            @class = "step-form",
            data_on_success = onSuccessHandler,
            data_on_error = $"{scriptPrefix}.onError",
            data_store_key = Model.DataStoreKey
        }))
    {
        @Html.AntiForgeryToken()

        <h1 class="step-form__sub-heading">Registered keeper</h1>
        <h2 class="step-form__heading">What is their relationship to you?</h2>

        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Relationship status</legend>
                @foreach (var status in Model.RelationshipStatuses)
                {
                    @Html.RadioButtonFor(x => x.RelationshipStatusCode, status.Key, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = $"{status.Key}-relationship-status", data_store = nameof(Model.RelationshipStatusCode) })
                    @Html.LabelFor(x => x.RelationshipStatusCode, status.Value, new { @class = "form-row__label form-row__label--pill", @for = $"{status.Key}-relationship-status", data_testid = $"{componentId}__relation-ship-option", @role="button", @tabindex="0"})
                }

            </fieldset>

            @Html.ValidationMessageFor(x => x.RelationshipStatusCode, string.Empty, new { @class = "form-row__validation-text" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button id="continueButton" type="submit" class="button button--primary button--large button--right hide" data-testid="@(componentId)__done-button" value="Continue" formnovalidate>Continue</button>
                <a href="@previousStepUrl" class="button button--text button--large button--left button--back @backButtonClass" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
            </div>
        </div>
    }
</div>
