﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.RegisterKeeper.SameAddressViewModel

@{
    const string scriptPrefix = "bgl.components.coverdetails.sameaddress";
    var componentId = Model.ComponentConfiguration.Id;
    var backButtonUrl = Url.Action("MaritalStatus", "CoverDetailsComponentRegisteredKeeper");
    var onSuccessHandler = $"{scriptPrefix}.onSuccess";
    var buttonText = "Done";
    var submitButtonClass = string.Empty;
    var backButtonClass = "back-button-link";

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        buttonText = "Continue";
        submitButtonClass = "hide";
        backButtonClass = string.Empty;
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
        onSuccessHandler = $"{scriptPrefix}.onMultiStepEditSuccess";
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl("RegisteredKeeperPost", "CoverDetailsComponentRegisteredKeeper", FormMethod.Post,
        new
        {
            id = "same-address-form",
            @class = "step-form",
            data_on_success = onSuccessHandler,
            data_on_error = $"{scriptPrefix}.onError",
            data_has_own_data = "true",
            data_store_key = Model.DataStoreKey
        }))
    {
        @Html.AntiForgeryToken()

        <h1 class="step-form__sub-heading">
            Registered keeper
        </h1>
        <h2 id="heading" class="step-form__heading">Does {FirstName} live at the same address as you?</h2>

        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Same address</legend>

                @Html.RadioButtonFor(x => x.HasSameAddress, true, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "same-address-radio-yes", data_store = nameof(Model.HasSameAddress) })
                @Html.LabelFor(x => x.HasSameAddress, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "same-address-radio-yes", data_testid = componentId + "__same-address-option", role="button", @tabindex="0" })

                @Html.RadioButtonFor(x => x.HasSameAddress, false, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "same-address-radio-no", data_store = nameof(Model.HasSameAddress) })
                @Html.LabelFor(x => x.HasSameAddress, "No", new { @class = "form-row__label form-row__label--pill", @for = "same-address-radio-no", data_testid = componentId + "__same-address-option", role="button", @tabindex="0" })

            </fieldset>
            @Html.ValidationMessageFor(x => x.HasSameAddress, "", new { @class = "form-row__validation-text", data_testid = componentId + "__radio-button-error" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button id="continueButton" type="submit" class="button button--primary button--large button--right @submitButtonClass" data-testid="@(componentId)__done-button" value="@buttonText">@buttonText</button>
                <a href="@backButtonUrl" class="button button--text button--large button--left button--back @backButtonClass" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
            </div>
        </div>
    }
</div>
