﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.CoverDetails.Enums
@model BGL.Components.CoverDetails.Models.VehicleUsageViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = Model.ComponentConfiguration.Id;
    var formId = "vehicle-usage";
    var submitButtonText = Model.IsVan ? "Continue" : "Done";
    var backButtonUrl = configuration?.BackButtonUrl;
    var hiddenClass = "";
    var controllerName = "CoverDetailsComponent";
    var actionName = "VehicleUsageConfirm";
    var dataOnSuccess = "bgl.components.vehicleusage.onSuccess";
    var dataOnError = "bgl.components.vehicleusage.onError";
    var yearsEstablishedComponentActionUrl = Url.Action("YearsBusinessEstablished", "CoverDetailsComponentYearsBusinessEstablished");
    var dangerousGoodsComponentActionUrl = Url.Action("CarriageOfDangerousGoods", "CoverDetailsComponentCarriageOfDangerousGoods");

    if (configuration?.JourneyType == JourneyTypes.MultiStepEdit)
    {
        controllerName = "CoverDetailsComponentVehicleUse";
        dataOnSuccess = "bgl.components.coverdetails.vehicleusage.onSuccess";
        dataOnError = "bgl.components.coverdetails.vehicleusage.onError";
        submitButtonText = "Continue";
        hiddenClass = "hide";
    }

    var carHelpTextHtml = Html.Raw("<h2 class='h5 help-text__heading'>Social, Domestic & Pleasure Including Commuting</h2>" +
                                "<p class='help-text__text'>This allows driving your car for social purposes (visiting family, meeting friends), Domestic purposes (driving to the shops, dropping kids at school) and for pleasure (travelling, going out). This includes using your car for driving to a single, fixed place of work. This is the type of cover that suits most people and you should choose this even if you plan to only drive to work occasionally.</p>" +
                                "<h2 class='h5 help-text__heading'>Social, Domestic & Pleasure Excluding Commuting</h2>" +
                                "<p class='help-text__text'>This allows driving your car for social purposes (visiting family, meeting friends), Domestic purposes (driving to the shops, dropping kids at school) and for pleasure (travelling, going out). It implicitly excludes commuting and therefore is not suitable if you plan to use your car to drive to and from work.</p>" +
                                "<h2 class='h5 help-text__heading'>Business Use</h2><p class='help-text__text'>For business users and those that commute to various places of work (different offices, regular meetings etc.). This type of cover includes everything stated above but allows use of the vehicle for commuting to more than one place of work, and journeys such as visiting clients/associates.</p>" +
                                "<p class='help-text__text'>There are different classes of business use:</p>" +
                                "<h2 class='h5 help-text__heading'>Proposer / Spouse</h2>" +
                                "<p class='help-text__text'>Permits the regular driver and their spouse use of the vehicle for business. Any other named drivers may only use the vehicle for Social, Domestic & Pleasure.</p>" +
                                "<h2 class='h5 help-text__heading'>Named Drivers</h2><p class='help-text__text'>Permits any named driver to use the vehicle in connection with the business of the main driver.</p>");

    var vanHelpTextHtml = Html.Raw("<h2 class='h5 help-text__heading'>Social, Domestic and Pleasure Only (SDP)</h2>" +
                                "<p class='help-text__text'>This use will cover the regular driver and any authorised drivers to use the vehicle for social, domestic and pleasure use, plus to travel to and from a single permanent place of employment.</p>" +
                                "<h2 class='h5 help-text__heading'>Carriage Own Goods (Not for Reward)</h2>" +
                                "<p class='help-text__text'>Use for social domestic and pleasure and for the business of the Regular Driver and their employer or business partner, including carriage of own goods, excluding carriage of goods or passengers for hire or reward.</p>" +
                                "<h2 class='h5 help-text__heading'>Haulage (Carriage Goods for Reward)</h2>" +
                                "<p class='help-text__text'>Use for social domestic and pleasure and for the business of the Regular Driver and their employer or business partner, including carriage of goods for hire or reward, excluding carriage of passengers for hire or reward.</p>");

}

<div class="narrow" id="@componentId" data-component-id="@componentId">
    @if (Model.ComponentConfiguration.IsService)
    {
        @Html.Partial("_ProgressBar");
    }
    @using (Html.BeginFormBgl(actionName, controllerName, FormMethod.Post, new
    {
        id = formId,
        @class = "step-form",
        data_on_success = dataOnSuccess,
        data_on_error = dataOnError,
        data_store_key = "CoverDetailsVehicleUse"
    }))
    {
        @Html.AntiForgeryToken()
        <h1 class="step-form__section-title">Your cover</h1>
        if (Model.IsVan)
        {
            @Html.RenderOpenCloseHelpText("How do you use your van?", vanHelpTextHtml)
        }
        else
        {
            @Html.RenderOpenCloseHelpText("How do you use your car?", carHelpTextHtml)
        }
        <div class="form-row">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Vehicle usage</legend>
                @foreach (var item in Model.VehicleUsageClasses)
                {
                    @Html.RadioButtonFor(x => x.ClassOfUseCode, item.Key, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "Vehicle-Usage-" + item.Key, data_store = "ClassOfUseCode" })
                    @Html.LabelFor(x => x.ClassOfUseCode, item.Value, new { @class = "form-row__label form-row__label--pill", @for = "Vehicle-Usage-" + item.Key, data_testid = $"{componentId}__usages", @role = "button", @tabindex = "0" })
                }
            </fieldset>
        </div>

        @Html.HiddenFor(x => x.CoverId, Model.CoverId)
        @Html.HiddenFor(x => x.IsVan, Model.IsVan)
        @Html.HiddenFor(x => x.DataHasChanged, Model.DataHasChanged)

        <div class="page-section--inner">
            <div class="button-container">
                <button id="vehicleUseSubmitBtn"
                        type="submit"
                        class="button button--primary button--large button--right @(hiddenClass)"
                        data-testid="@(componentId)__done-button"
                        data-years-established-action-url="@yearsEstablishedComponentActionUrl"
                        data-dangerous-goods-action-url="@dangerousGoodsComponentActionUrl"
                        value="@submitButtonText"
                        formnovalidate>
                    @submitButtonText
                    </button>
                    <span>
                        @if (configuration?.JourneyType == JourneyTypes.MultiStepEdit)
                        {
                            <a href="@backButtonUrl" data-step-type="previous-step-journey" data-component="coverdetailsmaindriver" class="button button--text button--back back-button-link button--large button--left" tabindex="0" data-testid="@(componentId)__back-button">Back</a>

                        }
                        else if (Model.ComponentConfiguration.IsService && !Model.ComponentConfiguration.IsInitialChange)
                        {
                            <button class="button button--text button--back back-button-link button--large button--left" data-testid="@(componentId)__back-button" data-dismiss="slide-panel" aria-label="Back">Back</button>
                        }
                    </span>
                </div>
            </div>
        }
</div>
