﻿@using System.Globalization
@model float?

<div class="cpa">
    <h2 class="h5 cpa__heading">Continuous Payment Authority - Important The Cardholder must read this section</h2>
    <p class="cpa__text">
        When you pay by credit or debit card we will set up a Continuous Payment Authority (CPA). This allows us to take your payments automatically when they are due, including for any amendments you make and future renewals. This means you don't have to provide new details for each payment and ensures your insurance continues uninterrupted. We will always inform the policyholder of any payments that are due to be taken. We reserve for payments with your bank 2 working days prior to a payment due date and can attempt collection up to 3 times within this 2-day window. We won't attempt any further reservations past the payment due date. If we're unable to collect a payment at any point, we will contact the policyholder. <span data-testid="cpa__failed-payment-fee-text">@(Model.HasValue ? $"Failed payments could result in a {Model.Value.ToString("C", CultureInfo.GetCultureInfo("en-GB"))} fee. " : string.Empty)</span>The policy may be cancelled if we don't receive payments that are due. You can cancel the CPA by contacting us at any time.
    </p>
</div>