﻿@model string

<div id="direct-debit-info" class="hide">
    <header class="panel-header">
        <div class="panel-header__wrapper">
            <div class="panel-header__section panel-header__section--left">
            </div>
            <div class="panel-header__section panel-header__section--right">
                <div class="panel-header__close" data-dismiss="slide-panel"></div>
            </div>
        </div>
    </header>
    <div class="panel-body">

        <div class="page-section">
            <div class="page-section--inner">

                <div class="feature-header">
                    <img class="feature-header__image" src="@(Model)icon-direct-debit-black.svg" title="Direct Debit Icon" alt="Direct Debit Guarantee">
                    <h1 class="feature-header__heading">
                        <strong class="feature-header__heading-highlight-text">The Direct Debit Guarantee</strong>
                    </h1>
                    <div class="feature-header__divider"></div>
                    <p class="feature-header__text">
                        We will set up your Direct Debit online - all the normal safeguards and guarantees apply.
                    </p>
                </div>

                <div class="fbels">
                    <div class="fbels__section  ">
                        <ul class="list list--fbels list--fbels-remember">
                            <li class="list__item info">
                                This Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.
                            </li>
                            <li class="list__item info">
                                If there are any changes to the amount, date or frequency of your Direct Debit BISL Limited will notify you 10 working days in advance of your account being debited or as otherwise agreed. If you request BISL Limited to collect a payment, confirmation of the amount and date will be given to you at the time of the request.
                            </li>
                            <li class="list__item info">
                                If an error is made in the payment of your Direct Debit, by BISL Limited or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society.
                            </li>
                            <li class="list__item info">
                                If you receive a refund you are not entitled to, you must pay it back when BISL Limited asks you to.
                            </li>
                            <li class="list__item info">
                                You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify us.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="page-section">
            <div class="page-section--inner">
                <div class="button-container">
                    <button class="button button--primary button--large button--left" data-dismiss="slide-panel" data-testid="close-panel">Done</button>
                </div>
            </div>
        </div>

    </div>
</div>