﻿@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@model BGL.Components.TakePayment.Models.MonthlyDepositSummaryViewModel

<h1 class="page-heading__heading">
    <span class="page-heading__heading-sub-text">
        And finally let&apos;s confirm
    </span>
    <strong class="page-heading__heading-main-text">
        today&apos;s payment of &pound;@(Model.PaymentSummaryData.MonthlyPaymentSummaryData.DepositAmount?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))
    </strong>
</h1>