﻿@using System.Activities.Statements
@using System.Text.RegularExpressions
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Components.TakePayment.Models
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.PaymentSummaryViewModel

@{
    var annualData = Model.PaymentSummaryData.AnnualPaymentSummaryData;
    var monthlyData = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
    var selectedPaymentType = Model.PaymentSummaryData.SelectedPaymentType;
    var isMonthly = selectedPaymentType == PaymentConstants.PaymentPlan;
    var annualNotificationMessage = $"Great, thanks ##FIRSTNAME##. We've changed how you would like to pay. Your new price is £{annualData?.TotalAmountPayable}.";
    var monthlyNotificationMessage = $"Great, thanks ##FIRSTNAME##. We've changed how you would like to pay. Your new price is £{monthlyData?.RegularInstalmentAmount} a month with a deposit of £{monthlyData?.DepositAmount}.";
}

<div class="page-section">
    <div id="annual-section" class="@(isMonthly?"page-section--inner hide":"page-section--inner")">
        <div class="page-heading">
            <h1 class="page-heading__heading">Payment summary</h1>
            <p class="page-heading__text">
                <strong class="page-heading__text--sub">
                    Total to pay today
                </strong>
                <strong class="page-heading__text--main">
                    &pound;@(annualData?.TotalAmountPayable?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))
                </strong>
            </p>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.IsfAmountValue))
        {
            <p class="payment-summary__legal-text" class="@(isMonthly ? "hide" : string.Empty)" data-testid="payment-summary-isf-wording-annual">
                Your total insurance price includes an Intermediary Services Fee of &pound;@Model.IsfAmountValue payable under your separate contract with BISL Limited
            </p>
        }
        @if (Model.PaymentSummaryData.MonthlyPaymentSummaryData != null)
        {
            <button class="link payment-switch-link" data-focusid="payment-switch-link" id="monthly-switch-link" data-payment-switch-id="@monthlyData.Id">Switch to monthly payments of &pound;@monthlyData.RegularInstalmentAmount/month</button>
        }
        @Html.Hidden("annual-notification-message", annualNotificationMessage)
    </div>

    @if (Model.PaymentSummaryData.MonthlyPaymentSummaryData != null)
    {
        <div id="monthly-section" class="page-section--inner @(isMonthly ? string.Empty : "hide")">
            <div class="page-heading">
                <h1 class="page-heading__heading">Payment summary</h1>
                <p class="page-heading__text">
                    <strong>
                        To pay today &pound;@monthlyData.DepositAmount, followed by @monthlyData.NumberOfInstalments monthly payments of &pound;@monthlyData.RegularInstalmentAmount
                    </strong>
                </p>
            </div>

            <ul class="list list--plain payment-summary">
                <li class="list__item payment-summary__item">Amount of credit: &pound;@monthlyData.CreditAmount</li>
                <li class="list__item payment-summary__item">Total amount payable: &pound;@monthlyData.TotalAmountPayable</li>
                <li class="list__item payment-summary__item">Charge for credit: &pound;@monthlyData.CreditCharge</li>
                <li class="list__item payment-summary__item">Applicable APR: @monthlyData.ApplicableApr%</li>
                <li class="list__item payment-summary__item">Cash price &pound;@monthlyData.CashPrice</li>
            </ul>


            <p class="payment-summary__legal-text">
                If you pay by instalments, you will enter into a credit agreement. A record of the credit search will be visible to other lenders and details of your credit agreement will appear on your credit report.
            </p>

            <p class="payment-summary__legal-text">
                Credit is provided by BFSL Limited. Registered office: Pegasus House, Bakewell Road, Orton Southgate, Peterborough, PE2 6YS. BISL Limited is not independent as both BISL Limited and BFSL Limited are part of the BGL Group of Companies.
            </p>

            @if (!string.IsNullOrWhiteSpace(Model.IsfAmountValue))
            {
                <p class="payment-summary__legal-text" data-testid="payment-summary-isf-wording-monthly">
                    Your total insurance price includes an Intermediary Services Fee of &pound;@Model.IsfAmountValue (excluding interest) payable under your separate contract with BISL Limited
                </p>
            }

            <button class="link payment-switch-link" data-focusid="payment-switch-link" id="annual-switch-link" data-payment-switch-id="@annualData.Id">Switch to pay with a single payment of &pound;@(annualData.TotalAmountPayable.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))</button>
            @Html.Hidden("monthly-notification-message", monthlyNotificationMessage)
        </div>
    }
</div>
