﻿@using BGL.Common.Utility.Extensions 
@using BGL.Components.TakePayment.Models
@model BGL.Components.TakePayment.Models.PaymentSummaryPurchaseInformationViewModel
@{
    var selectedPaymentType = Model.PaymentSummaryData.SelectedPaymentType;
    var isMonthly = selectedPaymentType == PaymentConstants.PaymentPlan;
    var hideOrShowMonthly = isMonthly ? string.Empty : "hide";
    var hideOrShowAnnual = isMonthly ? "hide" : string.Empty;
}

<section class="payment-policy-features-monthly @hideOrShowMonthly">
    <div class="page-section">
        <div class="page-section--inner">
            <h2 class="payment-policy-features__row--header">Your policy features and additional products</h2>
            <dl class="payment-policy-features" data-testid="">
                <div class="payment-policy-features__row">
                    <dt class="payment-policy-features__key">
                        @Model.PolicyCover.CoverLevel
                    </dt>
                    <dd class="visually-hidden">Selected</dd>
                </div>
                <div class="payment-policy-features__row">
                    <dt class="payment-policy-features__key">
                        @Model.PolicyCover.NcdYears
                    </dt>
                    <dd class="visually-hidden">Selected</dd>
                </div>
                @foreach (var cover in Model.ActiveCoverItems)
                {
                    var coverName = cover.CoverName.Replace("RAC Breakdown Cover",
                        "RAC Breakdown Cover (" + cover.CoverLevel + ")");
                    <div class="payment-policy-features__row">
                        <dt class="payment-policy-features__key">
                            @coverName.Replace("No claims discount protection", "No Claims Discount Protection")
                        </dt>
                        <dd class="payment-policy-features__value">&pound;@cover.MonthlyInstalment*</dd>
                    </div>
                }
            </dl>
        </div>
    </div>
</section>


<section class="payment-policy-features-annual @hideOrShowAnnual">
    <div class="page-section">
        <div class="page-section--inner">
            <h2 class="payment-policy-features__row--header">Your policy features and additional products</h2>
            <dl class="payment-policy-features" data-testid="">
                <div class="payment-policy-features__row">
                    <dt class="payment-policy-features__key">
                        @Model.PolicyCover.CoverLevel
                    </dt>
                    <dd class="visually-hidden">Selected</dd>
                </div>
                <div class="payment-policy-features__row">
                    <dt class="payment-policy-features__key">
                        @Model.PolicyCover.NcdYears
                    </dt>
                    <dd class="visually-hidden">Selected</dd>
                </div>
                @foreach (var cover in Model.ActiveCoverItems)
                {
                    var coverName = cover.CoverName.Replace("RAC Breakdown Cover",
                        "RAC Breakdown Cover (" + cover.CoverLevel + ")");
                    <div class="payment-policy-features__row">
                        <dt class="payment-policy-features__key">
                            @coverName.Replace("No claims discount protection", "No Claims Discount Protection")
                        </dt>
                        <dd class="payment-policy-features__value">&pound;@cover.TotalPremium</dd>
                    </div>
                }
            </dl>
        </div>
    </div>
</section>


<div class="page-section">
    <div class="page-section--inner">
        <div class="payment-policy-features__additional-section">
            <h2 class="payment-policy-features__row--header">Additional products not on your policy</h2>
            <ul class="list list--fbels list--fbels-remember">
                @foreach (var cover in Model.OfferedCoverItems)
                {
                    <li class="list__item info" arialabel="@cover.CoverName Not Included">
                        @cover.CoverName.Replace("No claims discount protection", "No Claims Discount Protection")
                    </li>
                }
            </ul>
            <p class="feature-header__interest payment-policy-features-monthly @hideOrShowMonthly">*Monthly price excludes interest</p>
        </div>
    </div>
</div>
