﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers

@model BGL.Components.TakePayment.Models.AddCreditCardReadViewModel

@{
    var cardLogo = Model.CardData.CardType;
}

<section>
    <div class="row">
        <div class="col">
            <h1>
                <strong>Nearly there!</strong>
            </h1>
            <h2 class="light">Check your details and confirm</h2>
        </div>
    </div>
    <br clear="all">
    <div class="row">
        <div class="col">
            <div class="payment-card card--@cardLogo exisiting large">
                <small>Expiry Date</small>
                <span id="Expiry-date" class="sort-code"><strong>@Model.CardData.ExpiryMonth/@Model.CardData.ExpiryYear</strong></span>
                <small>Card number</small>
                <span id="Card-Number" class="account-number">@Model.CardData.CardNumber</span>
                <span id="Account-Holder-Name" class="card-name">
                    <strong></strong>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button id="Edit-Direct-Debit-Details"
                    type="button"
                    class="link link-primary">
                Edit card details
            </button>
        </div>
    </div>
</section>
<hr class="my-account">
<section>
    <div class="row">
        <div class="col">
            <button id="Back-To-Edit-Direct-Debit-Details"
                    type="button"
                    class="link link-primary">
                Back
            </button>
        </div>
        <div class="col text-right">
            <button id="Confirm-Credit-Card-Details"
                    type="button"
                    class="button button--primary button--large">
                Confirm
            </button>
        </div>
    </div>
</section>

@Html.AntiForgeryToken()
