﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers

@model BGL.Components.TakePayment.Models.AddPaymentMethodDetailsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<section>
    <div class="row">
            <div class="col">
                <h1 data-testid="@(componentId)__add-payment-method-header">
                    <strong>Add a new payment method</strong>
                </h1>
                <h2 class="light">Enter a Direct Debit or Debit/Credit Card</h2>

                <div class="tabs tabs--wide-buttons">
                    <ul class="tabs-nav__list" role="tablist">
                        <li id="Direct-Debit-Tab-Button" class="tabs-nav__item active" role="presentation">
                            <button data-testid="@(componentId)__debit-button" id="direct-debit" role="tab" aria-controls="section1" aria-selected="true">
                                <i class="ui-icon-direct-debit"></i>
                                Direct Debit
                            </button>
                        </li>
                        <li id="Credit-Card-Tab-Button" class="tabs-nav__item" role="presentation">
                            <button data-testid="@(componentId)__credit-card-button" id="credit-card" role="tab" aria-controls="section2" aria-describedby="cpa-state">
                                <i class="ui-icon-credit-card"></i>
                                Credit/Debit Card
                            </button>
                        </li>
                    </ul>

                    <div class="tabs-content">
                        <div id="section1" data-title="Direct Debit" role="tabpanel" aria-hidden="false" class="tabs-panel active" data-index="0">
                            <form id="Direct-Debit-Form" class="monthly-radio__form dd-payment">
                                <div id="direct-debit-row" class="row">
                                    <div class="col-lg-8">

                                        <div class="form-group">
                                            <div class="form-row" data-testid="@(componentId)__account-holder-dropdown-row">
                                                @Html.Label("Direct-Debit-Selected-Person-Id", "Account holder", new { @class = "form-row__label" })
                                                @Html.DropDownListFor(m => m.PersonListData.SelectedPersonId, Model.PersonListData.PersonList, new { id = "Direct-Debit-Selected-Person-Id", @class = "form-row__input", data_testid = componentId + "__account-holder-dropdown-input", data_store = "AddPaymentDirectDebitSelectedPersonId" })
                                                @Html.ValidationMessageFor(m => m.PersonListData.SelectedPersonId, "", new { @class = "form-row__validation-text" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="form-row form-row__input-wrapper form-row__input-wrapper--half" data-testid="@(componentId)__account-number-row">
                                                @Html.Label("direct-debit-account-number", "Account number", new { @class = "form-row__label" })
                                                @Html.TextBoxForBgl(m => m.DirectDebitData.AccountNumber, new { @class = "form-row__input account-number", data_testid = componentId + "__account-number-input", data_store = "AddPaymentDirectDebitAccountNumber", id = "direct-debit-account-number" })
                                                @Html.ValidationMessageFor(m => m.DirectDebitData.AccountNumber, "", new { @class = "form-row__validation-text", data_testid = componentId + "__account-number-validation-text" })
                                                <span class="account-number__validation-text hide" id="account-number-validation-message" data-testid="AddPaymentMethod__account-number-validation-text">
                                                    Please enter a valid bank account number
                                                </span>
                                                @if (!Model.IsAnnual)
                                                {
                                                    <small class="legal-text">Only the policy holder can make monthly payments. If another person named on the policy is currently making the repayments, please 
                                                        <a class="va-invocation" href="#" rel="noopener" data-va-invocation-point="SSC_TE_ContactUs" target="_blank" data-testid="footer__contact-us">contact us</a>
                                                        to update their details.</small>
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="form-row form-row__input-wrapper form-row__input-wrapper--half" id="form-row-sortcode1" data-testid="@(componentId)__sort-code1-row">
                                                @Html.LabelFor(m => m.DirectDebitData.SortCodePart1, "Sort code", new { @class = "form-row__label", id = "SortCodeLabel" })

                                                @Html.TextBoxForBgl(m => m.DirectDebitData.SortCodePart1, new { @class = "form-row__input form-row__input--sort-code", aria_labelledby="SortCodeLabel", maxlength = "2", id = "SortCodePart1", data_store = "AddPaymentDirectDebitSortCodePart1", data_testid = componentId + "__sort-code1-input" }) -
                                                @Html.TextBoxForBgl(m => m.DirectDebitData.SortCodePart2, new { @class = "form-row__input form-row__input--sort-code", id = "SortCodePart2", aria_labelledby="SortCodeLabel", data_store = "AddPaymentDirectDebitSortCodePart2", data_testid = componentId + "__sort-code2-input" }) -
                                                @Html.TextBoxForBgl(m => m.DirectDebitData.SortCodePart3, new { @class = "form-row__input form-row__input--sort-code", id = "SortCodePart3", aria_labelledby="SortCodeLabel", data_store = "AddPaymentDirectDebitSortCodePart3", data_testid = componentId + "__sort-code3-input" })

                                                <span class="sortcode__api-validation-text hide" id="sortcode-api-validation-message" data-testid="AddPaymentMethod__sortcode-api-validation-text">
                                                    Please enter a valid sort code number
                                                </span>
                                                <span class="sort-code__span--error sortcode__validation-text hide" id="sortcode-validation-text" data-testid="AddPaymentMethod__sortcode-validation-text">
                                                    Please enter 2 digits in each box. E.g. 20
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-row" data-testid="@(componentId)__can-authorise-form-row">
                                            <fieldset id="Direct-Debit-Authorise-Row" class="form-row__field-set">
                                                <legend class="form-row__legend form-row__legend--bold">Are you the account holder and can you authorise a Direct Debit instruction on this account?</legend>
                                                @Html.RadioButtonFor(m => m.DirectDebitData.CanAuthorise, "true", new { name = "Direct-Debit-Authorise", id = "Direct-Debit-Authorise-Yes", @class = "form-row__input form-row__input--radio form-row__input--hidden", data_store = "AddPaymentDirectDebitAuthorise" })
                                                @Html.LabelFor(m => m.DirectDebitData.CanAuthorise, "Yes", new { @class = "form-row__label form-row__label--pill form-row__label--radio-pill", @for = "Direct-Debit-Authorise-Yes", data_testid = componentId + "__can-authorise-yes-label" })

                                                @Html.RadioButtonFor(m => m.DirectDebitData.CanAuthorise, "false", new { name = "Direct-Debit-Authorise", id = "Direct-Debit-Authorise-No", @class = "form-row__input form-row__input--radio form-row__input--hidden", data_store = "AddPaymentDirectDebitAuthorise" })
                                                @Html.LabelFor(m => m.DirectDebitData.CanAuthorise, "No", new { @class = "form-row__label form-row__label--pill form-row__label--radio-pill", @for = "Direct-Debit-Authorise-No", data_testid = componentId + "__can-authorise-no-label" })

                                                @Html.ValidationMessageFor(m => m.DirectDebitData.CanAuthorise, "", new { @class = "form-row__validation-text", data_testid = componentId + "__can-authorise-validation-text" })
                                            </fieldset>
                                        </div>

                                    </div>
                                </div>

                                <hr class="my-account">
                                <div class="button-container">
                                        <button id="Direct-Debit-Cancel-Button"
                                                type="button"
                                                class="link link-primary button--left"
                                                data-testid="@(componentId)__Cancel">
                                            Cancel
                                        </button>
                                        <button id="Direct-Debit-Continue-Button"
                                                type="button"
                                                class="button button--primary button--large button--right"
                                                data-testid="@(componentId)__direct-debit-continue-button">                                               
                                            Continue
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    <div id="section2" data-title="Credit/Debit Card" role="tabpanel" class="tabs-panel hide" data-index="1">
                        <div class="card-options" data_testid="@(componentId)__img-payment-method-installments">
                            <p class="card-options__description">We accept the following debit and credit cards</p>
                            <ul class="card-options__list">
                                <li class="card-options__item">
                                    <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-visa.svg" alt="Visa" />
                                </li>
                                <li class="card-options__item">
                                    <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-mastercard.svg" alt="Mastercard" />
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <div class="form-row" data-testid="@(componentId)__account-holder-dropdown-row">
                                @Html.Label("Credit-Card-Selected-Person-Id", "Account holder", new { @class = "form-row__label" })
                                @Html.DropDownListFor(m => m.PersonListData.SelectedPersonId, Model.PersonListData.PersonList, new { id = "Credit-Card-Selected-Person-Id", @class = "form-row__input", data_testid = componentId + "__account-holder-dropdown-input", data_store = "AddPaymentCreditCardSelectedPersonId" })
                                @Html.ValidationMessageFor(m => m.PersonListData.SelectedPersonId, "", new { @class = "form-row__validation-text" })
                            </div>
                        </div>

                        <iframe id="Card-Capture-Iframe" name="Card-Capture-Iframe" title="Card Capture" width="100%" scrolling="auto" height="650" frameborder="0"></iframe>
                        @Html.HiddenFor(m => m.CardCaptureData.CardCaptureUri, new { id = "CardCaptureUri", data_store = "AddPaymentMethodCardCaptureUri" })
                        @Html.HiddenFor(m => m.CardCaptureData.SecureSessionId, new { id = "SecureSessionId", data_store = "AddPaymentMethodSecureSessionId" })
                        @Html.HiddenFor(m => m.CardCaptureData.ThreeDSecureUri, new { id = "ThreeDSecureUri", data_store = "AddPaymentMethodThreeDSecureUri" })

                        <hr class="my-account">

                        <div data-testid="@(componentId)__legal-text" id="cpa-state" class="row">
                            <div class="col">
                                @Html.Partial("_ContinuousPaymentAuthorityTextPartial", Model.FailedPaymentFeeAmount, new ViewDataDictionary())
                            </div>
                        </div>
                    </div>
                     </div>
                </div>
            </div>
        </div>
</section>
@Html.AntiForgeryToken()