﻿
<section data-testid="AddPaymentMethodConfirmation__add-payment-method-header">
    <div class="row">
        <div class="col">
            <h1>
                <strong>Nearly there!</strong>
            </h1>
            <h2 class="light">Check your details and confirm</h2>
        </div>
    </div>
    <br clear="all">
    <div class="row">
        <div class="col">
            <div class="payment-card card--account exisiting large">
                <small>Sort Code</small>
                <span id="Sort-Code" class="sort-code"><strong></strong></span>
                <small>Account number</small>
                <span id="Account-Number" class="account-number"></span>
                <span id="Account-Holder-Name" class="card-name">
                    <strong></strong>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button id="Edit-Direct-Debit-Details"
                    type="button"
                    class="link link-primary">
                Edit Direct Debit details
            </button>
        </div>
    </div>
</section>
<hr class="my-account">
<section>
    <div class="row">
        <div class="col">
            <button id="Back-To-Edit-Direct-Debit-Details"
                    type="button"
                    class="link link-primary">
                Back
            </button>
        </div>
        <div class="col text-right">
            <button id="Confirm-Direct-Debit-Details"
                    type="button"
                    class="button button--primary button--large">
                Confirm
            </button>
        </div>
    </div>
</section>

@Html.AntiForgeryToken()
