﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.AnnualSummaryViewModel

@{
    ViewBag.Title = "Annual Payment Summary";
    var annualSummaryHeader = Model.ComponentConfiguration.ViewOptions.AnnualSummaryHeader.GetViewNameFromEnum(true);
}

<main>
    <div class="page-section">
        <div class="page-section--inner">
            <div class="page-heading">
                @Html.Partial(annualSummaryHeader, Model.PaymentSummaryData.AnnualPaymentSummaryData.TotalAmountPayable)
                <p class="page-heading__text">
                    <span>By completing your payment details you are confirming that you have read and accept the terms and conditions in the following documents </span>
                    <button class="link" id="importantInfo-payments-annual"
                            data-toggle="slide-panel"
                            data-target="#SlidePanel"
                            data-container="SlidePanelContent"
                            data-action-url="@Model.ComponentConfiguration.ImportantInformationUrl"
                            data-testid="aboutUs-information">
                        About Us
                    </button>
                    @foreach (var sliderItem in Model.ComponentConfiguration.SliderList)
                    {
                        <span class="read-confirm__base-text">, </span>
                        <button class="link" id="@sliderItem.Id"
                                data-toggle="slide-panel"
                                data-target="#SlidePanel"
                                data-container="SlidePanelContent"
                                data-action-url="@sliderItem.DataActionUrl"
                                data-testid="@sliderItem.DataTestId">
                            @sliderItem.AnchorText
                        </button>
                    }
                    @foreach (var document in Model.ComponentConfiguration.DocumentList)
                    {
                        <span class="read-confirm__base-text">, </span>
                        <a class="link__new-window" href="@document.Href" rel="noopener" aria-label="Open @document.Title.ToLower() in new window" target="_blank">@document.Title</a>
                    }
                    <span class="read-confirm__base-text"> and </span>
                    <a class="link__new-window" id="full-policy-wording-link-annual" href="@(Model.DocumentUrl)?name=specimen-doc" rel="noopener" aria-label="Open full policy wording and terms and conditions in new window" target="_blank">Full policy wording and terms and conditions</a>
                </p>
            </div>
            <div class="card card--@Model.CardData.CardType.ToLower() payments__card">
                <p class="card__label">Card number</p>
                <p class="card__account-number">
                    **** **** **** @Model.CardData.CardNumber
                </p>
                <p class="card__label">Expires</p>
                <p class="card__account-sort-code">
                    @Model.CardData.ExpiryMonth/@Model.CardData.ExpiryYear
                </p>
                <p class="card__account-name">@Model.ComponentConfiguration.CardSessionData.Name</p>
            </div>
            <a class="link" href="@Model.ComponentConfiguration.AnnualUrl">Edit card details</a>
        </div>
    </div>

    @if (Model.DisplayLegalWording)
    {
        <div class="page-section">
            <div class="page-section--inner">
                @Html.Partial(Model.ComponentConfiguration.LegalWordingViewName)
            </div>
        </div>
    }

    @Html.HiddenFor(m => m.CardData.IsContinuousPaymentCard, new { id = "IsContinuousPaymentCard", data_store = "IsContinuousPaymentCard" })
    @if (Model.CardData.IsContinuousPaymentCard)
    {
        if (Model.DisplayVanAssumptions)
        {
            @Html.Partial("_AnnualAndMonthlySummaryVanAssumptions");
        }

        if (!string.IsNullOrEmpty(Model.ComponentConfiguration.NextStepsBrandName))
        {
            @Html.Partial("_NextSteps", Model.ComponentConfiguration.NextStepsBrandName)
        }

        <div class="page-section">
            <div class="page-section--inner">
                @Html.Partial("_ContinuousPaymentAuthorityTextPartial", Model.FailedPaymentFeeAmount, new ViewDataDictionary())
                @Html.Partial("PreContractTextPartial", Model)
            </div>
        </div>
    }
    else if (Model.ContinuousPaymentCardData == null || Model.ComponentConfiguration.ContinuousPaymentCardEdit)
    {
        @Html.Partial("ContinuousPaymentCapturePartial", Model.ContinuousPaymentCaptureModel)
    }
    else
    {
        <div class="page-section">
            <div class="page-section--inner">
                <p class="page-heading__text">
                    <span>As you have chosen to pay by Maestro, we need to take details of a bank account or another card as a future payment method. We can't setup your policy without future payment details. </span>
                </p>
                <div class="card card--@Model.ContinuousPaymentCardData.CardType.ToLower() payments__card">
                    <p class="card__label">Card number</p>
                    <p class="card__account-number">
                        **** **** **** @Model.ContinuousPaymentCardData.CardNumber
                    </p>
                    <p class="card__label">Expires</p>
                    <p class="card__account-sort-code">
                        @Model.ContinuousPaymentCardData.ExpiryMonth/@Model.ContinuousPaymentCardData.ExpiryYear
                    </p>
                    <p class="card__account-name">@Model.ComponentConfiguration.ContinuousPaymentCardSessionData.Name</p>
                </div>
                <a class="link" href="" id="Edit-Card-Link">Edit card details</a>
            </div>
        </div>

        if (Model.DisplayVanAssumptions)
        {
            @Html.Partial("_AnnualAndMonthlySummaryVanAssumptions");
        }

        if (!string.IsNullOrEmpty(Model.ComponentConfiguration.NextStepsBrandName))
        {
            @Html.Partial("_NextSteps", Model.ComponentConfiguration.NextStepsBrandName)
        }

        <div class="page-section">
            <div class="page-section--inner">
                @Html.Partial("PreContractTextPartial", Model)
            </div>
        </div>
    }
    @using (Html.BeginFormBgl(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }
</main>