﻿@using BGL.Common.Utility.Extensions
@model BGL.Components.TakePayment.Models.CancellationsOverviewViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="cancellation-overview step-form" id="@componentId" data-component-id="@componentId" data-cancellations-container-reasons-other>
    @Html.AntiForgeryToken()

    <h1 class="h2 step-form__heading">Important information</h1>
    <h2 class="light">Before you cancel your policy, a @(Model.ShowPaymentView ? "payment" : "refund") is due</h2>

    <section>
        <p>You've chosen to cancel your insurance for your @Model.Manufacturer @Model.Model, @Model.RegistrationNumber @(Model.ImmediateCancellation ? "with immediate effect" : $"at midnight on {Model.PolicyEndDate.ToOrdinalDayOfMonth()} {Model.PolicyEndDate.ToString("MMMM")}").</p>
        @if (Model.ShowPaymentView)
        {
            <p>A balance of &pound;@Model.TotalAmountPayable is due. The below summary shows how we've calculated the total amount payable.</p>
        }
        else if (Model.RefundBelowThreshold && !Model.ComponentConfiguration.HideRefundThreshold)
        {
            <p>The below summary shows how we've calculated your refund. As shown in your policy documents, we do not refund amounts under &pound;1. However you can still proceed to cancel by clicking continue below.</p>
        }
        else
        {
            <p>A refund of &pound;@Model.RefundAmount is due. The below summary shows how we've calculated your refund. The balance will be refunded to @Model.AccountInfo within 10 working days.</p>
        }
    </section>

    <section class="bg-blue-grey">
        <table class="payment-table text-brand">
            <caption class="visually-hidden">A summary of how we've calculated @(Model.ImmediateCancellation ? "the total amount payable" : "your refund").</caption>
            <tbody>
            <tr>
                <th scope="row">
                    Cost of insurance
                    <div>(@Model.PolicyStartDate.ToString("dd/MM/yyyy") - @Model.PolicyEndDate.ToString("dd/MM/yyyy"))</div>
                </th>
                <td class="align-right">&pound;@Model.CostOfInsurance</td>
            </tr>
            <tr>
                <th scope="row">Total amount paid so far</th>
                <td class="align-right">&pound;@Model.AmountPaid</td>
            </tr>
            <tr>
                <th scope="row">Cancellation fee</th>
                <td class="align-right">&pound;@Model.Fee</td>
            </tr>
            @if (Model.ShowPaymentView)
            {
                <tr class="bold">
                    <th scope="row">Total amount payable</th>
                    <td class="align-right">&pound;@Model.TotalAmountPayable</td>
                </tr>
            }
            else
            {
                <tr class="bold text-success">
                    <th scope="row">Refund</th>
                    <td class="align-right">&pound;@Model.RefundAmount</td>
                </tr>
            }
            </tbody>
        </table>
    </section>

    <section>
        <div class="button-container">
            <a href=@(Model.ShowPaymentView ? Model.ComponentConfiguration.NextStepUrl : @Model.ComponentConfiguration.RefundSummaryUrl)
               class="button button--primary button--large button--right"
               data-testid="@(componentId)-continue">
                Continue
            </a>

            <a href="@Model.ComponentConfiguration.PreviousStepUrl"
               class="button button--text button--back back-button-link button--left"
               data-cancellation-back
               data-testid="@(componentId)-back">
                Back
            </a>
        </div>
    </section>
</div>
