﻿@model BGL.Components.TakePayment.Models.AllDoneViewModel

<i class="header-icon ui-icon-tick-circle"></i>
<h1 class="bold text-center h2">
    All done @Model.FirstName
</h1>
<h2 class="text-center light">
    Your payments are now up to date
</h2>

<span class="divider divider--short"></span>

<div class="text-center">
    <a href="@Model.ComponentConfiguration.MakeOutstandingPaymentAllDoneNextUrl" class="button button--primary button--large">Done</a>
</div>