﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.MonthlyDepositViewModel

@{
    ViewBag.Title = "Monthly Deposit Payment";
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="page-heading">
    <h1 class="page-heading__heading">
        <span class="page-heading__heading-sub-text">
            Let&apos;s take the details for
        </span>
        <strong class="page-heading__heading-main-text">
            today&apos;s payment of &pound;@(Model.PaymentSummaryData.MonthlyPaymentSummaryData.DepositAmount?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))
        </strong>
    </h1>
</div>

<div id="today-payment-section" class="form-row ztabs today-payment">
    <h2 class="today-payment__heading">How do you want to pay?</h2>
    <button id="deposit-instalment-card" class="tabs__label tabs__label--pill today-payment__label payment-card" data-action-url="@Model.ComponentConfiguration.MonthlyDepositSummaryUrl">
        <div class="payment-card__section">
            <p class="payment-card__text">CARD NUMBER</p>
            <p class="payment-card__card-number">
                <span class="payment-card__card-number-segment" data-store="MonthlyInstalmentCardNumber">
                </span>
            </p>
        </div>
        <div class="payment-card__section">
            <p class="payment-card__sub-section">
                <span class="payment-card__text">EXPIRES</span>
                <span class="payment-card__data-text" data-store="MonthlyInstalmentCardExpiry">
                </span>
            </p>
        </div>
        <div class="tabs__label-bar"></div>
    </button>

    <button type="button" id="deposit-new-card" class="tabs__label tabs__label--pill today-payment__label new-card">
        <svg class="new-card__image" width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <polygon id="path-1" points="35 22.1428571 22.1428571 22.1428571 22.1428571 35 17.8571429 35 17.8571429 22.1428571 5 22.1428571 5 17.8571429 17.8571429 17.8571429 17.8571429 5 22.1428571 5 22.1428571 17.8571429 35 17.8571429"></polygon>
            </defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icon-plus">
                    <g id="Icons/small-add">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <use id="small-add" fill="#000000" fill-rule="nonzero" xlink:href="#path-1"></use>
                        <g id="new-card" class="new-card__plus" mask="url(#mask-2)" fill="#4A4A4A" fill-rule="evenodd">
                            <rect id="Rectangle" x="0" y="0" width="40" height="40"></rect>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <p class="new-card__text">New debit/credit card</p>
    </button>
</div>

<div id="deposit-iframe-section" class="hide">
    @using (Html.BeginFormBgl("MonthlyDeposit", "TakePaymentComponent", FormMethod.Post, new { id = "MonthlyDepositPaymentForm", @class = "card-payment", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="card-options" data_testid="@(componentId)__img-payment-method-single">
            <p class="card-options__description">We accept the following debit and credit cards</p>
            <ul class="card-options__list">
                <li class="card-options__item">
                    <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-visa.svg" alt="Visa" />
                </li>
                <li class="card-options__item">
                    <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-visaelectron.svg" alt="Visa Electron" />
                </li>
                <li class="card-options__item">
                    <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-mastercard.svg" alt="Mastercard" />
                </li>
                <li class="card-options__item">
                    <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-maestro.svg" alt="Maestro" />
                </li>
            </ul>
        </div>
        <div id="Cardholder-Name-Form-Row" class="form-row" data-testid="@(componentId)__cardholder-dropdown-row">
            @Html.LabelFor(m => m.PersonListData.SelectedPersonId, "Cardholder name", new { @class = "form-row__label" })
            @Html.DropDownListFor(m => m.PersonListData.SelectedPersonId, Model.PersonListData.PersonList, new { @class = "form-row__input", data_testid = componentId + "__cardholder-dropdown-input", data_store = "MonthlyDepositSelectedPersonId", tabindex = 0 })
            @Html.ValidationMessageFor(m => m.PersonListData.SelectedPersonId, "", new { @class = "form-row__validation-text" })
        </div>

        <div id="CardholderNameRow" class="form-row hide" data-testid="@(componentId)__cardholder-name-row">
            @Html.LabelFor(m => m.CardholderName, new { @class = "form-row__label" })
            @Html.TextBoxForBgl(m => m.CardholderName, new { @class = "form-row__input", type = "text", data_testid = componentId + "__cardholder-name-input", data_store = "MonthlyDepositSelectedPersonIdText", data_store_keyup = "true", tabindex = 0 })
            @Html.ValidationMessageFor(m => m.CardholderName, "", new { @class = "form-row__validation-text" })
        </div>
    }

    <iframe id="Card-Capture-Iframe" name="Card-Capture-Iframe" width="100%" scrolling="auto" height="641" frameborder="0" title="Bank security check"></iframe>
    @Html.HiddenFor(m => m.CardCaptureData.CardCaptureUri, new { id = "CardCaptureUri", data_store = "MonthlyDepositCardCaptureUri" })
    @Html.HiddenFor(m => m.CardCaptureData.SecureSessionId, new { id = "SecureSessionId", data_store = "MonthlyDepositSecureSessionId" })
    @Html.HiddenFor(m => m.CardCaptureData.ThreeDSecureUri, new { id = "ThreeDSecureUri", data_store = "MonthlyDepositThreeDSecureUri" })

</div>

<div class="button-container">
    <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.MonthlyInstalmentUrl">Back</a>
</div>