﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.MonthlyDepositViewModel

@{
    ViewBag.Title = "Monthly Deposit Payment";
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="page-section">
    <div class="page-section--inner">

        <div class="page-heading">
            <h1 class="page-heading__heading">
                <span class="page-heading__heading-sub-text">
                    Let&apos;s take the details for
                </span>
                <strong class="page-heading__heading-main-text">
                    today&apos;s payment of &pound;@(Model.PaymentSummaryData.MonthlyPaymentSummaryData.DepositAmount?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))
                </strong>
            </h1>
        </div>

        <div id="today-payment-section">
            <h2 class="today-payment__heading"><strong>Select below to use the same card for today&apos;s payment or use a new card</strong></h2>

            <button class="today-payment-card__section" id="deposit-card-icons-instalment-card" data-action-url="@Model.ComponentConfiguration.MonthlyDepositSummaryUrl">
                <label class="payment-card__button" for="PaymentCardNuber">
                    <div class="payment-card__type"></div>
                    <div class="payment-card-info">
                        <p class="payment-card-info__card-number">
                            <strong class="payment-card__card-number-segment" data-store="MonthlyInstalmentCardNumber"></strong>
                        </p>
                        <p class="payment-card-info__card-expiry">
                            <span class="payment-card__data-text" id="card-info-date" ></span>
                        </p>
                        <p class="payment-card-info__card-holder-name">
                            <span class="payment-card__data-text" id="card-info-name" ></span>
                        </p>
                    </div>
                </label>
            </button>
        </div>

        <div>
            <button class="button button--large button--back button--left new-card__button" id="deposit-new-card">
                <strong>Add new card</strong>
            </button>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="page-section--inner">
        <div class="card-details">
            <div id="deposit-iframe-section" class="hide">
                @using (Html.BeginFormBgl("MonthlyDeposit", "TakePaymentComponent", FormMethod.Post, new { id = "MonthlyDepositPaymentForm", @class = "card-payment", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-options" data_testid="@(componentId)__img-payment-method-single">
                        <p class="card-options__description">We accept the following debit and credit cards</p>
                        <ul class="card-options__list">
                            <li class="card-options__item">
                                <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-visa.svg" alt="Visa" />
                            </li>
                            <li class="card-options__item">
                                <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-visaelectron.svg" alt="Visa Electron" />
                            </li>
                            <li class="card-options__item">
                                <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-mastercard.svg" alt="Mastercard" />
                            </li>
                            <li class="card-options__item">
                                <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-maestro.svg" alt="Maestro" />
                            </li>
                        </ul>
                    </div>
                    <div id="Cardholder-Name-Form-Row" class="form-row" data-testid="@(componentId)__cardholder-dropdown-row">
                        @Html.LabelFor(m => m.PersonListData.SelectedPersonId, "Cardholder name", new { @class = "form-row__label" })
                        @Html.DropDownListFor(m => m.PersonListData.SelectedPersonId, Model.PersonListData.PersonList, new { @class = "form-row__input", data_testid = componentId + "__cardholder-dropdown-input", data_store = "MonthlyDepositSelectedPersonId", tabindex = 1 })
                        @Html.ValidationMessageFor(m => m.PersonListData.SelectedPersonId, "", new { @class = "form-row__validation-text" })
                    </div>

                    <div id="CardholderNameRow" class="form-row hide" data-testid="@(componentId)__cardholder-name-row">
                        @Html.LabelFor(m => m.CardholderName, new { @class = "form-row__label" })
                        @Html.TextBoxForBgl(m => m.CardholderName, new { @class = "form-row__input", type = "text", data_testid = componentId + "__cardholder-name-input", data_store = "MonthlyDepositSelectedPersonIdText", data_store_keyup = "true", tabindex = 2 })
                        @Html.ValidationMessageFor(m => m.CardholderName, "", new { @class = "form-row__validation-text" })
                    </div>
                }

                <iframe id="Card-Capture-Iframe" name="Card-Capture-Iframe" title="Card Capture" width="100%" scrolling="auto" height="641" frameborder="0"></iframe>
                @Html.HiddenFor(m => m.CardCaptureData.CardCaptureUri, new { id = "CardCaptureUri", data_store = "MonthlyDepositCardCaptureUri" })
                @Html.HiddenFor(m => m.CardCaptureData.SecureSessionId, new { id = "SecureSessionId", data_store = "MonthlyDepositSecureSessionId" })
                @Html.HiddenFor(m => m.CardholderName, new { id = "CardholderNameId" })
            </div>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="page-section--inner">
        <div class="button-container">
            <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.MonthlyInstalmentUrl">Back</a>
        </div>
    </div>
</div>
