﻿@using System.Configuration
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.MonthlyInstalmentViewModel

@{
    ViewBag.Title = "Monthly Payment Details";
    var componentId = Model.ComponentConfiguration.Id;
    var creditInformationContent = Model.SecciDocumentContent;
    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];
    var resourceBasePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;
}


<div class="page-heading">
    <h1 class="page-heading__heading">
        <span class="page-heading__heading-sub-text">
            Let&apos;s set up your
        </span>
        <strong class="page-heading__heading-main-text">
            monthly payments of &pound;@(Model.PaymentSummaryData.MonthlyPaymentSummaryData.RegularInstalmentAmount?.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))
        </strong>
    </h1>
    <p class="page-heading__disclaimer-text">
        <span>By completing your payment details you are confirming that you have read and accept the terms and conditions in the following documents </span>
        <button class="link" id="importantInfo-payments-instalments"
                data-toggle="slide-panel"
                data-target="#SlidePanel"
                data-container="SlidePanelContent"
                data-action-url="@Model.ComponentConfiguration.ImportantInformationUrl"
                data-testid="aboutUs-information">
            About Us
        </button>
        <span class="read-confirm__base-text">, </span>

        @foreach (var sliderItem in Model.ComponentConfiguration.SliderList)
        {

            <button class="link" id="@sliderItem.Id"
                    data-toggle="slide-panel"
                    data-target="#SlidePanel"
                    data-container="SlidePanelContent"
                    data-action-url="@sliderItem.DataActionUrl"
                    data-testid="@sliderItem.DataTestId">
                @sliderItem.AnchorText
            </button>
            <span class="read-confirm__base-text">, </span>
        }

        @foreach (var document in Model.ComponentConfiguration.DocumentList)
        {
            <a class="link__new-window" href="@document.Href" rel="noopener" aria-label="Open @document.Title.ToLower() in new window" target="_blank">@document.Title</a>
            <span class="read-confirm__base-text">, </span>
        }
        <a class="link__new-window" id="full-policy-wording-link-instalment" href="@(documentUrl)?name=specimen-doc" rel="noopener" aria-label="Open full policy wording and terms and conditions in new window" target="_blank">Full policy wording and terms and conditions</a>
        <span class="read-confirm__base-text">, </span>
        <a class="link__new-window" href="@(documentUrl)?name=credit-information" rel="noopener" aria-label="Open pre contract credit information in new window" target="_blank">Pre Contract Credit Information</a>
        <span class="read-confirm__base-text"> and </span>
        <a class="link__new-window" href="@(documentUrl)?name=credit-agreement" rel="noopener" aria-label="Open credit agreement in new window" target="_blank">Credit Agreement</a>.
    </p>
</div>

<div class="tabs monthly-radio">
        <input class="tabs__input tabs__input--1" id="Monthly-Payment-DD" type="radio" name="monthly-payment" value="DirectDebit" data-store="MonthlyInstalmentPaymentType">
        <label id="Monthly-Payment-DD-Label" class="tabs__label tabs__label--pill monthly-radio__label monthly-radio__label--acc" for="Monthly-Payment-DD" data-testid="@(componentId)__monthly-radio__label--acc">
            <p class="tabs__label-text">Pay by Direct Debit</p>
            <div class="tabs__label-bar"></div>
        </label>

        <input class="tabs__input tabs__input--2" id="Monthly-Payment-Card" type="radio" name="monthly-payment" value="CreditCard" data-store="MonthlyInstalmentPaymentType">
        <label id="Monthly-Payment-Card-Label" class="tabs__label tabs__label--pill monthly-radio__label monthly-radio__label--card" for="Monthly-Payment-Card" data-testid="@(componentId)__monthly-radio__label--card">
            <p class="tabs__label-text">Pay by credit/debit card</p>
            <div class="tabs__label-bar"></div>
        </label>

        <section class="tabs__section tabs__section--1">
            <form id="Direct-Debit-Form" class="monthly-radio__form dd-payment">

                <div class="form-row form-row--multi-input" data-testid="@(componentId)__payment-date-row">
                    @Html.Label("Direct-Debit-Payment-Date", "Preferred first instalment date", new { @class = "form-row__label" })
                    @Html.TextBoxForBgl(m => m.PaymentDate, new { id = "Direct-Debit-Payment-Date", @class = "form-row__input form-row__input--datepicker short", data_testid = componentId + "__direct-debit-payment-date", data_store = "MonthlyInstalmentPaymentDate", @readonly = true })
                    <p class="form-row__hint-text">Future monthly instalments will be collected on the same date each month. All payments that you make will appear on your statements as BISL LTD @Model.ComponentConfiguration.BislBrandName.</p>
                </div>

                <div class="form-row" data-testid="@(componentId)__account-holder-dropdown-row">
                    @Html.Label("Direct-Debit-Selected-Person-Id", "Account holder", new { @class = "form-row__label" })
                    @Html.DropDownListFor(m => m.PersonListData.SelectedPersonId, Model.PersonListData.PersonList, new { id = "Direct-Debit-Selected-Person-Id", @class = "form-row__input", data_testid = componentId + "__account-holder-dropdown-input", data_store = "MonthlyInstalmentDirectDebitSelectedPersonId" })
                    @Html.ValidationMessageFor(m => m.PersonListData.SelectedPersonId, "", new { @class = "form-row__validation-text" })
                    <p class="form-row__hint-text"> Only the policy holder can make monthly payments</p>
                </div>

                <div class="form-row--multi-input">
                    <div class="form-row form-row__input-wrapper form-row__input-wrapper--half" data-testid="@(componentId)__account-number-row">
                        @Html.Label("direct-debit-account-number", "Account number", new { @class = "form-row__label", id = "AccountNumberLabel" })


                        @Html.TextBoxForBgl(m => m.DirectDebitData.AccountNumber, new { @class = "form-row__input account-number", data_testid = componentId + "__account-number-input", data_store = "MonthlyInstalmentDirectDebitAccountNumber", id = "direct-debit-account-number" })

                        @Html.ValidationMessageFor(m => m.DirectDebitData.AccountNumber, "", new { @class = "form-row__validation-text", data_testid = componentId + "__account-number-validation-text" })
                        <span class="account-number__validation-text hide" id="account-number-validation-message" data-testid="MonthlyInstalment__account-number-validation-text">
                            Please enter a valid bank account number
                        </span>
                    </div>

                    <div class="form-row form-row__input-wrapper form-row__input-wrapper--half" id="form-row-sortcode1" data-testid="@(componentId)__sort-code1-row">
                        <fieldset class="form-row__field-set">
                            <legend class="form-row__legend legend-sortcode">Sort code</legend>
                            @Html.Label("SortCodePart1", "First two digits", new { @class = "sortcode-hidden" })
                            @Html.TextBoxForBgl(m => m.DirectDebitData.SortCodePart1, new { @class = "form-row__input form-row__input--sort-code", maxlength = "2", id = "SortCodePart1", data_store = "MonthlyInstalmentDirectDebitSortCodePart1", data_testid = componentId + "__sort-code1-input" }) -

                            @Html.Label("SortCodePart2", "Second two digits", new { @class = "sortcode-hidden" })
                            @Html.TextBoxForBgl(m => m.DirectDebitData.SortCodePart2, new { @class = "form-row__input form-row__input--sort-code", id = "SortCodePart2", data_store = "MonthlyInstalmentDirectDebitSortCodePart2", data_testid = componentId + "__sort-code2-input" }) -

                            @Html.Label("SortCodePart3", "Third two digits", new { @class = "sortcode-hidden" })
                            @Html.TextBoxForBgl(m => m.DirectDebitData.SortCodePart3, new { @class = "form-row__input form-row__input--sort-code", id = "SortCodePart3", data_store = "MonthlyInstalmentDirectDebitSortCodePart3", data_testid = componentId + "__sort-code3-input" })
                        </fieldset>

                        <span class="sortcode__api-validation-text hide" id="sortcode-api-validation-message" data-testid="MonthlyInstalment__sortcode-api-validation-text">
                            Please enter a valid sort code number
                        </span>
                        <span class="sort-code__span--error sortcode__validation-text hide" id="sortcode-validation-text" data-testid="MonthlyInstalment__sortcode-validation-text">
                            Please enter a valid sort code. E.g. 20-20-20
                        </span>

                        @Html.Hidden("direct-debit-sort-code")
                    </div>
                </div>

                <div class="form-row" data-testid="@(componentId)__can-authorise-form-row">
                    <fieldset id="Direct-Debit-Authorise-Row" class="form-row__field-set">
                        <legend class="form-row__legend form-row__legend--bold">Are you the account holder and can you authorise a Direct Debit instruction on this account?</legend>
                        @Html.RadioButtonFor(m => m.DirectDebitData.CanAuthorise, "true", new { name = "Direct-Debit-Authorise", id = "Direct-Debit-Authorise-Yes", @class = "form-row__input form-row__input--radio form-row__input--hidden", data_store = "MonthlyInstalmentDirectDebitAuthorise" })
                        @Html.LabelFor(m => m.DirectDebitData.CanAuthorise, "Yes", new { @class = "form-row__label form-row__label--pill form-row__label--radio-pill", @for = "Direct-Debit-Authorise-Yes", data_testid = componentId + "__can-authorise-yes-label" })

                        @Html.RadioButtonFor(m => m.DirectDebitData.CanAuthorise, "false", new { name = "Direct-Debit-Authorise", id = "Direct-Debit-Authorise-No", @class = "form-row__input form-row__input--radio form-row__input--hidden", data_store = "MonthlyInstalmentDirectDebitAuthorise" })
                        @Html.LabelFor(m => m.DirectDebitData.CanAuthorise, "No", new { @class = "form-row__label form-row__label--pill form-row__label--radio-pill", @for = "Direct-Debit-Authorise-No", data_testid = componentId + "__can-authorise-no-label" })

                        @Html.ValidationMessageFor(m => m.DirectDebitData.CanAuthorise, "", new { @class = "form-row__validation-text", data_testid = componentId + "__can-authorise-validation-text" })
                    </fieldset>
                </div>

            </form>

            <div class="direct-debit-text">
                <img class="direct-debit-text__image" src="@(resourceBasePath)icon-direct-debit-black.svg" title="Direct debit Guarantee Logo" alt="Direct Debit Guarantee"/>
                <p class="direct-debit-text__text">We will set up your Direct Debit on-line - all safeguards and guarantees apply.</p>
                <button class="link" id="direct-debit-details" data-toggle="slide-panel" data-target="#SlidePanel" data-container="SlidePanelContent" data-testid="@(componentId)__direct-debit-detail">Find out more about the Direct Debit Guarantee</button>
            </div>

            @Html.Partial("CreditAgreementPartial", creditInformationContent)

            <div class="button-container">
                <a id="Direct-Debit-Continue-Button" class="button button--primary button--large button--right" href="#" data-testid="@(componentId)__direct-debit-continue-button">Continue <span>to today's payment</span></a>
            </div>
        </section>
        @Html.Partial("_DirectDebitInfo", resourceBasePath)
        <section class="tabs__section tabs__section--2">
            <div class="monthly-radio__form card-payment">
                <div id="Monthly-Card-Payment-Date-Form-Row" class="form-row form-row--multi-input" data-testid="@(componentId)__payment-date-row">
                    @Html.Label("Credit-Card-Payment-Date", "Preferred first instalment date", new { @class = "form-row__label" })
                    @Html.TextBoxForBgl(m => m.PaymentDate, new { id = "Credit-Card-Payment-Date", @class = "form-row__input form-row__input--datepicker short", data_testid = componentId + "__credit-card-payment-date", data_store = "MonthlyInstalmentPaymentDate", @readonly = true })
                    <p class="form-row__hint-text">Future monthly instalments will be collected on the same date each month. All payments that you make will appear on your statements as BISL LTD @Model.ComponentConfiguration.BislBrandName.</p>
                </div>
                <div class="card-options" data_testid="@(componentId)__img-payment-method-installments">
                    <p class="card-options__description">We accept the following debit and credit cards</p>
                    <ul class="card-options__list">
                        <li class="card-options__item">
                            <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-visa.svg" alt="Visa" />
                        </li>
                        <li class="card-options__item">
                            <img class="card-options__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)logo-mastercard.svg" alt="Mastercard" />
                        </li>
                    </ul>
                </div>
                <div id="Cardholder-Name-Form-Row" class="form-row" data-testid="@(componentId)__cardholder-dropdown-row">
                    @Html.Label("Credit-Card-Selected-Person-Id", "Cardholder name", new { @class = "form-row__label" })
                    @Html.DropDownListFor(m => m.PersonListData.SelectedPersonId, Model.PersonListData.PersonList, new { id = "Credit-Card-Selected-Person-Id", @class = "form-row__input", data_testid = componentId + "__cardholder-dropdown-input", data_store = "MonthlyInstalmentCardSelectedPersonId" })
                    @Html.ValidationMessageFor(m => m.PersonListData.SelectedPersonId, "", new { @class = "form-row__validation-text" })
                    <p class="form-row__hint-text"> Only the policy holder can make monthly payments</p>
                </div>

                <iframe id="Card-Capture-Iframe" name="Card-Capture-Iframe" title="Card Capture" width="100%" scrolling="auto" height="641" frameborder="0"></iframe>
                @Html.HiddenFor(m => m.CardCaptureData.CardCaptureUri, new { id = "CardCaptureUri", data_store = "MonthlyInstalmentCardCaptureUri" })
                @Html.HiddenFor(m => m.CardCaptureData.SecureSessionId, new { id = "SecureSessionId", data_store = "MonthlyInstalmentSecureSessionId" })
                @Html.HiddenFor(m => m.CardCaptureData.ThreeDSecureUri, new { id = "ThreeDSecureUri", data_store = "MonthlyInstalmentThreeDSecureUri" })

            </div>

            @Html.Partial("_ContinuousPaymentAuthorityTextPartial", Model.FailedPaymentFeeAmount, new ViewDataDictionary())

            @Html.Partial("CreditAgreementPartial", creditInformationContent)
        </section>

        <div class="button-container">
            <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.PaymentSummaryUrl">Back</a>
        </div>

        @Html.HiddenFor(m => m.FirstPaymentDate)
        @Html.HiddenFor(m => m.MaxPaymentDate)
</div>

@using (Html.BeginForm("MonthlyInstallmentFormSubmit", "TakePaymentComponent", FormMethod.Post, new
{
    id = "MonthlyInstallmentForm"
}))

{
    @Html.AntiForgeryToken()
}
