﻿@using System.Web.Mvc
@model BGL.Components.TakePayment.Models.MonthlyAnnualEquivalentsViewModel

@{
        var cashPrice = Model.CashPrice;
        var creditCharge = Model.CreditCharge;
        var totalPayable = Model.TotalPayable;
}

@if (Model.DisplayAnnualEquivalent)
{
    <section>
        <h3 class="quote-payment__subheader">Summary of the annual cost for cover for comparison</h3>
        <div class="row">
            <div class="col-md-5">
                <div class="row quote-payment__annual-cost">
                    <div class="col-7">Cash price</div>
                    <div class="col-5 text-right">£@cashPrice</div>
                    <div class="col-7">Credit charge</div>
                    <div class="col-5 text-right">£@creditCharge</div>
                    <div class="col-7">Total amount payable</div>
                    <div class="col-5 text-right">£@totalPayable</div>
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <p class="legal-text">
                    You will receive credit agreement containing these amended figures with your documents; all other terms of your credit agreement remain the same.
                </p>
                <p class="legal-text">
                    Credit is provided by BFSL Limited. Registered office: Pegasus House, Bakewell Road, Orton Southgate, Peterborough, PE2 6YS. BISL Limited is not independent as both BISL Limited and BFSL Limited are part of the BGL Group of Companies.
                </p>
            </div>
        </div>
    </section>
    <hr />
}