﻿@using System.Web.Mvc
@model BGL.Components.TakePayment.Models.MTACompleteViewModel

@{
    var name = Model.FirstName;
}

<nav class="breadcrumbs breadcrumbs--five-items" aria-label="breadcrumbs">
    <ol class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span class="breadcrumbs__link">Edit</span></li>
        <li class="breadcrumbs__item breadcrumbs__item--complete" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span class="breadcrumbs__link">Review</span></li>
        <li class="breadcrumbs__item breadcrumbs__item--complete" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span class="breadcrumbs__link">Schedule</span></li>
        <li class="breadcrumbs__item breadcrumbs__item--complete" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span class="breadcrumbs__link">Quote</span></li>
        <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">Done</li>
    </ol>
</nav>

            
<div class="row">
    <div class="col">
        <section>
            <i class="header-icon ui-icon-tick-circle"></i>
            <h1 class="text-center">
                <strong>All done @name</strong>
            </h1>
            <h2 class="light text-center">Your changes have been successful</h2>

            <span class="divider divider--short"></span>

            <p id="selectedEffectiveDateMessage" class="text-center"></p>
            <p class="text-center">If you have other policies with us, please ensure you update any relevant changes on those policies too</p>

            <br>

            <p class="text-center">If you have changed your vehicle we will cover your current vehicle on the date you have selected either until midnight or until you collect your new vehicle on the date of the change.</p>

            <br>
        </section>

            <hr class="my-account">

        <section>
            <div class="text-center">
                <a id="done_button" href="@Model.ComponentConfiguration.PolicyOverviewVehicleUrl" class="button button--primary button--large">Done</a>
            </div>
        </section>
    </div>
</div>

<script>
    $(document).ready(function () {
        var selectedEffectiveDateMessage = sessionStorage.getItem("selectedEffectiveDateMessage") || "";
        var originatingMTA = sessionStorage.getItem("MTAStartPage");
        if (originatingMTA) {
            $("#done_button").prop("href", originatingMTA);
        }

        $("#selectedEffectiveDateMessage").text(selectedEffectiveDateMessage);        
    });
</script>
