﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@model BGL.Components.TakePayment.Models.OneOffPaymentViewModel

@{
    ViewBag.Title = "Payment Details";
    var componentId = Model.ComponentConfiguration.Id;
}

<div id="@componentId" data-testid="@(componentId)__section">
    <h1 class="h2">
        <strong>Make a payment of &pound;@(Model.PaymentSummaryData.OneOffPaymentSummaryData.TotalAmountPayable.FormatPrice(PriceFormatConstants.PriceFormatWithZeros))</strong>
    </h1>
    <h2 class="light">Enter a Debit/Credit Card</h2>

    <br />

    @Html.Partial("_OneOffPaymentCardCapture", Model)
</div>