﻿@model BGL.Components.TakePayment.Models.PaymentTransactionsViewModel

@{
    ViewBag.Title = "Payment Activity";
    var componentId = Model.ComponentConfiguration.Id;

    const int InitialTransactionCount = 3;
}
<div id="@componentId" class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Payment activity</h3>

            <!-- Tabs Start -->
            <div class="tabs">
                <ul class="tabs-nav__list justify-content-center" role="tablist">
                    @if (@Model.TransactionsFuture.Any())
                    {
                        <li class="tabs-nav__item active" role="presentation">
                            <button aria-selected="true" id="futurePaymentsButton" data-content="tab-button" data-action="tab-future" aria-label="Future payments">Future</button>
                        </li>
                    }
                    @if (@Model.TransactionsPast.Any())
                    {
                        <li class="tabs-nav__item @(!Model.TransactionsFuture.Any() ? "active" : "")" role="presentation">
                            <button aria-selected="false"  id="historyPaymentsButton" data-content="tab-button" data-action="tab-past" aria-label="History of payments">History</button>
                        </li>
                    }
                </ul>
                <div class="tabs-content">
                    <div role="tabpanel" aria-hidden="false" class="tabs-panel active" data-content="tab-payment-activity" data-index="0">

                        <ul class="payment-activity__list">
                            @for (var i = 0; i < Model.TransactionsFuture.Take(InitialTransactionCount).Count(); i++)
                            {
                                var item = Model.TransactionsFuture.ElementAt(i);

                                <li class="payment-activity__item" data-testid="@(componentId)__future-transaction-@(i)">
                                    <div class="row">
                                        <div class="col">
                                            <strong data-testid="@(componentId)__future-transaction-type">@item.Type</strong>
                                            <br>
                                            @item.Date.ToString("dd MMMM yyyy")
                                            <br/>
                                            @if (item.LatePaymentFee == null)
                                            {
                                                <span class="pill pill--secondary payment-activity__status@(item.IsCredit ? " payment-activity__status-credit" : "")" data-testid="@(componentId)__future-transaction-status">@item.Status</span>
                                            }
                                            else
                                            {
                                                <strong>Failed payment fee</strong>
                                            }
                                        </div>
                                        <div class="col text-right">
                                            <strong class="@(item.LatePaymentFee == null ? string.Empty : "text-error")" data-testid="@(componentId)__future-transaction-amount">&pound;@(item.Amount)</strong>
                                            <br>
                                            @item.PaymentMethod
                                            @if (item.LatePaymentFee != null)
                                            {
                                                <br/>
                                                <span data-testid="@(componentId)__future-transaction-late-payment-fee">&pound;@item.LatePaymentFee</span>
                                            }
                                        </div>
                                    </div>
                                    @if (item.LatePaymentFee != null && Model.CanMakeOutstandingPayment)
                                    {
                                        <div class="row">
                                            <div class="col text-center">
                                                <a href="@Model.ComponentConfiguration.MakeOutstandingPaymentUrl" class="link link-primary payment-activity__make-payment-link" data-testid="@(componentId)__future-transaction-make-payment-link">Make a payment</a>
                                            </div>
                                        </div>
                                    }
                                </li>
                            }
                            @if (Model.TransactionsFuture.Count() > InitialTransactionCount)
                            {
                                <div data-content="all-transactions" data-type="future" class="hide">
                                    @foreach (var item in Model.TransactionsFuture.Skip(InitialTransactionCount))
                                    {
                                        <li class="payment-activity__item">
                                            <div class="row">
                                                <div class="col">
                                                    <strong>@item.Type</strong>
                                                    <br>
                                                    @item.Date.ToString("dd MMMM yyyy")
                                                    <br/>
                                                    <span class="pill pill--secondary payment-activity__status@(item.IsCredit ? " payment-activity__status-credit" : "")" data-testid="@(componentId)-status-@(item.Id)">@item.Status</span>
                                                </div>
                                                <div class="col text-right">
                                                    <strong>&pound;@(item.Amount)</strong>
                                                    <br>
                                                    @item.PaymentMethod
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </div>
                            }
                        </ul>

                    </div>
                    <div id="tab-past" role="tabpanel" aria-hidden="false" class="tabs-panel @(!Model.TransactionsFuture.Any() ? "active" : "")" data-content="tab-payment-activity" data-index="1">

                        <ul class="payment-activity__list">
                            @foreach (var item in Model.TransactionsPast.Take(InitialTransactionCount))
                            {
                                <li class="payment-activity__item">
                                    <div class="row">
                                        <div class="col">
                                            <strong>@item.Type</strong>
                                            <br>
                                            @item.Date.ToString("dd MMMM yyyy")
                                            <br />
                                            <span class="pill pill--primary payment-activity__status@(item.IsCredit ? " payment-activity__status-credit" : "")" data-testid="@(componentId)-status-@(item.Id)">@item.Status</span>
                                        </div>
                                        <div class="col text-right">
                                            <strong class="payment-activity__amount-@(item.IsCredit ? "credit" : "debit")">@(item.IsCredit ? "+" : "-")&pound;@(item.Amount)</strong>
                                            <br>
                                            @item.PaymentMethod
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (Model.TransactionsPast.Count() > InitialTransactionCount)
                            {
                                <div data-content="all-transactions" data-type="past" class="hide">
                                    @foreach (var item in Model.TransactionsPast.Skip(InitialTransactionCount))
                                    {
                                        <li class="payment-activity__item">
                                            <div class="row">
                                                <div class="col">
                                                    <strong>@item.Type</strong>
                                                    <br>
                                                    @item.Date.ToString("dd MMMM yyyy")
                                                    <br />
                                                    <span class="pill pill--primary payment-activity__status@(item.IsCredit ? " payment-activity__status-credit" : "")" data-testid="@(componentId)-status-@(item.Id)">@item.Status</span>
                                                </div>
                                                <div class="col text-right">
                                                    <strong class="payment-activity__amount-@(item.IsCredit ? "credit" : "debit")">@(item.IsCredit ? "+" : "-")&pound;@(item.Amount)</strong>
                                                    <br>
                                                    @item.PaymentMethod
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </div>
                            }
                        </ul>

                    </div>
                </div>
            </div>
            <!-- Tabs End -->

            @if (Model.TransactionsFuture.Count() > InitialTransactionCount || Model.TransactionsPast.Count() > InitialTransactionCount)
            {
                <p class="text-center">
                    <button class="button button--primary button--large toggle-transactions" data-action="toggle-transactions">View all transactions</button>
                </p>
            }
        </div>
    </div>
</div>