﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Components.TakePayment.Models
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.TakePayment.Models.PaymentSummaryPurchaseInformationViewModel

@{
    ViewBag.Title = "Payment Summary";
    var componentId = Model.ComponentConfiguration.Id;
    var selectedPaymentType = Model.PaymentSummaryData.SelectedPaymentType;
    var isMonthly = selectedPaymentType == PaymentConstants.PaymentPlan;
}
<div class="page-section--inner">
    <div class="payment-summary-container payment-summary-container__content">
        <div class="payment-summary-container--primary">
            <div class="page-section">
                <div class="page-section--inner">
                    <h1 class="page-heading__heading">Payment summary</h1>
                    <h2 class="payment-policy-features__row--header">Your chosen payment method</h2>
                    @Html.Partial("_PaymentSummaryPaymentTypeSwitch", Model)
                </div>
            </div>
            @Html.Partial("_PaymentSummaryPolicyFeatures", Model)
        </div>
        @Html.Partial("_PaymentSummaryCostBreakdown", Model)
    </div>
</div>
@using (Html.BeginFormBgl("PaymentSummaryWithProductInformationSubmit", "TakePaymentComponent", FormMethod.Post, new
{
    id = "PaymentSummaryForm"
}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("IsMonthlyPayment", isMonthly)
    @Html.HiddenFor(x => x.IsfAmountValue)
    @Html.HiddenFor(x => x.IsDocumentByOnline)
    @Html.HiddenFor(x => x.ComponentConfiguration.AnnualUrl)
    @Html.HiddenFor(x => x.ComponentConfiguration.MonthlyInstalmentUrl)
    <div class="page-section--inner">
        <div class="button-container">
            <button class="button button--primary button--large button--right" type="submit" data-testid="@(componentId)__submit-button"><strong>Next: </strong><span>Payment details</span></button>
            <a class="button button--text button--large button--back button--left" href="@Model.ComponentConfiguration.PaymentSummaryBackButtonUrl">Back</a>
        </div>
    </div>
}