﻿@using System.Configuration
@model BGL.Components.TakePayment.Models.PaymentStatusViewModel

@{
    var updatePaymentMethodUrl = ConfigurationManager.AppSettings["UpdatePaymentMethodUrl"];
    var paymentMethodUrl = ConfigurationManager.AppSettings["PaymentMethodUrl"];
    var componentId = Model.ComponentConfiguration.Id;
}

<!DOCTYPE html>

<div class="container">

    <div class="row">
        <div class="offset-md-2 col-md-8">
            <section>
                <div class="row">
                    <div class="col">
                        <h1 class="bold">Please note:</h1>
                        @if (Model.AccountType == "Bank Account")
                        {
                            <h2 class="light">You already have a payment processing on your Direct Debit</h2>
                        }
                        else
                        {
                            <h2 class="light">You already have a payment processing on another card</h2>
                        }
                    </div>
                </div>
                <br clear="all">
                <div class="row">
                    <div class="col">
                        @if (Model.AccountType == "Bank Account")
                        {
                            <p>We have requested your next payment of &pound;@Model.Amount from direct debit @Model.AccountNumber.</p>
                        }
                        else
                        {
                            <p>We have requested your next payment of &pound;@Model.Amount from card @Model.CardNumber.</p>
                        }

                        <p>The change to your payment details will become effective after this payment has been processed.</p>
                    </div>
                </div>
            </section>
            <hr class="my-account">
            <section class="button-wrapper">
                <button id="BackPaymentMethod"
                        class="link link-primary"
                        type="button"
                        data-toggle="slide-panel"
                        data-target="#SlidePanel"
                        data-container="SlidePanelContent"
                        data-action-url="@paymentMethodUrl">
                    Back
                </button>
                <button id="ConfirmPaymentMethod"
                        class="button button--primary button--large"
                        type="button"
                        data-toggle="slide-panel"
                        data-target="#SlidePanel"
                        data-container="SlidePanelContent"
                        data-action-url="@updatePaymentMethodUrl"
                        data-testid="@(componentId)__confirm-button">
                    Confirm
                </button>
            </section>
        </div>
    </div>
</div>