﻿@using System.Web.Mvc.Html
@using System.Configuration
@using BGL.Components.TakePayment.Models
@model BGL.Components.TakePayment.Models.PaymentScheduleViewModel

@{
    var isMonthly = Model.PaymentPlanType == PaymentScheduleViewModel.PaymentSchedulePaymentPlanType.Monthly;
    var paymentMethodUrl = ConfigurationManager.AppSettings["PaymentMethodUrl"];
    var componentId = Model.ComponentConfiguration.Id;
    var brandName = Model.ComponentConfiguration.BislBrandName;
}

<div class="container payment-schedule" data-testid="@(componentId)__payment-schedule-header">
    <div class="row">
        @if (isMonthly)
        {
            if (Model.FailedScheduleLine.NumberOfFailedScheduleLines == 1)
            {
                <div class="col-lg-5 col-md-11 col-12 mb text-error" data-testid="@(componentId)__missed-single-payment">
                    <h2 class="text-error h3">
                        <strong>You have a missed payment</strong>
                    </h2>
                    <table class="table-payment text-error">
                        <thead class="visually-hidden">
                            <tr>
                                <th>Header</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="table-payment__cell"><strong>Total amount payable</strong></td>
                                <td class="table-payment__cell table-payment__cell--align-right"><strong>&pound;@Model.FailedScheduleLine.TotalAmountPayable</strong></td>
                            </tr>
                            <tr class="table-payment__row--thin">
                                <td class="table-payment__cell">
                                    Missed Payment<div>(@Model.FailedScheduleLine.MissedPaymentDate)</div>
                                </td>
                                <td class="table-payment__cell table-payment__cell--align-right">&pound;@Model.FailedScheduleLine.MissedPaymentAmount</td>
                            </tr>
                            @if (Model.FailedScheduleLine.HasMissedPaymentFee)
                            {
                                <tr class="table-payment__row--thin" data-testid="@(componentId)__missed-payment-fee-row">
                                    <td class="table-payment__cell">Missed Payment Fee</td>
                                    <td class="table-payment__cell table-payment__cell--align-right">&pound;@Model.FailedScheduleLine.MissedPaymentFee</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <p class="legal-text">We are unable to collect this amount from your nominated payment method. Please make a payment by the date specified in the letter we've sent you to bring your payments up to date to prevent your policy being cancelled. If you are struggling to make your payments please give us a call on @Model.FailedScheduleLine.ContactNumber and one of our specialists will discuss your situation with you and determine how we may be able to help you.</p>

                    @if (Model.FailedScheduleLine.CanMakeOutstandingPayment)
                    {
                        <a href="@Model.ComponentConfiguration.MakeOutstandingPaymentUrl" class="button button--primary button--large" data-testid="@(componentId)__make-a-payment-link">Make a payment</a>
                    }
                </div>
            }
            else if (Model.FailedScheduleLine.NumberOfFailedScheduleLines > 1)
            {
                <div class="col-lg-5 col-md-11 col-12 mb text-error" data-testid="@(componentId)__missed-multiple-payments">
                    <h2 class="text-error h3">
                        <strong>You have missed multiple payments</strong>
                    </h2>
                    <p>
                        As you have missed multiple payments, please give us a call on @Model.FailedScheduleLine.ContactNumber by the date specified in the letter we've sent you and one of our specialists will discuss your situation with you and determine how we may be able to help you to prevent your policy being cancelled.
                    </p>
                </div>
            }
            else
            {
                <div class="col-lg-5 col-md-11 col-12 mb" data-testid="@(componentId)__monthly-instalments-summary">
                    <div class="row">
                        <div class="col-lg-12 payment-schedule-next-payment-date">
                            <h2 class="text-brand next-payment-date-header">Next payment date</h2>
                            <span class="h2">
                                <strong>@Model.NextInstalmentDate</strong>
                            </span>
                        </div>
                        <div class="col-lg-12 payment-schedule-monthly-payment">
                            <h2 class="text-brand monthly-payments-header">Monthly payments</h2>
                            <span class="h2 light">@Model.RegularInstalmentAmount</span>
                        </div>
                    </div>
                    <p class="legal-text">Payment taken on or after @Model.InstalmentDayOfTheMonth day of each month. All payments that you make will appear on your statements as BISL LTD @(brandName).</p>
                    @if (Model.CanUpdatePaymentDate)
                    {
                        <button id="@(Model.ComponentConfiguration.Id)_ChangePaymentDate"
                                class="link link-primary"
                                type="button"
                                data-toggle="slide-panel"
                                data-target="#SlidePanel"
                                data-container="SlidePanelContent"
                                data-action-url="@Url.Action("PolicyChangeDate")"
                                data-testid="@(Model.ComponentConfiguration.Id)__change-payment-date">
                            Change payment date
                        </button>
                    }
                </div>
            }
            <div class="mob-spacer"></div>
        }
        <div class="col-lg-6 offset-md-1 col-md-11 col-12">
            <h2 class="text-brand payment-method-header">Payment method</h2>
            <div class="payment-card exisiting large @Model.Account.CssClass">
                @if (Model.Account.ViewModelType == AccountViewModel.AccountViewModelType.CreditCard)
                {
                    <small>Card number</small>
                    <span class="card-numbers" data-blanks="&bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet;">@Model.Account.LastFourDigitsOfCreditCardNumber</span>
                    <span>Expires</span>
                    <span class="exp-csv">
                        <strong>@Model.Account.ExpiryDate</strong>
                    </span>
                    <span class="card-name">
                        <strong>@Model.Account.AccountName</strong>
                    </span>
                }
                else
                {
                    <small>Sort code</small>
                    <span class="sort-code"><strong>@Model.Account.SortCode</strong></span>
                    <small>Account number</small>
                    <span class="account-number">@Html.Raw(Model.Account.AccountNumber)</span>
                    <span class="card-name">
                        <strong>@Model.Account.AccountName</strong>
                    </span>
                }
            </div>

            @if (Model.CanUpdatePaymentMethod)
            {
                <button id="ChangePaymentMethod"
                        class="link link-primary"
                        type="button"
                        data-toggle="slide-panel"
                        data-target="#SlidePanel"
                        data-confirmation="true"
                        data-container="SlidePanelContent"
                        data-action-url="@paymentMethodUrl"
                        data-testid="PaymentSchedule__change-payment-method-link">
                    Change payment method
                </button>
            }
        </div>
    </div>

</div>