﻿<div class="page-section">
    <div class="page-section--inner narrow spaced">
        <div class="page-message">
            <img class="page-message__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)icon-confirm.svg" title="Payment successful" alt=""/>
            <h1 class="h2 page-message__heading">Your payment has been successful and we are creating your policy</h1>
            <p class="page-message__sub-heading">You will receive a confirmation email shortly and your policy number is <strong id="policy-number"></strong></p>
        </div>
    </div>
</div>