@using System.Configuration
@using BGL.Web.Halifax.MotorQuote.Constants

@{
    ViewBag.Title = "Existing Customer";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}

<main>
    <div class="page-section">
        <div class="page-section--inner narrow">
            <div class="page-message">
                <h1 class="page-message__heading" id="welcome-message">Hello again!</h1>
                <p class="page-message__sub-heading">Looks like you already have a policy with us. To make sure all your details are correct it's best if we chat with you.</p>
                <p class="page-message__sub-heading" id="customer-account-id-message"><strong>Your policy number is</strong> <span id="customer-account-id"></span> </p>

                <div id="chat-link" class="button-container hide">
                    <a href="javascript:ClickChatButton('livechat');" class="button button--primary">Chat with us</a>
                </div>
                <div id="no-quote-divider" class="no-quote-divider hide" data-content="or"></div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="page-section--inner narrow">
            <div class="page-message">
                <h2 class="h4">Call us on <a href="tel:@(BrandConstants.ExistingCustomerPhoneNumber)" rel="nofollow">@(BrandConstants.ExistingCustomerPhoneNumber)</a></h2>
                @Html.Partial("_WorkingHours")
            </div>
        </div>
    </div>
</main>

<script>
    var engagementTypeCheckInterval = setInterval(checkEngagementTypeHasBeenSet, 500);

    function checkEngagementTypeHasBeenSet() {
        if (NinaVars.LP_EngagementType !== undefined && NinaVars.LP_EngagementType !== 2) {
            $('#chat-link').removeClass('hide');
            $('#no-quote-divider').removeClass('hide');
            clearInterval(engagementTypeCheckInterval);
        }
    }


    function setWelcomeMessage() {
        var firstName = sessionStorage.getItem("CustomerFirstName");
        if (firstName != undefined && firstName !== "null") {
            $("#welcome-message").text("Hello again " + firstName + "!");
        }
    }

    function setCustomerAccountIdMessage() {
        var customerAccountId = sessionStorage.getItem("CustomerAccountId");
        if (customerAccountId != undefined) {
            $("#customer-account-id").text(customerAccountId);
        }
    }

    setWelcomeMessage();
    setCustomerAccountIdMessage();
</script>

<script src="@Url.Content(ConfigurationManager.AppSettings["Nina-Block-Path"])"></script>

