@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Web.Halifax.MotorQuote.Constants

@{
    ViewBag.Title = "Existing Customer";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}

@{
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}
<script>
    window.NinaVars = window.NinaVars || {};
    window.NinaVars.isSelfService = false;
    window.NinaVars.isSales = true;
</script>
<main>
    <div class="page-section">
        <div class="page-section--inner narrow">
            <div class="page-message">
                <h1 class="page-message__heading" id="welcome-message">Hello again!</h1>
                <p class="page-message__sub-heading">We can't retrieve your quote as it has already been purchased. To manage your policy, please visit My Account</p>

            </div>
        </div>
    </div>
</main>

<script src="@Url.Content(ConfigurationManager.AppSettings["Nina-Block-Path"])"></script>

