@using BGL.Common.Configuration.Interfaces
@using BGL.Components.AdditionalDetails
@using BGL.Components.AdditionalDetails.ViewOptions
@using BGL.Components.CommonComponent
@using BGL.Components.CoverDetails
@model BGL.Components.AdditionalDetails.Models.AdditionalDetailsViewModel

@{
    ViewBag.Title = "Almost there";
    var config = DependencyResolver.Current.GetService<IConfig>();
}

@Html.ComponentRenderAlmostThere(new ComponentAdditionalDetailsConfiguration
{
    Id = "AlmostThere",
    NextPageUrl = Url.Action("PaymentSummary", "Payment"),
    ReviewPageUrl = Url.Action("SlideReview", "Review"),
    TenantConfiguration = config.GetTenantConfiguration(),
    ViewOptions = new ViewOptionsConfiguration()
    {
        NcdSourceThisVehicle = NcdSource.AcceptableProof,
        NcdSourcePreviousVehicle = NcdSource.AcceptableProof,
        NcdSourceCompanyCar = NcdSource.CompanyCarExperiencedDriver
    },
    DataStoreKey = "AlmostThere",
    ErrorConfiguration = new ComponentErrorConfiguration(),
    IsCritical = false

})


<div class="page-section--inner spaced">
    <div class="button-container">
        <button type="submit" class="button button--primary button--large button--right" id="almost-there-button" data-test-id="almost-there-button" href="@Url.Action("PaymentSummary", "Payment")" data-testid="almost-there-button">
            Next: <strong>Payment Details</strong>
        </button>
        <a class="button button--text button--back button--left"
           id="OptionalExtrasBack"
           data-testid="back-button"
           data-cover-details-addon-back-button="review"
           href="@Html.ComponentRenderAddonsBack(new ComponentCoverDetailsExtrasConfiguration()
                 {
                     PreviousStepUrl = "Index",
                     AddonOrder = new Dictionary<string, string>
                     {
                         { "No claims discount protection", "Pncd" },
                         { "Legal Protection", "MotorLegalProtectionSummary" },
                         { "RAC Breakdown Assistance", "BreakdownCoverSummary" },
                         { "Keycare", "KeyCareSummary" }
                     }
                 }).ToString()">
            Back
        </a>
    </div>
</div>
