﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.MotorClaims.MotorClaimBuilderClaimMadeViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;

    var builderUrl = Url.Action("MotorClaimsBuilder", "DriverDetailsComponentMotorClaims");

    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) 
        ? "About your motoring claim" 
        : $"About {Model.FirstName?.ToTitleCase()}'s motoring claim";

    var componentName = Model.JourneyType != JourneyTypes.MultiStepEdit ? "motorclaimbuilder" : "driverdetails.motorclaimbuilder";
}

<div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__motor-claims-container">
    @using (Html.BeginFormBgl("AddMotorClaimAfterMade", "DriverDetailsComponentMotorClaims", FormMethod.Post, new
    {
        @class = "step-form",
        id = "add-motor-claim",
        data_on_success = $"bgl.components.{componentName}.onSuccess",
        data_on_error = $"bgl.components.{componentName}.onError"
    }))
    {
        @Html.AntiForgeryToken()
        <h1 class="step-form__section-title">@sectionTitle</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">Add a motor accident or claim</h2>
        <p class="form-row__label step-form__question-label">
            @foreach (var breadcrumbPhrase in Model.Breadcrumbs.BreadcrumbsPhrases)
            {
                if (breadcrumbPhrase.Type == BreadcrumbPhraseTypes.Text)
                {
                    if (breadcrumbPhrase.Item.Value == "?")
                    {
                        <span id="questionmark">@breadcrumbPhrase.Item.Value</span>
                    }
                    else
                    {
                        <span>@breadcrumbPhrase.Item.Value</span>
                    }
                }
                if (breadcrumbPhrase.Type == BreadcrumbPhraseTypes.Link)
                {
                    if (!string.IsNullOrEmpty(@breadcrumbPhrase.Item.Code))
                    {
                        <a class="link form-row__breadcrumb-link driver-details-step-form__breadcrumb-link" 
                           data-code="@breadcrumbPhrase.Item.Code" 
                           data-testid="add-claim-or-accident-link"
                           data-next-step="@breadcrumbPhrase.Item.BuilderStep" 
                           href="@builderUrl"
                           aria-label="Back to @breadcrumbPhrase.Item.BuilderStepQuestion">@breadcrumbPhrase.Item.Value</a>
                    }
                }
            }
        </p>
        <div class="form-row">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Do you know the cost of the claim?</legend>
                @Html.RadioButtonFor(x => x.ClaimMade, true, new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "claim-has-been-made-yes" })
                @Html.LabelFor(x => x.ClaimMade, "Insurance claim made", new { @class = "form-row__label form-row__label--pill", @for = "claim-has-been-made-yes", data_testid = componentId + "__radio-button-yes" })

                @Html.RadioButtonFor(x => x.ClaimMade, false, new { @class = "form-row__input form-row__input--radio form-row__input--hidden", id = "claim-has-been-made-no" })
                @Html.LabelFor(x => x.ClaimMade, "No insurance claim made", new { @class = "form-row__label form-row__label--pill", @for = "claim-has-been-made-no", data_testid = componentId + "__radio-button-no" })

                @Html.ValidationMessageFor(x => x.ClaimMade, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__claim-has-been-made-validation-message" })
            </fieldset>
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" formnovalidate class="button button--primary button--large button--right" data-testid="@(componentId)__done-button" value="Done">Done</button>
                <a class="button button--text button--large button--back button--left" data-step-type="previous-step"
                   href="@builderUrl" data-next-step="@(Model.CurrentStep - 1)" data-testid="@(componentId)__step-back-button">Back</a>
            </div>
        </div>

        for (var i = 0; i < Model.SelectedValues.Count; i++)
        {
            @Html.Hidden($"SelectedValues[{i}][Code]", Model.SelectedValues[i].Code)
            @Html.Hidden($"SelectedValues[{i}][Value]", Model.SelectedValues[i].Value)
            @Html.Hidden($"SelectedValues[{i}][BuilderStep]", (int)Model.SelectedValues[i].BuilderStep)
        }

        @Html.HiddenFor(x => x.JourneyType)
        @Html.HiddenFor(x => x.PersonId)
        @Html.HiddenFor(x => x.DamageLevelCode)
        @Html.HiddenFor(x => x.Date)
        @Html.HiddenFor(x => x.FaultCode)
        @Html.HiddenFor(x => x.Injuries)
        @Html.HiddenFor(x => x.TypeCode)
        @Html.HiddenFor(x => x.DriverPersonId)
        @Html.HiddenFor(x => x.FirstName)
    }
</div>
