﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Components.DriverDetails.Enums
@using BGL.Components.DriverDetails.Extensions;
@model BGL.Components.DriverDetails.Models.MotorClaims.MotorClaimBuilderViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;

    var builderUrl = Url.Action("MotorClaimsBuilder", "DriverDetailsComponentMotorClaims");

    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) 
        ? "About your motoring claim" 
        : $"About {Model.FirstName?.ToTitleCase()}'s motoring claim";
}


<div class="step-form narrow driver-details-step-form" data-testid="@(componentId)__motor-claims-container">
    <h1 class="step-form__section-title">@sectionTitle</h1>
    <h2 class="step-form__heading" data-testid="step-form__heading">Add a motor accident or claim</h2>
    <p class="form-row__label step-form__question-label">
        @foreach (var breadcrumbPhrase in Model.Breadcrumbs.BreadcrumbsPhrases)
        {
            if (breadcrumbPhrase.Type == BreadcrumbPhraseTypes.Text)
            {
                if (breadcrumbPhrase.Item.Value == "?")
                {
                    <span id="questionmark">@breadcrumbPhrase.Item.Value</span>
                }
                else
                {
                    <span>@breadcrumbPhrase.Item.Value</span>
                }
            }
            if (breadcrumbPhrase.Type == BreadcrumbPhraseTypes.Link)
            {
                if (!string.IsNullOrEmpty(@breadcrumbPhrase.Item.Code))
                {
                    <a class="link form-row__breadcrumb-link driver-details-step-form__breadcrumb-link" 
                       data-code="@breadcrumbPhrase.Item.Code" 
                       data-next-step="@breadcrumbPhrase.Item.BuilderStep" 
                       href="@builderUrl" 
                       aria-label="Back to @breadcrumbPhrase.Item.BuilderStepQuestion">@breadcrumbPhrase.Item.Value</a>
                }
            }
        }
    </p>
    @if (Model.CurrentStep == MotorClaimBuilderSteps.Type)
    {
        <p class="help-text__sub-text">
            If two types apply to a single incident e.g. attempted theft of vehicle and windscreen damage, please select the type which appears first in this list.
        </p>
    }
    <div id="motor-claim-tiles" class="step-form__button-wrapper" data-current-step="@Model.CurrentStep">
        <fieldset class="form-row__field-set">
            <legend id="motor-claim-tiles-legend" class="form-row__legend form-row__legend--hidden">@Model.CurrentStep.GetDisplayName()</legend>
            @foreach (var tileItem in Model.BuilderTileItems)
            {
                <button class="button button--radio step-form__button step-form-list-option" data-code="@tileItem.Code" data-next-step="@(Model.CurrentStep + 1)" href="@builderUrl" data-testid="@(componentId)__tiles">@tileItem.Value</button>
            }
        </fieldset>
    </div>
    @Html.HiddenFor(x => x.JourneyType)
    @Html.HiddenFor(x => x.PersonId)
    @Html.HiddenFor(x => x.FirstName)
</div>

<div class="page-section--inner">
    <div class="button-container narrow">
        <a class="button button--text button--large button--back button--left" data-step-type="previous-step"
           href="@builderUrl" data-next-step="@(Model.CurrentStep - 1)" data-testid="@(componentId)__step-back-button">Back</a>
    </div>
</div>
