﻿@using System.Web.Mvc.Html
@model BGL.Components.DriverDetails.Models.UseOfOtherVehiclesWithNcdViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div class="form-row @(Model.UseOfOtherVehicles == true ? string.Empty : " hide")" id="OtherVehicleStep2">
    <div class="step-form__button-wrapper">
        <p class="step-form__question-title">Are you entitled to any no claims discount from any other vehicles?</p>
        <fieldset>
            <legend class="form-row__legend form-row__legend--hidden">Are you entitled to any no claims discount from any other vehicles?</legend>
            @Html.RadioButtonFor(x => x.HasAnyNcd, true, new { @class = "form-row__input form-row__input--hidden", id = "Other-Vehicle-Yes", data_sections = "#OtherVehicleStep3", data_store = nameof(Model.HasAnyNcd) })
            @Html.LabelFor(x => x.HasAnyNcd, "Yes", new { @for = "Other-Vehicle-Yes", @class = "form-row__label form-row__label--pill", data_testid = $"{componentId}__has-ncd-yes" })

            @Html.RadioButtonFor(x => x.HasAnyNcd, false, new { @class = "form-row__input form-row__input--hidden", id = "Other-Vehicle-No", data_sections = "#OtherVehicleStep3", data_store = nameof(Model.HasAnyNcd) })
            @Html.LabelFor(x => x.HasAnyNcd, "No", new { @for = "Other-Vehicle-No", @class = "form-row__label form-row__label--pill", data_testid = $"{componentId}__has-ncd-no" })

            @Html.ValidationMessageFor(x => x.HasAnyNcd, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__validation-has-ncd" })

        </fieldset>

    </div>
</div>
<div class="form-row @(Model.HasAnyNcd == true ? string.Empty : " hide")" id="OtherVehicleStep3">
    <p class="step-form__question-title">How many years NCD do you have on the other vehicle?</p>
    @Html.LabelFor(x => x.OtherVehicleNcdYears, "How many years NCD do you have on the other vehicle?", new { @class = "visually-hidden" })
    @Html.DropDownListFor(x => x.OtherVehicleNcdYears, Model.NcdYears, "Please select...", new { @class = "form-row__select short", data_store = nameof(Model.OtherVehicleNcdYears), data_testid = $"{componentId}__other-vehicles-ncd-years" })
    @Html.ValidationMessageFor(x => x.OtherVehicleNcdYears, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__validation-ncd-years" })
</div>

@Html.HiddenFor(x => x.CoverId)