﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.DriverDetails.Models.DriverBubblesViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration.Id;
    var header = "Great, now would you like to add another driver?";
    var helpText = "A named driver on your policy will be a person who can drive the vehicle covered on this policy with the owner's permission.";
}

<div id="@componentId" data-testid="@(componentId)__driver-bubbles-section">
    <div class="page-section">
        <div class="page-section--inner narrow">
            <div class="step-form">
                <h1 class="step-form__section-title">Additional Driver</h1>
                <div aria-live="polite" role="region">
                    @Html.RenderOpenCloseHelpText(header, helpText)
                </div>
                <div class="ssc-initials__section">
                    <div class="initials-disc__disc ssc-initials__initials-wrapper ssc-initials__initials-wrapper--main">
                        <p class="initials-disc__inner-text ssc-initials__initials">@Model.MainDriverInitials</p>
                    </div>
                    <p class="initials-disc__under-text ssc-initials__name">@Model.MainDriverFirstName @Model.MainDriverLastName</p>
                </div>

                @if (Model.FrequentDriversCount > 0)
                {
                    <div class="ssc-initials__section ssc-initials__section--secondary">
                        <div class="initials-disc__disc ssc-initials__initials-wrapper ssc-initials__initials-wrapper--secondary">
                            <p class="initials-disc__inner-text ssc-initials__initials">+@Model.FrequentDriversCount</p>
                        </div>
                        <p class="initials-disc__under-text ssc-initials__name">
                            NAMED
                            DRIVERS
                        </p>
                    </div>
                }

                @if (Model.CanAddDriver)
                {
                    @Html.HiddenFor(x => Model.CoverId)

                    <div class="ssc-initials__section ssc-initials__section--add">
                        <button id="AddDriver" class="initials-disc__disc ssc-initials__initials-wrapper ssc-initials__initials-wrapper--add"
                                aria-labelledby="AddDriverText"
                                data-toggle="slide-panel"
                                data-target="#SlidePanel"
                                data-action-url="@Url.Action("RelationshipStatus", "DriverDetailsComponent")"
                                data-testid="@(componentId)__additional_driver">
                        </button>
                        <p id="AddDriverText" class="initials-disc__under-text ssc-initials__name">add driver</p>
                    </div>
                }

                <div class="page-section--inner">
                    <div class="button-container">
                        <a class="button button--primary button--large button--right" data-testid="driver-bubbles-continue-button" href="@configuration.NextStepUrl"><strong>Continue</strong></a>
                        <a class="button button--text button--back button--left" data-testid="driver-bubbles-back-button" href="@configuration.PreviousStepUrl">Back</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
