﻿@using System.Web.Mvc.Html
@model BGL.Components.DriverDetails.Models.DriverBubblesViewModel

@{
    var configuration = Model.ComponentConfiguration;
    var componentId = configuration.Id;
    var hasFrequentDrivers = Model.FrequentDriversCount > 0;
}

<div class="profiles__wrapper" data-testid="@(componentId)__driver-bubbles-section">
    <div class="profiles">
        <div class="profile profile--animated profile--main-driver">
            @if (hasFrequentDrivers || configuration.DriverBubbleClickableForSingleDriver)
            {
                <a href="@Url.Action("Index","DriverDetails")#tab-0" id="ViewMainDriver" aria-label="View details on the policy holder">
                    <span class="profile__initials" aria-hidden="true">@Model.MainDriverInitials</span>
                    <p class="profile__name">@Model.MainDriverFirstName @Model.MainDriverLastName</p>
                    <p class="profile__type">POLICY HOLDER</p>
                </a>
            } else
            {
                <div>
                    <span class="profile__initials" aria-hidden="true">@Model.MainDriverInitials</span>
                    <p class="profile__name">@Model.MainDriverFirstName @Model.MainDriverLastName</p>
                    <p class="profile__type">POLICY HOLDER</p>
                </div>
            }
        </div>
        @if (hasFrequentDrivers)
        {
            <div class="profile profile--animated profile--named-drivers">
                <a href="@Url.Action("Index","DriverDetails")#tab-1" id="ViewNamedDrivers" aria-label="View details on the named drivers">
                    <span class="profile__initials profile__initials--named-drivers" aria-hidden="true">+@Model.FrequentDriversCount</span>
                    <p class="profile__name profile__name--named-drivers">NAMED DRIVERS</p>
                </a>
            </div>
        }
        @if (Model.CanAddDriver)
        {
            @Html.HiddenFor(x => Model.CoverId)
            <div class="profile profile--animated profile--add-drivers">
                <button id="AddDriver"
                        aria-label="Add driver"
                        data-toggle="slide-panel"
                        data-target="#SlidePanel"
                        data-confirmation="true"
                        data-action-url="@Url.Action("RelationshipStatus", "DriverDetailsComponent")"
                        data-testid="@(componentId)__additional_driver">
                    <span class="profile__initials profile__initials--add" aria-hidden="true">
                        +
                    </span>
                    <p class="profile__name profile__name--add">ADD DRIVER</p>
                </button>
            </div>
        }
    </div>
</div>
