﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.Address.AddressViewModel


@{
    var componentId = Model.ComponentConfiguration.Id;
    string submitController = "DriverDetailsComponent";
    string successCallback = "bgl.components.editaddress.onSuccessConfirmation";
    string errorCallback = "bgl.components.editaddress.onError";
    var dataStoreKey = Model.DataStoreKey;


    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitController = "DriverDetailsComponentAddress";
        successCallback = "bgl.components.driverdetails.searchaddress.onSuccessConfirmation";
        errorCallback = "bgl.components.driverdetails.searchaddress.onError";
    }
}

    <div id="@componentId" class="narrow" data-component-id="@componentId" data-testid="@(componentId)__confirmation-address-view">
        @if (Model.ComponentConfiguration.IsService)
        {
            @Html.Partial("_ProgressBar");
        }

        @using (Html.BeginFormBgl("ConfirmationAddressPost", submitController, FormMethod.Post, new
        {
            @class = "step-form",
            data_on_success = successCallback,
            data_on_error = errorCallback,
            data_store_key = dataStoreKey,
            data_step = "confirm"
        }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.HasChanges, new { data_store_skip = "true" })
            @Html.HiddenFor(model => model.AddressId)
            @Html.HiddenFor(model => model.Line1, new { data_store_skip = "true" })
            @Html.HiddenFor(model => model.Line2, new { data_store_skip = "true" })
            @Html.HiddenFor(model => model.Line3, new { data_store_skip = "true" })
            @Html.HiddenFor(model => model.Line4, new { data_store_skip = "true" })
            @Html.HiddenFor(model => model.Line5, new { data_store_skip = "true" })
            @Html.HiddenFor(model => model.PostCode, new { data_store_skip = "true" })
            @Html.HiddenFor(model => model.JourneyType)


            if (Model.ComponentConfiguration.JourneyType != JourneyTypes.SingleEdit)
            {
                @Html.HiddenFor(model => model.QuoteId)
                <input type="hidden" data-store="FirstName" name="FirstName" />
                <input type="hidden" data-store="LastName" name="LastName" />
                <input type="hidden" data-store="Title" name="Title" />
                <input type="hidden" data-store="DateOfBirth" name="DateOfBirth" />
                <input type="hidden" data-store="MaritalStatusCode" name="MaritalStatusCode" />
            }

            <h1 class="step-form__section-title">About you</h1>
            <h2 class="step-form__heading" data-testid="step-form__heading">Your address</h2>

            <div class="form-row">
                <div class="address">
                    <p class="address__line">
                        @Model.Line1
                    </p>
                    <p class="address__line">
                        @Model.Line2
                    </p>
                    <p class="address__line">
                        @Model.Line3
                    </p>
                    <p class="address__line">
                        @Model.Line4
                    </p>
                    <p class="address__line">
                        @Model.Line5
                    </p>
                    <p class="address__line">
                        @Model.PostCode
                    </p>
                </div>
            </div>

            <a class="link link--primary ajax-address-link" href="@Url.Action("SearchAddress", submitController)" tabindex="0" data-testid="@(componentId)__search-address-link">No, this is not my address</a>

            <div class="slide-panel-nav">
                <button type="submit" formnovalidate class="button button--primary button--large button--right" tabindex="0" data-testid="@(componentId)__submit-button">Yes, this is my address</button>
                <span>
                    <a href="#" class="button button--text button--back back-button-link" tabindex="0" data-testid="@(componentId)__back-link">Back</a>
                </span>
            </div>
        }
    </div>

