﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.DriverDetails.Models.ContactInformationPolicyViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = $"{componentId}-form";
}

<div class="narrow" data-component-id="@componentId" data-testid="@(componentId)__contact-information">

    @using (Html.BeginFormBgl("ContactInformationPolicyPost", "DriverDetailsComponent", FormMethod.Post, new
    {
        @class = "step-form",
        id = formId,
        data_on_success = "bgl.components.contactinformationpolicy.onSuccess",
        data_on_error = "bgl.components.contactinformationpolicy.onError",
        data_store_key = $"{Model.DataStoreKey}"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PersonId)

        <h1 class="step-form__section-title">Your contact details</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">What are your contact details?</h2>

        <div class="form-row">
            @Html.LabelFor(model => model.MobilePhoneNumber, new { @class = "form-row__label" })
            @Html.TextBoxForBgl(model => model.MobilePhoneNumber, new { @class = "form-row__input form-row__input--full-width", type = "tel", maxLength = 13, tabindex = 0, data_testid = $"{componentId}__mobile-phone-number" })
            @Html.ValidationMessageFor(model => model.MobilePhoneNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__mobile-phone-number-validation-message" })
        </div>

        <div class="form-row">
            @Html.LabelFor(model => model.HomePhoneNumber, new { @class = "form-row__label" })
            @Html.TextBoxForBgl(model => model.HomePhoneNumber, new { @class = "form-row__input form-row__input--full-width", type = "tel", maxLength = 13, tabindex = 0, data_testid = $"{componentId}__home-phone-number" })
            @Html.ValidationMessageFor(model => model.HomePhoneNumber, string.Empty, new { @class = "form-row__validation-text", data_testid = $"{componentId}__home-phone-number-validation-message" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right" tabindex="0" data-testid="@(componentId)__done-button">Done</button>
            </div>
        </div>
    }
</div>

