﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.CriminalConvictions.CriminalConvictionsWizardViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var backButtonUrl = Url.Action("CriminalConvictions", Model.JourneyType != JourneyTypes.MultiStepEdit ? "DriverDetailsComponent" : "DriverDetailsComponentCriminalConvictions");
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) 
        ? "About your non-motoring conviction" 
        : $"About {Model.FirstName?.ToTitleCase()}'s non-motoring conviction" ;

    var componentJSName = Model.JourneyType == JourneyTypes.MultiStepEdit ? "driverdetails.criminalconvictions" : "criminalconvictions";

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        sectionTitle = "About your non-motoring conviction";
    }
}

    <div class="narrow" id="@componentId" data-component-id="@componentId">
        @using (Html.BeginFormBgl("CriminalConvictionsAddAnother", "DriverDetailsComponentCriminalConvictions", FormMethod.Post,
            new
            {
                id = "criminal-convictions-addanother-step1",
                data_on_success = $"bgl.components.{componentJSName}.criminalconvictionsDateOnSuccess",
                data_on_error = $"bgl.components.{componentJSName}.criminalconvictionsDateOnError",
                @class = "step-form",
                data_testid = $"{componentId}__criminal-convictions-step-1-form"
            }))
        {
            <h1 class="step-form__sub-heading">@sectionTitle</h1>
            <h2 class="step-form__heading" data-testid="step-form__heading">What was the conviction date?</h2>

            <fieldset>
                <legend class="visually-hidden">What was the conviction date?</legend>
                <div class="form-row__inline-wrapper uk-resident-dropdowns">
                    <div class="form-row">
                        <div class="form-row__input-wrapper form-row__input-wrapper--half">
                            @Html.LabelFor(x => x.Month, "What Month?", new { @class = "form-row__label", @for = "Criminal-Conviction-Month" })
                            @Html.DropDownListFor(x => x.Month, Model.Months, "Please select...", new { tabindex = "0", @class = "form-row__select", id = "Criminal-Conviction-Month", data_testid = componentId + "__month_dropdownlist" })
                            <div class="form-row__error-text-container">
                                @Html.ValidationMessageFor(x => x.Month, string.Empty,
                                    new { @class = "form-row__validation-text", data_testid = componentId + "__month_validation-message" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-row__input-wrapper form-row__input-wrapper--half">
                            @Html.LabelFor(x => x.Month, "What Year?", new { @class = "form-row__label", @for = "Criminal-Conviction-Year" })
                            @Html.DropDownListFor(x => x.Year, Model.Years, "Please select...", new { tabindex = "0", @class = "form-row__select", id = "Criminal-Conviction-Year", data_testid = componentId + "__year_dropdownlist" })
                            <div class="form-row__error-text-container">
                                @Html.ValidationMessageFor(x => x.Year, string.Empty,
                                    new { @class = "form-row__validation-text", data_testid = componentId + "__year_validation-message" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="page-section--inner">
                <div class="button-container">
                    <button type="submit" class="button button--primary button--large button--right" tabindex="0" id="criminal-convictions-step1-continue-button" data-href="#" data-testid="@(componentId)__continue-button">Continue</button>
                    @if (Model.JourneyType == JourneyTypes.SingleEdit || Model.JourneyType == JourneyTypes.AdditionalDriver)
                    {
                        <a class="button button--text button--large button--back button--left" tabindex="0" data-step-type="previous-step" href="@backButtonUrl" data-testid="@(componentId)__step-back-button">Back</a>
                    }
                </div>
            </div>

            @Html.HiddenFor(m => m.JourneyType)
            @Html.HiddenFor(m => m.FirstName)
            @Html.Hidden("CurrentYear", DateTime.Today.Year)
            @Html.Hidden("CurrentMonth", DateTime.Today.ToString("%M"))
            @Html.Hidden("PersonBirthMonth", Model.PersonDateOfBirth.Month)
            @Html.Hidden("PersonBirthYear", Model.PersonDateOfBirth.Year)
            @Html.HiddenFor(x => x.MonthText)
            @Html.HiddenFor(x => x.PersonId)
            @Html.HiddenFor(x => x.CriminalConvictionStep, new { Value = (int)CriminalConvictionStep.ConvictionType })
            }

            @Html.Hidden("UrlToWizard", Url.Action("CriminalConvictionsAddAnother", "DriverDetailsComponentCriminalConvictions"))
    </div>
