﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.CriminalConvictions.CriminalConvictionsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var imageSourcePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;
    var deleteMotorCriminalConvictionUrl = Url.Action("CriminalConvictionDelete", "DriverDetailsComponentCriminalConvictions");
    var componentJsName = Model.JourneyType == JourneyTypes.MultiStepEdit ? "driverdetails.criminalconvictions" : "criminalconvictions";
    var sectionTitle = "Claims and Convictions";
    var header = string.IsNullOrEmpty(Model.FirstName) ? 
        "Have you got any unspent non-motoring related convictions?" 
        : $"Has {Model.FirstName?.ToTitleCase()} got any unspent non-motoring related convictions?";
    var helpText = "Non motoring convictions refer to offences made whilst not driving on the road, for example, offences such as theft, assault, and fraud. You do not need to disclose convictions that are spent under the Rehabilitation of Offenders Act.";
    var backButtonUrl = Model.JourneyType == JourneyTypes.SingleEdit ? string.Empty : Model.ComponentConfiguration.PreviousStepUrl;
    var hideSubmitButtonClass = Model.JourneyType != JourneyTypes.MultiStepEdit ? string.Empty : "hide";
    
    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        sectionTitle = "Additional driver";
        backButtonUrl = Url.Action("MotorConvictions", "DriverDetailsComponent");
    }
    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        header = "Have you got any unspent non-motoring related convictions?";
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">
    @if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        <div data-target="#SlidePanel" data-toggle="slide-panel"></div>
    }

    @using (Html.BeginFormBgl("CriminalConvictionsConfirm", "DriverDetailsComponentCriminalConvictions", FormMethod.Post,
        new
        {
            id = "criminal-convictions",
            @class = "step-form",
            data_store_key = $"{Model.DataStoreKey}",
            data_on_success = $"bgl.components.{componentJsName}.onSuccess",
            data_on_error = $"bgl.components.{componentJsName}.onError",
            data_testid = $"{componentId}__criminal-convictions-form"
        }))
    {
        @Html.AntiForgeryToken()

        <h1 class="step-form__sub-heading">@sectionTitle</h1>
        @Html.RenderOpenCloseHelpText(header, helpText)

        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Motoring claims</legend>
                @Html.RadioButtonFor(x => x.HasCriminalConvictions, true, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "has-criminal-convictions-yes" })
                @Html.LabelFor(x => x.HasCriminalConvictions, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "has-criminal-convictions-yes", id = "has-criminal-convictions-yes-label", data_testid = componentId + "__radio-button-yes", @tabindex = "0", @role = "button" })

                @Html.RadioButtonFor(x => x.HasCriminalConvictions, false, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "has-criminal-convictions-no", data_store = $"{nameof(Model.HasCriminalConvictions)}" })
                @Html.LabelFor(x => x.HasCriminalConvictions, "No", new { @class = "form-row__label form-row__label--pill", @for = "has-criminal-convictions-no", id = "has-criminal-convictions-no-label", data_testid = componentId + "__radio-button-no", @tabindex = "0", @role = "button"})

            </fieldset>
            @Html.ValidationMessageFor(x => x.HasCriminalConvictions, string.Empty, new { @class = "form-row__validation-text" })
        </div>

        @Html.HiddenFor(m => m.JourneyType)
        @Html.HiddenFor(m => m.FirstName)
        @Html.HiddenFor(x => x.PersonId, Model.PersonId)

        <div id="criminal-convictions-container" data-testid="@(componentId)__criminal-convictions-container" class="@(Model.HasCriminalConvictions == true ? string.Empty : "hide")">
            <div class="step-form__summary-block" id="Criminal-Convictions-List">
                @if (Model.HasCriminalConvictions == true)
                {
                    foreach (var motorCriminalConviction in Model.CriminalConvictionsItems)
                    {
                        <div class="step-form__summary-item criminal-conviction-item">
                            <div class="step-form__summary-label-section">
                                <p class="step-form__summary-label">
                                    <strong class="step-form__summary-label--main">
                                        @motorCriminalConviction.Type @motorCriminalConviction.Month @motorCriminalConviction.Year
                                    </strong>
                                </p>
                            </div>
                            <div class="step-form__summary-action-section">
                                <button class="link--edit step-form__action-link"
                                   data-role="delete"
                                   tabindex="0"
                                   data-url="@deleteMotorCriminalConvictionUrl"
                                   data-value="@motorCriminalConviction.Id"
                                   href="@Url.Action("DeleteCriminalConviction", "DriverDetailsComponentCriminalConvictions")"
                                   data-testid="@(componentId)__delete-criminal-conviction-link">
                                    <img class="form-row__edit-image" src="@(imageSourcePath)icon-remove.svg" alt="Remove Criminal Conviction @(@motorCriminalConviction.Type) @(@motorCriminalConviction.Month) @(@motorCriminalConviction.Year)">
                                    <span class="link__edit-text">
                                        Remove
                                        <span>
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="step-form__summary-link-block">
                <div class="step-form__summary-link-section">
                    <button class="link link--primary"
                       href="@Url.Action("CriminalConvictionsAddAnother", "DriverDetailsComponentCriminalConvictions")"
                       id="criminal-conviction-add-another"
                       data-testid="@(componentId)__criminal-conviction-add-another"
                       @(Model.JourneyType == JourneyTypes.MultiStepEdit ? "data-target=#SlidePanel data-toggle=slide-panel" : string.Empty)
                       tabindex="0">Add another</button>
                </div>
                <div class="step-form__summary-link-section">
                    <button class="link link--primary" data-testid="@(componentId)__remove-all-link" id="remove-all-criminal-convictions" tabindex="0">Remove all</button>
                </div>
            </div>
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="button"
                        class="button button--primary button--large button--right slide-panel__close @hideSubmitButtonClass"
                        id="criminal-conviction_done-button"
                        data-create-driver-url="@Url.Action("CreateDriver", "DriverDetailsComponent")"
                        data-next-step-url="@Model.ComponentConfiguration.NextStepUrl"
                        data-testid="@(componentId)__done-button">
                    @(Model.JourneyType == JourneyTypes.MultiStepEdit ? "Continue" : "Done")
                </button>

                @if (Model.JourneyType == JourneyTypes.AdditionalDriver || Model.JourneyType == JourneyTypes.MultiStepEdit)
                {
                    @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, Model.PreviousComponent);
                }
            </div>
        </div>

        @Html.Hidden("UrlToWizard", Url.Action("CriminalConvictionsAddAnother", "DriverDetailsComponentCriminalConvictions"), new { data_store_skip = "true" })
    }
</div>
