﻿@using System.Web.Mvc.Html
@model BGL.Components.DriverDetails.Models.DriverBubblesViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
}

<div id="@componentId" class="panel" data-testid="@(componentId)__driver-bubbles-section">
    <div class="review-overview__section-wrapper">
        <div class="review-overview__person">
            <div class="initials-disc">
                <div class="initials-disc__disc review-overview__person-disc">
                    <p class="initials-disc__inner-text review-overview__person-disc-text">@(Model.MainDriverInitials)</p>
                </div>
                <p class="initials-disc__under-text review-overview__person-name">
                    <span class="named-drivers__person-firstname">@Model.MainDriverFirstName</span>
                    <span class="named-drivers__person-lastname">@Model.MainDriverLastName</span>
                </p>
                <a tabindex="0" id="ViewMainDriver" aria-label="Edit Driver" data-testid="@(componentId)__driver-bubble-edit-driver">
                    <span class="initials-disc__under-text review-overview__person-link">Edit</span>
                </a>
            </div>
        </div>
        @if (Model.FrequentDriversCount > 0)
        {
            <div class="review-overview__person">
                <div class="initials-disc">
                    <div class="initials-disc__disc initials-disc__disc--secondary review-overview__person-disc">
                        <p class="initials-disc__inner-text review-overview__person-disc-text">+@(Model.FrequentDriversCount)</p>
                    </div>
                    <p class="initials-disc__under-text review-overview__person-name">
                        <span class="named-drivers__person-firstname">NAMED</span>
                        <span class="named-drivers__person-lastname">DRIVERS</span>
                    </p>
                    <a tabindex="0" id="ViewNamedDrivers" aria-label="View Named Drivers" data-testid="@(componentId)__driver-bubble-view-named-driver">
                        <span class="initials-disc__under-text review-overview__person-link">View</span>
                    </a>
                </div>
            </div>
        }

        @if (Model.CanAddDriver)
        {
            @Html.HiddenFor(x => Model.CoverId)

            <div class="review-overview__person">
                <div class="initials-disc">
                    <button id="AddDriver" class="initials-disc__disc initials-disc__disc--add review-overview__person-disc"
                            aria-labelledby="AddDriverText"
                            data-toggle="slide-panel"
                            data-target="#SlidePanel"
                            data-action-url="@Url.Action("RelationshipStatus", "DriverDetailsComponent")"
                            data-testid="@(componentId)__additional_driver"></button>
                    <p id="AddDriverText" class="initials-disc__under-text review-overview__add-driver">ADD DRIVERS</p>
                </div>
            </div>
        }
    </div>
</div>
