﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.EmploymentStatus.EmploymentStatusViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ? "Your employment" : $"{Model.FirstName.ToTitleCase()}'s employment";

    var firstName = Model.FirstName?.ToTitleCase();

    var headerText = string.IsNullOrEmpty(Model.FirstName) ? 
        "What is your employment status?"
        : $"What is {firstName}'s employment status?";

    var helpText = string.IsNullOrEmpty(Model.FirstName) ?
        "If you are in part-time employment (under 16 hours per week), fill in your employment details in the next section."
        : $"If {firstName}'s is in part-time employment (under 16 hours per week), fill in {firstName}'s employment details in the next section.";
    var controllerName = "DriverDetailsComponent";
    var componentName = "bgl.components.employmentstatusbuilder";
    var submitButtonClassVisibility = string.Empty;
    var backButtonUrl = string.Empty;

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        submitButtonClassVisibility = "hide";
        sectionTitle = "Additional driver";
        backButtonUrl = Url.Action("MaritalStatus", "DriverDetailsComponent");
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitButtonClassVisibility = "hide";
        componentName = "bgl.components.driverdetails.employmentstatus";
        controllerName = "DriverDetailsComponentEmployment";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
    }

    var displayCloseBackButton = string.IsNullOrWhiteSpace(backButtonUrl) && Model.ComponentConfiguration.IsService && !Model.ComponentConfiguration.IsInitialChange;
}

@if (Model.ComponentConfiguration.IsService)
{
    @Html.Partial("_ProgressBar");
}

@using (Html.BeginFormBgl("ValidateEmploymentStatus", controllerName, FormMethod.Post, new
{
    id = "employment_status_form",
    @class = "step-form",
    data_on_success = $"{componentName}.onSuccess",
    data_on_error = $"{componentName}.onError",
    data_store_key = $"{Model.DataStoreKey}",
    data_next_journey_component = "employmentstatusbuilder",
    data_testid = $"{componentId}__employment-status-form"
}))
{
    <h1 class="step-form__section-title">@sectionTitle</h1>
    if (Model.ComponentConfiguration.IsService)
    {
        <h2 class="step-form__heading" data-testid="step-form__heading">@headerText</h2>
    }
    else
    {
        <div aria-live="polite" role="region">
            @Html.RenderOpenCloseHelpText(headerText, helpText)
        </div>
    }
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.HasChanges, new { data_store_skip = "true" })
    @Html.HiddenFor(model => model.PersonOccupationStep)

    if (Model.JourneyType != JourneyTypes.MultiStepEdit)
    {
        @Html.HiddenFor(model => model.PersonId)
        @Html.HiddenFor(model => model.JourneyType)
        @Html.HiddenFor(model => model.FirstName)
    }

    <div class="form-row addon-radio__wrapper">
        <fieldset>
            <legend class="visually-hidden">@headerText</legend>
            @for (var i = 0; i < Model.EmploymentStatuses.Count; i++)
            {
                var status = Model.EmploymentStatuses[i];

                @Html.RadioButtonFor(m => m.EmploymentStatusId, status.Key, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "Your-Status-" + status.Key, data_store = $"{nameof(Model.EmploymentStatusId)}" })
                @Html.LabelFor(m => m.EmploymentStatusId, status.Value, new { @class = "form-row__label form-row__label--pill", @for = "Your-Status-" + status.Key, data_testid = $"{componentId}__statuses", @role = "button", @tabindex = "0", @data_disable_submit=true })
            }

        </fieldset>
        @Html.ValidationMessageFor(x => x.EmploymentStatusId, string.Empty, new { @class = "form-row__validation-text" })
    </div>

    <div class="page-section--inner">
        <div class="button-container">
            <button type="submit"
                    formnovalidate
                    name="submitButton"
                    tabindex="0"
                    title="Submit button"
                    data-disable-submit
                    class="button button--primary button--large button--right @submitButtonClassVisibility"
                    data-testid="@(componentId)__continue-button" value="Continue">
                Continue
            </button>

            @if (displayCloseBackButton)
            {
                <a href="#" class="button button--text button--large button--back button--left" data-testid="@(componentId)__back-button" data-dismiss="slide-panel" aria-label="Back">Back</a>
            }
            else
            {
                @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, "maritalstatus", true)
            }
        </div>
    </div>
}


