﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.EmploymentStatus.ExistencePartTimeOccupationViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = "existence_part_time_occupation_form";

    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ?
        "Your employment"
        : $"{Model.FirstName.ToTitleCase()}'s employment";
    var headerText = string.IsNullOrEmpty(Model.FirstName) ? 
        "Are you in part-time employment?" 
        : $"Is {Model.FirstName.ToTitleCase()} in part-time employment?";
    var controllerName = "DriverDetailsComponent";
    var componentName = "bgl.components.employmentstatusbuilder";
    var submitButtonClassVisibility = string.Empty;
    var backButtonUrl = string.Empty;

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        submitButtonClassVisibility = "hide";
        sectionTitle = "Additional driver";
        backButtonUrl = Model.BackButtonUrl;
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitButtonClassVisibility = "hide";
        componentName = "bgl.components.driverdetails.employmentstatus";
        controllerName = "DriverDetailsComponentEmployment";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
    }
}

@using (Html.BeginFormBgl("ConfirmHasPartTimeOccupation", controllerName, FormMethod.Post, new
{
    id = formId,
    @class = "step-form",
    data_on_success = $"{componentName}.onSuccess",
    data_on_error = $"{componentName}.onError",
    data_store_key = $"{Model.DataStoreKey}",
    data_next_journey_component = "ukresidentfiveyears",
    data_testid = $"{componentId}__part-time-status-form"
}))
{
    <h1 class="step-form__section-title">@sectionTitle</h1>
    <h2 class="step-form__heading" data-testid="step-form__heading">
        <strong>@headerText</strong>
        <span class="step-form__heading--sub-text">(less than 16 hours a week)</span>
    </h2>
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.PersonOccupationStep)
    @Html.HiddenFor(model => model.HasChanges, new { data_store_skip = "true" })

    if (Model.JourneyType != JourneyTypes.MultiStepEdit)
    {
        @Html.HiddenFor(model => model.PersonId)
        @Html.HiddenFor(m => m.JourneyType)
        @Html.HiddenFor(m => m.FirstName)
    }

    <div class="step-form__button-wrapper">
        <div class="form-row addon-radio__wrapper">
            <fieldset>
                <legend class="visually-hidden">@headerText</legend>
                @Html.RadioButtonFor(m => m.HasPartTimeOccupation, true, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "has_part_time_occupation_true", data_store = $"{nameof(Model.HasPartTimeOccupation)}" })
                @Html.LabelFor(m => m.HasPartTimeOccupation, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "has_part_time_occupation_true", data_testid = $"{componentId}__has_part_time_occupation", @role = "button", @tabindex = "0" })

                @Html.RadioButtonFor(m => m.HasPartTimeOccupation, false, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "has_not_part_time_occupation_true", data_store = $"{nameof(Model.HasPartTimeOccupation)}" })
                @Html.LabelFor(m => m.HasPartTimeOccupation, "No", new { @class = "form-row__label form-row__label--pill", @for = "has_not_part_time_occupation_true", data_testid = $"{componentId}__has_not_part_time_occupation", @role = "button", @tabindex = "0" })
            </fieldset>
            @Html.ValidationMessageFor(x => x.HasPartTimeOccupation, string.Empty, new { @class = "form-row__validation-text" })
        </div>

    </div>

    <div class="page-section--inner">
        <div class="button-container">
            <button type="submit"
                    formnovalidate
                    name="submitButton"
                    tabindex="0"
                    title="Submit button"
                    class="button button--primary button--large button--right @submitButtonClassVisibility"
                    data-testid="@(componentId)__continue-button" value="Continue">
                Continue
            </button>

            @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, "employmentstatusbuilder")
        </div>
    </div>
}
