﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.HomeOwnerViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var hideClassName = string.Empty;
    var submitButtonName = "Done";
    var backButtonUrl = string.Empty;
    var componentName = "bgl.components.homeowner";
    var controllerName = "DriverDetailsComponent";

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitButtonName = "Continue";
        hideClassName = "hide";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
        componentName = "bgl.components.driverdetails.homeowner";
        controllerName = "DriverDetailsComponentHomeOwner";
    }

}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl("HomeOwnerConfirm", controllerName, FormMethod.Post, new
    {
        id = "home-owner",
        @class = "step-form",
        data_on_success = $"{componentName}.onSuccess",
        data_on_error = $"{componentName}.onError",
        data_store_key = Model.DataStoreKey
    }))
    {
        @Html.AntiForgeryToken()

        <h1 class="step-form__section-title">About you</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">Are you a home owner?</h2>

        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden"></legend>

                @Html.RadioButtonFor(x => x.IsHomeOwner, true, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "home-owner-yes", data_store = nameof(Model.IsHomeOwner) })
                @Html.LabelFor(x => x.IsHomeOwner, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "home-owner-yes", data_testid = componentId + "__radio-button-yes", @role = "button", tabindex = "0" })

                @Html.RadioButtonFor(x => x.IsHomeOwner, false, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "home-owner-no", data_store = nameof(Model.IsHomeOwner) })
                @Html.LabelFor(x => x.IsHomeOwner, "No", new { @class = "form-row__label form-row__label--pill", @for = "home-owner-no", data_testid = componentId + "__radio-button-no", @role = "button", tabindex = "0" })

            </fieldset>
            @Html.ValidationMessageFor(x => x.IsHomeOwner, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__radio-button-error" })
        </div>

        if (Model.HomeInsuranceDueQuestion?.ResponseOptions?.Any() == true)
        {
            <div class="step-form__home-insurance @(Model.IsHomeOwner != true ? "hide" : string.Empty)" id="home-insurance-due-dropdowns">
                <div class="form-row form-row--multi-input">
                    <label for="Home-Insurance-Due-Month" class="form-row__label">@Model.ComponentConfiguration.MarketingQuestion</label>
                    <p class="help-text__sub-text">If you provide this date and opt to receive marketing from us, then we may contact you around this time with relevant products and offers.</p>
                    <div class="form-row__input-wrapper form-row__input-wrapper--short">
                        @Html.DropDownListFor(x => x.HomeInsuranceDueQuestion.SelectedResponse, Model.HomeInsuranceDueQuestion.ResponseOptions, "Month", new { @class = "form-row__select", id = "Home-Insurance-Due-Month", data_testid = componentId + "__month_dropdownlist", data_store = "HomeInsuranceDueQuestion.SelectedResponse" })
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.HomeInsuranceDueQuestion.MarketingQuestionId, new { data_store_skip = "true" })
        }

        @Html.HiddenFor(model => model.HasChanges, new { data_store_skip = "true" })

        if (Model.JourneyType != JourneyTypes.MultiStepEdit)
        {
            @Html.HiddenFor(x => x.PersonId)
        }

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right @hideClassName" data-testid="@(componentId)__@(submitButtonName.ToLower())-button" value="@submitButtonName" formnovalidate>@submitButtonName</button>

                @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, null)
            </div>
        </div>
    }
</div>
