﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Mvc.Helpers
@model BGL.Components.DriverDetails.Models.InformationSourceViewModel

@{
    const string baseScriptName = "bgl.components.driverdetails.informationsource";
    var componentId = Model.ComponentConfiguration.Id;
    var branchCodeSectionClass = Model.HasBranchCodeQuestion ? string.Empty : "hide";
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl("InformationSourceConfirm", "DriverDetailsComponentMarketingQuestion", FormMethod.Post, new
    {
        id = "information-source-form",
        @class = "step-form",
        data_on_success = $"{baseScriptName}.onSuccess",
        data_on_error = $"{baseScriptName}.onError",
        data_store_key = Model.DataStoreKey
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.InformationSourceQuestion.MarketingQuestionId, new { data_store_skip = "true" })
        @Html.HiddenFor(x => x.BranchCodeQuestion.MarketingQuestionId, new { data_store_skip = "true" })

        <h1 class="step-form__section-title">About you</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">How did you hear about us?</h2>
        <div class="form-row form-row--multi-input">
            @Html.LabelFor(x => x.InformationSourceQuestion.SelectedResponse, "How did you hear about us?", new { @class = "visually-hidden" })
            @Html.DropDownListFor(x => x.InformationSourceQuestion.SelectedResponse, Model.InformationSourceQuestion.ResponseOptions, "Please select...", new { @class = "form-row__select", data_testid=$"{componentId}__information-source-dropdown", data_store = "InformationSourceQuestion.SelectedResponse" })
            <div class="form-row__error-text-container">
                @Html.ValidationMessageFor(x => x.InformationSourceQuestion.SelectedResponse, string.Empty, new { @class = "form-row__validation-text", data_testid=$"{componentId}__information-source-validation-message" })
            </div>
        </div>
        <div id="Branch-Code-Section" class="form-row form-row--multi-input form-row__branch-code @branchCodeSectionClass">
            @Html.LabelFor(x => x.BranchCodeQuestion.SelectedResponse, "If you have a leaflet, please enter the branch code found on the back (optional)", new { @class = "form-row__label sub__question" })
            @Html.TextBoxForBgl(x => x.BranchCodeQuestion.SelectedResponse, Model.BranchCodeQuestion.SelectedResponse, new { @class = "form-row__input", data_testid = $"{componentId}__branchcode-textbox", data_store = "BranchCodeQuestion.SelectedResponse" })
            @Html.ValidationMessageFor(x => x.BranchCodeQuestion.SelectedResponse, string.Empty, new { @class = "form-row__validation-text" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right" data-testid="@(componentId)__continue-button" formnovalidate>Continue</button>
                <a href="@Model.ComponentConfiguration.PreviousStepUrl" class="button button--text button--large button--left button--back back-button-link" tabindex="0" data-testid="@(componentId)__back-button">Back</a>
            </div>
        </div>

        for (var i = 0; i < Model.InformationSourceQuestion.ResponseOptions.Count; i++)
        {
            @Html.HiddenFor(x => Model.InformationSourceQuestion.ResponseOptions[i].Value, new { data_store_skip = "true" })
            @Html.HiddenFor(x => Model.InformationSourceQuestion.ResponseOptions[i].Text, new { data_store_skip = "true" })
        }
    }
</div>
