﻿@using System
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.MaritalStatusViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    string backButtonUrl = string.Empty;
    var submitButtonText = "Continue";
    var hiddenClass = string.Empty;
    string submitAction = "ValidateMaritalStatus";
    string submitController = "DriverDetailsComponent";
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) 
        ? "Your details" 
        : $"{Model.FirstName?.ToTitleCase()}'s details" ;

    var header = string.IsNullOrEmpty(Model.FirstName) 
        ? "Now tell us about yourself" 
        : $"Please confirm {Model.FirstName?.ToTitleCase()}'s marital status" ;

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        hiddenClass = "hide";
        backButtonUrl = Url.Action("AboutYou", "DriverDetailsComponent");
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        sectionTitle = "About you";
        header = "What's your marital status?";
        hiddenClass = "hide";
        submitButtonText = "Continue";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
        submitController = "DriverDetailsComponentAddressController";
        submitAction = "SearchAddress";
    }

    var displayCloseBackButton = string.IsNullOrWhiteSpace(backButtonUrl) && Model.ComponentConfiguration.IsService && !Model.ComponentConfiguration.IsInitialChange;
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @if (Model.ComponentConfiguration.IsService)
    {
        @Html.Partial("_ProgressBar");
    }

    @using (Html.BeginFormBgl(submitAction, submitController, FormMethod.Post,
        new
        {
            id = "marital-status-form",
            @class = "step-form",
            data_on_success = "bgl.components.maritalstatus.onSuccess",
            data_on_error = "bgl.components.maritalstatus.onError",
            data_store_key = $"{Model.DataStoreKey}",
            data_next_journey_component = "employmentstatusbuilder",
            data_testid = $"{componentId}__marital-status-form"
        }))
    {
        @Html.AntiForgeryToken()

        <h1 class="step-form__section-title">@sectionTitle</h1>
        <h2 class="step-form__heading" data-testid="step-form__heading">@header</h2>

        <div class="form-row addon-radio__wrapper">
            <fieldset>
                <legend class="visually-hidden">@header</legend>
                @foreach (var maritalStatus in Model.MaritalStatuses)
                {
                    @Html.RadioButtonFor(x => x.MaritalStatusCode, maritalStatus.Key, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = $"{maritalStatus.Key}-marital-status", data_store = $"{nameof(Model.MaritalStatusCode)}" })
                    @Html.LabelFor(x => x.MaritalStatusCode, maritalStatus.Value, new { @class = "form-row__label form-row__label--pill", @for = $"{maritalStatus.Key}-marital-status", data_testid = $"{componentId}__radio-button", @role = "button", @tabindex = "0"  })
                }
            </fieldset>

            @Html.ValidationMessageFor(x => x.MaritalStatusCode, string.Empty, new { @class = "form-row__validation-text" })
        </div>

        @Html.HiddenFor(x => x.HasChanges, new { data_store_skip = "true" })
        @Html.HiddenFor(m => m.JourneyType, new { data_store_skip = "true" })
        @Html.HiddenFor(x => x.FirstName, new { data_store_skip = "true" })
        @Html.HiddenFor(x => x.PersonId, new { data_store_skip = "true" })
        @Html.HiddenFor(x => x.Source, new { data_store_skip = "true" })

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right @(hiddenClass)" data-testid="@(componentId)__@(submitButtonText.ToLower())-button">@submitButtonText</button>

                @if (displayCloseBackButton)
                {
                    <a href="#" class="button button--text button--large button--left button--back" data-testid="@(componentId)__back-button" data-dismiss="slide-panel" aria-label="Back">Back</a>
                }
                else
                {
                    @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, "aboutyoudriverdetails", true)
                }
            </div>
        </div>
    }
</div>
