﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.MedicalCondition.MedicalConditionViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var firstName = Model.FirstName?.ToTitleCase();
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ? 
        "Your driving history"
        : $"{firstName}'s driving history";
    var header = string.IsNullOrEmpty(Model.FirstName) ? 
        "Do you have a medical condition that requires the DVLA to be notified?"
        : $"Does {firstName} have a medical condition that requires the DVLA to be notified?";
    var helpText = string.IsNullOrEmpty(Model.FirstName) ? 
        "Please confirm whether you suffer from any disability or medical condition that the DVLA should be aware of which could affect your ability to drive."
        : $"Please confirm whether {firstName} suffers from any disability or medical condition that the DVLA should be aware of which could affect {firstName}'s ability to drive.";
    var controllerName = "DriverDetailsComponent";
    var componentName = "bgl.components.medicalcondition";
    var submitButtonClassVisibility = string.Empty;
    var backButtonUrl = string.Empty;

    var submitButtonName = Model.MedicalCondition == true || Model.JourneyType != JourneyTypes.SingleEdit
        ? "Continue"
        : "Done";

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        submitButtonClassVisibility = "hide";
        sectionTitle = "Additional driver";
        backButtonUrl = Model.BackJourneyUrl;
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        submitButtonClassVisibility = "hide";
        componentName = "bgl.components.driverdetails.medicalcondition";
        controllerName = "DriverDetailsComponentMedicalCondition";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
    }
}

<div class="narrow" id="@componentId" data-component-id="@componentId">

    @using (Html.BeginFormBgl("MedicalConditionPost", controllerName, FormMethod.Post,
        new
        {
            id = "medical-condition",
            @class = "step-form",
            data_on_success = $"{componentName}.onSuccess",
            data_on_error = $"{componentName}.onError",
            data_store_key = $"{Model.DataStoreKey}",
            data_next_journey_component = "declinedinsurance",
            data_testid = $"{componentId}__medical-condition-form"
        }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IsOpenedFromMedicalCondition)
        @Html.HiddenFor(model => model.HasChanges, new { data_store_skip = "true" })

        if (Model.JourneyType != JourneyTypes.MultiStepEdit)
        {
            @Html.HiddenFor(model => model.Licence, new { data_store = $"{nameof(Model.Licence)}" })
            @Html.HiddenFor(model => model.PersonId)
            @Html.HiddenFor(model => model.JourneyType)
            @Html.HiddenFor(model => model.FirstName)
        }

        <h1 class="step-form__section-title">@sectionTitle</h1>
        <div aria-live="polite" role="region">
            @Html.RenderOpenCloseHelpText(header, helpText)
        </div>
        <div class="form-row addon-radio__wrapper">
            <fieldset class="form-row__field-set">
                <legend class="form-row__legend form-row__legend--hidden">Do you have a medical condition that requires the DVLA to be notified?</legend>

                @Html.RadioButtonFor(x => x.MedicalCondition, true, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "medical-yes", data_store = $"{nameof(Model.MedicalCondition)}" })
                @Html.LabelFor(x => x.MedicalCondition, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "medical-yes", data_testid = componentId + "__radio-button-medical-yes", @role = "button", @tabindex = "0" })

                @Html.RadioButtonFor(x => x.MedicalCondition, false, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "medical-no", data_store = $"{nameof(Model.MedicalCondition)}" })
                @Html.LabelFor(x => x.MedicalCondition, "No", new { @class = "form-row__label form-row__label--pill", @for = "medical-no", data_testid = componentId + "__radio-button-medical-no", @role = "button", @tabindex = "0" })

            </fieldset>
            @Html.ValidationMessageFor(x => x.MedicalCondition, string.Empty, new { @class = "form-row__validation-text" })
        </div>

        <div class="page-section--inner">
            <div class="button-container">
                <button type="submit" class="button button--primary button--large button--right @submitButtonClassVisibility"
                        formnovalidate
                        tabindex="0"
                        id="medical-done"
                        data-testid="@(componentId)__submit-button">
                    @submitButtonName
                </button>

                @Html.GenerateBackButton(componentId, Model.JourneyType, backButtonUrl, Model.PreviousComponent)
            </div>
        </div>
    }
</div>
