﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.MotorConviction.MotorConvictionsViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var resourceBasePath = Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath;
    var controllerName = Model.JourneyType != JourneyTypes.MultiStepEdit ? "DriverDetailsComponent" : "DriverDetailsComponentMotorConvictions";

    var backUrl = Model.JourneyType != JourneyTypes.MultiStepEdit ? Url.Action("MotorClaims", "DriverDetailsComponent") : Model.ComponentConfiguration.PreviousStepUrl;

    var submitButtonClassVisibility = Model.JourneyType == JourneyTypes.SingleEdit ? string.Empty : "hide";

    var addMotorConvictionUrl = Url.Action("MotorConvictionsBuilder", "DriverDetailsComponentMotorConvictions");
    var removeAllMotorConvictionsUrl = Url.Action("DeleteAllMotorConviction", "DriverDetailsComponentMotorConvictions");

    var headingText = string.IsNullOrEmpty(Model.FirstName) ?
        "In the last 5 years, have you had any motoring convictions, driving licence endorsements, fixed penalties, driving disqualifications or been banned from driving?"
        : $"In the last 5 years, has {Model.FirstName?.ToTitleCase()} had any motoring convictions, driving licence endorsements, fixed penalties, driving disqualifications or been banned from driving?";
}

<div class="narrow" id="@(componentId)-motor-convictions">
    <form id="motor-convictions" data-next-journey-component="criminalconvictions" data-next-step-url="@Url.Action("CriminalConvictions", "DriverDetailsComponent")" data-store-key="@Model.DataStoreKey" data-testid="@(componentId)__motor-convictions-form">
        <div class="step-form">
            @Html.AntiForgeryToken()

            <h1 class="step-form__section-title">
                @(Model.JourneyType == JourneyTypes.AdditionalDriver ? "Additional driver" : "Motoring convictions")
            </h1>
            <h2 class="step-form__heading" data-testid="step-form__heading">
                @headingText
            </h2>
            <div class="form-row addon-radio__wrapper">
                <fieldset class="form-row__field-set">
                    <legend class="form-row__legend visually-hidden">
                        @headingText
                    </legend>

                    @Html.RadioButtonFor(x => x.HaveMotorConvictions, true, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "motor-convictions-radio-yes", data_url = $"{addMotorConvictionUrl}", data_testid = componentId + "__input-yes" })
                    @Html.LabelFor(x => x.HaveMotorConvictions, "Yes", new { @class = "form-row__label form-row__label--pill", @for = "motor-convictions-radio-yes", data_testid = componentId + "__radio-button-yes", @role = "button", @tabindex = "0" })

                    @Html.RadioButtonFor(x => x.HaveMotorConvictions, false, new { @class = "hide form-row__input form-row__input--radio form-row__input--hidden", id = "motor-convictions-radio-no", data_need_to_delete = "false", data_store = $"{nameof(Model.HaveMotorConvictions)}", data_testid = componentId + "__input-no" })
                    @Html.LabelFor(x => x.HaveMotorConvictions, "No", new { @class = "form-row__label form-row__label--pill", @for = "motor-convictions-radio-no", data_testid = componentId + "__radio-button-no", @role = "button", @tabindex = "0" })

                </fieldset>
                @Html.ValidationMessageFor(x => x.HaveMotorConvictions, string.Empty, new { @class = "form-row__validation-text", data_testid = componentId + "__radio-button-error" })
            </div>

            <div id="motor-convictions-list" data-testid="@(componentId)__motor_conviction_list" class="@(Model.HaveMotorConvictions != true ? "hide" : string.Empty)">
                <div class="step-form__summary-block">

                    @if (Model.HaveMotorConvictions == true)
                    {
                        foreach (var item in Model.MotorConvictions)
                        {
                            <div class="step-form__summary-item">
                                <div class="step-form__summary-label-section">
                                    <p class="step-form__summary-label">
                                        <strong class="step-form__summary-label--main" data-testid="@(componentId)__motor-convictions-list-description">
                                            @item.Month @item.Year, @item.ConvictionType
                                        </strong>
                                    </p>
                                </div>
                                <div class="step-form__summary-action-section">
                                    <button class="link--edit step-form__action-link" data-role="delete" data-testid="@(componentId)__delete-motor_conviction_link" data-conviction-id="@item.Id" href="@Url.Action("DeleteMotorConviction", "DriverDetailsComponentMotorConvictions")">
                                        <img class="form-row__edit-image" src="@(resourceBasePath)icon-remove.svg" alt="Remove Motoring Conviction @(@item.Month) @(item.Year) @(item.ConvictionType)">
                                        <span class="link__edit-text">
                                            Remove
                                            <span>
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        }
                    }

                    <div class="step-form__summary-link-block">
                        @if (Model.MotorConvictions == null || Model.MotorConvictions?.Count() < 5)
                        {
                            <div class="step-form__summary-link-section">
                                <button class="link link--primary" href="@addMotorConvictionUrl" id="motor-convictions-add-another" @(Model.JourneyType == JourneyTypes.MultiStepEdit ? "data-target=#SlidePanel data-toggle=slide-panel" : string.Empty) data-testid="@(componentId)__motor-conviction-add-another">Add another</button>
                            </div>
                        }
                        @if (Model.HaveMotorConvictions == true)
                        {
                            <div class="step-form__summary-link-section">
                                <button class="link link--primary" href="@removeAllMotorConvictionsUrl" data-testid="@(componentId)__remove-all-motor-convictions-link" id="remove-all-motor-convictions">Remove all</button>
                            </div>
                        }
                    </div>

                </div>
            </div>

            <div class="page-section--inner">
                <div class="button-container">
                    <button type="button" class="button button--primary button--large button--right slide-panel__close @submitButtonClassVisibility" id="motor-conviction_done-button" data-testid="@(componentId)__done-button" data-has-convictions="@(Model.HaveMotorConvictions == true)" data-remove-all-url="@removeAllMotorConvictionsUrl">
                        @(Model.JourneyType == JourneyTypes.AdditionalDriver || Model.JourneyType == JourneyTypes.MultiStepEdit ? "Continue" : "Done")
                    </button>

                    @if (Model.JourneyType == JourneyTypes.AdditionalDriver || Model.JourneyType == JourneyTypes.MultiStepEdit)
                    {
                        <a class="button button--text button--large button--back button--left" data-step-type="previous-step-journey"
                           data-component="motorclaims"
                           href="@backUrl" data-testid="@(componentId)__back-button">Back</a>
                    }
                </div>
            </div>

            @Html.HiddenFor(x => x.JourneyType)
            @Html.HiddenFor(x => x.FirstName)
            @Html.HiddenFor(x => x.PersonId)
        </div>
    </form>
</div>
