﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@using BGL.Common.Utility.Mvc.Helpers
@using BGL.Components.DriverDetails.Enums
@model BGL.Components.DriverDetails.Models.EmploymentStatus.OccupationViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var formId = "occupation_step_form";
    var firstName = Model.FirstName?.ToTitleCase();
    var sectionTitle = string.IsNullOrEmpty(Model.FirstName) ? 
        "Your employment" 
        : $"{firstName}'s employment";
    var stepTitle = string.IsNullOrEmpty(Model.FirstName) ? 
        "What is your occupation?"
        : $"What is {firstName}'s occupation";
    var componentName = "bgl.components.employmentstatusbuilder";
    var controllerName = "DriverDetailsComponent";
    var backButtonUrl = Url.Action("EmploymentStatus", "DriverDetailsComponent");
    var helpText = string.IsNullOrEmpty(Model.FirstName) ? 
        "If your job title is not listed, please select a title closest to your role."
        : $"If {firstName}'s job title is not listed, please select a title closest to {firstName}'s role.";

    if (Model.JourneyType == JourneyTypes.AdditionalDriver)
    {
        sectionTitle = "Additional driver";
    }

    if (Model.JourneyType == JourneyTypes.MultiStepEdit)
    {
        componentName = "bgl.components.driverdetails.employmentstatus";
        controllerName = "DriverDetailsComponentEmployment";
        backButtonUrl = Model.ComponentConfiguration.PreviousStepUrl;
    }
}

@if (Model.ComponentConfiguration.IsService)
{
    @Html.Partial("_ProgressBar");
}

@using (Html.BeginFormBgl("ValidateOccupation", controllerName, FormMethod.Post, new
{
    id = formId,
    @class = "step-form",
    data_on_success = $"{componentName}.onSuccess",
    data_on_error = $"{componentName}.onError",
    data_store_key = $"{Model.DataStoreKey}",
    data_testid = $"{componentId}__occupation-form"
}))
{
    <h1 class="step-form__section-title">@sectionTitle</h1>
    <h2 class="step-form__heading" data-testid="step-form__heading">
        <strong>@stepTitle</strong>
        <span class="step-form__heading--sub-text">(e.g. Teacher or Sales Assistant)</span>
    </h2>
    <p class="help-text__sub-text">@helpText</p>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.HasChanges, new { data_store_skip = "true" })
    @Html.HiddenFor(model => model.OccupationId, new { data_store = $"{nameof(Model.OccupationId)}" })
    @Html.HiddenFor(model => model.PersonOccupationStep)

    if (Model.JourneyType != JourneyTypes.MultiStepEdit)
    {
        @Html.HiddenFor(model => model.PersonId)
        @Html.HiddenFor(model => model.EmploymentStatus, new { data_store = $"{nameof(Model.EmploymentStatus)}" })
        @Html.HiddenFor(model => model.EmploymentStatusId, new { data_store = $"{nameof(Model.EmploymentStatusId)}" })
        @Html.HiddenFor(m => m.JourneyType)
        @Html.HiddenFor(m => m.FirstName)
    }

    <div class="form-row">
        @Html.LabelFor(x => x.Occupation, "Select occupation", new { @class = "visually-hidden"})
        @Html.TextBoxForBgl(x => x.Occupation, new
   {
       @class = $"form-row__input form-row__input--text {nameof(Model.Occupation)}",
       placeholder = "Type the first few letters and select from the list below...",
       autocompletesearch = Url.Action("OccupationSearch", "DriverDetailsComponentEmployment"),
       tabindex = "0",
       data_testid = $"{componentId}__occupation",
       data_store = $"{nameof(Model.Occupation)}"
   })

        @Html.ValidationMessageFor(model => model.Occupation, string.Empty, new
        {
            @class = "form-row__validation-text",
            data_testid = $"{componentId}__occupation-validation-message",
            role = "alert"
        })
    </div>

    <div class="page-section--inner">
        <div class="button-container">
            <button type="submit"
                    formnovalidate
                    name="submiButton"
                    tabindex="0"
                    title="Submit button"
                    class="button button--primary button--large button--right"
                    data-testid="@(componentId)__continue-button" value="Continue">
                Continue
            </button>
            <a class="button button--text button--large button--back button--left" data-step-type="previous-step" href="@backButtonUrl" data-testid="@(componentId)__back-button">Back</a>
        </div>
    </div>
}
