﻿@model BGL.Components.Basket.Models.BasketViewModel

@{
    var monthlyPaymentDetails = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
    var annualPaymentDetails = Model.PaymentSummaryData.AnnualPaymentSummaryData;

    var avivaCreditPhoneNumber = Model.ComponentConfiguration.AvivaCreditPhoneNumber;

    var avivaLegalText = Model.Underwriter.ToUpper() == "AVIVA"
        ? $"Credit is also available from Aviva Credit at an increased cost. If you want to continue with Aviva Credit, please call {avivaCreditPhoneNumber}."
        : string.Empty;
}

<div class="shopping-basket-details__section">
    <div id="monthly" class="@(Model.IsMonthly ? string.Empty : "hide")">
        <div class="shopping-basket-details__payment-wrapper">
            <p class="shopping-basket-details__today-price-wrapper" data-testid="amount-to-pay-today-monthly">
                <span class="shopping-basket-details__price-heading-text">To pay today</span>
                <strong class="shopping-basket-details__price-text">&pound;@monthlyPaymentDetails.DepositAmount</strong>
            </p>
            <p class="shopping-basket-details__monthly-price-wrapper" data-testid="regular-installment-amount">
                <span class="shopping-basket-details__price-heading-text">@monthlyPaymentDetails.NoOfInstallment monthly payments</span>
                <strong class="shopping-basket-details__price-text">&pound;@monthlyPaymentDetails.RegularInstallmentAmount</strong>
            </p>
        </div>
        <p class="shopping-basket-details__financial-text" data-testid="total-amount-payable">
            <span class="shopping-basket-details__financial-detail">Total amount payable: </span>
            <span class="shopping-basket-details__financial-value">&pound;@monthlyPaymentDetails.TotalAmountPayable</span>
        </p>
        <p class="shopping-basket-details__financial-text" data-testid="credit-amount">
            <span class="shopping-basket-details__financial-detail">Amount of credit: </span>
            <span class="shopping-basket-details__financial-value">&pound;@monthlyPaymentDetails.CreditAmount</span>
        </p>
        <p class="shopping-basket-details__financial-text" data-testid="credit-charge">
            <span class="shopping-basket-details__financial-detail">Charge for credit: </span>
            <span class="shopping-basket-details__financial-value">&pound;@monthlyPaymentDetails.CreditCharge</span>
        </p>
        <p class="shopping-basket-details__financial-text">
            <span class="shopping-basket-details__financial-detail">Applicable APR: </span>
            <span class="shopping-basket-details__financial-value">@monthlyPaymentDetails.ApplicableApr%</span>
        </p>
        <p class="shopping-basket-details__financial-text"  data-testid="cash-price">
            <span class="shopping-basket-details__financial-detail">Cash price:  </span>
            <span class="shopping-basket-details__financial-value">&pound;@monthlyPaymentDetails.CashPrice</span>
        </p>
        <p class="shopping-basket-details__financial-text">
            Price includes Insurance Premium Tax, where applicable
        </p>
        <p class="shopping-basket-details__legal-text" data-testid="basket-legal-text-monthly">
            Credit is provided by BFSL Limited. Registered office: Pegasus House, Bakewell Road, Orton Southgate, Peterborough, PE2 6SY.
            @avivaLegalText
            BISL Limited is not independent as both BISL Limited and BFSL Limited are part of the BGL Group of Companies.
        </p>
    </div>
    <div id="annual" class="@(Model.IsMonthly ? "hide": "shopping-basket-details__payment-wrapper")">
        <div class="shopping-basket-details__payment-wrapper">
            <p class="shopping-basket-details__monthly-price-wrapper">
                <span class="shopping-basket-details__price-heading-text">To Pay Today</span>
                <strong class="shopping-basket-details__price-text">&pound;@annualPaymentDetails.TotalAmountPayable</strong>
            </p>
        </div>
        <p class="shopping-basket-details__financial-text">
            Price includes Insurance Premium Tax, where applicable
        </p>
    </div>
</div>
