﻿@using System.Web.Mvc.Html
@using BGL.Common.Utility.Extensions
@model BGL.Components.Basket.Models.BasketViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var monthlyPaymentDetails = Model.PaymentSummaryData.MonthlyPaymentSummaryData;
    var annualPaymentDetails = Model.PaymentSummaryData.AnnualPaymentSummaryData;
    var basketNotificationMessage = $"Ok ##FIRSTNAME##, that's your quote saved 👍. You'll need to make note of your quote reference to log back in {Model.UserId}";

    var basketLegalViewName = Model.ComponentConfiguration.ViewOptions.BasketDetails.GetViewNameFromEnum(true);
}

<div id="@componentId">
    <div class="panel">
        @Html.Hidden("IsMonthly", Model.IsMonthly)
        @Html.Hidden("MonthlyPrice", monthlyPaymentDetails.RegularInstallmentAmount)
        @Html.Hidden("AnnualPrice", annualPaymentDetails.TotalAmountPayable)
        @Html.Hidden("DepositAmount", monthlyPaymentDetails.DepositAmount)
        <div class="page-header__section page-header__section--right">
            <button id="shopping-basket" class="shopping-basket" data-toggle="slide-panel" data-target="#SlidePanel" data-container="SlidePanelContent">
                <p class="shopping-basket__text">
                    <strong class="@(Model.IsMonthly ? string.Empty : "hide") shopping-basket__price" id="price-monthly">&pound;@monthlyPaymentDetails.RegularInstallmentAmount</strong>
                    <strong class="@(Model.IsMonthly ? "hide" : string.Empty) shopping-basket__price" id="price-annually">&pound;@annualPaymentDetails.TotalAmountPayable</strong>
                    <span class="@(Model.IsMonthly ? string.Empty : "hide") shopping-basket__sub-text" id="monthly-subtext">/month</span>
                </p>
            </button>
        </div>
    </div>

    <div id="basket-details" class="hide">
        <div class="quote-number">
            <p class="quote-number__text">
                <span class="quote-number__sub-text">Quote number</span>
                <span class="quote-number__number" id="quote-id-in-basket">@Model.UserId</span>
            </p>
        </div>
        <div class="panel-body">
            <div class="page-section">
                <div class="page-section--inner">

                    <div class="centered-main-heading">
                        <img class="centered-main-heading__image" src="@(Model.ComponentConfiguration.TenantConfiguration.ResourceBasePath)icon-shopping-cart.svg" alt="shopping basket">
                        <h1 class="h3 centered-main-heading__heading">
                            <span class="centered-main-heading__heading-text centered-main-heading__heading-text--bold">
                                @Model.VehicleDetails.RegistrationNo
                            </span>
                        </h1>
                        <p class="centered-main-heading__sub-text">
                            @Model.VehicleDetails.VehicleDescription
                        </p>
                        <div class="centered-main-heading__divider"></div>
                    </div>

                </div>
            </div>
            <div class="page-section">
                <div class="page-section--inner">
                    <div class="shopping-basket-details">

                        <div class="shopping-basket-details__section">
                            <div class="cover-link-list">
                                <ul class="list list--link list--tick list--vertical cover-link-list__list">
                                    @foreach (var cover in Model.IncludedCovers)
                                    {
                                        var coverDataTestId = componentId + "-cover-" + cover.Replace(" ", string.Empty);
                                        <li class="list__item cover-link-list__item">
                                            <span class="cover-link-list__link" data-testid="@coverDataTestId">@cover</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        @Html.Partial(basketLegalViewName, Model)
                    </div>

                    <div class="shopping-basket-actions">
                        <div class="shopping-basket-actions__section">
                            <p class="shopping-basket-actions__quote-text">Your quote is valid until: @Model.QuoteExpiryDate</p>
                        </div>
                        <div class="shopping-basket-actions__section">
                            <div class="button-container">
                                <button type="button"
                                        id="saveQuote"
                                        class="button button--hollow button--large shopping-basket-actions__button slide-panel__close"
                                        data-savequote="save-quote-button"
                                        data-dismiss="slide-panel"
                                        data-panel="Shopping-Basket-Panel"
                                        data-testid="@(componentId)__save-quote">
                                    Save for later
                                </button>
                                @Html.Hidden("basket-notification-message", basketNotificationMessage)

                                <button type="button"
                                        class="button button--primary button--large  shopping-basket-actions__button slide-panel__close"
                                        data-dismiss="slide-panel"
                                        data-panel="Shopping-Basket-Panel"
                                        data-testid="@(componentId)__continue-quote">
                                    Continue quote
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>