@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

$font-family-base: "Roboto", sans-serif;

$color-primary: #6859a3;
$color-green: #418529;
$color-secondary: #006bad;
$color-tertiary: #2a8381;
$color-red: #b30909;
$color-white: #fff;
$color-checked: #418529;
$color-teal: #025c69;
$color-font: #4a4a4a;
$color-font--light: #6b6b6b;
$color-primary--light: #dedbea;
$color-primary--transparent: rgba(104, 89, 163, 0.25);
$color-secondary--light: #dedbea;
$color-primary--dark: #332763;
$color-addon-error-background: #f4f3f8;
$breadcrumb__text-color: #6b6b6b;
$headings-margin-bottom: 20px;

$button-radio-background-color-selected: $color-green;
$button-radio-border-color-selected: $color-green;

//single page addon
$addon-radius: 8px;
$border-addon: 2px solid $color-primary;
$addon-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
$addon-border-radius: 10px 10px 0 0;
$breakdown-button-focus-outline: none;
$feature-subheading-font-weight: 300;

//promotion material
$spao-background-color: $color-white;
$background-promo: #e2edf3;
$text-color-promo: $color-primary;

$houston-button-help-icon-enabled: true !default;
$houston-button-background-color: #44c0ff !default;
$houston-button-border-color: #c3ebff;
$houston-va-agent-avatar-small: #44c0ff url(../images/icon-houston-avatar.svg);
$houston-va-header-avatar-border-color: #44c0ff;

$button-primary-background: $color-secondary;
$button-primary-background-hover: lighten($color-secondary, 5%);
$button-secondary-text-color-hover: #ffffff;
$button-secondary-background-hover: $color-secondary;
$button-secondary-border-hover: transparent;

$focus-text-color: #4a4a4a;
$focus-background-color: #ffe2ad;
$focus-border-color: #4a4a4a;

//mvt
$included-section--header-color: #fff;
$inclusion-list__link-color: #fff;

// PP + WI
$payment-option-min-height: 126px;
$section-policy-payment-background-color: $color-white;
$section-policy-payment-background-image: none;
$payment-option--annual-bakgound-image: none;
$payment-option--annual-active-bakgound-image: none;
$payment-option--monthly-bakgound-image: none;
$payment-option--monthly-active-bakgound-image: none;
$payment-option--annual-desktop-margin: 15px;
$payment-option--annual-desktop-radius: 10px;
$payment-option--monthly-desktop-radius: 10px;

//promote monthly
$promote-monthlyy-text: #6859a3;

// Card
$card-button-box-shadow: inset 0px 0px 0px 3px rgb(30, 148, 227),
  0px 0px 0px 3px rgb(255, 255, 255);

// Policy Selector
$policy-select-box-shadow: inset 0px 0px 0px 3px rgb(30, 148, 227),
  0px 0px 0px 3px rgb(255, 255, 255);
$menu-policy-ui-icon-color-before: $color-white;
$policy-selector-legal-text-color: $color-white;

// Document
$docs-preferences-checked-image: url("../images/icon-docs-eco.svg");

// Agreement
$agreement-checkbox-checked-before-background: $color-green;
$agreement-checkbox-checked-before-border-color: $color-green;