// Brand specific variables
@import "brand.variables";

// @import core sass;
@import "../../common/sass/01-settings/settings";
@import "../../common/sass/02-tools/tools";
@import "../../common/sass/03-generic/generic";
@import "../../common/sass/04-elements/elements";
@import "../../common/sass/05-objects/objects";
@import "../../common/sass/06-components/components";
@import "../../common/sass/07-trumps/trumps";
@import "../../common/sass/08-mvt/mvt.scss";

.legal-page-section {
  margin-top: 220px;

  @include breakpoint(920px) {
    margin-top: 250px;
  }
}

.page-header--budget {
  border-bottom: 1px solid #f4f4f4;
  background-image: linear-gradient(-134deg, #3b2667 0%, #6859a3 100%);
  position: absolute;
  width: 100%;
  height: 270px;
  z-index: 100;
  top: 0;
  left: 0;

  @include breakpoint(920px) {
    position: absolute;
    margin-bottom: 40px;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    background-image: url(../images/budget-illustration.svg),
      linear-gradient(-134deg, #3b2667 0%, #6859a3 100%);
    background-size: 100%, 100%;
    background-position-y: calc(100%), 0px;
    background-position-x: 0px, 0px;
    background-repeat: repeat-x;
  }

  &__logo {
    position: absolute;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;

    @include breakpoint(920px) {
      height: 25px;
      margin-top: 20px;
      margin-left: 60px;
      max-width: 100px;
      max-height: 51px;
    }
  }

  &__section--center {
    margin-left: 0px;
  }

  &.fixed-header {
    display: block;
    position: fixed;
    height: 70px;

    @include breakpoint(700px) {
      display: block;
      background-image: linear-gradient(#6859a3, #897bbe);
      background-position-y: 0px;
      position: fixed;
      height: 70px;
      top: 0;
      left: 0;
      animation: headerFade 0.4s ease-out forwards;
    }
  }
}

.page-header__centered-heading {
  margin-top: 85px;
  width: 80%;
  text-align: left;
  margin-left: 20px;

  @include breakpoint(900px) {
    margin: 124px 0 0 0;
    width: 100%;
    text-align: center;
  }

  &__heading {
    color: #fff;
    font-size: 1.625rem;
    letter-spacing: 0.2px;
    font-weight: 500 !important;

    @include breakpoint(900px) {
      @include font-size(45px);
      line-height: 1.2;
      margin-bottom: 0;
    }
  }

  &__heading-text {
    &--standard {
      font-weight: 300;
    }
  }

  &__text-light {
    font-weight: 300 !important;
    color: #f4f4f4;
    margin-top: 20px;
    font-size: 20px;

    @include breakpoint(900px) {
      @include font-size(30px);
    }
  }
}

.page-section__addon-questions {
  background-image: linear-gradient(134deg, #3b2667 0%, #6859a3 100%);
}

.addon-radio-question {
  &__price {
    color: #fff;
  }

  .feature-header__interest {
    color: #fff;
  }
}

@keyframes headerFade {
  from {
    opacity: 0;
    transform: translate(0, -100%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes mouse-scroll {
  from {
    opacity: 1;
    top: 10px;
  }

  70% {
    top: 25px;
  }

  100% {
    opacity: 0;
    top: 30px;
  }
}

@keyframes scroll-prompt-fade {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate(0, 100%);
  }
}

.button.button--large.button--price {
  border-color: $color-secondary;
  color: $color-secondary;
  &:hover,
  &.selected {
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
  &:focus {
    color: $focus-text-color;
    background-color: $focus-background-color;
    border: 2px dotted $focus-border-color;
    outline: none;
  }
}

.policy-inclusion__container,
.card-container__card {
  .cover-features-list__link:focus {
    border-radius: 10px;
  }
}

.text-white:focus {
  color: $focus-text-color !important;
}

.form-row__select option {
    background-color: $color-white;
}