﻿@model BGL.Components.OptionalExtras.Models.OptionalExtrasItem

<tr class="table-row table-row--static-addon">
    <th class="table-cell table-cell--label">
        <p class="addon-name"  data-testid="Optional-Extras-Static-Addon-Name">@Model.AddonName</p>
    </th>
    <td class="table-cell table-cell--addon">
        <img class="icon icon--24 addon-status" src="@(Model.ResourceBasePath)icon-tick.svg" alt="@Model.AddonAlt">
        <p class="addon-description">@Model.AddonDescription</p>
    </td>
</tr>
