﻿@using BGL.Components.OptionalExtras.Models
@model OptionalExtrasPolicyViewModel

@{
    var componentId = Model.ComponentConfiguration.Id;
    var optionalExtras = Model.OptionalExtras;
}

@if (optionalExtras.IsAccordionVisible)
{
    <li data-accordion-item data-testid="@(componentId)__coverSection-extras">
        <div class="accordion__section">
            <h2 class="h5 accordion__heading-wrapper">
                <button class="accordion__heading-button" aria-expanded="true">
                    Optional Extras
                </button>
            </h2>
            <div class="accordion__body-wrapper">
                <div class="accordion__body-content">
                    <table class="data-grid">
                        <caption class="hide" aria-hidden="true">Optional Extras</caption>
                        <tbody>
                            @if (optionalExtras.IsMotorLegalProtectionVisible)
                            {
                                @GetRow("Motor Legal Protection",
                                    "This meets your demands and needs by helping to pay legal fees charged in claiming back costs such as excess, lost earnings or personal injury compensation if you were involved in an accident that wasn't your fault.")
                            }

                            @if (optionalExtras.IsHomeLegalProtectionVisible)
                            {
                                @GetRow("Family Legal Protection",
                                    "This meets your demands and needs if you had a dispute with a neighbour, employer or another third party and need legal advice and help with legal fees.")
                            }

                            @if (optionalExtras.IsGuaranteedReplacementCarVisible)
                            {
                                @GetRow("Guaranteed Replacement Car",
                                    "This meets your demands and needs by providing you with a guaranteed replacement car if your car was stolen, un-drivable due to an accident, or if you were hit by an uninsured driver.")
                            }

                            @if (optionalExtras.IsGuaranteedReplacementVanVisible)
                            {
                                @GetRow("Guaranteed Replacement Van",
                                    "This meets your demands and needs by providing you with a guaranteed replacement van if your van was stolen, un-driveable due to an accident, or if you were hit by an uninsured driver, for more than the 7 days provided with your policy.")
                            }

                            @if (optionalExtras.IsRacBreakdownVisible)
                            {
                                @GetRow("RAC Breakdown",
                                    "This meets your demands and needs getting you back on the road if your vehicle breaks down.")
                            }

                            @if (optionalExtras.IsKeycareVisible)
                            {
                                @GetRow("Keycare",
                                    "This meets your demands and needs if your keys are lost or stolen and you need help to replace your locks and keys, or gain entry to your home or vehicle.")
                            }

                            @if (optionalExtras.IsToolsAndVanContentsCoverVisible)
                            {
                                @GetRow("Tools and Van Contents Cover",
                                    "This meets your demands and needs if your tools or personal possessions were stolen from your vehicle, helping you with the cost of replacing them.")
                            }

                            @if (optionalExtras.IsPersonalAccidentCoverVisible)
                            {

                                @GetRow("Personal Accident Cover",
                                    "This meets your demands and needs by receiving a lump sum payment for serious soft tissue injuries such as whiplash, fractures, or permanent disability after an accident.")
                            }

                            @if (optionalExtras.IsProtectedNoClaimsDiscountVisible)
                            {
                                @GetRow("No Claims Discount Protection",
                                    "")
                            }

                            @if (optionalExtras.IsPriceProtectVisible)
                            {
                                @GetRow("Price Protect",
                                    "")
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </li>
}

@helper GetRow(string name, string description)
{
    <tr>
        <th>@name</th>
        <td class="included-tick">
            <img class="icon icon--24 addon-status" src="Content/dist/images/icon-tick.svg" alt="">
            <span>@description</span>
        </td>
    </tr>
}