@using System.Configuration
@using BGL.Components.Navigation
@using BGL.Security.Web.Authentication.Services
@using BGL.Web.Halifax.MotorQuote.Constants

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutMainContent.cshtml";
    var urlContent = DependencyResolver.Current.GetService<UrlContent>();

    var pagesWithoutBackAction = new List<string>
    {
        Url.Action("Document", "DocumentDownload"), 
        Url.Action("Index", "SessionTimeout")
    };
}

<div class="page-section" data-testid="OopsComponent__section">
    <div class="page-section--inner narrow spaced">
        <div class="page-message">
            <h2 class="page-message__heading">Sorry, it looks like we are having some technical problems.</h2>
            <p class="page-message__text">Please choose an option below</p>
            <div class="page-message__divider"></div>
            <a class="button button--primary button--large page-message__button" href="@(urlContent.ConvertVirtualPathToAbsolute("~/") + ConfigurationManager.AppSettings["RetrieveCarQuoteUrl"])">Retrieve my quote</a>
            <a class="button button--primary button--large page-message__button" href="@(urlContent.ConvertVirtualPathToAbsolute("~/") + ConfigurationManager.AppSettings["NewQuoteUrl"])">Start a new quote</a>
            <p class="page-message__sub-text">Contact us on @(BrandConstants.ContactPhoneNumber)</p>
        </div>
        <div class="button-container">
            <a class="button button--text button--large button--back button--left" href="#" data-role="back-button-from-error">Back</a>
        </div>
    </div>
</div>

@Html.RegisterNavigationOppsPageBackButtonScript(pagesWithoutBackAction)