@using BGL.Common.Utility.Constants
@using BGL.Components.ContactDetails
@using BGL.Web.Halifax.MotorQuote.Constants

@{
    ViewBag.Title = "Quote Unavailable";
    Layout = "~/Views/Shared/_LayoutMainContent.cshtml";

    var customerAccountId = Request.GetOwinContext()?.Authentication?.User?.Claims?.FirstOrDefault(x => x.Type == ClaimTypes.UserId)?.Value ?? "unavailable";
}
<main>
    <div class="page-section">
        <div class="page-section--inner narrow">
            <div class="page-message">
                <h1 class="h2 page-message__heading">Sorry, it looks like we can&apos;t find a price for your amended details.</h1>
                <p class="page-message__sub-heading">Your quote reference is <strong>@customerAccountId</strong></p>
                <div class="page-message__divider"></div>
           
                <div id="chat-link" class="button-container hide">
                    <a href="javascript:ClickChatButton('livechat');" class="button button--primary">Chat with us</a>
                </div>
                <div id="no-quote-divider" class="no-quote-divider hide" data-content="or"></div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="page-section--inner narrow">
            <div class="page-message">
                @Html.ComponentRenderContactDetails(new ComponentContactDetailsConfiguration
                {
                    Id = "ContactDetailsDefault",
                    Service = "New Quotes"
                });
            </div>
        </div>
    </div>
</main>

<script>
    var engagementTypeCheckInterval = setInterval(checkEngagementTypeHasBeenSet, 500);

    function checkEngagementTypeHasBeenSet() {
        if (NinaVars.LP_EngagementType !== undefined && NinaVars.LP_EngagementType !== 2) {
            $('#chat-link').removeClass('hide');
            $('#no-quote-divider').removeClass('hide');
            clearInterval(engagementTypeCheckInterval);
        }
    }

    $(document).ready(function () {
        emitAdobeTracking();
    });

    function emitAdobeTracking() {
        bgl.common.pubsub.emit("UnableToQuote");
    };
</script>
