﻿@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Components.Navigation
@using BGL.Security.Web.Authentication.Services
@using BGL.Common.Utility.Extensions

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutMainContent.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var urlContent = DependencyResolver.Current.GetService<UrlContent>();

    var pagesWithoutBackAction = new List<string>
    {
        Url.Action("Document", "DocumentDownload"), 
        Url.Action("Index", "SessionTimeout")
    };

    var productCookie = HttpContext.Current.Request.Cookies["product"];
    string retrieveQuoteLink = productCookie != null && productCookie.Value.Equals("van", StringComparison.OrdinalIgnoreCase) ?
        ConfigurationManager.AppSettings["RetrieveVanQuoteUrl"] :
        ConfigurationManager.AppSettings["RetrieveCarQuoteUrl"];
}

<div class="page-section" data-testid="OopsComponent__section">
    <div class="page-section--inner narrow spaced">
        <div class="page-message">
            <img class="page-message__image" src="@(tenantConfiguration.ResourceBasePath)icon-houston-hurt.svg" alt="session timed out">
            <h1 class="page-message__heading">Oops, looks like we are having some technical problems...</h1>
            <p class="page-message__text">Sorry! Please choose an option below</p>
            <div class="page-message__divider"></div>
            <a class="button button--primary button--large page-message__button" href="@(urlContent.ConvertVirtualPathToAbsolute("~/") + retrieveQuoteLink)">Retrieve my quote</a>
            @*<a class="button button--primary button--large page-message__button" href="#0">Start a new quote</a>
                <p class="page-message__sub-text">Contact us on 0330 018 6307</p>*@
        </div>
        <div class="button-container">
            <a class="button button--text button--large button--back button--left" href="#" data-role="back-button-from-error">Back</a>
        </div>
    </div>
</div>

@Html.RegisterNavigationOppsPageBackButtonScript(pagesWithoutBackAction)