﻿@using System.Configuration

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";

    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];
}

<div class="page-section" data-testid="OopsComponent__section">
    <div class="page-section--inner narrow spaced">
        <div class="page-message">
            <h1 class="page-message__heading">Before continuing, please review your pre-contact credit agreement</h1>
            <p class="page-message__text">Click on the link below to open in a new window</p>
            <div class="page-message__divider"></div>
            <a class="link" href="@(documentUrl)?name=credit-information" rel="noopener" aria-label="Open Pre Contract Credit Information in new window" target="_blank">Pre Contract Credit Information</a>
        </div>
    </div>
</div>