@using BGL.Common.Configuration.Interfaces

@{
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="marketing-panel-banner">
    <img class="marketing-panel-banner__image" src="@(tenantConfiguration.ResourceBasePath)logo-ci-award.png" alt="" />
    <div class="marketing-panel-banner__content">
        <p>
            <strong>Our insurance received a Customer Intelligence Award in 2019</strong>
        </p>
        <p>Voted by you! Insurance you know you can trust.</p>
    </div>
</div>