@using BGL.Common.Configuration.Interfaces

@{
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="about-brand">
    <p class="about-brand__text">
        <strong>Affordable, quality cover you can rely on. Comes with great benefits and a 24 hour emergency claims helpline.</strong>
    </p>
    <div class="carousel" aria-labelledby="About-Brand-Carousel">
        <h3 id="About-Brand-Carousel" class="carousel__label">About us</h3>
        <ul class="carousel__list">
            <li class="carousel__slide active" data-slide="1">
                <div class="carousel__image-wrapper">
                    <img class="carousel__image" src="@(tenantConfiguration.ResourceBasePath)icon-cursor.svg" alt="" />
                </div>
                <h4 class="carousel__heading--lbg">Help yourself!</h4>
                <h5 class="carousel__text--lbg">
                    24/7 online self-service centre where you can view your policy documents, renew, add extra cover or change your details.
                </h5>
            </li>
            <li class="carousel__slide" data-slide="2">
                <div class="carousel__image-wrapper carousel__image-wrapper--trustpilot">
                    <img class="carousel__image--ci" src="@(tenantConfiguration.ResourceBasePath)logo-ci-award.png" alt="" />
                </div>
                <h4 class="carousel__heading--lbg">2018 Award</h4>
                <h5 class="carousel__text--lbg">
                    Our insurance received a Customer Intelligence Award in 2018 Voted by you! Insurance you know you can trust.
                </h5>
            </li>
            <li class="carousel__slide" data-slide="3">
                <div class="carousel__image-wrapper">
                    <img class="carousel__image" src="@(tenantConfiguration.ResourceBasePath)icon-extras.svg" alt="" />
                </div>
                <h4 class="carousel__heading--lbg">Halifax Car Extras</h4>
                <h5 class="carousel__text--lbg">
                    Unwrap a range of great leisure, motor and travel offers and discounts designed to save you money.
                </h5>
            </li>
        </ul>
        <ul class="carousel__navigation" aria-hidden="true">
            <li class="carousel__navigation-item">
                <button class="carousel__navigation-tab active" data-slide="1"><span class="hide">data 1</span></button>
            </li>
            <li class="carousel__navigation-item">
                <button class="carousel__navigation-tab" data-slide="2"><span class="hide">data 2</span></button>
            </li>
            <li class="carousel__navigation-item">
                <button class="carousel__navigation-tab" data-slide="3"><span class="hide">data 3</span></button>
            </li>
        </ul>
    </div>
</div>

