@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Constants
@using BGL.Common.Utility.Extensions
@using BGL.Components.CommonComponent
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.ViewOptions
@using BGL.Components.CoverRange
@using BGL.Components.Navigation
@using BGL.Components.Navigation.Models
@using BGL.Components.TermsAndConds
@using BGL.Components.WelcomeQuote
@using BGL.Web.Halifax.MotorQuote.Constants


@{
    ViewBag.Title = "Your Price";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var resourceBasePath = tenantConfiguration.ResourceBasePath;
    var welcomeQuoteConfiguration = new ComponentWelcomeQuoteConfiguration
    {
        Id = "SalesWelcomeQuote",
        ManufactureListInUpperCase = new List<string> { "BMW", "MG", "SEAT" },
        AvivaCreditPhoneNumber = BrandConstants.ContactPhoneNumber,
        TenantConfiguration = tenantConfiguration
    };

    bool.TryParse(Html.ComponentRenderIsComprehensive(null).ToString(), out var isComprehensive);

    bool.TryParse(Html.ComponentRenderTermsAndConditionsHasMarketingSource(new ComponentTermsAndCondsConfiguration
    {
        MarketingSourceSetupList = new Dictionary<string, MarketingSourceDetails>
        {
            ["comparethemarket"] = new MarketingSourceDetails(),
            ["gocompare"] = new MarketingSourceDetails(),
            ["moneysupermarket"] = new MarketingSourceDetails(),
            ["confusedcom"] = new MarketingSourceDetails(),
            ["quotezonecouk"] = new MarketingSourceDetails()
        }
    }).ToString(), out var isAggregatorJourney);

    var marketingSourceConfig = new ComponentTermsAndCondsConfiguration
    {
        Id = "SalesTermsAndConditionsAccurateData",
        TenantConfiguration = tenantConfiguration,
        MarketingSourceSetupList = new Dictionary<string, MarketingSourceDetails>
        {
            ["comparethemarket"] = new MarketingSourceDetails
            {
                ImageSource = "logo-ctm.svg",
                ImageAlt = "Compare the Market Logo",
                ImageTitle = "Compare the Market"
            },
            ["gocompare"] = new MarketingSourceDetails
            {
                ImageSource = "logo-gocompare.svg",
                ImageAlt = "Go Compare Logo",
                ImageTitle = "Go Compare"
            },
            ["moneysupermarket"] = new MarketingSourceDetails
            {
                ImageSource = "logo-msm.svg",
                ImageAlt = "Money Super Market Logo",
                ImageTitle = "Money Super Market"
            },
            ["confusedcom"] = new MarketingSourceDetails
            {
                ImageSource = "logo-confused.png",
                ImageAlt = "Confused.com Logo",
                ImageTitle = "Confused.com"
            },
            ["quotezonecouk"] = new MarketingSourceDetails
            {
                ImageSource = "logo-quotezone.svg",
                ImageAlt = "Quotezone Logo",
                ImageTitle = "Quotezone"
            }
        }
    };
}

<div class="banner-image"></div>
<div class="page-section section-welcome">
    <div class="page-section--inner">
        <div class="welcome-quote">
            @if (isAggregatorJourney)
            {
                <p class="legal-modules__text legal-modules__text--emphasised" data-testid="legal-index__aggregator-text">
                    We have successfully transferred your details over from
                    
                    @Html.ComponentRenderTermsAndConditionsAggregatorLogo(marketingSourceConfig)
                </p>
            }
            <h1 class="welcome-quote__heading" data-testid="SalesWelcomeQuote__welcome-quote-message">
                <span class="welcome-quote__text">
                    Hi @Html.ComponentRenderTermsAndConditionsFirstName(new ComponentTermsAndCondsConfiguration()), your car insurance quote for your
                </span>
                <strong class="welcome-quote__insured-item">
                    <span data-testid="SalesWelcomeQuote__make">
                        @Html.ComponentRenderWelcomeQuoteMakeAndModel(welcomeQuoteConfiguration)
                    </span>

                </strong>
                <span class="welcome-quote__text"> is </span>
                @Html.ComponentRenderWelcomeQuotePricesAndTypes(welcomeQuoteConfiguration)
            </h1>
        </div>
    </div>
</div>

@Html.ComponentRenderWelcomeQuotePaymentTypeForm(welcomeQuoteConfiguration)

<div class="page-section section-policy-details">
    <div class="page-section--inner form-row">

        <h2 class="section-header">Your insurance policy</h2>

        <ul class="list list--policy-details">
            @Html.ComponentRenderCoverListWidgetItem(new ComponentCoverDetailsConfiguration
            {
                Id = "CoverListWidgetCoverLevel",
                CoverFeaturePriority = new Dictionary<string, CoverFeatureItem>
                {
                    { FeatureServiceConstants.CoverLevel, new CoverFeatureItem { ViewName = "CoverLevel" } }
                },
                TenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration(),
                ViewOptions = new ViewOptionsConfiguration
                {
                    CarComprehensive = CarComprehensive.DrivingAbroad60Days,
                },
                WidgetImageUrl = resourceBasePath + "icon-tick-circle.svg"
            })

            @Html.ComponentRenderCoverRangeWidgetItem(new ComponentCoverRangeConfiguration
            {
                Id = "CoverRangeWidgetItem",
                TenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration(),
                WidgetImageUrl = resourceBasePath + "icon-calendar-primary.svg",
                IsWidget = true
            })

            @Html.ComponentRenderCoverListWidgetItem(new ComponentCoverDetailsConfiguration
            {
                Id = "CoverListWidgetNoClaimsDiscount",
                CoverFeaturePriority = new Dictionary<string, CoverFeatureItem>
                {
                    { FeatureServiceConstants.Ncd, new CoverFeatureItem { ViewName = "NoClaimsDiscount" } }
                },
                ViewOptions = new ViewOptionsConfiguration
                {
                    NoClaimsDiscountAccordion = NoClaimsDiscountAccordion.AcceptableProof,
                    NoClaimsDiscountHeader = NoClaimsDiscountHeader.WithoutInfo
                },
                TenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration(),
                WidgetImageUrl = resourceBasePath + "icon-tick-circle.svg"
            })
        </ul>

        @Html.ComponentRenderCoverListWidgetButtons(new ComponentCoverDetailsConfiguration
   {
       Id = "CoverListWidgetButtons",
       CoverFeaturePriority = new Dictionary<string, CoverFeatureItem>
           {
               { FeatureServiceConstants.NcdProtection, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName }},
               { FeatureServiceConstants.LegalProtection, new CoverFeatureItem {  ViewName = FeatureServiceConstants.FeatureUnknownViewName }},
               { FeatureServiceConstants.GuaranteedReplacementVehicle, new CoverFeatureItem {  ViewName = FeatureServiceConstants.FeatureUnknownViewName }},
               { FeatureServiceConstants.Breakdown, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName }},
               { FeatureServiceConstants.PriceProtection, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName }},
               { FeatureServiceConstants.ToolsCover, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName }},
               { FeatureServiceConstants.KeyCover, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName }},
               { FeatureServiceConstants.PersonalAccidentCover, new CoverFeatureItem { ViewName = FeatureServiceConstants.FeatureUnknownViewName }}
           },
       TenantConfiguration = tenantConfiguration,
   })
    </div>
</div>

<div class="page-section marketing-panel-section">
    <div class="page-section--inner">
        @Html.Partial("_AwardBanner")
    </div>
</div>

<div class="page-section section-policy-excess text-center">
    <div class="page-section--inner">
        <h2 class="section-header">Your excess explained</h2>

        @Html.ComponentRenderCoverExcessBar(new ComponentCoverDetailsConfiguration
        {
            Id = "CoverExcessBar",
            ExcessConfiguration = new ExcessConfiguration
            {
                VoluntaryExcessAvailableAmounts = new List<int>
                { 0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500 }
            },
            TenantConfiguration = tenantConfiguration
        })

        <p class="legal-text">Additional excesses may apply for young or inexperienced drivers.</p>
    </div>
</div>

<div class="page-section section-fbels">
    <div class="page-section--inner">
        @Html.ComponentRenderCoverLevelContent(new ComponentCoverDetailsConfiguration
        {
           Id = "CoverLevelContent",
           TenantConfiguration = tenantConfiguration,
           IsWidget = true,
           NeedToDisplayIpidLink = true,
           ViewOptions = new ViewOptionsConfiguration
           {
               CarComprehensive = CarComprehensive.DrivingAbroad60Days
           }
        })
    </div>
</div>

@if (isComprehensive)
{
    <div class="page-section section-policy-features">
        <div class="page-section--inner text-center">
            <h2 class="section-header included-section--header">Other benefits included with your policy</h2>
            @Html.ComponentRenderFeatureBanner(new ComponentCoverDetailsConfiguration
            {
                Id = "FeatureBanner",
                CoverFeaturePriority = new Dictionary<string, CoverFeatureItem>
                {
                    { FeatureServiceConstants.WindscreenCover, new CoverFeatureItem { ContentUrl = Url.Action("WindscreenCover", "CoverFeatures"), Description = "Covering the cost of repairing or replacing your glass" }},
                    { FeatureServiceConstants.PersonalBelongings, new CoverFeatureItem { ContentUrl = Url.Action("PersonalBelongings", "CoverFeatures"), Description = "We will cover your personal belongings too" }},
                    { FeatureServiceConstants.DriveOtherVehicles, new CoverFeatureItem { ContentUrl = Url.Action("DriveOtherCars", "CoverFeatures"), Description = "We may be able to cover you to drive other cars"}},
                    { FeatureServiceConstants.MedicalExpenses, new CoverFeatureItem { ContentUrl = Url.Action("MedicalExpenses", "CoverFeatures"), Description = "Cover up to \u00A3200 if you need medical help" }},
                    { FeatureServiceConstants.AudioEquipment, new CoverFeatureItem { ContentUrl = Url.Action("AudioEquipment", "CoverFeatures"), Description = "Cover for your audio, navigation and entertainment equipment" }},
                    { FeatureServiceConstants.DrivingAbroad, new CoverFeatureItem { ContentUrl = Url.Action("DrivingAbroad", "CoverFeatures"), Description = "Great news - you can take your car abroad" }},
                    { FeatureServiceConstants.CourtesyVehicle, new CoverFeatureItem { ContentUrl = Url.Action("CourtesyCar", "CoverFeatures"), Description = "Provides you with a car, subject to availability"}},
                    { FeatureServiceConstants.PersonalAccidentBenefits, new CoverFeatureItem { ContentUrl = Url.Action("PersonalAccidentBenefits", "CoverFeatures"), Description = "A range of injuries covered for you/partner"}},
                    { FeatureServiceConstants.ReplacementLocks, new CoverFeatureItem { ContentUrl = Url.Action("ReplacementLocks", "CoverFeatures"), Description = "Cover for your car door and/or boot locks"}}                
                },
                TenantConfiguration = tenantConfiguration
            })
        </div>
    </div>
}

<div class="page-section section-button-container">
    <div class="page-section--inner">
        <div class="button-container">
            <a class="button button--primary button--large button--right strong" id="next-page-button" href="@Url.Action("Index", "Extras")">Next: <span>Optional Extras</span></a>
        </div>
    </div>
</div>

@Html.SetValidationPageOnButton("next-page-button")

@section scripts{
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <script>
        $(document).ready(function () {
            emitAdobeTracking();
        });

        function emitAdobeTracking() {
            var getAppQuotedTime = new Date();

            bgl.common.pubsub.emit("ApplicationQuoted", getAppQuotedTime);
        };
    </script>
}

@section Navigation{
    @Html.ComponentRenderNavigation(new ComponentNavigationConfiguration
    {
        Id = "NavigationDefault",
        MenuKeyPointsConfig = new Dictionary<string, MenuItemConfig>
        {
            {
                "Quote", new MenuItemConfig {ParentAction = Url.Action("Index", "PricePresentation")}
            },
            {
                "Extras", new MenuItemConfig
                {
                    ParentAction = Url.Action("Index", "Extras")
                }
            },
            {
                "Review", new MenuItemConfig
                {
                    ParentAction = Url.Action("Index", "Review"),
                    ChildActions = new List<string>
                    {
                        Url.Action("Index", "AdditionalDetails")
                    }
                }
            },
            {
                "Pay", new MenuItemConfig
                {
                    ParentAction = Url.Action("PaymentSummary", "Payment"),
                    ChildActions = new List<string>
                    {
                        Url.Action("Annual", "Payment"),
                        Url.Action("AnnualSummary", "Payment"),
                        Url.Action("MonthlyInstalment", "Payment"),
                        Url.Action("MonthlyInstalmentSummary", "Payment"),
                        Url.Action("MonthlyDeposit", "Payment"),
                        Url.Action("MonthlyDepositSummary", "Payment"),
                        Url.Action("Unsuccessful", "Payment")
                    }
                }
            },
            {"Done", new MenuItemConfig {ParentAction = Url.Action("AllDone", "Payment")}}
        },
        TenantConfiguration = tenantConfiguration
    })
}