@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums
@{
    ViewBag.Title = "Your Details";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderDriverDetailsAboutYouFullNameDobEmailTelephone(new ComponentDriverDetailsConfiguration
        {
           Id = "AboutYou",
           DataStoreKey = "YourDetails",
           JourneyType = JourneyTypes.MultiStepEdit,
           NextStepUrl = Url.Action("MaritalStatus", "YourDetails"),
           TenantConfiguration = tenantConfiguration
        })
    </div>
</div>


