@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums

@{
    ViewBag.Title = "Occupation";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderDriverDetailsOccupation(new ComponentDriverDetailsEmploymentStatusConfiguration
        {
            Id = "EmploymentStatus",
            DataStoreKey = "YourDetails",
            TenantConfiguration = tenantConfiguration,
            JourneyType =  JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("EmploymentBusinessType", "YourDetails"),
            PreviousStepUrl = Url.Action("EmploymentStatus", "YourDetails"),
            StatusCodesToAskOccupation = new List<string>
            {
                "E",
                "S",
                "C",
                "D",
                "T",
                "V"
            }
        })
    </div>
</div>


