@using BGL.Common.Configuration.Interfaces
@using BGL.Components.DriverDetails
@using BGL.Components.DriverDetails.Enums

@{
    ViewBag.Title = "Marital Status";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderDriverDetailsMaritalStatus(new ComponentDriverDetailsConfiguration
        {
            Id = "MaritalStatusDefault",
            DataStoreKey = "YourDetails",
            TenantConfiguration = tenantConfiguration,
            JourneyType = JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("Address", "YourDetails"),
            PreviousStepUrl = Url.Action("Index", "YourDetails")
        })
    </div>
</div>


