.wordbreak {
    @include wordbreak;
}

.clearfix {
    @include clearfix;
}

.hide {
    display: none !important;
}

.visually-hidden {
    @include visually-hidden;
}

.text-nowrap {
    white-space: nowrap !important;
}

.d-inline-block {
    display: inline-block !important;
}

.text-truncate {
    // requires display:inline-block on element (d-inline-block)
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.text-light, .text-300, .light {
    font-weight: 300 !important;
}

.text-regular, .text-400 {
    font-weight: 400 !important;
}

.text-medium, .text-500 {
    font-weight: 500 !important;
}

.text-bold, .text-700, .bold {
    font-weight: 700 !important;
}

.text-bolder, .text-900 {
    font-weight: 900 !important;
}

// Text modifiers -> Brand colours
.text-brand {
    color: $text-brand-color;
}

.text-primary {
    color: $color-primary;
}

.text-color-secondary {
    color: $color-secondary;
    font-weight: 600;
}

.text-white {
    color: #fff !important;
}

// Text modifiers -> Support colours
.text-error {
    color: $error;
}

.text-success {
    color: $success;
}

.align-center {
    align-items: center;
}

.sm-center {
    @media screen and (max-width: 767px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

// Element modifiers -> Display
.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

// Overflow controllers
.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

// Floats & clearing
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

// Backgrounds -> Solids
.bg-blue-grey {
    background: $bg-blue-grey;
    overflow: hidden;
}
