@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Extensions
@using BGL.Components.VehicleDetails
@using BGL.Components.VehicleDetails.Enums
@{
    ViewBag.Title = "Overnight Parking";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderOvernightParking(new ComponentVehicleDetailsConfiguration
        {
            Id = "OvernightParking",
            TenantConfiguration = tenantConfiguration,
            JourneyType = JourneyTypes.MultiStepEdit,
            DataStoreKey = "YourVanParking",
            NextStepUrl = Url.Action("Index", "YourCover"),
            PreviousStepUrl = $"{Url.Action("VehicleDetails", "YourVan")}#value"
        })
    </div>
</div>

