@using BGL.Common.Configuration.Interfaces
@using BGL.Common.Utility.Extensions
@using BGL.Components.VehicleDetails
@using BGL.Components.VehicleDetails.Enums
@using BGL.Web.PostOffice.MotorQuote.Constants
@{
    ViewBag.Title = "Vehicle Details";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner" aria-live="polite">
        @Html.ComponentRenderVehicleLookup(new ComponentVehicleDetailsConfiguration
        {
            Id = "VehicleDetails",
            ManufactureListInUpperCase = new List<string>
            {
                "BMW", "SEAT", "MAN"
            },
            ManufacturerKeys = new List<string>
            {
                "FO",
                "VA",
                "VW",
                "PE",
                "NI",
                "BM",
                "R1",
                "CI",
                "TO",
                "AU",
                "ME",
                "HO",
                "FI",
            },
            WrongVehicleTypeForVanInsValidationErrorMessage = BrandConstants.WrongVehicleTypeForVanInsValidationErrorMessage,
            WrongVehicleTypeForCarInsValidationErrorMessage = BrandConstants.WrongVehicleTypeForCarInsValidationErrorMessage,
            CarErrorMessageUrl = BrandConstants.CarErrorMessageUrl,
            VanErrorMessageUrl = BrandConstants.VanErrorMessageUrl,
            TenantConfiguration = tenantConfiguration,
            SummaryButtonText = "Continue",
            ModificationButtonText = "Continue",
            DataStoreKey = "YourVan",
            JourneyType = JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("OvernightParking", "YourVan"),
            PreviousStepUrl = Url.Action("VehicleLookup", "YourVan"),
            ComponentUrl = Url.Action("VehicleDetails", "YourVan"),
            SearchSummaryUrl = Url.Action("SearchSummary", "VehicleDetailsComponentSearching"),
            ModificationsUrl = Url.Action("Modifications", "VehicleDetailsComponentModifications"),
            PurchasedDateUrl = Url.Action("PurchaseDate", "VehicleDetailsComponentPurchaseDate"),
            EditValueUrl = Url.Action("EditVehicleValue", "VehicleDetailsComponentValue"),
            VehicleBodyTypeUrl = Url.Action("VehicleBodyType", "VehicleDetailsComponentVehicleBodyType"),
            NumberOfSeatsUrl = Url.Action("NumberOfSeats", "VehicleDetailsComponentNumberOfSeats")
        })
    </div>
</div>

