body {
    height: 100%;    
    font-family: $font-family-base;
    @include font-size($font-size-base);
    background: $body-bg-base;
    color: $font-color-base;
    line-height: $line-height-base;
    padding: $body-padding;

    @include breakpoint(500px) {
        padding: $body-padding--desktop;
    }

    &.no-padding {
        padding: 0;
    }
}

.all-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;

    @media (min-width: $screen-lg) {
        margin-top: 40px;
    }

    &.margin-0 {
        margin-top: 0;
    }
}
