%heading {
    margin: 0 0 #{$headings-margin-bottom} 0;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
    letter-spacing: normal;

    &.light {
        font-weight: lighter;
    }
}

.h0 {
    @extend %heading;
    @include font-size(28px);
    letter-spacing: 0.3px;

    @include breakpoint(700px) {
        @include font-size(50px);
    }
}

.h1, h1 {
    @extend %heading;
    @include font-size(26px);
    letter-spacing: 0.2px;

    @include breakpoint(700px) {
        @include font-size(40px);
    }
}

.h2, h2 {
    @extend %heading;
    @include font-size(24px);
    letter-spacing: 0.2px;

    @include breakpoint(700px) {
        @include font-size(30px);
    }
}

.h3, h3 {
    @extend %heading;
    @include font-size(21px);
    color: #4A4A4A;

    @include breakpoint(700px) {
        @include font-size(24px);
    }
}

.h4, h4 {
    @extend %heading;
    @include font-size(18px);
    color: #4A4A4A;

    @include breakpoint(700px) {
        @include font-size(20px);
    }
}

.h5, h5 {
    @extend %heading;
    @include font-size(16px);
    margin-bottom: 1rem;
    color: #4A4A4A;

    @include breakpoint(700px) {
        @include font-size(16px);
    }
}

.h6, h6 {
    @extend %heading;
    @include font-size(13px);
    margin-bottom: 1rem;
    color: #4A4A4A;

    @include breakpoint(700px) {
        @include font-size(13px);
    }
}

b, strong {
    font-weight: 600;
}

p {
    margin: 0 0 ( $spacing-unit / 2 ) 0;
    font-weight: 300;
    @include font-size(15px);

    @include breakpoint(700px){
        @include font-size(16px);
    }
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: ( $spacing-unit / 2 );
}

blockquote {
    margin: 0 0 ( $spacing-unit / 2 ) 0;
}

pre {
    // Remove browser default top margin
    margin-top: 0;
    // Reset browser default of `1em` to use `rem`s
	margin-bottom: ( $spacing-unit / 2 );
}

output {
    display: inline-block;
    //  font-size: $font-size-base;
    //  line-height: $line-height;
    //  color: $input-color;
}