@using System.Configuration
@using BGL.Common.Configuration.Interfaces
@using BGL.Components.TermsAndConds

@{
    ViewBag.Title = "Important Information";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
    var resourceBasePath = tenantConfiguration.ResourceBasePath;
    var componentId = "pre-price-legal-index";
    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];

    var hasAvivaUnderwriter = Html.ComponentRenderTermsAndConditionsIsAvivaUnderwriter(new ComponentTermsAndCondsConfiguration
    {
        Id = "SalesTermsAndConditionsWhoWeActFor",
        TenantConfiguration = tenantConfiguration
    }).ToString();

    var additionalExcessesWordingToShow = Html.ComponentRenderTermsAndConditionsAdditionalExcessesStatementsToShow(new ComponentTermsAndCondsConfiguration()).ToString();
    var showAdditionalExcessSection = !string.IsNullOrEmpty(additionalExcessesWordingToShow);
    var show17To21Message = false;
    var show21To25Message = false;
    var showOver25Message = false;

    if (showAdditionalExcessSection)
    {
        show17To21Message = additionalExcessesWordingToShow.Contains("Show17To21Message");
        show21To25Message = additionalExcessesWordingToShow.Contains("Show21To25Message");
        showOver25Message = additionalExcessesWordingToShow.Contains("ShowOver25Message");
    }


    var isfFeeConfig = new ComponentTermsAndCondsConfiguration
    {
        Id = "SalesTermsAndConditionsIsfFee",
        TenantConfiguration = tenantConfiguration
    };

    bool.TryParse(Html.ComponentRenderTermsAndConditionsHasIsfFee(isfFeeConfig).ToString(), out var hasIsfFee);
}

@section Header{
    <header class="page-header">
        <div class="page-header__wrapper">
            <div class="page-header__section page-header__section--left">
                <img class="page-header__logo" src="@(resourceBasePath)logo-brand.svg" alt="Halifax" />
            </div>
        </div>
    </header>
}

<div class="margin-0">
    <div class="page-section">
        <div class="page-section--inner">
            <div class="centered-main-heading">
                <h1 class="centered-main-heading__heading" data-testid="@(componentId)__heading">

                    <span class="centered-main-heading__heading-text centered-main-heading__heading-text--bold">
                        Hi @Html.ComponentRenderTermsAndConditionsFirstName(new ComponentTermsAndCondsConfiguration()), before we take you to your quote,
                    </span>

                    <span class="centered-main-heading__heading-text centered-main-heading__heading-text--standard">
                        we just want to show you some important information.
                    </span>
                </h1>
                <div class="centered-main-heading__divider"></div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="page-section--inner">
            <div class="legal-modules">
                <div class="legal-modules__column">
                    <div class="legal-modules__module">
                        <img class="legal-modules__icon halifax" data-testid="@(componentId)__logo-brand-2.png" src="@(resourceBasePath)logo-brand-2.svg" alt="" />
                        <h2 class="legal-modules__heading legal-modules__heading--main">About Us</h2>
                        <p class="legal-modules__text">
                            Halifax Insurance is arranged and administered by BISL Limited. We offer products from a range of insurers for car insurance.
                        </p>
                        <p class="legal-modules__text">
                            Part of the BGL Group, one of the UK&apos;s leading personal lines insurance groups. Providing insurance for 20 years to almost 3 million customers.
                        </p>
                        <p class="legal-modules__text">
                            BISL Limited. Registered office: Pegasus House, Bakewell Road, Orton Southgate, Peterborough, PE2 6YS.
                        </p>
                        <h4 class="legal-modules__heading legal-modules__heading--secondary">Basically</h4>
                        <p class="legal-modules__text">
                            Just us saying hello and to let you know who we are.
                        </p>
                        <div class="legal-modules__divider"></div>
                    </div>
                    <div class="legal-modules__module">
                        <img class="legal-modules__icon" data-testid="@(componentId)__icon-our-insurers" src="@(resourceBasePath)icon-our-insurers.svg" alt="" />
                        <h2 class="h3 legal-modules__heading legal-modules__heading--main">
                            Insurers on our panel
                        </h2>
                        <ul class="legal-modules__list" data-testid="@(componentId)__underwriters">
                            @Html.ComponentRenderTermsAndConditionsListOfUnderwritersOnPanel(new ComponentTermsAndCondsConfiguration
                            {
                                Id = "SalesTermsAndConditionsUnderwriters",
                                TenantConfiguration = tenantConfiguration
                            })
                        </ul>
                        <p class="legal-modules__text legal-modules__text--emphasised" data-testid="@(componentId)__underwriter">
                            Your insurer for your policy: @Html.ComponentRenderTermsAndConditionsUnderwriter(new ComponentTermsAndCondsConfiguration
{
  Id = "SalesTermsAndConditionsUnderwriters",
  TenantConfiguration = tenantConfiguration
})
                        </p>
                        <h3 class="h4 legal-modules__heading legal-modules__heading--secondary">
                            What this means to you
                        </h3>
                        <p class="legal-modules__text">
                            We work with some of the largest underwriters in the country, so you are in safe hands.
                        </p>
                        <div class="legal-modules__divider"></div>
                    </div>
                    <div class="legal-modules__module">
                        <img class="legal-modules__icon" data-testid="@(componentId)__icon-who-we-act-for" src="@(resourceBasePath)icon-who-we-act-for.svg" alt="" />
                        <h2 class="h3 legal-modules__heading legal-modules__heading--main">
                            Who we act for and when
                        </h2>
                        <p class="legal-modules__text">
                            BISL Limited is an insurance intermediary which represents both you and the insurer. We act on your behalf when arranging and administering your policy, for example policy adjustments, cancellations and renewals. We act on behalf of your insurer when validating the information you provided in the quotation process at new business and renewal, receiving claim notifications and in the event that your insurer requests that your policy be cancelled or voided. You will enter into a contract with BISL Limited for our intermediary services, in addition to your contract with your insurer for your insurance.
                        </p>
                        @if (hasAvivaUnderwriter == "true")
                        {
                            <p class="legal-modules__text" data-testid="@(componentId)__who-we-act-for-aviva-section">
                                If you would like to pay by monthly instalments, credit will be offered, if available. BISL Limited offer credit from a single lender, BFSL Limited, exclusively in most cases but, where Aviva is the insurer, credit may also be available from Aviva Credit. BISL Limited is not independent as both BISL Limited and BFSL Limited are part of the BGL Group of Companies.
                            </p>
                        }
                        else
                        {
                            <p class="legal-modules__text" data-testid="@(componentId)__who-we-act-for-no-aviva-section">
                                If you would like to pay by monthly instalments, credit will be offered, if available. BISL Limited offer credit from a single lender, BFSL Limited. BISL Limited is not independent as both BISL Limited and BFSL Limited are part of the BGL Group of Companies.
                            </p>
                        }
                        <h3 class="h4 legal-modules__heading legal-modules__heading--secondary">
                            More simply put
                        </h3>
                        <p class="legal-modules__text">
                            We are the go between for you and the insurer.
                        </p>
                        <div class="legal-modules__divider"></div>
                    </div>
                    <div class="legal-modules__module">
                        <img class="legal-modules__icon"
                             data-testid="@(componentId)__icon-make-money"
                             src="@(resourceBasePath)icon-make-money.svg"
                             alt="" />
                        <h2 class="h3 legal-modules__heading legal-modules__heading--main">
                            How we make our money
                        </h2>
                        <p class="legal-modules__text">
                            Your insurance price includes any commission applied by us. If you purchase any optional additional products, we include our commission in the price you pay. For some of our insurers on our panel we may receive a profit share payment if they reach their profit targets on this type of policy across their portfolio of business with us.
                        </p>
                        <h3 class="h4 legal-modules__heading legal-modules__heading--secondary">
                            Basically
                        </h3>
                        <p class="legal-modules__text">
                            Just letting you know how an intermediary like us makes their money.
                        </p>
                        <div class="legal-modules__divider"></div>
                    </div>
                </div>
                <div class="legal-modules__column">
                    <div class="legal-modules__module">
                        <img class="legal-modules__icon" data-testid="@(componentId)__icon-fully-covered" src="@(resourceBasePath)icon-fully-covered.svg" alt="" />
                        <h2 class="h3 legal-modules__heading legal-modules__heading--main">
                            Making sure you are fully covered
                        </h2>
                        <p class="legal-modules__text">
                            It is important that the information you provide throughout the quote and duration of the policy is accurate. Failure to disclose correct and complete information to the best of your knowledge and belief may result in increased premiums, refusal of a claim or not being fully paid, your policy cancelled or being made null &amp; void and treated as if it never existed.
                        </p>
                        <h3 class="h4 legal-modules__heading legal-modules__heading--secondary">
                            More simply put
                        </h3>
                        <p class="legal-modules__text">
                            Make sure your details are accurate or you might not be covered.
                        </p>
                        <div class="legal-modules__divider"></div>
                    </div>
                    <div class="legal-modules__module">
                        <img class="legal-modules__icon" data-testid="@(componentId)__icon-set-price" src="@(resourceBasePath)icon-set-price.svg" alt="" />
                        <h2 class="h3 legal-modules__heading legal-modules__heading--main">
                            How we set your price
                        </h2>
                        <p class="legal-modules__text">
                            Your price has been calculated by Us, which includes the cost of your cover from the underwriter selected from our panel. We/Us/Our - BISL Limited. Authorised and regulated by the Financial Conduct Authority.
                        </p>
                        <p class="legal-modules__text legal-modules__text--emphasised" data-testid="@(componentId)__validuntildate">
                            Your quote is valid until: @Html.ComponentRenderTermsAndConditionsQuoteValidUntilDate(new ComponentTermsAndCondsConfiguration
   {
       Id = "SalesTermsAndConditionsPricingInformation",
       TenantConfiguration = tenantConfiguration
   })
                        </p>
                        <h3 class="h4 legal-modules__heading legal-modules__heading--secondary">
                            Basically
                        </h3>
                        <p class="legal-modules__text">
                            We are upfront with you about our pricing.
                        </p>
                        <div class="legal-modules__divider"></div>
                    </div>
                    <div class="legal-modules__module">
                        <img class="legal-modules__icon"
                             data-testid="@(componentId)__icon-IPT"
                             src="@(resourceBasePath)icon-IPT.svg"
                             alt="" />
                        <h2 class="h3 legal-modules__heading legal-modules__heading--main">
                            IPT (Insurance Premium Tax)
                        </h2>
                        <p class="legal-modules__text">
                            Price includes Insurance Premium Tax where applicable
                        </p>
                        <h3 class="h4 legal-modules__heading legal-modules__heading--secondary">
                            Basically
                        </h3>
                        <p class="legal-modules__text">
                            Just like VAT we have to collect this for the UK government.
                        </p>
                        <div class="legal-modules__divider"></div>
                    </div>
                    <div class="legal-modules__module">
                        <img class="legal-modules__icon" data-testid="@(componentId)__icon-hidden-fees" src="@(resourceBasePath)icon-hidden-fees.svg" alt="" />
                        <h2 class="h3 legal-modules__heading legal-modules__heading--main">
                            No hidden fees
                        </h2>
                        <p class="legal-modules__text" data-testid="@(componentId)__fees">
                            @Html.ComponentRenderTermsAndConditionsFees(new ComponentTermsAndCondsConfiguration
                            {
                                Id = "SalesTermsAndConditionsFees",
                                TenantConfiguration = tenantConfiguration
                            })

                            <span class="legal-modules__text-line">For more information about fees and services please </span>
                            <a class="link--secondary__new-window" href="@(documentUrl)?name=specimen-doc" rel="noopener" aria-label="Open fees and services information in new window" target="_blank">click here</a>
                        </p>
                        <h3 class="h4 legal-modules__heading legal-modules__heading--secondary">
                            Basically
                        </h3>
                        <p class="legal-modules__text">
                            No surprises from us. We want complete transparency about our fees.
                        </p>
                        <div class="legal-modules__divider"></div>
                    </div>

                    @if (hasIsfFee)
                    {
                        <div class="legal-modules__module">
                            <img class="legal-modules__icon" src="@(resourceBasePath)icon-set-price.svg" alt="" />
                            <h3 class="legal-modules__heading legal-modules__heading--main">
                                Intermediary Services Fee
                            </h3>
                            <p class="legal-modules__text">
                                Included in the cost of your policy is a fee of &pound;@Html.ComponentRenderTermsAndConditionsGetIsfFeeAmount(isfFeeConfig).ToString() which we charge you for the separate intermediary services we provide you with in arranging, servicing and renewing your policy.
                                This fee does not relate to any of the additional products we may have arranged for you.
                            </p>
                            <h4 class="legal-modules__heading legal-modules__heading--secondary">
                                Basically
                            </h4>
                            <p class="legal-modules__text">
                                Just to let you know, your price includes an Intermediary Services Fee, but this is already included in the price we show you.
                            </p>
                            <div class="legal-modules__divider"></div>
                        </div>
                    }

                    <div class="legal-modules__module">
                        <img class="legal-modules__icon"
                             data-testid="@(componentId)__icon-renewals"
                             src="@(resourceBasePath)icon-renewals.svg"
                             alt="" />
                        <h2 class="h3 legal-modules__heading legal-modules__heading--main">
                            Renewal
                        </h2>
                        <p class="legal-modules__text">
                            When your policy is up for renewal we will contact you with a price and renew your policy where possible. If you don&apos;t want us to renew, simply get in touch.
                        </p>
                        <h3 class="h4 legal-modules__heading legal-modules__heading--secondary">
                            More simply put
                        </h3>
                        <p class="legal-modules__text">
                            We want to ensure you are always covered and will automatically renew your policy where possible (unless you tell us not to).
                        </p>
                        <div class="legal-modules__divider"></div>
                    </div>
                    @if (showAdditionalExcessSection)
                    {
                        <div class="legal-modules__module" data-testid="@(componentId)__additional-excesses-section">
                            <img class="legal-modules__icon" data-testid="@(componentId)__icon-features-total-excess" src="@(resourceBasePath)icon-total-excess.svg" alt="" />
                            <h2 class="h3 legal-modules__heading legal-modules__heading--main">
                                Additional Excesses
                            </h2>
                            <p class="legal-modules__text">
                                Due to your quote details, additional excesses apply in the event of an accident.
                            </p>
                            @if (show17To21Message)
                            {
                                <p class="legal-modules__text">
                                    If the driver is 17-20 years old, a &pound;400 excess will be payable in addition to the policy excess.
                                </p>
                            }
                            @if (show21To25Message)
                            {
                                <p class="legal-modules__text">
                                    If the driver is 21-24 years old, a &pound;200 excess will be payable in addition to the policy excess.
                                </p>
                            }
                            @if (showOver25Message)
                            {
                                <p class="legal-modules__text">
                                    If the driver of the vehicle is 25 years old or older, but only holds a Provisional Licence or only obtained a Full Licence issued in the UK or the EU less than one year ago, an excess of &pound;150 will be payable in addition to the policy excess.
                                </p>
                            }
                            <h3 class="h4 legal-modules__heading legal-modules__heading--secondary">
                                More simply put
                            </h3>
                            <p class="legal-modules__text">
                                Young or inexperienced drivers on your policy may have higher excesses.
                            </p>
                            <div class="legal-modules__divider"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer{
    <footer class="legal-footer">
        <div class="legal-footer__wrapper">
            <div class="legal-footer__section legal-footer__section--button">
                <div class="button-container">
                    <a id="LegalBtn" class="button button--primary button--large button--right" data-testid="@(componentId)__quote-link" href="@Url.Action("Index", "PricePresentation")"><strong>All done, please continue... </strong></a>
                </div>
            </div>
        </div>
    </footer>
}

