@using BGL.Web.Halifax.MotorQuote.Constants

<div class="panel-body">
    <div class="feature-header">
        <h1 class="feature-header__heading">
            <span class="feature-header__heading-standard-text">Quote acceptance information</span>
        </h1>
        <div class="feature-header__divider"></div>
    </div>

    <div class="fbels">
        <div class="fbels__section">
            <h2 class="h4 fbels__heading fbels__heading--remember">To save you time and confirm that we can deal with your online request, please check that the following apply:</h2>
            <ul class="list list--fbels list--fbels-remember">
                <li class="list__item">
                    The insurance policy relates to a car in the UK, including Northern Ireland
                </li>
                <li class="list__item">
                    The car has a valid UK registration number and is not "Q" registered, and meets UK specification (e.g. it is not a Japanese import)
                </li>
                <li class="list__item">
                    The car will not be used for driving tuition, motor trade purposes, hire or reward, racing, rallies, "track days" or competitions
                </li>
            </ul>
        </div>
    </div>

    <div class="questions-box">
        <div class="questions-box__divider"></div>
        <p class="questions-box__text">If you can't confirm the above, please call us on <a href="tel:@(BrandConstants.AcceptanceInformationPhoneNumber)" rel="nofollow">@(BrandConstants.AcceptanceInformationPhoneNumber)</a></p>
    </div>

    <div class="page-section">
        <div class="page-section--inner">
            <div class="button-container">
                <button type="button" class="button button--primary button--large button--right slide-panel__close" data-dismiss="slide-panel" tabindex="0">
                    Done
                </button>
            </div>
        </div>
    </div>
</div>

