@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="page-section section-fbels-banner">
    <div class="page-section--inner">
        <div class="fbel-banner">
            <img class="fbel-banner__image" src="@(basePath)icon-legal-protection-red.svg" alt="">
            <h3>Free Motor Legal Protection</h3>
            <p>Motor Legal Protection cover included for your first year, if selected</p>
        </div>
    </div>
</div>