@using BGL.Common.Configuration.Interfaces

@{
    var basePath = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration().ResourceBasePath;
}

<div class="page-section section-fbels-banner">
    <div class="page-section--inner">
        <div class="fbel-banner">
            <img class="fbel-banner__image" src="@(basePath)defaqto.svg" alt="">
            <p>Post Office Premier Comprehensive car insurance gets a 5-star rating by Defaqto</p>
        </div>
    </div>
</div>