﻿@using System.Configuration
@model BGL.Components.Footer.Models.FooterViewModel

@{
    var documentUrl = ConfigurationManager.AppSettings["DocumentUrl"];
}

<div class="page-footer__section" data-testid="@(Model.ComponentConfiguration.Id)__section">
    <div class="footer-docs">
        <h2 class="h5 footer-docs__heading">Policy Documents</h2>
        <ul class="list list--link">

            <li id="monthly-annual-link-policy-wording" class="list__item">
                <a class="list__link footer-docs__link" href="@(documentUrl)?name=specimen-doc" rel="noopener" aria-label="Open full policy wording and terms and conditions in new window" target="_blank">Full Policy Wording and Terms and Conditions</a>
            </li>
            @if (!string.IsNullOrWhiteSpace(Model.PolicyBookletName))
            {
                <li id="monthly-annual-link-policy-document" class="list__item">
                    <a class="list__link footer-docs__link" href="@(documentUrl)?name=@(Model.PolicyBookletName)" rel="noopener" aria-label="Open @Model.PolicyVariant.ToLower() policy document in a new window" target="_blank">@Model.PolicyVariant Policy Document</a>
                </li>
            }
            @foreach (var item in Model.ComponentConfiguration.DocumentLinks)
            {
                <li class="list__item">
                    <a class="list__link footer-docs__link" href="@item.Value" rel="noopener" aria-label="Open @item.Text.ToLower() in new window" target="_blank">@item.Text</a>
                </li>
            }
            <li id="monthly-link" class="@(Model.IsMonthly ? string.Empty : "hide") list__item">
                <a class="list__link footer-docs__link" href="@(documentUrl)?name=credit-information" rel="noopener" aria-label="Open pre contract credit information in new window" target="_blank">Pre Contract Credit Information</a>
            </li>

            <li class="@(Model.IsKeyCare ? string.Empty : "hide") li-wrapper">
                <ul class="ul-wrapper-inline">
                    <li id="keycare-link-1" class="list__item li-wrapper-inline">
                        <a class="list__link footer-docs__link" href="@(documentUrl)?name=keycare-booklet" rel="noopener" aria-label="Open keycare policy booklet in new window" target="_blank">Keycare Policy Booklet</a>
                    </li>
                    <li id="keycare-link-2" class="list__item li-wrapper-inline">
                        <a class="list__link footer-docs__link" href="@(documentUrl)?name=keycare-summary" rel="noopener" aria-label="Open keycare policy summary in new window" target="_blank">Keycare Policy Summary</a>
                    </li>
                    <li id="keycare-link-3" class="list__item li-wrapper-inline">
                        <a class="list__link footer-docs__link" href="@(documentUrl)?name=keycare-schedule" rel="noopener" aria-label="Open keycare policy schedule in new window" target="_blank">Keycare Policy Schedule</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
