﻿@model BGL.Components.Navigation.Models.NavigationViewModel

@*active partial complete*@
@foreach (var menuItem in Model.MenuItems)
{
    <li class="breadcrumb__section @menuItem.State" data-menu-item-state="@menuItem.State" data-menu-action="@menuItem.Action">
        @if (!menuItem.IsLastItem)
        {
            <div class="breadcrumb__line--base"></div>
            <div class="breadcrumb__line"></div>
        }
        <div class="breadcrumb__disc"></div>
        <p class="breadcrumb__text">
            @if (menuItem.HasBeenSelected)
            {
                if (menuItem.State.Contains("active"))
                {
                    <a aria-current="step" href="@menuItem.Action">@menuItem.Name</a>
                }
                else
                {
                    <a href="@menuItem.Action">@menuItem.Name</a>
                }
            }
            else
            {
                @menuItem.Name
            }
        </p>
    </li>
}
