$link-color:                                $color-secondary !default;
$link-border-color:                         $color-secondary !default;

.link {
    font-weight: bold;
    color: $link-color;
    text-decoration: $link-text-decoration;
    text-decoration-color: $link-text-decoration-color;
    padding-bottom: 1px;

    &__new-window {
        font-weight: bold;
        color: $link-color;
        text-decoration: underline;
        text-decoration-color: $link-text-decoration-color;
        padding-bottom: 1px;
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 20px;
        background-image: url('../images/icon-new-window.svg');
        background-repeat: no-repeat;
        background-position: center right 2px;
        background-size: 16px 16px;
        cursor: pointer;

        &.white {
            background-image: url('../images/icon-new-window--white.svg');
        }

        &.normal {
            font-weight: normal;
        }
    }

    &--promote-monthly {
        color: $payment-option--monthly-p-color;
    }

    &--suffix-icon {
        position: relative;
        display: block;
        padding-right: 30px;

        &:before {
            display: none;
        }

        i {
            left: auto;
            position: absolute;
            top: 0;
            right: 0;
            color: $primary;
            font-size: 28px;
            height: 28px;
            width: 28px;
        }
    }

    &-white {
        color: #fff;

        &:after {
            background: #fff;
            opacity: 0.25;
        }

        &:hover,
        &.force-hover,
        &:focus,
        &.force-focus {
            color: $link-primary-hover;

            &:after {
                opacity: 1;
            }
        }

        &:visited,
        &.force-visited {
            color: #fff;

            &:after {
                background-color: $link-primary-inactive;
            }
        }
        // Small text
        &--small {
            font-size: 13px;
            font-weight: 100;

            &:hover,
            &.force-hover {
                font-weight: 600;
            }
        }
    }

    &-primary {
        font-weight: bold;
        color: $primary;

        &:after {
            background: $primary;
            opacity: 0.35;
        }

        &:hover,
        &.force-hover,
        &:focus,
        &.force-focus {
            color: $link-primary-hover;

            &:after {
                opacity: 1;
            }
        }

        &:visited,
        &.force-visited {
            //color: $link-primary-visited;
            &:after {
                background-color: $link-primary-inactive;
            }
        }
        // Small text
        &--small {
            font-size: 13px;
            font-weight: 100;

            &:hover,
            &.force-hover {
                font-weight: 600;
            }
        }
    }

    &-secondary {
        color: $color-primary;

        &:after {
            background: $color-primary;
            opacity: 0.25;
        }

        &:hover,
        &.force-hover {
            color: $link-primary-hover;
        }

        &:focus,
        &.force-focus {
            color: $link-secondary-pressed;

            &:after {
                opacity: 1;
            }
        }

        &:visited,
        &.force-visited {
            //color: $link-primary-visited;
            &:after {
                opacity: 1;
            }
        }
    }

    &-icon {
        color: $color-primary;
        position: relative;
        padding-left: 30px;

        i {
            display: inline-block;
            left: 0;
            position: absolute;
            bottom: 0px;
            font-size: 24px;
            line-height: 24px;
        }

        &:after {
            background: $color-primary;
            opacity: 0.25;
            width: calc(100% - 30px);
            left: 30px;
        }

        &.large {
            font-size: 22px;
            padding-left: 40px;

            &:before {
                font-size: 28px;
            }

            &:after {
                width: calc(100% - 40px);
            }
        }
    }
}

.link:hover {
    color: $link-hover;
    text-decoration-color: $link-color;
}
.link:active {
    color: $link-active;
    text-decoration-color: $link-active-text-decoration-color;
}

.link--secondary {
    font-weight: normal;
    color: $color-primary;
    padding-bottom: 1px;
    text-decoration: underline;
    text-decoration-color: #D6D2D5; //TODO: use a variable
    &__new-window {
        font-weight: normal;
        color: $color-primary;
        padding-bottom: 1px;
        text-decoration: underline;
        text-decoration-color: #D6D2D5; //TODO: use a variable
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 20px;
        background-image: url('../images/icon-new-window.svg');
        background-repeat: no-repeat;
        background-position: center right 2px;
        background-size: 16px 16px;
        cursor: pointer;

        &.white {
            background-image: url('../images/icon-new-window--white.svg');
        }

        &:focus {
            @include linkFocusSurround;
            text-decoration: none;
        }
    }

    &:hover {
        color: #148BDC; //TODO: use a variable
        text-decoration-color: $link-color; //TODO: use a variable
    }

    &:active {
        color: #493D83; //TODO: use a variable
        text-decoration-color: #493D83; //TODO: use a variable
    }
}


.link--edit {
    text-decoration:none;
}

.link__edit-text {
    @include visually-hidden;
}

.link__edit-icon {
    height:26px;
    width:26px;
    margin-left:15px;
}
a.disabled {
    color: #D8DADB;   
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    opacity: 1;
}
a.button--primary.disabled {   
    color: $button-primary-text-color-disabled;
    background-color: $button-primary-background-disabled;
    border-color: transparent;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    opacity: 1;    
}

.start-quote__sub-text {
    margin: 10px 0px;
    width: 100%;
    text-align: left;
    @include breakpoint(900px) {
      text-align: center;
      width: 40%;
      margin: 20px auto;
    }
}
  
.link-container {
    display: flex;
    width: 100%; 
    flex-direction: column;
    margin: auto;
        @include breakpoint(900px) {
            width: 40%;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
        }
        @include breakpoint(1000px) {
            width: 40%;
            flex-direction: row;
            justify-content: space-around;
        }
}

.notification-message .va-invocation {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff;
}