$form-input-padding: 20px !default;
$form-input-border-color: #dadada !default;
$form-input--focus-border-color: $color-primary !default;
$form-input-box-shadow: inset 0 2.5px 2px 0 rgba(0, 0, 0, 0.25) !default;
$form-input-color: $color-primary !default;
$form-input-border-color: #dadada !default;
$form-input--focus-border-color: $color-primary !default;
$form-input-box-shadow: inset 0 2.5px 2px 0 rgba(0, 0, 0, 0.25) !default;
$form-input-color: #979797 !default;
$form-input-pill-text-error-color: #fff !default;
$form-placeholder-color: #4a4a4a !default;
$form-label-pill-border: solid 1px $color-grey !default;
$form-label-pill-border-radius: 5px !default;
$form-label-pill-background-color: transparent !default;
$form-label-pill-color: $color-primary !default;
$form-label-pill-color-hover: #fff !default;
$form-label-pill-border-color-hover: $color-primary !default;
$form-label-pill-background-color-hover: $color-primary !default;
$step-form-button-color: $color-primary !default;
$step-form-button-border: solid 1px $color-grey !default;
$step-form-button-border-radius: 5px !default;
$step-form-button-background-color-hover: $color-primary !default;
$step-form-button-border-color-hover: $color-primary !default;
$step-form-button-color-hover: #fff !default;

.form {
  margin: 30px 0;
  width: 100%;
}

.form-row {
  width: 100%;
  padding: 25px 0 15px 0;
  position: relative;
}

.form-row--multi-input {
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @include breakpoint(500px) {
    padding: 25px 0 15px 0;
  }

  .form-row__label {
    flex: 1 1 100%;
  }
}

.form-row--static {
  border-bottom: solid 1px #d8d8d8;
  display: table;

  &.no-label {
    .form-row__static-section {
      width: calc(100% - 50px);
      padding-right: 0;

      &--edit {
        width: 50px;
        padding-right: 0;
        @include breakpoint(700px) {
          padding-right: 1.25em;
        }
      }
    }
  }
}

.form-row--static-addon {
  border-bottom: solid 1px #d8d8d8;

  @include breakpoint(700px) {
    display: table;
  }

  .form-row__static-image {
    margin-bottom: 10px;
    @include breakpoint(700px) {
      margin: 0;
    }
    &--cross {
      width: 20px;
      height: 20px;
    }
  }

  .form-row__static-section {
    display: block;
    width: 100%;

    &--label {
      @include breakpoint(700px) {
        width: 300px;
        display: table-cell;
      }
    }
  }
}

.form-row__inline-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  @include breakpoint(500px) {
    padding: 25px 0 15px 0;
  }

  .form-row {
    flex: 0 0 100%;
    @include breakpoint(500px) {
      flex: 0 0 50%;
      &:nth-of-type(1) {
        padding-right: 10px;
      }
    }
  }
}

.form-row__input-wrapper {
  @include breakpoint(500px) {
    display: table-cell;
    vertical-align: bottom;
  }

  &--half {
    flex: 0 0 100%;

    @include breakpoint(500px) {
      flex: 0 0 50%;
      width: 50%;
      vertical-align: top;

      &:nth-of-type(1) {
        padding-right: 10px;
      }
    }
  }

  &--short {
    flex: 0 0 100%;

    @include breakpoint(500px) {
      flex: 0 0 33%;
      vertical-align: top;

      &:nth-of-type(1) {
        padding-right: 10px;
      }
    }
  }

  &--full {
    flex: 0 0 100%;

    @include breakpoint(500px) {
      flex: 0 0 100%;
      vertical-align: top;

      &:nth-of-type(1) {
        padding-right: 10px;
      }
    }
  }
}

.form-row__field-set {
  border: none;
  padding: 0;
}

.form-row__legend {
  display: block;
  @include font-size(17px);
  font-weight: 300;
  width: 100%;
  margin-bottom: 12px;
  text-align: left;

  &--hidden {
    @include visually-hidden;
  }

  &--bold {
    font-weight: bold;
    @include font-size(18px);
    color: #4a4a4a;
  }
}

.form-row__label {
    display: block;
    @include font-size(17px);
    font-weight: 300;
    width: 100%;
    margin-bottom: 12px;
    text-align: left;
    line-height: 28px;

    &--pill {
        position: static;
        padding: 20px;
        margin-right: 10px;
        text-align: center;
        display: inline-block;
        background-color: $form-label-pill-background-color;
        border: $form-label-pill-border;
        border-radius: $form-label-pill-border-radius;
        font-weight: 300;
        color: $form-label-pill-color;
        @include font-size(18px);
        width: auto;
        min-width: 100px;
        cursor: pointer;

        &:hover {
            color: $form-label-pill-color-hover;
            background-color: $form-label-pill-background-color-hover;
            border-color: $form-label-pill-border-color-hover;
        }

        &:focus {
            @include focussurround;
            border-color: $form-input--focus-border-color;
        }

        &.large {
            min-width: 175px;
        }
    }

    &--radio-pill {
        min-width: 160px;
        padding: 15px 10px;
        border-radius: 10px;
        border: solid 1px $color-grey;
        color: $color-primary;
        font-weight: 300;
        user-select: none;
        display: inline-block;
        width: auto;
        cursor: pointer;
        text-align: center;

        &:hover {
            background-color: $color-primary;
            color: #fff;
        }
    }

    &--spaced {
        margin-bottom: 30px;
        line-height: 28px;
    }
}

.form-row__label-wrapper {
  display: table;
  width: 100%;
}

.form-row__label-wrapper-section {
  display: table-cell;
  width: 50%;
  &--right {
    text-align: right;
    @include font-size(14px);
    padding-bottom: 12px;
  }
}

.form-row__input {
    display: block;
    width: 100%;
    padding: $form-input-padding;
    border: 1px solid $form-input-border-color;
    border-radius: 4px;
    background-color: #ffffff;
    color: $form-input-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 10px;
    outline: none;


    &:checked + .form-row__label--pill {
        @include SelectItem;
    }

    &:checked + .form-row__label--pill:focus {
        @include focusSelectSurround;
    }

    &:checked:focus + .form-row__label--pill {
        @include focusSelectSurround;
    }


    &:disabled {
        background-color: #f2f2f2;
    }

    $form-focus-border-color: #0061a3;

    &:focus {
        @include focussurround;
        border: solid 1px $form-focus-border-color;

        + .form-row__label {
            @include focusSelectSurround;
        }

        + .form-row__label--pill {
            @include focussurround;
        }
    }

    &.has-error:focus {
        border-color: $color-red;
        box-shadow: $color-red 0 0 0 2px;
        outline: none;
    }

    &:not([disabled]):hover {
        border-color: $form-input--focus-border-color;
    }

    &.has-error:not([disabled]):hover {
        border-color: $color-red;
    }

    &.visa {
        background-image: url("../images/logo-visa.svg");
        background-repeat: no-repeat;
        background-position: 97% center;
        background-size: 40px 40px;
    }

    &--sort-code {
        display: inline-block;
        max-width: 100px;
        position: relative;
        text-align: center;

        &:after {
            content: "-";
            display: inline-block;
            margin: 0 10px;
            float: right;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            height: 40px;
            vertical-align: middle;
            line-height: 40px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        input {
            max-width: 80%;
            margin: 0px;
            float: left;
            text-align: center;
        }
    }

    &--full-width {
        max-width: 4000px;
    }

    &--inline {
        display: inline-block;
        max-width: 200px;
        margin-right: 10px;
    }

    &--password {
        background-image: url("../images/icon-eye.svg");
        background-repeat: no-repeat;
        background-position: 97% center;
        background-size: 23px 23px;
    }

    &--monetary {
        padding-left: 25px;
        // background-image: url('../images/icon-currency.svg');
        background-image: url("../images/icon-currency-purple.svg");
        background-repeat: no-repeat;
        background-position: 5px center;
        background-size: 23px 23px;
        font-weight: normal;
        color: $color-primary;
        @include font-size(21px);
        outline: none;
    }

    &--overlay {
        max-width: 320px;
        padding-right: 110px;
    }

    &--datepicker {
        padding-right: 30px;
        background-image: url("../images/icon-calendar.svg");
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: right 10px center;
        cursor: pointer;
    }

    &.short {
        max-width: 320px;
    }

    &--hidden {
        @include visually-hidden;
    }

    &--registration {
        padding: 10px 10px 10px 10px; // 55px;
        overflow: hidden;
        text-align: center;
        position: relative;
        background-repeat: no-repeat;
        background-position: 0 -3px;
        background-size: 40px 60px;
        @include font-size(30px);
        color: $color-primary;
        font-weight: bold;
        border-width: 1px;
        border-color: #0058ae;
        box-shadow: none;
        text-transform: uppercase;

        @include breakpoint(320px) {
            max-width: 320px;
        }
    }

    &[type="radio"] {
        box-shadow: none;
    }

    &--checkbox {
        @include visually-hidden;

        + .form-row__label {
            display: inline-block;
            width: auto;
            border: solid 1px $color-grey;
            padding: 10px 50px 10px 20px;
            border-radius: 100px;
            font-weight: 600;
            color: $color-primary;
            background-image: url("../images/icon-plus-round.svg");
            background-repeat: no-repeat;
            background-position: 97% center;
            cursor: pointer;

            &:hover {
                color: #fff;
                background-color: $color-primary;
                border-color: $color-primary;
                background-image: url("../images/icon-plus-round-white.svg");
            }
        }

        &:focus {
            + .form-row__label {
                text-decoration: underline;
            }
        }

        &:checked {
            + .form-row__label {
                background-image: url("../images/icon-minus-round-white.svg");
                background-color: $color-green;
                border-color: $color-green;
                color: #fff;

                &:hover {
                    background-image: url("../images/icon-minus-round-white.svg");
                    background-color: $color-primary;
                    border-color: $color-primary;
                }
            }

            &:focus {
                + .form-row__label {
                    text-decoration: underline;
                }
            }
        }
    }

    &:-ms-input-placeholder {
        color: $form-placeholder-color;
        opacity: 1; /* Firefox */
    }

    &::-webkit-input-placeholder {
        color: $form-placeholder-color;
    }

    &::-moz-placeholder {
        color: $form-placeholder-color;
    }
}

.form-row__overlay-wrapper {
  position: relative;
  max-width: 320px;
}

.form-row__overlay-text {
  position: absolute;
  width: 100px;
  right: 10px;
  height: 100%;
  top: 0;
  color: $color-font--light;
  font-weight: 300;
  z-index: 5;
  padding: 15px 0;
  margin: 0;
  text-align: right;
  user-select: none;
}

.form-row__select {
    display: block;
    width: 100%;
    padding: 15px 35px 15px 15px;
    border: 1px solid $form-input-border-color;
    border-radius: 4px;
    background-color: #ffffff;
    color: $form-input-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 10px;
    appearance: none;
    background-image: url("../images/icon-dropdown.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;

    &--dual {
        width: 44%;
        max-width: 200px;
        display: inline-block;
        margin-right: 10px;
    }

    &::-ms-expand {
        display: none;
    }

    &.short {
        max-width: 320px;
    }

    &.tiny {
        max-width: 170px;
    }

    &:focus {
        box-shadow: inset 0px 0px 0px 2px rgb(160, 217, 255), 0px 0px 0px 3px rgb(30, 148, 227);
        border: 1px solid rgb(0, 97, 163);
        outline: none;
    }
}

.form-row__select-option {
  font-weight: 600;
  color: $color-font;

  &:hover {
    background-color: $color-primary;
  }
}

.form-row__hint-text {
  @include font-size(14px);
  color: $color-font--light;
  line-height: 1.5;
}

.form-row__edit-image {
  height: 25px;
  width: 25px;
}

.form-row__edit-button {
  cursor: pointer;
  text-decoration: none;
  margin: 0;
}

.form-row__static-section {
  display: table-cell;
  @include font-size(15px);

  &--label {
    width: 300px;
  }

  &--edit {
    width: 50px;
    text-align: right;
  }
}

.form-row__label-help-icon {
  border: solid 2px $color-primary;
  color: $color-primary;
  border-radius: 20px;
  height: 15px;
  width: 15px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  @include font-size(12px);
  line-height: 1;
  font-weight: bold;
  box-shadow: 0 0 0 transparent;

  &:hover {
    color: #fff;
    background-color: $color-primary;
  }
}

.form-row__heading {
  color: #4a4a4a;
  @include font-size(18px);
}

.form-row__static-hint-text {
  @include font-size(13px);
}

.form-row__text {
  margin: 0;
  line-height: 1.5;
}

.form-row__validation-text {
  color: $color-red;
  margin: 0 0 10px 0;
  display: none;
}

.form-row__static-value {
  text-align: left;
}

.form-row__static-image {
  height: 25px;
  width: 25px;
}

.form-row__static-addon-text {
  width: 100%;
  @include breakpoint(700px) {
    display: inline-block;
    width: 90%;
    vertical-align: top;
    padding-left: 20px;
  }
}

.form-row__remember-checkbox {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.form-row__sub-section-label {
  @include font-size(14px);
  vertical-align: middle;
  margin: 0;
  user-select: none;
}

.form-row__divider {
  margin-top: 40px;
  height: 2px;
  display: block;
  width: 100%;
  background-color: $color-grey--lighter;
}

.form-row__question-heading {
  color: $color-primary;
  @include font-size(20px);
  margin-bottom: 15px;
}

.form-row__datepicker-button {
  display: inline-block;
}

.form_row__fieldset_header__wrapper {
  padding: 0 0 15px 0;
}

.form_row__fieldset_header legend {
  padding-bottom: 25px;
}

// (STEP) FORM BUILDERS
.step-form {
    padding-top: 50px;

    .hide {
        display: none;
    }

    &__resident-status {
        padding-top: 50px;
    }

    &__heading {
        letter-spacing: -0.08px;
        // color:$color-primary;
        // @include font-size(26px);
        // line-height: 1.4;
        // margin-bottom:25px;
        &--sub-text {
            font-weight: 300;
        }

        &.wordspace {
            word-spacing: 4px;
        }
    }

    &__question-title {
        margin: 0;
        padding: 40px 0px 10px;
        font-weight: 300;
        font-size: 1.4em;
    }

    &__question-label {
        color: $color-font--light;
        margin-bottom: 20px;
    }

    &__info {
        height: 30px;
        width: 30px;
        background: url("../images/icon-question-circle.svg");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 30px;
        border: none;
        vertical-align: text-bottom;

        &:focus {
            @include linkFocusSurround;
        }

        &.active {
            background: url("../images/icon-circle-cross.svg");
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 30px;
        }
    }

    &__change-vehicle-info {
        padding-top: 0px;
    }

    &__sub-heading {
        color: $color-font;
        font-weight: 300;
        @include font-size(16px);
        line-height: 1.5;
        margin-bottom: 25px;
    }

    &__section-title {
        color: $color-font;
        @include font-size(16px);
        font-weight: 300;
        margin-bottom: 20px;
    }

    &__question-link-wrapper {
        margin-bottom: 30px;
    }

    &__button {
        position: static;
        padding: 20px;
        margin-right: 10px;
        border: $step-form-button-border;
        text-align: center;
        display: inline-block;
        border-radius: $step-form-button-border-radius;
        font-weight: 300;
        color: $step-form-button-color;
        @include font-size(18px);
        width: auto;
        min-width: 100px;
        max-width: 100%;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: $step-form-button-color-hover;
            background-color: $step-form-button-background-color-hover;
            border-color: $step-form-button-border-color-hover;
        }

        &.ncd-years {
            min-width: 120px;
        }

        &.large {
            min-width: 175px;

            @media screen and (max-width: 450px) {
                min-width: 120px;
            }
        }

        &.text-wrap {
            white-space: normal;
        }

        &-text {
            margin: 0;

            &--main {
                display: block;
                margin-bottom: 1px;
            }

            &--sub {
                display: block;
                font-weight: 300;
                @include font-size(15px);
            }
        }
    }

    &__progress-bar-wrapper {
        width: 100%;
        max-width: 400px;
        margin: auto;
        padding: 60px 0 30px;
    }

    &__progress-bar {
        height: 7px;
        width: 100%;
        border-radius: 20px;
        display: block;

        &--base {
            background-color: $color-grey--light;
            margin-bottom: 10px;
        }

        &--main {
            background-color: $color-primary;

            &.step1 {
                width: 12.5%;
            }

            &.step2 {
                width: 25%;
            }

            &.step3 {
                width: 37.5%;
            }

            &.step4 {
                width: 50%;
            }

            &.step5 {
                width: 62.5%;
            }

            &.step6 {
                width: 75%;
            }

            &.step7 {
                width: 87.5%;
            }

            &.step8 {
                width: 100%;
            }
        }
    }

    &__progress-bar-text {
        @include font-size(12px);
    }

    &__button-text {
        margin: 0;

        &--main {
            display: block;
            margin-bottom: 1px;
        }

        &--sub {
            display: block;
            font-weight: 300;
            @include font-size(15px);
        }
    }

    &__breadcrumb {
        padding: 0 0 15px 0;
    }

    &__breadcrumb-item {
        display: inline-block;
        padding: 5px 25px 5px 15px;
        border-radius: 5px;
        background-color: $color-green;
        color: #fff;
        background-image: url("../images/icon-cross--white.svg");
        background-repeat: no-repeat;
        background-size: 12px 12px;
        background-position: right 5px center;
        text-decoration: none;
        font-weight: 300;
        @include font-size(12px);
        margin: 3px 10px 3px 0;

        &:hover {
            background-color: $color-secondary;
        }
    }

    &__breadcrumb-link {
        padding: 0px;
        cursor: pointer;
    }

    &__undo-link {
        cursor: pointer;
        color: $color-secondary;
        text-decoration: underline;
        text-decoration-color: #bce7fd;
    }

    &__hidden-input {
        &:checked {
            + .step-form__other-button {
                background-color: $color-green;
                color: #fff;
            }

            ~ .step-form__other-textbox {
                display: block;
                left: 0;
            }

            ~ .button-container .step-form__confirm-button {
                display: inline-block;
                left: 0;
            }
        }
    }

    &__other-textbox {
        display: none;
        transition: opacity 0.3s ease-in-out;
        width: 250px;
        margin-top: 20px;
        position: relative;
        left: -9000px;
        font-weight: 300;
    }

    &__other-button {
        vertical-align: bottom;
        padding: 20px 10px;

        &--large {
            padding: 29px 27px;
        }
    }

    &__confirm-button {
        display: none;
        transition: opacity 0.3s ease-in-out;
        position: relative;
        left: -9000px;
        padding: 10px 20px;
        margin-left: 0;
    }

    &__radio-input {
        &:checked {
            + .vehicle-lookup__vehicle-radio {
                background-image: url("../images/icon-checkbox-alt--on.svg");
                text-decoration: none;
                outline: none;
            }
        }

        &:focus {
            + .vehicle-lookup__vehicle-radio {
                text-decoration: underline;
            }
        }
    }

    &__vehicle-radio {
        padding: 35px 0 35px 60px;
        border-bottom: solid 1px $color-grey--lighter;
        cursor: pointer;
        margin: 0;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 50px 50px;
        background-image: url("../images/icon-checkbox-alt--off.svg");

        &:nth-of-type(1) {
            border-top: solid 1px $color-grey--lighter;
        }

        &:focus {
            @include focusSelectSurround;
            outline: none;
            border-radius: $button-link-focus-border-radius;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__radio-text {
        margin: 0;
    }

    &__help-wrapper {
        margin-bottom: 25px;
    }

    &__summary-heading,
    &__welcome-quote {
        color: $color-font;
        font-weight: bold;
        @include font-size(20px);
        margin-bottom: 20px;
    }

    &__summary-item-row {
        display: table-row-group;
    }

    &__summary-item {
        display: table;
        width: 100%;
        padding: 30px 0;
        border-bottom: solid 1px $color-grey--light;

        &:nth-of-type(1) {
            border-top: solid 1px $color-grey--light;
        }
    }

    &__summary-label-section {
        display: table-cell;
    }

    &__summary-label {
        margin: 0;

        &--main {
            color: $color-primary;
        }

        &--sub {
            font-weight: 300;
        }
    }

    &__summary-action-section {
        display: table-cell;
        width: 100px;
        vertical-align: middle;
        text-align: right;
    }

    &__summary-link-block {
        display: table;
        width: 100%;
        padding: 30px 0;
    }

    &__summary-link-section {
        display: table-cell;
        width: 50%;

        &:last-child {
            text-align: right;
        }
    }

    &__static-value {
        font-weight: normal;
        color: $color-primary;
        @include font-size(20px);
    }
}

// VALIDATION
.form-row.error {
  .form-row__label {
    color: $color-red;
    border-color: $color-red;
    font-weight: bold;
    padding-left: 30px;
    background-image: url("../images/icon-error.svg");
    background-position: 0 4px;
    background-repeat: no-repeat;
    background-size: 20px 20px;

    &--radio-pill {
      padding: 15px 10px;
      background-image: none;
      border: solid 2px $color-red;
      &:hover {
        color: $form-input-pill-text-error-color;
      }
    }

    &--pill {
      background-image: none;
      padding-left: 20px;
      &:hover {
        color: $form-input-pill-text-error-color;
      }
    }
  }

  .form-row__legend {
    color: $color-red;
    font-weight: bold;
    padding-left: 30px;
    background-image: url("../images/icon-error.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    background-size: 20px;
  }

  .form-row__input {
    color: $color-red;
    border: solid 2px $color-red;
    &::-webkit-input-placeholder {
      color: $color-red;
    }
    &:-ms-input-placeholder {
      color: $color-red;
    }
    &::-moz-placeholder {
      color: $color-red;
    }
    
    &:checked + .form-row__label--pill,
    &:checked + .form-row__label--radio-pill {
        color: $form-input-pill-text-error-color;
    }
  }

  .form-row__select {
    border: solid 2px $color-red;
    color: $color-red;
  }

  .form-row__validation-text {
    display: block;
  }

  .form-row__input--monetary {
    padding-left: 25px;
    background-image: url("../images/icon-currency-red.svg");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 23px 23px;
    font-weight: normal;
    color: $color-red;
    border: 2px solid $color-red;
    outline: none;
    @include font-size(21px);

    &:hover {
      border: 2px solid $color-red;
    }

    &:focus {
      border: 2px solid $color-red;
    }

    &:active {
      border: 2px solid $color-red;
    }
  }

  .error {
    color: $color-red;
    font-weight: bold;
  }
}

// DISABLED INPUT STATES
input.disabled {
  color: #d8dadb;
  background-color: transparent;
  border-color: #d8dadb;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 1;
}

label.disabled {
  color: #d8dadb;
  background-color: transparent;
  border-color: #d8dadb;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 1;
}

.error-messagebox {
    display: none;
    background-color: $error-background-color;
    border: 1px solid $error-border-color;
    border-bottom: 3px solid #ab3737;
    border-radius: 4px;

    &__heading {
        padding-left: 30px;
        padding-top: 20px;
        color: $error-text-color;
    }

    &__sub-heading {
        padding-left: 30px;
        padding-bottom: 15px;
        color: $error-text-color;

        a {
            color: $error-text-color;
            text-decoration-color: $error-text-color;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &.show {
        display: block;
    }
}

// Ping Styling
.icon-input-wrapper {
  position: relative;
  width: 100%;
}

.icon-input-wrapper .form-row__input--password {
  position: relative;
  background: $color-white;
  z-index: 1;
  padding: 20px 60px 20px 20px;
}

.icon-input-wrapper .icon-eye-bg {
  background-image: url(../images/icon-eye.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 23px 23px;
  position: absolute;
  cursor: pointer;
  height: 60px;
  width: 60px;
  z-index: 2;
  right: 0;
  top: 0;
}

// VALIDATION FROM DIRECT
/*.error-text {
    color: #f56565;
    font-weight: bold;
}

.error-text__heading {
    background-image: url('../images/icon-error.svg');
    background-position: 0 28px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.error-text__radio .form-row__label {
    color: #f56565;
    font-weight: bold;
    border: 2px solid #f56565;
}

.error-text__heading .form-row__label {
    color: #f56565;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}

.error-text__heading .form-row__label--pill {
    color: #f56565;
    font-weight: normal;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #f56565;

    &:hover {
        background-color: inherit;
    }
}

.has-error {
    border: 2px solid #f56565;
}*/
