$profile-main-driver-background-color-after: transparentize($color-primary, 0.6) !default;
$profile-named-driver-background-color-after: transparentize($color-grey--dark, 0.6) !default;
$profile-add-driver-background-color-after: transparentize($color-primary, 0.6) !default;
$profile-animated-background-color-hover: $primary !default;

.profiles {
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    justify-items: center;
}

.profile {
    display: flex;
    flex: 0 0 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.1s;
    margin: 0;

    @media screen and (min-width: 400px) {
        flex-basis: 120px;
    }

    @media screen and (min-width: 520px) {
        flex-basis: 140px;
    }

    @media screen and (min-width: 992px) {
        flex-basis: 176px;
    }

    a {
        cursor: pointer;
        text-decoration: none;
    }
    button {
        border: none;
    }
    // Pull Siblings closer
    & ~ & {
        margin-left: -0.5rem;
    }
    // Reorder stacking
    &:nth-child(1) {
        margin-top: 0px;
        z-index: 4;
    }

    &:nth-child(2) {
        z-index: 3;
    }

    &:nth-child(3) {
        z-index: 2;
    }
}

.profile__initials {
    position: relative;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    @media screen and (min-width: 400px) {
        font-size: 36px;
        height: 120px;
        width: 120px;
    }

    @media screen and (min-width: 520px) {
        font-size: 48px;
        height: 140px;
        width: 140px;
    }

    @media screen and (min-width: 992px) {
        font-size: 64px;
        height: 176px;
        width: 176px;
    }

    &--named-drivers {
        font-weight: lighter;
    }

    &--add {
        font-size: 60px;
        font-weight: 100;

        @media screen and (min-width: 992px) {
            font-size: 90px;
            font-weight: 400;
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        transform: scale(1.115);
        z-index: -1;
        top: 0;
        left: 0;
    }

    .profile--main-driver & {
        color: #fff;
        background-color: $color-primary;

        &::after {
            background-color: $profile-main-driver-background-color-after;
        }
    }

    .profile--named-drivers & {
        color: #fff;
        background-color: $color-grey--dark;

        &::after {
            background-color: $profile-named-driver-background-color-after;
        }
    }

    .profile--add-drivers & {
        color: $primary;
        background-color: #fff;

        &::after {
            background-color: $profile-add-driver-background-color-after;
        }
    }
}

.profile--animated:hover {
    z-index: 5;

    &.profile--add-drivers, &.profile--named-drivers, &.profile--main-driver {
        .profile__initials {
            transform: scale(1.15);
            color: #fff;

            &::after {
                background-color: $profile-animated-background-color-hover;
            }
        }
    }
}

.profile__type {
    color: $color-grey--dark;
    font-size: 13px;
    font-weight: lighter;
    line-height: 1.2;
    text-transform: uppercase;
    @include wordbreak;
    margin: 0.5rem 0 0 0;
}

.profile__name {
    color: $color-primary;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    @include wordbreak;
    margin: 1.5rem 0 0 0;
    padding: 0 0.2rem 0 0.2rem;

    //word-wrap needs width for IE/EDGE
    width: 100px;
    @media screen and (min-width: 400px) {
        width: 120px;
    }

    @media screen and (min-width: 520px) {
        width: 140px;
    }

    @media screen and (min-width: 992px) {
        width: 176px;
    }

    &--named-drivers {
        color: $color-grey--dark;
    }

    &--add {
        color: $primary;
    }
}
