.slide-panel {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    right: -100%;
    background-color: #fff;
    overflow: auto;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    z-index: 500;
    padding-top: 100px;

    @include breakpoint(700px) {
        width: 90%;
        box-shadow: -9px 0px 20px 0px rgba(0, 0, 0, 0.18);
    }

    &.hide-panel {
        display: block;

        @-webkit-keyframes slide-panel-hide {
            0% {
                display: block;
                right: 0
            }

            99% {
                display: block;
                right: -100%
            }

            100% {
                display: none;
                right: -100%
            }
        }

        @-moz-keyframes slide-panel-reveal {
            0% {
                display: block;
                right: 0
            }

            99% {
                display: block;
                right: -100%
            }

            100% {
                display: none;
                right: -100%
            }
        }

        @-o-keyframes slide-panel-reveal {
            0% {
                display: block;
                right: 0
            }

            99% {
                display: block;
                right: -100%
            }

            100% {
                display: none;
                right: -100%
            }
        }

        @keyframes slide-panel-reveal {
            0% {
                display: block;
                right: 0
            }

            99% {
                display: block;
                right: -100%
            }

            100% {
                display: none;
                right: -100%
            }
        }

        -webkit-animation: slide-panel-hide 0.3s;
        -moz-animation: slide-panel-hide 0.3s;
        -o-animation: slide-panel-hide 0.3s;
        animation: slide-panel-hide 0.3s;
        animation-fill-mode: forwards;
    }

    &.active {
        display: block;

        @-webkit-keyframes slide-panel-reveal {
            0% {
                display: none;
                right: -100%
            }

            1% {
                display: block;
                right: -100%
            }

            100% {
                display: block;
                right: 0
            }
        }

        @-moz-keyframes slide-panel-reveal {
            0% {
                display: none;
                right: -100%
            }

            1% {
                display: block;
                right: -100%
            }

            100% {
                display: block;
                right: 0
            }
        }

        @-o-keyframes slide-panel-reveal {
            0% {
                display: none;
                right: -100%
            }

            1% {
                display: block;
                right: -100%
            }

            100% {
                display: block;
                right: 0
            }
        }

        @keyframes slide-panel-reveal {
            0% {
                display: none;
                right: -100%
            }

            1% {
                display: block;
                right: -100%
            }

            100% {
                display: block;
                right: 0
            }
        }

        -webkit-animation: slide-panel-reveal 0.3s;
        -moz-animation: slide-panel-reveal 0.3s;
        -o-animation: slide-panel-reveal 0.3s;
        animation: slide-panel-reveal 0.3s;
        animation-fill-mode: forwards;

        .panel-header {
            right: 0;
        }
    }

    &__always-open {
        display: block;
        right: 0;
    }

    &.no-animation {
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;

        &.active {
            right: 0;
            box-shadow: none;
        }
    }
}

.panel-header {
    border-bottom: 1px solid #ccc;
    background-color: $slidepanel-header-background;
    color: #fff;
    height: 100px;
    padding: 0 25px 0 0;
    position: absolute;
    width: 100%;
    z-index: 500;
    top: 0;
    right: -100%;

    @include breakpoint(700px) {
        padding: 0;
    }

    &__always-open {
        right: 0;
    }

    &.no-animation {
        transition: none;
    }

    &__wrapper {
        position: relative;
        padding: 15px 10px;
        margin: auto;
        height: 100px;

        @include breakpoint(700px) {
            display: table;
            width: 100%;
            padding: 15px 35px;
        }
    }

    &__section {
        margin: auto;

        @include breakpoint(700px) {
            display: table-cell;
            vertical-align: middle;
        }

        &--left {
            @include breakpoint(700px) {
                width: 50%;
            }
        }

        &--right {
            @include font-size(14px);
        }
    }

    &__logo {
        display: block;
        margin-left: 30px;
    }

    &__back {
        height: 24px;
        width: 24px;
        position: absolute;
        left: 25px;
        top: 22px;
        background-image: url('../images/icon-arrow-left--white.svg');
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &__close {
        height: 44px;
        width: 44px;
        position: absolute;
        right: 16px;
        top: 28px;
        background-image: url('../images/icon-cross--white.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        cursor: pointer;
        @media screen and (max-width: 699px) {
            right: -12px;
        }
    }

    &__cancel {
        float: right;
        font-weight: normal;
        color: $color-primary;
        text-decoration: none;
        border-bottom: solid 1px $color-primary;
        padding: 0;
        text-align: left;

        &:hover {
            border-bottom: none;
        }
    }
}

.slide-panel-body {
    padding-bottom: 70px;
}

.panel-body {
    padding: 0;

    @include breakpoint(700px) {
        padding: 0 2rem;
    }
}

.slide-panel-nav {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include breakpoint(700px) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    * {
        margin: 0 0 10px 0;
    }
}