// Excesses Bar Graph
.excess-bar {
    padding-bottom:30px;
    position:relative;
    margin:60px 0;
    line-height: 1.5;
}

.excess-bar__wrapper {
    display:table;
    width:100%;
}

.excess-bar__section {
    display:table-cell;
    vertical-align: top;
    &--graph {
        width:100px;
        transform-origin: 0 0;
        transform: scale(0.8);

        @include breakpoint(750px) {
            width:400px;
            position: relative;
            transform: scale(1);
        }
    }
}

.excess-bar__excess-segment {
   padding-left:0;
    margin:20px 0;
    position:relative;
    @include breakpoint(500px) {
        padding-left:20%;
    }
    &--total {
        padding-top:15px;
        .excess-bar__heading {
            width:200px;
            border-top:solid 1px $color-tertiary;
            padding-top:15px;
        }
        @include breakpoint(750px) {
            position: absolute;
            left: 0;
            width: 230px;
            top: 0;
            height: auto; //100%
            padding: 50px 0;
            border-top: solid 1px #4a4a4a;
            border-bottom: solid 1px #4a4a4a;
            .excess-bar {
                &__value {
                    @include font-size(40px);
                }
                &__heading {
                    border:none;
                    width:auto;
                    padding:0;
                }
            }
        }
    }
    &--voluntary {
        margin-top: 50px;
        @include breakpoint(750px) {
            margin-top: 100px;
            margin-bottom: 0;
        }
    }
}

.excess-bar__bar {
    @include breakpoint(750px) {
        float: left;
        left:270px;
    }
}

.excess-bar__heading {
    
    margin:0;
    color: #4a4a4a;
    @include font-size(16px);
    
    @include breakpoint(500px) {
        @include font-size(22px);
        font-weight: 600;
    }

    &:before {
        width:10px;
        content:"";
        position: absolute;
        border-bottom:solid 1px #ccc;
        top:11px;
        left:-15px;
        @include breakpoint(500px) {
            width:17%;
            left:-5px;
            top:16px;
        }
    }
    &--voluntary {
        color:$color-primary;
        &:before {
            border-color:$color-primary;
        }            
    }
    &--compulsory {
        color:$color-tertiary;
        &:before {
            border-color:$color-tertiary;
        }
    }
    &--total {
        &:before {
            display:none;
        }
    }
}

.excess-bar__value {
    display:inline-block;
    font-weight: bold;
    vertical-align: middle;
    margin: 0 10px 0 0;
    @include font-size(28px);
    @include breakpoint(500px) {
        @include font-size(34px);
    }
    &--voluntary {
        color:$color-primary;
    }
    &--compulsory {
        color:$color-tertiary;
    }
}

.excess-bar__button-wrapper {
    display: inline-block;
    margin: 5px 0;
    position: relative;

    @include breakpoint(500px) {
        margin:10px auto;
        vertical-align: middle;
    }

    .button--edit-excess {
        display: inline-block;
        position: relative;
        margin: 0;
    }
    
}

.excess-bar__button {
    margin:0;
    text-align:center;
    padding:7px;
}

.excess-bar__edit-modal {
    left: -81px;
    padding:10px;
    @include breakpoint(500px) {
        left:calc(50% - 175px);
    }
}