$notifications-snooze-focus-box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255),
  0px 0px 0px 3px rgb(30, 148, 227) !default;
// Alerts
.alert {
  color: #fff;
  font-weight: 600;
  padding: $spacing-unit;
  position: relative;
  background: url("../images/icon-warning.svg");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 50px;
  // Messages
  &__message {
    background: none;
    padding-left: 20px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
      font-weight: 600;
      &:first-of-type {
        margin-top: 0px;
      }
    }
  }
  // States
  &--error {
    background-color: $error;
  }
  &--warning {
    background-color: $warning;
  }
  &--success {
    background-color: $success;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 8px;
    background: url("../images/icon-circle-cross.svg");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    height: 44px;
    width: 44px;
    overflow: hidden;
    text-indent: -99999999px;
  }
}

// Notifications
.notifications {
    &:before {
        background: $notifications-background;
        content: "";
        height: 26px;
        width: 26px;
        position: absolute;
        top: 30px;
        right: 19px;
        border-radius: 3px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        z-index: 501;
        box-shadow: 3px -3px 6px -2px rgba(0, 0, 0, 0.75);

        @media screen and (max-width: 420px) {
            display: none;
        }
    }

    &__list {
        color: $notifications-text-colour;
        position: absolute;
        left: calc(-415px + 55px);
        top: 42px;
        left: -390px;
        max-width: 415px;
        width: 415px;
        max-height: 700px;
        overflow-y: auto;
        z-index: 500;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);

        @media screen and (max-width: 420px) {
            position: fixed;
            top: 0;
            left: 5%;
            width: 90%;
            max-width: 460px;
            overflow-y: scroll;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
        }

        ul {
            padding: 0;
            margin: 0;
        }
    }

    a.button,
    button {
        background: $notifications-button-background-color;
        color: $notifications-button-text-color;
        font-weight: 600;

        &:hover {
            color: $notifications-button-text-color-hover;
            background-color: $notifications-button-background-hover;
        }
    }

    &__header {
        background: $notifications-background;
        padding: 20px;
        border-radius: $notifications-border-radius $notifications-border-radius 0 0;

        h4 {
            font-size: 18px;
            line-height: 25px;
            margin: 0px;
            font-weight: 600;
            color: $notifications-header-font-color;
        }
    }

    li {
        background: $notifications-item-background;
        padding: 20px;
        border-bottom: $notifications-item-border-bottom;

        h5 {
            color: #fff;
            margin-top: 0px;
            font-weight: bold;
        }

        a.button,
        button {
            background-color: $notifications-button-background-color;
            color: $notifications-button-text-color;
            font-weight: 600;

            &:hover {
                color: $notifications-button-text-color-hover;
                background-color: $notifications-button-background-hover;
            }
        }

        a.link-white {
            font-weight: 600;

            &:hover {
                color: $color-grey--light;
                text-decoration: underline;
            }

            &::after {
                content: none;
            }
        }
    }

    &__footer {
        background: $notifications-snooze-background;
        border-radius: 0 0 $notifications-border-radius $notifications-border-radius;
        border-bottom: $notifications-item-border-bottom;
        overflow: hidden;

        button {
            padding: 20px;
            color: $notifications-snooze-text-colour;
            background: none;
            font-weight: bold;
            cursor: pointer;
            display: block;
            text-align: center;
            width: 100%;
            border: none;
            transition: 0.6s all;

            &:hover {
                background: $notifications-snooze-background-hover;
                color: $notifications-snooze-text-colour-hover;
                transition: 0.3s all;
            }

            &:focus {
                box-shadow: $notifications-snooze-focus-box-shadow;
            }
        }
    }
}

// Messages
.message {
    background: $bg-blue-grey;
    border-radius: 10px;
    margin-bottom: 20px;

    &__header {
        padding: 20px;
        border-bottom: 1px solid $key-grey;

        h3 {
            color: $color-primary;
            margin-bottom: 0px;

            i {
                font-size: 28px;
                line-height: 28px;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }

    &__body {
        padding: 20px;
    }

    &__button-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px 0px 0px 0px;

        @include breakpoint($screen-xl) {
            flex-wrap: nowrap;
        }

        img {
            height: 40px;
            margin: 0px 0px 10px 0px;
        }

        .button {
            margin: 0px;
        }
    }

    h4 {
        color: $color-primary;
    }
}
