.questions-box {
    padding:30px 0 0 0;
}

.questions-box__divider {
    width:100%;
    max-width: 70px;
    border-bottom:solid 2px #333;
}

.questions-box__text {
    @include font-size(20px);
    font-weight: 400;
    margin:20px 0 10px 0;
}

.questions-box__link {
    font-weight: 600;
    @include font-size(16px);
}