$card-button-box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255), 0px 0px 0px 3px rgb(30, 148, 227) !default;

//SPAO card-list diagram
$card-list-background-color: transparent !default;
$card-list-title-color: $color-font !default;
$card-list-description-color: $color-font !default;
$card-list-title-font-family: $font-light !default;
$card-list-description-font-family: $font-light !default;
$card-list-title-font-size: 18px !default;
$card-list-description-font-size: 16px !default;
$card-list-item-color: $color-primary !default;
$card-image-font-icon-size: 80px !default;

.card-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    list-style: none;
    margin: 0 auto 50px;
    padding: 0;

    &__click-for-more {
        @include breakpoint($screen-lg) {
            &::after {
                position: absolute;
                display: block;
                content: "";
                bottom: -50px;
                left: 100px;
                height: 35px;
                width: 159px;
                background-image: url("../images/clickformore.svg");
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: 159px 35px;
            }
        }
    }

    &__card {
        position: relative;
        text-decoration: none;
        min-width: 175px;
        max-width: 100%;
        flex: 1 1 auto;
        margin: 5px 0;
        color: $card-color;

        @include breakpoint($screen-md) {
            width: 175px;
            flex: 0 0 175px;
            margin: 10px;
        }

        button {
            background-image: url("../images/icon-arrow-right.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 10px) 24px;
            background-size: 24px 24px;
        }

        button, .card-container__card-content {
            display: block;
            height: 100%;
            width: 100%;
            padding: 20px 60px;
            text-align: left;
            background-color: $card-background-color;
            color: $card-color;
            border: 2px dotted transparent;
            border-radius: $card-border-radius;
            box-shadow: $button-box-shadow;

            &:focus {
                box-shadow: $card-button-box-shadow;
            }

            @include breakpoint($screen-md) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                text-align: center;
                padding: 20px;
                background-image: none;
            }
        }

        &-image {
            position: absolute;
            top: $card-image-mobile-top;
            left: $card-image-mobile-left;
            height: $card-image-mobile-height;
            width: $card-image-mobile-width;

            @include breakpoint($screen-md) {
                position: relative;
                margin-bottom: 20px;
                padding: $card-image-padding;
                top: $card-image-top;
                left: $card-image-left;
                height: $card-image-height;
                width: $card-image-width;
            }

            &--font-icon {
                font-size: $card-image-font-icon-size;
                color: $color-primary;
            }

            &--without-title {
                position: relative;
            }
        }

        &-title {
            font-size: 13px;
            color: $card-color;
            font-weight: bold;
            text-decoration: none;
            margin-bottom: 0;

            @include breakpoint($screen-md) {
                margin-bottom: 20px;
            }

            &--list {
                color: $card-list-title-color;
                font-family: $card-list-title-font-family;
                font-size: $card-list-title-font-size;

                & span {
                    padding-top: 10px;
                }
            }
        }

        &-description {
            font-size: 13px;
            font-weight: $card-description-font;
            text-decoration: none;
            max-width: 100%;
            margin-bottom: 15px;

            &--list {
                color: $card-list-description-color;
                font-family: $card-list-description-font-family;
                font-size: $card-list-description-font-size;
                width: 200px;
                margin: 0 auto;

                @media (min-width: $screen-lg) {
                    display: block;
                }

                &:before {
                    color: $card-list-description-color;
                    content: "-";
                    display: inline-block;

                    @media (min-width: $screen-lg) {
                        display: none;
                    }
                }

                &--without-dash {
                    &:before {
                        display: none;
                    }
                }
            }
        }

        &-upgrade {
            background: $card-upgrade-background-color;
            border-radius: $card-upgrade-button-border-radius;
            color: $card-upgrade-color;
            display: block;
            font-size: 13px;
            font-weight: $card-upgrade-font-weight;
            letter-spacing: 0px;
            line-height: 20px;
            text-align: center;
            margin: 0 auto;
            padding: 5px 10px;
        }

        &--list-item {
            background-color: $card-list-background-color;
            display: inline-flex;
            flex: auto;
            text-align: left;

            @media (min-width: $screen-lg) {
                padding: 10px 0;
                text-align: center;
                display: list-item;
            }

            &:before {
                background: $card-list-item-color;
                color: $card-list-item-color;
                content: "";
                display: inline-block;
                border-radius: 20px;
                height: 8px;
                min-width: 8px;
                margin-right: 20px;
                vertical-align: middle;
                position: relative;
                top: 7px;

                @media (min-width: $screen-lg) {
                    display: none;
                }
            }

            &--without-bullet {
                display: list-item;
                text-align: center;

                &:before {
                    display: none;
                }
            }
            // card list without image
            & .policy-feature {
                &__image-wrapper {
                    display: none;

                    @media (min-width: $screen-lg) {
                        display: inline-block;
                    }

                    &--with-image {
                        display: inline-block;

                        @media (min-width: $screen-lg) {
                            margin-bottom: -10px;
                        }
                    }
                }
            }
        }
    }
}

@supports (display: grid) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
        grid-template-rows: 1fr;
        grid-gap: 10px;
        justify-content: center;
        margin: 40px 0;

        @include breakpoint($screen-md) {
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
        }

        &__home-address {
            grid-template-columns: auto;
            margin: 0;
        }

        &__card {
            width: auto;
            margin: 0;
        }

        &-list {
            display: flex;
            flex-direction: column;
            margin: 0 0 25px 0;

            @media (min-width: $screen-lg) {
                display: grid;
                margin: 10px;
            }
        }
    }
}
