
.provision-box {
    margin:30px 0;
}

.provision-box__text {
    @include font-size(18px);
    margin:10px 0;
    display:inline-block;
    margin-right: 10px;
}

.provision-box__image {
    &--rac {
        height: 55px;
        width: 55px;
        margin: -5px 0 0 -5px;
    }
}
