$breakdown-table-tiers: 5 !default;

.breakdown-table {
  display: table;
  width: 100%;
  margin-bottom: 30px;
  user-select: none;
  //border-collapse: collapse;
}

.breakdown-table__header {
  display: table-header-group;
  width: 100%;

  @include breakpoint(750px) {
    display: table-header-group;
  }
}

.breakdown-table__header-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: #{100% / ($breakdown-table-tiers)};
  border-right: solid 1px #d8d8d8;
  vertical-align: bottom;
  padding: 2px;
  text-align: center;
  &.active {
    background-color: $color-primary--lighter;
    border-right: solid 2px $color-green;
    border-left: solid 2px $color-green;
  }
  @include breakpoint(750px) {
    display: table-cell;
    width: calc(100% / #{$breakdown-table-tiers +1});
    padding: 10px;
  }
  &--image {
    background-image: url("../images/logo-rac.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: #{100% / ($breakdown-table-tiers + 1)};
    display: none;
    @include breakpoint(750px) {
      display: table-cell;
    }
  }
  &[data-tier] {
    cursor: pointer;
  }
}

.breakdown-table__title {
  &-main {
    display: block;
    @include font-size(12px);
    @include breakpoint(750px) {
      @include font-size(16px);
    }
  }
  &-sub {
    display: block;
    font-weight: normal;
    @include font-size(11px);
    @include breakpoint(750px) {
      @include font-size(15px);
    }
  }
}

.breakdown-table__main {
  &-price {
    color: $color-primary;
  }
  &-pounds {
    @include font-size(24px);
    @include breakpoint(750px) {
      @include font-size(40px);
    }
  }
  &-pence {
    @include font-size(12px);
    @include breakpoint(750px) {
      @include font-size(20px);
      position: relative;
      left: -3px;
    }
  }
}

.breakdown-table__main-price-wrapper {
  display: block;
  line-height: 0.9;
}

.breakdown-table__main-price-text {
  display: block;
  @include font-size(12px);
  @include breakpoint(750px) {
    @include font-size(14px);
  }
}

.breakdown-table__sub-price {
  @include font-size(13px);
  color: $color-font--light;
}

.breakdown-table .breakdown-table__button {
  width: 100%;
  padding: 10px 5px;
  @include font-size(11px);
  font-weight: bold;
  margin-top: 20px;
  min-width: auto;
  background-color: #fff;
  color: $color-secondary;
  border: $color-secondary 1px solid;

  &.active {
    @include SelectItem;

    @include breakpoint(750px) {
      padding-left: 23px;
      background-size: 20px 20px;
      background-image: url("../images/icon-tick--white.svg");
      background-repeat: no-repeat;
      background-position: 8% center;
      text-align: center;
    }
  }

  &:hover {
    color: #fff;
    background-color: $color-primary;
    border: $color-primary 1px solid;
  }

  @include breakpoint(750px) {
    padding: 10px;
    @include font-size(13px);
  }
}

.breakdown-table__row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  @include breakpoint(750px) {
    display: table-row;
  }
}

.breakdown-table__body {
  display: table-row-group;
  @include breakpoint(750px) {
    display: table-row-group;
  }
}

.breakdown-table__body-item {
  display: inline-block;
  width: #{100% / ($breakdown-table-tiers)};
  text-align: center;
  padding: 15px 5px;
  border: solid 1px #d8d8d8;
  border-left-color: transparent;
  vertical-align: middle;
  &.active {
    background-color: $color-primary--lighter;
    border-right: solid 2px $color-green;
    border-left: solid 2px $color-green;
  }
  @include breakpoint(750px) {
    display: table-cell;
    width: #{100% / ($breakdown-table-tiers + 1)};
  }
  &--first {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
    cursor: auto;
    @include breakpoint(750px) {
      display: table-cell;
      width: #{100% / ($breakdown-table-tiers + 1)};
      background-color: transparent;
    }
  }
  &[data-tier] {
    cursor: pointer;
  }
}

.breakdown-table__feature {
  margin: 0;
}

.breakdown-table__tick {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}