﻿.help-text {
    background: #f5f7fa;
    margin-bottom: 20px;
    border-bottom: 5px solid $color-primary;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    display: none;

    &__heading {
        margin-bottom: 0px;
        color: $color-primary;
        margin-top: 20px;
    }

    &__text {
        color: $color-primary;
    }

    &__sub-text{
		margin: 0px;
		padding: 10px 0px;
		color: #4a4a4a;
		font-weight: 300;
		font-size: 16px; 
		letter-spacing: 0;
		line-height: 29px;
    }
    
    &.active {
        display: block;
    }
}
.sub__question {
    color: $color-primary;
    font-weight: bold;
}