.review-overview {
    width:100%;
    @include breakpoint(820px) {
        display:table;
    }
}

.review-overview__section {
    vertical-align: top;
    padding: 0;

    @include breakpoint(820px) {
        display: table-cell;
        width: 50%;
        padding: 0; // 20px 0
    }

    &:nth-of-type(1) {
        border-bottom: solid 1px #D8D8D8;

        @include breakpoint(820px) {
            border-bottom: none;
            border-right: solid 1px #D8D8D8;
        }
    }

    & .table-cell--label {
        width: 150px;
        font-weight: 600;

        p {
            font-weight: 600;
        }
    }
}

.review-overview__cover-wrapper {
    width:100%;
    display:table;
}

.review-overview__cover-section {
    width:100%;
    display:table-cell;
    width:50%;
    &--right {
        text-align:right;
    }
}

.review-overview__heading {
    margin:0;
}

.review-overview__heading-text {
    @include font-size(24px);
    color:$color-primary;
    &--secondary {
        @include font-size(16px);
    }
}

.review-overview__heading-mid-wrapper{
    font-weight: bold;
    @include font-size(20px);
    display: block;
    margin-top:5px;
    color:$color-primary;
    margin:10px 0;
}

.review-overview__heading-sub-wrapper {
    // color: $color-primary;
    font-weight: normal;
    @include font-size(16px);
    display: block;
    margin-top: 5px;
}

.review-overview__address {
    padding-left:25px;
    background-image:url('../images/icon-house.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    font-weight: 300;
    background-size: 20px 20px;
}

.review-overview__address-link {
    @include font-size(13px);
    font-weight: 600;
}

.review-overview__form-row {
    padding:0;
    margin:20px 0;
}

.review-overview__heading-link {
    font-weight: 600;
}

.review-overview__cover-section {
    @include font-size(13px);
}

.review-overview__cover-heading {
    margin:0 0 10px 0;
    font-weight: 300;
}

.review-overview__cover-text {
    margin: 0 0 10px 0;
    font-weight: 600;
}

.review-overview__section-wrapper {
    text-align: left;
    @include breakpoint(820px) {
        text-align: center;
    }
}

.review-overview__person {
    position: relative;
    display:inline-block;
    padding: 0;
    vertical-align: top;
    margin: 1rem;
    text-align: center;

    &:first-child {
        margin-left: 0;
        z-index: 3;
    }

    &:nth-of-type(2) {
        z-index: 2;
    }
    &:nth-of-type(3) {        
        z-index: 1;
        
    }

}

.review-overview__person-disc {
    height:100px;
    width:100px;
}

.review-overview__person-role {
    color:#858585;
    @include font-size(12px);
    font-weight: normal;
    margin-bottom:5px;
}

.review-overview__person-name,
.review-overview__add-driver {
    color:#4A4A4A;
    @include font-size(13px);
    margin: 0 auto;
    
    & .firstname,
    & .lastname {
        display: block;
    }

}

.review-overview__person-link {
    font-weight: 600;
    @include font-size(12px);
    color: $color-secondary;

    &:hover {
        cursor: pointer;
    }
}

.review-overview__ncd-section {
    text-align:center;
    padding:0 20px;
    display: block;
    margin-top: 30px;
    color:$color-primary;
    @include breakpoint(500px) {
        display: inline-block;
        vertical-align: middle;
        margin-top:0;
    }
    @include breakpoint(820px) {
        display:table-cell;
    }
}

.review-overview__ncd-heading {
    @include font-size(13px);
    font-weight: 600;
    margin:0;
}

.review-overview__ncd-years {
    @include font-size(28px);
    margin:0;
}

.review-overview__ncd-link {
    font-weight: 600;
    @include font-size(13px);
}

.review-details {
    &__text {
        @include font-size(20px);
    }
}