$document-ui-icon-color-before: $color-white !default;
$document-ui-icon-previous-document-color-before: #4a4a4a !default;
$document-ui-icon-previous-download-color-before: #6859a3 !default;

$documents-tag-latest-background-color: $teal !default;
$documents-tag-latest-color: $color-white !default;
$documents-tag-pdf-background-color: $primary !default;
$documents-tag-pdf-color: #fff !default;
$document-prev-background: $color-grey--light !default;
$document-prev-tag-background: $color-grey--dark !default;
$document-prev-pdf-background: $color-grey--dark !default;
$document-prev-pdf-color: #fff !default;
$document-prev-download-color: $color-primary !default;
$document-prev-download-border-color: $color-primary !default;
$document-current-download-icon-border: 1px solid #fff !default;

.documents {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    li.document {
        background: $document-background;
        max-width: 277.5px;
        border-radius: $document-border-radius;
        position: relative;
        min-width: 277px;
        padding: 20px;
        padding-top: 80px;
        margin: 10px;
        // Document Icon
        i {
            color: $document-icon-colour;
            position: absolute;
            font-size: 48px;
            line-height: 48px;
            top: 20px;
            left: 20px;

            &:before {
                color: $document-ui-icon-color-before;
            }
        }

        &:before {
            //content: "\f12e";
            font-family: "ui-icons";
            color: $document-icon-colour;
            position: absolute;
            font-size: 48px;
            line-height: 48px;
            top: 20px;
            left: 20px;
        }
        // Previous Documents( Default: Grey )
        &.previous-document {
            color: $document-prev-text-colour;
            background-color: $document-prev-background;
            border: $document-prev-border;

            i {
                color: $document-prev-icon-colour; // Document Icon
                &:before {
                    color: $document-ui-icon-previous-document-color-before;
                }
            }

            h3 {
                color: $document-prev-text-colour;
            }

            small {
                color: $color-font;
            }

            .download {
                color: $document-prev-download-color;
                border-color: $document-prev-download-border-color;

                i {
                    color: $color-primary;
                    border-color: $document-prev-download-border-color;

                    &:before {
                        color: $document-ui-icon-previous-download-color-before;
                    }
                }
            }

            ul.tags {
                li.pdf {
                    background: $document-prev-tag-background;
                    color: $document-prev-pdf-color;
                }
            }
        }

        display: block;
        color: #fff;
        padding: 20px;
        padding-top: 80px;

        h3 {
            color: #fff;
            height: 60px;
            overflow: hidden;
            font-weight: 500;
        }

        small {
            color: #fff;
            margin-top: 30px;
            display: block;
            font-size: 14px;
        }

        ul.tags {
            margin: 10px 0 20px 0;
            padding: 0;

            li {
                display: inline-block;
                text-transform: uppercase;
                color: #fff;
                line-height: 13px;
                font-size: 13px;
                font-weight: 500;
                padding: 5px 8px;
                border-radius: 3px;
                margin-right: 5px;

                &:last-child {
                    margin-right: 0px;
                }

                &.latest {
                    background: $documents-tag-latest-background-color;
                    color: $documents-tag-latest-color;
                }

                &.pdf {
                    background: $documents-tag-pdf-background-color;
                    color: $documents-tag-pdf-color;
                }

                &.previous {
                    background: $color-primary;
                }
            }
        }

        .download {
            display: inline-block;
            color: #fff;
            margin-left: -4px;
            padding: 4px;

            i {
                display: inline-block;
                color: #fff;
                vertical-align: middle;
                margin-right: 10px;
                font-size: 23px;
                line-height: 23px;
                position: relative;
                left: auto;
                top: auto;
            }

            &:focus {
                @include buttonFocus;
            }
        }
    }
}
