$button-border-size: 1px solid !default;

$button-large-font-size-mobile: 16px !default;
$button-large-font-size-desktop: 18px !default;
$button-large-padding-desktop: 12px 15px !default;

$button-primary-text-color: #ffffff !default;
$button-primary-background: $color-secondary !default;
$button-primary-border: transparent !default;
$button-primary-box-shadow: none !default;

$button-primary-background-hover: #148bdc !default;
$button-primary-border-hover: transparent !default;

$button-primary-background-pressed: #006eb3 !default;
$button-primary-border-pressed: transparent !default;

$button-primary-text-color-disabled: #4a4a4a !default;
$button-primary-background-disabled: #dadada !default;
$button-primary-border-disabled: transparent !default;

$button-secondary-text-color: $color-secondary !default;
$button-secondary-background: transparent !default;
$button-secondary-border: $color-secondary !default;
$button-secondary-box-shadow: none !default;

$button-secondary-text-color-hover: #ffffff !default;
$button-secondary-background-hover: #148bdc !default;
$button-secondary-border-hover: transparent !default;

$button-secondary-background-pressed: $color-secondary !default;
$button-secondary-border-pressed: transparent !default;

$button-secondary-text-color-disabled: #4a4a4a !default;
$button-secondary-background-disabled: #dadada !default;
$button-secondary-border-disabled: transparent !default;

$button-inverted-border-focus-box-shadow: $button-inverted-focus-box-shadow;

$text-button-color: $color-secondary !default;

$button-radio-background-color: transparent !default;
$button-radio-color: $color-primary !default;
$button-radio-border: solid 1px $color-grey !default;
$button-radio-color-hover: #fff !default;
$button-radio-color-selected: #fff !default;
$button-radio-background-color-hover: $color-primary !default;
$button-radio-border-color-hover: $color-primary !default;
$button-radio-background-color-selected: $color-primary !default;
$button-radio-border-color-selected: $color-primary !default;

// border
// border-color
// border-radius
// padding
// margin
// min-width
// max-width
// text-align
// text-decortation

button {
  padding: 0px 0px;
    
    &:focus {
    	border-radius: $button-link-focus-border-radius;
    }
}

.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    border: $button-border-size transparent;
    padding: 12px 30px;
    @include font-size(16px);
    line-height: 1.5;
    border-radius: $button-border-radius;
    cursor: pointer;
    min-width: 100px;
    margin: 0.5rem auto;

    @include breakpoint(500px) {
        display: inline-block;
        margin: 0 0.25rem 0.5rem 0;
        max-width: auto;
    }

    @include breakpoint(600px) {
        display: block;
        margin: 0 auto;
        max-width: 300px;
    }

    @include breakpoint(700px) {
        display: inline-block;
        padding: 16px 30px;
        @include font-size(18px);
    }

    &:focus {
        @include buttonFocus;
        border-radius: $button-border-radius;
    }

    &--ghost {
        background: $button-ghost-background;
        border: 2px solid $button-ghost-border;
        color: $button-ghost-text-color;
        font-weight: 600;

        &:hover,
        &.force-hover {
            background: $button-ghost-background-hover;
            color: $button-ghost-text-color-hover;
        }

        &.active,
        &.force-focus {
            background: $button-ghost-background-pressed;
            color: $button-ghost-text-color-pressed;
        }

        &.inactive {
            background: $button-ghost-background-disabled;
            color: $button-ghost-text-color-disabled;
        }
    }

    &--inverted {
        background-color: $button-inverted-background;
        color: $button-inverted-text-color;
        font-weight: 600;

        &:focus {
            @include focussurroundInverted;
        }

        &:hover,
        &.force-hover {
            background-color: $button-inverted-background-hover;
        }

        &.active,
        &.force-focus {
            background-color: #dadada;
        }

    &.inactive {
      background-color: #dadada;
      color: #4a4a4a;
    }
  }

  &--inverted-border {
        border: 1px solid #9b9b9b;
        border-radius: 4px;
        background-color: $button-inverted-background;
        color: $button-inverted-text-color;
        font-weight: 600;

        &:hover,
        &.force-hover {
            background-color: $button-inverted-background-hover;
        }

        &.active,
        &.force-focus {
            background-color: #dadada;
        }

        &.inactive {
            background-color: #dadada;
            color: #4a4a4a;
        }

        &:focus {
            box-shadow: $button-inverted-border-focus-box-shadow;
        }
    }

  &-wrapper {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    //padding: 20px; Can possibly be added back in when buttons are tidier
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 400px) {
      flex-direction: row;
      text-align: left;

      .button:not(.button--primary):nth-child(1) {
        margin-right: auto;
      }

      &--left {
        justify-content: flex-start;
      }

      &--center {
        justify-content: center;
      }
    }
  }

    &--block {
        display: block;
        margin-bottom: 10px;
    }
}

.button-container {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 15px;
  @include clearfix;
  .form-row__options-button {
    &:first-of-type {
      margin-right: 20px;
    }
    &:last-of-type {
      margin-right: 0px;
    }
  }
}

.button--primary {
  color: $button-primary-text-color;
  background: $button-primary-background;
  box-shadow: $button-primary-box-shadow;
  border-color: $button-primary-border;

  &:hover {
      color: $button-primary-text-color;
      background: $button-primary-background-hover;
      border-color: $button-primary-border-hover;
  }

  &:active {
      color: $button-primary-text-color;
      background: $button-primary-background-pressed;
      border-color: $button-primary-border-pressed;
  }

  &:disabled {
      pointer-events: none;
      color: $button-primary-text-color-disabled;
      background: $button-primary-background-disabled;
      border-color: $button-primary-border-disabled;
  }
}

.button--secondary,
.button--hollow {
  color: $button-secondary-text-color;
  background: $button-secondary-background;
  box-shadow: $button-secondary-box-shadow;
  border-color: $button-secondary-border;

  &:hover {
      color: $button-primary-text-color;
      background: $button-secondary-background-hover;
      border-color: $button-secondary-border-hover;
  }

  &:active {
      color: $button-primary-text-color;
      background: $button-secondary-background-pressed;
      border-color: $button-secondary-border-pressed;
  }

  &:disabled {
      pointer-events: none;
      color: $button-secondary-text-color-disabled;
      background: $button-secondary-background-disabled;
      border-color: $button-secondary-border-disabled;
  }
}

.button--disabled {
  color: $button-primary-text-color-disabled;
  background: $button-primary-background-disabled;
  border-color: $button-primary-border-disabled;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 1;
}

.button--back {
  width: 100%;
  color: $color-secondary;

  @include breakpoint(400px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @include breakpoint(700px) {
    max-width: 100px;
  }
}

.button--text {
  color: $text-button-color;
  font-weight: bold;
  text-decoration: underline;
  @include font-size(18px);
  border-radius: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: auto;
  display: inline-block;
  text-align: center;

  @include breakpoint(700px) {
    text-align: left;
  }

  &:focus {
        border-radius: $button-link-focus-border-radius;
  }
  &:hover {
    text-decoration: none;
  }
}

.button--radio {
    color: $button-radio-color;
    background-color: $button-radio-background-color;
    border: $button-radio-border;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    min-width: 70px;
    padding: 15px 5px;
    margin: 10px 5px;
    @include font-size(16px);

    &:hover {
        color: $button-radio-color-hover;
        background-color: $button-radio-background-color-hover;
        border-color: $button-radio-border-color-hover;
    }

    &:focus {
        @include focussurround;
        border-radius: $button-link-focus-border-radius;
    }

    &.selected {
        color: $button-radio-color-selected;
        background-color: $button-radio-background-color-selected;
        border-color: $button-radio-border-color-selected;
    }
}

// SIZES
.button--dynamic {
    max-width: none;
    font-weight: 600;
    padding: 12px 30px;
    margin-bottom: 15px;
    @include font-size(16px);

    @include breakpoint(700px) {
        padding: 16px 30px;
        @include font-size(18px);
    }

    @include breakpoint(600px) {
        padding: 12px 15px;
    }
}

.button--large,
.button--lg {
  font-weight: 600;
  min-width: 300px;
  padding: 12px 30px;
  @include font-size($button-large-font-size-mobile);

  @include breakpoint(700px) {
    padding: 16px 30px;
    @include font-size($button-large-font-size-desktop);
  }

  @include breakpoint(600px) {
    padding: $button-large-padding-desktop;
  }
  & span {
    font-weight: 300;
  }
}

.button--sm {
  width: auto;
  padding: 10px 20px;
  @include font-size(13px);
}

.button--xs {
  width: auto;
  padding: 4px 20px;
  font-weight: 400;
  @include font-size(12px);
}

// ALIGNMENTS
.button--left {
  @include breakpoint(700px) {
    float: left;
  }
}

.button--right {
  @include breakpoint(700px) {
    float: right;
  }
}

.button--center {
  margin: auto;
  text-align: center;
}

.button--inline {
  margin: 0 0 15px 0;
  width: 100%;
  max-width: 320px;

  @include breakpoint(500px) {
    max-width: 200px;
  }
}

.button--middle {
  background-color: transparent;
  border-color: $button-primary-background;
  color: $button-primary-background;
  @include breakpoint(700px) {
    min-width: 250px;
  }
}

.button__sub-text {
  margin-top: 15px;
  font-weight: 300;
}

.button--today {
  width: 48%;
}

.button--tomorrow {
  width: 48%;
}

.selection-pills {
  padding: 10px;
  &__pill {
    display: inline-block;
    width: auto;
    max-width: 1000px;
    padding: 25px;
    margin: 10px;
    border-radius: 50px;
    @include font-size(18px);
    &.selected {
      background-color: $color-primary;
      color: #fff;
      border-color: transparent;
    }
  }
}

.choice-pills {
  padding: 10px;
  text-align: left;
  &__pill {
    display: inline-block;
    width: auto;
    max-width: 1000px;
    padding: 15px;
    margin: 10px;
    &.selected {
      background-color: $color-primary;
      color: #fff;
      border-color: transparent;
    }
  }
}

.button-text-section {
  text-align: left;
  margin: 20px auto;
  display: inline-block;
  text-align: center;
  @include breakpoint(700px) {
    float: left;
    padding-top: 25px;
    text-align: left;
    margin: 0;
    display: block;
  }

  @include breakpoint(300px) {
    padding-top: 25px;
  }

  &--center {
    margin: auto;
    text-align: center;
    float: none;
  }
}

.button-message {
  @include clearfix;

  &__block {
    width: 100%;
    max-width: 335px;
    padding: 20px 10px 20px 25px;
    background-color: $color-primary--lighter;
    border-left: 5px solid $color-primary;
    text-align: left;
    padding-left: 20px;
    margin: auto;
    margin-bottom: 10px;
    @include breakpoint(700px) {
      float: right;
    }
  }

  &__text {
    color: $color-primary;
    @include font-size(13px);
    margin: 0;
    line-height: 1.5;

    &--sub {
      font-weight: 300;
      display: block;
    }

    &--main {
      display: block;
    }
  }
}
button.disabled {
  color: #d8dadb;
  background-color: transparent;
  border-color: #d8dadb;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 1;
}

.cover-range.error {
  .cover-range__button {
    background-color: #ffffff;
    border-color: #ed1921;
    color: #ed1921;
  }
  p {
    color: #ed1921;
  }
  .form-row__validation-text {
    display: block;
  }
}

.button.button--disabled {
  background-color: #d8dadb;
}

.button.button--large.button--price {
  border-color: $color-primary;
  color: $color-primary;
  background-color: #fff;
  &:hover {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.button.button--large.button--price.selected {
  color: $color-white;
  background-color: $color-primary;
  border-color: $color-primary;
  background-size: 30px 30px;
  background-position: 14% center;
  background-image: url(../images/icon-tick--white.svg);
  background-repeat: no-repeat;
}

.button--price {
  border-color: $color-primary;
  color: $color-primary;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &.selected {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
    background-size: 30px 30px;
    background-position: 14% center;
    background-image: url(../images/icon-tick--white.svg);
    background-repeat: no-repeat;
  }
}
