.list--policy-details {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include breakpoint($screen-md) {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 910px;
  }
}

.policy-detail {
  display: block;
  margin: 5px;
  color: $policy-detail-color;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  padding: 20px 10px;
  border-bottom: 1px solid $policy-detail-border;

  @include breakpoint($screen-md) {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    flex-basis: calc((100% / 3) - 10px);
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;

    & + .policy-detail {
      border: none;
      border-left: 1px solid rgba(74, 74, 74, 0.1);
    }
  }

    button {
        border-radius: $policy-detail-button-radius;
        display: block;
        margin: 20px auto 0;
        font-weight: $policy-detail-button-weight;

        @include breakpoint($screen-md) {
            margin: auto 0 0 0;
        }

        &:focus {
            border-radius: $policy-detail-button-radius;
        }
    }

  .policy-detail__heading {
    font-weight: $policy-detail-heading-font-weight;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .policy-detail__image {
    margin: -4px 0 0;
    height: 24px;
    width: 24px;

    @include breakpoint($screen-md) {
      margin: 0 0 20px 0;
      height: 32px;
      width: 32px;
    }
  }
}
