$page-heading__heading-color: $color-primary !default;
/* Page Header */
.page-heading {
    margin:30px 0;

    &__heading {
        color: $page-heading__heading-color;
        font-weight: 600;
        @include font-size(40px);
        line-height: 1.2;
        margin-bottom: $headings-margin-bottom; //20px
   
        @include font-size(26px);

        @include breakpoint(700px) {
            @include font-size(40px);
        }
    }

    &__heading-main-text {
        display:block;
    }
    &__heading-sub-text {
        display:block;
        font-weight: normal;
    }
    &__text {
        line-height: 1.9;
        &--main {
            display:block;
            color:$color-primary;
            @include font-size(40px);
            line-height: 1.4;
        }

        &--sub {
            display:block;
            color:$color-primary;
            @include font-size(20px);
            line-height: 1.4;
        }
    }
    &__image {
        width:150px;
    }
    // &.narrow {
    //     max-width:700px;
    // }
}

/* Page Message */
$page-message__heading-color:                       $color-primary !default;
$page-message__divider-background-color:            $color-primary !default;
.page-message {
    text-align: center;

    &--white {
        .page-message__heading {
            color: #fff;
        }

        .page-message__text {
            color: #fff;
            font-weight: 300;
        }

        .page-message__divider {
            background-color: #fff;
        }
    }

    &__heading {
        color: $page-message__heading-color;
        margin: 5px 0 16px 0;
        @include font-size(26px);

        @include breakpoint(600px) {
            margin: 5px 0 24px 0;
            @include font-size(40px);
        }        
    }

    &__text {
        margin: 10px 0 45px 0;
        @include font-size(20px);
        line-height: 1.4;
    }

    &__image {
        height: 80px;
        width: 80px;
        margin-bottom: 15px;

        @include breakpoint(600px) {
            height: 120px;
            width: 120px;
        }
    }

    &__divider {
        max-width: 170px;
        height: 1px;
        background-color: $page-message__divider-background-color;
        margin: 30px auto;
    }

    &__security-image {
        margin: 30px 0;
    }

    &__sub-text {
        margin-top: 30px;
        color: $color-font--light;
    }
}

/* Centered Header */
$centered-main-heading__heading-color:              $color-primary !default;
$centered-main-heading__divider-background-color:   $color-primary !default;
.centered-main-heading {
    text-align: center;
    @include breakpoint(500px) {
        margin-top: 70px;
    }

    &__image {
        width: 100px;
        margin: auto;
    }

    &__heading {
        margin: 0;
        color: $centered-main-heading__heading-color;
        @include font-size(24px);
        line-height: 1.3;
        margin-bottom: 10px;

        @include breakpoint(750px) {
            @include font-size(45px);
            line-height: 1.2;
            margin-bottom: 0;
        }
    }

    &__heading-text {
        &--standard {
            font-weight: 300;
        }
    }

    &__text {
        @include font-size(16px);
        line-height: 1.4;

        @include breakpoint(750px) {
            margin: 10px 0 40px 0;
        }
    }

    &__divider {
        max-width: 270px;
        height: 1px;
        background-color: $centered-main-heading__divider-background-color;
        margin: 40px auto 10px auto;
    }
}

/* Feature Header */
$feature-header__heading-color:                     $color-primary !default;
$feature-header__divider-background-color:          $color-primary !default;

.feature-header {
    margin: 30px 0;

    &__container {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__step-counter {
        color: $color-primary;
        margin-top: 7px;
        @include font-size(16px);

        @include breakpoint(700px) {
            @include font-size(20px);
            margin-top: 15px;
        }
    }

    &__heading {
        color: $feature-header__heading-color;
        margin: 0 0 20px 0;
    }

    &__heading-standard-text {
        font-weight: 300;

        &.block {
            display: block;
            margin-bottom: 5px;
        }
    }

    &__sub-heading {
        @include font-size(21px);
        font-weight: 300;
        line-height: 34px;
        color: $color-primary;

        @include breakpoint(500px) {
            @include font-size(24px);
        }
    }

    &__divider {
        width: 100%;
        max-width: 170px;
        border-bottom: solid 2px $feature-header__divider-background-color;
        margin: 30px 0;
    }

    &__text {
        line-height: 1.9;
        font-weight: 300;
        @include font-size(16px);

        &--addon {
            font-weight: 600;
        }
    }

    &__image {
        max-width: 80px;
        max-height: 80px;
        margin-bottom: 1.5rem;

        @include breakpoint(700px) {
            max-height: 120px;
        }
    }

    &__price {
        @include font-size(30px);
        color: $color-primary;
    }

    &__standard-price-text {
        font-weight: 300;
    }

    &__interest {
        color: $color-primary;
        font-weight: 600;
        @include font-size(12px);
        display: block;
        padding-top: 10px;
    }
}

// Generic Section Headers
.section-header {
  color: $section-heading-color;
  font-size: 24px;
  font-weight: $section-heading-weight;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 33px;
  margin-bottom: 40px;

  @include breakpoint($screen-md) {
    font-size: 30px;
    line-height: 42px;
  }
}
