$accordion__heading-button-color:               $color-primary !default;

// accordion__heading-padding: !default;
// accordion__heading-background-color: !default;
// accordion__heading-color: !default;
// accordion__heading-font-size: !default;
// accordion__heading-font-weight: !default;


.accordion {
    margin:20px 0;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}
.accordion__section {
    &:last-child {
        border-bottom: solid 1px #ccc;
    }
}
.accordion__heading-wrapper {
    margin:0;
    position: relative;
}
.accordion__heading-button {
    all: inherit;
    background: none;
    border: 0;
    color: $accordion__heading-button-color;
    font: inherit;
    line-height: normal;
    overflow: visible;
    appearance: button;
    user-select: none;
    width: 100%;
    cursor: pointer;
    border-top: solid 1px #ccc;
    padding: 40px 50px 40px 20px;
    text-align: left;
    @include font-size(18px);
    margin-bottom: 3px;

    &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 80%;
        box-sizing: border-box;
        background-image: url('../images/icon-arrow-down.svg');
        background-repeat: no-repeat;
        background-position: center;
        top: 10%;
        right: 20px;
        transition: transform 0.1s ease-in-out;
    }

    &[aria-expanded="true"] {
        background-color: #f9f9f9;

        &:after {
            transform: rotate(180deg);
        }
    }

    &:focus {
        border-radius: 4px;
    }
}
.accordion__body-wrapper {
    padding:10px 0 20px 0;
}
.accordion__body-content {
    padding:20px 10px;
    @include breakpoint(500px) {
        padding:20px;
    }
}

.accordion__body-heading {
    color: $color-font;
}

.accordion .accordion__ma-bullets {
    padding-left: 40px;
    list-style-type: disc;
    margin-bottom: 1rem;

    li {
        border-bottom: none;
    }

}

// .accordion__text {
//     // line-height:1.9;
//     // padding-bottom:20px;
// }
// .accordion__body-heading {
//     // @include font-size(18px);
//     // margin:20px 0 10px 0;
// }
// .accordion__body-text {
//     // @include font-size(16px);
//     // line-height: 1.6;
// }
// .accordion__item {
//     // line-height: 1.6;
// }
