﻿.change-summary {

    &--confirmation {
        border-bottom: solid 1px $color-primary;
        margin-bottom: 40px;
    }

    &__block {
        display: table;
        width: 100%;
        border-bottom: solid 1px $color-grey--light;
        padding: 30px 0;

        &:last-child {
            border: none;
        }
    }

    &__label-section {
        display: table-cell;
        vertical-align: middle;
    }

    &__link-section {
        display: table-cell;
        width: 100px;
        vertical-align: middle;
        text-align: right;
    }

    &__tick-section {
        display: table-cell;
        width: 100px;
        vertical-align: top;
        text-align: right;
    }

    &__label {
        color: $color-primary;
        font-weight: bold;
        @include font-size(18px);
    }

    &__data {
        font-weight: 300;
        @include font-size(20px);
        margin-bottom: 12px;
    }

    &__sub-text {
        color: $color-font--light;
        font-weight: 300;
        @include font-size(13px);
        margin: 0;
    }

    &__tick-image {
        height: 30px;
        width: 30px;
        vertical-align: top;
    }
}
