.keycare-diagram {

    text-align:center;
    padding: 20px 0 40px 0;

    @include breakpoint(1000px) {
        display:table;
        width:100%;
    }
}

.keycare-diagram__current-section {
    padding-bottom: 20px;
    max-width:350px;
    margin:auto;

    @include breakpoint(800px) {
        border-bottom:none;
    }
    @include breakpoint(1000px) {
        display:table-cell;
        width:200px;
        padding-right:15px;
    }
}

.keycare-diagram__current-title {
    white-space: nowrap;
    font-weight: 300;
    @include font-size(24px);
    color:$color-font;
    margin-bottom:20px;
}

.keycare-diagram__item-wrapper {
    display: block;
    font-size: 0;
    @include breakpoint(800px) {
        display:flex;
        align-items: center;
        justify-content: center;
    }
}

.keycare-diagram__cover-item {
    display: inline-block;
    padding: 0;
    width: 33%;
    max-width: 33%;
    margin: auto;
    vertical-align: $keycare-cover-item-vertical-align-mobile;
    @include font-size(16px);

    @include breakpoint(800px) {
        padding: 0;
        width: 20%;
        vertical-align: $keycare-cover-item-vertical-align-desktop;
        max-width: 100%;
    }

    &--current {
        @include breakpoint(800px) {
            width: 90%;
            margin: auto;
        }
    }
}

.keycare-diagram__cover-bar {
    height: 20px;
    width:100%;

    &--current {
        border:solid 2px $color-grey--light;
        border-bottom:transparent;
    }

    &--added {
        border:solid 2px $color-primary;
        border-bottom:transparent;
    }
}

.keycare-diagram__image-wrapper {
    margin-bottom:15px;

    &--current {
        border-bottom: solid 2px $color-grey;
        box-shadow: 0px 10px 6px -2px rgba(218, 218, 218, 0.27058823529411763);
    }

    &--added {
        border-bottom: solid 2px $color-primary;
        box-shadow: 0px 10px 6px -2px rgba(218, 218, 218, 0.27058823529411763);
    }
}

.keycare-diagram__image {
    height: 60px;
    width: 60px;
    position: relative;
    top: $keycare-image-top-mobile;
    z-index: 20;

    @media (min-width: $screen-xl) {
        top: $keycare-image-top-desktop;
    }

    &--added {
        top: $keycare-image-top--added-mobile;

        @media (min-width: $screen-xl) {
            top: $keycare-image-top--added-desktop;
        }
    }

    &--bike, &--other-keys {
        top: $keycare-image-top--other-mobile;

        @media (min-width: $screen-xl) {
            top: $keycare-image-top--other-desktop;
        }
    }
}

.keycare-diagram__cover-text {
    @include font-size(16px);
    font-weight: 300;

    @include breakpoint(800px) {
        @include font-size(18px);
    }

    &--added {
        color:$color-primary;
    }
}

.keycare-diagram__added-section {
    padding: 40px 0 20px 0;
    max-width:450px;
    margin:auto;

    @include breakpoint(800px) {
        max-width:90000px;
    }

    @include breakpoint(1000px) {
        display:table-cell;
        padding-left:15px;
    }
}

.keycare-diagram__added-title {
    font-weight: bold;
    @include font-size(24px);
    color:$color-primary;
    margin-bottom:20px;
}

//edit existing keycare diagram for card view on Single Page Add-Ons
.singlepage-addon {
    & .keycare-diagram {

        @media (min-width: 800px) {
            display: block;
            width: 100%;

            &__item-wrapper {
                @media (min-width: $screen-xl) {
                    flex-wrap: wrap;
                }
            }

            &__cover-item {
                @media (min-width: $screen-xl) {
                    width: 33%;
                    margin: 0;
                }
            }


            &__current-section {
                @media (min-width: $screen-xl) {
                    display: block;
                }
            }

            &__added-section {
                @media (min-width: $screen-xl) {
                    display: block;
                }
            }
        }

        @media (min-width: $screen-xl) {
            display: flex;

            &__current {
                &-section {
                    width: 17%;
                    flex: 0 0 auto;
                    padding-top: 3px;
                }

                &-title {
                    font-size: 13px;
                }
            }

            &__image {
                height: 35px;
                width: 35px;
            }

            &__cover {
                &-item {
                    width: 20%;

                    &--current {
                        width: 91%;
                    }
                }

                &-text {
                    font-size: 13px;
                }
            }

            &__added {
                &-section {
                    padding: 0 0 20px 0;
                    flex: 1 1 auto;
                }

                &-title {
                    font-size: 16px;
                }
            }

            &__item {
                &-wrapper {
                    display: block;
                }
            }
        }
    }
}