@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums

@{
    ViewBag.Title = "Cover Excesses";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderCoverExcess(new ComponentCoverDetailsConfiguration
        {
            Id = "CoverExcess",
            DataStoreKey = "CoverDetailsExcesses",
            JourneyType =  JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("CoverStartDate", "YourCover"),
            PreviousStepUrl = Url.Action("CoverLevel", "YourCover"),
            BackButtonUrl = Url.Action("CoverLevel", "YourCover"),
            ExcessConfiguration = new ExcessConfiguration
            {
                VoluntaryExcessAvailableAmounts = new List<int> { 0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500 }
            },
            TenantConfiguration = tenantConfiguration
        })
    </div>
</div>


