@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums
@using BGL.Components.CoverDetails.ViewOptions

@{
    ViewBag.Title = "No Claims Discount Source";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">
        @Html.ComponentRenderCoverDetailsNcdSource(new ComponentCoverDetailsConfiguration
        {
            Id = "NcdSource",
            DataStoreKey = "NcdSource",
            JourneyType = JourneyTypes.MultiStepEdit,
            NextStepUrl = Url.Action("OtherVehicles", "YourCover"),
            PreviousStepUrl = Url.Action("NcdYears", "YourCover"),
            TenantConfiguration = tenantConfiguration,
            ViewOptions = new ViewOptionsConfiguration
            {
                NcdSourceCompanyCar = NcdSource.CompanyCarExperiencedDriver
            }
        })
    </div>
</div>


