@using BGL.Common.Configuration.Interfaces
@using BGL.Components.CoverDetails
@using BGL.Components.CoverDetails.Enums
@using BGL.Common.Utility.Extensions

@{
    ViewBag.Title = "Other Vehicles";
    Layout = "~/Views/Shared/_LayoutDirectToSite.cshtml";
    var product = Request.GetOwinContext()?.Authentication?.User?.Product();
    var isVan = product.Equals("Van", StringComparison.OrdinalIgnoreCase);
    var tenantConfiguration = DependencyResolver.Current.GetService<IConfig>().GetTenantConfiguration();
}

<div class="page-section">
    <div class="page-section--inner narrow">

        @if (isVan)
        {
            @Html.ComponentRenderCoverDetailsOtherVehicles(new ComponentCoverDetailsConfiguration
            {
                Id = "OtherVehicles",
                DataStoreKey = "OtherVehicles",
                JourneyType = JourneyTypes.MultiStepEdit,
                PreviousStepUrl = Url.Action("NcdSource", "YourCover"),
                BackButtonUrl = Url.Action("NcdYears", "YourCover"),
                NextStepUrl = Url.Action("PaymentsRegularity", "OtherDetails"),
                TenantConfiguration = tenantConfiguration
            })
        }
        else
        {
            @Html.ComponentRenderCoverDetailsOtherVehiclesWithoutNcd(new ComponentCoverDetailsConfiguration
            {
                Id = "OtherVehicles",
                DataStoreKey = "OtherVehicles",
                JourneyType = JourneyTypes.MultiStepEdit,
                PreviousStepUrl = Url.Action("NcdSource", "YourCover"),
                BackButtonUrl = Url.Action("NcdYears", "YourCover"),
                NextStepUrl = Url.Action("PaymentsRegularity", "OtherDetails"),
                TenantConfiguration = tenantConfiguration,
                IsNcdQuestionRemoved = true
            })
        }

    </div>
</div>