section {
  padding-top: $vs-section-padding;
  padding-bottom: $vs-section-padding;
  width: 100%;

  @media screen and (max-width: 767px) {
    padding-top: $vs-section-padding-mobile;
    padding-bottom: $vs-section-padding-mobile;
  }
}
